[2021-03-19 19:22] connor4312 commented on #1249
Just commenting here since I happened to see the "like" on the comment. The YouTube comment is not correct. Hashing is pseudonymization, which is not anonymization and still causes the data to be considered PII.

Source: https://ec.europa.eu/justice/article-29/documentation/opinion-recommendation/files/2014/wp216_en.pdf

However, _specifically for banned users_, retention may be allowed under [Art

[2021-03-19 19:24] danBamikiya commented on #1277
OK that's nice. About scaling infrastructure have you considered Terraform? I can help with that! We could set up Terraform as Infrastructure and use Ansible for better configuration! 🏗️

[2021-03-19 19:26] Devnol commented on #1285
Oh hey Will! Also yeah, same issue here, I would expect it to open the 2fa session on the Electron app itself but it just opens it with the default browser (Firefox) which doesn't have the session info required to actually login so it give a 404.

[2021-03-19 19:28] Deep-Codes commented on #1286
I think icon size of same size as `VsCode` would be perfect

Since `Discord` and `Msteam` has pretty small compared to others.

<img width="263" alt="Screenshot 2021-03-20 at 1 03 02 AM" src="https://user-images.githubusercontent.com/61158210/111833343-0de0f880-8918-11eb-88a4-c4302b0a04a1.png">

Opening a PR soon

[2021-03-19 19:28] Cyber3x commented on #1203
But the translation requests will soon stop when all translations are done.

[2021-03-19 19:34] Devnol commented on #1285
Confirmed same exact issue in Windows.

[2021-03-19 19:43] danBamikiya commented on #1286
nah the former one was better, makes it stand out. If you notice dogehouse icon looks smaller next to vscode and postman because of their geometries.

[2021-03-19 19:52] vi241 commented on #1286
great

[2021-03-19 19:52] vi241 commented on #1286
@danBamikiya its very annoying and disturbing

[2021-03-19 19:52] sahilmob opened #1302 "Display name is null"
**Describe the bug**
Backend returns null as displayName for some users in the room card.

**To Reproduce**
Steps to reproduce the behavior:
I'm not sure how to reproduce this issue as the client side validation doesn't allow empty displayName.

**Expected behavior**
Correct displayName has to be stored and returned by the backend

**Screenshots**
![null](https://user-images.githubusercontent.com/

[2021-03-19 19:56] drvladb commented on #1302
I think that's someone changing their name to "null" (as it is expressed as a string).

[2021-03-19 20:07] danBamikiya commented on #1286
@ofsho ok.

[2021-03-19 20:10] MasterBrian99 opened #1305 "Adding sinhala translations"
i'm adding [Sinhala]( https://en.wikipedia.org/wiki/Sinhala_language) language to dogehouse. i have previous experiences with translations (https://github.com/zenika-open-source/promote-open-source-project)[https://github.com/zenika-open-source/promote-open-source-project] .

[2021-03-19 20:28] jamesql commented on #1305
sounds good, just make a pull request adding the translation file to /kofta/public/locales/<language_code>/translation.json and edit the /kofta/src/app/components/LanguageSelector.tsx. Let me know if you need any help. haizers#3946 or comment here!

[2021-03-19 20:34] jamesql commented on #1245
this happens due to the fact chat is not stored anywhere, this possibly could be added in the future but right now they are not.

[2021-03-19 20:36] jamesql commented on #1302
I do know a few users who set their names to null. Are you sure they were not named null?

[2021-03-19 20:36] SuperSonicHub1 commented on #233
@naefun This issue has been resolved with #926. If you're satisfied, consider closing this issue.

[2021-03-19 20:41] sahilmob commented on #1302
I'm not sure if this is the case.

We can close this issue if you guys think that someone's name is null and it is not an issue.

[2021-03-19 20:43] jamesql commented on #1302
Would the backend return null or nil?

[2021-03-19 20:44] jamesql commented on #1302
I think the easiest way would have Ben get the username of that id and see.

[2021-03-19 20:45] sahilmob commented on #1302
@jamesql I think so.

[2021-03-19 20:46] jamesql commented on #1302
@benawad

[2021-03-19 20:51] ViliamVadocz opened #1306 "Custom mute sound"
**Is your feature request related to a problem? Please describe.**
I *hate* the current mute sound.

**Describe the solution you'd like**
I would like to be able to point whatever plays the sound to a local file so I can play that mute sound instead.

**Describe alternatives you've considered**
You could have multiple different types of mute sounds to choose from, or just pick one that is less gra

[2021-03-19 20:53] #233 closed

[2021-03-19 21:11] #1273 closed, assigned to nobody

[2021-03-19 21:13] nadirabbas commented on #1069
IDTS

[2021-03-19 22:25] gabrielcastelan opened #1314 "make it so to show the profile you just have to hover over the person's name"
**Potential fix for the "impersonating other people" problem without getting rid of display names altogether**

Make it so to show a user's profile, the user just needs to hover over the person's name or profile picture, instead of having to actually click. It could be triggered after 1 ~ 1,5 seconds hovering over their name/pfp to avoid unwanted behaviour by the user.

Maybe instead of showing th

[2021-03-19 22:43] jamesql commented on #1306
hmmmm, i feel like this prob would be baklava and pilaf only and would only be local because anything else would require storing the files on a server no?

custom sounds and other custom elements would fit in on baklava so I would try to implement it there

[2021-03-19 23:09] ViliamVadocz commented on #1306
Yes, it would be local only.

I think the modifications I need to do are as follows:
- Add a new interactable in settings to set the custom sound path
- Make the mute method try the custom file first
- Save the custom path to local cache
- Maybe show an alert if there is an error playing the sound file (maybe if it no longer exists)

I don't have a good grasp of the dogehouse infrastructure. If so

[2021-03-19 23:26] f1shy-dev commented on #1306
I was taking a look, maybe something with the File api to save the file unless there is some react method for this

I could work on the gui for this tomorrow, in my option the whole settings page needs a redo of some sort.

[2021-03-19 23:34] amitojsingh366 opened #1323 "Unable to npm run i18"
**Describe the bug**
I tried adding new keys to translations and ran `npm run i18` and it failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new key in `public/locales/en/translations.json`
2. Run `npm run i18`

**Expected behavior**
The translations should be synced

**Screenshots**
![image](https://user-images.githubusercontent.com/35400192/111851484-61594380-8924-11eb-8729-de0e

[2021-03-19 23:34] ajmnz opened #1324 "Atomic Components Implementation v3 (Mobile)"
<h1>Atomic Components v3 (Mobile)</h1>

### New components

To be implemented under `kibbeh/src/ui/mobile`.

- [x] MobileHeader - https://www.figma.com/file/CS01VVLR7ArQl0afYFkNj3/Web-App?node-id=4300%3A2250
    - Requires modified UserAvatar > SingleUser ✅
- [x] FeaturedRoomCardAvatars - https://www.figma.com/file/CS01VVLR7ArQl0afYFkNj3/Web-App?node-id=4300%3A2338
    - Requires none  ✅
- [x] Fea

[2021-03-19 23:41] MasterBrian99 commented on #1305
thank you sir.i managed to add translations. #1321

[2021-03-19 23:43] goldyydev commented on #1324
Will do `UserAvatar > SingleUser`

[2021-03-20 01:53] elinarbur opened #1330 "Add twemoji for better emoji rendering across platforms / just for the flags that won't render on windows."
**Is your feature request related to a problem? Please describe.**
When on windows the emojis for flags on the language selector won't render, using twitter's twemoji library would fix this issue. Of course, flag emojis could just be removed but that also removes the accessibility benefits that they can bring to people with something like dyslexia.

**Describe the solution you'd like**
Using an em

[2021-03-20 01:54] elinarbur commented on #1330
This might not be the most important thing in the world but it's a pretty big nice to have.

[2021-03-20 01:59] jamesql commented on #174
I'll give this a look tomorrow.

[2021-03-20 02:00] ermalsh commented on #1323
Check for a stray or missing comma in one of the Translation.json files.

[2021-03-20 02:43] #1323 closed, assigned to nobody

[2021-03-20 03:12] benawad commented on #1306
we should just use a better default

[2021-03-20 03:15] HasanMdArik commented on #915
I think the problem is not related to webrtc or coding instead with the hosting provider's service area. I think the hosting provider of the socket's API doesn't approve the connection to Iran or any U.S. sanctioned region..

[2021-03-20 03:15] benawad commented on #1302
null string, but I will be switching this to usernames soon

[2021-03-20 03:17] benawad commented on #915
yeah now that you mention it, google cloud might block this

[2021-03-20 03:32] bansalarnav commented on #1324
I will work on `MobileNav`

[2021-03-20 03:38] PuckDan opened #1333 "Save sound effects and keybinds when logged in on a different device"
**Is your feature request related to a problem? Please describe.**
So when you log in on the same account but on a different device it doesn't save the sound effects and keybinds.

**Describe the solution you'd like**
I want dogehouse to save keybinds and sound effects when logged in on the same account but on a different device.

[2021-03-20 04:17] skworden commented on #1249
There are two other key parts (ligament interest & deletion of related data) that should make this ok with some documentation.

This process should be legitimate interests because it must process pseudonymization data to ban a user. Banning a user protects the site and other users. There is no other less intrusive way to accomplish this vital feature.  Most importantly, the site cascades the user'

[2021-03-20 05:12] banky commented on #1324
Grabbing `SettingsIcon`

[2021-03-20 05:13] aseemsavio opened #1337 "Localisation: Adding Tamil language translation keys."
Hello All, I'm adding the Tamil language translation keys to Kofta. Thanks.

[2021-03-20 05:19] yummyweb commented on #750
No sorry, since I could have done the frontend but a lot of other work has come up. I am currently fixing bugs for Baklav. I am very sorry for delaying the work.

[2021-03-20 05:24] yummyweb commented on #1324
I would work on `Tag`

[2021-03-20 05:27] yummyweb commented on #1229
@ajmnz Did you give accessibility permission?

[2021-03-20 06:03] vi241 opened #1341 "After reload pirate is shown as english"
**Describe the bug**
After I reloaded english is pirate until you change the language to anything else and back to english.

**To Reproduce**
Steps to reproduce the behavior:
1. Change the language to pirate
2. Reload

**Expected behavior**
English is pirate.

**Screenshots**
<img width="627" alt="Screen Shot 2021-03-20 at 8 02 29" src="https://user-images.githubusercontent.com/60016719/111860788-

[2021-03-20 06:07] Sam-Neale commented on #1341
Am able to reproduce this, whilst it switches the selector to English, it remains as pirate.

[2021-03-20 06:16] vi241 commented on #1341
Yes

[2021-03-20 06:23] vi241 commented on #1109
Ben, we have 193 emojis, should we add more?

[2021-03-20 06:42] tejasag commented on #1324
`MessageElement` is on me

[2021-03-20 06:44] banky commented on #1324
Grabbing `NotificationElement`

[2021-03-20 07:22] aseemsavio commented on #1337
I've added a new file: `kofta/public/locales/ta/translation.json` and edited the `kofta/src/app/components/LanguageSelector.tsx` file.

[2021-03-20 07:36] anirudh242 opened #1347 "Chat Bots and muting people from the chat"
Maybe at a later stage, we could add bots to the chat like Twitch and people could make their own bots? Muting people from the chat would also be good as some people might want some people to speak in the chat but dont want to ban them.

[2021-03-20 07:38] DS-Infinity commented on #1324
doing `BoxedIcon`

[2021-03-20 08:14] sam17896 commented on #153
The twitch do that when the chat is on slow mode, a user can send message after 5 seconds of his previous message. We can also make it so the admin the adjust the time, so the default time will be 5 second and admin can change to 10 or whatever

[2021-03-20 09:27] BronzW commented on #1347
https://github.com/dogegarden/dogehouse-js ?

[2021-03-20 09:35] BronzW commented on #1324
I will see if I can do ``FeaturedRoomCardAvatar`` and ``FeaturedRoomCardHosts`` when I'm finished with the other one

[2021-03-20 09:42] #1337 closed, assigned to nobody

[2021-03-20 10:04] amitojsingh366 commented on #1229
@yummyweb no they didn't so yea we will have to make a modal like they mentioned to wait for the user to allow. I can do that

[2021-03-20 10:32] bansalarnav commented on #1324
#1358 Completed MobileNav

[2021-03-20 11:27] wes337 commented on #1324
I am doing `UserAvatar > MultipleUsers` right now

[2021-03-20 11:47] HarrisonMayotte commented on #1203
I agree that a solution like that would make sense if this was going to be a longer issue, but since translations are getting closer to done as time goes on, there will only be minor patches and things of that nature, so with that said, I'll close the issue here.

[2021-03-20 11:47] #1203 closed, assigned to nobody

[2021-03-20 11:48] HarrisonMayotte commented on #1347
As BronzW posted, we do already have the clientside implementations available for people to create bots with.

[2021-03-20 11:48] #1347 closed, assigned to nobody

[2021-03-20 11:51] vi241 commented on #1341
"enlish"

[2021-03-20 12:00] #1039 closed, assigned to nobody

[2021-03-20 12:02] #1302 closed, assigned to nobody

[2021-03-20 12:02] bansalarnav commented on #981
Keep track of bans using Email ID/Username/IP maybe instead of ID. This way even if a user deletes their account and makes a new one their Email ID/Username will remain the same and they will remain banned

[2021-03-20 12:19] f1shy-dev opened #1365 "Enable Wikis"
**Is your feature request related to a problem? Please describe.**
I think we should enable Wikis in this project, so we can make easy to follow guidelines for contributing/editing. For example, multiple people frequently ask how to add languages, so a Wiki page about that would make it simpler!

**Describe the solution you'd like**
@benawad needs to enable Wikis in this repo, and also make it so

[2021-03-20 12:21] HarrisonMayotte commented on #1365
I agree and disagree at the same time. I think there are benefits to both approaches and I think it would make more sense for now to have the .md files, but I'm not opposed to the Wiki either. I just think that the wiki has to be maintained by collaborators rather than just any contributor due to the way github works.

[2021-03-20 12:22] ajmnz commented on #1324
~~You'll have to wait for `BoxedIcon`~~, and also do both the modification and responsiveness.

[2021-03-20 12:35] rk3141 opened #1367 "On going back, we don't leave the room"
**Describe the bug**
When I am in a room and press the browser back button I dont leave the room, but it goes to the homepage, and then after reloading it leaves the room.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a room
2. Press the back button.
3. You're on the homepage and havent left the room

4. See error

**Expected behavior**
I expected to leave the room.

**Screen Recordin

[2021-03-20 12:36] ajmnz commented on #1367
That's intended behavior, you have the controls on the bottom to leave the room.

[2021-03-20 12:36] #1367 closed, assigned to nobody

[2021-03-20 12:40] aryan9600 opened #1368 "Logging out doesn't close the chat box."
**Describe the bug**
If you log out without actually _leaving_ the room, the chat box of the room doesn't go away

**To Reproduce**
Steps to reproduce the behavior:
1. Join a room.
2. Click on your profile picture to go to your profile
3. Logout
4. See the home page with the chatbox

**Expected behavior**
The chatbox shouldn't appear on the homepage.

**Screenshots**
![Screen Shot 2021-03-20 at 18

[2021-03-20 12:43] f1shy-dev commented on #1365
Yeah I guess, not really sure what to do, I guess we wait for Ben's view on this.

[2021-03-20 12:46] f1shy-dev commented on #1330
I'll try work on this.

[2021-03-20 13:08] #1286 closed, assigned to nobody

[2021-03-20 13:08] sahilmob commented on #1324
I'm doing AccountOverlay

[2021-03-20 13:09] wes337 commented on #1324
@ajmnz I'm looking at `SearchResult > RoomSearchResult` and `SearchResult > UserSearchResult`, but they both seem to have a fully responsive implementation. Is there something missing there that I'm not seeing?

[2021-03-20 13:09] vi241 commented on #1365
I think Ben needs to do this

[2021-03-20 13:18] ajmnz commented on #1324
All the icons are already available under `src/icons`. Some of them will need to be `20px` wide/tall (check on Figma), so you can pass `width={20} height={20}` as props to the icon component for it to scale to the desired size.

[2021-03-20 13:24] ajmnz commented on #1324
Seems like they do, I'll mark them as complete then.

[2021-03-20 13:44] #915 closed, assigned to nobody

[2021-03-20 13:48] ghost opened #1369 "Remove Outline When Buttons Clicked"
When buttons are clicked on the website the default blue outline appears , I find it quite annoying so could you remove , here is how you could do it:
``
button:focus{
outline:none;
}
``

[2021-03-20 13:57] goldyydev commented on #1324
Will do `RoomCardParticipants` once `MultipleUsers` is done

[2021-03-20 14:03] banky commented on #1324
Looks like NotificationElement is actually complete and already responsive. Pls update the document @ajmnz

[2021-03-20 14:16] AadityaMunjal commented on #1369
I'm working on it

[2021-03-20 14:16] HonbraDev opened #1371 "Add an API call to get a user's profile from ID and handle"
**Is your feature request related to a problem? Please describe.**
I'm making a bot, DodgyCoin, and I would like to have multiple bots or have people pay offline users. Right now I can't do that, because I can't get the user's ID from the handle provided In chat.

**Describe the solution you'd like**
New WebSocket calls:
- `get_user_from_id` `{ id: string }` - returns a user's profile including ha

[2021-03-20 14:19] HonbraDev commented on #1369
The outline is for users navigating with their keyboards. I would not remove it.

[2021-03-20 14:20] HonbraDev commented on #1365
Based on the conversation, I think we should have MarkDown files because anyone can contribute.

[2021-03-20 14:20] f1shy-dev commented on #1330
Native `<select>` doesn't support images, so either we make a popup with a custom dropdown or move this option to settings. I doubt a custom dropdown would be mobile friendly at the bottom of the screen.

[2021-03-20 14:22] HonbraDev commented on #1333
So, if I understand correctly, you want cloud sync for sound effect presets and keybinds. If that's what you mean, I think language sync would be helpful too.

[2021-03-20 14:26] HonbraDev commented on #1207
I own a bot. My current workaround is a queue that sends a message every second.

[2021-03-20 14:27] f1shy-dev commented on #1369
Possibly we add focus classes that could change button colours/custom rounded outline instead? Making it look better instead of removing it is a better solution in my opinion.

Also, DogeHouse uses TailwindCSS so we would do `button {@apply focus:outline-none}` to apply it to all buttons, or `<button className="focus:outline-none ..."` for a single button instead.

[2021-03-20 14:28] elinarbur commented on #1330
If it's too much of a hassle to do, that's obviously fair enough. Personally, I wouldn't sacrifice mobile-friendliness for a small improvement like this in my own projects.
I still think the consistency benefit would be nice though.

[2021-03-20 14:29] f1shy-dev commented on #1330
I was thinking to redo the settings area anyway, we could just do it in there.

[2021-03-20 14:30] AadityaMunjal commented on #1369
I did that

[2021-03-20 14:30] elinarbur commented on #1330
Yeah that would probably work perfectly

[2021-03-20 14:33] f1shy-dev commented on #1330
Imma do that then, would the Footer just show something like
![image](https://user-images.githubusercontent.com/56125930/111873636-36550b00-8989-11eb-995b-1068a6d6ae3e.png)
Where clicking on it takes you to settings?

[2021-03-20 14:34] elinarbur commented on #1330
Yeah looks good 👍

[2021-03-20 14:36] f1shy-dev commented on #1330
Should we move settings to the footer? It looks weird in the user profile area. (like a settings button)

[2021-03-20 14:38] elinarbur commented on #1330
To be fair it does look a bit awkward where it's at currently so that would definitely make it more accessible

[2021-03-20 14:39] pratikmane1299 commented on #1324
@ajmnz Do <code>FeaturedRoomCardAvatars</code> doesn't require modified <code>SingleUser</code> and <code>MultipleUsers</code> components ?

[2021-03-20 14:39] f1shy-dev commented on #1330
Yeah, then clicking on your profile would be a popup like when you click on a user in a room, and not a full screen page.

[2021-03-20 14:40] HonbraDev commented on #469
no.

[2021-03-20 14:44] elinarbur commented on #1330
Sounds good

[2021-03-20 14:49] PrinceRajRoy commented on #1324
I'm taking MobileHeader

[2021-03-20 15:00] wes337 commented on #1324
@PrinceRajRoy I am curious as to how. I was looking at it and it seemed like 2 or 3 different components. I'm not sure what the order of the screens shown in the mock up are.

[2021-03-20 15:11] PrinceRajRoy commented on #1324
@wes337 I'm assuming, the component can be provided with a mode prop for showing one of the 3 for the time being or implement them separately like Search.

[2021-03-20 15:50] isaxk opened #1376 "Windows Defender and Anitvirus thinks that electron app is a virus"
So I thought I would download Dogehouse for Windows using the .exe installer and Windows Defender _and_ my Antivirus thought it was a virus. I think this was due to the lack of a certificate or something else like that.

- Just thought I report that!

[2021-03-20 15:55] btarg opened #1377 "End-to-End encryption"
**Is your feature request related to a problem? Please describe.**
Most modern chat apps, for example the popular WhatsApp, use end-to-end encryption for security and privacy reasons.
DogeHouse doesn't currently implement any encryption for voice or text chat.

**Describe the solution you'd like**
There is an issue page here on the topic of end-to-end encryption: https://github.com/versatica/media

[2021-03-20 15:57] ajmnz commented on #1324
They are a separate component

[2021-03-20 16:07] benawad commented on #1369
https://www.a11yproject.com/posts/2013-01-25-never-remove-css-outlines/

[2021-03-20 16:14] ajhalili2006 commented on #575
@yummyweb So for now, do I need to use the deb file from the Releases tab and repackage into Snap for now?

[2021-03-20 16:17] f1shy-dev commented on #1341
I’m redoing the footer/settings, I’ll try fix this in the process too.

[2021-03-20 16:17] ghost opened #1379 "Add support for ability to filter rooms based on how long they have laster for, number of members etc"
Add support for ability to filter rooms based on how long they have laster for, number of members etc

[2021-03-20 16:21] TheOtterlord commented on #1376
Yeah, we don't yet have code signing for the windows installer. You should be able to install it by following the instructions for your anti-virus provider and windows defender.

[2021-03-20 16:27] #1240 closed, assigned to nobody

[2021-03-20 16:29] #131 closed

[2021-03-20 16:30] #5 closed

[2021-03-20 16:33] Nautman commented on #981
You bring up a good point @ArnavBansal11. Although, what if someone changes their email or username? What if someone registers with their username later on?

[2021-03-20 16:37] TheOtterlord commented on #981
I think it's more likely they change username/email than remake an account with a bigger provider (that they probably use).
I:P bans can be avoided with a VPN easily these days.
I think the provider ID makes the most sense. It takes longer to change it and it is less likely people will

[2021-03-20 16:40] Milo123459 opened #1381 "Use tauri rather then electron"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
No
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Use [Tauri](https://tauri.studio) rather then Electron.
**Describe alternatives you've considered**
A clear and concise description of any a

[2021-03-20 16:47] vi241 commented on #1341
ok

[2021-03-20 16:48] vi241 commented on #1341
thank you

[2021-03-20 16:48] mmattbtw commented on #1285
I can also reproduce this on Windows using the latest build too.

[2021-03-20 16:48] vi241 commented on #1365
@HonbraDev markdown is one word

[2021-03-20 16:50] mmattbtw commented on #1365
We could do a [GitBook](https://gitbook.com), which has GitHub integration and uses markdown, so you can sync your GitBook wiki to a GitHub repo, and people can contribute on GitHub, which will automatically upload to the GitBook wiki.

[2021-03-20 16:51] vi241 commented on #1365
I think wikis are good or just plain markdown

[2021-03-20 16:57] vi241 commented on #1381
[here](https://github.com/tauri-apps/tauri#comparison-between-tauri-and-electron) is a comparison between tauri and electron.

[2021-03-20 17:03] TheOtterlord commented on #1381
While this looks interesting, the app is already integrated with the electron APIs, and it will take some work to move over when most of the team for baklava don't know tauri. This isn't a big concern tbf, but worth noting.

Also, it seems like tauri is still in alpha, and should therefore not be used in production. It's worth keeping an eye on, but for now I think it's best to stick with electron

[2021-03-20 17:04] TheOtterlord commented on #1285
@amitojsingh366 could this be something to do with the allowed domains in the link handler?

[2021-03-20 17:07] vi241 commented on #1381
Yes but @Milo123459 you are welcome to make your own client with tauri if you want to.

[2021-03-20 17:08] Milo123459 commented on #1381
Yea I might.

[2021-03-20 17:47] jamesql commented on #1069
have it finished just testing now

[2021-03-20 18:09] amitojsingh366 commented on #1285
@TheOtterlord yes it has to be it. I had an similar issue but i whitelisted it.
@willdoescode could you go to the page again then open dev tools *(cmd+shift+i)* and type in `window.location.href` and post the output here please.

[2021-03-20 18:35] elad-weiss opened #1387 "flag emojis not working in firefox"
the flag emojis in the language selection menu don't work and instead only the country abbreviation shows up

[2021-03-20 18:37] rishitxyz commented on #1283
Check this [PR](https://github.com/benawad/dogehouse/pull/1378#issue-597313163).

[2021-03-20 18:42] goldyydev commented on #24
This issue has been fixed
![image](https://user-images.githubusercontent.com/55450464/111882168-bf396a00-89bc-11eb-9395-284d95a1076c.png)

[2021-03-20 18:42] #24 closed

[2021-03-20 18:44] goldyydev commented on #37
Has anyone experienced this ever since or was it just a one off?

[2021-03-20 18:47] nadirabbas commented on #981
lets do favicon fingerprinting to ban their devices lol

[2021-03-20 18:50] goldyydev commented on #44
As far as I can see, this has been fixed (with the HTML truncating the text to fit a user's screen instead of a fixed JS slice)
![image](https://user-images.githubusercontent.com/55450464/111882338-bac18100-89bd-11eb-97d2-7bb21e8e414f.png)

[2021-03-20 18:50] #44 closed

[2021-03-20 18:51] goldyydev commented on #56
Ben has fixed this (it was an interaction-needed issue), as mentioned in dogeLog[0].

[2021-03-20 18:51] #56 closed

[2021-03-20 18:51] goldyydev commented on #56
If you're still having an issue, make sure to re-open this

[2021-03-20 18:53] tejxv commented on #1387
that's how it works if you're on Windows

[2021-03-20 18:55] goldyydev commented on #68
We might want to add a prompt to tell the user that webRTC is not supported in their browser; can also help with these darn IE11 users.

[2021-03-20 18:55] TheOtterlord commented on #274
The binaries are available in [releases](https://github.com/benawad/dogehouse/releases). You can download the latest version [here](https://github.com/benawad/dogehouse/releases/latest).

[2021-03-20 18:55] #274 closed

[2021-03-20 18:58] goldyydev commented on #87
This has been already fixed.

[2021-03-20 18:58] #87 closed

[2021-03-20 18:58] goldyydev commented on #94
Duplicate of #58

[2021-03-20 18:58] #94 closed

[2021-03-20 19:03] TheOtterlord commented on #311
The port is complete and the binaries are available in [releases](https://github.com/benawad/dogehouse/releases). You can download the latest version [here](https://github.com/benawad/dogehouse/releases/latest).

[2021-03-20 19:03] #311 closed, assigned to nadirabbas, DGKSK8LIFE

[2021-03-20 19:03] DGKSK8LIFE commented on #311
Thanks @TheOtterlord

[2021-03-20 19:06] DGKSK8LIFE commented on #311
the github oauth (two factor auth) sign in isn't working for me on the latest electron version on windows 10 @TheOtterlord @benawad

[2021-03-20 19:07] TheOtterlord commented on #1002
Instructions are in [baklava/README.md](https://github.com/benawad/dogehouse/blob/staging/baklava/README.md), current builds are available in [releases](https://github.com/benawad/dogehouse/releases).

[2021-03-20 19:07] #1002 closed, assigned to nobody

[2021-03-20 19:08] goldyydev commented on #133
was this abandoned?

[2021-03-20 19:09] TheOtterlord commented on #172
Binaries are available in [releases](https://github.com/benawad/dogehouse/releases)

[2021-03-20 19:09] #172 closed

[2021-03-20 19:09] goldyydev commented on #134
Is this still like that? Does anyone have an iPhone to reproduce this with?

[2021-03-20 19:14] TheOtterlord commented on #134
Related? https://stackoverflow.com/questions/56080829/ios-pwa-getusermedia-not-work-in-standalone-mode

[2021-03-20 19:14] goldyydev commented on #279
This is being worked on in Kibbeh

[2021-03-20 19:17] goldyydev commented on #292
Currently being worked on in the frontend, but as far as I'm aware not on the backend.

![image](https://user-images.githubusercontent.com/55450464/111883052-923b8600-89c1-11eb-8fe0-793666b0c2b5.png)

[2021-03-20 19:20] TheOtterlord commented on #1381
I'll close this for now. If you do create you own client, feel free to add it [here](https://github.com/benawad/dogehouse/issues/988) (looking forward to it :smile:)

[2021-03-20 19:20] #1381 closed, assigned to nobody

[2021-03-20 19:22] TheOtterlord commented on #439
@benawad are you able to use the mic on the newest client? or is this still unresolved?

[2021-03-20 19:26] vi241 commented on #1381
@TheOtterlord cool, you are a collaborator now

[2021-03-20 19:26] goldyydev commented on #390
Being worked on in Kibbeh
![image](https://user-images.githubusercontent.com/55450464/111883286-ff9be680-89c2-11eb-9682-0ae7b91c94b2.png)

[2021-03-20 19:27] TheOtterlord commented on #1381
Yeah, helping out with issue triage along with goldyydev

[2021-03-20 19:28] vi241 commented on #1381
wait, did goldyy get it too?

[2021-03-20 19:28] goldyydev commented on #415
![image](https://user-images.githubusercontent.com/55450464/111883313-2fe38500-89c3-11eb-9f54-0ac3f84cd6f8.png)

[2021-03-20 19:29] goldyydev commented on #415
Actually, we could take this *much* further

[2021-03-20 19:30] TheOtterlord commented on #1381
yeah, see the `dogehouse` channel in the discord, it's not too far up

[2021-03-20 19:30] #433 closed, assigned to Gautam-Arora24

[2021-03-20 19:30] vi241 commented on #1381
you should have requested the collaborator role but eh

[2021-03-20 19:30] vi241 commented on #1381
you got it anyways

[2021-03-20 19:33] Devnol commented on #1285
The result of `window.location.href` is "https://github.com/sessions/two-factor" (oh and btw in macOS the devtools shortcut is cmd+opt+i)

[2021-03-20 19:33] goldyydev commented on #469
Whenever one of ya'll have an appointment booked to an optometrist, please implement this for the 1 person that needs this for accessibility reasons.

@ajmnz might wanna work on design for this (?)

[2021-03-20 19:33] ajmnz opened #1390 "Atomic Components Implementation v4 (Tablet)"
<h1>Atomic Components v4 (Tablet)</h1>

### Existing Components - Modifications

- [ ] [wip] UserAvatar > SingleUser - https://www.figma.com/file/CS01VVLR7ArQl0afYFkNj3/Web-App?node-id=4913%3A478
    - New size `md` (50px).
    - Requires UserAvatar > SingleUser ✅

------

**Don't add any margin around the components.**

Put your component in `kibbeh/src/ui` and create a story in `kibbeh/src/stori

[2021-03-20 19:39] ajmnz commented on #469
Finishing everything for the new design is top priority right now

[2021-03-20 19:39] ajmnz commented on #469
Didn't mean to close it lol

[2021-03-20 19:39] goldyydev commented on #503
Since #1207 is much more active, I'll be closing this issue.

[2021-03-20 19:39] #503 closed, assigned to nobody

[2021-03-20 19:41] vi241 commented on #469
lol

[2021-03-20 19:45] goldyydev commented on #614
Duplicate of #569

[2021-03-20 19:45] #614 closed, assigned to nobody

[2021-03-20 19:46] vi241 commented on #1387
can you send an image?

[2021-03-20 19:49] vi241 commented on #1369
@benawad you can add better looking custom outlines or on focus background ...

[2021-03-20 19:51] TheOtterlord commented on #713
As VSCode stories also uses GitHub authentication I'm going to close this issue

[2021-03-20 19:51] #713 closed, assigned to nobody

[2021-03-20 19:51] #1305 closed, assigned to nobody

[2021-03-20 19:51] tejxv commented on #1387
sure

![Screenshot (360)](https://user-images.githubusercontent.com/54097365/111883835-b8721d80-89e3-11eb-9333-b5a6366e94c4.png)

[2021-03-20 19:54] vi241 commented on #1387
weird

[2021-03-20 19:56] tejxv commented on #1387
ikr, some folks are working on it tho #1330

[2021-03-20 19:56] vi241 commented on #1387
ok

[2021-03-20 19:57] TheOtterlord commented on #1387
This can probably be closed as a duplicate then. Then discussion is all in one place

[2021-03-20 19:57] #1387 closed, assigned to nobody

[2021-03-20 19:59] vi241 commented on #1387
@TheOtterlord not exactly a duplicate

[2021-03-20 19:59] Mayowa-Ojo commented on #1324
Is there any component not assigned to anyone yet? I'd like to chip in

[2021-03-20 19:59] vi241 commented on #1387
this is talking about firefox flags not twemoji

[2021-03-20 20:00] vi241 commented on #1387
but I agree with the discussions in 1 place

[2021-03-20 20:01] ajmnz commented on #1324
#1390

[2021-03-20 20:10] Linux123123 commented on #1283
Great! Will close this when it merges.

[2021-03-20 20:11] amitojsingh366 commented on #1285
Thanks a lot will whitelist it and also thx for the info i keep forgetting the shortcut on mac XD

[2021-03-20 20:11] overlisted opened #1392 "make L/i"

[2021-03-20 20:11] #1392 closed

[2021-03-20 20:14] Mayowa-Ojo commented on #1390
I'm going to work on the `UserAvatar` component.

[2021-03-20 20:19] samarmohan opened #1393 "Make dogehouse invite only"
It can't be a clone of Clubhouse unless it is invite-only!

Contributors could get in without an invite, which would encourage contributions!

[2021-03-20 20:20] ofsho commented on #1392
lmao

[2021-03-20 20:20] ofsho commented on #1392
wtf?

[2021-03-20 20:22] goldyydev commented on #1330
@vishy-dev We're also going to need to implement it in the chat
![image](https://user-images.githubusercontent.com/55450464/111884519-cf584600-89ca-11eb-8c8b-2b6f7f871fb1.png)

[2021-03-20 20:24] vi241 commented on #1393
Dogehouse wants to be better than clubhouse

[2021-03-20 20:24] vi241 commented on #1393
Not a clone

[2021-03-20 20:24] vi241 commented on #1393
and invite only is really annoying

[2021-03-20 20:27] TheOtterlord commented on #1393
Agreed, DogeHouse has been open to all from day 1

[2021-03-20 20:27] samarmohan commented on #1393
Lol, wanted to see opinions!

[2021-03-20 20:28] vi241 commented on #1393
I dont see the point in this, thank you for your suggestion

[2021-03-20 20:28] goldyydev commented on #1234
Merged #774:
 ![image](https://user-images.githubusercontent.com/35764628/110999591-a95ef000-8391-11eb-85a0-209cbf49141c.png)

[2021-03-20 20:28] #1393 closed, assigned to nobody

[2021-03-20 20:28] goldyydev commented on #774
Let's move all of this to #1234 so we'll have this in 1 place.

[2021-03-20 20:28] #774 closed, assigned to ermalsh

[2021-03-20 20:29] samarmohan opened #1394 "Emojis/gifs: Some of the emoji/gifs have the same name, just different capitalization. This is annoying when on Windows"
**Describe the bug**
Some of the emoji/gifs have the same name, just different capitalization. [omegalul](https://github.com/benawad/dogehouse/blob/staging/kofta/public/emotes/omegalul.png) and [omegaLul](https://github.com/benawad/dogehouse/blob/staging/kofta/public/emotes/omegaLul.png) <br>
This is annoying on Windows

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo on a Wind

[2021-03-20 20:31] #996 closed, assigned to nobody

[2021-03-20 20:31] vi241 commented on #1394
I will check it

[2021-03-20 20:32] ofsho commented on #1394
<img width="222" alt="Screen Shot 2021-03-20 at 22 32 20" src="https://user-images.githubusercontent.com/60016719/111884730-2579b900-89cc-11eb-8225-f5115d6666a6.png">
no?

[2021-03-20 20:33] vi241 commented on #1394
I see windows system ... brb

[2021-03-20 20:33] samarmohan commented on #1394
I am creating a pr, you don't have to worry. (I also really want to contribute)

[2021-03-20 20:36] goldyydev commented on #882
I am going to close this issue as IRC is ran on WebSockets in most cases (like twitch [wss://irc-ws.chat.twitch.tv]).

[2021-03-20 20:36] #882 closed, assigned to nobody

[2021-03-20 20:36] vi241 commented on #1394
@samarmohan I cant find it

[2021-03-20 20:36] vi241 commented on #1394
Cloned and checked but it didn't work

[2021-03-20 20:41] goldyydev commented on #1219
Duplicate of #1135

[2021-03-20 20:41] #1219 closed, assigned to nobody

[2021-03-20 20:41] samarmohan commented on #1394
Added pr, #1396

[2021-03-20 20:41] #1394 closed, assigned to nobody

[2021-03-20 20:42] vi241 commented on #1394
ok

[2021-03-20 20:45] goldyydev commented on #1376
This is something for @benawad to do, he'll need to get a certificate and sign the code using a signing tool (that Windows accepts).

[2021-03-20 20:46] goldyydev commented on #1377
Duplicate of #31

[2021-03-20 20:46] #1377 closed, assigned to nobody

[2021-03-20 20:48] goldyydev commented on #1267
Can you please be a little bit more clear about what you're trying to achieve?

[2021-03-20 20:48] BronzW commented on #1324
#1397 Added FeaturedRoomCardHosts

[2021-03-20 20:54] #1369 closed, assigned to nobody

[2021-03-20 20:55] JackCrispy commented on #1207
Yeah which is more reason to have application authentication like discord.com/developers does it. Having an ID for each bot and token for each bot which doesn’t change.

Also is it even possible with the current architecture to allow accounts to join multiple rooms?

[2021-03-20 20:56] HarrisonMayotte commented on #1333
Added to the "Future Features" section on #386, closing this issue.

[2021-03-20 20:56] #1333 closed, assigned to nobody

[2021-03-20 20:56] HarrisonMayotte commented on #1371
Added to the "Future Features" section on #386, closing this issue.

[2021-03-20 20:56] #1371 closed, assigned to nobody

[2021-03-20 21:03] TheOtterlord commented on #267
To minimise the spliting of conversation, I'm closing this as it is covered in #340

[2021-03-20 21:03] #267 closed

[2021-03-20 21:34] HarrisonMayotte commented on #1314
I don't think this would make much of a difference when it comes to the impersonation issue, but I do think that it would be a good idea for after 2 or some number of seconds (maybe customizable in settings?) a small profile thing pops up.

I've added this to #386 and will close this issue.

[2021-03-20 21:34] #1314 closed, assigned to nobody

[2021-03-20 21:34] HarrisonMayotte commented on #1306
Closed and added to roadmap #386.

[2021-03-20 21:34] #1306 closed, assigned to nobody

[2021-03-20 21:36] HarrisonMayotte commented on #1277
I can also help with infrastructure as-needed.

[2021-03-20 21:36] HarrisonMayotte commented on #1277
Didn't mean to close this.

[2021-03-20 22:04] danBamikiya commented on #1277
I guess we have to wait for @benawad. From what I've observed its dockerized already and its using cloudflare as its provider. A very basic setup I have in mind is something like the below image.

![image](https://user-images.githubusercontent.com/58262528/111886774-a2a72d00-89d0-11eb-8513-52714355ab45.png)

[2021-03-20 22:08] arnaugomez opened #1401 "Add padding to user thumbnail in upper menu - Desktop"
**Describe the bug**
I suggest adding some padding to the profile picture in the upper menu bar. This will make it more aesthetically pleasing.

I know the task is trivially easy, but I'm a frontend developer with no experience in open source, so this issue would be perfect for me to get started.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in on desktop
2. Look at the menu bar

**Exp

[2021-03-20 22:09] danBamikiya commented on #1277
Will be scaled of course but still waiting on @benawad or any of the reviewers to collaborate

[2021-03-20 22:48] SirTenzin opened #1403 "Add single room route"
**Is your feature request related to a problem? Please describe.** Nope
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I am fustrated when i go to code my api wrapper wrapper, i can only track the top public rooms and scheduled rooms.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
If there was a rooms/r

[2021-03-20 23:04] HarrisonMayotte commented on #1365
I would say GitBook would make sense just because it would allow more people than just collaborators to work on it but it would still be controlled because the changed would have to go through the same PR process.

[2021-03-20 23:04] HarrisonMayotte commented on #1365
It's up to @benawad though.

[2021-03-20 23:05] goldyydev commented on #1403
Currently getTopPublicRooms will return all rooms.

AFAIK the getTopPublicRooms function is marked as deprecated with no current alternative (obviously one is being worked on that will probably allow you to get what you want).

</br>
<sup><i>If I answered your question, please make sure to close this issue as we're already flooded with them</i></sup>

[2021-03-20 23:11] vi241 commented on #1365
yes

[2021-03-20 23:12] goldyydev commented on #1401
I can not reproduce this bug, can you try disabling all of your extensions?

![image](https://user-images.githubusercontent.com/55450464/111888128-6b417c00-89e2-11eb-84e7-a4ea47fe9374.png)

[2021-03-20 23:44] overlisted commented on #1365
I can enable them too

[2021-03-20 23:45] HarrisonMayotte commented on #1365
All collaborators can enable them but it's about whether or not that's the commitment we want to make because it's either all in on wikis, all in on Gitbook, or all in on whatever other thing we decide to use for the information management.

[2021-03-20 23:47] HarrisonMayotte commented on #1277
That seems like a good idea to me, but it comes back to Ben to make that decision.

[2021-03-20 23:48] HarrisonMayotte commented on #1277
I'm going to split this off to a separate issue as we aren't on commit messages anymore.

[2021-03-20 23:49] HarrisonMayotte opened #1406 "Infrastructure/Scaling"
From what I've observed its dockerized already and its using cloudflare as its provider. A very basic setup I have in mind is something like the below image.

![image](https://user-images.githubusercontent.com/58262528/111886774-a2a72d00-89d0-11eb-8513-52714355ab45.png)

_Originally posted by @danBamikiya in https://github.com/benawad/dogehouse/issues/1277#issuecomment-803470066_

[2021-03-20 23:50] HarrisonMayotte commented on #1406
@danBamikiya If you have any further elaboration you want to add on this feel free to add here.

[2021-03-20 23:53] f1shy-dev commented on #1330
I’ll include that too!

[2021-03-20 23:54] vi241 commented on #1365
how can we?

[2021-03-20 23:57] overlisted commented on #1365
just open the wiki tab

[2021-03-20 23:58] elinarbur commented on #1387
The twemoji discussion directly addresses the issue. This should just be closed.

[2021-03-21 00:14] goldyydev commented on #1161
Does this still occur?

Try to delete the dogehouse folder and re-add it.

</br>
<sup><i>If I answered your question, please make sure to close this issue as we're already flooded with them</i></sup>

[2021-03-21 00:14] dragonismcode commented on #1207
Adding onto this, having a regenerable token. If you're bot's token gets leaked you're screwed.

_cough cough_ Honbra leaking my bot account's token _cough cough_

[2021-03-21 00:16] goldyydev commented on #1097
Going to close this as it appears that it got added already.

[2021-03-21 00:16] #1097 closed, assigned to jamesql

[2021-03-21 00:44] samarmohan opened #1408 "Kofta: Typescript throwing a lot of errors. TS config needs updating."
**Describe the bug**
the `tsconfig.json` may need to be updated. TS is throwing errors left and right. This mostly has to do with `noImplicitAny`.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo
2. Go to the `kofta` folder
3. Go into any folder.

**Expected behavior**
No errors should be thrown

**What device are you on?**
Doesn't matter, but Windows 10 with WSL2.

**Other**
I

[2021-03-21 00:55] goldyydev commented on #1408
I can not reproduce this. I feel like something is not right with your config

[2021-03-21 01:00] samarmohan commented on #1408
Wait actually? I'm using VSCode, it's throwing X var implicitly has any type.

[2021-03-21 01:00] samarmohan commented on #1408
I am just adding `noImplicitAny: false`

[2021-03-21 01:22] okdargy opened #1411 "Add Moderation Logs"
**Is your feature request related to a problem? Please describe.**
I was in the "Developers having deep code conversations" room when suddenly everybody that wasn't a mod was banned. After a few minutes, the room admin came back and had to unban everyone.

**Describe the solution you'd like**
I would like all moderators & the room admin to have a little mod logs section where they can see who and

[2021-03-21 01:26] HarrisonMayotte commented on #1411
I think this is certainly something we should have but I'm not sure where it would be placed. Maybe like in the picture below and have it like a tab that only mods/admins can see?
![image](https://user-images.githubusercontent.com/48367813/111890751-f1e66100-89c2-11eb-9217-4e2078f6e9f3.png)

[2021-03-21 01:28] HarrisonMayotte commented on #1387
Yeah the other issue that's open, although not directly firefox, would resolve this and it makes sense to declutter and move the discussion here to that one.

[2021-03-21 01:40] HarrisonMayotte commented on #449
I believe it probably means that some thinking is required on how the implementation of this would work and how it would be implemented in a way that makes sense.

[2021-03-21 01:43] HarrisonMayotte commented on #498
@benawad I can look into this and see how we could go about implementing it. This would probably belong in the thinking required list on the main board since I don't really see anything else around (from a *very* brief search).

[2021-03-21 02:29] samarmohan commented on #1408
@HarrisonMayotte, did my pr fix the bug?

[2021-03-21 02:46] benawad commented on #498
ok

[2021-03-21 02:56] #1267 closed, assigned to nobody

[2021-03-21 03:23] HarrisonMayotte commented on #1408
I can set up a local test to see if it does tomorrow when I get a chance but it looks like it does from a brief look.

[2021-03-21 03:36] mmattbtw opened #1412 "Autocomplete Emotes"
**Is your feature request related to a problem? Please describe.**
Not really a problem, just being used to something like Chatterino or Twitch Chat, and it is a nice QOL to have on DogeHouse.

**Describe the solution you'd like**
When you type `:` then start typing the emote name after, you would see a small list of emotes (like 3 emotes) with a image of the emote, and the emote name. Then you co

[2021-03-21 03:41] okdargy commented on #1412
Maybe it could look something like this:
![image (25)](https://user-images.githubusercontent.com/76412158/111892900-62927b00-89cd-11eb-91de-f8f429ffb13e.png)

[2021-03-21 03:52] samarmohan commented on #1408
Thanks!

[2021-03-21 03:59] jamesql commented on #750
@yummyweb you're good, just let me know if you ever want to work on it and you have time, more than happy to help with the back end

[2021-03-21 04:10] mmattbtw opened #1413 "Speaker chat badges"
Show a `📣` next to your username in chat, to show that you are a speaker, if you are.

You could also add other things like `👑` for room owner, `🔨` for moderator, and such.

![Speaker Chat Badge](https://user-images.githubusercontent.com/30363562/111893512-3678f900-89d1-11eb-9470-7a80c5c8f52e.png)

[2021-03-21 04:40] okdargy commented on #1411
How about this?
![image (26)](https://user-images.githubusercontent.com/76412158/111894061-a6897e00-89d5-11eb-87f9-80bb95cfeabf.png)

[2021-03-21 06:00] amitojsingh366 commented on #1413
Seems like a nice idea!

[2021-03-21 06:04] amitojsingh366 commented on #1408
@samarmohan i don't experience this issue of yours. Maybe it's because of the setup of your fork or that fact that you are explicitly stating `noImplicitAny: false`

[2021-03-21 06:11] amitojsingh366 commented on #1376
Not sure if it'll help but here's something that happened to me:
I had a similar issue with my [own project](https://github.com/amitojsingh366/Flappytoj) where windows defender itself thought my app was a virus. To solve this i didn't add any certificate i just did a [Virus Total](https://www.virustotal.com) scan of my `.exe` and it showed that 1/67 engines detected my app as an virus and that was

[2021-03-21 07:03] isaboo commented on #1376
I could install it but the button to install was under the tiny 'more info' button. And more info looked like a link more than a button!

[2021-03-21 07:05] isaboo commented on #1376
@amitojsingh366 said > Not sure if it'll help but here's something that happened to me:

Ok, that's good then

[2021-03-21 07:06] isaboo commented on #1376
@amitojsingh366 said:

[2021-03-21 07:07] TheOtterlord commented on #1376
Yeah, it's a weird route, but it's how you have to bypass it. As I can't afford code-signing for my side project in electron, I just put up some instructions for allowing it passed windows defender in the docs.

[2021-03-21 07:08] isaboo commented on #1376
@amitojsingh366 said:

I had a similar issue with my [own project](https://github.com/amitojsingh366/Flappytoj) where windows defender itself thought my app was a virus. To solve this i didn't add any certificate i just did a [Virus Total](https://www.virustotal.com) scan of my `.exe` and it showed that 1/67 engines detected my app as an virus and that was Microsoft's engine. I think somehow that

[2021-03-21 07:19] TheOtterlord commented on #1365
I think embeding the docs in the codebase as markdown files would work better, as then anyone can edit it, but it is all moderated by the PR system

[2021-03-21 07:35] yummyweb commented on #750
I could work on it now. Just did massive work yesterday. You could do the backend and guide me how to implement the frontend (Connecting the frontend with the backend).

[2021-03-21 07:36] isaxk commented on #1412
You could also type :) or ;) or :( as shortcuts for 😀😉&😥

[2021-03-21 07:40] amitojsingh366 commented on #575
@yummyweb @AndreiJirohHaliliDev2006 there isn't anything wrong with `electron-builder` i believe it's to do with our dependency `iohook` *(i'm pretty sure)*

[2021-03-21 07:41] yummyweb commented on #575
Yes yes iohook is the problem and more specifically with the xkb dependency of iohook

[2021-03-21 07:53] amitojsingh366 opened #1415 "Finding an alternative to iohook"
**Is your feature request related to a problem? Please describe.**
Yes the problem is #1112 and i feel the only solution to fix this is by finding an alternative to [iohook](https://github.com/wilix-team/iohook) *(global keyup/down event listener)*. I think this has to be done as it causes our electron wrapper to not be able to run on Linux systems! And keeping Linux aside for once, it looks like

[2021-03-21 08:00] amitojsingh366 commented on #1415
Also another big issue is on macOS bigSur clicking any of the dedicated media buttons *(mute, vol up/down, etc.)* on the keyboard crashes the app immediately. This only occurs when iohook is running as i tested it

[2021-03-21 08:02] TheOtterlord commented on #1415
outdated, but could be forked if we need to change/updated anything? https://www.npmjs.com/package/keypress (edit: not tried it yet, just browsing for ideas)

[2021-03-21 08:07] amitojsingh366 commented on #1415
Yea ive looked into this before. It dosen't support global events. We need global events

[2021-03-21 10:31] arnaugomez commented on #1401
![Captura de pantalla 2021-03-21 a las 11 29 43](https://user-images.githubusercontent.com/66358043/111901486-d4ec7500-8a38-11eb-892e-75dc361b7d5b.png)
I am logged in today and cannot replicate the bug. Yesterday, when I proposed the bug, I had very bad internet connection. Maybe there was also an extension messing up with my CSS. Perhaps it's better to close the issue.
Apologies!

[2021-03-21 10:31] #1401 closed, assigned to nobody

[2021-03-21 10:45] f1shy-dev commented on #1412
I mean I'm adding twemoji (cross platform emojis) so I could add this too while im at it?

[2021-03-21 11:00] isaxk commented on #1412
_**@vishy-dev**_ said:

Yeah, do that

[2021-03-21 11:35] ubrg commented on #578
@benawad

Would you like to do a session record of the audio-only, or something similar to what Twitch does with its replay feature (video + chat + maybe other stuff... are replayed as if it was the actual session)?

The Twitch-like option could add some interesting features (real-time chat, speakers volume/mute... basically all features available in the actual session). However, it is much more c

[2021-03-21 11:47] SirTenzin commented on #1403
Oh right thanks ily :)

[2021-03-21 11:47] #1403 closed, assigned to nobody

[2021-03-21 12:15] rajpatil53 commented on #569
#1426

[2021-03-21 12:21] Laurenz1606 opened #1427 "Language Settings"
Hey DogeHouse Community,
I've loaded the Page, my system language is german and the dropdown showed English. I think, that the Dropdown is defaulted to English, maybe set the dropdown to whatever the users system language is on page load. It's a minor detail i know, but at first i was a bit confused. :)

[2021-03-21 12:49] #1341 closed, assigned to f1shy-dev

[2021-03-21 12:58] HarrisonMayotte commented on #1411
Yeah that's a much better image compared to mine 😂
That's what I was thinking. I'll add the help wanted tag to see if anyone wants to try and implement it.

[2021-03-21 13:01] HarrisonMayotte commented on #415
I think only the first objective on the list was completed since there isn't really a party popper or anything like the second objective (to my knowledge). It just shows the different times and the corresponding emojis (which completed the first one on the list).

[2021-03-21 13:07] HarrisonMayotte commented on #1379
Closed and added to the roadmap, #386

[2021-03-21 13:07] #1379 closed, assigned to nobody

[2021-03-21 13:08] glooca opened #1428 "Language picker showing English when localized on first load"
**Describe the bug**
On first page load shows English in the language picker even when the page is localized

**To Reproduce**
Steps to reproduce the behavior:
1. Clear the i18nextLng variable from local storage if you have already been on the page
2. Set browser language to some supported language
3. Open the page
4. See the page in the selected language but English selected on the picker

**Expe

[2021-03-21 13:14] glooca commented on #1428
Duplicate of https://github.com/benawad/dogehouse/issues/1427

[2021-03-21 13:14] #1428 closed, assigned to nobody

[2021-03-21 13:46] BronzW commented on #1427
Is there a media query for this?

[2021-03-21 13:47] samarmohan commented on #1234
@jamesql, are you going to do this or should I?

[2021-03-21 13:49] HarrisonMayotte commented on #1427
Not a media query (from what I can find) but it appears that there's a web api for it. https://developer.mozilla.org/en-US/docs/Web/API/NavigatorLanguage/language

[2021-03-21 13:51] HarrisonMayotte commented on #469
I believe I saw someone in the discord server working on this before, but not sure if it was new design or old design.

[2021-03-21 13:59] goldyydev commented on #1411
I kinda liked the font in the first image though.

Seriously tho, this is very important. Yesterday a bot went rouge and banned everyone in the dev chat.

[2021-03-21 14:08] goldyydev commented on #1188
This seems to be working in production now, perhaps Google has changed something? 🤔

Enable it from Settings > Accessibility > Live Captions

[2021-03-21 14:08] #1188 closed, assigned to nobody

[2021-03-21 14:29] goldyydev commented on #1427
@vishy-dev while you're working on the language switcher, you might wanna implement this?

[2021-03-21 14:57] Mayowa-Ojo commented on #1413
This is going to be implemented in `kibbeh` right? If yes, there are no components for chat ui yet afaik.

[2021-03-21 15:04] isaxk opened #1432 "Add download link to website"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when...
Users accessing the site may not know there is a desktop app

**Describe the solution you'd like**
A download link somewhere on the site

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions

[2021-03-21 15:07] bansalarnav commented on #1432
The download link will probably be there on the landing page, depending on what OS the user is on. But as of right now the apps are not complete so no point in hosting them somewhere and adding the link. Dummy buttons can be added for now

[2021-03-21 15:09] isaxk commented on #1432
There could be download links to the exe/dmg files on the releases pannel on GitHub
We wouldn't need to host them somewhere else

[2021-03-21 15:11] bansalarnav commented on #1432
That could work for now but definitely not for production as the majority of users won't have ever used GitHub

[2021-03-21 15:13] isaxk commented on #1432
No I meant a link _to the file_
e.g _https://github.com/benawad/dogehouse/releases/download/v1.0.16/DogeHouse-Setup-1.0.16.exe_

[2021-03-21 15:14] dk-raw commented on #1234
**It is partially fixed now, just translated some more phrases added to the JSON. But still some others are not present (at least in the `el-GR` file **

[2021-03-21 15:17] jamesql commented on #1413
it can be implemented into both kofta and kibbeh once kibbeh has chat ui

[2021-03-21 15:22] goldyydev commented on #1432
@ajmnz how will this fit in design wise?

[2021-03-21 15:23] ghost opened #1435 "Dogehouse app logo is HUGE on mac compared to the other ones"
![image](https://user-images.githubusercontent.com/81065901/111910466-7c909400-8a87-11eb-8c7b-de2c86b71979.png)

[2021-03-21 15:25] ajmnz commented on #1432
I think that can come when the landing page hits. Then give the user both options, web or app.

[2021-03-21 15:27] goldyydev commented on #1435
Somebody attempted to fix this, but it messed the Windows icon up

[2021-03-21 15:27] isaxk commented on #1432
That would be good but if the user is already in the app, we would have to not show it

[2021-03-21 15:27] goldyydev commented on #927
Closing this issue so people wont think that it's serious

[2021-03-21 15:27] #927 closed, assigned to nobody

[2021-03-21 15:28] samarmohan opened #1436 "Regular auth, not just OAuth"
**Is your feature request related to a problem? Please describe.**
Add normal authentication using normal usernames and passwords

**Describe the solution you'd like**
normal Elixir/Phoenix auth solutions

[2021-03-21 15:29] samarmohan commented on #405
@benawad, can you please record the meetings?

[2021-03-21 15:31] goldyydev commented on #725
Kibbeh should solve this issue (once it's released).

[2021-03-21 15:31] samarmohan opened #1437 "Electron App: Add ability to record calls"
**Is your feature request related to a problem? Please describe.**
Recording would be a nice feature and would make more people use the desktop app.
Dogehouse might as well have everything, we have chats, dogebots, etc.

**Describe alternatives you've considered**
3rd party recording services

[2021-03-21 15:32] ghost opened #1438 "Dogehouse app crashes on mac whenever I try to login"
![image](https://user-images.githubusercontent.com/81065901/111910748-a7c7b300-8a88-11eb-8fe0-8a50c7e5475b.png)

[2021-03-21 15:32] #1222 closed, assigned to nobody

[2021-03-21 15:33] goldyydev commented on #1438
Duplicate of #1229

[2021-03-21 15:33] #1438 closed, assigned to nobody

[2021-03-21 15:34] jamesql commented on #1234
@samarmohan you are more than welcome to do it, I was working on another feature. Would you like me to assign you?

[2021-03-21 15:34] ghost opened #1439 "Dogehouse crash log for anyone who wants to see"
Process:               DogeHouse [4955]
Path:                  /Applications/DogeHouse.app/Contents/MacOS/DogeHouse
Identifier:            com.electron.dogehouse
Version:               1.0.16 (1.0.16)
Code Type:             X86-64 (Translated)
Parent Process:        ??? [1]
Responsible:           DogeHouse [4955]
User ID:               501

Date/Time:             2021-03-21 21:00:30.325 +0530
OS V

[2021-03-21 15:34] BronzW commented on #1437
Hosts and bots?

[2021-03-21 15:35] goldyydev commented on #1437
How is this different from #578

[2021-03-21 15:35] #569 closed, assigned to rajpatil53

[2021-03-21 15:35] samarmohan commented on #1437
Sorry

[2021-03-21 15:35] #1437 closed, assigned to nobody

[2021-03-21 15:37] jamesql commented on #1207
@dragonismcode I think deleting accounts still delete everything so you should be able to regen token that way for now

[2021-03-21 15:45] dk-raw commented on #1234
@jamesql **I can do that also**

[2021-03-21 15:47] jamesql commented on #1234
Ok, ill just assign you since you authored it, @samarmohan you're more than welcome to help him if you want

[2021-03-21 16:06] theCow61 commented on #927
But it is serious.

[2021-03-21 16:08] f1shy-dev commented on #1427
I'll try to see if I can fix this. May be an issue in `i18next` or just the way we detect it.

[2021-03-21 16:10] f1shy-dev commented on #1365
GitBook could work, but whatever we do it's still up-to @benawad.

[2021-03-21 16:11] goldyydev commented on #1439
Please put this in #1229

[2021-03-21 16:11] #1439 closed, assigned to nobody

[2021-03-21 16:13] f1shy-dev commented on #1435
What electron packaging system are we using? There should be support for different sizes across platforms, right?

Also here's a [template for MacOS Big Sur icons.](https://macosicons.com/resources/macos-big-sur-app-icon)

[2021-03-21 16:14] f1shy-dev commented on #1432
We could have it show up when the user first visits the page, and also have a button for it somewhere.

[2021-03-21 16:15] f1shy-dev commented on #1413
We use a sunglasses doge for the room owner right, couldn't we just add this and one for speakers into chat?

[2021-03-21 16:16] f1shy-dev commented on #1436
We could, but then we would have to implement things such as profile picture filtering and things ourselves right? Oauth just is easier. I guess when we release `kibbeh` we could add Google and other commonly used providers too.

[2021-03-21 16:17] okdargy commented on #1411
How about this? The bold font looks bad on the top.
![image (26) (1)](https://user-images.githubusercontent.com/76412158/111912313-082e0480-8a37-11eb-90bc-1b81fc9fa3ed.png)

[2021-03-21 16:24] samarmohan commented on #1432
I'll do it

[2021-03-21 16:27] isaxk commented on #1432
K thanks

[2021-03-21 16:28] f1shy-dev commented on #1412
Will this be for custom emotes only or all emotes?

[2021-03-21 16:29] mmattbtw commented on #1412
I would prefer it to be all, with custom emoted prioritized

[2021-03-21 16:45] samarmohan commented on #1432
I'm thinking about putting this in the footer, but if someone has better design ideas, I'm open

[2021-03-21 16:50] jamesql commented on #1413
@vishy-dev yes I think thats good

[2021-03-21 16:55] isaboo commented on #1432
On the sign in page it could be in the top right hand corner

[2021-03-21 16:57] isaxk commented on #1432
I think a big blue button at the right of the footer would be the best option

You should also check what OS there on:

So on Windows it would link to the exe
On MacOS it would link to to dmg
And on Mobile, it could link to the PWA

[2021-03-21 17:13] #1408 closed, assigned to HarrisonMayotte

[2021-03-21 17:20] #1109 closed, assigned to nobody

[2021-03-21 17:20] HarrisonMayotte commented on #1109
Per recent announcement in #info on discord, no more emojis for now.

[2021-03-21 17:43] Deep-Codes commented on #1435
@KittyX29 They haven't released the fixed version

I had fixed this for Mac and if you clone and build it works fine.

See #1286 #1301

<img width="1122" alt="Screenshot 2021-03-21 at 11 10 22 PM" src="https://user-images.githubusercontent.com/61158210/111915084-9e474680-8a9a-11eb-88e0-918230389112.png">

idk how it looks on windows.

[2021-03-21 17:56] #1229 closed, assigned to amitojsingh366

[2021-03-21 18:04] amitojsingh366 commented on #1285
Fixed in #1404

[2021-03-21 18:04] #1285 closed, assigned to amitojsingh366

[2021-03-21 18:12] recalcitrantjim opened #1449 "No avatars in chat"
**Describe the bug**
Some avatars don't show in chat.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a meeting
2. Open chat
3. See error

**Expected behavior**
Avatars to appear

**Screenshots**
![Screenshot_20210321-130458.png](https://user-images.githubusercontent.com/77511422/111915965-c60cbf00-8a46-11eb-831c-f3a266568487.png)

**What device are you on?**
Android phone, chrome, Pro

[2021-03-21 18:30] prokopschield opened #1450 "Whisper doesn't work when @mentioning people"
**Describe the bug**
When you @mention someone in a whisper, the message is not handled as a whisper.

**To Reproduce**
Steps to reproduce the behavior:
1. Type ` #@user1 @user2 ` in chat

**Expected behavior**
Whisper should work even if someone is mentioned in it

**What device are you on?**
UMAX VisionBook 14Wa

[2021-03-21 18:34] TheOtterlord commented on #1450
working for me. what browser are you in?

[2021-03-21 18:35] Nenyoko opened #1451 "Login with a github account with dual-factor authentication in the desktop application impossible"
Description: when trying to log in with a Github account with two-factor authentication on the desktop app, you end up on an invalid/inexistent Github page. So you can't connect and use the application.

Steps to reproduce the behavior:
1. Launch the desktop app
2. Click on "Login with Github"
3. Enter your credentials and click on "Sign in"
4. Enter your 6-digit code and click on "Verify"
5. See

[2021-03-21 18:36] amitojsingh366 commented on #1450
works for me as well...

[2021-03-21 18:37] amitojsingh366 commented on #1451
Fixed this in #1404

[2021-03-21 18:37] #1451 closed, assigned to nobody

[2021-03-21 18:48] ghost opened #1455 "Add multiple oauth methods to ONE account for backup. Or use email one time tokens for recovery."

[2021-03-21 18:56] f1shy-dev commented on #1455
We could go with the email solution, it seems easier. Or we make accounts per email then when somebody signs in with the same email across providers it's the same account.

[2021-03-21 19:09] Jackbaude opened #1456 "<3 should make the heart emoji in chat"
**Problem**
When I type `<3` in chat I expect to see a heart emoji but there is none.

**Solution**
`<3` should auto complete a heart

**Describe alternatives you've considered**
`:heart:` could make the heart but I think many people are used to `<3`

[2021-03-21 19:11] Mayowa-Ojo opened #1457 "Use oauth user's twiiter/github username as default as opposed to random strings"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
This is just a suggestion. Currently when a user is authorized via oauth, a random username is generated. I think it'd be more intuitive to use the user's **twitter** username or **github** username as default.

**Describe alternatives you've considered**
A clear and concise description of a

[2021-03-21 19:16] HarrisonMayotte opened #1458 "When copying an emoji in the chat it doesn't include the colons on either side."
**Describe the bug**
When copying an emoji in the chat it doesn't include the colons on either side.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy an emoji posted in the chat.
2. Attempt to past the emoji.
3. Observe that the colons that should be on either side are not present.

**Expected behavior**
It should have the colons around the emoji.

**Screenshots**
https://gyazo.com/4d182

[2021-03-21 19:30] goldyydev commented on #1456
As per Ben's instructions, new emojis are not to be allowed (for now).

[2021-03-21 19:30] #1456 closed, assigned to nobody

[2021-03-21 19:42] f1shy-dev commented on #1412
It will be for all, emoji-mart has names for the emotes so i could tap into that for this feature

[2021-03-21 19:57] goldyydev commented on #1458
#1459

[2021-03-21 20:04] okdargy opened #1460 "Edit & Delete button for Scheduled Rooms pushes "Add to Calendar" button to the left"
**Describe the bug**
When creating a scheduled room, you'll have the Edit & Delete button there because you own the scheduled room. But, the Add to Calendar button is moved to the side.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Scheduled Rooms button
2. Schedule a test room or see an already scheduled room that you own
3. See error

**Expected behavior**
Make the "Add to Cale

[2021-03-21 20:12] HarrisonMayotte commented on #1456
I don't think this would really be a new emoji. It'd just convert the text emoticon to a proper emoji.

[2021-03-21 20:19] Jackbaude commented on #1456
What is the reasoning behind not adding new emojis? I don't think this is like adding a new emoji. The heart emoji already exists and people can use it, this is simply asking for a text shortcut.

As I look more into it, it looks like you can't write colon emojis, such as `:smile:` or `:handshake:`. This is something that I also believe should be available because it is a very common shortcut.

[2021-03-21 20:38] goldyydev commented on #1245
Ben said he likes this behaviour and prefers it.

If we ever store chatroom messages, this will be implemented, but the status quo is that we're not going to be storing them anytime soon.

[2021-03-21 20:38] #1245 closed, assigned to nobody

[2021-03-21 20:58] benawad opened #1462 "I will not be accepting New Feature PRs until New Design is complete"

[2021-03-21 21:31] #1458 closed, assigned to goldyydev

[2021-03-21 21:36] overlisted commented on #1462
rip

[2021-03-21 21:48] vi241 commented on #1450
It works for me

[2021-03-21 21:49] vi241 commented on #1450
didn't mean to close

[2021-03-21 21:49] vi241 commented on #1411
this is a good idea

[2021-03-21 21:56] jamesql commented on #1069
It's done but waiting to PR it due too #1462

[2021-03-21 22:02] btarg commented on #1415
This may be worth looking into as an alternative: https://github.com/jaywcjlove/hotkeys/

[2021-03-21 22:14] #1223 closed, assigned to nobody

[2021-03-21 23:27] sharafabacery opened #1468 "adding arabic crepy language"
**Is your feature request related to a problem? Please describe.**
something, there are language Egypt develop from arabic change the char. you want this letter س and get a word with no meaning but must begin with the letter we discard

**Describe the solution you'd like**
ساسب حواجب سفهم يتنيل ساجة حالات = حاسب يفهم حاجه

[2021-03-21 23:38] goldyydev commented on #1468
Can you please explain this to somebody who can't understand a single word in Arabic?

(in my defense, i tried learning arabic for 2 years but can't remember anything)

[2021-03-22 00:08] sharafabacery commented on #1468
this was some develop to Arabic in Egypt the gangs talk to each other like that they exchange the letter we want to change with (س=s) and generate a new word  but must begin with the letter we take it   (sappy hob ==happy) ,I make this issue for fun

[2021-03-22 01:42] ghost commented on #1435
Issue fixed [for mac] in  #1286 #1301

[2021-03-22 01:43] ghost commented on #1435
Lemme know for windows and i will close it

[2021-03-22 01:44] ghost commented on #1435
@Deep-Codes Which terminal do u use lol ? Looks gOOD :)

[2021-03-22 01:50] ghost commented on #1449
@that1ipodguy Unable to reproduce on pc / mac. Can you let me know if it is the same on the native mobile app ?

[2021-03-22 02:26] yummyweb commented on #1069
ok cool, is it a websocket connection i should listen for in the frontend and then show the button

[2021-03-22 02:38] jamesql commented on #1069
currently its a variable in CurrentRoom, changed via websocket on op code "new_room_creator", wont get PR'd till new design tho

[2021-03-22 02:40] jamesql commented on #1069
@yummyweb I just made it toggle the button to add speakers

[2021-03-22 03:04] yummyweb commented on #1069
So did you make the button itself or what?

[2021-03-22 04:09] Deep-Codes commented on #1435
[Hyper Terminal by Vercel](https://hyper.is/) & [Oh My Zsh](https://ohmyz.sh/) 🚀

[2021-03-22 04:41] willdoescode commented on #927
^^^^^^^^^^

[2021-03-22 04:42] willdoescode commented on #1285
Thanks!

[2021-03-22 04:48] Choongkyu opened #1472 "When shawarma/voice server goes down and back up, audio is no longer heard"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run all services following CONTRIBUTING.md
2. Join room with two browsers and sign in using two github/twitter accounts to confirm audio can be heard
3. Quit shawarma/voice server and restart
4. See error (no audio)
5. Try to reload browser to be prompted that user interac

[2021-03-22 04:53] ghost commented on #1462
rip

[2021-03-22 04:54] ghost commented on #1472
Unable to reproduce, works fine for me ! :)

[2021-03-22 06:42] amitojsingh366 commented on #1468
Your description makes 0 sense. Is this sarcastic? If not please explain more carefully

[2021-03-22 06:51] amitojsingh366 commented on #1462
oof

[2021-03-22 06:54] wes337 commented on #384
This is definitely still happening, was able to reproduce this last night. Investigating

[2021-03-22 06:55] xendaya commented on #1112
thank you for the solution, it worked perfectly after this

[2021-03-22 07:21] that1ipodguy commented on #1449
odd I was using the Chrome Progressive web app version on mobile

[2021-03-22 07:27] bansalarnav commented on #1472
You will have to reload the browser window in order to hear voices again. As when the voice server turns off the WebRTC connection is broken. Reloading after the server is back up creates the connection again

[2021-03-22 07:38] HonbraDev commented on #469
It was me, and it was the old design. I did it as a joke (kinda).

[2021-03-22 07:39] ghost commented on #1457
This might be problematic if someone signed up with one platform and someone with the same username on a different platform tries to sign up.
Would it be better to prompt the user to choose an username?

[2021-03-22 07:47] Linux123123 commented on #1283
Now #1476 closes this issue

[2021-03-22 07:49] #1283 closed, assigned to nobody

[2021-03-22 07:56] TheOtterlord commented on #1415
It seems it uses the browser's document object, so it won't be global :(

[2021-03-22 08:28] MMK21Hub opened #1479 "Holding the 'Open chat' button repeats the action"
**The bug**
Pressing and holding the enter key while the "Chat" button is focused flashes the screen quickly between chat being open and closed. This is especially a problem for users who suffer from seizures. Note that pressing space while the button is focused on has the correct behaviour.

This bug is worse at narrow viewports, i.e. when the chat occupies the whole screen.

**Steps to Reproduce

[2021-03-22 08:33] TheOtterlord commented on #1435
Looks fine for me on windows:
![image](https://user-images.githubusercontent.com/64310361/111961534-16d4f400-8ae9-11eb-8bd0-23f583401ad5.png)

[2021-03-22 08:33] #1435 closed, assigned to nobody

[2021-03-22 08:40] ghost opened #1480 "Avatar of ppl not showing up in the PROFILE"
![image](https://user-images.githubusercontent.com/81065901/111962500-60890300-8b18-11eb-8e5f-48f4c0ce2565.png)

[2021-03-22 08:43] ghost opened #1481 "A button for sorting rooms based on the time elapsed, alphabetical order, etc"

[2021-03-22 08:44] TheOtterlord commented on #1480
Working for me, but I've not tested in chrome (working in app (chromium-based) and firefox)

[2021-03-22 09:43] HonbraDev commented on #1462
F

[2021-03-22 10:12] rishitxyz commented on #1427
[code]
Maybe we can add the value of `navigator.language` here?
If we run
[code]
for english, it gives out `en-GB` (for me).
So looking at the language component we can slice first two letters from `en-GB` and use it as the value of `<select>` tag maybe.

[2021-03-22 10:53] Eskpil commented on #1462
F

[2021-03-22 10:57] bertmeeuws opened #1483 "Add a filter on rating button in the scheduled rooms"
**Is your feature request related to a problem? Please describe.**

When I look at the scheduled rooms, there is no way to filter on rating. Some big events that people must hear can easily get lost.

**Describe the solution you'd like**

I would like to be able to upvote a upcoming room, for example if Elon comes. And I filter on rating he will be first to pop up on the list.

**Describe alternat

[2021-03-22 11:02] vadi25 opened #1484 "Leave talk if you go back to main page"
Its self explanatory, I think it would be useful to be able to leave talks by just going to the main page

[2021-03-22 11:06] goldyydev commented on #1484
This is intended behavior, and we're not planning on changing it.

[2021-03-22 11:06] #1484 closed, assigned to nobody

[2021-03-22 11:25] boorah opened #1485 "No rooms visible"
**Describe the bug**
Not able to view any rooms

**Screenshots**

![Screenshot from 2021-03-22 16-53-15](https://user-images.githubusercontent.com/39365143/111982721-50c8e900-8b2f-11eb-9a58-5dfc21b04c43.png)

**What device are you on?**
Ubuntu and Android

**Additional context**
I was in a room last week when suddenly I was kicked out of the room and everything disappeared

[2021-03-22 11:44] ghost commented on #1480
its the web version that has the issue

[2021-03-22 11:47] ghost commented on #1485
can u refresh page ?

[2021-03-22 11:50] boorah commented on #1485
I refreshed the page, tried login again but nothing worked

[2021-03-22 12:19] amitojsingh366 commented on #1485
@boorah make browser go to background *(open another app or smtg)* and then back to foreground. Tell me if it still occurs

[2021-03-22 12:52] boorah commented on #1485
Still same

[2021-03-22 12:55] amitojsingh366 commented on #1485
@boorah any console logs? anything that looks like an error

[2021-03-22 12:58] boorah commented on #1485
nope

![Screenshot from 2021-03-22 18-27-59](https://user-images.githubusercontent.com/39365143/111993245-61cc2700-8b3c-11eb-8754-fcaf08be250c.png)

[2021-03-22 13:03] okdargy commented on #1460
Something like this:
![image](https://user-images.githubusercontent.com/76412158/111993872-1d616c80-8ae5-11eb-88ad-adec271fa4a9.png)

[2021-03-22 13:17] bertmeeuws commented on #1485
Try incognito?

[2021-03-22 13:19] boorah commented on #1485
doesn't work

[2021-03-22 13:22] boorah commented on #1485
If I know the room id and directly paste the url with it, I am able to join the room

[2021-03-22 13:24] bertmeeuws commented on #1485
Have you tried a different browser? Deleting the browser's cache?

[2021-03-22 13:25] boorah commented on #1485
yes, I tried brave and chrome too

[2021-03-22 13:31] yummyweb commented on #1112
@maksklaus please put your discord username and tag here so i can DM you about this fix and how it worked.

[2021-03-22 13:48] benawad commented on #1485
this could happen if you are banned from all current rooms, but I find that unlikely

[2021-03-22 13:49] benawad commented on #1485
try creating a room does it let you do that?

[2021-03-22 13:50] boorah commented on #1485
Yes

![IMG_20210322_192745.jpg](https://user-images.githubusercontent.com/39365143/112001252-ce4b2400-8b44-11eb-80a5-0c45349bdaba.jpg)

[2021-03-22 14:15] TheOtterlord commented on #1112
posted by maksklaus

[2021-03-22 14:34] bansalarnav commented on #1427
Slicing and using the first 2 letters will not be a solution as some languages have keys with more than 2 letters.

[2021-03-22 14:42] BronzW commented on #1427
We could just hard code it in, to exclude some characters like GB

[2021-03-22 14:45] BronzW commented on #1324
FeaturedRoomCardAvatars is done, check it.

[2021-03-22 14:47] samarmohan commented on #1462
@benawad When will the new design be completed? Can we help?

[2021-03-22 14:50] amitojsingh366 commented on #1462
Ben was saying that by this week there should be a sub-domain up serving the new design.
So ig it will fully be released in 1-2 weeks

[2021-03-22 15:41] samarmohan commented on #1462
Can we contribute?

[2021-03-22 15:42] amitojsingh366 commented on #1462
Contribute to the new design?

[2021-03-22 16:02] CreativeQuilt opened #1490 "A few designs give a "Minified React error #130""
When browsing the designs I have seen a few react errors and I don't know if they are real or fake?

[2021-03-22 16:13] herEmanuel commented on #1485
Maybe something is interfering with the websocket traffic? In that case the problem may be on your computer

[](https://stackoverflow.com/questions/21191620/websocket-not-sending-data)

[2021-03-22 16:14] herEmanuel commented on #1485
Maybe something is interfering with the websocket traffic? In that case the problem may be on your computer

https://stackoverflow.com/questions/21191620/websocket-not-sending-data

[2021-03-22 16:20] ghost opened #1491 "Norwegian translation looks weird for some reason that's probably code related"
**Describe the bug**
If you check out DogeHouse with Norwegian Bokmål localization, some sentences are overly capitalized, like how I typed when I was 8. This probably isn't stupid in English, but in Norwegian, it just looks weird.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your browser (Vivaldi, Firefox, Brave etc)
2. Make a new tab
3. Go to this link: dogehouse.tv
4. Change loca

[2021-03-22 16:22] ArnavBansal11 commented on #1490
Can you provide a list of all the components which give the error?

[2021-03-22 16:30] JamalLyons commented on #1112
Oh it worked for you? That did nothing for me.

[2021-03-22 16:33] bansalarnav commented on #1491
This seems to be the case with every language. The first letter of each word is capitalized even though it is not so in the respective `translation.json` files.

[2021-03-22 16:47] ghost commented on #1462
Guys will the new design be in a new branch or the main branch ?

[2021-03-22 16:49] nedasv opened #1494 "Username not changing/not displaying if username was taken"
**Describe the bug**
Changing username bug, whenever I change my username and refresh the page it sets it back to the old auto-generated one. It also does not display if a username was taken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Edit Profile**
2. Change 'username' to anything
3. Refresh and shows old username

**Screenshots**
![errordogehouse](https://user-images.githubuse

[2021-03-22 16:52] bansalarnav commented on #1494
It shows me a toast if the username is already taken and also updates my username

[2021-03-22 17:24] amitojsingh366 commented on #1462
@KittyX29 the new design is already there just not being used. Look at [kibbeh](https://github.com/benawad/dogehouse/tree/staging/kibbeh)

[2021-03-22 17:25] #1368 closed, assigned to nobody

[2021-03-22 17:35] Mayowa-Ojo opened #1496 "missing icon component in kibbeh"
**Describe the bug**
The `GenericNotification` component tries to import `LgSolidRocket` icon component from `icons` but it doesn't exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'kibbeh/src/ui/NotificationElement/GenericNotification.tsx'
2. Check import statements
3. See error

**Expected behavior**
There should be a `LgSolidRocket` component or the import should just be `Soli

[2021-03-22 17:38] #617 closed, assigned to nobody

[2021-03-22 17:41] f1shy-dev commented on #1491
The custom button has a tailwind property `capitalise` so it makes the first letters capital. We could either add a thing into the language files whether to do this or just remove it and manually capitalise each language file

[2021-03-22 17:44] goldyydev commented on #526
@nadirabbas are you still working on this or can we open this up for contributorrs?

[2021-03-22 17:49] Mayowa-Ojo commented on #1457
Yes you're right. I also thought of this and the first plausible solution I imagine is to append a string of short random generated numbers to the username if it's already taken. E.g if `unorthodev` is taken, `unorthodev-1355` could be generated for the user. A real-world example of this is [Quora](https://quora.com)

[2021-03-22 17:55] ghost commented on #1491
The second option looks good.

[2021-03-22 18:21] amitojsingh366 commented on #1496
I'm not really sure this is a bug as kibbeh is still incomplete...

[2021-03-22 18:32] Mayowa-Ojo commented on #1496
Yh, just wanted to point it out.

[2021-03-22 18:35] samarmohan commented on #1462
Is it possible to run kibbeh locally?

[2021-03-22 19:01] BronzW commented on #1324
Have anybody done the ``NotificationElement`` modifications yet? If not I'm calling dibs on that.

[2021-03-22 19:03] BronzW commented on #1491
That should probably not be done in css, but already done in the translation.json files so the grammar matches and works for each language.

[2021-03-22 19:04] f1shy-dev commented on #1491
Yeah!

[2021-03-22 19:17] sahilmob commented on #1415
It seams that electron itself supports global event listers or `globalShortcut` as they call it [here](https://www.electronjs.org/docs/api/global-shortcut).

What are the required shortcuts so I try to implement them using the  `globalShortcut` api?

[2021-03-22 19:34] amitojsingh366 commented on #1415
@sahilmob we already used that. It works but what we need is a global `keyup`/`keydown` listener for the Push To Talk key bind specially as it requires for us to know how long the user has pressed. That's where iohook comes in but it's not working on linux

[2021-03-22 20:15] babeuh commented on #1415
Would this work? https://www.npmjs.com/package/input-event

I'm not on my computer right now so I can't test it.

[2021-03-22 20:18] AlessandroSpallina commented on #714
+1 for google authentication, non-developer guys don't have github and twitter is not popular in countries like italy

[2021-03-22 21:00] WManuel69 commented on #1496
I'd not think it's meant to be like it is right now, so it's good that you made this issue

[2021-03-22 21:01] WManuel69 commented on #1494
I can reproduce this issue :(

[2021-03-22 21:04] samarmohan commented on #1432
Ok, it's in progress but due to #1462, it won't be released for a while.

[2021-03-22 21:12] amitojsingh366 commented on #1415
Please test it and then reply back. From what I've read in the readme this isn't a viable option as they don't mention anywhere that this is a global solution

[2021-03-22 22:17] sharafabacery commented on #1468
@amitojsingh366  I make this issue for fun

[2021-03-22 22:19] amitojsingh366 commented on #1468
ok. i will close it for fun then.

[2021-03-22 22:19] #1468 closed, assigned to nobody

[2021-03-22 22:23] amitojsingh366 commented on #575
I think this is pointless *(i might be wrong tho)* have a look at this https://www.electronjs.org/docs/tutorial/snapcraft

[2021-03-22 22:31] degrootruben commented on #1161
@goldyydev yes this somehow made it work again, thanks
sorry for the late reply, i'll close the issue now

[2021-03-22 22:31] #1161 closed, assigned to nobody

[2021-03-23 00:19] okdargy opened #1506 "Request to Speak button is gone!"
**Describe the bug**
Can't see the request button

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any room
2. See error

**Expected behavior**
The request speaker button should be there

**Screenshots**
![image](https://user-images.githubusercontent.com/76412158/112074083-6f38df80-8b43-11eb-91e5-c7a1ffd92ff2.png)

**What device are you on?**
Chromebook

[2021-03-23 00:21] Abogical commented on #1506
@benawad The bug seems to be quite recent. Check your recent commits.

[2021-03-23 00:25] okdargy commented on #1506
I think it is a UI error since I used my bot to request to speak and it worked.

[2021-03-23 00:25] Abogical commented on #1506
![dogebug](https://user-images.githubusercontent.com/10688496/112074492-15560b00-8b7f-11eb-8daf-ba2dba4f1f26.png)

[2021-03-23 00:33] okdargy commented on #1506
Seems to be back?
![image](https://user-images.githubusercontent.com/76412158/112074948-7365fc80-8b45-11eb-82c6-d6097fa50fe2.png)

[2021-03-23 00:33] #1506 closed, assigned to nobody

[2021-03-23 00:36] dragonismcode commented on #1506
I have 0 iq.. just realized it was because we only had 1 listener which was myself.

[2021-03-23 01:29] okdargy opened #1507 "Chat becomes misaligned when zoomed into 110% or more"
**Describe the bug**
The chatbox goes more down and is misaligned.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any DogeHouse room
2. Open the chat
3. Make page zoomed in 110% or more
4. See issue

**Expected behavior**
Supposed to be aligned and have the gray line connected at the top.

**Screenshots**
![image](https://user-images.githubusercontent.com/76412158/112078864-27b75100-8

[2021-03-23 01:56] gcavanunez commented on #552
How about this one?
https://use-lilius.vercel.app/?path=/story/datepicker-multi-select--page
https://github.com/its-danny/use-lilius

[2021-03-23 03:45] adhikary97 commented on #927
Yolo

[2021-03-23 03:45] willdoescode commented on #927
dogemoji

[2021-03-23 03:45] theekrystallee commented on #927
but it is serious what do you mean

[2021-03-23 03:46] thaierissa commented on #927
free dogelang

[2021-03-23 04:33] bansalarnav commented on #1496
I think this is an issue in many components. Because many components were made before the `Sm` and `Lg` prefix was removed and they are still importing icons with those prefixes

[2021-03-23 05:46] wes337 commented on #1507
Related to #1050, I don't think this is actually caused by zooming.

[Although we should support zooming up to 400%](https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Resize_content), this doesn't seem to cause any loss of content or functionality.

[2021-03-23 06:57] Rudrava commented on #1068
did not get any error like such since

[2021-03-23 07:02] isaxk commented on #1432
Add it to the kibbeh folder then

[2021-03-23 08:02] isaxk opened #1513 "Transcript for language translation in rooms"
**Is your feature request related to a problem? Please describe.**
Users who don't speak the language of the speakers in the room won't be able to understand the conversation

**Describe the solution you'd like**
A transcript which automatically translates the text to the users selected language

**Additional context**
This feature is just a suggestion for the final realease of the new design

[2021-03-23 09:47] OfekShochat opened #1515 "search select for languages"
**Is your feature request related to a problem? Please describe.**
when you select a language, when you will have tons of them, it will be hard to find your preferred one. so search selection would work.
**Describe the solution you'd like**
search selection (https://select2.org/searching)
**Describe alternatives you've considered**
didn't think of it

**Additional context**
something something
als

[2021-03-23 10:31] amitojsingh366 commented on #1515
Seems cool but #1462

[2021-03-23 10:32] amitojsingh366 commented on #1513
This is cool. But would require a lot of work and also there's this #1462

[2021-03-23 11:39] SalihBulmaz opened #1519 "OAuth not working"
It is windows 10 with electron app.
Neither github nor twitter works for authorization. Leads to github /login/oauth/authorize which is 404 and twitter home page without authorizing.

[2021-03-23 12:22] f1shy-dev commented on #1515
I was working on new language picker but #1462 so I scrapped it.

[2021-03-23 12:37] Delected commented on #384
i see.. i had tested it without a friend in the channel (thus why my bubble was working properly). i'll see if he can get on, and test it again... my apologies

[2021-03-23 12:45] jamesql commented on #384
@Delected @wes337 I got it to reproduce that night I left a comment but now it happens randomly, sometimes it works sometimes it does not.

[2021-03-23 12:54] HarrisonMayotte commented on #384
I'm on the same page as @jamesql

[2021-03-23 12:59] HarrisonMayotte commented on #1515
The feature can be worked on but it just wouldn't be pushed until following the new design's implementation.

[2021-03-23 13:01] HarrisonMayotte commented on #1432
It's no feature PRs across the project. Not just a single section (Kibbeh, kofka, etc.).

[2021-03-23 13:07] OfekShochat commented on #1515
also very easy implementation
this is just a recommendation for a TODO. so this can be implemented anytime obviously
if this will be implemented in new design, sure idk

[2021-03-23 13:11] StratusFearMe21 commented on #1415
I can confirm that this library works globally. But it requires an extra step at install time. The user must be in `input` group in order to gain access to `/dev/input/event0` which is how the library gets global keyevents. This should be trivial to circumvent given that most install systems in Linux allow you to complete this step easily at install time. However this would cripple the AppImage si

[2021-03-23 13:52] samarmohan commented on #1432
I think he meant to add it later when kibbeh is ready.

[2021-03-23 15:34] amitojsingh366 commented on #1519
@SalihBulmaz are you sure you're on the latest version of the app?

[2021-03-23 16:00] f1shy-dev commented on #1515
I was redesigning the picker for twemoji too, so it was going to be custom.

[2021-03-23 16:32] Schellbach commented on #1462
Is there public access to the figma files for the new design?

[2021-03-23 16:42] theCow61 commented on #927
I think this issue should be reopened for the distant future because on Ben's tiktok live he talked about how he is thinking about using DogeLang in some way in the distant future when dogehouse is established and more built.

[2021-03-23 16:42] samarmohan commented on #1462
Yes! Ask @overlisted, I don't have them on me right now.

On Tue, Mar 23, 2021 at 11:32 AM Raz Teve ***@***.***> wrote:

--

*Samar Mohan*
*Two things are infinite: the universe and human stupidity; and I'm not
sure about the universe.                             **     ~Albert
Einstein*

[2021-03-23 16:48] StratusFearMe21 commented on #1415
I'm not very good at nodejs or javascript in general, but I do know rust. So I used it to make a node module that I'm pretty sure meets all the criteria that was specified.

[electron_globkey.zip](https://github.com/benawad/dogehouse/files/6191423/electron_globkey.zip)

You use the library by defining a `.on` function, this creates a callback that can be used to do push to talk, here's an example

[2021-03-23 17:19] amitojsingh366 commented on #1415
If this is your project could you please link a github repo. As we wouldn't wanna use anything that isn't open source for this

[2021-03-23 17:30] HarrisonMayotte commented on #405
Meetings are recorded. Latest meeting is included in the main post.

[2021-03-23 17:43] StratusFearMe21 commented on #1415
Yep, here it is https://github.com/StratusFearMe21/globkey. Sorry for not including this earlier

[2021-03-23 18:06] StratusFearMe21 commented on #1415
I've also created an npm package for this under `globkey` https://www.npmjs.com/package/globkey

[2021-03-23 18:56] samarmohan commented on #405
Yup, I know that now! Thanks.

On Tue, Mar 23, 2021 at 12:30 PM Harrison Mayotte ***@***.***>
wrote:

--

*Samar Mohan*
*Two things are infinite: the universe and human stupidity; and I'm not
sure about the universe.                             **     ~Albert
Einstein*

[2021-03-23 19:21] amitojsingh366 commented on #1415
Ok we'll look into this

[2021-03-23 20:08] f1shy-dev opened #1530 "Optimise Open Source"
Ok, so hear me out ok, our operation here on GitHub is quite good, but there is a bit of a problem. This is what our current state of contributing looks like:
![Flowchart](https://cdn.discordapp.com/attachments/810571477770174506/824009676747178004/highquality.png)

Now obviously, what you can see here is a bottleneck mainly by @benawad What's happening is that these react devs want to help, so th

[2021-03-23 20:11] StratusFearMe21 commented on #1415
This code seems to work for me
[code]
With this code, pressing Ctrl+0 triggers push-to-talk reliably, I'm not entirely sure how keybinds work in the app yet, but I added a function in the library called `capturecombo()` which returns an array of 2 integers when a user presses two keys at the same time when called

[code]

[2021-03-23 20:27] amitojsingh366 commented on #1415
@StratusFearMe21 could i have your discord? i have a few questions...

[2021-03-23 20:28] StratusFearMe21 commented on #1415
CaptainCankle31#6175

[2021-03-23 21:52] samarmohan commented on #1530
Yes, I'm getting bored except I'm new so I'm just understanding the code base.

[2021-03-23 22:08] benawad commented on #1530
0. You are right
1. I want to get more of the new-design done before taking contributions on it so there are design patterns setup that you can use
2. I expect to have a version of the new-design up tomorrow

[2021-03-23 22:27] f1shy-dev commented on #1530
Hmm ok, are we going to keep `kofta` up until the new design is done, in its current state (maybe some bug fixes)? Because when the new GUI is done `kofta` will be removed/outdated right?

And by *done* do you mean all the components done, the full layout done or? Also, why are we using a fixed position while putting components into place right now?

*(Yeah this is quite a few questions, but I jus

[2021-03-23 22:28] f1shy-dev commented on #1530
Can i ask more unrelated questions here or would discord be better?

[2021-03-23 22:42] f1shy-dev opened #1531 "User API Keys"
We could implement a feature where the user can generate an API key to use in applications like bots. Right now, bots like [DogeGarden](https://github.com/dogegarden/dogehouse.js) use the user's token/refresh token taken from localStorage. I think we could just make API keys a feature instead, as part of kebab maybe? So we wouldn't have to like sign up for a GitHub account to use kebab, but maybe

[2021-03-23 23:33] overlisted commented on #1112
i don't feel like installing something myself to run an appimage, are you gonna fix this somehow?

[2021-03-23 23:35] overlisted commented on #1531
i told ajb to include that in the settings menu design

[2021-03-24 03:18] yummyweb commented on #1112
I don't think we can fix it. At least not right now. @overlisted AppImage is a viable option so we advise to do that.

[2021-03-24 03:19] yummyweb commented on #1112
@maksklaus please put your system information here. We need it.

[2021-03-24 03:24] xendaya commented on #1112
{
  "name": "elec",
  "version": "1.0.0",
  "description": "Appname",
  "author": "author <author@mail.com>",
  "main": "main.js",
  "scripts": {
     "postinstall": "install-app-deps",
    "start": "npm install && electron ./app",
    "pack": "build --dir",
    "dist": "build"
  },
    "build": {
    "appId": "yourappid",
    "category": "your.app.category.type",
    "dmg": {
      "contents": [

[2021-03-24 03:25] yummyweb commented on #1112
No yours system info like your os info, not this.

[2021-03-24 03:28] willdoescode commented on #927
this will happen

[2021-03-24 03:28] xendaya commented on #1112
i don't really have the best spec

Type | Full High Definition (FHD) | Full High Definition (FHD) | Ultra High Definition (UHD)
-- | -- | -- | --
Panel technology | Wide Viewing Angle (WVA) | Wide Viewing Angle (WVA) | Wide Viewing Angle (WVA)
Luminance (typical) | 400 nits | 400 nits | 400 nits
Dimensions (active area): |   |   |  
  | Height | 165.24 mm (6.51 in.) | 165.24 mm (6.51 in.) | 165.24

[2021-03-24 03:29] yummyweb commented on #1112
Do not make this hard for me. Send me your linux distro and linux version just tell me which distru u using. That's it.

[2021-03-24 04:12] yummyweb commented on #1531
We have thought of that and we will probably use the refresh token and user token as access keys but instead create a bot account which will have a dashboard for these access keys. This will not start until new design is done.

[2021-03-24 07:16] TheOtterlord commented on #1112
Essentially, what operating system do you use? what subset of linux? (e.g. rasperry pi os, ubuntu, popos, etc)

[2021-03-24 07:39] wes337 commented on #1415
Why is an external library wanted for this? Electron has [globalShortcuts](https://www.electronjs.org/docs/api/global-shortcut) and the [keydown event](https://developer.mozilla.org/en-US/docs/Web/API/Document/keydown_event) is added to the entire document object.

[2021-03-24 07:45] amitojsingh366 commented on #1415
@wes337 please read my original comment more thoroughly. We need `keyup/keydown` events globally. i.e even when app is in background. Also the event that binds to the entire document object only works when app is in foreground. Hence we need a global key event listener library.

[2021-03-24 07:55] yummyweb commented on #1490
Check this out: https://stackoverflow.com/questions/50428339/error-minified-react-error-130

[2021-03-24 08:40] amitojsingh366 commented on #1415
Issue has been resolved! See original comment for more info

[2021-03-24 08:40] #1415 closed, assigned to nobody

[2021-03-24 09:06] pownas opened #1540 "Request lesser information from twitter Api registration"
![image](https://user-images.githubusercontent.com/47676607/112282956-e7a8b900-8c87-11eb-9ade-e0124f5886b7.jpeg)

Privacy concerns...

**Is your feature request related to a problem? Please describe.**
Do you really need all this information while registering a Twitter user account?
I'm not confortable to share all my banned users and my private tweets with this site, even tho I don't have any pri

[2021-03-24 10:22] amitojsingh366 commented on #1519
@HarrisonMayotte i don't think this bug still occurs. I had fixed it fairly recently, almost right before this issue was created.

[2021-03-24 10:23] amitojsingh366 commented on #1450
I will be closing this as there has not been any response from the author.

[2021-03-24 10:23] #1450 closed, assigned to nobody

[2021-03-24 10:26] amitojsingh366 commented on #1135
I think this has been fixed

[2021-03-24 10:26] #1135 closed, assigned to nobody

[2021-03-24 10:27] HonbraDev commented on #1365
@ofsho autocorrect

[2021-03-24 11:12] HarrisonMayotte commented on #1519
Gotcha. I'll close this then.

[2021-03-24 11:12] #1519 closed, assigned to nobody

[2021-03-24 11:53] vi241 commented on #1365
@HonbraDev what?

[2021-03-24 11:54] HonbraDev commented on #1365
I replied to a notofication on my phone, it seems that you deleted the message. It was about MarkDown being one word.

[2021-03-24 12:23] JamalLyons commented on #1112
....

omg dude sent his monitor stats lmao

[2021-03-24 12:52] vi241 commented on #1365
oh ok

[2021-03-24 14:47] samarmohan opened #1544 "Storybook doesn't work"
**Describe the bug**
Trying to run storybook in kibbeh. When I build it

**To Reproduce**
Steps to reproduce the behavior:
1. `cd kibbeh`
2. `yarn`
3. `yarn build-storybook`
4. See error
5. Try `yarn storybook`
6. See other error

**Error**
When building
[code]
When running
[code]

**Expected behavior**
Storybook builds and runs.

**Screenshots**
If applicable, add screenshots to help explain your

[2021-03-24 16:21] arhammusheer opened #1547 "Close emoji menu after pressing send"
**Is your feature request related to a problem? Please describe.**
The Emoji menu has to be closed manually even after pressing send

**Describe the solution you'd like**
Close the emoji menu automatically after pressing send

**Describe alternatives you've considered**
Manually press the button

[2021-03-24 16:24] amitojsingh366 commented on #1530
Isn't new design already up? https://next.dogehouse.tv

[2021-03-24 16:25] amitojsingh366 commented on #1530
I know it isn't complete at all but its up

[2021-03-24 16:41] amitojsingh366 commented on #1112
This issue has been solved. Please build from latest source or get the [latest release](https://github.com/benawad/dogehouse/releases/latest)

[2021-03-24 16:41] #1112 closed, assigned to nobody

[2021-03-24 16:42] prokopschield commented on #1450
It appears to work normally now.

[2021-03-24 17:19] samarmohan commented on #1530
Yes, he wrote it yesterday and today it is up.

[2021-03-24 17:32] f1shy-dev commented on #1547
Is this `kofta` or `kibbeh`?

[2021-03-24 18:44] BronzW opened #1549 "Discord Rich Presence for Baklava"
I just wanted to get feedback on if this would be a good idea, so I don't code something that won't work or won't be merged. It would say maybe what room you are in and how many participants are in that room (not private rooms though).

[2021-03-24 19:25] wes337 commented on #1479
It was decided that this is an invalid bug

[2021-03-24 20:30] amitojsingh366 commented on #1549
@BronzW i don't think we will be implementing this as DogeHouse is supposed to compete with discord too. Instead we are working on a rich presence system for DogeHouse itself

[2021-03-24 23:07] Hotasice123 opened #1555 "language button displays differently depending on chosen language"
1) for example english:
![image](https://user-images.githubusercontent.com/50680297/112394870-ad79fe80-8cfd-11eb-8a2f-af863185f509.png)
2) for example german:
![image](https://user-images.githubusercontent.com/50680297/112394955-d26e7180-8cfd-11eb-8e79-aa381198e3a6.png)

Not sure if it's a feature or a bug, but to me the english one doesn't look as aesthetically pleasing as the german one.

[2021-03-24 23:45] samarmohan commented on #1555
That is because Origin Story in German is so long, it adds a line break to the footer. In `kibbeh`, the new frontend, it will be nicer.

[2021-03-25 00:44] darthnithin opened #1556 "Cannot read chat if the room description is too long."
**Describe the bug**
When the room description displays longer than the available height on the screen, it prevents a user from reading the chat, as they cannot scroll past the room description.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a room
2. Name it anything
3. For room description fill it with a sufficiantly long unicode character that will fill up the page. I used "𒐫".
4.

[2021-03-25 00:56] darthnithin opened #1557 "Long display names cause names to go past the edge of the page"
**Describe the bug**
Very long display names continue outside the user list in the Room list.

**To Reproduce**
Steps to reproduce the behavior:
1. Change your display name to a name consisting of long Unicode characters. (i used ﷽)
2. Join a room
3. Click the house in the top left corner to go back to the page listing the rooms.
4. See error

**Expected behavior**
The long display names should be

[2021-03-25 01:40] samarmohan commented on #1557
I absolutely _hate_ people who make their names super long! 😀
I think we can just add a name limit either when changing your username or displaying it. <br>

YouTube has the same problem to

[2021-03-25 05:34] somerandomdev49 commented on #1547
It is the React frontend

[2021-03-25 07:47] MMK21Hub commented on #1479
Closing as WAI (source: <https://github.com/benawad/dogehouse/pull/1492#issuecomment-804483637>)

[2021-03-25 07:47] #1479 closed, assigned to nobody

[2021-03-25 08:04] MMK21Hub opened #1562 "[ACCESSIBILITY] Use arrow keys to navigate through room members"
**Is your feature request related to a problem? Please describe.**
At the moment, the tab key is used to move the focus from one room member to the next, and eventually to any other button. This is fine with a few room members, but in a large room, this is tedious.

**Describe the solution you'd like**
The arrow keys should be used to navigate within the grid of users, while `tab` will take you yo

[2021-03-25 08:36] BronzW opened #1564 "New line support in chat"
In discord, you can do ``shift+enter`` to create a new line.

[2021-03-25 10:10] comradekingu commented on #802
@HysMX Why Crowdin instead of Weblate? For any of the reasons I can think of, I draw a blank there.

[2021-03-25 13:12] drvladb commented on #1557
It should clamp the user names in the preview menu like it does for room names and names in the room itself.

[2021-03-25 13:16] drvladb commented on #1556
Like #1222, Maybe find a way to clamp description based on character length instead of the number of characters.

[2021-03-25 13:17] drvladb commented on #1547
Please provide more details regarding the browser / platform you are using.

[2021-03-25 13:30] drvladb opened #1568 "Emojis (with no space) are not properly rendered in the new design"
**Describe the bug**
When sending emojis without a space, they are rendered in the old design but not in the new one

**To Reproduce**
Steps to reproduce the behavior:
1. Open new design
2. Join room
3. Have a bot send two emojis with no space in between

**Expected behavior**
Emojis should render even when there is no space between them

**Screenshots**
![image](https://user-images.githubusercont

[2021-03-25 13:30] drvladb commented on #1568
This only works with bots for some reason.

[2021-03-25 13:33] arhammusheer opened #1569 "Electron crashes when opening on M1 MacBook Pro"
**Describe the bug**
The electron app throws an error when opening.

**To Reproduce**
Steps to reproduce the behavior:
1. Use an M1 Macbook
2. Download the release from the GitHub repo
3. Install the app and open

**Expected behavior**
The app works and loads up dogehouse website

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="335" alt="image" src="https:/

[2021-03-25 13:36] TheOtterlord commented on #1569
Thank you for the report. This issue seems to exist across all macOS devices since the latest release. We believe we have patched this in `staging` and are just awaiting a new release. I'll updating this issue with any progress updates until this is solved.

[2021-03-25 13:39] amitojsingh366 commented on #1569
Yes this issue has been fixed. All we're waiting now is for @benawad to create a new release...

[2021-03-25 13:48] drvladb opened #1570 "Build portable apps (for windows) for windows along with installers"
**Is your feature request related to a problem? Please describe.**
Not everyone wants to install Dogehouse, building portable apps will allow them to try it first.

**Describe the solution you'd like**
Build portable apps for windows

**Additional context**
https://stackoverflow.com/a/50906309

[2021-03-25 13:56] cursorial opened #1571 "Running `npm run commit` throws error"
**Describe the bug**
Running `npm run commit` results in errors in my development environment

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository
2. Change to root directory
3. Make your changes (I made some to `kofta/src/app/modules/room-chat/RoomDescription.tsx`)
4. Run `npm i`
5. Run `npm run commit`
6. Choose bug fix
7. Fill out relevant details for your commit

[code]

[2021-03-25 13:57] amitojsingh366 commented on #1571
@TheOtterlord looks like what happened to you?

[2021-03-25 13:59] theCow61 commented on #927
It is inevitable.

[2021-03-25 13:59] amitojsingh366 commented on #1570
@drvladb we were building portable before installers but gh actions didn't want to build them at, so now we're sticking to installers

[2021-03-25 14:02] samarmohan commented on #1571
Delete `node_modules` everywhere, rerun yarn.

[2021-03-25 14:06] cursorial commented on #1571
Same again

[2021-03-25 14:13] amitojsingh366 commented on #1569
@arhammusheer please try out the latest release https://github.com/benawad/dogehouse/releases/latest

[2021-03-25 14:15] cursorial commented on #1571
:facepalm: `yarn`, not `npm i`

[2021-03-25 14:15] #1571 closed, assigned to nobody

[2021-03-25 14:20] TheOtterlord commented on #1571
EDIT: Never mind. I reread the logs. Yeah, but it only caused problems on baklava, I just could not find the modules in the package.json of kofta

[2021-03-25 14:28] amitojsingh366 commented on #1569
I just tested it. This still occurs. Probably has to do something with signing as my local build installs perfectly...

[2021-03-25 14:28] drvladb commented on #1570
@amitojsingh366 sounds good

[2021-03-25 15:53] sudocode1 opened #1574 "Windows Installer triggers Windows Install Warning (1.0.23)"
**Describe the bug**
When running the installer, the "this might not be safe to run" image appears. (shown below)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/benawad/dogehouse/releases/tag/v1.0.23
2. Download the installer EXE
3. Open it
4. See error

**Expected behavior**
No error was expected.

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2021-03-25 15:54] samarmohan commented on #1574
That was already mentioned in the docs, just click run anyway.

[2021-03-25 15:55] goldyydev commented on #1574
Duplicate of #1376

[2021-03-25 15:55] #1574 closed, assigned to nobody

[2021-03-25 16:13] samarmohan commented on #1570
Close this since @amitojsingh366 explained?

[2021-03-25 16:16] samarmohan commented on #1564
This is a great idea! It may be hard to implement though.

[2021-03-25 16:18] samarmohan commented on #42
There is already a chat feature so why would someone pay to send something to a speaker?

[2021-03-25 16:27] vhoyer commented on #42
this was before the chat feature, :shrug: just helping the boy monetize the thing haha but I mean, maybe this can transform into some child of youtube's super chat :D

[2021-03-25 16:28] vhoyer commented on #42
Or even be a configuration for the room :shrug:

[2021-03-25 16:29] samarmohan opened #1575 "Where will a footer be in the new design?"
In the old design, you could report a bug, join the discord, and change your language via the footer. Where will the footer be in the new design or will there be a new page where you can do this stuff.

Re #1432

[2021-03-25 16:30] drvladb commented on #1570
Yeah

[2021-03-25 16:30] #1570 closed, assigned to nobody

[2021-03-25 16:34] samarmohan commented on #1569
Yeah definitely a signing error.

[2021-03-25 16:35] samarmohan commented on #1562
Don't or Kofta, Kibbeh is what we should be focusing on.

[2021-03-25 16:36] samarmohan commented on #1490
How did you get storybook to even run? #1544

[2021-03-25 16:37] troler36 opened #1576 "ZTsmug broken"
**Describe the bug**
:ZTsmug: does not show up in the chat

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a room
2. Click on messages (Emoji's)
3. Click on "ZTsmug"
4. See error

[2021-03-25 16:40] BronzW commented on #1564
add a state if you are pressing shift and if you press enter you simply add a new line

[2021-03-25 16:41] SalihBulmaz commented on #1519
Sorry for not replying. it was an earlier release. It's working properly now.

[2021-03-25 16:41] sahilmob commented on #1324
@ajmnz is there any abandoned/unassigned components?

[2021-03-25 17:01] #1460 closed, assigned to nobody

[2021-03-25 17:43] cursorial commented on #1544
Looks like `../ui/Header` doesn't exist. It was removed here: https://github.com/benawad/dogehouse/commit/5ef207c184db56b209d2d83bbbe547cbaf6e45fb#diff-65cc59190f1e030664134e564aa2d6b11b55555e57ebfbc8bc9e0470338a4a2cL1-L88

Will probably need to re-write the Header story to get this to build.

[2021-03-25 17:54] ghost opened #1578 "Video (Might be a already mentioned suggestion sorry)"
Video calling should be for private calls maybe public im suggesting only private chats for privacy

[2021-03-25 17:57] samarmohan commented on #1578
DogeHouse is supposed to be a better version of ClubHouse. Having video doesn't make sense because the goal of this project was to be voice convos, not be a Google Meet or Zoom.

[2021-03-25 17:58] ghost commented on #1578
Oh ok

[2021-03-25 17:58] DogeMan08 commented on #1578
Can you delete this then

[2021-03-25 17:58] #1578 closed, assigned to nobody

[2021-03-25 18:01] ghost opened #1579 "If you go to change room name the poppup title is in english"
If you go to change room name then it will show the name in english instead of the selected language

I dont know if its just a bug with the language I chose or its a global bug

How to produce the bug:
1. Change language to anything
2. Click on settings and change room name
3. It has the title in english

Its supposed to be in the selected language

[2021-03-25 18:48] ajmnz commented on #1575
<img width="249" alt="Screenshot 2021-03-25 at 19 48 01" src="https://user-images.githubusercontent.com/57961822/112527151-0485df00-8da3-11eb-848e-8fb9e120cdaf.png">

[2021-03-25 18:48] #1575 closed, assigned to nobody

[2021-03-25 19:13] goldyydev commented on #1579
A room's name cannot be magically translated to languages, can you clarify what you mean if it's not the actual room name?

[2021-03-25 20:08] samarmohan commented on #1579
We can't just translate the room name, that is impossible. The room name will be and stay in whichever language it was created in. @goldyydev, please close.

[2021-03-25 20:39] ghost commented on #1579
No not the room name, when you click change the room name the poppup title is in english

[2021-03-25 20:39] ghost commented on #1579
Fixed the title

[2021-03-25 20:51] ghost opened #1582 "closed"
closed

[2021-03-25 21:17] goldyydev commented on #1579
I really can't reproduce this.
![image](https://user-images.githubusercontent.com/55450464/112544914-440ef400-8dc0-11eb-8911-be06a05272da.png)

[2021-03-25 21:19] #1556 closed, assigned to nobody

[2021-03-25 22:49] overlisted commented on #42
this may come in handy in huuuuuuuge rooms where free chat goes too fast

[2021-03-25 22:51] ghost commented on #1579
Nono lemme send my error i think i said it wrong

[2021-03-25 22:54] ghost commented on #1579
Set public room name

"Bug Test"

[Nuligi] -- [Bone]

[2021-03-25 22:55] ghost commented on #1579
thats what i see the title of the popup in english

[2021-03-25 22:58] ajmnz commented on #1324
Not that I know of

[2021-03-25 23:01] samarmohan commented on #1579
Ohh, now you make sense. Let me see if I can reproduce.

[2021-03-26 01:49] drvladb commented on #1579
@DogeMan08 I am unable to reproduce, please post an example screenshot

![image](https://user-images.githubusercontent.com/33793511/112565678-1a939f80-8da3-11eb-8b2f-7798b017dc8a.png)

[2021-03-26 02:09] markmansur commented on #156
I can help on this one!

What do we think about storing the color as a hex string for the user model?

[2021-03-26 02:46] ityonemo opened #1587 "Kousa/FE: "fetch_following_online" is misleading, it doesn't actually check if someone is online."
no further commentary.  This change will require coordination across stacks.  Proposed order of operations is as follows:

- [ ] implement fetch_following across the Kousa stack
- [ ] verify that 'fetch_following' is used nowhere else
- [ ] delete 'fetch_following_online' in Kousa.

[2021-03-26 02:59] nadirabbas commented on #156
no this is just random, and the color is assigned on the frontend when the user joins the room. There is an array of colors for this. So when ever the user changes the color, it should only change the color for that roomchat.

[2021-03-26 08:59] HonbraDev opened #1588 "Gap doesn't work with flex on Safari"
Hello.
After a heated discussion with @overlisted, I have realized that `gap` doesn't work with `flex` on Safari.

Safari:
![Screenshot of Safari](https://user-images.githubusercontent.com/54026315/112607753-cbd51c80-8e19-11eb-90d7-562b82203838.png)

Chromium:
![Screenshot of Chromium](https://user-images.githubusercontent.com/54026315/112607724-c7a8ff00-8e19-11eb-8dd0-558c893d11e5.png)

Maybe we

[2021-03-26 11:52] overlisted commented on #1588
im pretty sure that the flexbugs postcss plugin can fix that

[2021-03-26 12:35] amitojsingh366 commented on #1569
@benawad is working on this

[2021-03-26 13:21] ghost commented on #1579
![Screen Shot 2021-03-25 at 6 51 12 PM](https://user-images.githubusercontent.com/81381841/112637748-dc36c880-8e14-11eb-8688-e15275c80e2e.png)

[2021-03-26 13:48] #1557 closed, assigned to nobody

[2021-03-26 14:05] samarmohan commented on #1579
That doesn't even appear on mine.

[2021-03-26 14:20] cursorial commented on #1579
https://github.com/benawad/dogehouse/blob/staging/kofta/src/webrtc/utils/renameRoomAndMakePublic.ts#L6
https://github.com/benawad/dogehouse/blob/staging/kofta/src/webrtc/utils/renameRoomAndMakePrivate.ts#L6

To reproduce:
1. Start a new room
2. Click settings
![Screenshot from 2021-03-26 14-17-32](https://user-images.githubusercontent.com/2265262/112645191-24b6ac00-8e3e-11eb-868c-94ab7f10cd94.png)

[2021-03-26 15:04] CreativeQuilt opened #1595 "Add a privacy policy"
**Is your feature request related to a problem? Please describe.**
COPPA requires a privacy policy for websites
**Describe the solution you'd like**
A Cookie consent, Privacy Policy like at the bottom.

[2021-03-26 15:26] jakweg opened #1596 "Use a font family that supports polish letters"
**Describe the bug**
The bug renders some polish letters bolder then the others.

**To Reproduce**
Steps to reproduce the behavior:
1. Set language to Polish (Polski)
2. Go to https://dogehouse.tv/me
4. See these ugly buttons

**Expected behavior**
I expected polish letters to be rendered with correct size and thickness glyphs.
Like this
![image](https://user-images.githubusercontent.com/20194971/

[2021-03-26 15:28] Berags opened #1597 "Leave room button doesn't work on new design"
**Describe the bug**
When you enter a room the leave button doesn't work on new next.js design

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'next.dogehouse.tv'
2. Login with GitHub
2. Click on a random room
3. Click "Leave room" button on bottom right corner
4. See error

**Expected behavior**
Leave the room you are currently in

**What device are you on?**
HP Laptop, Google Chrome

[2021-03-26 15:53] MMK21Hub commented on #1562
Yes, that's what I meant.

[2021-03-26 15:53] MMK21Hub commented on #1597
Can confirm

[2021-03-26 16:06] tminhduc2811 opened #1599 "Alert component background color is not suitable"
**Is your feature request related to a problem? Please describe.**
When I click the button to share the room, the alert appears with the default color of react-toastify, which is quite weird and not suitable for the dark theme.
Also, it doesn't support translation.
![image](https://user-images.githubusercontent.com/40265306/112659957-80595780-8e87-11eb-855b-6f6a70e93b35.png)

**Describe the soluti

[2021-03-26 16:16] nobody5050 opened #1600 "Auto generated bios don’t include links to mentioned users or organizations"
**Is your feature request related to a problem? Please describe.**
When you create a new account at doghouse with GitHub, it imports your GitHub bio. It Doesn’t however link to any organizations or users you’ve mentioned, for instance @dahlia-os or @mcpi-devs in my case

**Describe the solution you'd like**
Make anything directly following an @ be a link to 'GitHub.com/[insert username here]'

**D

[2021-03-26 16:17] BronzW commented on #1491
Yeah we should not use ``capitalise`` in the new design

[2021-03-26 16:20] msolano00 opened #1601 "Follow list displaying repeated users"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the home page
2. The left hand sidebar (followed users) has a repeated list of the same user

**Expected behavior**
List of followed users should be unique

**Screenshots**
![image](https://user-images.githubusercontent.com/2273023/112661737-36dc1e80-8e2d-11eb-8c59-3

[2021-03-26 16:27] mmattbtw opened #1602 "[You can't ban users, that aren't in your room] Spam Bots..."
Spam bots are now in DogeHouse! Yay!!! /s

<img width="434" alt="Screen Shot 2021-03-26 at 11 26 52 AM" src="https://user-images.githubusercontent.com/30363562/112662858-2bd1c000-8e26-11eb-9937-4d613f0d3f93.png">

This bot joins, chats, then leaves all at the same time.

<img width="495" alt="Screen Shot 2021-03-26 at 11 27 13 AM" src="https://user-images.githubusercontent.com/30363562/112662904-3

[2021-03-26 16:34] reece-barker commented on #1602
same here i approve this issue

[2021-03-26 16:42] nadirabbas commented on #1602
Click on their name in-room chat? which gives you the ban button.

[2021-03-26 16:43] mmattbtw commented on #1602
@nadirabbas

The image above that line, is me clicking on their name in chat.

[2021-03-26 16:45] nadirabbas opened #1604 "Kibbeh: Room chat auto scroll is not working"
I think @benawad commented out the auto-scroll logic, probably because it had some efficiency problem.

https://user-images.githubusercontent.com/38838675/112665191-9c0b3080-8e7c-11eb-99cb-b7916ab35e2b.mp4

[2021-03-26 16:47] nadirabbas commented on #1599
all design-related things will get fixed in the new design. which has different toasts.

[2021-03-26 16:47] #1599 closed, assigned to nobody

[2021-03-26 16:49] cdbattags commented on #578
I think we can start [here](https://github.com/ethand91/mediasoup3-record-demo) as an example?

https://github.com/ethand91/mediasoup3-record-demo

[2021-03-26 16:56] cjdenio opened #1605 "Desktop app crashes immediately on macOS"
**Describe the bug**

When I try to open the Electron app on macOS, it crashes without even saying hello :(

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Observe error
3. Rethink life choices

**Expected behavior**

I expected it to work

**Screenshots**

<img width="283" alt="Screen Shot 2021-03-26 at 12 29 11 PM" src="https://user-images.githubusercontent.com/3452

[2021-03-26 17:00] mmattbtw commented on #1605
+1, I can replicate this on an M1 MacBook Air too.

[2021-03-26 17:00] cjdenio commented on #1605
oops #1569 already exists

i swear i searched for issues before opening this, but that one remained elusive 🤔

[2021-03-26 17:00] #1605 closed, assigned to nobody

[2021-03-26 17:40] ityonemo commented on #888
nope, I mean calling the modules directly instead of via an intermediary, those modules should still exist in release.

[2021-03-26 18:00] f1shy-dev commented on #1564
I was planning to redo the whole textbox anyway to support WYSIWYG emojis and more, but that was for kofta. When emojis gets added to new-design I could work on this

[2021-03-26 18:01] f1shy-dev commented on #1602
this issue is on the new design too, and it shows "no audio consumer for some reason" for people who had left the room and said something in chat.

[2021-03-26 18:50] iWanheda opened #1610 "New website looks weird on Opera"
![](https://b.catgirlsare.sexy/Vqzn5lFw.png)

[2021-03-26 19:50] GKaszewski opened #1613 "Outdated profile description"
**Describe the bug**
Profile description on DogeHouse doesn't match with Github account after changing it on Github.

**Expected behavior**
Updated description on my DogeHouse profile.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/42281413/112685287-a1fd1380-8e74-11eb-9720-93324a968bb9.png)
![image](https://user-ima

[2021-03-26 20:00] ghost commented on #1579
Thanks @cursorial for fixing this I will close this now

[2021-03-26 20:00] #1579 closed, assigned to nobody

[2021-03-26 20:35] goldyydev commented on #1613
The description isn't really supposed to update. it fetches it from github as a "courtesy".  This is intended behaviour, but may need some work.

[2021-03-26 20:35] goldyydev commented on #1613
Didn't mean to close it

[2021-03-26 20:36] goldyydev commented on #1610
Opera is chromium based, that shouldn't happen. try disabling all extensions.

[2021-03-26 20:37] iWanheda commented on #1610
No extensions with it

[2021-03-26 20:49] goldyydev commented on #1610
are you trying to access it via [next.dogehouse.tv](https://next.dogehouse.tv) or a local copy?

[2021-03-26 20:53] goldyydev commented on #1480
This issue is caused by users being able to set their profile url to `https://avatars.githubusercontent.com/u/`

[2021-03-26 20:54] kasparnoor commented on #1610
Looks good for me
![unknown (12)](https://user-images.githubusercontent.com/68809743/112691553-2ad07b00-8e86-11eb-96e7-52abac829f1d.png)

[2021-03-26 20:58] kasparnoor opened #1615 "Routing not working correctly to the new dashboard"
When going to https://next.dogehouse.tv/dashboard > logging in with the button on the top left > it redirects me to the old dashboard, not the new one

**Steps to reproduce:**
1) Go to specifically https://next.dogehouse.tv/dashboard
2) Log in with the github button

**Expected results:**
Log in to the new dashboard

**Actual results:**
Logs in to the old dashboard

[2021-03-26 21:14] amitojsingh366 commented on #1615
As the new version isn't completed yet i feel this issue is invalid as this may still have to be worked on or may have been fixed already just not deployed...

[2021-03-26 21:18] amitojsingh366 commented on #1602
@vishy-dev is shows no audio consumer for everyone...

[2021-03-26 21:21] cursorial commented on #1615
Is there somewhere we should track issues specific to the new version?

[2021-03-26 21:32] kasparnoor commented on #1615
Are we not supposed to open issues about the new version?

[2021-03-26 21:37] amitojsingh366 commented on #1615
@kasparnoor i'm not really sure. what i wrote above were just my opinions as there's been a flood of issues relating to the new version. i've asked ben about this and what should be done, just waiting for his response. till then ig there isn't a problem

[2021-03-26 22:13] f1shy-dev commented on #1604
This seems even more broken now, I don't even have a chat scroll.

https://user-images.githubusercontent.com/56125930/112697879-69fbcd80-8e80-11eb-808c-9f3d181d9de3.mov

[2021-03-26 22:17] f1shy-dev commented on #1615
This doesnt seem to be happening anymore, it redirected to new dashboard fine.

[2021-03-26 22:19] f1shy-dev commented on #1600
For this to work, we would need to add some form of WYSIWYG editor to the bio section so that we could add links/mentions. This isn't added yet, but adding it would also mean we would need to add it for non-github users.

[2021-03-27 00:09] samarmohan commented on #1613
I’m guessing you changed it because it’s your birthday, happy birthday if it is!

[2021-03-27 00:54] amitojsingh366 commented on #1615
@cursorial @kasparnoor you can now create an issue related to the new version under the tag "new-version-bug" there should be a issue template for this aswell.

[2021-03-27 00:58] amitojsingh366 commented on #1576
yep can confirm. it doesn't work

[2021-03-27 05:48] menstruated opened #1620 "Empty space bio profile"
**Describe the bug**
Can fill bio with empty space

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'profile page'
2. Click on 'edit profile'
3. Fill bio with empty space
4. Save and voice settings and sound settings go right to the bottom

**Expected behavior**
Not allow just empty space

**Screenshots**
https://catgirls-are.sexy/​‌​‌​​‌‌​‌​‌​‌​​​‌‌‌​​​‌​‌‌‌​​‌​​‌‌‌​‌‌‌​‌​‌​‌‌​​‌​​‌​​​

[2021-03-27 06:23] ityonemo opened #1622 "Kousa/FE interop"
suggest renaming "fetchId" to "call_ref" and renaming the procedure on the FE side a "call", to bring it in line with distributed systems and erlang/OTP terminology.

[2021-03-27 07:10] 1kvsn commented on #1480
I've pushed the fix here:
https://github.com/benawad/dogehouse/pull/1623

[2021-03-27 08:16] imadill commented on #1620
Sus link 🤨

[2021-03-27 08:17] menstruated commented on #1620
Pays.host..?

[2021-03-27 08:59] 1kvsn commented on #1085
@nadirabbas my PR for another Avatar related bug fixes this issue as well since the component is the same. Please check: https://github.com/benawad/dogehouse/pull/1623

If src image doesn't exist, it will cause error and then it'll use the prop **usernameForErrorImg**

[2021-03-27 09:30] 1kvsn commented on #1620
I've fixed it and raised a PR here: https://github.com/benawad/dogehouse/pull/1624

[2021-03-27 09:47] 1kvsn commented on #1449
There are multiple Avatar related issues active as of today, 27th Mar 2021. If the Avatar component doesn't receive a valid src, the onError is fired and we have **usernameForErrorImg** prop for this purpose. This prop was not passed in RoomChatList component. I've fixed it here:

https://github.com/benawad/dogehouse/pull/1626

[2021-03-27 10:20] overlisted commented on #1588
i will try solving this with flexbugs-fixes after i finish the new login page

[2021-03-27 11:30] deijjji303 opened #1628 "New Version Bug: Going back to Login when joining room while in room"
When joining a room while in another room (via mini player in the top right) the user is sent back to "Login with GitHub"

Steps to reproduce the behavior:
1. Join a room
2. Click on the DogeHouse logo (to go back to the dashboard)
3. Join another room
4. See error

**Expected behavior**
The user should leave the current room and join the one they clicked on.

**What device are you on?**
Windows 1

[2021-03-27 13:53] samarmohan commented on #1628
I’m working on fixing this!

[2021-03-27 14:40] CreativeQuilt opened #1630 "Chat will not send messages"
**Describe the bug**
I cannot send messages though chat

**Expected behavior**
Chat is supposed to go through

**Screenshots**
https://drive.google.com/file/d/1NlvxvS1L-0ONUFm1JLZm8SV83aUV-HFU/view

[2021-03-27 15:20] HarrisonMayotte commented on #1449
Merged into staging.

[2021-03-27 15:20] #1449 closed, assigned to nobody

[2021-03-27 15:31] goldyydev commented on #1480
Fixed in #1626

[2021-03-27 15:31] #1480 closed, assigned to nobody

[2021-03-27 16:01] benawad opened #1631 "kousa deeplink auth for react native"
[code]

[2021-03-27 16:30] Choongkyu commented on #1472
@ArnavBansal11 thanks. would you happen to know how the frontend communicates with the voice server?  It looks like there might be a direct connection via websocket, but then it also looks like it communicates indirectly through the backend to the message broker. Are there ports that need attention/forwarding?

[2021-03-27 17:25] ityonemo opened #1635 "Kousa: set userlevels for each room"
Current design:  three booleans
`isSpeaker`
`isMod`
`askedToSpeak`

This can be consolidated into an EctoEnum  (https://hexdocs.pm/ecto_enum/api-reference.html)
Important: use this library, not builtin `Ecto.Enum`, for important compatibility reasons

with several levels:

`:listener`, `:waiting_to_speak`, `:speaker`, `:mod`, `:owner`

since these "userlevels" are modelable as a disjoint set, this

[2021-03-27 17:26] ityonemo commented on #1635
- [ ] review how room ownership should work.

[2021-03-27 17:30] ben9583 opened #1636 "MacOS Electron app closes application instead of window"
On MacOS, it's expected that when the user closes a window by either clicking the red "x" on the top left of a window or by using Command + W, the window will close, but the application will still be running, as represented by the icon remaining in the dock. However, when closing the app by clicking the "x", the application itself also closes. Furthermore, when closing with Command + W, the applic

[2021-03-27 18:10] ityonemo opened #1637 "Kousa/FE: deprecate block_user_and_from_room?"
unless there is a good reason for this operation to be transactional or atomic, we should consider removing it to keep the contract surface area lower.

[2021-03-27 19:30] ghost opened #1639 "Edit any room informations (IDOR)"
1-Go to any room
2-Copy room id
3-Send this websocket request ({"op":"edit_room","d":{"name":"test","privacy":"public","description":"test"},"fetchId":"Room id here"})
4-Now you edited the room informations without any permessions

(wrong place , sorry for that)

[2021-03-27 20:11] #1639 closed, assigned to nobody

[2021-03-27 20:11] benawad commented on #1639
(fixed)

[2021-03-27 20:51] KeloDraken opened #1640 "Black screen when entering room, Firefox"
**Describe the bug**
When trying to access a doge room the page turns black, only the audio comes through. This happens both in https://dogehouse.tv and https://next.dogehouse.tv

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'any room'
2. Audio plays but nothing displayed

**Expected behavior**
There should be a view showing people in the room and a chat box on the side, plus other b

[2021-03-27 20:58] GKaszewski commented on #1613
Yeah, I was thinking that something like that was supposed to happen. Nevertheless, it would be cool to change the description on DogeHouse.

[2021-03-27 21:06] overlisted commented on #1640
I'm on Linux and using Firefox too. Can't reproduce

[2021-03-27 22:32] goldyydev commented on #1640
I feel like one of your extensions is causing this behaviour. try disabling them and reload the website.
![image](https://user-images.githubusercontent.com/55450464/112736655-68580580-8f65-11eb-87bc-c3d68e844122.png)

[2021-03-27 22:33] goldyydev commented on #1595
@benawad

[2021-03-27 22:34] goldyydev commented on #1630
This has been caused by an exploit that has since been fixed.

[2021-03-27 22:34] #1630 closed

[2021-03-27 22:35] goldyydev commented on #1596
@JakubekWeg can you please suggest a font family that supports it?

[2021-03-27 22:48] KeloDraken commented on #1640
I disabled all of them, its still happening
![Screenshot from 2021-03-28 00-46-34](https://user-images.githubusercontent.com/65687571/112736946-56736400-8f5f-11eb-96dd-53b3eed15b58.png)
![Screenshot from 2021-03-28 00-46-58](https://user-images.githubusercontent.com/65687571/112736949-583d2780-8f5f-11eb-8878-0472fb62e1b6.png)

[2021-03-28 00:03] GiggioG opened #1642 "Started working on a Toki Pona translation."
Toki Pona is a minimalistic conlang, and I wanted to translate DogeHouse into it. I am about 15% done at the point of writing this. I am writing this issue to inform anyone else that wants to translate DogeHouse into Toki Pona, that I have already started, but if you wanted to translate it, I would be glad to get some help. If you want to help, then reply to this in the bottom.

[2021-03-28 00:51] #1544 closed, assigned to nobody

[2021-03-28 01:00] benawad commented on #1615
note to self: this caused by not normalizing path and looking at origin `?next` part messes things up

[2021-03-28 01:17] #1601 closed, assigned to nobody

[2021-03-28 01:18] benawad commented on #1597
should be fixed now

[2021-03-28 01:18] #1597 closed, assigned to nobody

[2021-03-28 02:16] mkredzel commented on #1613
It wouldn't make much sense to make it update on every connection... what if somebody wants to customize profile description that has nothing to do with their GitHub account?

Instead of taking it as a bug we could actually take it up as a new feature (having a button or checkbox that allows fetching the description on demand)

[2021-03-28 02:46] benawad commented on #1640
try opening console and see if there is an error

[2021-03-28 02:47] benawad commented on #1637
instead have the FE send 2 requests?

[2021-03-28 02:54] #1587 closed, assigned to nobody

[2021-03-28 06:04] amitojsingh366 commented on #1640
Can't reproduce. @JustM3Dev i remember you had a similar issue... any ideas?

[2021-03-28 08:21] shubhamrangaa commented on #1413
I would like to implement this enhancement.

[2021-03-28 08:52] KeloDraken commented on #1640
It's working properly now. I don't know why it did that

[2021-03-28 08:52] #1640 closed, assigned to nobody

[2021-03-28 09:03] jakweg commented on #1596
I'm not a designer, so I don't know which font looks the best, however most popular fonts support most languages therefore I would choose a font that is popular and is used by other websites.
For example GitHub uses this CSS to style the website:
[code]
And it works, so why don't we just copy this line?

[2021-03-28 10:41] isaxk opened #1644 "What are coins?"
I recently saw issue #1575 and I saw a button marked 'get coins' and I was intrigued as to what this is.
Can you tell what coins will do once the app is fully released

[2021-03-28 11:33] justmedev commented on #1640
Yes I had the same issue. I still don't know why it occurs.

[2021-03-28 11:46] ghost commented on #1462
Is there any update regarding the new design? or any kind of E.T.A? I'm just really pumped for the new design :)

[2021-03-28 12:30] ajhalili2006 commented on #575
Hi, @amitojsingh366! Maybe you're wrong tho, but I'll either merge back the `snap` directory into `baklava/snap` here soon or transfer the repo to Ben.

For now, I have other stuff I may need to do, so my apologies for the delay to reply and also updating the snap.

[2021-03-28 12:32] amitojsingh366 commented on #1462
@FrostyTheDumDum ETA 1-2 weeks

[2021-03-28 12:41] amitojsingh366 commented on #575
Umm i meant to say doesn't electron have inbuilt support for snaps
https://www.electronjs.org/docs/tutorial/snapcraft

[2021-03-28 12:42] RigidStudios opened #1645 "Line alignment while in a room"
**Problem:**
The separator on the room and on the chat don't align, they're identical sections so they should end identically:
![image](https://user-images.githubusercontent.com/34319439/112752460-3afe6c80-8fe4-11eb-98ef-e0aa79638fff.png)

**Solution:**
Select one size for both and align the lines.

[2021-03-28 13:14] ghost commented on #1462
https://www.youtube.com/watch?v=I2j4w4xYXtM

[2021-03-28 14:01] GiggioG commented on #1642
I am using the `tp` locale, just saying if someone wants to use it, they can't.

[2021-03-28 18:25] piprett opened #1649 "Max mention"
**Is your feature request related to a problem? Please describe.**
Yes! It's very related to a problem I had. I were in a room, and then someone comes in and spam mention me. There was no mods currently online, and I ended up leaving the room.

**Describe the solution you'd like**
What I want to happend is that there was added a max mention. So if someone try's to mention someone many times it won

[2021-03-28 18:32] ityonemo commented on #1637
I think that's reasonable, no?

[2021-03-28 18:34] ityonemo opened #1652 "Kousa: users info map in JSON responses leaks currentRoom field"
not critical, usually only contain Ecto.AssociationNotLoaded information.

[2021-03-28 19:11] BronzW commented on #528
Has this been implemented?

[2021-03-28 21:01] nadirabbas commented on #528
yeah i saw a PR

[2021-03-28 21:56] iDubno opened #1653 "DogeHouse Does Not Install On AUR (Arch User Repository)"
If you try to build DogeHouse in Arch Linux, it will fail to build.

Steps to reproduce the behavior:
1. Go to The AUR
2. Build it
4. You will see an error (see screenshot)

Screenshots
![NHdMUS1](https://user-images.githubusercontent.com/81489750/112769414-bed24c00-9018-11eb-9b49-7ba4f6ca53a5.png)

[2021-03-28 22:43] CreativeQuilt commented on #1595
@benawad Don't take it as a joke

[2021-03-28 23:10] probicheaux opened #1654 "Room title not displaying properly on iPad chrome"
**Describe the bug**
See title.

**To Reproduce**
Open a room in old dogehouse on iPad chrome. Seems to only happen on rooms with many speakers.

**Screenshots**
![4B344AD3-DD53-4579-AA79-D870B1150661](https://user-images.githubusercontent.com/25629529/112771381-5f584a00-8fe0-11eb-9d84-c0b371fcf49d.png)
![5A22745F-BDC7-4502-8F7C-8F749B056A8E](https://user-images.githubusercontent.com/25629529/1127

[2021-03-28 23:55] samarmohan commented on #1628
It's gone, I didn't do anything.

[2021-03-29 00:04] amitojsingh366 commented on #1653
DogeHouse is not yet officially supported on AUR. please try to install from the latest builds available [here](https://github.com/benawad/dogehouse/releases/latest)

[2021-03-29 00:04] #1653 closed, assigned to nobody

[2021-03-29 00:42] GStudiosX2 commented on #1654
Lol but they working on new design what's the point of them doing this ;-;

[2021-03-29 01:05] probicheaux commented on #1654
If you mean "why should they fix this bug", I'm not saying they necessarily should, but whoever wrote that component should be made aware that it's not working as intended in this environment so they can avoid this problem in the future!

If you mean "why should anyone look at this issue", see the above.

[2021-03-29 08:02] zackworkstorage opened #1661 "Cannot hear voice or sound, showing ICE failed message"
**Describe the bug**
Unable to hear the sound after join the room. And i found ICE failed issue when using firefox

**To Reproduce**
Steps to reproduce the behavior:
1. Install prod branch following "CONTRIBUTING.md"
2. Create new room
3. Join room with 2 different browser
4. See error : WebRTC: ICE failed, add a STUN server and see about:webrtc for more details

**Expected behavior**
Can hear sou

[2021-03-29 08:02] WilliamShockleyfake opened #1662 "Can't delete account"
Where can I delete my account? Don't have this feature in profile section

[2021-03-29 08:03] mklemersson commented on #928
I agree that this might be redundant data unless, just something that might not be the case, let's say that a speaker could send its message to more than one room like an alert message but, I think that this is something that will unlikely happen.

[2021-03-29 10:09] HonbraDev commented on #1653
![image](https://user-images.githubusercontent.com/54026315/112821913-903f8a00-9087-11eb-9d12-6ffab33bedee.png)

[2021-03-29 10:33] HonbraDev commented on #1654
lmao that's Chrome

[2021-03-29 10:35] HonbraDev commented on #1602
Thank you for the idea. Will get to coding immediately after class.

[2021-03-29 11:09] kasparnoor opened #1664 "Safe images implementation idea"
**Is your feature request related to a problem? Please describe.**
The only problem is that the way one can express themselves is limited by only having text and voice.

**Describe the solution you'd like**
To avoid storing data and weird Angular code snippets in images we should have image popups when clicking on an Imgur link.

**Describe alternatives you've considered**
Maybe automatically embe

[2021-03-29 11:39] lightstride commented on #1664
"weird Angular code snippets"

[2021-03-29 11:58] timvandam commented on #1662
Not a bug. It has been disabled as deleting your account also removes any bans you have, so deleting and then re-creating your account allowed you to circumvent bans

[2021-03-29 12:13] amitojsingh366 commented on #1662
This is intentional

[2021-03-29 12:13] #1662 closed, assigned to nobody

[2021-03-29 16:02] GStudiosX2 commented on #1654
im basically saying whats the point in fixing it in the old version if its a bug in the new one too then it can be fixed but theres no point in them doing the old one

[2021-03-29 17:01] probicheaux commented on #1654
Oops

[2021-03-29 17:04] vijairamg commented on #1427
Is this still active ? If yes , I would like to fix it.

[2021-03-30 00:39] fishsticks89 commented on #1661
We could have the site reload every time it encounters this error as a temporary fix *laughs in jank*

[2021-03-30 00:40] fishsticks89 commented on #1654
Precisely

[2021-03-30 00:43] fishsticks89 commented on #1620
Should we resolve this then?

[2021-03-30 02:18] LastCleanShirt opened #1678 "Censor message option when creating room suggestion idea"
**Is your feature request related to a problem? Please describe.**
Without censor option on creating room, people can swear as much as they like, and some people might get disturbed as they wanted a room without swearing

**Describe the solution you'd like**
Adding censor swearing option to prevent people from swearing on chat messaging

**Describe alternatives you've considered**
Warning people a

[2021-03-30 02:22] LastCleanShirt commented on #1678
edit also

[2021-03-30 02:36] fishsticks89 opened #1679 "DogeParty"
Note: this feature is a lot of work and is probably out of the scope of this project; nonetheless I'm doing some testing in other repos to see if this is possible/feasible

**Is your feature request related to a problem? Please describe.**
It is often hard to coordinate IO games, YouTube videos, and other media consumption that I would like to enjoy with my friends. Also, we're a bit short on mone

[2021-03-30 06:04] isaboo commented on #1678
Can we have readable grammar plz

[2021-03-30 06:04] isaxk commented on #1678
Can we have readable grammar plz

[2021-03-30 06:59] #1455 closed, assigned to nobody

[2021-03-30 07:11] deijjji303 commented on #1628
Can confirm I don't have the bug either now. That's maybe because the login page got redone?

[2021-03-30 07:17] #1628 closed, assigned to nobody

[2021-03-30 07:18] #1620 closed, assigned to nobody

[2021-03-30 10:39] cstmth opened #1681 "SmartScreen warning when using Windows installer 1.0.29"
**Describe the bug**
Windows Defender invokes a SmartScreen warning when launching the .exe file provided in release 1.0.29 for the first time. It can be ignored by clicking on "More information" and "Run anyways".

**To Reproduce**
Steps to reproduce the behavior:
1. Download DogeHouse-Setup-1.0.29.exe from https://github.com/benawad/dogehouse/releases/tag/v1.0.29
2. Run the executable with Windo

[2021-03-30 10:41] TheOtterlord commented on #1681
Duplicate of #1376

[2021-03-30 10:41] #1681 closed, assigned to nobody

[2021-03-30 11:08] cstmth commented on #1681
Sorry for the duplicate, the issue did not come up when just searching "SmartScreen".

[2021-03-30 11:08] amitojsingh366 commented on #1678
I like this idea but i think it would be better if each individual had the option of censoring messages

[2021-03-30 12:07] ajhalili2006 commented on #575
@amitojsingh366 Well there's support, but will merge into this repo soon.

[2021-03-30 12:16] goldyydev commented on #1679
@benawad opinions?

[2021-03-30 14:05] LastCleanShirt commented on #1678
Wait

[2021-03-30 15:12] MMK21Hub commented on #1613
By default, the bio will be taken from GitHub, but the user can uncheck the checkbox to change it.

![image](https://user-images.githubusercontent.com/50421330/113012530-c443a980-9172-11eb-9e08-b47837bc5a84.png)

[2021-03-30 16:03] fishsticks89 commented on #1679
Like I said, this is DISTANT future

[2021-03-30 16:03] HarrisonMayotte commented on #439
Marking as closed as this appears to be resolved.

[2021-03-30 16:04] #439 closed, assigned to nobody

[2021-03-30 16:08] benawad commented on #1679
ask me about this in like 6 months

[2021-03-30 19:24] #1582 closed, assigned to nobody

[2021-03-30 19:32] MMK21Hub commented on #1644
Benaward has been talking about monetisation plans in his DogeLogs, so I'm assuming that it is included in the mockup for future-proofing.

@benawad Sory for the ping, but I think it's up to you to answer this.

Relates to #58.

Could someone add the `question` tag to this?

[2021-03-30 19:57] imansour12 opened #1686 "Percentage does not show when updating"
**Describe the bug**
When opening the DegeHouse exe app (when it needs an update) on windows it does not show a percentage of how far the download has progressed.

**To Reproduce**
Steps to reproduce the behavior:
1-Download an unupdated windows .exe file of dogehouse
2-Install it
-Run it and it should look for updates and update.

**Expected behavior**
Instead of the text showing percentage that

[2021-03-30 20:33] simpatbos opened #1687 "Emotes in bio"
Yo. Small feature request. I would like to put emotes in my bio (i.e. :Sadge: or :POGGIES:). That is all. Thank you.

[2021-03-30 20:50] simpatbos opened #1689 "DogeCoin"
**Describe the feature you'd like**
A currency earned from participating in dogehouse rooms. You can then spend these coins on special features, maybe a gadget that goes next to your name (a badge or title type of thing). This would incentivize people to stay engaged with dogehouse.

**Additional Context**
This idea is implemented very well on twitch. Channel points are often the thing that makes

[2021-03-30 22:49] amitojsingh366 commented on #1686
I had fixed this in #1675. Please try to use the latest build [1.0.29](https://github.com/benawad/dogehouse/releases/tag/v1.0.29). Or if you want to see the percentage and progress bar in action use build [1.0.28](https://github.com/benawad/dogehouse/releases/tag/v1.0.28) and watch the update occur.

[2021-03-30 22:49] #1686 closed, assigned to nobody

[2021-03-30 22:52] amitojsingh366 commented on #1636
The first part of you issue is intentional. We will soon add support for the app to run in background *(probably after the next version is released)* but as of right now there is no support.
However i would like to know mode about the crash you mentioned. Can you please attach the crash report below and also tell which build are you using?

[2021-03-30 23:01] ben9583 commented on #1636
I am using the latest release build at the time (1.0.29). I'll paste the first bit of the crash report and upload the entire report as a text file [here](https://github.com/benawad/dogehouse/files/6232730/report.txt):

[code]

[2021-03-31 01:02] amitojsingh366 commented on #1636
@StratusFearMe21 if I'm not wrong this error looks like the one I've been experiencing due to globkey not yet having graceful exiting?

[2021-03-31 02:25] ityonemo commented on #509
seems to be done?

[2021-03-31 02:25] #509 closed, assigned to nobody

[2021-03-31 03:06] HarrisonMayotte commented on #1436
Short term oauth is probably easier but it would make sense later down the line to be able to make accounts locally.

[2021-03-31 06:08] amitojsingh366 commented on #1569
This issue should be fixed now

[2021-03-31 06:08] #1569 closed, assigned to benawad

[2021-03-31 07:02] kasparnoor opened #1695 "Reactions"
**Is your feature request related to a problem? Please describe.**
The problem from my POV is about bots. Right now when you don't want your bot to spam the chat you make it whisper, but when someone does a command and it just whispers it's weird, because there is no response seen for other users. Reactions would solve that. Obviously reactions would be good for normal users as well.

**Describe t

[2021-03-31 14:01] BronzW commented on #1695
This isn't possible right now because sending a message just sends a websocket message to everybody in the room. It doesn't store anything in the backend that could hold all the reactions. Would be nice to have tho and is implementable, it just requires a lot of work in the backend to get it working.

[2021-03-31 14:02] BronzW commented on #1695
It is possible though to store an id of every message and a WebSocket message that says that this person reacted to that messasge which might be a better solution.

[2021-03-31 14:28] MMK21Hub opened #1697 "Kibbeh: Accessibility: The 'publicity' dropdown in the Create Room dialog does not have a focus state"
**The bug**
In the Create Room dialogue, there is no visual indicator that the 'publicity' dropdown is focused on. This hinders keyboard navigation.

**Steps to Reproduce**
1. Go to the Home screen
2. Click on "New Room"
  → ✔️ The 'Room name' text box is focused
3. Press `tab`
  → :x: The dropdown is focused, but you can't tell
4. Press `tab` again
  → ✔️ The 'Room description' text box is focuse

[2021-03-31 16:16] CreativeQuilt opened #1699 "People Not Showing Up After Joining Room"
**Describe the bug**
Too many issues

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DogeHouse.tv
2. Click on one of the rooms
3. Do you see people there?
4. Inspect JS console does not give errors

**Expected behavior**
It is supposed to show the users

**Screenshots**
https://drive.google.com/file/d/1fQp9KDXYmWjvqibT_-1DJsprzDUUiQ4y/view
**What device are you on?**
Dell Laptop
**Addi

[2021-03-31 16:55] HarrisonMayotte commented on #1699
I'm unable to reproduce on a lenovo laptop, windows server 2012, windows server 2016, and windows 10 desktop.

[2021-03-31 17:11] ermalsh commented on #1654
New design will take precedence over this issue - I believe DogeHouse is focusing development efforts on frontend items related to new design at the moment rather than focusing on small UI bugs like this. Closing this for now.

[2021-03-31 17:11] #1654 closed, assigned to nobody

[2021-03-31 17:13] ermalsh commented on #1610
Confirmed this is working well on Opera and other Chromium browsers.

[2021-03-31 17:13] #1610 closed, assigned to nobody

[2021-03-31 17:33] troler36 commented on #1699
**I am not able to reproduce it**

Device Type / Model:
Desktop or laptop
Operating System:
Linux Ubuntu (64-bit)
True Operating System Core:
Linux x86_64
Browser:
Firefox version 87.0 (64-bit) (Engine: Gecko)
True Browser Core:
Firefox
Browser Build Number / Identifier:
2010-01-01 / 2018-10-01 00:00:00
User Agent:
Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:87.0) Gecko/20100101 Firefox/87.0
HTTP V

[2021-03-31 18:28] benawad commented on #1485
@boorah can you try https://next.dogehouse.tv

[2021-03-31 18:55] benawad opened #1701 "people get muted on deploys"

[2021-04-01 00:38] benawad opened #1704 "changing mics is scuffed"

[2021-04-01 01:06] boorah commented on #1485
No, it doesn't work on that too

![Screenshot from 2021-04-01 06-35-07](https://user-images.githubusercontent.com/39365143/113229376-7e8efa00-92b4-11eb-83b1-76565daefc33.png)

[2021-04-01 04:57] ghost commented on #1485
![image](https://user-images.githubusercontent.com/81065901/113245551-d2a9d680-92d4-11eb-8f52-cef0c6d72f13.png)
It works for me tho

[2021-04-01 05:00] ghost commented on #1485
Could you try signing out and signing in again @boorah

[2021-04-01 05:01] boorah commented on #1485
I already tried that

[2021-04-01 06:45] fxtressia commented on #1678
Agreed, but also add the per-room censorship configuration.

[2021-04-01 06:47] #1513 closed, assigned to nobody

[2021-04-01 09:15] kasparnoor commented on #1689
Good idea, but we don't want people sitting in rooms for no reason to my knowledge.

[2021-04-01 10:16] f1shy-dev commented on #1704
how is it *scuffed*? the gui for it or ? and is this in `kibbeh` or `kofta`

[2021-04-01 15:43] GijsRommers opened #1707 "Voice clips"
-This is a feature request, and i know there wont be new features till the new design launches -

I just found the fuel the dogehouse rocket needs to propel itself into orbit. Imagine dogehouse with a twitter like timeline where people can post short voice clips on for other people to hear. People can like them and maybe (if we can pull that off) reply with short audio clips back.

[2021-04-01 19:41] fishsticks89 commented on #1704
we should only be concerned with fixing kibbeh but the people in discord believe it is a client issue. I have not experienced this on windows chrome... I feel we have insufficient information to act on this and a greater explanation of the issue would be nice

[2021-04-01 22:20] ajmnz opened #1710 "New Version Bug: Room scrolls to bottom when users join/leave"
https://user-images.githubusercontent.com/57961822/113359980-29e98e80-9349-11eb-8025-4d8ceb78363d.mov

[2021-04-01 23:32] amitojsingh366 commented on #1710
can reproduce, but for me it just happens randomly. even when there's no new message or anyone leaving/joining

[2021-04-02 00:02] goldyydev commented on #1710
Both of you are using an older version of DogeHouse, I can identify this because I fixed this exact bug and overhaled the scrollbars. it is live on https://next.dogehouse.tv

[2021-04-02 00:03] goldyydev commented on #1710
![image](https://user-images.githubusercontent.com/55450464/113365800-f82ff200-935f-11eb-80f0-6c854b72564e.png)

[2021-04-02 00:05] goldyydev commented on #1710
Apparently this happens only on Firefox

There are a **lot** of compatibility issues with firefox.

[2021-04-02 00:21] amitojsingh366 commented on #1710
I was checking on this link itself...

[2021-04-02 00:21] amitojsingh366 commented on #1710
oh ok, yea even im using firefox

[2021-04-02 00:27] goldyydev commented on #1710
putting the same message in here in case somebody wants to take it.
![image](https://user-images.githubusercontent.com/55450464/113366948-61653480-9363-11eb-8acb-29fd168440a7.png)

[2021-04-02 00:29] avidianity opened #1713 "Tagalog translation not loading."
I checked in devtools and it seems that `/locales/ph/translation.json` isn't returning the proper json file.

![image](https://user-images.githubusercontent.com/56546989/113366959-57582b80-938d-11eb-96ab-75652b97ea84.png)

[2021-04-02 00:40] ajmnz commented on #1710
Yeah forgot to mention that part. I’m on Firefox

[2021-04-02 04:58] nadirabbas opened #1714 "New Version Bug: Dogehouse closes the ws connection when i refresh the page"
If you refresh the page in Kibbeh, it says something along the lines of "You can only have one tab open at a time"

[2021-04-02 06:16] rzsxdev commented on #1713
The Tagalog translation file is not even present in kofta. The person who added the translations added them to kibbeh only as far as I know.

[2021-04-02 11:08] laforetcan commented on #1324
@ajmnz I can take the NotificationElement modification. I need to add round background to icons and manage the responsivness (for exemple height if the text of the notification is too big)?

[2021-04-02 12:36] lorstenoplo commented on #1324
I will fix responsiveness on landing page
I am not sure if it's temporary page or something like can somebody confirm?
If its going to stay i'll start working on it.

[2021-04-02 14:06] amitojsingh366 commented on #1636
@ben9583 can you try the latest build [1.0.30](https://github.com/benawad/dogehouse/releases/tag/v1.0.30) and check if this still occurs?

[2021-04-02 14:24] goldyydev commented on #1714
Ben has acknowledged this bug.
![image](https://user-images.githubusercontent.com/55450464/113424085-3a951580-93d8-11eb-94f7-76709bc2598e.png)

[2021-04-02 17:50] nobody5050 commented on #1600
That is true. Either that or something to acknowledge that the behavior is unexpected.

[2021-04-02 18:08] sudokud opened #1725 "frontend"
hello, i want to contribute to the project (frontend part) and i want to know why there is two frontend folders Kibbah and kofta :) thank you

[2021-04-02 18:17] ben9583 commented on #1636
Looks like I'm not getting the crash anymore; thanks!

[2021-04-02 18:17] #1636 closed, assigned to nobody

[2021-04-02 18:30] goldyydev commented on #1725
Kibbeh is the new frontend, we're transitioning from CRA to next.js and getting a new design,

[2021-04-02 18:30] #1725 closed, assigned to nobody

[2021-04-02 18:32] goldyydev commented on #1615
This has been fixed.

[2021-04-02 18:32] #1615 closed, assigned to nobody

[2021-04-02 18:34] goldyydev commented on #1714
Ben has fixed this.

[2021-04-02 18:34] #1714 closed, assigned to benawad

[2021-04-02 19:21] ajmnz commented on #1324
@ me (ajb) at #design in our discord

[2021-04-02 23:03] benawad opened #1728 "specific user prokopschield cannot see rooms"

[2021-04-03 01:34] amitojsingh366 commented on #575
@AndreiJirohHaliliDev2006 dogehouse now supports snaps. https://snapcraft.io/dogehouse

[2021-04-03 08:37] crispyaus commented on #1602
Yeah this was turned off, never meant for it to do this. issue since fixed

[2021-04-03 10:44] amitojsingh366 commented on #575
ill be closing this issue now since a snap has been published.

[2021-04-03 10:44] #575 closed, assigned to ajhalili2006

[2021-04-03 12:42] benawad opened #1730 "handle mediasoup timeout error"
[code]

[2021-04-03 13:17] ghost commented on #1730
Remove this line from the code [if it is there] -> .catch(error => { throw error})

[2021-04-03 13:23] ghost commented on #1728
Is the user able to see the rooms using another device ?

[2021-04-03 13:30] nadirabbas opened #1731 "New Version Bug: user nodes have wrong z-index"
![image](https://user-images.githubusercontent.com/38838675/113479834-b1024800-94aa-11eb-947a-7a28a19c3e31.png)

[2021-04-03 13:40] ghost opened #1732 "New Version Bug: The "share link to room" text is barely visible"
![image](https://user-images.githubusercontent.com/81065901/113480108-4eac4600-94b0-11eb-92d3-499cbe464899.png)

[2021-04-03 13:43] ghost opened #1733 "New Version Bug: Participants are able to edit the room name but has no effect"
![image](https://user-images.githubusercontent.com/81065901/113480150-9df27680-94b0-11eb-82aa-47f370d3d642.png)
Users shd not be able to even get this menu. Its kinda confusing

[2021-04-03 13:44] ghost opened #1734 "New Version Bug: The user description in user bio has no S P A C E S"
![image](https://user-images.githubusercontent.com/81065901/113480207-d7c37d00-94b0-11eb-9e68-60b819a7fed4.png)

[2021-04-03 13:48] ghost commented on #1734
Its fine in the homepage tho
![image](https://user-images.githubusercontent.com/81065901/113480315-6637fe80-94b1-11eb-83aa-f35264912cbf.png)

[2021-04-03 13:50] ajmnz commented on #1734
That profile page is temporary, new one coming this next week.

[2021-04-03 13:50] ghost opened #1735 "New Version Bug: Spacing in the room settings is kinda bad"
![image](https://user-images.githubusercontent.com/81065901/113480401-a9926d00-94b1-11eb-94b0-e357cd3303d2.png)

[2021-04-03 13:54] Sound-Cat opened #1736 "New Version Bug: Things are a littlebit squeezed"
The frontend is a littlebit scuffed, I am using Opera GX on a Laptop and on the screenshots you see the problem

Here you can see there is no padding and margin at all:

![Bild_2021-04-03_155123](https://user-images.githubusercontent.com/76255766/113480423-7097cf80-9494-11eb-9443-cdf581ca6439.png)

The icon isn't on the right part:

![Bild_2021-04-03_155321](https://user-images.githubusercontent.c

[2021-04-03 13:57] BronzW opened #1737 "New Version Bug: Emote picker closes after every emote"
It might be the intended way but when you pick an emote the menu closes which is kind of awkard when you want to add more emotes in a row and have to click on the emote icon every time.

[2021-04-03 13:58] ghost opened #1738 "New Version Bug: Rooms never get closed / False rooms are shown in the homepage"
![image](https://user-images.githubusercontent.com/81065901/113480592-a946a180-94b2-11eb-8171-91319f00ff4d.png)
4. Click on the room and ull be taken to the login page.

PS - Im the owner of the room and noone else is there

[2021-04-03 14:00] ghost commented on #1736
Its good on chrome tho

![image](https://user-images.githubusercontent.com/81065901/113480645-093d4800-94b3-11eb-9fe3-a5b627be3ee4.png)

[2021-04-03 14:01] ghost commented on #1737
Thats the issue with the OS not DogeHouse

[2021-04-03 14:01] ghost commented on #1737
It happens on all OS's

[2021-04-03 14:03] BronzW opened #1739 "New Version Bug: Right clicking on room and pressing escape creates several bugs"
**Describe the bug**
If you right click on a room there is a border added to it and a menu comes up, but if you press escape the border stays there and if you scroll up it goes behind the header.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'next.dogehouse.tv'
2. Right click on random room and press escape
3. See error where the border stays there
4. See error where the border is vi

[2021-04-03 14:04] ajmnz commented on #1734
Reopening because this can be a potential issue even with the new design

[2021-04-03 14:06] ghost commented on #1739
This is a problem not with dogehouse, but with how BROWSERS works. Try this on a github issue, it'll be the same

[2021-04-03 14:07] #1739 closed, assigned to nobody

[2021-04-03 14:07] BronzW opened #1740 "New Version Bug: No margin at the bottom of room list"
**Describe the bug**
There is no margin at the bottom of the room list creating an awkard behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'next.dogehouse.tv'
3. Scroll down to the bottom
4. See error

**Expected behavior**
There should be some sort of margin or padding at the bottom of the list to create a less awkard behavior.

**Screenshots**
If applicable, add screenshots

[2021-04-03 14:09] ghost commented on #1740
This is the temporary version - Work is still being done :)

[2021-04-03 14:13] BronzW opened #1741 "New Version Bug: You are able to follow yourself without any effect"
If you look at somebodies following or followers list you can follow yourself (I'm BronzW) but it has no effect. The follow button should probably not exist if it's you.
![image](https://user-images.githubusercontent.com/50546858/113480984-66c39b80-9497-11eb-996f-a3dbaeff30c2.png)

[2021-04-03 14:19] goldyydev commented on #1731
is this another firefox only bug?
![image](https://user-images.githubusercontent.com/55450464/113481157-9dea7a80-94a0-11eb-8523-b9ba5ae1279e.png)
also, when zooming in, it seems perfectly fine
![image](https://user-images.githubusercontent.com/55450464/113481169-ac389680-94a0-11eb-9706-3aa7d119b10d.png)

[2021-04-03 14:24] nadirabbas commented on #1731
then we need more margin to get rid of this illusion.

[2021-04-03 14:25] ajmnz commented on #1710
Fixed, but now there's a massive margin on the bottom.

[2021-04-03 14:26] goldyydev commented on #1731
there is margin, atleast in chromium

[2021-04-03 14:32] ajmnz commented on #1732
I'll design this after profile page is done

[2021-04-03 14:49] #1731 closed, assigned to nobody

[2021-04-03 17:37] nadirabbas opened #1744 "New Version Bug: the bio scrolls"
@ajmnz
![image](https://user-images.githubusercontent.com/38838675/113486602-1f580200-94cd-11eb-9f01-525ed4c06431.png)

[2021-04-03 17:49] drvladb opened #1745 "Docusaurus for docs/"
**Is your feature request related to a problem? Please describe.**
Instead of having a few Markdown files in docs/, have a docusaurus page (something like https://docs.dogehouse.tv).

**Describe the solution you'd like**
Have a docusaurus page (something like https://docs.dogehouse.tv).

**Additional context**
Though docusaurus is my choice for docs, please contribute any other options if you'd li

[2021-04-03 17:50] MMK21Hub opened #1746 "Translation: Allow skipping translation strings"
**Is your feature request related to a problem? Please describe.**
At the moment, each `translation.json` file needs to have every key present, even if that key has not been translated yet.

**Describe the solution you'd like**
Language files should not be required to have every translation key present. If a translation key isn't present in the language file, it will fall back to English.

Advanta

[2021-04-03 17:56] MMK21Hub commented on #1744
Your bug report seems to be very vague, and hard to understand. Please clarify.

[2021-04-03 17:57] MMK21Hub opened #1747 "New Version Bug: Search is not functional"
**The Bug**
On the dashboard, a search bar is present. However, the user cannot actually use it.

**Steps to Reproduce**
1. https://next.dogehouse.tv/dash
2. Type some things into the search bar
3. Press Enter
    → Nothing happens

**Expected Behaviour**
A 'search' of some description would initialise

**Screenshots**
![image](https://user-images.githubusercontent.com/50421330/113499851-3882a200-

[2021-04-03 17:58] MMK21Hub commented on #1741
Can confirm

[2021-04-03 18:05] MMK21Hub opened #1748 "New Version Bug: Loading bar jumps back to near the start"
**The Bug**
When navigating from the dashboard to the dashboard, the loading bar at the top jumps back for a split second once the page is done loading.

**Steps to Reproduce**
1. https://next.dogehouse.tv/dash
2. Click on the DH logo in the top-left
    → ✔️ The loading bar moves from the left to right
3. Wait for the page to fully load
    → ❌ The loading bar displays at ~10% for a split second

[2021-04-03 18:07] nadirabbas commented on #1744
@ajmnz will understand, I was talking about the scrolling.

[2021-04-03 18:08] nadirabbas opened #1749 "New Version Bug: shows no consumer text multiple times"
![image](https://user-images.githubusercontent.com/38838675/113487412-73fd7c00-94d1-11eb-9617-e41ba031dd73.png)

[2021-04-03 20:12] ajmnz commented on #1744
I know nothing about that, definitely shouldn't scroll.

[2021-04-03 21:18] dark-elixir-shibe opened #1750 "Kousa: Refactoring: merge ScheduledRoom with Room"

[2021-04-03 21:56] goldyydev commented on #1749
This is a part of the user's bio

[2021-04-03 21:56] #1749 closed, assigned to nobody

[2021-04-03 23:39] f1shy-dev commented on #1737
Does it only happen when you click one type of emote or multiple or? (I made the emoji picker which is why I’m asking).

[2021-04-04 00:54] nadirabbas opened #1752 "New Version Bug: doesnt show whole bio"
![image](https://user-images.githubusercontent.com/38838675/113495305-2a7d5300-950a-11eb-96f2-d9402e0bfa71.png)

[2021-04-04 05:38] MMK21Hub opened #1753 "New Version Bug: Performance: Unnecessary repainting on (un)focus of search bar"
**The Bug**
When focusing on the search bar in the dashboard, the 'Your Feed' heading is repainted. As far as I can tell, there is no reason for this.

This also happens when the search bar is unfocused, and on tab focus.

**Steps to Reproduce**

1. https://next.dogehouse.tv/dash
2. Enable 'Paint flashing' in Chrome DevTools
2. Click on the search bar
    → :x: 'Your Feed' flashes green

**Expecte

[2021-04-04 06:53] s3ansh33p opened #1754 "New Version Bug: Incorrect links in profile bio"
**Describe the bug**
Incorrect links in profile bio.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://next.dogehouse.tv/u/admin
2. Observe error

**Expected behavior**
The links should be separate and each go to their own respective locations

**Screenshots**
https://i.imgur.com/UpuKexr.jpg

**What device are you on?**
Windows 10, Chrome

**Additional context**
On the older vers

[2021-04-04 08:39] brookmg opened #1755 "New Version Bug: Followers list showing up as following"
**Describe the bug**
The users that are following the user are shown when the currently logged-in user navigates to seeing the profiles they follow.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://next.dogehouse.tv/u/$username/following`
2. See the error

**Expected behavior**
The page should be displaying the list of users which the currently logged-in user is following, not

[2021-04-04 10:17] #1754 closed, assigned to nobody

[2021-04-04 10:22] #1752 closed, assigned to nobody

[2021-04-04 10:22] #1744 closed, assigned to nobody

[2021-04-04 10:24] imansour12 opened #1757 "The images of the room speakers don't stay in the app."
**Describe the bug**
Images of speakers goes out of the app into the screen.

**To Reproduce**
Steps to reproduce the behavior:
Go to the latest build and leave dogehouse in the background and start browsing as you would normally.

**Expected behavior**
The profile pics of the speakers in that specific room should pop in at random places in the screen.

**Screenshots**
![image](https://user-images

[2021-04-04 12:38] nadirabbas opened #1758 "New Version Bug: non creators can also open room edit modal"
![image](https://user-images.githubusercontent.com/38838675/113508981-9c868400-956c-11eb-962e-580b29a8c72d.png)

[2021-04-04 14:27] btarg opened #1759 "New Version Bug: no tab title for rooms"
**Describe the bug**
The tab title is the URL, instead if the room name. I am using the latest Chrome on Windows 10.
![tab title](https://i.imgur.com/jYofxhW.png)

As a sidenote, another bug I encountered was the language menu not working properly (clicking does nothing)

[2021-04-04 14:38] btarg opened #1760 "Feature and visual parity: chat and emojis"
**The emoji browser**
The new design for DogeHouse has an inferior emoji browser. It doesn't allow for searching through the emojis, and looks visually worse.
**The new chat**
The new chat box is smaller than the old one. In comparison to the emoji browser issue this is a minor complaint, but it still makes no sense that the older layout looks nicer visually.
<img src="https://i.imgur.com/0IK8zxy.

[2021-04-04 14:48] duhby opened #1761 "New Version Bug: The "Following" page loads the user's "Followers" instead."
**Describe the bug**
Any user's "Followers" page (u/xxx/followers), displays their "Following" users instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'next.dogehouse.tv'
2. Click on any user's profile
3. Click on "Followers"
4. See that the url takes you to "Following"
5. See that the url displays "u/xxx/followers" instead
6. Go back to their profile
7. Click on "Followers"
8.

[2021-04-04 14:50] btarg opened #1762 "Embeds for social media like Discord, and Room Links"
**Twitter/Discord Embeds**
When pasting a link to a DogeHouse room, there should be embed metadata that shows information about the room, so that when people paste into Discord or post on Twitter, the room information is shown rather than a generic link.
**Getting the link**
This box should not be on a separate page, and that button is ugly.
![link page](https://i.imgur.com/dTYuehR.png)
However, t

[2021-04-04 14:57] ghost opened #1763 "Solidity Dev here - ICO"
Coming from the latest video I would like to help creating the token.

We could launch the token based on Ethereum (what every sane person would do) - or - building it on top of a sketchy Dogecoin Ethereum bridge that I havent really looked into -> https://github.com/dogethereum/docs

So what is the plan,whats the name, how many tokens to give away? I'm excited to be able to contribute.

[2021-04-04 15:01] alexywang opened #1764 "5-30s period of no audio right after joining room"
**Describe the bug**
5-30 second period of no audio after joining a room. The delay seems pretty random, sometimes I am able to hear audio immediately sometimes not.
**To Reproduce**
Steps to reproduce the behavior:
1. Click on a room to enter
2. Wait for audio to finally start playing

**Expected behavior**
Audio begins immediately after joining the room

**What device are you on?**
Macbook Pro

[2021-04-04 15:01] leviFrosty opened #1765 "Open Link in New Tab | next.dogehouse.tv"
**Is your feature request related to a problem? Please describe.**
When in a dogehouse you cannot open a new tab and keep the current page in the same state.

**Describe the solution you'd like**
Opening a new tab doesn't change the previous tab. It should stay the same

[2021-04-04 15:15] amitojsingh366 commented on #1765
this issue seems pointless. dogehouse isn't meant to be opened in multiple tabs, instead just click on whatever dogehouse link you wanna open in a new tab and it should open it in the same tab without making you leave your call...

[2021-04-04 15:15] #1765 closed, assigned to nobody

[2021-04-04 15:17] amitojsingh366 commented on #1764
i am able to reproduce this. doesn't happen all the time and i think switching clients multiple times causes this

[2021-04-04 15:18] benawad commented on #1764
I wonder if it is just lag when trying to connect to +20 speakers

[2021-04-04 15:18] benawad commented on #1764
I have a thing thats synchronous right now, that I should probably switch to async that might solve this

[2021-04-04 15:23] mattmoody05 opened #1766 "New Version Bug: Responsive layout not working as expected"
**Describe the bug**
When viewing the next.dogehouse.tv homepage, ~~both left and right sides are being cut off the page~~ many responsive things such as grids, icons, etc don't function as expected (seems to be that the site is not reacting to change in resolution)

**To Reproduce**
Steps to reproduce the behavior:
~~1. View on a web browser window that is below 1340px wide~~
~~2. Sign into next.

[2021-04-04 15:23] #1758 closed, assigned to nobody

[2021-04-04 15:30] GStudiosX2 opened #1767 "New Version Bug: room timeout bug"
**Describe the bug**
A clear and concise description of what the bug is.
theres a bug on the next.dogehouse.tv site where if you create a room it doesnt join you quick enough and then it kicks you out of the room because the room doesnt exist as it gets deleted because it thinks theres 0 people in the room

**To Reproduce**
Steps to reproduce the behavior:
1. Go to next.dogehouse.tv
2. Click on ne

[2021-04-04 15:31] #1755 closed, assigned to nobody

[2021-04-04 15:36] goldyydev commented on #1759
Currently we're waiting on @benawad to make a REST endpoint to get the room info.

[2021-04-04 15:42] Arthurdw opened #1768 "New Version Bug: Microphone allow while left -> fetch nil room?"
**Describe the bug**
When you are in a room as a speaker, and you have not allowed the browser to access your microphone. Then this little notification with JSON-like data will show up when you leave and click on the allow button for the microphone.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a room
2. request for speaker & get granted
3. do not click on the microphone allow/block p

[2021-04-04 15:43] MiB3Avenger opened #1769 "New Version Bug: Long text doesn't break line on Homepage. (Without spaces)"
**Describe the bug**
If a room has a long title/description text, supposedly more than 32 chars without spaces, then it won't break line. It extends view horizontally and moves out of the view.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new room. Enter title/description text more than 32 chars. No spaces!
2. Go back to homepage.
3. Right panel extends outside of view.

**Expected

[2021-04-04 15:57] amitojsingh366 opened #1770 "New Version Bug: Cannot change profile details while in a room."

[2021-04-04 16:03] akawajid opened #1771 "Room no longer exist alert shows JSON response"
**Describe the bug**
When a room **no longer exists**, it still appears in feed and when you try to open, it will throw an alert along with real **JSON response**.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Rooms Feed'
2. Click on any expired room (no longer exists)
3. See error

**Screenshots**
![Screenshot (3)](https://user-images.githubusercontent.com/45237545/113514608-b9c54d

[2021-04-04 16:10] BooleanCube opened #1772 "next.dogehouse.tv website is not adjusting to the screen"
**Bug:**
The bug is that the website gets blocked off by the vertical tabs feature on microsoft edge browsers when minimized. That might be intentional but when minimized there is no possible way to reach the left-most side of the website because it is minimized a lot. At least there should be a way to scroll to that place. It happens even without the vertical tabs feature. The website doesn't res

[2021-04-04 16:14] ghost opened #1774 "Create a bridged Matrix room"
**Is your feature request related to a problem? Please describe.**
Discord has numerous privacy concerns and many people like me just dislike it in general. Discord is also proprietary software while Matrix is made up of free software.

**Describe the solution you'd like**
Create a Matrix room bridged to Discord to allow people to talk about DogeHouse without using Discord. Matrix is a decentraliz

[2021-04-04 16:15] BooleanCube opened #1775 "New Version Bug: Website doesn't resize with browser tab"
**Describe the bug**
The bug is that the website gets blocked off by the vertical tabs feature on microsoft edge browsers when minimized. That might be intentional but when minimized there is no possible way to reach the left-most side of the website because it is minimized a lot. At least there should be a way to scroll to that place. It happens even without the vertical tabs feature. The website

[2021-04-04 16:15] Arthurdw commented on #1771
This seems to cause a similar issue as #1768.

[2021-04-04 16:17] #1772 closed, assigned to nobody

[2021-04-04 16:38] yonderbread opened #1776 "Use nuetralino.js instead of Electron for desktop app framework"
Nuetralino.js is more lightweight and less bloated because it uses the operating system's built in HTML renderer instead of bundled Chromium
https://neutralino.js.org/

[2021-04-04 16:48] devstanley opened #1777 "Everything is crammed together"
Looking at the website everything looks crammed together and not thought out at all. Such as the Github and Discord logo (picture below) being right next too each other giving no room to each other.

Don't know if anyone agrees but this is my personal opinion.

**Image**
![image](https://user-images.githubusercontent.com/56117736/113515693-f5a2e780-956d-11eb-8207-eaa22f37d0c9.png)

[2021-04-04 16:51] mattmoody05 commented on #1775
I've already got an issue open for the same problem, you can see it [here.](https://github.com/benawad/dogehouse/issues/1766) Might be worth closing the issue so there are not duplicates of the same problem.

[2021-04-04 16:54] BooleanCube commented on #1775
ah ok. the thing about the microsoft edge vertical tabs feature is still a thing since it covers the actual website. I can edit it to be specifically about the vertical tabs thing to make it more clear and different

[2021-04-04 16:56] noftaly commented on #1777
Another example of this is on the login page (Safari 14): the buttons in the middle as well as the links on the bottom right
![image](https://user-images.githubusercontent.com/34779161/113515877-669acd00-9577-11eb-9f4e-16030c5c2d24.png)

[2021-04-04 17:04] pinkjy opened #1779 "Followers and following links on user profile need to be changed"
**Describe the bug**
The followers and following link on the user profile need to be changed
**To Reproduce**
Steps to reproduce the behavior:
Change the link of following option to be the link of followers option and vice versa

[2021-04-04 17:18] purpshell commented on #1777
Firefox is the issue on my system
Running Firefox 78.8.0esr (64-bit) on Linux (Linux Mint Debian Edition)
![image](https://user-images.githubusercontent.com/52720753/113516418-dc586600-9582-11eb-9962-42090a0e7700.png)
![image](https://user-images.githubusercontent.com/52720753/113516426-ee3a0900-9582-11eb-9a2f-4b38a428e768.png)
![image](https://user-images.githubusercontent.com/52720753/113516434-

[2021-04-04 17:19] purpshell commented on #1777
chromium / chrome works

[2021-04-04 17:22] patriksh opened #1780 "New Version Bug: Discord & GitHub links on login page should open in a new tab"
**Describe the bug**
Discord & GitHub links on the login page should open in a new tab

**To Reproduce**
Logout.
Click on Discord & Github links in the footer.

**Expected behavior**
Websites open in a new tab.

[2021-04-04 17:29] devstanley commented on #1777
I was using Opera when taking this screenshot. I have also tried Internet Explorer (Doesn't even load), Brave (Works), Firefox (Works) and Windows Explorer (Works).

[2021-04-04 17:34] #37 closed

[2021-04-04 17:35] #161 closed

[2021-04-04 17:45] #1740 closed, assigned to nobody

[2021-04-04 17:45] #1761 closed, assigned to nobody

[2021-04-04 17:53] Ademking opened #1781 "New Version Bug: No space in the bottom of the page"
**Describe the bug**
There is no space in the bottom of the page. maybe you add a small footer or something.. I don't know

**Screenshots**
![image](https://user-images.githubusercontent.com/12462188/113517074-de67f800-9575-11eb-82a9-043ca8b40bef.png)

[2021-04-04 18:13] DzhideX commented on #1777
I have the same problem as https://github.com/benawad/dogehouse/issues/1777#issuecomment-813067996 on Chrome. Operating System: Linux Ubuntu 20.04

[2021-04-04 19:01] alcpereira opened #1783 "@ autocompletion in chat with Tab"
**Is your feature request related to a problem? Please describe.**
I tried @ someone in chat and expected that Tab would autocomplete the full name.

**Describe the solution you'd like**
Add Tab to the autocompletion option

**Describe alternatives you've considered**
Enter key already works

[2021-04-04 19:21] atharva-bhange opened #1784 "A UI bug where long names start horizontal scrolling"
**Describe the bug**
The screenshot explains it well

**To Reproduce**
You have to find a long name of the user and if that user is your follower, then after viewing your follower u can see the bug

**Expected behavior**
Not have a horizontal scroll and just have it end with ellipse for long names maybe.

**Screenshots**
![image](https://user-images.githubusercontent.com/37930618/113519301-eab9788

[2021-04-04 20:22] nadirabbas commented on #1783
Enter autocompletes when typing usernames.

[2021-04-04 20:27] wafwoof opened #1785 "UI on smaller resolution monitors mean some UI items appear off the screen"
**Describe the bug**
1280x768 monitor will cause dogehouse UI items to appear off screen.

**To Reproduce**
set monitor resolution to 1280x768 (possibly others have not tested extensively).

**Screenshots**
![1280768dogehouse](https://user-images.githubusercontent.com/70172400/113520643-4eac5480-9549-11eb-9ab4-5ae220856e02.PNG)

**What device are you on?**
vivaldi (based on chrome)

**Additional c

[2021-04-04 20:41] #1763 closed, assigned to nobody

[2021-04-04 20:50] ZackaryH8 opened #1787 "Double Click user volume to reset"
**Is your feature request related to a problem? Please describe.**
Resetting a users volume back to 0 can be a bit fiddley

**Describe the solution you'd like**
Add double click of the bar volume slider or extra button would help this a lot

**Describe alternatives you've considered**
Setting the volume back normally

**Additional context**
![image](https://user-images.githubusercontent.com/401757

[2021-04-04 20:53] srivmutk commented on #1777
Same issue on Firefox Mobile version 33.0

![image](https://user-images.githubusercontent.com/52793419/113521248-3e56a280-9566-11eb-8bb4-474e0fe12fa3.png)

[2021-04-04 21:00] ghost opened #1788 "Can't switch language"

[2021-04-04 21:02] ThatOneHidde commented on #1785
yes its not responsive yet

[2021-04-04 21:36] faraz-b opened #1794 "Add ability to go back to listener from speaker"
**Is your feature request related to a problem? Please describe.**
Currently, you are unable to move back to listener mode after being approved as a speaker. Since the speaker status in that room is persistent, there is no way to leave speaker mode.

**Describe the solution you'd like**
Button for user to just go back to listener mode or just click on the "Listeners" text (kinda like discord movin

[2021-04-04 21:37] #1748 closed, assigned to nobody

[2021-04-04 21:46] ityonemo commented on #1745
NB: code docs for kousa should use elixir's ex_doc system; but currently the elixir codebase is very undocumented.

[2021-04-04 21:47] jajabarr opened #1795 "Vertical scroll bar is on entire page instead of house list"
**Describe the bug**
When scrolling through the house list, the vertical scroll bar is on the right-rail of the entire page, instead of just the section.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home
2. Scroll when there are enough channels to scroll

**Expected behavior**
Scroll bar should be inline with the section

**Screenshots**
If applicable, add screenshots to help explai

[2021-04-04 22:20] goldyydev commented on #1788
This has simply not been implemented yet

[2021-04-04 22:21] goldyydev commented on #1795
This is intentional

[2021-04-04 22:21] #1795 closed, assigned to nobody

[2021-04-04 22:48] Putnug1122 opened #1798 "Hover UI to dogehouse logo from chat room need to be change"
it would have been better if the hover to the logo had a more modern look
![Screenshot (114)](https://user-images.githubusercontent.com/62296958/113523565-b6f74680-95da-11eb-9dcf-669dac11106e.png)

[2021-04-04 22:55] Putnug1122 opened #1799 "Language can't switch properly"
Even though the language has been changed to English, the chatroom still uses the user's default language
![Screenshot (117)](https://user-images.githubusercontent.com/62296958/113523683-d93d9400-95db-11eb-8a46-78908292aae4.png)
![Screenshot (118)](https://user-images.githubusercontent.com/62296958/113523686-db075780-95db-11eb-92e5-146e5a3e5343.png)

[2021-04-04 23:07] goldyydev commented on #1784
Fixed in 3ec0c32

[2021-04-04 23:07] #1784 closed, assigned to goldyydev

[2021-04-04 23:14] #1787 closed, assigned to nobody

[2021-04-04 23:54] benawad commented on #1794
click on your avatar a modal will come up with the option

[2021-04-04 23:54] #1794 closed, assigned to nobody

[2021-04-04 23:55] #1779 closed, assigned to nobody

[2021-04-04 23:56] #1776 closed, assigned to nobody

[2021-04-05 00:50] #1788 closed, assigned to nobody

[2021-04-05 00:58] SalihSaygi commented on #1798
As far as I know they are not looking for kofta (frontend/UI) prs since next.dogehouse.tv is created and being updated currently.

[2021-04-05 01:31] epelaaez opened #1803 "New Version Bug: components not placed properly on Opera GX"
**Describe the bug**
When opening https://next.dogehouse.tv/dash with Opera GX browser, some components of the website are not loaded correctly even though zoom is at 100% and all other settings are unchanged.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://next.dogehouse.tv/dash with Opera GX
2. Use browser default settings
3. See components misplaced

**Screenshots**
In the s

[2021-04-05 01:32] YO-SC commented on #1799
The language selection tab on the settings menu (where you click your profile picture) does not work on the _next_ version of the site.

[Dogehouse (NEXT)](https://next.dogehouse.tv)

[2021-04-05 01:36] hisamafahri commented on #1781
#1778

[2021-04-05 01:45] ZackaryH8 commented on #1783
#1804 Adds this

[2021-04-05 02:03] rigba commented on #1803
Can confirm same issues on my operaGX when compared to Chrome. Weird cos theyre both chromium...

Edit: also tested on plain Opera Browser (not the "gaming" fork) and it seems to work perfectly fine. It seems to be a OperaGx specific issue.

![ss1](https://user-images.githubusercontent.com/71916438/113529440-98a54100-9602-11eb-82c6-aed2586b53cd.PNG)
![ss2](https://user-images.githubusercontent.com

[2021-04-05 02:24] Zamion101 commented on #1803
Can confirm same issues on normal Opera (74.0.3911.218) on Windows 10 Pro x64. It looks like some sort of margin error?

@jamesie i don't know if this issues occured beause of the version of Opera but it looks like there is a similar issues on my Opera.

![image](https://user-images.githubusercontent.com/8071263/113530458-637afd80-95c6-11eb-9776-fbec33f9bda4.png)
![image](https://user-images.githu

[2021-04-05 02:25] rigba commented on #1803
Ugh i figured out how to replicate the issue in a normal browser.

If you look at the main div on the login page this div `m-auto flex-col p-6 gap-5 bg-primary-800 sm:rounded-8 z-10 sm:w-400 w-full`

Then turn off display flex on this element:

[code]
And indeed if you go over to OperaGX you will notice its not rendering this flex. I looked into it some more and it might be a common issue :
- http

[2021-04-05 02:26] rigba commented on #1803
@Zamion101 yeah its pretty weird. Have you every expirienced any css bugs like this specifically on opera or operagx?( havent personally)

[2021-04-05 02:28] epelaaez commented on #1803
Adding to @jamesie, I have too developed with Opera GX in the past and have not experienced CSS errors like these while developing or browsing.

[2021-04-05 02:31] Zamion101 commented on #1803
I have little to none experience in front-end unlike @epelaaez but it's the first time i'm experiencing this type of weird CSS (bug?/error) while browsing.

[2021-04-05 02:34] SalihSaygi opened #1806 "A Music Bot with a Player"
**Is your feature request related to a problem? Please describe.**
Not everybody can call music bots and even if they do it is hard to learn and manage it.

**Describe the solution you'd like**
Brand new panel for a music bot, which would probably require a brand new music bot.

**Describe alternatives you've considered**
Configuring a panel for 3rd party bots.
A document/link for a music bot.
Emo

[2021-04-05 02:42] Zamion101 opened #1807 "New Version Bug: Inaccurate/Untranslated Texts"
**Describe the bug**
While using new version of DogeHouse (https://next.dogehouse.tv), some text of the website are not translated and  rendered as `English` rather than `User Language`. This behaviour can be observed in `Profile Page` `https://next.dogehouse.tv/u/`. Also this issues can be related to #1799 .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://next.dogehouse.tv/das

[2021-04-05 02:48] rigba commented on #1780
It redirects you after this is a non issue?

[2021-04-05 03:37] nadirabbas opened #1808 "New Version Bug: Audio playing even after opening multiple tabs"
![image](https://user-images.githubusercontent.com/38838675/113534397-17da4b00-95ea-11eb-91be-dcd9cc6b67a5.png)

[2021-04-05 05:37] amitojsingh366 commented on #1806
ben has already told he has a bot api planned, but there's no ETA. but yeah this is coming but not really specific for music bots, its going to be more like what discord has where you can manage basic details about your bot user.

[2021-04-05 05:41] amitojsingh366 commented on #1806
closed it by mistake...

[2021-04-05 05:44] amitojsingh366 commented on #1803
literally same behavior on the electron wrapper.
![image](https://user-images.githubusercontent.com/35400192/113541566-2bd27c80-95eb-11eb-83f2-4e43d189656c.png)

[2021-04-05 06:07] Putnug1122 commented on #1799
oooh i'm sorry my bad. Thank alot man

[2021-04-05 06:07] #1799 closed, assigned to nobody

[2021-04-05 06:08] Putnug1122 commented on #1798
thank you for the reply

[2021-04-05 06:08] #1798 closed, assigned to nobody

[2021-04-05 06:56] a7medev opened #1811 "New Version Bug: The "share link to room" should be white instead of black"
**Describe the bug**
The "share link to room" text doesn't have a high contrasted color for the dark background.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a room
2. Click on the share icon in the right bottom of the room info
4. See the issue

**Expected behavior**
To have a high contrasted color for the dark background, like white or something

**Screenshots**
![Screenshot](https

[2021-04-05 06:56] isaxk opened #1812 "New Version Bug: Language button does nothing"
**Describe the bug**
The language translation feature button does not do anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'next.dogehouse.tv' and login.
2. Click on 'Your profile picture'
3. Click on language
4. Nothing happens

**Expected behavior**
I expected to see a popout with a language list similar to old design

**Screenshots**
If applicable, add screenshots to help ex

[2021-04-05 06:58] isaxk commented on #1811
This just needs a bit of tinkering with the styles, should be quite easy to do

[2021-04-05 07:14] BronzW commented on #1737
Oh every time you select an emoji and puts it into the chat input the menu closes. Only one.

[2021-04-05 07:18] Th3Hab opened #1813 "https://next.dogehouse.tv/ twitter login does not work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What device are you on?**

**Additio