[2021-04-05 07:22] BronzW commented on #1813
Please fill out the fields in the description of this issue to give a more clear and concise description of what your problem is.

[2021-04-05 07:27] ajhalili2006 commented on #1457
I would like also to suggest to prompt the user to sign in to existing account so these OAuth accounts can be associated with single DogeHouse account if the user wants to.

Otherwise, the user may opt to create a new account instead with some random math suffix or contact DogeHouse Support.

[2021-04-05 08:39] daloes commented on #1812
can confirm, I can't change language as well, clicking on Language does nothing
Safari 14.0.3

[2021-04-05 09:05] MattGodwin opened #1815 "Q&A System"
**Is your feature request related to a problem? Please describe.**
A feature that handles Q&A is necessary as in large rooms such as the contributor meetings people often speak over each other and it can become challenging to understand what everyone is saying.

**Describe the solution you'd like**
A feature where it is easy to add a user as a specific Question Speaker role which can hold 1 user a

[2021-04-05 09:35] patriksh commented on #1780
I see it's been fixed, closing.

[2021-04-05 09:35] #1780 closed, assigned to nobody

[2021-04-05 10:27] ghost commented on #1737
https://user-images.githubusercontent.com/81065901/113564750-7eca2500-9627-11eb-9801-9a1af5be1ff4.mov

[2021-04-05 10:27] ghost commented on #1737
Its not only on dogehouse - even on github

[2021-04-05 11:02] Hendrik7889 commented on #1766
CSS dosent fit and chat bar is hidden

[
![bug](https://user-images.githubusercontent.com/44064629/113567260-98ab3e00-960e-11eb-8f76-d4a48a29233c.png)
](url)

[2021-04-05 11:06] isaxk commented on #1812
I think the feature hasn't been added yet

[2021-04-05 11:09] isaxk commented on #1815
This seems quite complicated and would be tricky to implement, the alternative is a lot more practical

[2021-04-05 11:34] HarrisonMayotte commented on #1699
It appears that this is probably resolved so I'll mark this as closed and it can be reopened if we continue having reports or find anyone else who's able to reproduce it.

[2021-04-05 11:34] #1699 closed

[2021-04-05 12:11] BronzW commented on #1737
Dogehouse has its own emote picker. It doesn't use the OS default. The mac one closes once you select it but the windows one doesn't.

[2021-04-05 12:15] BronzW commented on #1737
If you go into the room and navigate to the chat and then pressing the emoji menu on the right of the input box and choose an emote it will close. That's not the same as the OS emote menu. Dogehouse has its own.

[2021-04-05 12:24] mic-max opened #1822 "Use the uuid npm library for all uuid validation or generation vs. custom code"
Replace "pilaf/src/lib/isUuid.ts" with npm uuid.validate() method

https://www.npmjs.com/package/uuid

[2021-04-05 12:25] BronzW opened #1823 "New Version Bug: Zooming out causes room participants to be spaced awkwardly and wrongly"
**Describe the bug**
When in a room with a few participants and zoom out using `ctrl+-` it causes the avatars and names to be weirdly spaced away from each other vertically.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'next.dogehouse.tv'
2. Click on any room
3. Zoom out using `ctrl+-`
4. See error

**Expected behavior**
The expected behavior is that the participants are supposed to

[2021-04-05 12:30] BronzW commented on #1811
This doesn't happen to me
![image](https://user-images.githubusercontent.com/50546858/113573997-8683cc80-961b-11eb-83c6-87e08b93d508.png)

[2021-04-05 12:32] BronzW commented on #1811
Is there something I'm missing?

[2021-04-05 12:36] BronzW commented on #1759
#1778

[2021-04-05 13:29] #1813 closed, assigned to nobody

[2021-04-05 13:38] iamanalt commented on #1822
Is there any good reason to do this?

[2021-04-05 13:45] siuglukas opened #1825 "New Version Bug: Not redirected in the right place."
Even if you are logged in, you can still navigate and use the login page:  https://next.dogehouse.tv/
I think you should be redirected back to the dashboard: https://next.dogehouse.tv/dash.

[2021-04-05 13:51] #1735 closed, assigned to nobody

[2021-04-05 13:51] #1769 closed, assigned to nobody

[2021-04-05 13:53] #1783 closed, assigned to nobody

[2021-04-05 13:58] asxlvm opened #1826 "Markdown and new lines"
**Is your feature request related to a problem? Please describe.**
It isn't, us bot devs would really like if we had part-Markdown support (bold, underline, strike through, italic) and \n new lines because none of that works now.

**Describe the solution you'd like**
Adding Markdown and \n support to DogeHouse chat

**Describe alternatives you've considered**
Making your own syntax for bold, itali

[2021-04-05 14:42] ajmnz commented on #1811
#1732

[2021-04-05 14:42] #1811 closed, assigned to nobody

[2021-04-05 14:43] #1710 closed, assigned to nobody

[2021-04-05 14:45] ajmnz commented on #1766
Only desktop version is available right now and the grid is hardcoded on purpose (it won't in the future).

[2021-04-05 14:45] ajmnz commented on #1775
#1766

[2021-04-05 14:45] #1775 closed, assigned to nobody

[2021-04-05 14:45] ajmnz commented on #1785
#1766

[2021-04-05 14:45] #1785 closed, assigned to nobody

[2021-04-05 14:48] ajmnz commented on #1812
Not a bug, this feature is pending to be added

[2021-04-05 14:48] #1812 closed, assigned to nobody

[2021-04-05 14:49] ajmnz commented on #1777
#1766

[2021-04-05 14:49] #1777 closed, assigned to nobody

[2021-04-05 14:51] ajmnz commented on #1759
Implemented by #1778

[2021-04-05 14:51] #1759 closed, assigned to nobody

[2021-04-05 15:03] ajmnz commented on #1747
Expected behavior, search hasn't been implemented yet.

[2021-04-05 15:03] #1747 closed, assigned to nobody

[2021-04-05 15:04] ajmnz commented on #1604
I believe this has been fixed, can you confirm? @nadirabbas @vishy-dev

[2021-04-05 15:06] ajmnz commented on #1781
I believe this has been fixed. Can you confirm @Ademking

[2021-04-05 16:56] chsaikumar445 opened #1832 "Error while joining a room in mobile"
I don't what the error is about but here is the screenshot
![Screenshot_2021-04-05-22-22-31-694_com android chrome](https://user-images.githubusercontent.com/44166843/113600606-e3a07200-965d-11eb-817d-c1641775c457.jpg)

[2021-04-05 17:24] BooleanCube commented on #1766
Website layout is also covered by the vertical tabs feature on Microsoft Edge which is also super annoying, so thats a thing to keep in mind.

[2021-04-05 17:52] epelaaez commented on #1823
On Opera GX, additionaly to the issue described above, the content does not space to the middle of the page, it goes all the way to the left as seen in the screenshot below.

![image](https://user-images.githubusercontent.com/63567458/113606468-59014800-9648-11eb-93db-eb4a6a8c90bd.png)

[2021-04-05 18:45] nadirabbas commented on #1604
yeah

[2021-04-05 18:45] #1604 closed, assigned to nobody

[2021-04-05 18:58] nadirabbas opened #1836 "New Version Bug: room design messed up"
Something is wrong for sure.

![image](https://user-images.githubusercontent.com/38838675/113613519-c9b95c00-966a-11eb-8eb6-f061e9764002.png)

[2021-04-05 19:28] CreativeQuilt opened #1837 "Add a REAL privacy policy and terms of service!"
**Is your feature request related to a problem? Please describe.**
The privacy policy is a rickroll and is required by COPPA law

**Describe the solution you'd like**
A privacy policy and terms of service page

[2021-04-05 19:33] SalihSaygi opened #1838 "Kousa: Error Notification"
**Describe the bug**
Notification gives a json formatted error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'dashboard'
2. Click on 'a room that no longer exists'
4. See error as a notification.

**Expected behavior**
I expected to not see a json formatted error,
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercont

[2021-04-05 20:24] Ademking commented on #1781
@ajmnz Yeah it's fixed!
Keep up the good work

[2021-04-05 20:24] #1781 closed, assigned to nobody

[2021-04-05 20:31] mrcoet opened #1839 "New Version Bug: Setting menu is under the search bar. z-index issue (I Think)"
**Describe the bug**
In screen with >= 1265px width The setting menu is under the search bar. I think it's a z-index issue

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Main page'
2. Click on 'Your smallest avatar (next to the search bar)'
4. See the issue

**Expected behavior**
The setting menu should appear. but it under the search bar.
**Screenshots**
![image](https://user-images

[2021-04-05 20:42] salmmanfred opened #1840 "Window hidden behind search bar and name not being displayed correctly"
**Describe the bug**
A window not being opened properly

**To Reproduce**
Click on the user icon

**Expected behavior**
The window is not hidden behind the search bar

**Screenshots**
If applicable, add screenshots to help explain your problem.
![bild](https://user-images.githubusercontent.com/32799244/113624392-dedcbd80-965f-11eb-846f-d55c3f799e19.png)

**What device are you on?**
windows PC

**A

[2021-04-05 20:45] SalihSaygi commented on #1838
Later on when you join an actual room, you can't hear anything unless you refresh.

[2021-04-05 21:01] ajmnz commented on #1766
Does that happen on every website or only on edge? Like do websites keep in mind those tabs within their layout?

[2021-04-05 21:02] SalihSaygi commented on #1839
It was fine like a hour ago. They are probably testing out stuff.

[2021-04-05 21:02] ajmnz commented on #1840
Closing in favor of #1839

[2021-04-05 21:02] #1840 closed, assigned to nobody

[2021-04-05 21:03] BooleanCube commented on #1766
Yea, all the other websites that I use on microsoft edge adjust to the vertical tabbing and change the current layout to fit.

[2021-04-05 21:04] BooleanCube commented on #1766
But, when I try it in DogeHouse it just covers over even more when I use vertical tabs so thats another bug that I found with the newer version.

[2021-04-05 23:21] ajmnz commented on #1766
But basically vertical tabs just make the viewport width smaller, so at the end it’s just a matter of responsiveness

[2021-04-05 23:35] mattmoody05 commented on #1766
Hi, this thread is for the next.dogehouse.tv (new version) but it can be seen that this is an issue with both the new and old version. (If you feel the need you could create a seperate issue for the old version).
Thanks

[2021-04-05 23:39] mattmoody05 commented on #1766
As far as I can tell, the website (both new and old versions) are not 100% responsive yet, but should be at some point in the future (I assume that most poeple are running 1080p or above monitors at this point so it isn't a major issue and there are bigger problems to solve).
Just a suggestion though, even just taking into consideration desktop users, often people will split their monitors in half

[2021-04-05 23:41] mattmoody05 commented on #1766
As for the edge issue, it seems the same as the issue I have mentioned, in the fact that when viewing the website with a resolution that is below the required width, content starts to be cut off (this being due to the vertical tabs)

[2021-04-06 01:18] #1839 closed, assigned to nobody

[2021-04-06 01:23] hisamafahri commented on #1836
Exactly, something is wrong here

![error1](https://user-images.githubusercontent.com/65691613/113645552-4a02b000-96b1-11eb-9356-01acf96d1f53.png)

[2021-04-06 01:25] benawad commented on #1836
@hisamafahri can you refresh and see if its fixed for you?

[2021-04-06 01:25] #1836 closed, assigned to nobody

[2021-04-06 01:28] hisamafahri commented on #1836
@benawad Great! That's solve the problem.

But isn't a little bit weird that the dropdown is on the leftside of the avatar?

![error2](https://user-images.githubusercontent.com/65691613/113645945-052b4900-96b2-11eb-80fe-2f5fa330a895.png)

[2021-04-06 02:20] nadirabbas commented on #1836
i think it is, a bit unorthodox.

[2021-04-06 04:49] rv178 opened #1844 "Remove the focus on buttons and other components when clicking."
This is a problem considering that the user experience is diminished and the website in whole looks worse when this occurs.

![RemoveThis](https://user-images.githubusercontent.com/69449141/113659563-ecc22b00-96bf-11eb-96ef-29839f06d24c.png)

**Solution**
The easiest way to solve this is to style the button component with `outline: none;`.
[code]

I had tried this myself and it seems to work, I di

[2021-04-06 04:56] lorstenoplo commented on #1844
I have already told but still, how will the user know about the interaction like how will we know if the button is clicked. There are ripples for material design what's there here?

[2021-04-06 05:27] rv178 commented on #1844
The user would know about it when the button is clicked, but I just suggested a really easy to implement and small feature in order to remove the border around the button which can easily be done just by styling the button with the attribute `outline: none;`

[2021-04-06 05:43] amitojsingh366 commented on #1844
i think we need this for now to follow the aria guidelines

[2021-04-06 05:52] amitojsingh366 commented on #1844
have a look at https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA

[2021-04-06 05:52] #1844 closed, assigned to nobody

[2021-04-06 05:56] lorstenoplo commented on #1844
Yeah instead of removing the outline on focus it should altered to something else like changing the colour, changing the size, box shadows, ripples etc.
They will help to retain ux ( following the ARIA guidelines ) and improve the ui like a hell lot.

[2021-04-06 05:59] Sotooo opened #1846 "Add more languages"

[2021-04-06 07:42] joshuabode opened #1848 "Make Chat Long Inputs Drop Down (so it is easy to read message before sending)"
If I was trying to send a decently long chat message, I have to scroll side to side to read the whole message.

It would be easier if you can just see the whole message like you can on instagram DM's:
![image](https://user-images.githubusercontent.com/62960021/113675658-7e776b80-96b3-11eb-9176-822bb966da57.png)

[2021-04-06 09:30] amitojsingh366 commented on #1803
#1766

[2021-04-06 09:30] #1803 closed, assigned to nobody

[2021-04-06 09:31] amitojsingh366 commented on #1823
#1766

[2021-04-06 09:31] #1823 closed, assigned to nobody

[2021-04-06 09:31] amitojsingh366 commented on #1736
#1766

[2021-04-06 09:31] #1736 closed, assigned to nobody

[2021-04-06 09:34] amitojsingh366 commented on #1766
here's what this issue is causing on electron/opera GX:
![weird](https://user-images.githubusercontent.com/35400192/113541566-2bd27c80-95eb-11eb-83f2-4e43d189656c.png)

[2021-04-06 09:38] #1846 closed, assigned to nobody

[2021-04-06 10:30] amitojsingh366 commented on #1757
you accidentally opened the overlay *(`ctrl+tab`)* without first specifying which window to overlay on.

[2021-04-06 10:30] #1757 closed, assigned to nobody

[2021-04-06 10:34] amitojsingh366 commented on #1093
oh, i forgot to mention it here but I've had gone ahead and added the overly sometime ago *(#1404)*. it's really primitive as of rn and will get to improving it soon.

[2021-04-06 10:34] #1093 closed, assigned to nobody

[2021-04-06 13:02] akawajid commented on #1838
Duplicate of #1771

[2021-04-06 14:05] Baggiest opened #1850 "small issue with text getting chopped at the end of the div for long captions"
my long caption was imported from Twitter and it's chopped at the end of the div, thought I might help :)

my dash view:
![image](https://user-images.githubusercontent.com/76979204/113722628-d8088600-9705-11eb-95bd-89c0618b03b1.png)

device:
full-screen desktop

[2021-04-06 14:10] isaxk opened #1851 "Make search bar on new design just say "search" instead of long text on mobile new design"
**Is your feature request related to a problem? Please describe.**
It looks ugly when the text in the search bar is cut of mid-word

**Describe the solution you'd like**
It just to say 'Search' or 'Search Dogehouse'

**Describe alternatives you've considered**
Maybe to do an ellipse (...) at the end

**Additional context**
![Screenshot_20210406-150608_Chrome.jpg](https://user-images.githubusercont

[2021-04-06 14:12] goldyydev commented on #1324
I have re-opened `MobileHeader` as it has been abandoned. Please comment if you'd like to take it.

[2021-04-06 14:36] PrinceRajRoy commented on #1324
@goldyydev I don't understand I pushed the changes as you requested like 10 days ago

[2021-04-06 14:45] goldyydev commented on #1324
ah. merged

[2021-04-06 14:46] #1324 closed, assigned to nobody

[2021-04-06 14:46] goldyydev commented on #1324
We did it reddit

[2021-04-06 14:55] babeuh opened #1852 "Dogehouse app doesn't remove tray icon after the app closes"
**Describe the bug**
In the Dogehouse electron application the system tray icon is not removed after the app closes, which causes an error if you try to close it again with the tray or if you try to left click on the tray icon

**To Reproduce**
Steps to reproduce the behavior:
1. Open Dogehouse app
2. Open the system tray
3. Right Click on Dogehouse icon
4. Click on "Quit Dogehouse"
6. Go to step

[2021-04-06 16:08] mattmoody05 commented on #1766
As of 06/04/21 this seems to be fixed, I will close the issue as it is no longer relevant.

**Extra info**
This applies on the Firefox browser on a 13" 2011 Macbook Pro, running macOS 10.13 (1280x800 display)

**Working behaviour shown below**
![Screen Shot 2021-04-06 at 17 08 35](https://user-images.githubusercontent.com/34244370/113742668-c1106680-96fa-11eb-8a48-852233b3383e.png)

[2021-04-06 16:30] amitojsingh366 commented on #1766
its better off not closing this issue as we've closed all similar issues and linked them here. we can just change the description a bit.

[2021-04-06 16:44] mattmoody05 commented on #1766
Sure, sorry for any issues caused by closing it

[2021-04-06 17:44] amitojsingh366 commented on #1852
hmmmm

[2021-04-06 17:56] babeuh commented on #1852
This is how I fixed this in my electron apps but there might be a better way. (just a suggestion)
[code]

[2021-04-06 18:36] #1838 closed, assigned to nobody

[2021-04-06 18:45] amitojsingh366 commented on #1852
`tray.destroy()` isn't what we're looking for as the issue lies with the app not even closing properly. i have a fix in mind and will release an update soon.

[2021-04-06 18:46] michaelcanudas opened #1854 "New Version Bug: please someone just add this my eyes are in pain"
**Bug:**
YOU FORGOT TO REMOVE THE OUTLINE FOR SELECTED ITEMS

**To Reproduce:**
GO TO THE MAIN PAGE AND CLICK A BUTTON AHHHHHHHHHHHHHH

**Expected behavior:**
NO OUTLINE IT RUINS THE UI

**Screenshots:**
![image](https://user-images.githubusercontent.com/63616729/113762575-bba92100-96e6-11eb-92f5-2fc4a8fec296.png)

**What device are you on?**
PC (IM USING WEB VERSION BUT I ASSUME IT IS ON ALL VERS

[2021-04-06 18:54] babeuh commented on #1854
Duplicate of #1844

This cannot be done because of the ARIA guidelines

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA

[2021-04-06 18:58] #1854 closed, assigned to nobody

[2021-04-06 20:02] asxlvm opened #1856 "New Version Bug: Responsive UI not working on mobile"
**Describe the bug**
UI looks scuffed on some mobile versions and doesn't work on some mobile versions

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'next.dogehouse.tv' in Mobile Opera and you will see that the UI is scuffed, if you go on next.dogehouse.tv on F12 Browser you will see the UI normally but it doesn't work

**Expected behavior**
UI is scuffed on some mobile browsers and

[2021-04-06 20:32] amitojsingh366 commented on #1856
only the desktop version is complete *(complete as in ready for testing, it still isn't responsive)*. the mobile version is still being worked on

[2021-04-06 20:32] amitojsingh366 commented on #1856
ill leave this open for now

[2021-04-06 20:33] amitojsingh366 commented on #1856
actually nvm. please refer #1766 for any responsive UI related issues

[2021-04-06 20:33] #1856 closed, assigned to nobody

[2021-04-06 21:31] fishsticks89 commented on #1837
The rickroll is a great privacy policy 🤔

[2021-04-06 22:09] #1822 closed, assigned to nobody

[2021-04-06 23:44] ajmnz commented on #1850
@goldyydev I believe you worked on word breaks and stuff.

[2021-04-07 04:15] theCow61 opened #1863 "Emotes with menu don't work after lower casing json."
**Describe the bug**
#1842 brakes emotes. Emote menu auto populates input field thing with old emote name which doesn't match with the update json.

Can be fixed by automatically lower casing the emote names when the menu auto populates the input field or reverting the #1842 push.

[2021-04-07 07:03] nadirabbas commented on #1863
you need to convert to lowercase in `createChatMessage` too.

[2021-04-07 07:34] lorstenoplo opened #1864 "New Version Bug: Cannot return to room screen after chatting in mobile"
**Description of the bug :**
After entering a room if we go to the chat screen and chat till the time scrollbar is visible then we cannot see then return options

**Steps to reproduce the behavior :**
1. Go to any room on next.dogehouse.tv
2. Click on chat
3. Keep chatting
4. See the options disappear

**Expected behavior :**
The options pannel should still be accessible

**Screenshots :**
You can

[2021-04-07 09:27] amitojsingh366 commented on #1863
i've fixed this. will push soon

[2021-04-07 10:03] amitojsingh366 commented on #1850
@MrBaggieBug from next time please use the format we created for the next version to report bugs. that way we can filter them specifically.

[2021-04-07 10:19] Baggiest commented on #1850
oh sorry this was my first interaction with the project i wasn't aware

will look at the forum really carefully next time :)

[2021-04-07 11:47] xBrainZy opened #1867 "The username's input field background changes to white when invalid"
**Is your feature request related to a problem? Please describe.**
When creating a username the length of characters must be between 4 - 14 and they must only be alphanumeric/ underscore right?
When the username is invalid, the background of the input field changes to white, and the color of the text changes to light grey. That's just too bright and I can't see the text properly. The new users mig

[2021-04-07 12:02] ajmnz commented on #1867
Can reproduce

[2021-04-07 12:19] BronzW commented on #1867
I think this is a problem with WebKit and can be solved with the `-webkit-autofill` pseudo selector. https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete

[2021-04-07 12:28] asxlvm opened #1868 "New Version Bug: Mobile UI has bad placement"
**Describe the bug**
Things that are supposed to be in-line are split between lines, things that should be on the right are on the left conflicting with other UI

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'next.dogehouse.tv' on mobile (I use the Opera browser)
2. Join a room
3.  Inspect the scuffed UI

**Expected behavior**
Clear good looking UI with good placement, obv.

**Screen

[2021-04-07 12:50] BronzW commented on #1412
This has been implemented at next.dogehouse.tv
![image](https://user-images.githubusercontent.com/50546858/113869117-a6002e00-97b0-11eb-8378-4a59f878ac82.png)

[2021-04-07 12:51] #1412 closed, assigned to f1shy-dev

[2021-04-07 12:52] christopher-talke opened #1871 "Consider adding breadcrumb navigation to the Design System"
**Describe the solution you'd like**
Pretty straight forward, an addition of a `breadcrumb` component.

**Describe alternatives you've considered**
Some notable examples can be found here:

- Ant Design: [https://ant.design/components/breadcrumb](https://ant.design/components/breadcrumb)
- Lightning Design System: [https://www.lightningdesignsystem.com/components/breadcrumbs](https://www.lightning

[2021-04-07 12:57] BronzW commented on #415
Just going through random issues to see what can be cleaned up and as of now you can now see how long a room has been up for   in the next.dogehouse.tv website. I also think I heard Ben talking about not migrating the galactic doge feature to the new website on a contributor meeting or something so I think this can be closed right now as it has been implemented.

[2021-04-07 13:20] BronzW commented on #1564
@vishy-dev If you still want to work on this emojis have been added to kibbeh now

[2021-04-07 13:22] #1852 closed, assigned to nobody

[2021-04-07 13:22] #1863 closed, assigned to nobody

[2021-04-07 13:22] BronzW commented on #1549
Really? There are thoughts of having discord login which would be even more anti-competitive with discord.

[2021-04-07 13:28] BronzW commented on #1427
Sure create a pull request

[2021-04-07 13:30] BronzW commented on #797
DogeNitrogen

[2021-04-07 13:58] goldyydev commented on #1871
@ajmnz That's your line of duty.

[2021-04-07 14:37] benawad commented on #1549
0. @amitojsingh366 we are not competing with discord
1. I like rich presence

[2021-04-07 14:37] #415 closed, assigned to yaslam-dev

[2021-04-07 14:52] amitojsingh366 commented on #1549
@benawad ok then ill add this in?

[2021-04-07 17:08] BronzW opened #1873 "What is the pagination branch?"

[2021-04-07 17:13] TheOtterlord commented on #1873
Please redirect this question to the **[discord](https://discord.gg/wCbKBZF9cV)** or **[github discussions](https://github.com/benawad/dogehouse/discussions)**.

EDIT: as are as I know it's just an outdated branch

[2021-04-07 17:13] #1873 closed, assigned to nobody

[2021-04-07 17:18] BronzW commented on #1868
The same thing happens when switching to the new version in the electron app

[2021-04-07 17:46] ajmnz commented on #1871
Yep, I noted it down. I'm not discarding your request by closing this issue, but I might approach this differently and I think it doesn't make sense to have yet *another* open issue.

Appreciate the explanation and docs, will keep you posted

[2021-04-07 17:46] #1871 closed, assigned to nobody

[2021-04-07 18:29] amitojsingh366 commented on #1868
#1766

[2021-04-07 18:29] #1868 closed, assigned to nobody

[2021-04-07 18:52] TheOtterlord commented on #1837
Duplicate of #1595

[2021-04-07 18:52] #1837 closed

[2021-04-07 18:54] fishsticks89 commented on #1595
*Never going to give you up rings in ears*

[2021-04-07 18:57] TheOtterlord commented on #1815
I agree with @isaboo

The alternative is much more practical than such a complex system.
It would likely be hard to use and implement.

As we did in the contributor meeting, moving people to speaker after they are finished is a much better solution.
There's no need for a large number of speakers, as realistically they are never gonna "take the stage" all at one time.

Maybe a cap could be introduc

[2021-04-07 19:26] Mayowa-Ojo opened #1874 "New version bug: doesn't re-authenticate user when you close and re-open app"
**Describe the bug**
The current user doesn't get authenticated when you close the tab or visit another url and then open dogehouse again. It takes you back to the login page even when there's a token in localstorage.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'next.dogehouse.tv'
2. Login
3. Close the tab or visit another url
4. Open dogehouse again

**Expected behavior**
User sho

[2021-04-07 19:33] SalihSaygi commented on #1768
Also, after you get this error and then you join a room, you can't hear anything unless you refresh.

[2021-04-07 19:33] asxlvm opened #1875 "New Version Bug: (Mobile) Buttons for changing screens don't work after chat-overflow"
**Describe the bug**
If there's a lot of messages in chat, the three buttons for changing screens aren't there

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'next.dogehouse.tv'
2. Type for a while...
3. And when there's alot of messages, the buttons disappear
4. Observe ;)

**Expected behavior**
The 2 buttons should always be there
Expected screenshot:
![Screenshot_2021-04-07-21-33-1

[2021-04-07 20:44] ajmnz commented on #1875
#1864

[2021-04-07 20:44] #1875 closed, assigned to nobody

[2021-04-07 21:32] theCow61 commented on #1863
Wierd the v.toLowerCase() isn't working right now but when I did it on my fix PR with yarn staging it worked.

[2021-04-07 23:18] theCow61 commented on #1863
Never mind its working now.

[2021-04-07 23:34] ajmnz opened #1881 "Rethink chat slowmode"

[2021-04-08 03:01] benawad commented on #1874
fixed

[2021-04-08 03:01] #1874 closed, assigned to nobody

[2021-04-08 03:02] benawad commented on #1867
fixed

[2021-04-08 03:02] #1867 closed, assigned to nobody

[2021-04-08 03:02] benawad commented on #1864
fixed

[2021-04-08 03:02] #1864 closed, assigned to nobody

[2021-04-08 03:39] benawad commented on #1825
fixed

[2021-04-08 03:39] #1825 closed, assigned to nobody

[2021-04-08 03:42] benawad commented on #1766
feel free to reopen if something else comes up but I think it should be fixed now

[2021-04-08 03:42] #1766 closed, assigned to nobody

[2021-04-08 03:43] #1808 closed, assigned to nobody

[2021-04-08 04:55] amitojsingh366 commented on #1863
@theCow61 it will only work after ben deploys it, and it seems like ben has deployed it now

[2021-04-08 09:30] #1850 closed, assigned to nadirabbas

[2021-04-08 09:31] nadirabbas commented on #1826
I don't think @benawad will go with `\n`, the other ones seem doable, @benawad ?

[2021-04-08 09:40] nadirabbas commented on #1807
I don't think we have i18n in the next version yet.

[2021-04-08 09:41] nadirabbas commented on #1771
this works now

[2021-04-08 09:41] #1771 closed, assigned to nobody

[2021-04-08 09:41] nadirabbas commented on #1832
this works now

[2021-04-08 09:41] #1832 closed, assigned to nobody

[2021-04-08 09:42] nadirabbas commented on #1764
@benawad I can confirm this, so what happens is, when you join a room, if somebody is already talking and you join, you won't hear their sentence. once they stop and start talking again, you hear it. That is weird. not sure if I got it right tho

[2021-04-08 09:45] #404 closed, assigned to FotieMConstant

[2021-04-08 09:45] #216 closed

[2021-04-08 10:18] BronzW commented on #1826
Why not newline?

[2021-04-08 10:19] BronzW commented on #1826
Also half-duplicate #1564

[2021-04-08 10:43] #1741 closed, assigned to nobody

[2021-04-08 11:33] amitojsingh366 opened #1889 "New Version Bug: Super weird error page"
**Describe the bug**
Weird error page

**To Reproduce**
No idea what caused it

**Expected behavior**
Should be a nice error page. and there should be no error in the first place

**Screenshots**
![image](https://user-images.githubusercontent.com/35400192/114019615-4e78c580-9877-11eb-8068-fab5c9120132.png)

**What device are you on?**
Firefox, win 10

I think this only happens with next on firefox

[2021-04-08 11:37] asxlvm commented on #1889
![Screenshot_2021-04-08-13-03-30-588_com brave browser](https://user-images.githubusercontent.com/81298611/114020131-8714a100-986f-11eb-8c32-8abdb19a92dc.jpg)
Also happened to me, Android 10, Brave Browser

[2021-04-08 11:37] amitojsingh366 commented on #1889
happened to me 3x in a row now

[2021-04-08 11:41] lorstenoplo commented on #1889
Nice error page means something like this right :
https://images.app.goo.gl/YKtCw4Wpap7PSgdv7

[2021-04-08 11:43] amitojsingh366 commented on #1889
happened 5 times to me now

[2021-04-08 11:44] asxlvm commented on #1889
Now we know whyit happens

[2021-04-08 11:44] asxlvm commented on #1889
If someone types this line in chat: `d!execute javascript console.log(await fetch('https://api.ipify.org).then(res => res.json()))` it literally crashes them

[2021-04-08 11:45] asxlvm commented on #1889
It would probably crash without the `d!execute javascript` cause it's originally a bot command

[2021-04-08 11:46] asxlvm commented on #1889
Or maybe it's just when someone opens chat and sees the message

[2021-04-08 11:46] asxlvm commented on #1889
Not sure

[2021-04-08 11:48] asxlvm commented on #1889
On the mobile version it doesn't crash, but when my crash happened, I heard that someone mentioned me (prolly a whisper) so I opened chat and got the error

[2021-04-08 12:54] BronzW opened #1890 "New Version Bug: Changing viewport size causes following list's scrollbar to go back to default"
![image](https://user-images.githubusercontent.com/50546858/114029861-3eaeb080-987a-11eb-89cf-59e18b06fd71.png)

[2021-04-08 12:59] lorstenoplo commented on #1890
The reverse should happen though, the scroll bars should be restored to default on smaller screens like mobiles

[2021-04-08 13:01] BronzW opened #1891 "New Version Bug: Chat messages from first room are transferred when going into a new room."
https://user-images.githubusercontent.com/50546858/114031007-3a36c780-987b-11eb-93e1-27118b9e4f5a.mp4

[2021-04-08 14:56] TheOtterlord commented on #1889
Just adding that one of the errors linked to this page for those of you who know react: https://reactjs.org/docs/error-decoder.html/?invariant=185

[2021-04-08 14:57] TheOtterlord commented on #1889
Also, the next time it happens can someone screenshot the console please (I forgot)

[2021-04-08 15:07] TheOtterlord commented on #1889
Ok, I've got the image.

![image](https://user-images.githubusercontent.com/64310361/114050863-8803fd80-9884-11eb-9a14-641896ce1886.png)

[2021-04-08 15:11] TheOtterlord commented on #1889
Plus the logs in text form
<details>
<summary>Full console logs</summary>

[code]
</details>

[2021-04-08 15:18] borisgrigorov opened #1893 "Electron app doesn't want to launch on Linux"
**Describe the bug**
An error is thrown when trying to launch the electron app.

**To Reproduce**
Steps to reproduce the behavior:
1. Open AppImage file in terminal (to see the error)
2. See the error

**Expected behavior**
The app should open.

**Screenshots**
![image](https://user-images.githubusercontent.com/45951844/114051966-de296e80-988d-11eb-8b55-cbe1b8ffb56d.png)

**What device are you on?

[2021-04-08 15:53] yzx396 commented on #340
@benawad I made Google Oauth working by leveraging github fields in users table (a bit hacky I know. But given I don't know how to add db fields in ECTO migration yet). I can share the code snippets if you like. Adding Google auth will be a boost of users as most people have google account...

[2021-04-08 16:06] asxlvm commented on #1889
Fix this fast, people can abuse this.

[2021-04-08 16:12] BronzW commented on #1762
Currently being worked on & thought about in the next.js frontend. Once an endpoint has been added for room metadata the header will contain room name, room size, room, description etc.

[2021-04-08 16:16] BronzW commented on #1596
Using another font family would need to change the whole design system just so that a miniority of people is not ideal. For me it the polish letters look pretty similar to the other ones, it's not like they are completely disturbed.

[2021-04-08 16:23] BronzW commented on #1072
Yeah. You shouldn't be forced to talk.

[2021-04-08 16:24] amitojsingh366 commented on #1889
*are

[2021-04-08 16:32] ghost commented on #1889
If you just replaced can with are, it'll be like this:
[code]

It should rather be:
*are *abusing.

[2021-04-08 16:34] TheOtterlord commented on #1889
Please keep this discussion on topic

[2021-04-08 16:49] isaxk commented on #1812
Ok

[2021-04-08 17:54] salmmanfred commented on #1889
i also have this issue and people are abusing it constantly i cant use next

[2021-04-08 18:01] TheOtterlord commented on #1889
as far as I can tell, whatever is happening could be causing an infinite loop. the react error gives

[code]

[2021-04-08 18:04] crispyaus commented on #1889
Dear Firefox users;
- https://www.google.com/intl/en_au/chrome/

[2021-04-08 18:08] salmmanfred commented on #1889
No

[2021-04-08 18:19] ghost commented on #1889
Dear Chrome users
- https://brave.com
- https://vivaldi.com

[2021-04-08 18:23] salmmanfred commented on #1889
it legit showed the error on a brave browser

[2021-04-08 18:26] nadirabbas opened #1894 "New Version Bug: there's a lot of space wasted"
This is how kibbeh looks like
![image](https://user-images.githubusercontent.com/38838675/114077723-8a387d00-98c1-11eb-95fd-db935c26e7df.png)

This is how kofta looks like:
![image](https://user-images.githubusercontent.com/38838675/114077793-9c1a2000-98c1-11eb-82a9-3b23ac4770b4.png)

on my laptop, which doesn't have a very big screen (35.6 cm / 14 in)

[2021-04-08 18:38] ghost commented on #1889
Vivaldi seems immune

[2021-04-08 18:43] btarg commented on #1894
There should definitely be less empty space around the room view, and connecting the room view and chat could help too.

[2021-04-08 19:31] amitojsingh366 commented on #1893
im looking into this

[2021-04-08 19:32] amitojsingh366 commented on #1893
does the app not launch at all or does it get stuck on "Checking for updates..."?

[2021-04-08 20:30] borisgrigorov commented on #1893
It crashes when checking for updates.

[2021-04-08 20:49] benawad commented on #1889
Has anyone been able to replicate in dev?

[2021-04-08 20:56] amitojsingh366 commented on #1889
Just did it here's what im seeing:
![image](https://user-images.githubusercontent.com/35400192/114095290-ed2c1300-98c5-11eb-819b-a48f48d73d87.png)

[2021-04-08 21:00] BronzW commented on #1894
Yeah you can't really get a view of what people are in the room.

[2021-04-08 22:55] ajmnz commented on #1894
User grid in rooms is temp and responsiveness too. Also note that atm notifications, messages, etc are missing from the header, so we'll get to fill the space eventually.

Your people sidebar isn't showing though

[2021-04-09 00:08] #1893 closed, assigned to nobody

[2021-04-09 00:40] #1891 closed, assigned to nobody

[2021-04-09 01:14] amitojsingh366 commented on #1889
still occurs

[2021-04-09 06:02] #1889 closed, assigned to nobody

[2021-04-09 06:50] isaxk commented on #1894
That's because their screen is slightly too small

[2021-04-09 07:21] vipe1 opened #1899 "Polish translation typo"
When I'm in the room mute button is labeled wyczisz. It should be wycisz
![obraz](https://user-images.githubusercontent.com/43825072/114143892-00b29a80-9915-11eb-94b6-147cabe66149.png)

[2021-04-09 08:06] Renphil opened #1900 "Q&A/AMA room category"
**Is your feature request related to a problem? Please describe.**
People talking over each other in a Q&A room

**Describe the solution you'd like**
Allow only one non-mod/admin speaker at a time in a Q&A room and change the design of the "requesting to speak" section so that it appears as a queue and highlight the next person to ask question.

**Describe alternatives you've considered**
If room

[2021-04-09 08:46] TheOtterlord commented on #1900
Possible duplicate of #1815?

[2021-04-09 09:46] isaxk commented on #1900
It's similar but it is more simple

[2021-04-09 12:54] BronzW commented on #1899
Is this on the default or the next version?

[2021-04-09 13:23] #1770 closed, assigned to nobody

[2021-04-09 13:25] benawad commented on #1734
what browser?

[2021-04-09 13:29] #1733 closed, assigned to nobody

[2021-04-09 13:30] #1732 closed, assigned to ajmnz

[2021-04-09 13:38] igbanam opened #1905 "Chat drafts carry across rooms"
**Describe the bug**
Chat message drafts carry across rooms. — dunno if bug or intended feature 🤔

I was in a room, in the middle of typing a message in the chat. The room owner closed the room, I got popped back into the homepage. I joined another room… the message I was typing in the previous room is pre-populated in the chat.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a room
2.

[2021-04-09 13:43] TheOtterlord commented on #1905
#### Good first issue
You should just need to clear the chatbox's value when someone enters a new room (or you can do it when they leave)

[2021-04-09 14:12] ambozz opened #1909 "New Version Bug: Design sticks to the left in Opera GX"
**Describe the bug**
The design Sticks to the Left in Opera GX and not to the middle like it normally should.

**To Reproduce**
Install Opera GX and open the website.

**Expected behavior**
That the Design sticks to the middle like in any other browser and how it is intended.

**Screenshots**
![Screenshot](https://i.imgur.com/GNIIdeN.png)

**What device are you on?**
Windows 10 with Opera GX obvio

[2021-04-09 14:38] james-work-account opened #1910 "New Version Bug: Listeners are visible at the very bottom of the screen below the .bottom-0 div"
**Describe the bug**
View the screenshot - when scrolling through listeners on a more full chatroom, the listeners list seems to overflow over the bottom of the page (something might not be 100% height idk)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a busy chatroom (I was in https://next.dogehouse.tv/room/87d9cc48-370f-47e7-9d15-6449557cfcf2)
2. Scroll down and up - at the very bo

[2021-04-09 14:52] SharkyLai opened #1911 "New Version Bug: Room info text glitch/not displaying"
**Describe the bug**
On mobile, the room names completely disappear or have glitched text

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'next.dogehouse.tv’
2. See error

**Expected behavior**
The site should have displayed the room names

**Screenshots**
![34735064-6CBF-43FA-964D-6F057320707A](https://user-images.githubusercontent.com/71050482/114198526-03010d00-9986-11eb-8c93-1591c0

[2021-04-09 14:53] Zamion101 commented on #1909
It looks like even though the issues (#1766 and #1803) are closed, the issue still exists.

[2021-04-09 14:57] BronzW commented on #1905
Duplicate #1891

[2021-04-09 15:04] dk-raw opened #1912 "outline: none"
All the links in the new UI have the outline when focused, please add ` outline: none` for all the links in the UI.
![Screenshot 2021-04-09 175937](https://user-images.githubusercontent.com/68110106/114200497-efda4700-995d-11eb-8a45-a89a503bab06.jpg)
![Screenshot 2021-04-09 175916](https://user-images.githubusercontent.com/68110106/114200503-f1a40a80-995d-11eb-8b39-266fbf9244bc.jpg)
![Screenshot 2

[2021-04-09 15:05] BronzW commented on #1905
Is there a way to know when you join a new room?

[2021-04-09 15:08] SunbroJedi opened #1914 "WAYTOODANK doesn't appear in autocomplete when typing :way, but it does appear when you type :dank"
**Describe the bug**
When ":WAY", or any amount of letters that it starts with, WAYTOODANK doesn't appear in autocomplete, however, when ":dank" is entered, it does appear.

**To Reproduce**
Steps to reproduce the behavior:
1. type :way, or any amount of the letters it starts with

**Expected behavior**
The emote known as WAYTOODANK should appear in the autocomplete above the text box.

**Screensh

[2021-04-09 15:14] TheOtterlord commented on #1912
Duplicate of #1369
Please see [here](https://github.com/benawad/dogehouse/issues/1369#issuecomment-803393161) for more information

[2021-04-09 15:14] #1912 closed, assigned to nobody

[2021-04-09 15:31] daloes opened #1915 "Emoji picker not using the available width"
**Describe the bug**
Tested on phone, new design
When you open emoji picker there is unused space on right side of emojis as they do not fill the whole space instead are capped at 7 emojis per row. Emoji picker background however spans the whole width

**To Reproduce**
Steps to reproduce the behavior:
1. Go to chat
2. Click on emoji picker
3. Observe empty space on right
4. Flip phone to landscape

[2021-04-09 15:32] daloes commented on #1915
Damn this was meant as new-version-bug

[2021-04-09 15:36] daloes commented on #1914
waytoodank needs to be added to keywords for emoji,  can try :feelsdankman it should also show waytoodank emoji

{
    name: "WAYTOODANK",
    short_names: ["WAYTOODANK"],
    keywords: ["dank", "feelsdankman"],
    imageUrl: "/emotes/WAYTOODANK.gif",
  },

[2021-04-09 15:42] daloes commented on #1914
So this shouldn't be a bug, it's behaving as configured. You can create pr adding this keyword or somebody can expand the lookup to include the name/short_names with keywords for matching.

[2021-04-09 16:08] #1642 closed, assigned to nobody

[2021-04-09 16:13] TheOtterlord opened #1918 "New Version Bug: Chat caused Unexpected Error"
**Describe the bug**
If you scroll quickly up the room chat on the [beta](https://next.dogehouse.tv), it causes the page to error out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a room on [next](https://next.dogehouse.tv)
2. Wait for the chat to start scrolling
3. Scroll up
4. See error page

**Expected behavior**
The chat scrolls without errors

**Screenshots**
![image](https://u

[2021-04-09 16:20] LiamTownsley opened #1919 "Chat Freeze on scroll or key press"
**Is your feature request related to a problem? Please describe.**
When trying to read previously sent messages in chat when it's moving fast, it's impossible to read the messages before t hey are scrolled away.

**Describe the solution you'd like**
Similar to Twitch, you press a key the chat stops automatically moving and freezes in place so you can read what you're trying to read.

**Describe al

[2021-04-09 16:22] TheOtterlord commented on #1918
Nevermind. I was being served cache data

[2021-04-09 16:26] vi241 commented on #1826
@BronzW `\n` is horrible for a newline, we'll probably go with your recommendation of `shift`+`enter`
and the half-duplicate is very minor

[2021-04-09 16:29] vi241 commented on #1915
does the browser matter for mobile?

[2021-04-09 16:32] vi241 commented on #1899
quite easy to fix, can you make a pr?

[2021-04-09 16:38] tanay-pingalkar opened #1920 "New dogehouse messed up on phone"
![Screenshot_20210409-220441_Chrome](https://user-images.githubusercontent.com/72514547/114212892-f5e11f80-997f-11eb-8305-d76b01ca37a2.jpg)
This is how it looks on my phone. Some css problems maybe

[2021-04-09 16:39] goldyydev commented on #1919
cannot reproduce, what browser (and extensions) are you using?

[2021-04-09 16:44] goldyydev commented on #1915
this is a mobile only bug

[2021-04-09 16:45] vi241 commented on #1915
yes ik

[2021-04-09 16:46] #1914 closed, assigned to nobody

[2021-04-09 16:56] daloes commented on #1920
Your screen might be too small. What device are you using? On my phone, s10e, layout is fine at 1080x2280

Also this is new-version-bug

[2021-04-09 16:58] daloes commented on #1915
I dont think browser matters it seems like general css layout issue on phone view. I can't test the possible cause as I'm not near my laptop atm

[2021-04-09 17:01] daloes commented on #1851
Long text could be visible on tooltip 🤔

[2021-04-09 17:01] vi241 commented on #1851
I think changing it to search on mobile is better

[2021-04-09 17:02] vi241 commented on #1851
or just do it to all of them like you recommended

[2021-04-09 17:16] learningnoobi commented on #1920
it seems fine though

[2021-04-09 17:25] GiggioG opened #1923 "Last language not displaying in kibbeh."
So I was the contributor for the Toki Pona Language, and I recently saw that it was deployed. So I went to next.dogehouse.tv and opened the language menu, scrolled to the bottom, but didn't see it there. I `Inspect Element`ed the language menu, and I saw Toki Pona at the bottom as another `<button>`, but it just didn't render. When I hovered over the `<button>` and it highlighted below the languag

[2021-04-09 17:29] nadirabbas opened #1924 "Add bot detection"
@benawad what do you think?

Bots join directly using the API, so they don't have UI, hence no mouse movements, and human-like interaction with the page. So we can infer on the front end if someone is not a bot.

If a bot joins from something like Puppeteer, it's gonna have a UI, but we still can use libraries that can distinguish between human and bots

After we know it's a bot, maybe we can add

[2021-04-09 17:32] nadirabbas commented on #1919
if you scroll up, the chat actually stops.

[2021-04-09 17:33] devtanna commented on #1413
Interesting, would this badge be a representation of the current user status in the room (when chat list is rendered), i.e.; user is currently a speaker. Or should it be the status of the user when the message was sent?

I'm leaning towards the former implementation.

@shubhamrangaa I noticed you mentioned you wanted to work on this. if you haven't yet I wouldn't mind picking this up :)

[2021-04-09 17:34] nadirabbas commented on #1894
Gonne close this as @benawad clarified in _DogeLog[4]_.

[2021-04-09 17:34] #1894 closed, assigned to nobody

[2021-04-09 17:41] nadirabbas opened #1925 "Increase everyone"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-09 17:41] #1925 closed, assigned to nobody

[2021-04-09 17:42] TheOtterlord commented on #1924
Most bots (and I mean almost all) are created using the unofficial library `dogehouse.js` or using `kebab`, neither of which use the web browser so detecting if they are in puppeteer will not work.

Detecting it on the backend will probably be implemented when the bot api is added, but that will not be coming for a while. I believe ben also mentioned in a DogeLog (and a contributor meeting) that t

[2021-04-09 17:43] nadirabbas opened #1926 "Increase/Decrease everyone's volume in the room at once"
A single slider to increment/decrement everyone's volume in DogeHouse.
You can change speakers' volume to 200% in DogeHouse, even if your speakers are at max, so this pretty helpful if you have low volume speakers.

[2021-04-09 17:44] goldyydev commented on #1926
@nadirabbas  https://next.dogehouse.tv/voice-settings ?

[2021-04-09 17:44] nadirabbas commented on #1924
I said if they are using API directly, then we can detect who is not a bot (humans). and the accounts that are left, are bots :/

[2021-04-09 17:46] nadirabbas commented on #1926
oh that's a thing?

[2021-04-09 17:46] #1926 closed, assigned to nobody

[2021-04-09 17:50] poweitsao opened #1927 "Adding a popup telling user that they have not allowed microphone access"
**Is your feature request related to a problem? Please describe.**
When I first joined to speak in a room, I didn't know that chrome was blocking my mic and spent like 10 min trying to fix my mic.  There was nothing on the UI that tells me my mic is blocked.

**Describe the solution you'd like**
I know chrome usually has a pop-up but I think it would be beneficial to have an alert of some sort nex

[2021-04-09 17:52] TheOtterlord commented on #1924
Actually that's a pretty cool idea.

[2021-04-09 17:53] marceliwac opened #1929 "Keybinds section should display key icons instead of text"
**Is your feature request related to a problem? Please describe.**
The current keybind descriptions are not looking great; they are basic and could be improved.

There are also few minor bugs with the displayed combination:
- The incorrect order of displayed key combination, i.e. `[Shift] + [9]` results in displayed **9 + Shift** rather than **shift + 9**.
- The displayed keys *sometimes* apply mo

[2021-04-09 18:02] goldyydev commented on #1923
Gonna PR again after #1922 is merged not to cause further issues with linting.

[2021-04-09 18:05] nadirabbas commented on #1924
thanks, lol, that's why i opened this issue,

[2021-04-09 18:06] TheOtterlord commented on #1924
yeah, sry. I obviously didn't understand properly. I'll reopen this :)

[2021-04-09 18:22] overlisted commented on #1924
seems too rough though, we can just do what discord did (extending #1207) and ban all "self-bots" (non-bot accounts which aren't used by humans)

[2021-04-09 18:41] arrudagates opened #1932 "New Version Bug: Profile picture popup is missing a margin"
**Describe the bug**
Profile pop up is mising a margin on top

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any dogehouse page
2. Click on your pfp in the top right corner
4. Notice how there is no margin between the popup and the top of the page

**Expected behavior**
The top of the popup should line up with the profile picture

**Screenshots**
![](https://cdn.discordapp.com/attachm

[2021-04-09 18:48] arrudagates commented on #1932
Should be fixed with
`padding-top: 30px;`

and to complement
`padding-right: 5px;`

[2021-04-09 18:53] swikars1 commented on #1932
why padding not margin

[2021-04-09 19:00] arrudagates commented on #1932
Because that's how the rest of the header is styled

[2021-04-09 19:02] nadirabbas commented on #1924
@overlisted but that isnt related to what i said at all.

[2021-04-09 19:11] MrDogeBro opened #1934 "New Version Bug: Browsers without latest CSS standard have a broken UI"
### Description
So I use Firefox as my daily driver browser and whenever I go to check out the new design for DogeHouse, the UI always fails to load correctly. It is all stuck up against the left side of the screen, not in the center like it should be. Plus theres other things like the icons make the text thats supposed to be next to them go to the next line (or something like that). I even tried

[2021-04-09 19:38] ajmnz commented on #1934
Does updating Firefox to latest (87.0) fix the issue?

[2021-04-09 19:50] poweitsao commented on #1689
I think instead of rewarding people sitting in rooms to earn dogecoin, maybe allow listeners to tip the mods/speaker in dogecoin for their effort. Potential implementation could look like this: users all get a dogecoin wallet associated with their account and people can tip them/load up the r wallet to tip others.

[2021-04-09 20:14] benawad commented on #1934
The problem is this css is not being applied

[code]

idk why new firefox wouldn't support it, maybe we need to just refactor off of this

[2021-04-09 20:17] ghost opened #1936 "New Version Bug: Edit profile on other peoples profile !?!?!"
I see a button that says edit profile on other peoples profiles clicking it edits mine but still what?

[2021-04-09 20:29] #1923 closed, assigned to nobody

[2021-04-09 20:36] MrDogeBro commented on #1934
@ajmnz I am not able to update to latest Firefox (when I go to download a non ESR version of Firefox it gives me ESR anyways) but I tried on an Arch Linux vm with the latest Firefox installed (specifically 87.0-1) and it seems to be fixed in the latest non ESR build. It also seems that 78.9.0 is the latest ESR release which is kinda like an LTS from what I understand. Not all the newest features b

[2021-04-09 20:41] BronzW commented on #1934
I thought firefox used chromium now? Is it problem with the not pseudo element or what?

[2021-04-09 20:46] MrDogeBro commented on #1934
No it uses Gecko still. Mozilla developed Gecko so I don't know if they will ever move to Chromium.

[2021-04-09 21:12] ch70357 commented on #1919
This is happening on Chrome. when using the scrollbar to scroll up, the chat continues to load and lower it.

[2021-04-09 22:00] EliTheCoder commented on #1909
Confirmed on Opera GX LVL2 (core: 73.0.3856.427) and Windows 10 64-bit

[2021-04-09 22:12] BronzW commented on #1549
Now implemented

[2021-04-09 22:12] #1549 closed, assigned to amitojsingh366

[2021-04-09 22:14] BronzW commented on #1826
Well not for bots maybe? It won't show \n, it will be converted by JavaScript. The thing is that dogehouse chat doesn't support that as I think it needs `white-space: pre-wrap` to be added to show new lines.

[2021-04-09 22:22] BronzW commented on #1932
But that isn't part of the header. Using margin works fine aswell and makes more sense

[2021-04-09 23:08] #1932 closed, assigned to nobody

[2021-04-09 23:21] #1936 closed, assigned to nobody

[2021-04-09 23:25] goldyydev commented on #1927
@ajmnz

[2021-04-09 23:30] williamtrevis99 opened #1939 "Changing username while in a chat requires refresh to Update"
**Describe the bug**
Updating / changing your username while in a doge room does not update your username underneath your profile icon in the speaker/listeners section.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an active room
2. Click on your profile and refactor your username
3. Return to the room
4. See username has not been updated

**Expected behavior**
Surely the username sh

[2021-04-09 23:33] williamtrevis99 commented on #1939
*Update* - This only appears to be a problem on the Old UI

[2021-04-09 23:33] #1939 closed, assigned to nobody

[2021-04-09 23:47] amitojsingh366 commented on #1934
my firefox runs fine?
![firefox](https://cdn.discordapp.com/attachments/823238517412724786/830226900894351410/unknown.png)
![image](https://user-images.githubusercontent.com/35400192/114250662-1cff1780-99a7-11eb-8eae-0f965147d082.png)

[2021-04-10 00:15] amitojsingh366 commented on #1934
dosen't happen to me on firefox but the exact same thing does happen to me on the electron app *(which is chromium based)*
<img width="1439" alt="Screen Shot 2021-04-10 at 3 13 48 AM" src="https://user-images.githubusercontent.com/35400192/114251780-fe9b1b00-99aa-11eb-8b0f-dfc020183605.png">

[2021-04-10 00:48] #1905 closed, assigned to nobody

[2021-04-10 01:02] MrDogeBro commented on #1934
Like I said, it runs fine when I use the latest standard release of Firefox but when I run the latest ESR version (the version I use on my Mac) it is broken.

But with what you said about it being broken in electron, I guess then it is not specifically a Gecko or Chromium issue but an issue with that css feature that Ben talked about not working in certain versions of both.

[2021-04-10 06:09] isaxk commented on #1924
I don't think it's rough, when the official API is realeased it wouldn't take much work, to send to the front end that 'this user is a bot' and then react to display something like a robot emoji next to the bot's name.

[2021-04-10 06:24] vishalvibes opened #1942 ":ztthinking: emoji not working"
:ztthinking:, :ztsmug:, :ztsmug: emojis not working in next.dogehouse.tv
<img width="291" alt="Screenshot 2021-04-10 at 11 54 42 AM" src="https://user-images.githubusercontent.com/29145212/114260595-8c025d80-99f3-11eb-9452-1f8a38c274f6.png">

use this emoji in chat and it will not appear

[2021-04-10 06:47] TheOtterlord commented on #1689
I believe ben plans to use [dogecoin](https://dogecoin.com/) in monetisation somehow, but monetisation will not be coming until dogehouse is a complete stable platform.

[2021-04-10 07:01] GijsRommers commented on #1707
He has talked about this in two of his dogelogs...

[2021-04-10 07:36] TheOPtimal commented on #1934
ESR's main goal is to be secure and stable, not to be up to date. So it looks like the ESR version is missing some sort of web standard.

[2021-04-10 08:07] TheOtterlord commented on #1934
Broken in Electron: Chromium 87

[2021-04-10 12:10] #1942 closed, assigned to nobody

[2021-04-10 13:28] ghost commented on #1734
Chrome on M1 Mac Version 89.0.4389.114 (Official Build) (arm64)

[2021-04-10 14:36] isaxk commented on #1707
Yes, he has. He talked about a tiktok like feed for audio

[2021-04-10 16:10] alimkoca opened #1948 "Deleted"
Deleted

[2021-04-10 16:16] BronzW commented on #1324
Just took us 22 days

[2021-04-10 16:17] BronzW commented on #1390
Close this now since it has been done?

[2021-04-10 16:21] #1948 closed, assigned to nobody

[2021-04-10 16:33] borisgrigorov commented on #1934
I have the same problem in electron version.

[2021-04-10 17:20] armedev opened #1950 "npm install is giving errors"
**Describe the bug**
npm Install not working or maybe I am lacking some tips.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'kofta/'
2. run npm i.

**Expected behavior**
It should Install all packages.

**Screenshots**
![Screenshot from 2021-04-10 22-47-18](https://user-images.githubusercontent.com/51921579/114278746-d107ad80-9a4e-11eb-9ab0-bf1cf9a25caa.png)

**What device are you on

[2021-04-10 17:41] yzx396 opened #1952 "New Version Bug: blank page when joining any room on iphone Safari browser"
**Describe the bug**
On my iphone 12 pro safari browser, I can see list of rooms after github signin to next.dogehouse.tv, but when I join any room, it will lead me to a blank page without any voice.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to next.dogehouse.tv in safari browser on iphone
2. Click on Github login
3. Click on the first room
4. See a blank page and no voice

**Expect

[2021-04-10 18:11] jobveldhuis commented on #1952
I can actually reproduce this bug and have some more info to add. It will play the sound of the room for a couple of seconds until it has loaded the blank page, then all sound will cut out and it will no longer work.

[2021-04-10 18:30] ajmnz commented on #1927
@goldyydev a non-autoclosing error toast should do it for now

[2021-04-10 18:32] ajmnz commented on #1920
Follow the template for new version bugs (include device, browser, etc.)

[2021-04-10 18:32] #1920 closed, assigned to nobody

[2021-04-10 18:48] jobveldhuis commented on #1915
I have added a full-width class to the EmojiPicker component, so that it will adhere to the limits of the parent, instead of the natural limits of the component. See #1954

[2021-04-10 19:14] BronzW commented on #1952
Can reproduce on iPhone 7

[2021-04-10 19:17] BronzW commented on #1950
Cannot reproduce. Have you tried in powershell or cmd?

[2021-04-10 19:29] BronzW commented on #1766
This has not been fixed

[2021-04-10 19:29] BronzW commented on #1766
Still happens in electron and other web browsers

[2021-04-10 19:32] coderinblack08 commented on #1911
That's strange... I can't reproduce in dev tools. Maybe we can try adding a min-height to the RoomCard?

[2021-04-10 19:49] TheOtterlord commented on #1918
Ok, apparently it still exists sometimes. but I can't seem to replicate it with 100% success.

[2021-04-10 20:21] amitojsingh366 opened #1955 "New Version Bug: No custom scrollbar on right panel"
There's no custom scrollbar on the right panel

![image](https://user-images.githubusercontent.com/35400192/114283648-76248500-9a53-11eb-8205-d3082d7f6660.png)

[2021-04-10 22:46] Ademking commented on #1955
Same here:
![image](https://user-images.githubusercontent.com/12462188/114286483-01534a00-9a57-11eb-95a6-acd5a2422321.png)

[2021-04-10 23:25] LiamTownsley commented on #1919
**Browser**: Chrome 89.0.4389.114
**Extentions** (that has access to the site):
* Dashlane
* HTTPS Everywher
* uBlock Origin

Not tested on other browsers but I presume this is chrome-specific by what you're saying.

[2021-04-10 23:56] sahilmob commented on #1919
Apparently, the scrollbar will adapt and maintain the same scrolling position until it reaches 100 message which is set in `useRoomChatStore.ts`, after that limit the messages array will be sliced to 100 message, therefore each message position will be shifted for each incoming message.

With 100 message limit:
https://user-images.githubusercontent.com/33333226/114287661-3c627700-9a71-11eb-80ac-4a

[2021-04-11 00:05] ch70357 commented on #1919
Makes sense. I noticed this in 2 rooms, bee hive swarm (something to that effect), and the FizzBuzz room. Both acted like messages were being injected to perform load testing, or possibly the API was compromised and being used to insert numerous messages.

I'm on Chrome version 89.0.4389.114 (64 bit), with no extensions.

[2021-04-11 01:19] #1915 closed, assigned to nobody

[2021-04-11 01:46] benawad commented on #1955
anyone know if there is a way to globally style the scrollbar rather than us doing it for each and everyone

[2021-04-11 03:33] Complexia opened #1958 "Sound on Ubuntu as soon as I join a room"
**Describe the bug**
As soon as I join any room, the system sound is turned off, as though I muted it, although it does't appear to be so. Nor dogehouse room nor any other system sound i.e. on another tab works, and as soon as I leave the room, the sound is back on. Started happening today. Problem on both, headphones and speakers.

**To Reproduce**
Steps to reproduce the behavior:
1. Join room
2.

[2021-04-11 04:01] ajhalili2006 commented on #1958
Hi, @Complexia! Did you installed the desktop client through `snap`? If yes, there's an PR that currently on review at #1947 regarding adding `audio-record` interface (by default, you might need to manually connect the interface with `snap connect dogehouse:audio-record` on an terminal because as [per the documentation on supported interfaces, it is not autoconnected on install](https://snapcraft.

[2021-04-11 05:26] amitojsingh366 commented on #1955
yes if you put it in `kibbeh/src/styles/global.css`

[2021-04-11 06:02] amitojsingh366 commented on #1955
@benawad see #1962

[2021-04-11 08:39] Complexia commented on #1958
Hey @AndreiJirohHaliliDev2006, I was using the web app.

[2021-04-11 10:00] dhruv-programmes opened #1963 "New Version Bug:"
unexpected error in firefox after some time in the room

[2021-04-11 10:00] #1963 closed, assigned to nobody

[2021-04-11 10:16] ajhalili2006 commented on #1958
@Complexia Something like browser interaction required to play audio. Can you get the console logs from your browser's DevTools? Also what browser are you using?

[2021-04-11 11:03] Shinyzenith opened #1965 "Room doesn't exist bug."
Sharing the link to a private room, often said "room doesn't exist anymore" on clicking on it altough it's actually a live room.

[2021-04-11 11:06] ghost opened #1966 "In dogehouse : Creating a new gh acc syncs data frm old gh acc"
I had an old github acc which i deleted. I made a new one. I cleared my browser data. When i try logging in to dogehouse, it takes the data [like username, bio, followers frm my old acc which doesnt exist!]

They both use the same email.

Im unable to see who i am following even though i am following benawad.
![image](https://user-images.githubusercontent.com/82309973/114301790-de22ac00-9ae3-11eb-

[2021-04-11 11:08] ghost commented on #1965
Thats cuz its a private room and the user on the other shd not be able to access it. So according to the user on the other end, "The room doesnt exist anymore"

[2021-04-11 11:34] ajmnz commented on #1966
Worth noting that both GitHub accounts use the same email

[2021-04-11 13:13] Shinyzenith commented on #1965
@Krishna-Ramasimha but if that's indeed the issue then why does it tell me "room is private" when I try to join?

[2021-04-11 14:41] arsaviz opened #1967 "ERROR: Service 'workspace' failed to build while trying to use docker compose"
When I'm trying to run "docker-compose up -d" on the .devcontainer directory it successfully pull and extract the images but while running the commands I encounter these errors

**To Reproduce**
Steps to reproduce the behavior:
1. clone the repository
2. cd .devcontainer
3. docker-compose up -d
4. the error appears

**Screenshots**
![image](https://user-images.githubusercontent.com/70934913/114308

[2021-04-11 16:26] #1462 closed, assigned to nobody

[2021-04-11 16:29] TheOtterlord commented on #1918
Reopening as it still exists. Happens at about 25% - 33% scrollbar height

[2021-04-11 16:32] benawad opened #1969 "Priority List - READ BEFORE CONTRIBUTING"
- [x] move `next.dogehouse.tv` to `dogehouse.tv`
  - [x] finish scheduled rooms page
  - [x] fix important github issues about `next.dogehouse.tv`
- [x] review old pull requests
- [x] create debugging system to pinpoint why sometimes you can't hear someone in rooms with tons of speakers
- [ ] recording
- [ ] clipping
- [ ] be able to like a clip
- [ ] top clips page
- [ ] start doing tech meetups

[2021-04-11 16:40] SunbroJedi commented on #1969
first (:

[2021-04-11 16:40] iamanalt commented on #1969
Will the old UI remain accessible?

[2021-04-11 16:40] SunbroJedi commented on #1969
Sussus Amogus

[2021-04-11 18:10] somesh333 commented on #1969
Can I Pull this Issue?

[2021-04-11 18:13] TheOtterlord commented on #1969
@somesh333 what do you mean by can you "pull" the issue?

[2021-04-11 18:32] BronzW commented on #1969
new github feature

[2021-04-11 18:32] BronzW commented on #1969
you can now download issues

[2021-04-11 19:19] BronzW commented on #1602
This issue should be closed as it has been fixed

[2021-04-11 19:22] #1602 closed, assigned to nobody

[2021-04-11 20:28] #1955 closed, assigned to nobody

[2021-04-11 20:32] Darker-Ink opened #1970 "Remove People from using ZalgoText"
You Should Disable ZalgoText Or make it where text can't go over the message as It is very Spammy and People Might Abuse it, It could also Crash people if they are on a Low end device and someone sends a Huge Piece Of text. This should Be looked Into and Fixed :)

ļ̷̨̨͎̝̲̰̬̰̦̜̳͔͕̮̖͍̳͙̮̣̥̩̺̺̭̱̪̝̹̠̤̞̺͖̪͈͎̘̩̠͓̱̏̿̉͗̍̀̄͂̈́͜ͅo̸̡̨̨̢̡̖̝̖̥̱͙̻̟̝̹͍͉̹̞̰͚̠̗̭̻̰͎̟̗͖̙̬͖̭̤̟͙̩̲͂͌͊̋̑ͅͅl̵͌̆̍̒̇̋̏̉̀͌͑̈͒͑͂̂͂͑͋̈́͌̔̀͂̅̈́͋͛͝

[2021-04-11 20:43] TheOtterlord commented on #1970
You could use a regular expression (e.g. `%CC%`) to detect it, then either filter or reject any messages containing it. This should be done server side.

Source - [Stack Overflow](https://stackoverflow.com/a/61519444/14104186)

[2021-04-11 20:55] TheOtterlord commented on #1150
@ronakkaria01 does the [new design](https://next.dogehouse.tv) work?

[2021-04-11 20:59] TheOtterlord commented on #966
As the room is now gone, I'm going to close this issue. If this happens on the new version, please open a new issue.

[2021-04-11 20:59] #966 closed, assigned to nobody

[2021-04-11 21:57] goldyydev commented on #1970
Will PR this tomorrow, there are still a few fields that I have to test

[2021-04-11 22:40] dark-elixir-shibe opened #1972 "Kousa: ws data sanitization"
- [ ] level 0: basic ws input/reply sanitization
- [ ] level 1: advanced ws input/output sanitization (details hidden due to security considerations, leave comment if you want to help)
- [ ] level 2: eliminate usage of naked websocket pushes from the interior of the codebase
- [ ] level 3: document how to add new websocket content
- [ ] level 4: catalog all websocket communications into a formaliz

[2021-04-11 22:41] dark-elixir-shibe commented on #1972
current work on ws input/reply sanitization here:  https://github.com/dark-elixir-shibe/dogehouse/tree/kousa/isaac/ws-validation

[2021-04-11 22:44] dark-elixir-shibe commented on #1972
general technique:  use Ecto embedded schemas to provide simple declarative interfaces for validation:  https://www.youtube.com/watch?v=k_xDi7zAcNM

[2021-04-12 03:59] Complexia commented on #1958
![beforeJoinRoom](https://user-images.githubusercontent.com/26061194/114338712-fdc6dc80-9b96-11eb-850e-aade3f1824ae.png)

Here's the log before joining a room, all system sound is on and working fine.

![afterJoiningRoom](https://user-images.githubusercontent.com/26061194/114338745-12a37000-9b97-11eb-9741-630068ce7289.png)

Here's the log of after joining a room, all system sound is gone.

![after

[2021-04-12 04:00] AakashSharma7269 commented on #1950
![image](https://user-images.githubusercontent.com/60808802/114338923-b417cb00-9b71-11eb-8547-95bb020cf0e1.png)

[2021-04-12 06:15] nadirabbas commented on #1150
for me it does

[2021-04-12 07:06] #1899 closed, assigned to nobody

[2021-04-12 08:35] paolapog commented on #1950
Try to remove the `node_modules` folder and run again `npm i` **OR** try to `npm install --save extract-zip` manually.
I 've already tried to reproduce the issue but I cannot

[2021-04-12 09:12] vi241 commented on #1970
thx for making this issue

[2021-04-12 10:15] goldyydev commented on #1972
@benawad this one's for you to review

[2021-04-12 11:52] amitojsingh366 commented on #1934
i fixed this problem on baklava by migrating to electron `12.0.2` which uses chromium `89.0.4389.90`. turns out the issue was that the `:not()` pseudo class in css only started accepting a list of classnames after chromium `88.x`. Should be a similar fix for your firefox aswell, bump chromium. re-open if issue still persists.

[2021-04-12 11:58] MrDogeBro commented on #1934
Um.....this means only the most recent browsers could support the UI loading correctly, which is not the solution. The solution needs to be changing this line of css because on the web, backwards compatibility is everything. Like for me, I am on the latest esr release of firefox and it doesn't work, but there for sure needs to be backwards compatibility. Also, firefox runs on Gecko and not Chromiu

[2021-04-12 12:01] amitojsingh366 commented on #1934
yes you do have a point. ill reopen this and change the name to make it more clear

[2021-04-12 12:05] amitojsingh366 commented on #1934
according to https://developer.mozilla.org/en-US/docs/Web/CSS/:not#specifications firefox 84+ should support the selector list, hence my firefox being 88.0b9 supports it.

[2021-04-12 12:23] darkarnold opened #1975 "New Version Bug: Following count doesn't update when you follow a user"
**Describe the bug**
When I follow a user, the following count doesn't update to reflect that I have followed or unfollowed a user

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the homepage
2. Click on the follow button for the user you want to follow
3. See that the following count doesn't update

**Expected behavior**
When a user follows someone, the following count should update

[2021-04-12 12:56] MrDogeBro commented on #1934
Yes, but for example, 78.9 is the latest ESR release of firefox, which is basically a version of firefox that is meant for stability and security, not necessarily the newest features, which doesn't support this, even though if you look at [this chart](https://wiki.mozilla.org/Release_Management/Calendar), 78.9 ESR was released at the same time of standard v87 (latest) release......

[2021-04-12 13:08] GiggioG commented on #842
no, this is extremely annoying, especially for bot devs. this is one of the most important issues right now

[2021-04-12 13:30] TheOtterlord commented on #842
Discord OAuth is in progress (awaiting help from an elixir contributor). A seperate bot api will be added in the future, but e-mail authentication is a terrible idea, it makes it so easy for fake account spamming and overloading the server with fake requests etc.

[2021-04-12 13:30] GiggioG commented on #1531
yes, just like discord does with it's bots

[2021-04-12 14:36] BronzW commented on #1975
This is the expected behavior as it only fetches the data once, but this could get a fix.

[2021-04-12 16:54] nadirabbas opened #1980 "Voice whispers"
you know what i mean

[2021-04-12 17:07] chsaikumar445 opened #1981 "Error while joining the room in mobile"
I don't what the error is about but here is the ss
![Screenshot_2021-04-12-22-35-02-775_com android chrome](https://user-images.githubusercontent.com/44166843/114433603-a436d000-9bdf-11eb-9df4-c54e5256f36a.jpg)

[2021-04-12 17:28] isaxk commented on #1966
"eating pizza, praying to benawad, praying to nat friedman'

lol

[2021-04-12 18:26] ShubhamPatilsd commented on #1975
Does the follower count update if the page is refreshed? If so, I'm thinking that we could use a state hook or something.

[2021-04-12 19:38] ghost opened #1984 "New UI is Broken"
New UI is broken on some chrome versions.

[2021-04-12 19:41] ghost commented on #1984
Is there a fix? I can't update chrome due to this laptop being managed by my school.

[2021-04-12 20:32] amitojsingh366 commented on #1984
dupe #1934

[2021-04-12 20:32] #1984 closed, assigned to nobody

[2021-04-13 03:25] okdargy opened #1989 "New Version Bug: Spelling Error in Voice Settings?"
**Describe the bug**
Instead of "set keybind" it's "Det Keybind".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your profile
2. Go to voice settings
3. See error

**Expected behavior**
"set keybind"

**Screenshots**
![image](https://user-images.githubusercontent.com/76412158/114492289-eb23c600-9bdd-11eb-9e58-6ba7e18474b9.png)

**What device are you on?**
Chromebook

[2021-04-13 05:23] #1989 closed, assigned to nobody

[2021-04-13 05:56] isaxk commented on #1432
In the new design, the menu that appears when tapping your profile picture would be a good place to put the button

[2021-04-13 07:27] TheOtterlord commented on #1981
Try using the [new design](https://next.dogehouse.tv).

[2021-04-13 12:12] BronzW opened #1996 "Baklava doesn't have a custom title bar"
The current one clashes with the DogeHouse theme by being white.

[2021-04-13 13:05] cursorial commented on #1950
`yarn`

[2021-04-13 13:31] munetta opened #1999 "add margin-bottom to modal for edit profile and other things"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-13 14:59] dandanthedev commented on #842
Its all handled by Auth0 so u dont have to worry bout secuirty and overloading but faking accounts is a problem

[2021-04-13 15:00] dandanthedev commented on #842
Make a verified badge i guess

[2021-04-13 16:08] wes337 opened #2000 "Chat input doesn't clear when changing rooms"
**Describe the bug**
The chat input doesn't clear when leaving and entering a new room.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter a room.
2. Type a message (but don't send it)
3. Leave room, and join another
4. Your unsent message stays

**Expected behavior**
Input should be cleared/reset when entering a new room.

**Screenshots**
![](http://g.recordit.co/92ayL0UpYY.gif)

**What

[2021-04-13 20:25] #1927 closed, assigned to nobody

[2021-04-13 21:08] BronzW commented on #1967
I'm having the same problem.

[2021-04-13 21:57] okdargy opened #2007 "Amount of people duplicate everytime you open the Invite tab"
**Describe the bug**
Amount of people duplicate everytime you open the Invite tab

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any room
2. Make sure a follower is online
3. Click Invite
4. Go back and click Invite again
4. See error

**Expected behavior**
Supposed to show only the same amount of followers.

**Screenshots**
![image](https://user-images.githubusercontent.com/76412158/

[2021-04-13 22:02] okdargy commented on #1981
Same thing happens on the new design. I think the room is bugged, not DogeHouse.

The room that is bugged is named "DoobHouse!" if you want to try reproduce this.
![image](https://user-images.githubusercontent.com/76412158/114626616-9766ba80-9c79-11eb-8ca8-4a276b953ba1.png)
![image](https://user-images.githubusercontent.com/76412158/114627009-25db3c00-9c7a-11eb-9af0-fef6fd03a1c3.png)

[2021-04-13 23:13] #2000 closed, assigned to nobody

[2021-04-14 06:08] kndwin commented on #1485
Could you advise if the issue is still happening? If so, it'll be helpful to capture a .har file and see if there's any issues with connectivity.
https://www.medianova.com/en-blog/2019/07/15/a-step-by-step-guide-to-generating-a-har-file

[2021-04-14 06:11] kndwin commented on #1952
Does it work with other browsers on the iPhone or is it just exclusively Safari?
Can you confirm if the behavior is the same if you open Safari on another device (laptop) but with a mobile width?

[2021-04-14 06:22] kndwin commented on #2007
Can you advise if this behavior is reproducible with [next.dogehouse.tv](https://next.dogehouse.tv)?

[2021-04-14 06:37] TheOPtimal commented on #842
Just wanna pop in and say that there is also [Userbase](https://userbase.com/) which is completely serverless. (Unless you want to self-host it that is)

It is also GDPR compliant.

[2021-04-14 06:57] isaxk opened #2011 "New Version Bug: Scrolling inside room frame also scrolls the dogehouse logo"
**Describe the bug**
When I joined a room, I scrolled inside of the frame which lists the listeners and speakers. After a certain point it also scrolls the dogehouse logo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'a room'
3. Scroll down in 'the frame of people'
4. See dogehouse logo scroll.

**Expected behavior**
The logo to be fixed

**Screenshots**
If applicable, add screensho

[2021-04-14 07:03] okdargy commented on #2007
No, it is not reproducible on [next.dogehouse.tv](https://next.dogehouse.tv)

[2021-04-14 07:09] isaxk opened #2012 "Allow users to send custom messages with room invite"
**Is your feature request related to a problem? Please describe.**
Not really, it would just be helpful to be able to send a custom message with room invite.

**Describe the solution you'd like**
A textbox above the list of people which sends a custom message, if left blank it will just send the room description.

**Describe alternatives you've considered**

**Additional context**
Add any other co

[2021-04-14 07:12] kndwin commented on #2007
Given that there's a general move towards the next Next.js platform (#1969) I'm guessing this bug might not be picked up.

[2021-04-14 09:19] Tr4nt420 opened #2014 "New Version Bug: Chat area becomes fullscreen if firefox sidebar is on."
**Describe the bug**
The chat area will become fullscreen if I turn on my firefox sidebar, and everything will be back to normal if it's off

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Any DogeHouse room'
2. Click on 'Chat icon -> Go to Firefox

 Menu bar -> View -> Sidebar -> Bookmark or History or Synced tab'

**Expected behavior**
The chat room will become fullscreen

**Screens

[2021-04-14 11:08] amitojsingh366 commented on #1918
i can reproduce this:

https://user-images.githubusercontent.com/35400192/114700957-def94f00-9d2a-11eb-8e0b-35318f6de65d.mp4

[2021-04-14 11:31] ovandenbosch opened #2015 "Ability to remove followers"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
The ability to remove followers if you would like.

**Describe alternatives you've considered**
None.

**Additional context**

[2021-04-14 12:54] okdargy commented on #2015
How would this enhancement be helpful? I can't really think of a situation where you'll need to remove your followers.

[2021-04-14 12:56] ovandenbosch commented on #2015
Idk, if you want to make your account more private. An alternative would maybe be able to make private accounts with request to follow

[2021-04-14 14:13] BronzW commented on #2014
Thanks for the issue, but this is the expected behavior as the website is responsive and using things like bookmarks in Firefox will cause the view port to become smaller and change itself to fit it in a user-friendly way.

[2021-04-14 14:16] BronzW commented on #2007
Resolving bugs in the old version is meaningless.

[2021-04-14 14:18] BronzW commented on #1999
Filling in the fields in the description of this issue will help resolving it. I don't see any meaning in margin-bottom to the edit profile modal as it looks fine to me
![image](https://user-images.githubusercontent.com/50546858/114725757-0f49e900-9d3d-11eb-898e-79a0f65a662d.png)

[2021-04-14 14:24] BronzW commented on #1909
This has been fixed now!
![image](https://user-images.githubusercontent.com/50546858/114726678-e37b3300-9d3d-11eb-922e-3080fc4e1494.png)

[2021-04-14 14:24] munetta commented on #1999
Ok

On Wed, Apr 14, 2021, 10:18 AM BronzW ***@***.***> wrote:

[2021-04-14 14:25] BronzW commented on #1890
I think as I can't reproduce this problem again today this issue should be closed.

[2021-04-14 14:25] #1890 closed, assigned to nobody

[2021-04-14 16:01] Tr4nt420 commented on #2014
So, what you're saying is the website thought that im using a mobile device?

[2021-04-14 17:12] BronzW commented on #2014
Yes, and being on a smaller screen like a laptop from 1998 will also cause this to happen. Putting the chat to the side like any big screen would would not be possible without making other parts of the UI and the chat itself very, very small so that's why it takes up the whole screen and is minimizable and maximizable when on a small screen.

[2021-04-14 17:37] #1909 closed, assigned to nobody

[2021-04-14 18:02] goldyydev commented on #2014
Hey, what version of Firefox is this this?

[2021-04-14 18:04] BronzW opened #2018 "Settings dropdown not flexible for translations"
![image](https://user-images.githubusercontent.com/50546858/114757890-abcfb380-9d5c-11eb-9e21-3a57e884bf49.png)

[2021-04-14 18:24] dandanthedev commented on #842
Auth0 will cost money at a certain user limit, so maybe userbase is a good idea

[2021-04-14 18:47] YummyOreo opened #2021 "Connections"
**Connections.**
When I go onto someone profile all I see is a description, NO connections, I want to know what there doing

Connections will allow you to connect your, twitter, discord, github (auto connect) and website

Or you can only do github

[2021-04-14 19:13] ajmnz commented on #1999
This is temp and will be moved to settings eventually

[2021-04-14 19:13] #1999 closed, assigned to nobody

[2021-04-14 20:28] ajmnz opened #2022 "[Profile Page | Desktop] Components Implementation"
# Components Implementation

### Profile Page | Desktop

New components available for anyone that wants to contribute to the new design (`kibbeh`). Make sure to read the guidelines at the bottom of the issue.

---

### New components
- [x] ProfileHeaderWrapper - https://www.figma.com/file/CS01VVLR7ArQl0afYFkNj3/Web-App?node-id=8277%3A977
    - Requires none ✅
- [ ] ProfileHeader - https://www.figm

[2021-04-14 20:32] Angshu31 commented on #2022
I'm claiming "Calendar Dropdown" and "Share Dropdown" because both are practically the same.

[2021-04-14 20:32] BronzW commented on #2022
I'll do `ProfileAbout` once @goldyydev 's `UserBadgeLg` is merged.

[2021-04-14 20:54] ajmnz commented on #2022
Merged into `BaseDropdownSm`, check my edit

[2021-04-14 21:04] goldyydev commented on #2022
I'm on `UserBadgeLg`

[2021-04-14 21:36] Angshu31 commented on #2022
Just to clarify, This means that I'll only create "BaseDropdownSm" component right? (The component will accept children)

[2021-04-14 21:37] ajmnz commented on #2022
Yup

[2021-04-14 21:57] goldyydev commented on #2022
I'm done with `UserBadgeLg`, waiting on @benawad to fix Storybook so I can PR

[2021-04-14 22:51] sahilmob commented on #2022
I will do `ProfileHeaderWrapper`

[2021-04-14 23:58] samarmohan commented on #1432
Yes, how would I go about adding translation text for "Download Desktop App"? There are a _lot_ of languages.

[2021-04-15 00:02] Mvrs commented on #2022
Is anyone working on the profileAbout?

ill do `ProfileHeader`

[2021-04-15 00:03] Mayowa-Ojo commented on #2022
I'll do ProfileTabs

[2021-04-15 00:17] sahilmob commented on #2022
I will do `CalendarDropdown`

[2021-04-15 00:53] #1970 closed, assigned to goldyydev

[2021-04-15 01:34] Mvrs opened #2024 "Storybook has compiling issues"
**Describe the bug**
Compiling when running storybook. TypeError: `this.getOptions is not a function`

**To Reproduce**
Steps to reproduce the behavior:
1. yarn `storybook`
2. See error

**Expected behavior**
Compiled Successfully (link to localhost storybook server)
webpack built preview e594b8865722d9c8f801 in 25422ms

**Screenshots**
![error-patch-1](https://user-images.githubusercontent.com/57

[2021-04-15 01:39] Mvrs commented on #2024
note: I'm running storybook **v6.2.7** 😅

[2021-04-15 01:57] yzx396 commented on #1952
The problem is gone

[2021-04-15 01:57] #1952 closed, assigned to nobody

[2021-04-15 02:52] Mvrs commented on #2022
@goldyydev there is a storybook issue huh? I thought I was tripping out 😆.

[2021-04-15 04:58] DimoDimchev opened #2025 "Dogehouse logo not showing properly"
The Dogehouse logo in the new beta doesn't show up properly.

I jumped on the beta first thing this morning on my MacBook Air 2020 (Intel Chip), and I saw that the logo appeared dark, when it should be white.

Check the top left of the screenshot to see the logo.

<img width="1171" alt="Screenshot 2021-04-15 at 7 56 21 AM" src="https://user-images.githubusercontent.com/38102582/114816174-4ca38a80-

[2021-04-15 05:10] ajhalili2006 commented on #2024
Hi @Mvrs! I can't see the error message clearly. Can you please either reproduce the issue while recording with Asciinema or dump the error logs from your terminal into GitHub Gists?

[2021-04-15 05:14] ajhalili2006 commented on #1967
Looks like some commands are not found AKA script syntax is borked. I'll take a look at it later.

[2021-04-15 05:31] Mudrank opened #2026 "New Version Bug: Not responsive"
![image](https://user-images.githubusercontent.com/70035508/114818359-4ec61300-9dd9-11eb-9062-b11a97c0268c.png)
as you can see in the screenshot the width's at **1247** , which is a size laptop screen , but's it's still in tablet mode

@nadirabbas @benawad

[2021-04-15 05:45] amitojsingh366 opened #2027 "New Version Bug: Electron app's title bar makes it scroll weirdly"
**Describe the bug**
The custom title bar makes the electron app scroll. I'm the one who added this so i know exactly what causes this. Adding the `margin-top` property on the UI does. *(see video below)*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'next.dogehouse.tv' on the app
2. Scroll and see

**Expected behavior**
Shouldn't cause scrolling/should only scroll the room cards

**

[2021-04-15 06:30] Szegoo commented on #2025
I will try to fix it :D

[2021-04-15 07:14] Mvrs commented on #2024
@AndreiJirohHaliliDev2006 sure thing!

[2021-04-15 07:45] isaxk commented on #1432
The languages don't translate the menus yet so...

[2021-04-15 07:59] isaxk opened #2030 "New Version Bug: Dogehouse logo appears darkened"
**Describe the bug**
A clear and concise description of what the bug is.
I go to next.dogehouse.tv and it automatically logs in. I then notice that the dogehouse logo has turned black, almost invisible on the dark theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'next.dogehouse.tv'
2. Click on 'login with [website]'
4. See error

**Expected behavior**
The regular dogehouse logo.

[2021-04-15 08:02] isaxk commented on #2030
Oops just realized duplicate of #2025

[2021-04-15 08:03] #2030 closed, assigned to nobody

[2021-04-15 08:04] isaxk commented on #2027
I experienced this even on the website #2011

[2021-04-15 08:13] amitojsingh366 commented on #2027
yes, that seems to be fixed now. ben was experimenting with something that caused it. however this bug on the app is all my doing and idk how to fix it

[2021-04-15 08:14] amitojsingh366 commented on #2011
this seems to be fixed now, ben was experimenting with global flex then ended up causing this. im closing this, if it still occurs comment below

[2021-04-15 08:14] #2011 closed, assigned to nobody

[2021-04-15 08:20] #2025 closed, assigned to nobody

[2021-04-15 08:35] amitojsingh366 commented on #1918
probably has to do smtg with #1876

[2021-04-15 08:37] dk-raw opened #2031 "More phrases missing on the JSON translation files"
**As more components are being added, translations are left behind. A lot of phrases are not being updated or added in the JSON translation files. Is there a way of  doing that automatically?**

[2021-04-15 08:42] amitojsingh366 commented on #2031
in kofta there was `npm run i18` that would add the keys for you and write the eng translation for it

[2021-04-15 08:43] amitojsingh366 commented on #2031
i believe in kibbeh you can run `yarn i18` and it should yield a similar result

[2021-04-15 08:47] dk-raw commented on #2031
so kofta or kibbeh?

[2021-04-15 08:48] ghost opened #2032 "Change focused style of buttons"
I really don't enjoy looking at the default button outline when in focus, I'd like to either remove it completely and add some other kind of visual clue that you actually clicked on it or restyle the outline. Right now it looks like this and I think it's pretty ugly:

![image](https://user-images.githubusercontent.com/73597777/114841176-9bfdb100-9de8-11eb-92d0-e616503fde6a.png)

[2021-04-15 08:51] amitojsingh366 commented on #2031
in kofta `npm run i18` and kibbeh `yarn i18` should work. should fill out empty fields for you but obv wont translate them, will just fill them with eng translations

[2021-04-15 08:56] amitojsingh366 commented on #2032
maybe we could replace those with [tailwind css rings](https://tailwindcss.com/docs/ring-width)

[2021-04-15 09:05] #2024 closed, assigned to nobody

[2021-04-15 09:25] amitojsingh366 commented on #2018
i see...
<img width="838" alt="Screen Shot 2021-04-15 at 12 24 47 PM" src="https://user-images.githubusercontent.com/35400192/114846673-95216f00-9de5-11eb-8ebe-31e531e89734.png">

[2021-04-15 09:25] Tr4nt420 commented on #2014
Version 87.0 (64 bit)
Mozilla Firefox for Ubuntu
canonical - 1.0

[2021-04-15 09:30] BronzW commented on #2024
Running `git pull origin staging` & `yarn` & `yarn staging` will now fix this issue by https://github.com/benawad/dogehouse/commit/3f36c8c07b408679e846496c10089dbd44f01df1

[2021-04-15 09:44] BronzW commented on #2022
Storybook issue now fixed

[2021-04-15 11:51] BronzW commented on #2031
Focusing on kibbeh is smart as it will become the main platform very very soon.

[2021-04-15 12:43] amitojsingh366 commented on #2031
yea we're switching today 100%

[2021-04-15 12:44] goldyydev commented on #2032
@ajmnz

[2021-04-15 12:45] goldyydev commented on #2032
This is a bug (that also applies to Kibbeh)

Someone needs to add outline-none the button component.

[2021-04-15 12:50] amitojsingh366 commented on #2032
i think we need some sort of outline for aria. correct me if i'm wrong

[2021-04-15 12:52] goldyydev commented on #2026
I think you opened the chat in Mobile view and then scaled the screen up to a laptop size.
This is a bug but a very rare one as I do not know any devices that suddenly scale from mobile to laptop.

[2021-04-15 12:59] goldyydev commented on #2014
this is something for @ajmnz to decide as it is a part of the grid sizes.

[2021-04-15 14:14] #1996 closed, assigned to amitojsingh366

[2021-04-15 16:43] BronzW opened #2041 "Mute room"
If you want to quickly mute to maybe talk to somebody on a call it would be pretty nice to have an option to mute the room instead of having to mute the tab.

[2021-04-15 16:53] benawad commented on #1934
@MrDogeBro I changed how we do the css, I think this should be fixed now, but plz reopen if you are still seeing it broken

[2021-04-15 16:53] #1934 closed, assigned to nobody

[2021-04-15 17:52] Mayowa-Ojo commented on #2041
I believe the label here should be `enhancement` instead of `bug`

[2021-04-15 18:02] ajmnz commented on #2014
It says video is corrupt, but it's expected behavior for what @BronzW said

[2021-04-15 18:02] #2014 closed

[2021-04-15 18:03] ajmnz commented on #2032
@benawad we need to address this. Browser default focus is nasty

[2021-04-15 18:15] BronzW commented on #2041
Yeah didn't click the enhancement and I can't change it right now. I will move this to another issue.

[2021-04-15 18:15] #2041 closed, assigned to nobody

[2021-04-15 18:15] BronzW opened #2043 "Mute room"
If you want to quickly mute to maybe talk to somebody on a call it would be pretty nice to have an option to mute the room instead of having to mute the tab.

[2021-04-15 22:37] okdargy opened #2045 "New Version Bug: Scheduled rooms only shows so far then repeats itself"
**Describe the bug**
Even when there is more scheduled rooms, it repeats itself. It only displays a certain amount of scheduled rooms.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dogehouse.tv
2. Click on "Explore more rooms" under the Upcoming Rooms tab.
3. Scroll down and click "Read More"
4. See error

**Expected behavior**
It's supposed to show more scheduled rooms than that.

*

[2021-04-15 23:18] amitojsingh366 opened #2047 "New Version Bug: Links prefixed with [ should be converted to strings"
https://user-images.githubusercontent.com/35400192/114949573-f84ce900-9e59-11eb-8194-3da49b47504f.mp4

[2021-04-15 23:43] amitojsingh366 opened #2048 "Spam bots bad. (see vid attached)"
https://user-images.githubusercontent.com/35400192/114951645-7f4f9080-9e5d-11eb-86ab-3a31bd0ba984.mov

[2021-04-16 03:59] aaryamvn commented on #2032
I have noticed this myself, are we using tailwind? If so we could add the ring classes and customize it. If we are using plain css it isn't a huge deal; we can add outline properties and things

[2021-04-16 04:05] aaryamvn commented on #1413
Hm interesting, if its open i wouldn't mind picking this up.

[2021-04-16 04:14] aaryamvn opened #2050 "Permit room owners to prevent explicit chat content"
We should be able to present room mods and owners with the ability to prevent explicit chat content in the chatbox.

**Implementation**

Moderators will have a toggle switch when they create the room which allows them to turn the profanity filter off or on.

This preference will be stored in the DB.

On the room page, we will use the ["Bad Words Library"](https://www.npmjs.com/package/bad-words) o

[2021-04-16 05:52] aaryamvn commented on #2043
I wouldn't prioritize this as I don't see the relevance and how it helps enhance a user experience. It's not like they will be doing any other sound requiring activities on Dogehouse except for listening to the room discussion, so there won't be much of a difference between muting the tab and muting the room.

[2021-04-16 05:54] BronzW commented on #2043
Something like a volume button for that room, like on twitch, would be relevant.

[2021-04-16 05:57] aaryamvn commented on #2043
That is definitely helpful, lets implement it

[2021-04-16 06:32] isaxk commented on #2050
I think it should be a mandatory feature

[2021-04-16 06:36] devtanna commented on #1413
@fullstackslayer Go for it! I haven't had so much time unfortunately

[2021-04-16 07:05] aaryamvn commented on #2050
@isaboo i think we should turn it on by default but let mods toggle it. If they turn it off then any user that comes across their room will see a flag saying "NSFW" or something.

[2021-04-16 08:06] TheOtterlord commented on #1966
can confirm that it is the email that causes the problem. same thing happens if I sign in with github and discord with the same email

[2021-04-16 08:09] TheOtterlord commented on #1981
This room was bugged and no longer exists. It should no longer appear in the list of rooms. I'll close this issue, but feel free to reopen if it happens again

[2021-04-16 08:09] #1981 closed, assigned to nobody

[2021-04-16 08:11] TheOtterlord commented on #1950
Kofta is now archived.

[2021-04-16 08:11] #1950 closed, assigned to nobody

[2021-04-16 08:11] TheOtterlord commented on #1713
Kofta is now deprecated. If you find the problem appears in Kibbeh, please reopen

[2021-04-16 08:11] #1713 closed, assigned to nobody

[2021-04-16 08:13] TheOtterlord commented on #1576
Kofta is now deprecated. As this problem does not exist in Kibbeh, this issue is now resolved. If you find this is happening to you in kibbeh, please reopen

[2021-04-16 08:13] #1576 closed, assigned to nobody

[2021-04-16 08:14] TheOtterlord commented on #1547
As Kofta is deprecated and Kibbeh correctly handles this, this issue will be closed. If it occures to you in Kibbeh, please reopen

[2021-04-16 08:14] #1547 closed, assigned to nobody

[2021-04-16 08:15] TheOtterlord commented on #1507
Closed as Kofta is deprecated. If zooming is a problem in Kibbeh, please open a new issue with the new details

[2021-04-16 08:15] #1507 closed, assigned to nobody

[2021-04-16 08:16] TheOtterlord commented on #1494
Kofta is deprecated. If this is happening to you on Kibbeh, please open a new issue

[2021-04-16 08:16] #1494 closed, assigned to nobody

[2021-04-16 08:17] TheOtterlord commented on #1145
Kofta is now deprecated. If this issue persists on the new site, please reopen

[2021-04-16 08:17] #1145 closed, assigned to nobody

[2021-04-16 08:18] TheOtterlord commented on #1085
Closing as Kofta is deprecated. If the issue persists in Kibbeh, please reopen

[2021-04-16 08:18] #1085 closed, assigned to nobody

[2021-04-16 08:18] TheOtterlord commented on #1050
Closed as Kofta is deprecated

[2021-04-16 08:18] #1050 closed, assigned to nobody

[2021-04-16 08:19] TheOtterlord commented on #758
Closed as Kofta is deprecated

[2021-04-16 08:19] #758 closed, assigned to nobody

[2021-04-16 08:19] TheOtterlord commented on #753
Closed as Kofta is deprecated and the new site has filters

[2021-04-16 08:19] #753 closed, assigned to nobody

[2021-04-16 08:20] TheOtterlord commented on #725
Kibbeh is released!

[2021-04-16 08:20] #725 closed, assigned to nobody

[2021-04-16 08:21] TheOtterlord commented on #700
Cannot reproduce in Kibbeh, and as Kofta is deprecated this issue can be closed. If it occures to you in Kibbeh, please create a new issue.

[2021-04-16 08:21] #700 closed, assigned to nobody

[2021-04-16 08:22] TheOtterlord commented on #552
Closed as Kofta is deprecated. Feel free to reopen if this also affects Kibbeh

[2021-04-16 08:22] #552 closed, assigned to nobody

[2021-04-16 08:24] TheOtterlord commented on #544
No problem with this in Kibbeh (as far as I know. please reopen/create new issue if it's broken in kibbeh)

[2021-04-16 08:24] #544 closed, assigned to nobody

[2021-04-16 08:32] TheOtterlord commented on #1530
The new design is live and replacing kofta!

Kibbeh is now are only concern.
See the [priority list](https://github.com/benawad/dogehouse/issues/1969) for ways to help out.
Triaging issues and fixing bugs is one of the best ways to help out right now.

In addition, since Kofta is gone forever if you find any issues you believe are only relevant to Kofta, please dm me on [discord](https://discord.g

[2021-04-16 09:08] TheOtterlord commented on #2050
Yeah, this is something I feel should be implemented soon. For now though, I've created an open-source bot, so if your rooms are getting targeted, feel free to run the bot on an alt account: https://github.com/TheOtterlord/dogemod

[2021-04-16 09:52] aaryamvn commented on #2050
cool @TheOtterlord , ill work on implementing it out of the box

[2021-04-16 09:53] imadill commented on #1365
So... Did Ben said anything about this matter? I was thinking to open a issue to close the Wiki tab because that was unused until I found this issue.

[2021-04-16 09:57] TheOtterlord commented on #1365
He's not commented on this yet no. I doubt we'll end up using wikis as then only collaborators can edit it. For anyone wishing to contribute documentation, do so in `./docs` for now

[2021-04-16 10:23] amitojsingh366 commented on #1576
oh lol i fixed this but forgot to close it 😳

[2021-04-16 10:27] amitojsingh366 commented on #1413
@fullstackslayer before you start writing code for it please confirm with ajb on [discord](https://discord.gg/UGMJSHEKZ9) first, as this is smtg that's not in the figma.

[2021-04-16 11:32] KittyBorgX opened #2058 "Npm i crashes in dogehouse repo, fine everywhere else :("
pm ERR! code ENOENT
npm ERR! syscall chmod
npm ERR! path
npm ERR! errno -2
npm ERR! enoent ENOENT: no such file or directory, chmod '/Users/krishnaramasimha/Documents/projects/dogehouse/dogehouse/kofta/node_modules/@babel/core/node_modules/semver/bin/semver'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run can be found in:
n

[2021-04-16 11:34] crispyaus commented on #2058
Try `npm cache clean`

[2021-04-16 11:34] goldyydev commented on #2058
we do not use npm, we use yarn.

also, kofta is deprecated therefore questions about it will not be answered.

[2021-04-16 11:34] #2058 closed, assigned to nobody

[2021-04-16 12:04] GaurangShukla opened #2060 "Search icon alignment"
**Describe the bug**
The search icon is not alligned correctly.

**Screenshots**
![Screenshot_20210416-173049](https://user-images.githubusercontent.com/46562843/115021660-e01cae80-9ed9-11eb-8ea4-1ea4cc02be73.png)

**What device are you on?**
Android

[2021-04-16 13:15] TheOtterlord commented on #133
It seems this has been dealt with [here](https://github.com/benawad/dogehouse/pull/1501#issuecomment-820821051)

[2021-04-16 13:15] #133 closed

[2021-04-16 13:21] TheOtterlord commented on #2050
Closing as duplicate of #251 to keep conversation in one place

[2021-04-16 13:21] #2050 closed, assigned to nobody

[2021-04-16 13:28] Alibek10599 opened #2061 "UX:View Profile on separate page"
**Is your feature request related to a problem? Please describe.**
For example I can not view profile of users which I have not subscribed

**Describe the solution you'd like**
It is more UX feature imho)

**Describe alternatives you've considered**
Would be convenient to observe those user profiles who were not subscribed to view on full screen page like the profile page of users

**Additional co

[2021-04-16 13:36] chasecrampton opened #2062 "Old Version Button Does Not Work"
**Describe the bug**
If you try to click the "Use Old Version" button nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go To DogeHouse
2. Click on your profile
3. Click "Use Old Design"

**Expected behavior**
Old version should appear

**Screenshots**
![image](https://user-images.githubusercontent.com/56277964/115032341-0d3b7380-9e7e-11eb-8ffc-3a6223d56860.png)

**What device

[2021-04-16 13:45] isaxk commented on #251
I ♥️ MIT license

[2021-04-16 14:02] Aksh-Bansal-dev commented on #2047
I would like to fix this bug.

[2021-04-16 14:32] samarmohan commented on #2062
Old version is gone.

[2021-04-16 14:57] #2062 closed, assigned to nobody

[2021-04-16 14:58] goldyydev commented on #2061
@ajmnz

[2021-04-16 14:59] ghost commented on #2032
I'd really like to do something about this but I can't seem to run the frontend locally, I followed all the guidelines, I'm getting an error that it can't find 'dogehouse/kibbeh/.next/build-manifest.json'. Maybe there's something wrong with my machine, I'm using wsl2 maybe there's a problem with that, I could just try editing the 'Button.tsx' file but I'm not going to know if that even worked with

[2021-04-16 15:07] aaryamvn opened #2065 "No update untill i refresh the page when I follow another user"
If I follow a user on dogehouse, the side profile thingy doesn't update my "following" count in real time

[2021-04-16 15:07] ghost commented on #2032
Also this appears every time I run `yarn staging` inside kibbeh, it only appears once when I run it but not on refresh:
![image](https://user-images.githubusercontent.com/73597777/115044875-fed57200-9ee6-11eb-93e8-b65fb9f01e74.png)
Some kinda webpack error

[2021-04-16 15:13] TheOtterlord commented on #251
badwords package combined with a few other things makes for a decent filter

[2021-04-16 15:20] MMK21Hub opened #2067 "Mobile: No way to get out of chat"
**Describe the bug**
On small viewpoints, the chat becomes full screen. There is no way to exit chat.

**To Reproduce**

1. Small viewport
2. Join room
3. Open chat
  ❌  No button to close chat

**Expected behavior**
Some way to close chat

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What device are you on?**

Android 10

**Additional context**
A mobile user wou

[2021-04-16 15:23] MMK21Hub opened #2068 "Theme colour is now incorrect"
**Describe the bug**
When Dogehouse is installed as a PWA, the theme colour is still the colour from Kofta.

**To Reproduce**
Steps to reproduce the behavior:
1. Firefox Mobile
2. "Add to Home Screen'
3. Open DogeHouse as a PWA
4. Incorrect colour on the top of your screen

**Expected behavior**
The new accent/theme colour (Doge Blood iirc) would be there

**Screenshots**
If applicable, add screen

[2021-04-16 15:27] MMK21Hub opened #2069 "Mobile: Incorrect 'return' button when sending a chat message"
**Describe the bug**
When using a soft keyboard to type in the chat box, the Enter key dies not become a "Send Message" key, even though pressing it sends a message.

**To Reproduce**

1. Mobile
2. Join a room
3. Open chat
4. Start typing a message
5. Note the incorrect enter key

**Expected behavior**
The enter key would show the "send" icon

**Screenshots**
If applicable, add screenshots to help

[2021-04-16 15:28] TheOtterlord commented on #2068
Have you reinstalled the PWA since kibbeh was made the main site?

[2021-04-16 15:28] MMK21Hub commented on #2067
User error.

[2021-04-16 15:28] #2067 closed, assigned to nobody

[2021-04-16 15:32] MMK21Hub commented on #2069
Also affects the search box

[2021-04-16 15:55] aaryamvn commented on #1413
Cool

[2021-04-16 16:18] aaryamvn opened #2070 "Invalid room still registers user"
When I click a room that doesnt exist anymore, it still displays my name in the room participants:

![image](https://user-images.githubusercontent.com/67153585/115053981-567ed800-9efd-11eb-9c15-d7477d83e089.png)

as you can see in the image, I clicked the bot room thingy and initially, it only had "Dhruvs Bot", but despite being an invalid room it still presented my name.

[2021-04-16 17:29] julesntare opened #2072 "modify language feature"
**Describe the bug**
Language translate option needs to respond to all contents

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Language menu'
2. Click on 'let's say francais'
3. check if the title 'Your Feed', 'Upcoming rooms', search placeholder labelled 'Search for rooms, users or categories' do change for any language translated
4. See an error

**Expected behaviour**
I expected

[2021-04-16 17:41] TheOtterlord commented on #2072
This is due to some strings in the [translation file](https://github.com/benawad/dogehouse/blob/staging/kibbeh/public/locales/fr/translation.json) not yet being translated. If you would like to add/improve any translations, please edit the file and create a pull request

[2021-04-16 17:41] #2072 closed, assigned to nobody

[2021-04-16 17:42] benawad commented on #2032
https://www.a11yproject.com/posts/2013-01-25-never-remove-css-outlines/

[2021-04-16 17:44] ajmnz commented on #2032
^ Exactly what we're wanting to do

[2021-04-16 17:48] ajmnz commented on #2061
User page is being developed (#2022), then you'll be able to see anyone's profile regardless if you are following them or not

[2021-04-16 17:48] #2061 closed, assigned to nobody

[2021-04-16 17:49] ajmnz commented on #2060
Everything is off actually

[2021-04-16 17:51] MrDogeBro commented on #1934
Yup that seems to be fixed now. It all looks great. Thanks for doing that!

[2021-04-16 18:36] amitojsingh366 commented on #2032
@ajmnz @benawad  ^

[2021-04-16 20:59] #2015 closed, assigned to nobody

[2021-04-16 21:54] okdargy commented on #2065
I think this is more of an enhancement instead of a bug.

[2021-04-16 21:57] okdargy commented on #1981
Happened again #2070

![image](https://user-images.githubusercontent.com/76412158/115087979-e3616b80-9ed4-11eb-8295-104982ceb0e7.png)

[2021-04-16 23:29] ajmnz commented on #68
This issue seems to be fixed now. Audio working fine on iOS 14.4.2 and Brave.

[2021-04-16 23:29] #68 closed

[2021-04-16 23:32] goldyydev commented on #2068
Shouldn't matter, we're not setting the theme colour up.

[2021-04-16 23:32] asxlvm opened #2078 "Mobile doesn't scroll on whisper"
**Describe the bug**
Chat doesn't scroll on whisper

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DogeHouse on mobile
2. Make someone whispr you
3. See error

**Expected behavior**
Chat should scroll

**What device are you on?**
Xiaomi Pocophone F1 Android 10
Brave Browser (1.22.71)

**Additional context**

https://user-images.githubusercontent.com/81298611/115094018-62c65d80-9f1c-11

[2021-04-16 23:33] ajmnz commented on #134
This issue seems to be fixed now. Mic working fine on iOS 14.4.2 and Safari.

[2021-04-16 23:33] #134 closed

[2021-04-16 23:34] goldyydev commented on #1
This is already patched

[2021-04-16 23:34] #1 closed

[2021-04-16 23:34] ajmnz commented on #170
Sound notifications have already been implemented

[2021-04-16 23:34] #170 closed

[2021-04-16 23:35] ajmnz commented on #178
@glappy-py Are you still able to reproduce the issue?

[2021-04-16 23:36] ajmnz commented on #273
New logo already done & implemented

[2021-04-16 23:36] #273 closed

[2021-04-16 23:36] willdoescode commented on #2078
🐕

[2021-04-16 23:37] ajmnz commented on #279
Search has been implemented

[2021-04-16 23:37] #279 closed

[2021-04-16 23:38] ajmnz commented on #313
Closing in favor of #337

[2021-04-16 23:38] #313 closed, assigned to nobody

[2021-04-16 23:39] #390 closed, assigned to nobody

[2021-04-16 23:40] ajmnz commented on #403
@tanay-pingalkar What do you mean by having a preview of the room? Isn't that what we already have?

[2021-04-16 23:41] ajmnz commented on #499
Closing in favor of #153

[2021-04-16 23:41] #499 closed, assigned to nobody

[2021-04-16 23:42] ajmnz commented on #517
@Mudrank Are you still able to reproduce this issue?

[2021-04-16 23:42] ajmnz commented on #526
@Mudrank Are you still able to reproduce this issue?

[2021-04-16 23:43] ajmnz commented on #640
@AndreiJirohHaliliDev2006 Has this been fixed?

[2021-04-16 23:44] ajmnz commented on #719
Kofta is now dead

[2021-04-16 23:44] #719 closed, assigned to nobody

[2021-04-16 23:45] ajmnz commented on #763
This relates to kofta and I believe error messages are now handled differently

[2021-04-16 23:45] #763 closed, assigned to nobody

[2021-04-16 23:46] ajmnz commented on #789
This relates to kofta, which is now dead

[2021-04-16 23:46] #789 closed, assigned to nobody

[2021-04-16 23:47] sahilmob commented on #2022
I will do `UpcomingRoomCardLg`

[2021-04-16 23:47] #802 closed, assigned to nobody

[2021-04-16 23:48] ajmnz commented on #805
Translations/translators are no longer a problem

[2021-04-16 23:48] #805 closed, assigned to nobody

[2021-04-16 23:49] ajmnz commented on #873
I'm pretty sure you're now notified even with the room minified. Request to reopen if I'm wrong.

[2021-04-16 23:49] #873 closed, assigned to nobody

[2021-04-16 23:51] ajmnz commented on #933
@AndreiJirohHaliliDev2006 Has this been fixed/done?

[2021-04-16 23:52] ajmnz commented on #949
We're now using better and new labels

[2021-04-16 23:52] #949 closed, assigned to nobody

[2021-04-16 23:53] ajmnz commented on #1067
@benawad do we close this?

[2021-04-16 23:54] ajmnz commented on #1068
@Rudrava I believe this has been fixed as @Rudrava stated that couldn't reproduce it. Request to reopen if this still happens.

[2021-04-16 23:54] #1068 closed, assigned to nobody

[2021-04-16 23:55] ajmnz commented on #1110
We got custom emote picker @ kibbeh now

[2021-04-16 23:55] #1110 closed, assigned to nobody

[2021-04-16 23:56] ajmnz commented on #1150
@ronakkaria01 Will close this as we haven't heard back from you since you posted the issue. If this is still a problem, please request to reopen the issue.

[2021-04-16 23:56] #1150 closed, assigned to nobody

[2021-04-16 23:56] #1179 closed, assigned to nobody

[2021-04-16 23:57] ajmnz commented on #1277
@benawad Time to enforce commitzen?

[2021-04-16 23:58] #1390 closed, assigned to nobody

[2021-04-16 23:59] ajmnz commented on #1427
I believe this has already been addressed, at least on my end it defaults it to Spanish.

[2021-04-16 23:59] #1427 closed, assigned to nobody

[2021-04-17 00:00] ajmnz commented on #1515
We won't add a search bar inside the LanguageSelector for now

[2021-04-17 00:00] #1515 closed, assigned to nobody

[2021-04-17 00:01] ajmnz commented on #1555
This relates to kofta, which is now dead

[2021-04-17 00:01] #1555 closed, assigned to nobody

[2021-04-17 00:02] ajmnz commented on #1568
@drvladb I believe this has already been fixed. Can you confirm so we can close it?

[2021-04-17 00:02] ajmnz commented on #1588
@overlisted Is this fixed now?

[2021-04-17 00:03] #1596 closed, assigned to nobody

[2021-04-17 00:03] ajmnz commented on #1645
This relates to kofta, which is now dead

[2021-04-17 00:03] #1645 closed, assigned to nobody

[2021-04-17 00:05] ajmnz commented on #1661
I believe this relates to local development, which is known to have problems with audio. Will close it now, request to reopen if needed.

[2021-04-17 00:05] #1661 closed, assigned to nobody

[2021-04-17 00:06] overlisted commented on #1588
It is fixed, but by replacing `gap` completely

[2021-04-17 00:06] ajmnz commented on #1734
Pretty sure this has been fixed already. @goldyydev @overlisted can you confirm & close?

[2021-04-17 00:08] #1588 closed, assigned to overlisted

[2021-04-17 00:09] #1496 closed, assigned to nobody

[2021-04-17 00:10] ajmnz commented on #1491
Closing this for now, request to reopen if needed.

[2021-04-17 00:10] #1491 closed, assigned to nobody

[2021-04-17 00:26] overlisted commented on #1734
Just checked in production; spaces do display correctly.

[2021-04-17 00:28] #1067 closed, assigned to nobody

[2021-04-17 01:50] benawad opened #2079 "not able to ban crispy"
most likely scenario:

DB has crispy in the room

WS for crispy is gone

operations trying to do stuff to crispy fail because WS is gone for him

[2021-04-17 01:57] MananDesai54 commented on #873
You are 100% correct thanks for information

[2021-04-17 02:32] Mudrank commented on #526
@ajmnz  Nope it's fixed ,Just tested it

[2021-04-17 02:32] #526 closed, assigned to nobody

[2021-04-17 03:50] ajhalili2006 commented on #640
@ajmnz Currently, not yet because I have other business to do outside of open-source stuff (yes, remote schooling is chaos), but I'll mark this to `contributors needed`.

[2021-04-17 03:52] ajhalili2006 commented on #933
@ajmnz Still not yet, but I'll add the flatpak config into `electron-builder` and test. Soon.

[2021-04-17 04:05] dhruv-programmes opened #2081 "Invalid Room & Still Displays We Are In."
**Describe the bug**
I am the dev of bot named Dhruv's Bot and from last 2-3 days bot's code suddenly stopped responding , though it was working fine prev before this happened without any issue .
looks like a problem of twitter side cause api isnt letting me access through my twitter account showing un-authenticated .

and now when my bot is not even running , it stills shows the room exists and u

[2021-04-17 04:36] dhruv-programmes commented on #2081
Was prob with twitter oauth api handling

[2021-04-17 04:36] #2081 closed, assigned to nobody

[2021-04-17 04:36] dhruv-programmes commented on #2070
was prob with twitter outh api

[2021-04-17 04:37] dhruv-programmes commented on #2070
You may close it now as its fixed

[2021-04-17 05:05] tanay-pingalkar commented on #403
this issue is old, i saw on youtube that ben awad is planning to make a feed in doge house where you can also take a room preview in feed..i

[2021-04-17 05:05] #403 closed, assigned to nobody

[2021-04-17 05:08] KittyBorgX opened #2082 "Mute / Unmute option pops up even though i am a listener"
![image](https://user-images.githubusercontent.com/82328083/115102505-ec038180-9f68-11eb-8352-ab7465442f40.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a room
2. Click on the dogehouse logo
3. u will go to homepage, see on the right

[2021-04-17 06:41] isaxk opened #2085 "Design request: Chat shouldn't take up entire screen on small viewports"
**Is your feature request related to a problem? Please describe.**
It looks sort of ugly when on small viewports when it takes up the whole screen and you actually have to _click on 'chat'_ to close it.

**Describe the solution you'd like**
It should only take up 1/2 to 2/3 of the screen, stuck to the bottom and the remaining space should be darkened out. There should also be a close button.

**De

[2021-04-17 06:52] isaxk opened #2086 "Baklava: No app header when signing in to github"
**Describe the bug**
I recently updated the electron app and so I had to re-login with my GitHub account. So when it launched the GitHub page there was no app header

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Doghouse Desktop on Windows'
2. Click on 'Log-out'
3. Click on 'Login in with EXTERNAL'
4. See error

**Expected behavior**
There to be some-sort of header.

**Screenshots**

[2021-04-17 07:08] MMK21Hub commented on #2086
Can confirm.

A workaround is to use the keyboard shortcut Ctrl+W to close it.

[2021-04-17 07:09] MMK21Hub commented on #2082
Can confirm.

[2021-04-17 07:26] isaxk commented on #2086
I did know that, but when this product goes into production it will probably need a header of some kind. Maybe even just an
X at the top right

[2021-04-17 07:33] aaryamvn commented on #2070
ah ok cool

[2021-04-17 07:34] #2070 closed, assigned to nobody

[2021-04-17 07:35] aaryamvn commented on #2065
@dragonismcode i think the current tags are accurate

[2021-04-17 07:43] aaryamvn opened #2087 "Show User Profile card on screens that have the ability to fit it"
It would be nice if the scheduled rooms and profile card showed up on 13.5" screens as well

![image](https://user-images.githubusercontent.com/67153585/115105724-5c68cd80-9f7e-11eb-84f8-c7e6d46f9239.png) (regular zoom on 13.5" screen)

![image](https://user-images.githubusercontent.com/67153585/115105740-6ee30700-9f7e-11eb-8b64-5e098b57794d.png) (90% zoom on 13.5" screen)

[2021-04-17 07:45] aaryamvn commented on #1975
yes this is a possible solution

[2021-04-17 08:25] victivus commented on #2027
This might be a solution :

    html {
      height: fit-content;
    }

![image](https://user-images.githubusercontent.com/60193302/115106830-07ad5e80-9f4e-11eb-9d19-06c137a0677d.png)

[2021-04-17 09:59] victorchapman opened #2089 "Simple issue: Old version button no longer supported"
When you click on your profile picture and select go to old version it reloads the page. Since the new design has been moved over to the main link. It needs to either be updated or removed

[2021-04-17 10:08] #2089 closed, assigned to nobody

[2021-04-17 11:06] BronzW commented on #174
Hasn't this been fixed? I think @goldyydev created a PR

[2021-04-17 11:21] BronzW opened #2090 "New Version Bug: New Room Created modal looks weird"
![image](https://user-images.githubusercontent.com/50546858/115111270-da79a400-9f7f-11eb-9108-82d86d7642f1.png)

[2021-04-17 11:44] leonardopaffi commented on #1970
Clone of #174

[2021-04-17 11:44] #174 closed

[2021-04-17 12:31] bogoslavskiy opened #2092 "Clubrooms"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Cross platform version

**Describe alternatives you've considered**
Version for mac, linux, windows

**Additional context**

[2021-04-17 12:32] #2092 closed, assigned to nobody

[2021-04-17 13:01] isaxk opened #2093 "Remove use old version as it is now redundant"
The 'use old version' button just refreshes the page as the new design has been moved to dogehouse.tv. It should be removed.

[2021-04-17 13:08] isaxk opened #2094 "Windows 10 notification thinks app name is "electron.app.Dogehouse""
![image](https://user-images.githubusercontent.com/76838845/115114262-3e06d000-9f86-11eb-9c87-bac397db7178.png)
It should probably just say "Dogehouse" instead of "electron.app.Dogehouse"

[2021-04-17 13:36] ajmnz commented on #2090
It is temp

[2021-04-17 13:36] #2090 closed, assigned to nobody

[2021-04-17 14:03] #2079 closed, assigned to nobody

[2021-04-17 14:12] goldyydev commented on #2093
@ajmnz what if we switched it to a "Use next.dogehouse" button or something like that?

[2021-04-17 14:15] benawad commented on #2093
I thought I was going to keep `next.dogehouse.tv` but it was eating deploys so its gone too

[2021-04-17 14:22] #2082 closed, assigned to nobody

[2021-04-17 14:22] #2093 closed, assigned to nobody

[2021-04-17 14:29] amitojsingh366 commented on #2094
im working on this

[2021-04-17 14:51] MMK21Hub commented on #2068
No, but as far as I can tell Kibbeh doesn't have a `manifest.json` yet?

[2021-04-17 15:22] BronzW opened #2097 "New Version Bug: "Ok" and "Yes" are lowercase"
![image](https://user-images.githubusercontent.com/50546858/115117993-7f58a900-9fa1-11eb-9128-5cb80ed9d771.png)

[2021-04-17 15:53] Schellbach opened #2100 "Lightning Tipping"
When a speaker drops some great vibes I want to tip them with [lightning](https://lightning.network)

A couple good examples of lightning network in action on the web are:
[Yalls](https://yalls.org)
[Tippin.Me](https://tippin.me/)

This would also require integration of a lightning wallet for each user.

I'd like to use lightning because its Bitcoin, and we will all be better off adopting BTC as m

[2021-04-17 15:56] #2097 closed, assigned to nobody

[2021-04-17 16:02] Schellbach commented on #2100
Initially it'd be easiest to fund accounts with BTC

Could integrate stripe like [Clubhouse](https://www.engadget.com/clubhouse-payments-060935128.html?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAAGdsAmTOWp2h4fe1l_LF4YV-wPom8pH7l1qp5UeggfWzNZFg74oIr4nf__ttDvhvb_bPz7Um3oSzfQVU99OXUbIGL7B2dc-oF1OhslAyHquJXU7jrcSia_Xv6iIrZAqLQWHNneDT5QEpGHtqfvxqbIbu_DB57O8qH0yze4n

[2021-04-17 16:25] #2094 closed, assigned to amitojsingh366

[2021-04-17 18:02] Arezea opened #2102 "No alert for disable microphone"
# Bug
When disable microphone on chrome settings is enabled when you are a speaker and turn on microphone on the interface there is no alert.

# Reproduce
Disable microphone on a browser
Create room
Make yourself speaker
Click unmute on dogehouse

[2021-04-17 18:04] Arezea commented on #2048
Perhaps the msg per second could be increased for bots to 2 secs?

[2021-04-17 18:13] dk-raw commented on #2102
Could not reproduce the bug

[2021-04-17 18:13] Arezea opened #2103 "When in a room on mobile the dashboard is partially blocked by the current room you are in"
**Describe the bug**
When in a room on mobile the dashboard is partially blocked by the current room you are in
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard
2. Make sure you are in a room
3. Go to chrome dev tools and make the width and height 483 x 300
4. See overlapping
![Screen Shot 2021-04-17 at 19 05 45](https://user-images.githubusercontent.com/82657415/115122649-f184

[2021-04-17 18:21] dk-raw commented on #2103
I don't think 483x300 is a common resolution.
![image](https://user-images.githubusercontent.com/68110106/115122825-affd0a80-9fc2-11eb-8ce4-31e762a6c666.png)
It still works in vertical mode
![image](https://user-images.githubusercontent.com/68110106/115122844-cefb9c80-9fc2-11eb-84dd-3beea397cac3.png)

[2021-04-17 18:24] maximgeller opened #2104 "Unexpected behavior when refreshing page after changing username"
**Describe the bug**
When I change my username and refresh the page, it can no longer find my profile since the username is different and the url is based off of it. It would be helpful to make changing the username cause a page reload (or similar) with the correct username.
**To Reproduce**
Steps to reproduce the behavior:
1. Click on edit profile on your page
2. change your username and click sa

[2021-04-17 18:26] Arezea commented on #2103
It doesjt work on alot pf resolutions if you keep going down

[2021-04-17 18:43] dk-raw commented on #2103
I mean 483x300 is not common resolution at all. Phones are like 400x800 usually.

[2021-04-17 18:58] dk-raw commented on #2100
Eventually, we will implement DogeNitro and DogeSubs. Dogehouse will also be accepting DogeCoins for payments

[2021-04-17 19:11] BronzW commented on #2103
People usually don't have squares for their phones. Rectangular viewports doesn't cause this issue, as shown by @dk-raw

[2021-04-17 19:41] okdargy commented on #2103
_unless you have a blackberry passport_

[2021-04-17 19:48] BronzW commented on #2103
If you have a blackberry passport then respect to you man

[2021-04-17 21:49] #2103 closed, assigned to nobody

[2021-04-17 21:55] Arezea opened #2106 "Search Bar Doesn't Seem To Work"
**Describe the bug**
The new search bar doesn't seem to work since it only returns on results
**To Reproduce**
Steps to reproduce the behavior:
1. Go to dogehouse
2. Click on the search bar
3. Search benbot which is a user who exists

**Expected behavior**
Dropdown of user, rooms, categories
**Screenshot**
![Screen Shot 2021-04-17 at 22 52 35](https://user-images.githubusercontent.com/82657415/115

[2021-04-17 22:04] BronzW commented on #2106
You need to prefix it with @

[2021-04-17 22:04] BronzW commented on #2106
![image](https://user-images.githubusercontent.com/50546858/115127791-ac28b280-9fd9-11eb-854c-b56aee9e0d56.png)

[2021-04-17 22:37] ollieleach opened #2107 "Login redirect to requested page isn't working"
**Describe the bug**
The user isn't being redirected to the requested page after login. It's instead trying to redirect to /room/[id] which fails and returns the user to the dashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy a room link
2. Paste it into an incognito window / a browser where the user is signed out

**Expected behavior**
?next query parameter in the address bar sh

[2021-04-17 22:49] Schellbach commented on #2100
accepting dogecoin to fund an account makes sense. Would you want to use dogecoin for tipping though? its totally vulnerable as a weak PoW network

[2021-04-17 22:55] #2106 closed, assigned to nobody

[2021-04-18 00:00] amitojsingh366 opened #2109 "Can kinda join 2 rooms at once but not really"
https://user-images.githubusercontent.com/35400192/115129829-30872f80-9ff2-11eb-9a05-3e5b7ed7ab01.mp4

[2021-04-18 01:45] Mvrs commented on #2022
@sahilmob one thing about the ProfileHeaderWrapper, I believe the width is too much. Check out my PR and look at the story: #2111

[2021-04-18 05:31] sahilmob commented on #2022
I believe `ProfileHeaderWrapper` width should be bounded by its parent width

[2021-04-18 07:16] ofsho commented on #2048
y

[2021-04-18 07:23] dk-raw commented on #2104
When changing the username, there is no need to refresh the page. Just continue using Doge House.

[2021-04-18 07:23] #2104 closed, assigned to nobody

[2021-04-18 07:25] #2102 closed, assigned to nobody

[2021-04-18 07:26] dk-raw commented on #2100
You mean donate through superchat or something like that? If that's the case, we discussed about DogeNitro etc. in teh second contributor meeting.

[2021-04-18 07:53] #2032 closed, assigned to nobody

[2021-04-18 10:42] MeztliRA opened #2117 "docs at the website"
**Is your feature request related to a problem? Please describe.**
there should be documentation at the website

**Describe the solution you'd like**
add documentation maybe at dogehouse.tv/docs

when theres a public api theres should be documentation for it to at the website

**Describe alternatives you've considered**
none

**Additional context**

[2021-04-18 12:34] dk-raw commented on #2117
Documentation for what? Contributing? If that's the case, there is no need for documentation on how to contribute on the main website.

[2021-04-18 12:39] dk-raw commented on #2109
Very weird. I cannot reproduce though.

[2021-04-18 12:42] TheOtterlord commented on #2117
I believe they mean this:

so possibly for the endpoints/kebab

[2021-04-18 12:56] BronzW commented on #2022
Any abandoned components yet?

[2021-04-18 13:11] MeztliRA commented on #2117
for the site, and also when theres a public api maybe also for that to

[2021-04-18 13:23] dk-raw commented on #2117
I personally think that GitHub is more suited for API docs

[2021-04-18 13:28] TheOtterlord commented on #2117
I think the only reason for a documentation site would be for usage docs. the rest can exist on github

[2021-04-18 13:49] dk-raw commented on #2117
I don't think we need usage docs. DogeHouse is very simple to use and understand.

[2021-04-18 13:51] vi241 commented on #2117
it is

[2021-04-18 13:52] vi241 commented on #2117
but a guide can be helpful if someone has a problem

[2021-04-18 13:53] dk-raw commented on #2117
We could have something like popups over each button to explain how it works, but those are very very annoying.

[2021-04-18 13:53] vi241 commented on #2117
i think more of a help section in the settings

[2021-04-18 13:54] vi241 commented on #2117
or a page like the github usage docs

[2021-04-18 13:54] vi241 commented on #2117
but we can display the popups when the user hovers over the button

[2021-04-18 13:57] dk-raw commented on #2117
No popups, they can be quite annoying. A help section would be muck more elegant and suited.

[2021-04-18 13:58] dk-raw commented on #2117
I will open a discussion for this => https://github.com/benawad/dogehouse/discussions/2120

[2021-04-18 13:59] vi241 commented on #2117
i agree

[2021-04-18 14:19] samarmohan commented on #2117
But no one is going to go to dogehouse.tv just to see some public api docs. We can have a pop up that tells people they can contribute.

[2021-04-18 14:25] BronzW commented on #2117
It's not a developers platform

[2021-04-18 14:28] dk-raw commented on #2117
No pop ups, something like a discrete button where the log out button is located.

[2021-04-18 14:33] samarmohan commented on #2117
I meant an alert oof something, but that seems nice. The current GitHub button is tiny.

maybe when you click your profile the GH link shows under the discord one.

[2021-04-18 14:34] dk-raw commented on #2117
It's fine as it is, only as tiny percentage of users are actually willing to and know how to contribute.

[2021-04-18 15:04] glappy-py commented on #178
No , I think it's fixed

[2021-04-18 15:07] #2117 closed, assigned to nobody

[2021-04-18 16:57] HonbraDev opened #2122 "Shrödinger's room (you can be and not be in a room at the same time)"
**Describe the bug**
You can make the UI think you're not in a room even though you are.

**To Reproduce**
Steps to reproduce the behavior:
1. Get banned from a room (whisper https://www.wikihow.com/Control-Anger to HoloPanio)
2. Create/join a different room
3. Click on a person that is in the room (follow sidebar)
4. Profit

**Expected behavior**
You should go back to the main room UI or know tha

[2021-04-18 17:18] samarmohan commented on #1432
How do I add a download icon SVG, I have no experience with SVGs at all.

[2021-04-18 17:26] dk-raw commented on #2109
Now it happened to me. This applies to the chat as well.

[2021-04-18 17:57] #178 closed

[2021-04-18 18:15] TheOtterlord commented on #1432
you can add an svg by embedding it (as html).

[2021-04-18 18:35] FotieMConstant commented on #1969
I think this should be added to the contributing file or main README.md?

[2021-04-18 18:45] TheOtterlord commented on #1969
[Done](https://github.com/benawad/dogehouse/blob/staging/CONTRIBUTING.md)!

[2021-04-18 18:51] dk-raw opened #2123 "Mobile Dashboard covered by current room card"
**Describe the bug**
When in mobile and in the dashboard while in a room, the current room card is messed up

**To Reproduce**
Steps to reproduce the behavior:
1. Open DogeHouse in mobile
2. Join a room
3. Navigate to the dashboard
4. See error

**Screenshots**

![Screenshot 2021-04-18 214541](https://user-images.githubusercontent.com/68110106/115157120-2c115400-a090-11eb-851d-c7cc384e05e1.jpg)

[2021-04-18 18:55] FotieMConstant opened #2124 "User profiles on the left, Onclick takes me to their room if they are in one"
**Describe the bug**
On some screen devices(My screen) the pictures of profiles on the left(without names) take me directly to the room the user is in if he/she is in a room, while I just wanted to maybe check out his/her profile.

**Expected behavior**
I should just be able to check out their profile not necessarily get into the room they are in. This is a real problem if I am in a room and want

[2021-04-18 18:59] FotieMConstant commented on #1969
Awesome!

[2021-04-18 20:01] TheOPtimal commented on #842
@daantje1 Userbase's free plan is capped at 100 users, but the production plan is unlimited users, has one-click stripe integration if Ben wants to sell out and if you dont wanna pay or be more secure you can always self-host

[2021-04-18 21:53] geekgonecrazy commented on #228
the new ui seems to have made private groups useless?  I can create a room but when clicking users to invite.. it takes me to home screen.

Since I couldn't figure out how to add I assumed this feature actually was implemented.  But seems instead its just not possible to invite users to private rooms? Kinda confusing

[2021-04-18 22:03] sahilmob commented on #1918
Guys are you still able to reproduce this issue. I tried to reproduce it locally without any success

https://user-images.githubusercontent.com/33333226/115162232-0cd3f000-a0ab-11eb-93f5-0c77168f4977.mp4

[2021-04-18 22:07] DimoDimchev opened #2129 "Search icon not positioned properly on mobile"
**Description**
The magnifying glass icon on the search bar is not positioned properly on the mobile version of the site.

**To recreate**
Open dogehouse.tv on Safari via iPhone and log into your account via GitHub

**Screenshot**
![image](https://user-images.githubusercontent.com/38102582/115162330-908ddc80-a0ab-11eb-900b-831ea6c8a66f.jpeg)

[2021-04-18 23:22] #2124 closed, assigned to nobody

[2021-04-18 23:31] arthurfiorette opened #2130 "Room regions"
Dogehouse supports many translations and thus many different languages. It would be a good idea to know the main language of the room.

**Describe the solution you'd like**

An example would be to choose a flag or something similar to represent the nationality of your room. Like when creating a new discord server, that need to choose a region to represent your community, but in this case, a single

[2021-04-18 23:41] #2109 closed, assigned to nobody

[2021-04-18 23:41] #2122 closed, assigned to nobody

[2021-04-18 23:49] #2107 closed, assigned to nobody

[2021-04-19 00:06] #2060 closed, assigned to nobody

[2021-04-19 00:06] #2123 closed, assigned to nobody

[2021-04-19 00:08] benawad commented on #2129
fixed

[2021-04-19 00:08] #2129 closed, assigned to nobody

[2021-04-19 00:11] #2047 closed, assigned to nobody

[2021-04-19 01:21] #2045 closed, assigned to nobody

[2021-04-19 04:31] s3ansh33p opened #2133 "Statistics Endpoint"
**Describe the solution you'd like**
An endpoint for certain statistics, including

- Total Registered Users
- Total Banned Users
- Total Rooms Created _(I am already doing this somewhat, though we don't have complete data and doesn't include private rooms - around 800 rooms)_
- Total Bots _(if it makes sense when it is introduced)_
- Most popular users _(Most followed and following - maybe top 5

[2021-04-19 04:42] DimoDimchev opened #2134 "Can't open Mac app"
**Description**
Upon opening the MacOS app I get a pop up saying I have no permission to open the app, even after giving myself read and write access within the app.

**How to replicate**
Download the latest release and run it on MacOS 11.2.3

**Screenshot**
<img width="541" alt="Screenshot 2021-04-19 at 7 37 48 AM" src="https://user-images.githubusercontent.com/38102582/115182524-c601ec80-a0e2-11

[2021-04-19 04:56] amitojsingh366 commented on #2134
Seems like an issue with your local setup. MacOS thinks that you don't have access to DogeHouse, so try asking whoever has admin rights over your computer?

[2021-04-19 04:59] DimoDimchev commented on #2134
I am the only account associated with this computer. No admin other than me

[2021-04-19 05:07] amitojsingh366 commented on #2134
@DimoDimchev can you give more details about your machine?

[2021-04-19 05:48] ajmnz commented on #2134
Try pasting this in your terminal: `sudo chmod -R 755 path/to/DogeHouse.app`. Change the path to your path to the DogeHouse.app.

[2021-04-19 06:21] wes337 opened #2136 "Language sorting and labels"
**Describe the bug**
The languages are sorted by their language code. The labels are translated. This makes it difficult to navigate through the list and find your language. The label shouldn't have the emoji flag inside of it _(this could be another object key)_.

Open the list of languages in the language selector and try to find any language other than English.

**Screenshots**
![image](https:/

[2021-04-19 06:40] DimoDimchev commented on #2134
@amitojsingh366 MacBook Air 2020 (Intel i5 chip)

[2021-04-19 06:43] DimoDimchev commented on #2134
@ajmnz I did that and after that when I tried opening the app I got a pop-up saying the app is damaged and can't be opened.
<img width="258" alt="Screenshot 2021-04-19 at 9 42 57 AM" src="https://user-images.githubusercontent.com/38102582/115192542-a0c9aa00-a0f3-11eb-8cda-601dadf3adfd.png">

[2021-04-19 06:48] amitojsingh366 commented on #2134
@DimoDimchev can you try a re-install

[2021-04-19 07:13] DimoDimchev commented on #2134
@amitojsingh366 I resolved the problem. I tried downloading the .dmg directly from the releases and that seemed to work. Thanks and sorry for taking up your time!

[2021-04-19 07:13] #2134 closed, assigned to nobody

[2021-04-19 07:20] amitojsingh366 commented on #2134
@DimoDimchev wait so where did you get the previous release that didn't work from?

[2021-04-19 07:28] DimoDimchev commented on #2134
@amitojsingh366 There is a .zip file in the releases too. I hadn't noticed the .dmg previously and downloaded the zipped one straight away.

[2021-04-19 08:12] amitojsingh366 commented on #2134
@DimoDimchev oh the zip, those are just included for autoupdates, please don't mind those. the only files you should worry about are: `.exe`, `.dmg`, `.AppImage` and `.deb`

[2021-04-19 09:09] neinkopp opened #2137 "Kibbeh: Room description opens even though it's empty"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What device are you on?**

**Additio

[2021-04-19 09:11] aaryamvn opened #2138 "black outline appears despite new ring on button"
![image](https://user-images.githubusercontent.com/67153585/115211511-40e7f900-a11d-11eb-9352-e50ac9269a2c.png)

black outline appears despite new ring on button

[2021-04-19 09:13] dk-raw commented on #2138
This can be solved with outline none.

[2021-04-19 09:13] #2138 closed, assigned to nobody

[2021-04-19 09:35] neinkopp opened #2139 "Kibbeh: Scheduled rooms are listed awkwardly"
**Describe the bug**
The elements of the scheduled-rooms-list are pretty far apart.
Fig. 1: Why is there a bottom margin of 24 on the separate room items?
Fig. 2: After "Load More", the bottom margins of the previous rooms are reducing to 4 units.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dogehouse.tv/scheduled-rooms
2. You should see the very big bottom margins right awa

[2021-04-19 10:03] MeztliRA commented on #2139
tried to reproduced, it work perfectly fine for me.

[2021-04-19 10:21] neinkopp commented on #2139
Strange... tried it in a private tab, same issue. Which browser do you use?

[2021-04-19 10:27] MeztliRA commented on #2139
vivaldi, it use chromium too

[2021-04-19 10:29] MeztliRA commented on #2139
@neinkopp managed to reproduced it
![Screenshot from 2021-04-19 17-28-38](https://user-images.githubusercontent.com/78863518/115222259-bf03ca00-a134-11eb-846b-416689be38bd.png)

[2021-04-19 10:37] neinkopp commented on #2139
That's good to hear.

[2021-04-19 11:01] iamanalt commented on #2048
Room admins can ban spamming bots from chat.
Also, you seem to have explicitly requested this particular spam?

I do, however, in general, agree, that spam is very annoying.
Whispers should be used for this, and other things.

I'll see what I can do about making whispers default for dogehouse.js message replies.

[2021-04-19 12:13] amitojsingh366 commented on #2048
@iamanalt i didnt request for it. some guy joined with his bot and started mass pinging. then he told me to type `.spam` and that pinged me more. i just attached this vid to show that how bad the notifs get on the electron app .

[2021-04-19 13:18] dmfigol opened #2144 "Unexpected error when visiting a scheduled room link on mobile"
**Describe the bug**
when I click on a link to the scheduled room from my mobile, I get unexpected error.
Tested on iPhone 8 with Safari and Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a scheduled room from mobile, e.g. https://dogehouse.tv/scheduled-room/928ddd13-96fc-46d2-9729-8cb4f0837c3f
2. See error

**Expected behavior**
No error

**Screenshots**
https://cdn.discordapp

[2021-04-19 13:30] dk-raw commented on #2144
This happens when opening devtools as well.

[2021-04-19 13:40] BronzW commented on #2144
Well not because of devtools, more of the viewport size I think.

[2021-04-19 13:43] BronzW commented on #2144
I think this might happen because you are not logged in when clicking on a link instead of going through this website. I suspect that the error shows up because it tries to fetch something that isn't there because you haven't logged in.

[2021-04-19 14:19] #2137 closed, assigned to nobody

[2021-04-19 14:20] YouHaveTrouble opened #2145 "Transcriptions"
In DogeLog[5] Ben talks about discovery feature that includes short audio clips. I think having those short clips transcribed would be really helpful, as mobile is a huge market and people don't always have headphones.

Transcriptions could be a huge part of dogehouse, even for full podcasts having an option to read the content like an article is what other platforms do not have. Maybe automatical

[2021-04-19 14:21] #2018 closed, assigned to nobody

[2021-04-19 14:24] asxlvm opened #2146 "Mobile: Room members and chat scuffed"
**Describe the bug**
The room members have a weird bug where they go up and down inconsistently
And chat spacing is scuffy sometimes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dogehouse.tv on mobile
2. Have your screen landscape
3. Scroll the member list up and down
4. See error

I don't have any steps for chat spacing, it just happens sometimes, probably because of some non-monos

[2021-04-19 14:28] OrhanOzkercin opened #2147 "New Version Bug: Show/Hide Button for no purpose"
**Describe the bug**
I'm pretty new to this app but there is a button that does nothing at least in some scenarios.

**Screenshots**
![bug](https://user-images.githubusercontent.com/25130814/115252906-911e8580-a134-11eb-8f15-08085ce8775a.gif)

**What device are you on?**
Windows, Chrome

[2021-04-19 14:32] asxlvm commented on #2146
Here it's really visible

https://user-images.githubusercontent.com/81298611/115253556-c8893400-a12c-11eb-9d6c-a6e3b0c14d9e.mp4

[2021-04-19 14:33] #2144 closed, assigned to nobody

[2021-04-19 14:34] dk-raw commented on #2147
I believe that someone is currently working on this.

[2021-04-19 14:34] benawad commented on #2147
this is deploying as we speak

[2021-04-19 14:34] #2147 closed, assigned to nobody

[2021-04-19 14:37] #2139 closed, assigned to nobody

[2021-04-19 14:43] Redeltaz opened #2148 "Display issue on profil menu"
**Describe the bug**
When you click on the round icon of your profil (in top right) the text "report a bug" in french doesn't display very good

**To Reproduce**
Steps to reproduce the behavior:
1. Click on your round icon in top right
2. Choose "french" for the langage
3. You're going to see the display problem

**Expected behavior**
The sentence should not return to the line below

**Screenshots

[2021-04-19 14:45] Redeltaz commented on #2148
There is the same problem for other langages

[2021-04-19 14:52] Nsharma96 opened #2149 "[Feature request] - Delete account"
Can we implement an option to delete account. I know we can delink from GitHub or twitter but I think an option to delete account on the website would go a long way in providing better user experience.

[2021-04-19 14:54] etteryand0 opened #2150 "Add a PWA support"
**Is your feature request related to a problem? Please describe.**
It could be simplier (1 click to doge) and prettier (no link bar at the top) to use dogehouse as a PWA on mobile/desktop.

**Describe the solution you'd like**
I want to be able to add PWA to my mobile/desktop from browser just like on twitter

**Describe alternatives you've considered**
Or you could create React Native WebView app

[2021-04-19 14:57] mohamedeliwa opened #2151 "Public rooms for non-registered visitors"
**Is your feature request related to a problem? Please describe.**
I'm curious about the content presented by **dogehouse** community but I'm not able to evaluate it myself, because I don't have an account.
It's really annoying that every time I visit dogehouse website I will just see the **login page** that doesn't provide any additional information about the content and community of it. this doe

[2021-04-19 14:57] wes337 commented on #2148
I believe this is a duplicate of #2018 and was fixed with #2135

[2021-04-19 14:58] etteryand0 commented on #2148
It's ok in Russian. Maybe this issue could be used with white-space..? Some time ago I faced the same issue and found solution on stackoverflow

[2021-04-19 15:07] mathiasayivor opened #2152 "Rooms History"
After joining rooms and leaving them, I'm unable to go back to those rooms.

I was thinking there should be a 'Rooms History' where I can view history of all rooms I've joined before and be able to join back

[2021-04-19 15:08] tajultonim opened #2153 "Not redirecting to new profile URL after changing Username"
**Describe the bug**
After changing Username it is not redirecting to new profile url.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'profile'
2. Click on 'edit profile'
3. Change username
4. Click 'save'
4. See error

**Expected behavior**
Redirect to new profile url

**What device are you on?**
Android

[2021-04-19 15:15] willianba opened #2154 "When changing username, it updates only on the right sidebar"
**Describe the bug**
I logged in with GitHub and my account was created with a random username. I changed it to the same username I'm using here (@willianba) and I noticed that in the "centered user" the username is not updated, but in the "right sidebar user" it is.

also, it doesn't pop up anything to say "successfully updated" or something. I don't know if this is the expected behavior

**To Re

[2021-04-19 15:21] IntegraterGithub opened #2155 "Statuses"
Statuses could be introduced to further reduce pinging, this is because it would be more clear that for example a member is coding etc. which would prevent frusutation. In addition, bots systems could be introduced to say that a member is on cooldown if they are not allowed to chat or if they have been idle for a while.  It would also make the about you page differ more from status as some members

[2021-04-19 15:22] benawad commented on #2148
should be fixed in latest deploy

[2021-04-19 15:22] #2148 closed, assigned to nobody

[2021-04-19 15:27] BooleanCube opened #2156 "New Version Bug: emotes not working"
**Describe the bug**
The "intel" emote doesn't work. I don't know if other emotes dont work

**To Reproduce**
Steps to reproduce the behavior:
1. Open Emoji Menu bar.
2. Choose intel emote
3. Hit enter
4. Doesn't work and just shows ":intel:"

**Expected behavior**
Should show the emote.

**Screenshots**
![:pepeSus:](https://user-images.githubusercontent.com/47650058/115261990-1c325800-a102-11eb-9

[2021-04-19 15:29] BooleanCube commented on #2156
The real emote is actually :intelxamd: but the emoji bar does :intel: instead

[2021-04-19 15:41] ghost commented on #2150
I'm gonna try to work on this

[2021-04-19 15:46] lumolloni opened #2157 "Chat message issue"
![image](https://user-images.githubusercontent.com/41060866/115264977-14d97180-a137-11eb-81fe-0d2df0b0e20c.png)

[2021-04-19 15:54] benawad commented on #2157
were you holding down enter?

[2021-04-19 16:06] s3ansh33p opened #2159 "Pinned Messages"
**Is your feature request related to a problem? Please describe.**
Trying to put a poll link in chat e.g. https://www.strawpoll.me/42962832 and for it not to be flushed away by chat in large rooms.

**Describe the solution you'd like**
A way to select a pinned message.

**Describe alternatives you've considered**
Putting the link the in description. Though it is not clear.

**Additional context**

[2021-04-19 16:09] ben-sommer commented on #2159
Would multiple pinned messages be shown at the same time?
Would a chat moderator have to delete them or would they expire after a set time?
Would the message show in the chat as well as in a pinned section?

[2021-04-19 16:12] ben-sommer commented on #2159
It would be cool if DogeHouse integrated with the strawpoll API to show the results live, instead of someone either reading the results out or putting them in chat. Could be animated and updated in realtime (would need to use polling as their api doesn't support subscriptions).
https://github.com/strawpoll/strawpoll/wiki/API

[2021-04-19 16:13] ben-sommer commented on #2159
Although at that point, you might as well create a fully integrated polling system. Making a new issue.

[2021-04-19 16:14] #2154 closed, assigned to nobody

[2021-04-19 16:14] #2156 closed, assigned to nobody

[2021-04-19 16:14] benawad commented on #2153
fix for this is deploying now

[2021-04-19 16:14] #2153 closed, assigned to nobody

[2021-04-19 16:19] ben-sommer opened #2160 "Integrated Poll System for Audience Feedback"
**Is your feature request related to a problem? Please describe.**
Putting a strawpoll link in the chat and sitting at your keyboard mashing reload to see the results isn't very elegant.

**Describe the solution you'd like**
An integrated poll creation system (for speakers) and then a way for the audience to participate in those polls, with realtime results shown to all users (could be disabled by

[2021-04-19 16:20] ben-sommer commented on #2159
#2160 for reference

[2021-04-19 17:01] jackdelahunt opened #2162 "Search box clears when switching tabs"
**Describe the bug**
When adding text to the search box and switching tabs in the browoser clears the text in the search box

**To Reproduce**
Steps to reproduce the behavior:
1. Go to main page (works on any page)
2. Click on search box and enter text
3. Open new tab and switch to it
4. Go back to doge house tab
5. See no text in search box

**Expected behavior**
When switching back to the doge h

[2021-04-19 17:04] ghost commented on #2162
Can reproduce, Vivaldi 3.7 on Windows 10
![image](https://user-images.githubusercontent.com/57069715/115275378-02b10080-a142-11eb-875d-ab141e295eec.png)

[2021-04-19 17:27] nadirabbas commented on #2159
room description sovles it, we already have it, just not on the kibbeh version.

[2021-04-19 17:53] shivaluma commented on #2162
I think this occurs because of the Downshift library.
As mentioned in this issue: [Downshift#574](https://github.com/downshift-js/downshift/issues/574)

[2021-04-19 18:20] nadirabbas opened #2164 "room description should be expanded by default, and linkified"

[2021-04-19 18:41] babakfp opened #2166 "Add a 'Kill Connection' button in room page"
**Is your feature request related to a problem?**
Add a kill button for the room. Let's say I have 2 tabs open on Chrome. I want to stop the room connection and go and watch the video on Youtube.

**Describe the solution you'd like**
Add a 'Kill Connection' button on the right side of the 'Leave' button.
![Screenshot 2021-04-19 113517](https://user-images.githubusercontent.com/44144724/115286064-8

[2021-04-19 18:49] kukosek commented on #2144
![image](https://user-images.githubusercontent.com/16265013/115287492-a0abc780-a150-11eb-9475-a660697d1703.png)
Hey this just randomly popped up. So I opened devtools and some errors are there. But I still heard voice.

[2021-04-19 18:50] kukosek commented on #2144
Its happened again, when I was scrolling chat

[2021-04-19 19:04] babakfp opened #2167 "Unnecessary responsive breakpoint because half of the page is empty"
**Describe the bug**
I have a 15.6inc laptop and in 110% zoom, I lose the sidebar (in the room page). Somehow I did change the page zoom (from 100% to 110%) without knowing it, so I was wondering how the heck the sidebar disappeared!!.
![Screenshot 2021-04-19 115441](https://user-images.githubusercontent.com/44144724/115289082-0ffcc980-a107-11eb-8c36-8016f8297325.png)

**To Reproduce**
Go to a roo

[2021-04-19 19:10] babakfp opened #2168 "Add a close icon to the chat component (in full screen mode)"
**Describe the bug**
In the first look, I didn't understand that the header of the component is a button to close the chat.
![Screenshot 2021-04-19 115008](https://user-images.githubusercontent.com/44144724/115289592-9addc400-a107-11eb-8506-c8bf78c12fe5.png)

**To Reproduce**
Remove the chat component from the right sidebar (I don't know how I did it). Now click on the button:
![Screenshot 2021-04

[2021-04-19 19:35] andrewasd opened #2170 "Add reactions to room chat messages"
It would be nice to add a like/dislike button on chatroom messages, like in microsoft teams.
![image](https://user-images.githubusercontent.com/44606697/115293025-16b32d00-a157-11eb-897b-5bcaaa05bfc0.png)

[2021-04-19 19:42] Bqleine opened #2171 "Missing translations"
**Is your feature request related to a problem? Please describe.**
Some parts of the website are not translated (code-wise)

**Describe the solution you'd like**
Add the parts of the website to `translation.json` so they can be translated

**Additional context**
Here are the missing translations I could find :
![image](https://user-images.githubusercontent.com/51089082/115293120-39454600-a157-11eb

[2021-04-19 19:46] BronzW commented on #2171
I am going to create a pr that resolves this

[2021-04-19 19:46] Bqleine commented on #2171
Great!

[2021-04-19 19:49] Bqleine commented on #2171
Update there's this too :
![image](https://user-images.githubusercontent.com/51089082/115294635-203d9480-a159-11eb-999e-fd6862728c84.png)
*Delete scheduled room*

[2021-04-19 20:03] esau-morais opened #2172 "🐛Bug: Chat style doesn't work properly"
**Describe the bug**
I was testing the new design and got to see that, after opening the chat in mobile mode and back to desktop (with the chat opened), it gets a scroll issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a room
2. Open the inspector
3. Use the responsive mode till you find the chat button
4. Let it opened and back to the desktop mode

**Expected behavior**
No scroll

[2021-04-19 20:16] amitojsingh366 commented on #2167
this is intended responsive layout behavior, just make your browser full screen/increase size and you will see it

[2021-04-19 21:14] samarmohan commented on #2157
simple solution, don't hold down enter. We can implement an alert limit or something to prevent this

[2021-04-19 21:18] ajmnz opened #2174 "[Settings | Desktop] Components Implementation"
# Components Implementation

### Settings | Desktop

New components available for anyone that wants to contribute to the new design (`kibbeh`). Make sure to read the guidelines at the bottom of the issue.

---

### New components

- [x] SettingsWrapper - https://www.figma.com/file/CS01VVLR7ArQl0afYFkNj3/Web-App?node-id=9018%3A9349
    - Requires none ✅
    - Container for each page in settings (`p

[2021-04-19 21:18] ajmnz commented on #2022
New components available for the Settings page 👉🏻 #2174

[2021-04-19 21:21] samarmohan commented on #2174
I'll do BaseSettingsItem

[2021-04-19 21:34] Mvrs commented on #2174
I'll work on NativeCheckbox and Native Radio.

[2021-04-19 22:41] Schellbach commented on #2100
I mean something to bring creators to the platform, if they can get paid they will come.

Here’s how it could work:

1) To send a payment in Dogehouse, just tap on the profile of a creator (who has the feature enabled) and tap "Send Doge".

2) Enter the amount you would like to send them. The first time you do this, you’ll be asked to fund your wallet.
100% of the payment will go to the creator.

[2021-04-19 23:18] babakfp commented on #2167
Well, it isn't a good UX. I was searching for a button (to bring it back) and... nothing. in 110% zoom, the sidebar disappears and it isn't even necessary. We do responsive when it's necessary not when half of the page is empty. If no feedback is needed, then just close the issues section and make everyone's life easier.
I'm not complaining because of a small issue, I'm complaining because you rus

[2021-04-19 23:19] babakfp commented on #2166
A mute button too?

[2021-04-20 00:31] amitojsingh366 commented on #2167
@babakfp i am sorry if you felt that your issue was closed unreasonably and i apologize for me not giving more reason for it. however what the issue's title and description say are intentional, i will re-open the issue for you and then you can update the title and description accordingly. im really sorry again.

[2021-04-20 00:39] amitojsingh366 commented on #2168
i agree with this. its hard to grasp at first, especially on mobile

[2021-04-20 01:11] amitojsingh366 commented on #2166
i dont see the point of this?

[2021-04-20 01:19] amitojsingh366 opened #2177 "Can hear ppl when not in a room."
https://imgur.com/a/CS4a3KC
see vid above *(turn on audio)*

[2021-04-20 01:25] amitojsingh366 commented on #2177
i found out what does it.
join a room
turn on vpn
force refresh *(ctrl/cmd+shift+r)*

https://imgur.com/a/V2JBmc0
see vid above, it shows how to do it *(again, turn audio on)*

[2021-04-20 01:51] kareemaboueid opened #2178 "The right sidebar (active room + upcoming rooms) doesn't appear on medium and small size screen."
when shrinking to sm or md sizes, the sidebar goes away.

[2021-04-20 02:14] Mayowa-Ojo commented on #2174
I'll do `ErrorButtonItem` and `KeybindCard` once their dependencies are done.

[2021-04-20 05:11] Angshu31 commented on #2174
I'll do `SettingsItemButton` once its deps are finished. And `ChangeAvatarCard`

[2021-04-20 05:33] amitojsingh366 commented on #2178
this is intentional as there isn't enough room to display those on sm/md screens, if you have a better way to show it feel free to suggest

[2021-04-20 05:38] Bevan0 opened #2181 "View emoji name when hovering over it"
**Is your feature request related to a problem? Please describe.**
Occasionally I want to check what emoji something is in chat, but can't.

**Describe the solution you'd like**
Just have it when you hover over the emoji, it should show the name of it.

**Describe alternatives you've considered**
Looking through the emoji menu

**Additional context**

[2021-04-20 05:40] BronzW commented on #2174
I would like to do `NativeRadio`

[2021-04-20 05:41] Mvrs commented on #2174
I called it my guy 😅

[2021-04-20 07:08] Lirian135 opened #2184 "When clicking the following and followers button"
When clicking the followers and following buttons for someone who does not have any its should not be blank.

It should display something like 'oh no you have no followers" or some shit

[2021-04-20 07:18] isaxk commented on #1432
in react, you just import it and set the IMG element's SRC as the variable.

[2021-04-20 08:07] gargakshit opened #2187 "Make the avatars more accessible to screen readers"
Currently all avatars use an `alt` text of "avatar" which isn't screen reader friendly when having multiple avatars on screen (e.g. voice chat page)

Maybe make the `alt` text more "personalized". Like "Ben's avatar" or "John's avatar"

https://github.com/benawad/dogehouse/blob/611879da2bff5a172f880ac5ee0da82a383b08a7/kibbeh/src/ui/UserAvatar/SingleUser.tsx#L88-L90

[2021-04-20 08:09] juliankroes opened #2188 "the user search doesnt work"
i don't know if it is just for me but the user search feature doesn't show any results

[2021-04-20 08:19] MeztliRA commented on #2188
you need to prefix it with `@` example: `@username`

[2021-04-20 08:28] juliankroes opened #2189 "a best-friend feature"
a best-friend feature like Instagram would be nice, the person marked as best-friend would have a border around their icon and be at the top of your friends list.

![Screenshot 2021-04-20 10 27 38 AM](https://user-images.githubusercontent.com/75953276/115363923-2cf6d280-a1c3-11eb-88bd-11de215e3efb.png)

[2021-04-20 08:32] juliankroes commented on #2188
oh, i forgot maybe you should remove this because for instance reddit and instagram also dont have this.

[2021-04-20 09:55] #2164 closed, assigned to nobody

[2021-04-20 09:58] #2188 closed, assigned to nobody

[2021-04-20 10:10] Bqleine commented on #2171
Missing translations for the "with" in the room view
![image](https://user-images.githubusercontent.com/51089082/115378980-65051200-a1d1-11eb-80f8-d078d751def1.png)

[2021-04-20 10:26] Aksh-Bansal-dev commented on #2184
I would like to work on this issue.

[2021-04-20 11:03] neinkopp opened #2193 "Changing/disabling focus outlines for UI elements"
**Is your feature request related to a problem? Please describe.**
When I click and hold on a button, link or another element, the default browser focus outline shows up. For example in chromium (haven't tried it in different browsers) this is pretty annoying, because of multiple reasons:

1. The outlines are really eye-catching (this is indeed what they are supposed to do, but do not fit the desi

[2021-04-20 11:21] ghost opened #2195 "sdggsdfds"
**Is your feature request related to a profszdfblem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**fsdfsedezf
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've co

[2021-04-20 11:54] neinkopp commented on #2195
That's a nice enhancement. I think you made it by mistake?

[2021-04-20 11:56] neinkopp commented on #2160
I think it would be nice, so you can get the audience's opinions. The bot thing isn't really an option imo.

[2021-04-20 12:46] s3ansh33p opened #2197 "Debug Audio CSS Bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a room (with a lot of users to make it easier to test)
2. Enable Debug Audio
3. Scroll up and down
4. Observe CSS issue of clipping debug UI

**Expected behavior**
Debug UI to hide elements on scroll as seen with existing users.

**Screenshots**
https://cdn.discordap

[2021-04-20 13:40] amitojsingh366 commented on #2197
z-index issue, ill fix it...

[2021-04-20 13:44] #2184 closed, assigned to nobody

[2021-04-20 13:50] BronzW commented on #2174
Well you took two components

[2021-04-20 13:50] BronzW commented on #2174
But sure it's yours

[2021-04-20 14:01] babakfp commented on #2167
@amitojsingh366
Well, I changed the title and the description.
Right now for some reason, I can't log in, to the website. After clicking on the GitHub login button, it redirects me to the `https://dogehouse.tv/dash` address, and after that nothing happens.

[2021-04-20 14:08] goldyydev commented on #2174
I'll take `VolumeIndicator`

[2021-04-20 14:09] babakfp commented on #2166
You play a video on Youtube and you can pause and mute it. You play music and you can pause it whenever you want. You are watching the TV and you have a mute button. I think a mute button is necessary. I named it 'Kill Connection' because the user may be mute it for a long time and it cost mony. So it's good to have 2 buttons. One for muting and one for killing the connection. if it was muted for

[2021-04-20 14:11] amitojsingh366 commented on #2166
@babakfp oh you mean something like discord's deafen? if yes im already working on it, pr soon.

[2021-04-20 14:21] #2195 closed, assigned to nobody

[2021-04-20 14:26] IntegraterGithub opened #2198 "Youtube Sign In"
I was thinking of making a "sign up with youtube" as dogehouse is centered towards creators and obviously a lot of creators are on youtube however before I start working on it, do you want a sign up with youtube?

[2021-04-20 14:28] PuckDan commented on #2198
Its basically sign up with google.

[2021-04-20 14:33] babakfp commented on #2166
@amitojsingh366
Don't know a lot about Discord.

[2021-04-20 14:34] dk-raw commented on #2198
I don't think YouTube has it's own dedicated OAuth API

[2021-04-20 14:35] dk-raw commented on #2198
exactly

[2021-04-20 14:36] #2198 closed, assigned to nobody

[2021-04-20 14:47] ghost commented on #2068
It does not.

[2021-04-20 14:48] amitojsingh366 commented on #2166
basically, if you toggle deafen no one can hear you and you cant hear them aswell

[2021-04-20 17:40] asxlvm opened #2205 "Switching between old audio and new audio"
**Is your feature request related to a problem? Please describe.**
It is not related to a problem, I want the old sound effects back because personally, these ones sound like from a lullaby rather than from an app.

**Describe the solution you'd like**
There would be a new option in Audio Settings to switch between the new and old audio, the new being defaulted.

**Describe alternatives you've con

[2021-04-20 17:45] babakfp commented on #2166
I don't know about that. I just explained what is needed so...

[2021-04-20 18:19] BronzW commented on #2174
I'll take the `SettingsItemButton`

[2021-04-20 19:49] #2171 closed, assigned to nobody

[2021-04-20 20:13] benawad commented on #2177
are you able to do that in other rooms too?

[2021-04-20 20:19] Mayowa-Ojo opened #2207 "Account for laptops with lower resolution"
**Is your feature request related to a problem? Please describe.**
The current responsive screen options don't account for laptops with smaller resolution (e.g w: 1336).

**Describe the solution you'd like**
`1336` should be the minimum width as it can still take 3 cols and it doesn't make much sense to see tablet view on a laptop simply because it has lower resolution.

**Describe alternatives yo

[2021-04-20 21:15] MrDogeBro commented on #2027
I think I have a solution for this problem — working on it right now and will PR the fix once I get it in

[2021-04-20 23:23] gruselhaus commented on #1807
I think a tool (CLI-Script, what so ever) that checks for missing translations would be great!

[2021-04-20 23:27] sahilmob commented on #2174
I'll do `ChangeBannerCard `

[2021-04-20 23:34] samarmohan commented on #2207
You should pr this, if you don’t want to, I’ll do it tomorrow

[2021-04-21 00:25] Mayowa-Ojo commented on #2207
Alright. I'll make a PR

[2021-04-21 02:48] rclarey opened #2212 "Dropdown positioning breaks after scrolling the page"
**Describe the bug**
After scrolling down on a page the positioning of dropdown menus is incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dogehouse.tv/scheduled-rooms
2. Scroll down so the top card is no longer visible
3. Click on the calendar button for the second card
4. Dropdown menu is positioned incorrectly

**Expected behavior**
The dropdown menu should be besid

[2021-04-21 05:55] dk-raw commented on #2205
Ben decided to let the community decide.

[2021-04-21 05:55] #2205 closed, assigned to nobody

[2021-04-21 05:56] dk-raw commented on #2193
Duplicate.

[2021-04-21 05:56] #2193 closed, assigned to nobody

[2021-04-21 06:03] #2027 closed, assigned to nobody

[2021-04-21 06:30] amitojsingh366 opened #2214 "chat auto scroll still messed up"
#2204 didn't fix it instead now it occurs on every browser

https://user-images.githubusercontent.com/35400192/115508770-60e6fc00-a286-11eb-8683-e31a4144ed2d.mp4

[2021-04-21 06:37] IntegraterGithub opened #2215 "Copyright?"
Will you put copyright on dogehouse?

[2021-04-21 07:21] TheOtterlord commented on #2215
What do you mean exactly by copyright?

Do you mean the code? the brand? or something else?

[2021-04-21 07:43] gumernus opened #2217 "Chat"
Please add private chat between users. I would like to talk to users I can't connect to on discord, etc... (google translator)

[2021-04-21 08:34] dk-raw commented on #2217
We will implement DMs in the future.

[2021-04-21 08:34] #2217 closed, assigned to nobody

[2021-04-21 08:35] dk-raw commented on #2215
What are you referring  as "copyright"?

[2021-04-21 08:35] dk-raw commented on #2214
Same happens to me.

[2021-04-21 08:36] dk-raw commented on #2168
You press on "Chat" to close it

[2021-04-21 08:43] gumernus commented on #2217
okayyy thanks

[2021-04-21 08:48] amitojsingh366 commented on #2168
yes ik but someone who doesn't will just be stuck there

[2021-04-21 09:42] Lirian135 opened #2221 "A screen share feature?"
The only people who join here are usually programmers, so maybe a screen share feature to code together with people?? I know it might not be easy but im just saying for the future.

[2021-04-21 09:53] jobveldhuis commented on #2215
The closest to copyright you will probably find in this repository is the [license](https://github.com/benawad/dogehouse/blob/staging/LICENSE), which is an [MIT License](https://en.wikipedia.org/wiki/MIT_License) and is permissive by nature.

[2021-04-21 09:54] Aksh-Bansal-dev commented on #2181
I would like to fix this

[2021-04-21 10:23] #2181 closed, assigned to nobody

[2021-04-21 10:26] amitojsingh366 commented on #2221
this has been repeated over and over, there will be no screen share feature at all.

[2021-04-21 10:26] #2221 closed, assigned to nobody

[2021-04-21 10:56] shoury2021 opened #2223 "Language messed up."
**Describe the bug**
When selecting a new language, not all of the content is in that language. (Eg.: "Your Feed")

**To Reproduce**
Steps to reproduce the behavior:
1. Select new language (not English)
2. See, that many things are still in English. (Which aren't supposed to be)

**Expected behavior**
Everything is supposed to be in the selected language.

**Screenshots**
![dogehouse-language-erro

[2021-04-21 11:08] TheOtterlord commented on #2223
Not all of the translation keys have been added. If you wish to contribute, please see [the translation files](https://github.com/benawad/dogehouse/tree/staging/kibbeh/public/locales) to make your changes and submit a [pull request](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests) to get them added.

As for a translations feature, please make a sep

[2021-04-21 11:08] #2223 closed, assigned to nobody

[2021-04-21 11:41] amitojsingh366 opened #2224 "chat freaks out"
https://user-images.githubusercontent.com/35400192/115548025-a79d1c00-a2af-11eb-85d9-b6573663dfd0.mp4

[2021-04-21 11:52] samyadel opened #2225 "The circle outline that points out who is talking is very buggy"
Whenever someone talks, a circle outline points out who's talking, but it's very very buggy

Most of the times, there is no outline (so I can't tell who's talking), and when there *is*, it comes and goes very quickly - like a flicker

[2021-04-21 12:05] asxlvm commented on #2224
Also happened to me.
Android 10
Brave Browser (1.22.71)

[2021-04-21 12:30] asxlvm commented on #2189
That is a good idea! :D

[2021-04-21 12:33] asxlvm opened #2226 "Chat scuffed probably just mobile"
**Describe the bug**
Reopening chat doesn't scroll at the bottom of the convo

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'dogehouse.tv'
2. Join a room
3. Chat for a while, open, reopen chat
4. See error

**Expected behavior**
Chat should automatically scroll

**Screenshots**

https://user-images.githubusercontent.com/81298611/115554104-67896980-a2ae-11eb-9ce2-0b2c890c544a.mp4

**W

[2021-04-21 12:37] asxlvm commented on #2224
@amitojsingh366 I also got it recorded now

https://user-images.githubusercontent.com/81298611/115554578-e67ea200-a2ae-11eb-9a42-7fc387116640.mp4

[2021-04-21 12:41] asxlvm opened #2228 "chat freaks out v2"
https://user-images.githubusercontent.com/81298611/115555169-7fadb880-a2af-11eb-9949-5e107606f6f1.mp4

[2021-04-21 12:43] asxlvm commented on #2224
I maybe know why bugs like this happen, when you're not typing, the scrollbar for chat doesn't appear but when you type it does, so it shrinks the message, vis.;
![IMG_20210421_144206](https://user-images.githubusercontent.com/81298611/115555561-f21e9880-a2af-11eb-9915-854c49d4b2f4.jpg)
![IMG_20210421_144217](https://user-images.githubusercontent.com/81298611/115555575-f3e85c00-a2af-11eb-9644-694e

[2021-04-21 12:45] MrDogeBro opened #2229 "Audio Randomly Disconnects"
## Description

When I am sitting in a room, I get randomly disconnected from audio from time to time. I don't know why this happens but when I turn on the audio debugger, it says `recv transport state: disconnected`. This is also not a one off. This has happened to me multiple times. The best solution I have to fix the issue is leave and re-join the room.

If you would like any more details or an

[2021-04-21 12:45] asxlvm commented on #2224
https://user-images.githubusercontent.com/81298611/115555169-7fadb880-a2af-11eb-9949-5e107606f6f1.mp4

Another version of the bug

[2021-04-21 12:56] judicaelandria opened #2230 "Direct message"
Adding the features to direct message someone would be great, to discuss, plan a room

[2021-04-21 13:36] PraveshKunwar opened #2231 "Other authentication systems?"
Will there be any other authentication systems that dogehouse will implement besides github and twitter? maybe like google, custom oauth?

[2021-04-21 13:47] samarmohan commented on #1432
#2220

[2021-04-21 14:12] Mayowa-Ojo commented on #2225
It's possible that the current speaker's avatar has a red background which will make seeing the outline difficult. I've noticed that a few times

[2021-04-21 14:59] IntegraterGithub commented on #2215
The brand

[2021-04-21 16:48] PraveshKunwar commented on #2226
Agreed, I think other people have been experiencing recent issues with the chat.

[2021-04-21 17:51] nadirabbas commented on #2230
whispers are great, have you tried doing `#@username` ?

[2021-04-21 20:23] Bqleine opened #2234 "You can send blank messages using a mongolian vowel separator"
**Describe the bug**
You can send blank messages using a mongolian vowel separator

**To Reproduce**
1. Go to 'chat'
2. Click on 'send a message'
3. Enter the mongolian vowel separator : `᠎` (U+180E)
4. The message is sent

**Expected behavior**
No message is sent

**Screenshots**
![image](https://user-images.githubusercontent.com/51089082/115616156-23b75400-a2f0-11eb-94f6-c6f9573fe1f2.png)

**Wha

[2021-04-21 20:24] Bqleine commented on #2234
*Additional context*
I tried other spaces from [this list](http://jkorpela.fi/chars/spaces.html) but they didnt work

[2021-04-21 21:04] amitojsingh366 commented on #2230
planning a room as the op said isn't possible with whispers as you need to be in a room to use them...

[2021-04-21 21:13] amitojsingh366 commented on #2230
@judicaelandria looking at the figma designs this is looks like it's going to be a feature https://www.figma.com/file/CS01VVLR7ArQl0afYFkNj3/Web-App?node-id=6694%3A11404

[2021-04-21 23:46] amitojsingh366 commented on #2228
should be fixed in a38c3f94577fe36942d79a08a002422febf106af please confirm

[2021-04-21 23:46] amitojsingh366 commented on #2226
should be fixed in a38c3f94577fe36942d79a08a002422febf106af please confirm

[2021-04-21 23:46] amitojsingh366 commented on #2224
can't reproduce anymore, probably fixed by a38c3f94577fe36942d79a08a002422febf106af

[2021-04-21 23:46] #2224 closed, assigned to nobody

[2021-04-22 02:13] #2207 closed, assigned to nobody

[2021-04-22 02:40] dark-elixir-shibe commented on #1972
completed

[2021-04-22 02:40] #1972 closed, assigned to nobody

[2021-04-22 02:40] dark-elixir-shibe commented on #1637
this is in the works as a part of the 0.2.0 migration

[2021-04-22 02:41] dark-elixir-shibe commented on #884
seems like this has been addressed

[2021-04-22 02:41] #884 closed, assigned to nobody

[2021-04-22 02:42] dark-elixir-shibe commented on #1622
this is part of the new 0.2.0 contracts

[2021-04-22 02:42] #1622 closed, assigned to nobody

[2021-04-22 02:42] dark-elixir-shibe commented on #540
done

[2021-04-22 02:42] #540 closed, assigned to nobody

[2021-04-22 02:45] dark-elixir-shibe opened #2236 "Kousa WS handler"
refactoring epic:
- [ ] move a representation of the user into the websocket.  `nil` means unauthorized.
- [ ] move a representation of the room into the websocket.  `nil` means not in a room

[2021-04-22 02:56] bchampp opened #2237 "Support Discord Room Invites"
Similarly to Among Us, I'd like to introduce a plugin that will allow you to invite people to a room through the discord interface.

[2021-04-22 02:57] benawad opened #2238 "Need a head DogeTester"
would be good to start creating e2e tests with cypress

[2021-04-22 03:02] bchampp opened #2239 "Add Puppeteer e2e tests"
There should be automated e2e tests to cover core user functionality. I propose using the puppeteer framework and automating front end tests with github actions.

[2021-04-22 03:09] AkshayJaitly commented on #2174
I would like to work on UserWideButton

[2021-04-22 04:42] judicaelandria commented on #2230
ooh niicee, can I contribute on this features? @amitojsingh366 @benawad

[2021-04-22 04:47] judicaelandria commented on #2238
yeah, we really should

[2021-04-22 04:50] amitojsingh366 commented on #2238
i think i can be head dogetester, also i've been finding many bugs recently. but i haven't heard of/know of what cypress is

[2021-04-22 05:08] judicaelandria commented on #2238
@amitojsingh366 found many too while we have been in dogehouse yesterday with your bot(which is great)

[2021-04-22 07:49] judicaelandria commented on #2238
and oh man, cypress is great, just tried it today, I think I can be a tester too

[2021-04-22 08:07] TheOtterlord commented on #2215
It's not registered, but I believe it has automatic copyright. As for trademarking the name and logo, I'm sure that will probably be done in the future

[2021-04-22 08:07] #2215 closed, assigned to nobody

[2021-04-22 08:19] TheOtterlord commented on #2231
Discord was implemented, but was removed due to a severe security bug.
I believe we plan to reimplement it along with google.
I don't believe email authentication is planned for a while.
Closing in favour of #340

[2021-04-22 08:19] #2231 closed, assigned to nobody

[2021-04-22 08:21] TheOtterlord commented on #1436
Closing as duplicate of #842

[2021-04-22 08:21] #1436 closed, assigned to nobody

[2021-04-22 08:41] devjayprakash opened #2244 "Buttons overflowing in small screens"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open the chat ui in smaller phones such as moto g4

**Expected behavior**
The ui should adapt to the small screen.

**Screenshots**
Screen short of the overflowing ui
![Screenshot_20210422_140540](https://user-images.githubusercontent.com/25636260/115683945-90743200-a374-

[2021-04-22 08:49] TheOtterlord commented on #2237
this is already supported via the desktop app. download it [here](https://github.com/benawad/dogehouse/releases/latest)

[2021-04-22 08:49] #2237 closed, assigned to nobody

[2021-04-22 09:40] amitojsingh366 commented on #35
same question...

[2021-04-22 09:40] asxlvm opened #2246 "Room doesn't appear in rooms and empty recv transport state"
**Describe the bug**
The room I made doesn't appear in the Feed and my recv transport state is empty, almost every room on DogeHouse had 1-2 members

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'dogehouse.tv'
2. Create a room
3. See error

**Expected behavior**
Of course my room should be visible in the Feed and my recv transport state should say new/connected/disconnected

**Screen

[2021-04-22 10:23] Bqleine opened #2248 "Missing translation keys"
Is your feature request related to a problem? Please describe.
Some parts of the website are not translated (code-wise)

Describe the solution you'd like
Add the parts of the website to translation.json so they can be translated

Additional context
Here are the missing translations I could find :
![image](https://user-images.githubusercontent.com/51089082/115698168-9e21bb80-a364-11eb-8eef-36f15ae3

[2021-04-22 10:24] Bqleine commented on #2248
Note : If you make a pull request but it only fixes some of them. Please specify it in the comments so the missing ones get translated too

[2021-04-22 10:29] ghost commented on #2238
i'm down i guess

[2021-04-22 11:14] PraveshKunwar commented on #2231
Ok thanks appreciate it for replying back!

[2021-04-22 12:04] adraneia opened #2250 ""enter" button for the chat?"
**Is your feature request related to a problem? Please describe.**
ok so i was laying back to my chair, checking up on what i can do on this site, and i thought "Well i could send some emojis"
so i choose the emojis that i wanted to send and then i realise: i actually have to stop chilling, "get up" and then press the enter(??)

**Describe the solution you'd like**
you could add a button like "cha

[2021-04-22 12:37] autherity opened #2252 "Following number do not change"
so I was in a Room, I followed someone from the room and clicked on the doge house icon the go back to dash, I noticed the number of follower did not up by +1, unless I reload the page

[2021-04-22 12:57] dk-raw commented on #2248
I think there is a yarn command you can run to add the missing keys

[2021-04-22 12:57] #2248 closed, assigned to nobody

[2021-04-22 12:59] dk-raw commented on #2244
What is the exact resolution?

[2021-04-22 13:31] benawad commented on #2238
@Odyssey346 ok go ahead and setup Cypress and start writing some tests

[2021-04-22 13:49] ghost commented on #2238
oh god

[2021-04-22 13:50] ghost commented on #2238
assign someone else, thought this was for testing the app, not writing tests

[2021-04-22 13:50] ghost commented on #2238
sry

[2021-04-22 13:52] #1432 closed, assigned to nobody

[2021-04-22 13:52] #2187 closed, assigned to nobody

[2021-04-22 13:52] #2212 closed, assigned to nobody

[2021-04-22 13:59] #2228 closed, assigned to nobody

[2021-04-22 14:00] #2214 closed, assigned to nobody

[2021-04-22 14:00] #2226 closed, assigned to nobody

[2021-04-22 14:05] #2172 closed, assigned to nobody

[2021-04-22 14:27] judicaelandria commented on #2238
@benawad I can work on this but only on weekends, but if someone would takr this I can help him/her too

[2021-04-22 14:46] goldyydev commented on #2174
Most of these components should've been done already, they shouldn't take that long.

has anyone abandoned a component?

[2021-04-22 14:47] jobveldhuis commented on #2239
Hey there, #2238 describes the need for a head tester using Cypress, which is an E2E testing suite. I think we will be using that, but @benawad will be the one who can confirm that.

[2021-04-22 14:49] Mayowa-Ojo commented on #2174
Prerequisite components are delaying work on other components. I've been waiting for `BaseSettingsItem`

[2021-04-22 14:50] jobveldhuis commented on #2178
There is more specification about this design choice in [this video](https://www.youtube.com/watch?v=Dk1gxZ_K3E0), if you were wondering. But this is a feature, intentional by design.

[2021-04-22 14:52] jobveldhuis commented on #2252
Possible duplicate of #2065.

[2021-04-22 14:59] benawad commented on #2238
I'm setting it up, @judicaelandria you are welcome to add to it when you have time

[2021-04-22 14:59] #2238 closed, assigned to nobody

[2021-04-22 16:38] wes337 commented on #2174
No takers for SettingsWrapper? Looks quite straightforward, I can do it.

[2021-04-22 16:56] wes337 commented on #2174
I'm also going to take "BaseSettingsItem". It's just a container component and was claimed 3 days ago. It should not take that long imo

[2021-04-22 17:02] Mvrs commented on #2174
I'm still working on `NativeRadio` and `NativeCheckbox`. They'll be done soon 😎

[2021-04-22 17:28] autherity commented on #2252
closed for duplication

[2021-04-22 17:28] #2252 closed, assigned to nobody

[2021-04-22 17:29] #2022 closed, assigned to nobody

[2021-04-22 18:50] mgpwilson opened #2256 "Cannot hear speaker audio"
**Describe the bug**
I cannot hear audio in rooms. The recv transport state is initially connecting for a while and then becomes disconnected. On refresh of the page, I am asked to click an okay button and then the same process happens.

**To Reproduce**
Specifically on my machine:
1. Join a room
2. Don't hear audio

**Expected behavior**
Hear audio.

**Screenshots**
![image](https://user-images.g

[2021-04-22 19:01] Ayushsunny commented on #2250
Hey @adraneia I wanna work on this issue

[2021-04-22 19:15] Aldiwildan77 opened #2257 "An unexpected error has occurred."
**Describe the bug**
when I choose dogehouse room it's getting an error message like "An unexpected error has occurred." But the sound of the speaker hears after we press the back button in the browser. every time I join a room it's getting this error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the web
2. Click on one channel
3. Wait to connect
4. Error message occurred like "An u

[2021-04-22 19:20] 0xPiyush commented on #2257
This also occurs on Brave browser on windows 10 .

[2021-04-22 19:25] sap471 commented on #2257
had same issues on chrome 90.0.4430.72 on ubuntu 20.04

[2021-04-22 19:27] code5717 commented on #2257
i got this on Chrome windows 10 too

[2021-04-22 19:31] DimoDimchev commented on #2257
I have the same issue currently on iPhone XR

[2021-04-22 19:31] Saidfatah commented on #2257
I encountered this just now from opera browser

[2021-04-22 19:33] benawad commented on #2257
should be fixed on latest dpeloy

[2021-04-22 19:33] #2257 closed, assigned to nobody

[2021-04-22 19:34] Mvrs commented on #2174
@ajmnz for `NativeRadio` you want the cards to be `var(--text-primary-900)` or `var(--text-primary-800)`? It's just inconsistent with the figma preview. Every component is **800** but in figma its **900**

[2021-04-22 20:37] goldyydev commented on #2250
@Ayushsunny here ya go.

[2021-04-22 20:58] AkshayJaitly commented on #2174
**#2261 - UserWideButton added**

[2021-04-22 20:59] Bqleine opened #2262 "Missing translation keys"
Is your feature request related to a problem? Please describe.
Some parts of the website are not translated (code-wise)
Note for @dk-raw : repost because there was a misunderstanding, what I'm saying here is the translations **keys** are missing completely from the website, not just translation.json, someone needs to make a pr to add them into the website and then they will appear in the translati

[2021-04-22 21:04] hwittenborn opened #2263 "GPG key for Debian repository(PPA) should be served over HTTPS"
As of a couple days ago, I've taken notice to the fact that the GPG key used to sign the Debian repository is served over HTTP.

## Background ##
GPG is like HTTPS for a Debian repo - it's what validates that the content received from a server is actually from the server.

If the GPG key itself is modified during download(which is made possible due to the lack of HTTPS), this would allow an attack

[2021-04-22 21:38] Ayushsunny commented on #2250
Hey @goldyydev could you help me with the codebase please so that I can look for it more easily as I am new to open source

[2021-04-22 22:00] ajmnz commented on #2174
You can start now

[2021-04-22 22:23] ajmnz commented on #2256
Make sure to take a screenshot of the console in devtools next time it happens

[2021-04-22 23:13] #2150 closed, assigned to nobody

[2021-04-23 00:54] Mayowa-Ojo commented on #2174
#2267 - `ErrorButtonItem` added

[2021-04-23 01:34] drvladb commented on #2263
If I remember correctly, there is a Cloudflare setting where Cloudflare will be responsible for providing SSL to the client (while still working with HTTP servers).

[2021-04-23 02:24] hwittenborn commented on #2263
@drvladb That would work, except the connection between Cloudflare and the server could still be modified. You can find some info on it [here](https://support.cloudflare.com/hc/en-us/articles/200170416-End-to-end-HTTPS-with-Cloudflare-Part-3-SSL-options#:~:text=The%20Flexible%20SSL%20option%20allows,site%20as%20being%20HTTPS%20enabled.) and [here](https://community.cloudflare.com/t/why-flexible-ss

[2021-04-23 04:10] nfitzen commented on #2215
This issue is closed, but I thought I'd offer some input. As someone who isn't a lawyer but is (or claims to be) somewhat knowledgeable about copyright, this is a little bit of a pet peeve of mine.

1. Per the Berne Convention and other international copyright treaties, all creative works automatically have copyright vested in the author. If someone doesn't have a copyright license on their work,

[2021-04-23 05:32] dk-raw commented on #2262
Yes. This command adds the missing keys to the JSONs

[2021-04-23 05:44] devjayprakash commented on #2244
Its 360 X 640

[2021-04-23 09:37] Bqleine commented on #2262
yarn i18 ?

[2021-04-23 09:41] Bqleine commented on #2262
Thing is the keys don't exist in the first place, text is hardcoded. Someone needs to add the keys and then run the command so they appear in all the jsons

[2021-04-23 09:54] nadirabbas opened #2270 "Kousa error on Deafen/Undeafen"
![image](https://user-images.githubusercontent.com/38838675/115854503-bc121d80-a443-11eb-9570-8030fd86d526.png)

[2021-04-23 09:54] ghost opened #2271 "Deafen button not visible if you're a listener"
**Describe the bug**
you can't see the deafen button when you're a listener, but you can still press the deafen keybind.

**To Reproduce**
Steps to reproduce the behavior:
1. Go in a room
2. Be a listener
3. Don't see the deafen button
4. Press deafen keybind

**Expected behavior**
Deafen button is visible
**Screenshots**
If applicable, add screenshots to help explain your problem.

**What device

[2021-04-23 10:15] dk-raw commented on #2262
No, not this command but anyways, do you want me to assign you to do this?

[2021-04-23 11:19] goldyydev commented on #1969
Both of them will eventually have to turn into a reality due to abuse and other factors we can not control.

[2021-04-23 11:35] amitojsingh366 commented on #2270
this is not an issue, it's caused by the latest version of the api not being deployed.
and the deafen feature works perfectly except the fact that no one else in the room knows that you've deafened *(which will be fixed after the api is deployed)*

[2021-04-23 11:35] #2270 closed, assigned to nobody

[2021-04-23 12:11] vi241 commented on #1826
exactly

[2021-04-23 12:44] BronzW commented on #2271
I can reproduce this

[2021-04-23 12:45] BronzW opened #2273 "Deafen button causes unexpected errors"
![image](https://user-images.githubusercontent.com/50546858/115872756-74d75d00-a442-11eb-89dd-c5c9f2011d41.png)
When clicking on and off the deafen button.

There is also no transition between hover states and colors of the button.

[2021-04-23 12:55] ghost commented on #2271
Can also reproduce on Windows 10, Firefox 88

[2021-04-23 13:00] saihnii4 commented on #2271
I can also reproduce this on Manjaro Linux, Firefox 87

[2021-04-23 13:04] saihnii4 commented on #2273
I've also encountered this error, here's what a staff member said
![Screenshot from 2021-04-23 21-02-57](https://user-images.githubusercontent.com/81787757/115875054-69eaef80-a477-11eb-9bb1-1d00b40ba330.png)

[2021-04-23 13:23] saihnii4 commented on #2234
the mongolian vowel seperator's role in mongolian script is that it determines the value of the last two characters of a word. however, i believe it's rarely used in practice.

[2021-04-23 14:33] samarmohan commented on #2174
@Ongshu777, have you done ChangeAvatarCard?
And sorry for not doing BaseSettingsItem, I was busy.

[2021-04-23 14:40] samarmohan commented on #2250
Do you still need help?

[2021-04-23 14:55] Hypnotist1148 commented on #1277
Hey, you could use conventional commits.
Check it out [here](https://www.conventionalcommits.org/en/v1.0.0/)

ps: i like this project a lot :D

[2021-04-23 15:01] amitojsingh366 commented on #2273
dupe #2270

[2021-04-23 15:01] #2273 closed, assigned to nobody

[2021-04-23 15:02] amitojsingh366 commented on #2271
this is intentional. will work on it after deafen fully starts working

[2021-04-23 15:03] ghost commented on #2271
can you explain why that's intentional? for me, it's just weird

[2021-04-23 15:10] Ayushsunny commented on #2250
yes @samarmohan could help me please that what exactly I need to do here

[2021-04-23 16:04] #2043 closed, assigned to nobody

[2021-04-23 16:26] s3ansh33p opened #2281 "Review Follow/Following Presentation"
**Describe the bug**
Followers and Following counts round at 9.95k to 10k, though 10k should only be displayed when 10k is actually achieved.

**To Reproduce**
View https://dogehouse.tv/u/benawad or any with x thousand users in followers or following. View true count here: https://api.dogegarden.net/v1/user/benawad or by watching the websocket.

**Expected behavior**
Don't round up. 9,999 should n

[2021-04-23 16:31] wes337 commented on #2250
@Ayushsunny

![fe](https://user-images.githubusercontent.com/9464690/115901112-736d5b00-a469-11eb-84d3-ef987eb73893.PNG)

I believe for this issue, you should add a clickable button here.
Something like the Material UI "Send" icon (https://material-ui.com/components/material-icons/#material-icons).

So you'll need to:
1. Make an icon component in Kibbeh `src/icons/OutlineSend.tsx`
2. Add it into t

[2021-04-23 16:38] BronzW commented on #2262
Why did you close this?

[2021-04-23 16:54] dk-raw commented on #2262
Oops. Clicked on the wrong button

[2021-04-23 16:55] wes337 commented on #2281
I can do this, will also write some unit tests for the `kFormatter` lib.

[2021-04-23 17:37] Mayowa-Ojo commented on #2174
#2282 - `KeybindCard` component added

[2021-04-23 18:26] goldyydev opened #2284 "Add opengraph tags to the room"
This issue is a "request" for an implementation of a REST api so we can SSR the fields and add the tags for the room itself.

An example for what I want to achieve :
![image](https://user-images.githubusercontent.com/55450464/115914685-f2b75a80-a47a-11eb-9839-ceeac237a84a.png)

Currently what is/needed to be implemented:
- [X] **Frontend** - HeaderController
- [ ] **Backend** - A REST endpoint tha

[2021-04-23 19:32] #2284 closed, assigned to nobody

[2021-04-23 21:36] bensaine opened #2285 "Unresponsive calendar button for scheduled rooms"
**Describe the bug**
Unresponsive calendar buttons for some (not all for some reason) scheduled rooms. It seems to only happen to scheduled rooms further down the list.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://dogehouse.tv/scheduled-rooms'
2. Click on the calendar button of one of the scheduled rooms. (Not all rooms have the bug, try multiple)
4. Button doesn't respond

[2021-04-23 21:39] bensaine commented on #2212
bump, still happening for me

[2021-04-23 22:50] goldyydev opened #2286 "The websocket get_user_profile hangs when given an invalid user"
Hey Elixir doges. Since you rewrote a half of the Elixir API, there's this weird bug going around where attempting to fetch an _invalid_ user using the ` get_user_profile` endpoint.

This causes Kibbeh to hang and eventually log the user out (I have no idea why this is happening, but probably unrelated to Kousa), the previous behaviour returned an error that the user doesn't exist, therefor stoppi

[2021-04-23 23:10] #2286 closed, assigned to nobody

[2021-04-23 23:11] 4nkitd opened #2287 "Private Room Share Url UI Blank"
**Describe the bug**
when a user click on the users btn to share the url of the room he sees a blank page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a private room
2. Click on Share URL Button on bottom
3. See error

**Expected behavior**
should how a input box and others buttons with url

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What devic

[2021-04-24 02:27] benawad commented on #2133
https://api.dogehouse.tv/stats

updates daily, will be adding more stats to it

[2021-04-24 04:12] shakky24 opened #2289 "Scroll bar"
Scrolling through the list of online people isn't smooth.

[2021-04-24 05:48] CodeRustyPro opened #2290 "Border and Outline !"
![Screenshot (183)](https://user-images.githubusercontent.com/65584840/115948968-0a302b00-a4ef-11eb-92d7-bdedb2b8aac7.png)
When you click on anything on dogehouse there is a bad rectangular border

Just add border :0; and outline:0; in css , or else just add :focus and then border :0; and outline:0; in css @benawad