[2021-03-02 06:25] ityonemo commented on #534
(except for like linting tools "ignore this file/module/function" e.g.

[2021-03-02 07:18] ityonemo opened #535 "Kousa: HHB Refactoring: user_block table"

[2021-03-02 07:18] ityonemo opened #536 "Kousa: HHB refactoring: room table"

[2021-03-02 07:18] ityonemo opened #537 "Kousa: HHB Refactoring: room_permission table"

[2021-03-02 07:19] ityonemo opened #538 "Kousa: HHB Refactoring: room_block table"

[2021-03-02 07:19] ityonemo opened #539 "Kousa: HHB Refactoring: follow table"

[2021-03-02 07:20] ityonemo commented on #409
https://github.com/benawad/dogehouse/issues/535
https://github.com/benawad/dogehouse/issues/536
https://github.com/benawad/dogehouse/issues/537
https://github.com/benawad/dogehouse/issues/538
https://github.com/benawad/dogehouse/issues/539

[2021-03-02 07:22] ityonemo commented on #409
completed part 1, "User" table: https://github.com/benawad/dogehouse/pull/472

[2021-03-02 07:23] ityonemo opened #540 "Kousa: WS Contract integration test"
I don't super love this library, but it should be possible to import this library only in test:  https://hexdocs.pm/websockex/readme.html and use it to directly do a set of integration tests on the websocket.

However, in order to do this correctly, I'll need some documentation on the expected behaviours of the Websocket.

[2021-03-02 08:05] ajmnz commented on #533
#351

[2021-03-02 08:47] #533 closed, assigned to nobody

[2021-03-03 01:19] ityonemo commented on #536
https://github.com/benawad/dogehouse/pull/543

[2021-03-03 01:28] benawad opened #544 "Toasts are hidden when a modal is up"

[2021-03-03 07:13] iamanalt commented on #520
I will stop using and recommending DogeHouse if GA are added.

[2021-03-03 10:35] arthurysong commented on #524
i can work on this

[2021-03-03 13:27] DGKSK8LIFE commented on #524
There are already issues for this @Mudrank

[2021-03-03 14:30] #524 closed, assigned to nobody

[2021-03-03 19:47] lenilsondc commented on #529
This is due to the height of the picker being set through style (`height: "400px", `), the container gets the height but inner wrapper doesn't follow the same height.

https://github.com/benawad/dogehouse/blob/2e909332cd3016763adc097bb02c18ef6c182935/kofta/src/vscode-webview/modules/room-chat/RoomChatInput.tsx#L136-L146

This is fixable by removing the hard coded height value and let the default v

[2021-03-04 04:00] #482 closed, assigned to nadirabbas

[2021-03-04 06:58] ityonemo commented on #535
refactored in this pr: https://github.com/benawad/dogehouse/pull/548

[2021-03-04 06:58] ityonemo commented on #539
refactored in this pr: https://github.com/benawad/dogehouse/pull/548

[2021-03-04 12:30] #529 closed, assigned to nobody

[2021-03-04 13:45] benawad commented on #513
think this is a dupe

[2021-03-04 13:45] #513 closed, assigned to nobody

[2021-03-04 13:45] benawad commented on #510
dupe

[2021-03-04 13:45] #510 closed, assigned to nobody

[2021-03-04 18:10] nadirabbas commented on #520
guess people really hate Google Analytics

[2021-03-05 03:24] benawad opened #552 "Replace material UI datetime picker with something better"

[2021-03-05 03:24] benawad commented on #552
https://github.com/benawad/dogehouse/blob/staging/kofta/src/vscode-webview/modules/scheduled-rooms/ScheduleRoomModal.tsx#L114

[2021-03-05 03:38] andrewroblesdev opened #553 "Adjust positioning of login buttons and footer links"
When viewed from a desktop, login buttons and footer links should be the same width of the text above it in order to be more visually appealing.

[2021-03-05 04:27] michaelphipps commented on #552
My personal favourite date picker is https://flatpickr.js.org/
It has a very good user experience and works very well on desktop AND mobile.

HOWEVER, I think dropping date/time pickers and using a dd / mm / yyyy masked field can be a simpler experience.

[2021-03-05 10:33] nadirabbas opened #555 "Only mods/creators should see people requesting to speak"

[2021-03-05 13:50] Delected commented on #384
I think it's solved now, I just tested it.

[2021-03-05 14:09] nadirabbas opened #556 "Add Imgur API for automatically uploading images (links only in chat)"
If people want to share screenshots currently, they have to upload them somewhere and share the links.

We can give our chat input the functionality so people can paste their screenshots (copied to clipboard) and it will upload them to imgur using the Imgur API.

Then we can just show the image URL in the chat list instead of the image, which keeps the chat cleaner to, and makes it really easy to

[2021-03-05 14:34] benawad commented on #555
why

[2021-03-05 14:35] benawad commented on #556
I don't want to hook into Imgur api

[2021-03-05 14:35] #556 closed, assigned to nobody

[2021-03-05 14:36] nadirabbas commented on #555
@benawad someone suggested it. I just created the issue for it to see what you think.

[2021-03-05 14:37] benawad commented on #555
maybe I somewhat like this, I will think about it

[2021-03-05 14:54] Mudrank opened #557 "Kick people"
@benawad

[2021-03-05 14:56] nadirabbas commented on #557
use your feet to kick people. I've tried it, it works. 😅

[2021-03-05 14:59] Mudrank opened #558 "Show doge value"
Since dogeHouse related to doge maybe show the value of doge right now at
 the top?

@benawad

[2021-03-05 15:09] DGKSK8LIFE commented on #557
Already functionality that's implemented @Mudrank (you can ban people from rooms)

[2021-03-05 15:09] DGKSK8LIFE commented on #555
I don't really like it

[2021-03-05 15:10] Mudrank commented on #557
Yeah so I don't want to ban them just kick them out of the room

[2021-03-05 15:14] DGKSK8LIFE commented on #557
Yeah but I feel like that functionality is kinda futile because they could just rejoin again. What would be more useful is a temp ban/mute for users that are acting up. @Mudrank

[2021-03-05 15:15] DGKSK8LIFE commented on #557
@benawad what do you think?

[2021-03-05 15:20] Mudrank commented on #557
I like they cannot join until the next session something like that

[2021-03-05 15:23] Mudrank opened #559 "Breakout rooms"
A breakout rooms feature just like zoom

@benawad

[2021-03-05 15:30] ajhalili2006 opened #560 "Add an setting to manage OAuth connections"
**Is your feature request related to a problem? Please describe.**
Let's say I want to login into DogeHouse using my Github.com account, but when I'm using my Twitter accoubt to log in to there (without using the same email address), usually it creates a new account in the database.

**Describe the solution you'd like**
* Add an setting to manage OAuth connections. This way people can fix the 'wro

[2021-03-05 15:39] DGKSK8LIFE commented on #557
Well I was thinking of the possibility to adjust the time more precisely (ex: 5 hour/2 days, etc). Though as of now I don't really know of rooms that stay open that long.

[2021-03-05 16:35] andrewroblesdev commented on #553
Quick mockup to illustrate what I mean:
![Screenshot 2021-03-05 083444](https://user-images.githubusercontent.com/70864612/110144913-bd04c800-7d8d-11eb-9b33-e530e522b068.png)

[2021-03-05 16:38] andrewrobles commented on #553
Not sure if there issues need to be approved before anyone starts working on them. But I would like to work on this issue

[2021-03-05 16:38] andrewroblesdev commented on #553
Not sure if issues need to be approved before anyone starts working on them. But I would like to work on this issue

[2021-03-05 17:10] benawad commented on #553
sounds good, go for it!

[2021-03-05 17:34] ZackaryH8 commented on #558
Could be added using [this](https://www.cryptonator.com/api),
[List of currencies](https://www.cryptonator.com/api/currencies)

[This](https://api.cryptonator.com/api/ticker/doge-gbp) returns JSON with the required data:
[code]

[2021-03-05 17:51] DGKSK8LIFE commented on #558
I feel like it's supplemental functionality that really doesn't add much value to the application. It's also more data (JSON fetching, deserializing, component load, etc) (in @ZackaryH8's case) which really isn't a problem, but as the app scales up, it could lead to worse performance and longer load times.

[2021-03-05 19:32] melnary commented on #439
The app is working just fine on Big Sur. Is this only an issue on Mojave?

[2021-03-05 21:21] geekgonecrazy opened #569 "Profile Url"
**Is your feature request related to a problem? Please describe.**
When I want to invite some friends to check it out.  I'd like to be able to link to a profile link.  like: https://dogehouse.tv/user/username

This way they could follow me and I could invite them to a private room.  Otherwise I have to make it public get them to join.  Follow them.. And then create a private room and bring them al

[2021-03-05 22:10] 11ma opened #572 "Minimize Listeners"
Making it possible to minimize the listeners as listeners grow in number.

[2021-03-05 22:45] 11ma opened #573 "Chat stays open after leaving room"
**Describe the bug**
When you open a chat in a room and step out of the room the chat remains open when you go to different pages.

**To Reproduce**
Steps to reproduce the behavior:
1. go to a room
2. Click on chat
3. step out of room, click on profile, or anywhere else
4. See error

**Expected behavior**
Chat should close when you leave room

**Screenshots**
![Screenshot 2021-03-05 at 22 46 07](h

[2021-03-05 23:11] nadirabbas commented on #573
When I leave room, the chat closes automatically:

https://user-images.githubusercontent.com/38838675/110184055-0a3a7580-7e32-11eb-9951-dd3cad0bde5b.mp4

[2021-03-06 00:19] 11ma commented on #573
what browser are you using? I'm on firefox

https://user-images.githubusercontent.com/33061753/110187773-7953a200-7e11-11eb-95b9-8a0e2af83b3e.mov

[2021-03-06 00:20] nadirabbas commented on #573
Chrome on windows

[2021-03-06 00:21] nadirabbas commented on #573
You haven't actually left the room at all.

[2021-03-06 00:23] 11ma commented on #573
Oh right, so unless you leave the room, the chat remains accessible?

[2021-03-06 00:27] #400 closed, assigned to nobody

[2021-03-06 00:32] nadirabbas commented on #573
@11ma yup

[2021-03-06 00:42] #518 closed, assigned to nadirabbas

[2021-03-06 00:43] #573 closed, assigned to nobody

[2021-03-06 03:05] ajhalili2006 opened #575 "Snap-based DogeHouse Electron app for Linux users"
## To-do

* [x] Create new repo/fork based on the[ `github:snapcrafters/fork-and-rename-me`](https://github.com/snapcrafters/fork-and-rename-me) template.
* [x] Port Electron app to Snap as part of build
* [x] Edit the `snapcraft.yaml` file to adjust to the app's needs (plugs, slots, etc.)
* [x] Update README
* [ ] Complete remaining tasks in https://github.com/snapcrafters/fork-and-rename-me/blob

[2021-03-06 03:09] ajhalili2006 commented on #575
I successfully created the repo from the template and it's on https://github.com/MadeByThePinsHub/dogehouse-electron-app-snap.

Once the community is done porting stuff to Snaps, I'll handle the maintainership to @benawad.

[2021-03-06 04:02] benawad commented on #439
I'm on Catalina

[2021-03-06 04:02] #558 closed, assigned to nobody

[2021-03-06 04:54] Mudrank opened #576 "Personal Chats / Personal DM's"
@benawad

[2021-03-06 05:04] Mudrank opened #577 "website title"
### **Describe the bug**

https://user-images.githubusercontent.com/70035508/110196037-cfebcb00-7e67-11eb-9eef-651c2fcab54a.mp4

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a room and be a speaker
2. Then leave the room and go to the home page
3. You till See Muted | DogeHouse

@nadirabbas @benawad

[2021-03-06 05:11] Mudrank opened #578 "Record sessions"
Since we discussed this in the weekly contributor meeting I thought This should have a feature request

[2021-03-06 08:01] Choongkyu opened #579 "Clicking on "ask to speak" on frontend issues function RoomsPermission.ask_to_speak/2 is undefined (module RoomsPermission is not available)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create room
2. In another browser, either different type, or the same type in incognito mode to avoid cookie, login as another user and join room created in step 1
3. Click on megaphone icon to ask to speak
4. See error `function RoomsPermission.ask_to_speak/2 is undefined

[2021-03-06 10:09] a7medev commented on #386
Is there any plan for make it a mobile app?

[2021-03-06 10:39] shmuelhizmi commented on #579
+1

[2021-03-06 12:11] shmuelhizmi commented on #578
if #585 will pass support for audio recording will be added

[2021-03-06 13:42] benawad commented on #578
0. I think we want to do the recording server side, MediaRecorder doesn't support iOS Safari https://caniuse.com/mediarecorder (this also needs to be thought out of how it works with deploys so a recording is not interrupted)
1. Only the creator of the room can initiate a recording
2. All current speakers need to confirm they are ok with it being recorded
3. It should be obvious to everyone in the

[2021-03-06 13:49] #579 closed, assigned to nobody

[2021-03-06 13:53] benawad commented on #386
yes, but I'm thinking after the website hits market-fit

[2021-03-06 14:18] andrewroblesdev commented on #171
I'm down to work on this one

[2021-03-06 14:20] #553 closed, assigned to andrewrobles

[2021-03-06 14:57] benawad opened #587 "scheduled room should have a link to add to google calendar & outlook"

[2021-03-06 14:57] benawad opened #588 "you should be able to share a link to a scheduled room"

[2021-03-06 15:22] Mudrank opened #589 "Branded link with DogeNitro"
Since we discussed this in the weekly contributor meeting I thought This should have a feature request

[2021-03-06 17:50] JammSpread commented on #578
What if it can be configured that speakers who don't decide to be recorded are not recorded?

[2021-03-06 18:12] nadirabbas opened #593 "can't edit room description"
at the moment you cannot edit the room description once you have created it. I had added support for it but I guess it got lost in all the conflicts resolving.  will repush it

![image](https://user-images.githubusercontent.com/38838675/110216523-6902fc00-7ed1-11eb-9acf-6d96990d5680.png)

[2021-03-06 18:42] ermalsh commented on #587
I can pick this up.

[2021-03-06 19:13] melnary commented on #406
@nadirabbas addressed this in 828f4622378f58531b16945e4d631b17e644ca62, this issue can be closed now!

[2021-03-06 19:14] #406 closed, assigned to nobody

[2021-03-06 20:01] shmuelhizmi commented on #578
I think taking in consideration doge-house user demographic, user will have no problem just using their PC to record the session and so being able to record the session directly from the app is just a matter of convenience, therefore preventing users from recording other users without thier consent isn't a matter of security but a matter responsibility (you don't want users to use your app feature

[2021-03-06 20:32] ccoder1337 opened #600 "Kofta: Display dates according to the users 'cultural convention'"
Reading American dates is very confusing, they should be displayed according to the language the website is beeing accessed in.
![grafik](https://user-images.githubusercontent.com/49637671/110220041-541f6c00-7ec3-11eb-9f35-2e0781afe626.png)
Additionally automatically switching between 12H and 24H format would be helpful.

[2021-03-06 20:35] ccoder1337 commented on #600
Issue #600 nice number lbh

[2021-03-06 20:43] benawad commented on #578
Cloud recording is more complex, but needed for this project. One of the goals of the project is to be a platform podcasters can host their podcasts on.

[2021-03-06 21:00] ottx96 opened #601 "site title says "header.title" on loading/refreshing page for a short time"
hit F5 and watch
![image](https://user-images.githubusercontent.com/49874532/110220633-1fadaf00-7ec7-11eb-9024-8401f5409a42.png)

[2021-03-06 21:28] melnary opened #602 "Kofta: Look at profile of a scheduled meeting's author"
Currently, the only two pieces of information about the author of a scheduled meeting is the author's icon and their name in the description.
I feel like you should be able to view their profile (for example to follow them), from the scheduled meeting.
Is this something desirable?

[2021-03-06 21:36] #601 closed, assigned to nobody

[2021-03-06 21:43] benawad commented on #602
yeah good idea

[2021-03-06 21:47] melnary commented on #602
Ok, I can work on this!

[2021-03-06 21:51] benawad commented on #602
create a new route `/user/:username` to view peoples profiles (you can still use `<UserProfile />` component thing

[2021-03-06 22:16] #587 closed, assigned to ermalsh

[2021-03-06 23:05] #593 closed, assigned to nadirabbas

[2021-03-06 23:40] melnary commented on #602
Would it be better to create a new page that grabs the username from the URL, like you described, or actually reuse `<ViewUserPage />`, which takes the user data from the location state? Or should the new page just wrap `<ViewUserPage />` with some logic to get the user data?

[2021-03-07 03:29] ermalsh opened #610 "Add a counter to the Scheduled Room card that shows how many have RSVP'd/Shared etc."
Something like:
![image](https://user-images.githubusercontent.com/19981656/110227951-276f5280-7ecb-11eb-949a-390d7e2eee95.png)

Requirements:
- Will need to store the count somewhere
- Will need a UI for users to express interest in scheduled room
- better than my go at the UI above lol

Icon SVG:
[code]

[2021-03-07 04:17] ghost opened #611 "this is a bug?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
https://media.discordapp.net/attachments/817228555258953738/817974138731233310/unknown.png

**What d

[2021-03-07 04:24] ermalsh commented on #611
This is fine, not a bug. Just websocket logging stuff.

[2021-03-07 04:24] Subhom1 opened #612 "Horizontal Scrolling on Schedule room"
If schedule room description gets longer then it's creating a horizontal scroll.
![Screenshot_20210307-095054](https://user-images.githubusercontent.com/20743746/110228921-08081200-7f2b-11eb-9d58-98785aa80928.jpg)

[2021-03-07 09:09] Mudrank opened #613 "Scheduled Rooms translation"
The Scheduled Rooms page doesn't  get translated

[2021-03-07 09:11] Mudrank commented on #611
@nadirabbas @benawad  close this issue

[2021-03-07 09:12] Mudrank opened #614 "upload custom avatar"

[2021-03-07 09:13] Mudrank opened #615 "make the links shorten"

[2021-03-07 09:16] #611 closed, assigned to nobody

[2021-03-07 09:22] Mudrank opened #616 "uploaded stories which can seen by the followers"

[2021-03-07 09:44] tuminzee commented on #552
This might help
https://akveo.github.io/nebular/docs/components/datepicker/overview#nbdatepickerdirective

![image](https://user-images.githubusercontent.com/58180803/110235731-a9a55880-7f57-11eb-91e1-9ac0de10745b.png)
![image](https://user-images.githubusercontent.com/58180803/110235742-b45fed80-7f57-11eb-9a8b-78b0015f0306.png)

[2021-03-07 10:21] Choongkyu opened #617 "Kousa and Shawarma can only connect to RabbitMQ instance if they are running after RabbitMQ is ready and listening"
**Describe the bug**
Kousa and Shawarma, if running before RabbitMQ instance or anytime before the instance is ready, cannot connect to RabbitMQ.  They have no retry mechanism or any other opportunity to connect to RabbitMQ instance.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Kousa or Shawarma
2. Run RabbitMQ server
3. Both Kousa and Shawarma will issue an error but remain running w

[2021-03-07 10:36] ccoder1337 opened #618 "Introduce language flags on chat rooms"
Language flags will then tell you which language is beeing preferred in the room.

[2021-03-07 10:42] ccoder1337 opened #619 "Kofta: Make the language codes display in uppercase"
![grafik](https://user-images.githubusercontent.com/49637671/110237087-1d386d00-7f3a-11eb-86cd-0575d628e924.png)

[2021-03-07 13:19] #577 closed, assigned to nobody

[2021-03-07 13:20] #616 closed, assigned to nobody

[2021-03-07 13:22] #600 closed, assigned to nobody

[2021-03-07 13:47] AkiraTenchi commented on #619
As you can see [here](https://www.andiamo.co.uk/resources/iso-language-codes/) the ISO standard uses lowercase.

[2021-03-07 13:51] AkiraTenchi commented on #618
I agree with the language flags, but i don't think limiting the names to latin letters would be a good move given that there are many languages that do not use latin letters and why deny users from those countries the creation of rooms with names in their native language?

[2021-03-07 13:53] AkiraTenchi commented on #614
It uses your GitHub avatar when logging in via GitHub so you could just upload a custom avatar here on GitHub.

[2021-03-07 14:17] ottx96 commented on #619
Yeah that's true. As of ISO 639-2 it's lowercase letters.
Although, I think this is a better source of information: [ISO 639-2](https://www.loc.gov/standards/iso639-2/)

[2021-03-07 15:31] Muhammadinaam opened #623 "What is this project?"
I came to know about this project from ben awad's video. I have subscribed to his channel.

What is this project used for? I am not able to underatand. Taking voice conversation to moon. Is this something like zoom meetings?

[2021-03-07 16:17] Mudrank opened #626 "Push to talk in Mobile"
![20210307_214616.png](https://user-images.githubusercontent.com/70035508/110246694-a8dbe900-7f8e-11eb-8e9c-9aa6c803486d.png)
This is not ablecable on mobile maybe something like double tap or shake something like that

[2021-03-07 16:19] nadirabbas commented on #626
@benawad I can add push to talk on mobile when you double-tap the mic icon.

[2021-03-07 16:27] benawad commented on #626
we will make it push & hold, but don't worry about this right now

[2021-03-07 16:37] Mudrank opened #627 "Chat becomes small while typing on moblie"
I have to scroll when  start typing to see the chat @nadirabbas

![20210307_220719.png](https://user-images.githubusercontent.com/70035508/110247297-86979a80-7f91-11eb-9118-89e487888a5a.png)

[2021-03-07 17:03] ccoder1337 commented on #618
I mean it isn't difficult to switch keyboard schemes

[2021-03-07 17:03] ccoder1337 commented on #618
For example every russian keyboard also has a lattin layout printed on it

[2021-03-07 17:04] ccoder1337 commented on #618
I guess language flags would be enough

[2021-03-07 17:05] SPARTACUS5329 opened #629 "Components not appearing together"
**Describe the bug**
When the website is loaded, some components are loaded and then they suddenly disappear. Everything is loaded together after that. The webpage isn't reloaded.

**Expected behaviour**
All components should be loaded together

**What device are you on?**
MacBook (MacOS 11; Google Chrome)

https://user-images.githubusercontent.com/58896813/110247981-dcba0d00-7f94-11eb-8990-b67464

[2021-03-07 17:05] ccoder1337 commented on #619
Maybe add flag icons or something like that?

[2021-03-07 17:28] nadirabbas opened #630 "Keyboard shortcuts no longer work"

[2021-03-07 17:57] deijjji303 commented on #623
Right now it is a bit like the app "clubhouse", but it's going to have a monopoly position in the audio-communication market with a ton features and ways to monetize your conversations actually already within the next few days.

[2021-03-07 18:33] Mudrank commented on #503
I like the idea somthing which people can make use like nightbots on youtube/twitch streams using the api

[2021-03-07 19:19] Mudrank commented on #517
not working @nadirabbas

[2021-03-07 19:32] Mudrank opened #633 "priority speaker"
priority speaker just like discord vc's

[2021-03-07 19:40] nadirabbas commented on #517
cuz it wasnt fixed

[2021-03-07 19:58] ajmnz opened #635 "Disable clicking offline mentioned users in chat"
**Describe the bug**
When you click a mention of a user that has disconnected it starts showing multiple errors on and on.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a room
2. Click on a mention of a disconnected user

**Expected behavior**
Disable clicking offline mentioned users in chat

**Screenshots**
<img width="385" alt="Screenshot 2021-03-07 at 20 55 36" src="https://user-i

[2021-03-07 20:00] ajmnz commented on #635
I presumed it was disconnected users, but might be someone who changed their handle? It happened to me when clicking on `@horry`

[2021-03-07 21:19] ottx96 opened #636 "scheduled meetings have wrong date (always current date/time)"
![image](https://user-images.githubusercontent.com/49874532/110255268-299ce400-7f93-11eb-8903-f7aa0b3bdabd.png)

[2021-03-07 21:33] benawad commented on #636
cc @ermalsh I think this is related to the i18 change

[2021-03-07 21:34] ermalsh commented on #636
I'll take a look at this, please assign to me @benawad

[2021-03-07 21:51] benawad opened #637 "[New Design] Atomic Components Implementation v1"
<h1>Atomic Components</h1>

(do not add margin on any atomic components)

- [x] Button: https://www.figma.com/file/CS01VVLR7ArQl0afYFkNj3/Web-App?node-id=448%3A731
- [x] Tag: https://www.figma.com/file/CS01VVLR7ArQl0afYFkNj3/Web-App?node-id=448%3A680
- [x] IconHeading - https://www.figma.com/file/CS01VVLR7ArQl0afYFkNj3/Web-App?node-id=448%3A681
- [x] ScheduledTime - https://www.figma.com/file/CS01

[2021-03-07 22:59] melnary commented on #602
I didn't really anticipate the redesign being started so early, the focus should probably be switched to that now instead of Kofta, so I'll close this issue!

[2021-03-07 22:59] #602 closed, assigned to melnary

[2021-03-07 23:11] sahilmob commented on #637
I will work on the user avatar components.

[2021-03-08 05:47] ajhalili2006 opened #640 "linux-snap/electron: Implement an way for users to inform regarding what app permissions are needed"
## About The Issue

Since snaps are stricly confined by default, each snap must ask an user to connect interfaces for the app to work. In case of DogeHouse, we just need the `microphone` interface.

However, users who didn't install the snap through the GUI (e.g. Ubuntu Store for Ubuntu, may varies on per distro basis) requires connecting these interfaces into the snap.

So what I'm saying is prom

[2021-03-08 06:10] JammSpread commented on #338
I think Unicode characters should still be allowed for display names just white-space characters should be disabled. I feel it should be similar to Discord where you can have "fancy usernames".

[2021-03-08 09:09] #618 closed, assigned to nobody

[2021-03-08 10:08] vi241 opened #643 "Always sends 2 notifications"
**Describe the bug**
Dogehouse always sends 2 notifications with error messages instead of 1

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new *private* room
2. Open incognito with another user
3. Send an invite to the other user (normal chrome)
4. Join the room (incognito)
5. Reload the page (incognito)
4. See double notification

**Screenshots**
![image](https://user-images.gith

[2021-03-08 13:05] ravinhwg opened #645 "Spinner is off center."
**Describe the bug**
The Spinner that is shown while the rooms are loading is off centered on desktop.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to dogehouse.tv (You won't notice it if your connection is very fast  switch to low-end-mobile on chrome devtools)

**Expected behavior**
The Spinner is shown at the center of the page

**What device are you on?**
Desktop
**Additional contex

[2021-03-08 13:31] MattLawz opened #646 "Check for VPN's and block if it seems if the user has a VPN"
This feature request can help clean out the number of raids/bombs that happen to the website, I have not actually run into this myself but I think it would be a good feature to throw in.

The solution I think would be best is to check for VPN headers using PHP or something of this sort.

Alternatives that I have considered could be a VPN checking API, or even Cloudflare Pro has the feature.

[2021-03-08 13:56] #636 closed, assigned to ermalsh

[2021-03-08 14:02] benawad commented on #637
I'm starting on `Button`

[2021-03-08 14:13] Jackbaude commented on #637
Im taking a shot at Tag

[2021-03-08 14:26] andrewroblesdev commented on #637
I got `IconHeading`

[2021-03-08 15:26] benawad commented on #637
make sure to pull, I renamed the colors and actually got storybook working

[2021-03-08 15:43] sahilmob commented on #637
@benawad The red circle needs custom bottom and right values to be positioned correctly with the different sizes of the avatar, what do you prefer?

1-An object to map the size to custom values
2-Normal css file with custom classes
3-css modules

![circle](https://user-images.githubusercontent.com/33333226/110343911-a2547c80-8035-11eb-89ea-4bf52777e563.png)

[2021-03-08 15:46] benawad commented on #637
@sahilmob object map

[2021-03-08 16:41] s3ansh33p opened #650 "Incorrect values for following count"
**Describe the bug**
Following count incorrect / reset.

**To Reproduce**
This occured a little while ago, where the user count was reduced significantly. I believe that at one point I was following 14k-15k users a couple of weeks ago (did some users get removed from the platform? or were the following/followed values reset for these?). I made a script to click on the "Load More" button on the fol

[2021-03-08 16:45] nadirabbas commented on #637
I'll work on SearchOverlay

[2021-03-08 16:50] mayconbenito commented on #637
i will work on SearchHistory

[2021-03-08 18:15] kleo-xhindoli commented on #637
I can take a stab at the SearchBar component

[2021-03-08 18:27] jee1mr commented on #637
I'm gonna work on ScheduledTime

[2021-03-08 19:01] andrewroblesdev commented on #171
The pull request associated with this issue has been merged so I think this issue can be closed. However, I don't think I have the permission to do that.

[2021-03-08 19:03] #171 closed

[2021-03-08 19:21] jee1mr commented on #637
Completed ScheduledTime

[2021-03-08 22:08] sahilmob commented on #637
I will work on MessageElement

[2021-03-08 22:13] xiuxiu62 commented on #643
This error is thrown in the join_room method of /kousa/lib/business-logic/room_logic.ex on line 296 -- not a clue how to read elixir, but hopefully it's a simple logic error.

[2021-03-08 22:22] chancovsky commented on #637
I'll take `UserBadge`

[2021-03-08 22:26] vi241 commented on #643
oh ok

[2021-03-08 23:25] chancovsky commented on #637
I will work on `BoxedIcon` as well

[2021-03-09 02:01] ermalsh commented on #637
@Jackbaude Are you still working on `Tag`? If not I have it complete and can PR.

[2021-03-09 02:02] Jackbaude commented on #637
No you can PR

[2021-03-09 02:10] ermalsh commented on #645
Closed. Merged and in prod.

[2021-03-09 02:41] munetta opened #670 "save messages in local storage when leaving room"
**Is your feature request related to a problem? Please describe.**
when i left a room and joined all the messages had disappeared

**Describe the solution you'd like**
add each message to local storage or something and when rejoin a specific room you had left, grab the messages from local and load them in before initing sockets. arr[{row}]; <- put this in local

**Describe alternatives you've cons

[2021-03-09 02:54] ravinhwg commented on #645
Closing the issue. :)

[2021-03-09 02:54] #645 closed, assigned to nobody

[2021-03-09 05:24] Mudrank opened #672 "Polls"
maybe make polls with DogeNitro

[2021-03-09 10:12] sahilmob commented on #637
I will work on SettingsIcon

[2021-03-09 12:41] nadirabbas commented on #670
I think @benawad wants to match Twitch, where the chat resets on reload/when you leave the stream.

[2021-03-09 12:43] nadirabbas commented on #635
Yeah I did this, may be I messed up somewhere, will fix it.

[2021-03-09 12:44] sahilmob commented on #637
I will work on SearchOverlay

[2021-03-09 12:44] #630 closed, assigned to nobody

[2021-03-09 12:44] ajmnz commented on #670
yep, he said that in the contributor meeting

[2021-03-09 12:45] #670 closed, assigned to nobody

[2021-03-09 12:47] nadirabbas commented on #588
This is done

[2021-03-09 12:47] #588 closed, assigned to benawad

[2021-03-09 12:48] #557 closed, assigned to nobody

[2021-03-09 12:49] #555 closed, assigned to nobody

[2021-03-09 12:52] #506 closed, assigned to nobody

[2021-03-09 12:53] #424 closed, assigned to joshrezende

[2021-03-09 12:53] #420 closed, assigned to nobody

[2021-03-09 12:53] nadirabbas commented on #415
@Yasir900aslam is this being worked on?

[2021-03-09 12:54] #344 closed, assigned to nobody

[2021-03-09 12:54] #338 closed, assigned to nobody

[2021-03-09 12:58] #286 closed

[2021-03-09 12:59] nadirabbas commented on #258
dupe

[2021-03-09 12:59] #258 closed

[2021-03-09 12:59] nadirabbas commented on #192
done

[2021-03-09 12:59] #192 closed

[2021-03-09 12:59] nadirabbas commented on #185
dupe

[2021-03-09 13:01] nadirabbas commented on #161
done

[2021-03-09 13:02] nadirabbas commented on #145
i think this is fixed

[2021-03-09 13:02] #145 closed

[2021-03-09 13:02] nadirabbas commented on #109
It works for me tho, may be this is fixed @benawad

[2021-03-09 13:03] #65 closed

[2021-03-09 13:03] #62 closed

[2021-03-09 13:04] nadirabbas commented on #60
the new design fixes this

[2021-03-09 13:04] #60 closed

[2021-03-09 13:04] nadirabbas commented on #54
I think this is how it is right now

[2021-03-09 13:04] #54 closed

[2021-03-09 13:05] nadirabbas commented on #672
dupe #39

[2021-03-09 13:05] #672 closed, assigned to nobody

[2021-03-09 13:09] #109 closed

[2021-03-09 14:49] jee1mr commented on #637
I will work on NotificationElement!

[2021-03-09 14:53] munetta commented on #670
oh.. /:

[2021-03-09 21:05] ovibutt commented on #544
Is someone working on this issue? If not how do you produce this issue?

[2021-03-10 00:20] MattLawz commented on #646
Well, it seems a lot of people are against this so I'm gonna close this issue.

[2021-03-10 00:20] #646 closed, assigned to nobody

[2021-03-10 00:35] TheRealRaeed opened #686 "More Moderation Options"
Currently there's only a option to ban a user. But I think there should be more options. For example someone can mute or delete another message if they are a moderator. This is so that people don't have to ban only. If someone is being annoying then a simple solution could be to mute them. Deleting chat messages can also help with keeping the environment clean to what moderators want.

[2021-03-10 02:10] #686 closed, assigned to nobody

[2021-03-10 03:04] andrewrobles commented on #637
I got `BaseOverlay` next

[2021-03-10 13:15] andrewroblesdev opened #690 "Add more hotkeys and create generic Keybind component"
Add the following hotkeys:
- Request-to-speak: `Control + 8`
- Invite: `Control + 7`

Create a generic `Keybind.tsx` file to use for the following files that are extremely similar to each other:
- `ChatKeybind.tsx`
- `MuteKeybind.tsx`
- `PTTKeybind.tsx`
- `RequestToSpeakKeybind.tsx`
- `InviteKeybind.tsx`

[2021-03-10 13:15] andrewroblesdev commented on #690
If this issue is approved, I would like to work on it

[2021-03-10 16:02] benawad commented on #690
btw reason I switched the default chat hotkey is it was conflicting with people copy/pasting

[2021-03-10 16:43] benawad commented on #544
@ovbutt nope, you are welcome to try fixing it. Best way to reproduce is to create a test modal with a button in it that creates a toast and see if it appears

[2021-03-10 19:41] benawad commented on #650
The db has you following `3896` users so it is a little off. I'll update that, my guess is for the 8092 the nodes got double counted.

[2021-03-10 19:41] #650 closed, assigned to nobody

[2021-03-10 19:56] #643 closed, assigned to nobody

[2021-03-10 20:00] benawad commented on #629
fixed by d1421ca8bf8bc10b0acd6e2bd23634d6e2713b32

[2021-03-10 20:00] #629 closed, assigned to nobody

[2021-03-10 20:01] benawad commented on #627
That's the way its going to be for now

[2021-03-10 20:01] #627 closed, assigned to nobody

[2021-03-10 20:01] #623 closed, assigned to nobody

[2021-03-10 20:02] #613 closed, assigned to nobody

[2021-03-10 20:03] benawad commented on #612
fixed

[2021-03-10 20:03] #612 closed, assigned to nobody

[2021-03-10 20:12] Subhom1 commented on #612
I'd love to work on the new design @React part @benawad  count me in

[2021-03-10 20:38] lenilsondc commented on #637
I'm working on `BaseOverlay`.

[2021-03-10 20:42] vi241 commented on #643
I will check, thank you

[2021-03-10 23:19] sahilmob commented on #637
SearchResult PR submitted for review. #693

[2021-03-10 23:19] sahilmob commented on #637
#693

[2021-03-11 15:03] nadirabbas opened #695 "daily dogecoin reward when people login"
There's this thing called Pi,  some new social network where you get rewarded crypto for logging in daily.
To be honest it is really boring and ugly.
But I like the idea of a reward system for pioneers using the app and think maybe adding something like that would be a good incentive for people to use DogeHouse and a way to reward early users if one day the token becomes valuable.

Pi is invite-on

[2021-03-11 17:03] DGKSK8LIFE commented on #695
How would capital be allocated for something like this though? @nadirabbas

[2021-03-11 17:07] nadirabbas commented on #695
@DGKSK8LIFE this is an investment, and you don't give me them in huge amounts. Very little amounts just to hook them up, and you get regular users in return.

[2021-03-11 17:15] DGKSK8LIFE commented on #695
Sure, but imagine as the user-base scales up, to say 5,000, 10,000, 100,000, etc.I don't think you should incentivize users with money; incentivize them with the best functionality, user experience, and new features. It results in a better user reception and is cheaper for the service provider.

[2021-03-11 18:00] ccoder1337 commented on #695
I agree with @DGKSK8LIFE.

[2021-03-11 18:41] ovibutt commented on #544
@benawad  I have tested this issue and toasts are working fine on my end please verify. I have attached a screenshot on this too.

The Steps I followed are
1) I created a test modal (covering all screen).
2) added a button to trigger toast
3) and toast was functional and I was able to close it.

![image](https://user-images.githubusercontent.com/31251140/110836537-fd020880-82c1-11eb-93df-8e12efc3d

[2021-03-11 18:57] nemanjapesic commented on #695
The Pi system actually works in a way that with more users it becomes harder to mine, so the rewards get smaller and smaller. The idea is to reward early adopters more because they were there from the beginning and helped the app by using it and having podcasts on it, interacting with the community etc.

[2021-03-11 19:03] alimkoca opened #697 "Can I pull request php code(server side maybe can python?)?"
I'm waiting your comments

[2021-03-11 19:06] nemanjapesic commented on #695
I think you got it wrong. It would be too expensive to give them dogecoin, which we would have to buy. This would work more in the terms of DogeHouse's own crypto token, like Brave browser is rewarding people with BAT for watching ads, the same way DogeHouse could reward daily users with its token, so you don't have to invest anything or bribe anyone into using it, instead just reward the users.

[2021-03-11 19:21] ajmnz opened #698 "Atomic Components Implementation v2"
<h1>Atomic Components v2</h1>

This is the follow-up for #637.

### Ready to be implemented

- [x] [Taken] RoomCard - https://www.figma.com/file/CS01VVLR7ArQl0afYFkNj3/Web-App?node-id=1355%3A831
    - Requires ScheduledTime, IconHeading & Tag ✅
- [x] [Taken] UserSummaryCard - https://www.figma.com/file/CS01VVLR7ArQl0afYFkNj3/Web-App?node-id=1356%3A771
    - Requires UserAvatar, UserBadge ✅
- [x] [

[2021-03-11 19:23] ajmnz commented on #637
Hey everyone, Atomic Components v2 implementation has started. Refer to #698 if you want to work on any of those.

[2021-03-11 19:43] nadirabbas commented on #695
@DGKSK8LIFE ofcourse we wont give me them a dime once we get more users

[2021-03-11 19:44] nadirabbas commented on #695
@DGKSK8LIFE ofcourse we wont give me them a dime once we get more users

[2021-03-11 19:51] ajmnz commented on #637
All done, thanks everyone!

[2021-03-11 19:51] #637 closed, assigned to nobody

[2021-03-11 19:51] sahilmob commented on #698
I will work on UserSummaryCard

[2021-03-11 20:01] ovibutt opened #699 "Toast appears twice"
**Describe the bug**
I logged in to the app, created a room closed the tab and restored it.
The warning toast stated "room doesn't exist anymore" appeared twice which should only appear for once.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to Doge App
2. Create a new room
3. Close the tab
4. Restore the tab by pressing ctrl+ shift + T

**Expected behavior**
The toast should only ap

[2021-03-11 20:09] lenilsondc commented on #698
I'm working on `RoomCard`

[2021-03-11 20:20] MattLawz commented on #695
I think we should do something similar but reward with in-website points. And at certain points, they can buy like DogeNitro perks, etc.

[2021-03-11 20:36] MattLawz opened #700 "When you spam refresh, your profile picture disappears"
**Describe the bug**
If your on the main page and spam refresh a couple of times, your profile disappears.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the main page
2. Spam F5 about 7-15 times
3. Error occurs

**Video of this happening:**
[Imgur Link](https://imgur.com/6qcdXB9)

**What device are you on?**
I'm on the Brave browser in Windows 10.
Brave Browser Version: `V1.21.74`

[2021-03-11 20:56] #695 closed, assigned to nobody

[2021-03-11 20:57] nadirabbas commented on #697
No, we're using Elixir for the backend.

[2021-03-11 20:57] #697 closed, assigned to nobody

[2021-03-11 23:45] MattLawz opened #702 "Code sharing ability's"
**Is your feature request related to a problem? Please describe.**
I think a code-sharing feature in DogeHouse would be very useful as a lot of us are talking about code and are trying to share code too.

**Describe the solution you'd like**
Some kind of code sending system with syntax.

[2021-03-11 23:58] overlisted commented on #698
I will do `MinimizedRoomCard` tomorrow

[2021-03-12 03:31] benawad commented on #699
I deployed the code that should fix this now.

[2021-03-12 03:31] #699 closed, assigned to nobody

[2021-03-12 05:05] MattLawz opened #705 "Link to Discord stays in English even if selected another language"
**Describe the bug**
The discord link at the bottom stays in English instead of changing to the selected language.

**To Reproduce**
Steps to reproduce the behavior:
1. Change the website language at the bottom using the dropdown
2. See the error

**Expected behavior**
The Discord text should change to the selected language.
Example:
In dutch, discord should be "_onenigheid_"

**Video Showcase / P

[2021-03-12 05:15] MattLawz opened #706 "Add a "deafen" button"
**Is your feature request related to a problem? Please describe.**
A deafen that would deafen the current tab is useful for a couple of reasons, maybe you need to listen to something real quick and can't mute your whole PC, etc.

**Describe the solution you'd like**
A deafen button next to the mute button will mute the whole tab until untoggled.

**Describe alternatives you've considered**
An alte

[2021-03-12 06:21] Mudrank commented on #702
#496 ben has already said no multiple times on this topic

[2021-03-12 06:23] MattLawz commented on #702
Ben closed that issue because there is a difference between screen sharing (video), and audio sharing. There is already a chat built into the website so it shouldn't be hard to integrate a code send built into the current chat and it won't impact the program in cost.

[2021-03-12 06:26] Mudrank opened #707 "Usernames"
When creating a new acc make users choose the username then and there instead of random strings or maybe get their username form their connected social media platform

@nadirabbas

[2021-03-12 06:29] Mudrank commented on #702
It is in the same topic sharing something on DogeHouse,
And Ben  said in the contributors meeting till a long time there will no feature of sharing something even code at any cost

[2021-03-12 06:31] MattLawz commented on #702
From what I know, Ben doesn't wanna integrate video because of the cost of the servers etc. The application _already_ has built-in chat so it won't hurt to add a feature to send code?

[2021-03-12 07:07] alimkoca commented on #697
Ok I can use elixir

[2021-03-12 07:58] sahilmob commented on #698
I will do GlobalSearch

[2021-03-12 08:02] tejasag commented on #698
I will do UpcomingRoomsCard

[2021-03-12 10:57] nadirabbas commented on #707
duplicate #420

[2021-03-12 10:57] #707 closed, assigned to nobody

[2021-03-12 12:50] andrewroblesdev commented on #698
I got `SettingsDropdown`

[2021-03-12 14:09] #690 closed, assigned to andrewrobles

[2021-03-12 14:35] tejasag commented on #698
`NotificationsDropdown` is on me!

[2021-03-12 14:57] #534 closed, assigned to nobody

[2021-03-12 15:07] DGKSK8LIFE commented on #702
@MattLawz @Mudrank What I think would be a good compromise is the ability to write formatted codeblocks in chat like so:
[code]

[2021-03-12 15:08] MattLawz commented on #702
Yes I also think this is a good idea!

[2021-03-12 15:29] samarmohan commented on #576
Isn't this about voice convos, not chats?

[2021-03-12 15:29] aayushmau5 commented on #706
Until someone implements this, you should know that you can mute a particular tab in your browser. Afaik Firefox, Chrome has this feature. :)

[2021-03-12 15:36] ghost opened #713 "IntegrateVSCode Stories with DogeHouse"
Use VScodeStories [Made by Ben awad] in DogeHouse.

Support for use of VSCode Stories for profile info instead of github profile only.

[2021-03-12 15:36] jee1mr commented on #698
I will do `MessagesDropdown`

[2021-03-12 15:40] jee1mr commented on #698
@ajmnz @andrewrobles @tejasag What are these? Are they already done?
<img width="776" alt="Screenshot 2021-03-12 at 9 08 36 PM" src="https://user-images.githubusercontent.com/6749387/110962662-35175300-8377-11eb-90d7-f558d1ed8d5f.png">

<img width="776" alt="Screenshot 2021-03-12 at 9 08 40 PM" src="https://user-images.githubusercontent.com/6749387/110962645-334d8f80-8377-11eb-848d-50eab03c9056.pn

[2021-03-12 15:40] ghost opened #714 "Support for login with Apple and Facebook"

[2021-03-12 15:42] manaskhandelwal commented on #713
VS Code Stories is sold + It too had Github login.

[2021-03-12 15:46] DGKSK8LIFE commented on #713
I think it would make more sense to build a custom story system for DogeHouse in this case; could be focused more on audio sharing. @Krishna-Ramasimha

[2021-03-12 15:48] PrinceRajRoy commented on #698
I will do `UpcomingRoomsCard`

[2021-03-12 15:50] andrewroblesdev commented on #698
@jee1mr Looks like whoever created the `BaseOverlay` component was kind enough to provide a `Settings` example. My understanding is that my task is to create the `SettingsDropdown.tsx` component and `SettingsDropdown.story.tsx` story which is  currently in progress. Does that make sense?

[2021-03-12 15:53] jee1mr commented on #698
@andrewrobles Yes, got it!

[2021-03-12 15:54] Mvrs commented on #714
If anyone isn't tackling this I would like to give it a go 😎

[2021-03-12 15:55] tomwalsh-home commented on #469
heathen.

[2021-03-12 15:55] jymaa opened #715 "Audio not working with media.peerconnection.enabled: false"
**Describe the bug**
Audio not working on Firefox with media.peerconnection.enabled: false

**To Reproduce**
Turn media.peerconnection.enabled to false on Firefox.
Join a Room :
![image](https://user-images.githubusercontent.com/61361551/110964198-3b93d380-8353-11eb-9c41-e0b56abae044.png)

**Expected behavior**
A popup to tell the user to turn media.peerconnection.enabled to true would be a nice a

[2021-03-12 15:56] TheOtterlord commented on #311
If you're talking about the client, you could use 'electron-builder' and [this](https://www.electron.build/auto-update)?

[2021-03-12 15:58] BronzW opened #717 "Client API - Future feature request"
**Is your feature request related to a problem? Please describe.**
It's not related to a problem, no.

**Describe the solution you'd like**
I thought it would be cool to be able to have a client API that acts like a discord bot in the chat that allows commands and moderation. It could also maybe listen to rooms and get notifications programmatically, would be pretty epic.

**Additional context**
J

[2021-03-12 15:59] benawad commented on #715
I'm not sure if there's anything I can do about this, I think it needs `peerconnection`

[2021-03-12 16:03] jymaa commented on #715
Yes, it's not a big deal since most users have it turn on. But if there is a way to inform the user to turn it on, it could be great.

[2021-03-12 16:05] DGKSK8LIFE commented on #469
Never. Close issue please

[2021-03-12 16:09] jee1mr commented on #698
I will do FriendsOnline as well.

[2021-03-12 16:10] ghost commented on #713
Yup. A profile which features an audio based background instead of just a profile pic

[2021-03-12 16:11] EugeneGohh opened #719 "Positioning Issue"
**Is your feature request related to a problem? Please describe.**
Fix positioning

**Describe the solution you'd like**
Fix positioning of the text below the login button and space out.

![Untitled](https://user-images.githubusercontent.com/64187129/110966247-08236a00-8390-11eb-83b1-cae47a564c82.png)

[2021-03-12 16:12] ghost commented on #714
Yeah..... .We can authenticate userprofile not only with Github but apple, google facebook also

[2021-03-12 16:16] benawad commented on #714
@Mvrs wait on this, it's a low priority right now

[2021-03-12 16:16] ghost opened #721 "Support for adding a picture as a room profile"
Add support for making a picture or an icon for each room instead of just members and the room name

It can be a logo like discord server logo or a banner like youtube channel banner

[2021-03-12 16:17] benawad opened #722 "Audio bio"

[2021-03-12 16:17] arhammusheer opened #723 "Webp image links not supported in profile"
**Describe the bug**
WebP image links not allowed when tried to use a webp image

**To Reproduce**
Steps to reproduce the behavior:
1. Edit Profile
2. Try entering a webp link
3. Save
4. See error

**Expected behavior**
Image changes

**What device are you on?**
MacBook Pro 13 - M1

[2021-03-12 16:18] ghost commented on #722
Is this for making people's bio as an audio profile or something ?

[2021-03-12 16:19] Mvrs commented on #714
@Krishna-Ramasimha so you're saying every other has been implemented except for Apple, Facebook, and Google? Correct?

[2021-03-12 16:20] benawad commented on #722
users can have the option of adding an audio bio which is a 15 seconds mp3 of you introducing yourself or something

[2021-03-12 16:23] ghost commented on #714
Like... adding support for login with these 3 and many more instead of just github and twitter cuz many might not have these accounts

[2021-03-12 16:23] ghost commented on #722
cool :]

[2021-03-12 16:25] Mvrs commented on #714
ah~~~ok

[2021-03-12 16:26] #723 closed, assigned to nobody

[2021-03-12 16:27] Mvrs commented on #698
Which one is open? 😅

[2021-03-12 16:29] jee1mr commented on #698
All taken. Wait for Feed, ProfileBlock, and Header to open up.

[2021-03-12 16:30] ghost opened #725 "Chrome Lighthouse Performance slower on Mobile devices"
Chrome Lighthouse Performance slower on Mobile devices

Desktop :-
![image](https://user-images.githubusercontent.com/73518700/110969050-3ef08480-837e-11eb-9f45-10ef46642dce.png)
Mobile :-
![image](https://user-images.githubusercontent.com/73518700/110969096-4ca60a00-837e-11eb-815d-17a5101962f3.png)

[2021-03-12 16:33] ghost commented on #725
Both the test have been made in Incognito mode

[2021-03-12 16:43] DGKSK8LIFE commented on #725
Can you try doing it without browser extensions? Ty @Krishna-Ramasimha

[2021-03-12 16:44] DGKSK8LIFE commented on #714
Yeah maybe try limiting/streamlining Oauth services you allow. It could become a security liability in the future if you are supporting oauth authentication/integration through 5 services at once.

[2021-03-12 16:48] Mvrs commented on #714
@DGKSK8LIFE yeah, I agree. I also believe the design would change as well so that would require the login component to have a new design. Which would require a new Storybook component.

[2021-03-12 17:02] yvesnrb commented on #698
Can I preemptively claim Feed? It seems like RoomCard will be merged soon.

[2021-03-12 17:14] rinilkunhiraman opened #738 "The last row of listeners are not visible"
**Describe the bug**
A clear and concise description of what the bug is.
Cannot see the last row of attendees

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a room
2. In the listeners sections
3. Scroll down to bottom
4. The last row of listeners are not visible

**Expected behavior**
A little padding at the bottom so that the last row is clearly visible

**Screenshots**
If applicable

[2021-03-12 17:26] shareef99 commented on #725
@DGKSK8LIFE I turn off all the extension and tested in incognito mode. I got these results.

Desktop:-
![DESKTOP](https://user-images.githubusercontent.com/49097809/110975595-f341d900-8385-11eb-8184-bbe2fc365c98.png)

Mobile:-
![Mobile](https://user-images.githubusercontent.com/49097809/110975699-15d3f200-8386-11eb-98a4-f19f55d98410.png)

[2021-03-12 17:41] 1kvsn commented on #705
Fix submitted as suggested in 'Expected Behavior'.

[2021-03-12 17:44] DGKSK8LIFE commented on #725
I wonder what's affecting performance. I understand accessibility for now but not sure about client-side performance problems. @shareef99

[2021-03-12 17:44] DGKSK8LIFE commented on #725
Maybe this is due to tailwind? (IIRC dogehouse migrated to using tailwind classes, right)

[2021-03-12 17:59] 1kvsn commented on #705
Now, I think I might have jumped the gun on this. I apologise.

[2021-03-12 18:01] MattLawz commented on #705
All fine, I decided to also get into some code contribution so I did the translations myself and then pushed a PR. Just waiting for it to be merged,

[2021-03-12 18:05] ccoder1337 commented on #738
Yes

[2021-03-12 18:07] itsjeremyrivera commented on #698
Can I get started on the header Component?

[2021-03-12 18:07] shareef99 commented on #725
IDK, maybe but I think this is not the tailwind issue

[2021-03-12 18:11] itsjeremyrivera commented on #698
Or any next one that will be open?

[2021-03-12 18:11] ccoder1337 opened #750 "Language tags for chatrooms"
I think this would be a useful addition to dogehouse, if you could set a language for your chatroom. It should be displayed in the room card on the front page, so you know what the preferred language is before you enter it.

[2021-03-12 18:15] Redseb opened #751 "Polish Language Support"
**Is your feature request related to a problem? Please describe.**
There is no Polish translation available

**Describe the solution you'd like**
To add Polish to the list of supported translations, as a native Polish speaker I can single-handily do this.

[2021-03-12 18:22] YazeedAlKhalaf opened #752 "💡 Arabic language support"
Arabic language support, I can do the translation as a native Arabic speaker. Not weird Google Translate one 😂

[2021-03-12 18:25] ajmnz commented on #698
Yep, the one that did `BaseOverlay` also added what it'd look like with every variant. But that's just the story, the component needs to be implemented.

[2021-03-12 18:26] ajmnz commented on #698
Yep, the one that did `BaseOverlay` also added what it'd look like with every variant. But that's just the story, the component needs to be implemented.

[2021-03-12 18:28] YazeedAlKhalaf commented on #752
I will be making a PR to close this issue 😎

[2021-03-12 18:30] moamlrh opened #753 "Create Room or Comments or Account without anytext just blank space"
**Describe the bug**
create a room by using this special blank text "‎ ‎‎ ‎‎ ‎‎ ‎‎ ‎"‎  you can find this space on this site https://emptycharacter.com/

**To Reproduce**
Steps to reproduce the behavior:
1. Click create new room | or in the comment section
2. got to this website and copy the blank text: https://emptycharacter.com/
3. will be created without any errors

* check the image to see the

[2021-03-12 18:31] piotrbadelek commented on #751
Doesn't the Polish language support already exist? (https://github.com/benawad/dogehouse/blob/staging/kofta/public/locales/pl/translation.json)

[2021-03-12 18:39] moamlrh commented on #753
And at the same time created user without a name or desc
![image](https://user-images.githubusercontent.com/63509020/110983391-bf14eb00-837a-11eb-8d5a-e1350815342e.png)

[2021-03-12 18:40] Redseb commented on #751
You're right, it was such a recent change that I must've not seen it. Closing this issue

[2021-03-12 18:40] #751 closed, assigned to nobody

[2021-03-12 18:41] DeVogelRyan opened #755 "@ajmnz question about design"
I would like to contribute to this project with maybe some design icons. so my question is what icons do you guys need? Like arrows for next/previous page or maybe buttons... thx in advance.

Regards Ryan

[2021-03-12 18:45] yvesnrb commented on #698
Working on Feed now. RoomCard just got merged.

[2021-03-12 19:04] youngchief-btw commented on #750
This would be a great idea!

[2021-03-12 19:16] Yawanseh commented on #698
@ajmnz is there anything open here?
I guess it should be moved to the `someone is working on it` column

[2021-03-12 19:19] manaskhandelwal opened #758 "Confirm interaction popup out of alignment in FireFox"
#### **Describe the bug**
When we open a dogehouse room directly with a URL in Firefox, the popup to confirm an interaction is out of alignment.
<br />
#### **Expected behavior**
![image](https://user-images.githubusercontent.com/53651226/110987694-79b1e700-8395-11eb-9a64-0230e7855e66.png)
<br />
#### **Screenshots**
![mozBub2](https://user-images.githubusercontent.com/53651226/110987713-80405e80-

[2021-03-12 19:21] VictorUvarov opened #759 "Chat does not automatically scroll to show the latest message"
**Describe the bug**
Chat does not automatically scroll to show the latest message

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any room
2. look at chat when there are a lot of messages
3. See error

**Expected behavior**
Twitch will always show the latest message in the chat if you did not scroll up

**Screenshots**
![Screen Shot 2021-03-12 at 11 18 06 AM](https://user-images.githu

[2021-03-12 19:23] ccoder1337 commented on #758
Can confirm this

[2021-03-12 19:23] ajmnz commented on #755
Send a message in #design in our [Discord](https://discord.gg/82HzQCJCDg), but I don't think help is needed at the moment.

[2021-03-12 19:23] #755 closed, assigned to nobody

[2021-03-12 19:27] ajmnz commented on #698
`ProfileBlock`is yet to be claimed.

[2021-03-12 19:28] ice-rahul commented on #698
I will do `ProfileBlock`

[2021-03-12 19:29] ajmnz commented on #698
I assumed you claimed it, but you'll have to wait until `GlobalSearch` is merged.

[2021-03-12 19:30] KelanuRanganath opened #762 "Listeners partially hidden"
**Describe the bug**
The bottom row of listeners is hidden by the audio controls.

**To Reproduce**
Steps to reproduce the behavior:
1. Join an audio room.
2. Scroll down.
3. Use your eyeballs to see the issue.

**Expected behavior**
The bottom row should be fully displayed with padding.

**Screenshots**
![image](https://user-images.githubusercontent.com/48897836/110988700-be059e80-8325-11eb-8fe0-

[2021-03-12 19:30] Brandin opened #763 "Adjustment to interaction modal"
**Is your feature request related to a problem? Please describe.**
The interaction modal is verbose and could be much more basic.

**Describe the solution you'd like**
On the initial interaction, I recommend modifying the message to say "Connect to Room" and remove the extra verbose text, you could even place this inline near the top above Speakers, and remove it once you are connected. When conne

[2021-03-12 19:43] ajmnz commented on #698
@JeremyRivera `GlobalSearch` has been merged, you can start on `Header` if you wish

[2021-03-12 19:57] shareef99 commented on #725
I have fixed this issue, kindly review my pull request #765.
Thank you

[2021-03-12 20:41] l3gacyb3ta commented on #758
I have replicated the bug on Windows 10 Pro 20H2, Firefox 86.0.1.

[2021-03-12 20:43] taynotfound opened #769 "The Language switcher doesnt show the current language if new to the Site and its already auto detected an other lang"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Have your Browser in a Other Language than English
2. Go to dogehouse for the first time

**Expected behavior**
Language Switcher shows current Language

**Screenshots**
https://i.imgur.com/QWtVs86.png

**What device are you on?**
PC | Windows 10 with Opera GX

**Additiona

[2021-03-12 20:48] ghost opened #771 "I suggest adding a function"
I propose to add a function like in twitter so that users can write something on their page

[2021-03-12 20:58] SimonFJ20 commented on #738
I have the same problem on a 1920x1080 Firefox on a Deskop Windows 10

[2021-03-12 21:06] DGKSK8LIFE commented on #771
Sorry? Can you elaborate please? @twepl

[2021-03-12 21:08] ghost commented on #771
@DGKSK8LIFE  I mean to be able to write a message on my profile as a tweet

[2021-03-12 21:09] DGKSK8LIFE commented on #771
Ah as in a profile description or something like that? Cool

[2021-03-12 21:14] almandoro commented on #619
@benawad What do you think about small flag icon next to the language code?
I'd do that. Pretty simple task for the first contribution.

[2021-03-12 21:17] ghost commented on #771
just copy the twitter page to my profile section
https://twitter.com/twitter

[2021-03-12 21:19] zohnannor opened #774 "String should be in locale translation.json"
**Describe the bug**
[this string](https://github.com/benawad/dogehouse/blob/new-design/kofta/src/app/components/keyboard-shortcuts/ChatKeybind.tsx#L40) (and also [this](https://github.com/benawad/dogehouse/blob/new-design/kofta/src/app/components/keyboard-shortcuts/ChatKeybind.tsx#L37)) should be in locales/LANG/translation.json so it can be translated to other langs.

**To Reproduce**
Steps to r

[2021-03-12 21:19] younesaassila opened #775 "Button labels should not be capitalized using CSS"
**Describe the bug**

Currently, all button labels are capitalized by using the `text-transform` CSS property with a value of `capitalize`. This property automatically converts text to Title Case. However, while Title Case is valid in English, it isn't necessarily in other languages.

For example, `Create Room` is valid in English but `Créer Une Salle` is not in French as it should instead be `Cré

[2021-03-12 21:31] zohnannor commented on #774
Also there is a lot of toast messages that are not localized.

[2021-03-12 21:46] zohnannor opened #780 "PromptModal appears behind the ProfileModal"
**To Reproduce**
Steps to reproduce the behavior (Example):
1. Go to your room
2. Click on any user
3. Click "Block User"
4. PromptModal appears behind the ProfileModal

**Expected behavior**
Appears on top of ProfileModal

**Gif**
![bandicam_2021-03-13_00-43-42-117](https://user-images.githubusercontent.com/35764628/111001786-761e6000-8395-11eb-9abe-f8abe3dc6c59.gif)

[2021-03-12 22:04] goldyydev commented on #752
What about RTL support? do we have that implemented already?

[2021-03-12 22:06] YazeedAlKhalaf commented on #752
I believe not but we can work on it, 🚀. So now translation PR is ready. We could do the RTL if. It supported

[2021-03-12 22:13] goldyydev commented on #752
Maybe it will be worth it to implement in kibbeh and leave this like that?

I've looked at the code and it appears like it needs a lot of work for a proper RTL support *(aka. changing some components to start from the right)*. There are some components where it will be very easy to change to RTL though.

[2021-03-12 22:17] YazeedAlKhalaf commented on #752
Idk, it is so late at my place so I will see tomorrow and reply 👍

[2021-03-12 22:17] anuraagbarde commented on #759
@nadirabbas

It is a known bug?

I have the same problem.

[2021-03-12 22:19] nadirabbas commented on #759
its a known bug

[2021-03-12 22:24] anuraagbarde commented on #404
Please do so, even a small diagram describing the data flow of a few set of modules will save a lot of time for both the future contributors and the future self of the writer themselves.

[2021-03-12 22:33] ernestoittig commented on #705
Isn't this expected behavior? Discord is a brand name, they don't translate it on their own website.

[2021-03-12 23:06] DGKSK8LIFE commented on #705
Yes, exactly.

[2021-03-12 23:07] #705 closed, assigned to nobody

[2021-03-12 23:20] aboveyunhai opened #789 "A secondary modal/popup to confirm entering/leaving a room."
**Is your feature request related to a problem? Please describe.**
The current problem with the simple interface is that when you click a room, you immediately enter without notice. This can be quite "unpleasant" and "scared" for new users because you are not longer "invisible" like traditional social app.
A simple confirm modal can ease out a lot of accidentally enter/leave, mis-click issue.
Same

[2021-03-13 00:14] michaelslain opened #795 "Update logo in README.md"

[2021-03-13 00:18] BenNeighbour commented on #531
What bug is this causing - like what does this mean for the user if the WebSocket connection times out?

[2021-03-13 00:19] BenNeighbour commented on #531
Does it disconnect them from the chat or room or just hang?

[2021-03-13 00:20] benawad commented on #531
this is fixed forgot to close, this is when initially establishing the connection on slow internets

[2021-03-13 00:20] #531 closed, assigned to nobody

[2021-03-13 00:34] ajmnz commented on #795
That will come when the redesign hits.

[2021-03-13 00:40] benawad commented on #619
@almandoro sure

[2021-03-13 00:47] SuperSonicHub1 commented on #619
@almandoro Darn, beat me to the issue.

I already made the edit necessary, so I guess you should have it (it's in JSON though):
[code]

[2021-03-13 00:52] l3gacyb3ta commented on #758
I have done some further investigations, and it seems that the issue is only with the Gecko rendering engine, as all the chromium-based browsers I have tested (Chrome, and Brave) do not seem to have this issue.

[2021-03-13 01:01] #426 closed, assigned to nobody

[2021-03-13 01:03] benawad opened #797 "Should we call DogeNitro, DogeNitro or does anyone have a better name idea?"

[2021-03-13 01:13] JammSpread commented on #797
Instead of using the whole nitro part, how about a name like Doger?

[2021-03-13 01:15] DogWhich commented on #797
Hypedoge / Hyperdoge has a nice ring to it.

[2021-03-13 01:16] ernestoittig commented on #705
Reminder that #742 that "fixed" this issue got merged

[2021-03-13 01:16] SuperSonicHub1 commented on #797
I think DogeNitro is just fine; since the name is inspired by Discord Nitro, it immediately conveys that DN is a subscription service that gives you power-user features.

[2021-03-13 01:23] ajmnz commented on #797
DogeTurbo 💨

[2021-03-13 01:24] MattLawz commented on #797
I brainstormed some possible names:

- Doge Drinks
- Doge Premium
- Doge Lover
- Doge DJ
- Doge Dajavu
- Doge Circle
- Doge Tails
- Dope Doge
- Do The Doge
- Doge Aid
- Doge Drop
- Doge Supercharge
- Doge Super
- Doge Supporter
- Doge Hype

[2021-03-13 01:52] ppozniak commented on #797
Doge B O R K D R I V E
![image](https://user-images.githubusercontent.com/13921243/111015022-a5859a80-839e-11eb-8f35-ad46d904b41a.png)

[2021-03-13 01:55] overlisted commented on #698
Is the next step going to be the big layout itself? Who's going to do it?

[2021-03-13 01:56] overlisted commented on #575
please make it for flatpak

[2021-03-13 01:58] h1divp opened #801 "Sizeable textarea in chat"
It's annoying to see my text scroll when typing paragraphs in a one-line tall textarea in the chat.

It would be nicer if this scaled to different monitor sizes, or if this could be resized by the user.

![image](https://user-images.githubusercontent.com/71522316/111015144-5d9e4d80-8375-11eb-8d72-0e6195dd296c.png)

[2021-03-13 01:58] HysMX opened #802 "Use Crowdin to manage translations"
It would be better and faster if we use crowdin to handle localization, so when you guys add a new key you don’t need to update each language JSON

[2021-03-13 02:00] flyingonionman commented on #801
I don't think user resizing would be a good design decision (too small and too restrictive ), maybe use twitch's design and make it multiple lines? ( with smaller fonts )

[2021-03-13 02:02] ajmnz commented on #698
Maybe we'll wait until tablet & phone mockups are done, I'm not sure

[2021-03-13 02:04] flyingonionman commented on #797
DogeBoost

[2021-03-13 02:15] SuperSonicHub1 commented on #552
What's wrong with [`<input type="date">`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date) and [`<input type="time">`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time)? In a perfect world, all browsers would support [`<input type="datetime-local">`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local), but Firefox currently doesn

[2021-03-13 02:16] TheRealRaeed opened #805 "Automatic Translations"
Hello! I feel like a automatic translation system is a better idea than the current system. Because for each new translation, we have to add that each time we make a new UI element. If we have automatic translations using translate api for unspecified key value pairs this can be solved.

[2021-03-13 02:20] SuperSonicHub1 commented on #104
![Screenshot](https://user-images.githubusercontent.com/25624882/111015823-a86d9480-8378-11eb-9136-c69c227f9dcb.png)
@DeanHuffnagle Seems that this issue has already been resolved. Consider closing it.

[2021-03-13 02:29] SuperSonicHub1 commented on #233
@naefun Could you share the CSS you used? It's hard to see in your screenshots.

[2021-03-13 02:32] ghost commented on #797
DogeFuel ?

[2021-03-13 02:37] ghost opened #808 "Add support for Meeting Code and Password for Rooms or even an Enhanced search button ????"
Add support for Meeting Code and Password for Rooms :-

We can introduce support for adding Meeting code and Password for joining the rooms.

You may ask why ???
Answer : When DogeHouse starts growing on a large scale basis, it will be easier for people to join room through a meeting id and a passcode instead of manually searching for the room.

The meeting id can consist of [Doge] followed by the

[2021-03-13 02:40] ghost commented on #771
we can maybe use an audio profile ??

[2021-03-13 02:47] ghost commented on #797
![image](https://user-images.githubusercontent.com/73518700/111016528-80ac1a00-83d4-11eb-9d3b-78e3b1eb4b1b.png)
Plz dont mind the editing lol

[2021-03-13 02:51] ghost opened #809 "Right Click for editing profile dosent work on mac ; Right click is enabled and it works on other websites tho"
![image](https://user-images.githubusercontent.com/73518700/111016644-219ad500-83d5-11eb-8026-4e445ba19d2d.png)

[2021-03-13 02:55] dawksh commented on #797
doge treats

[2021-03-13 03:13] benawad commented on #809
I don't understand, the screenshot looks like it works

[2021-03-13 03:40] SuperSonicHub1 commented on #233
![Screenshot](https://user-images.githubusercontent.com/25624882/111017565-5e89ac00-8382-11eb-85c8-aa5f0393cec1.png)
@naefun I was able to replicate your work! I changed the `gap` from `18px` to `1rem` so that the icons were more evenly spaced out. To make sure that the buttons are vertically aligned when stacked on top of one another, I removed the margin from the `<div>`s wrapping around the but

[2021-03-13 04:17] mohammedgad opened #810 "Links inserted into bio aren't parsed correctly."
**Describe the bug**
Links inserted into bio aren't parsed correctly check the screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dogehouse.tv/me
2. Click on Edit Profile
3. Enter two or three links in separate lines
4. Submit
5. Check your profile links now, all the links are combined into one link

**Expected behavior**
Links should be parsed separately and each link

[2021-03-13 04:24] ryandils opened #811 "Put Dogehouse in a Docker container and run it on K8's"
**Is your feature request related to a problem? Please describe.**
In order for Dogehouse to scale to the moon we need an easy way to make it scale.

**Describe the solution you'd like**
I'd like to containerize the application and all of its dependencies in Docker so that we can eventually run it on Kubernetes. This will allow us to handle a large amount of load and make it easy to scale as the a

[2021-03-13 04:31] mohammedgad commented on #810
cc: @nadirabbas

[2021-03-13 05:09] manaskhandelwal opened #814 "Remove this [emotes soon] from chat"
Should we remove this `[emotes soon]` from all translation JSON file?

Either we remove it from [RoomChat.tsx](https://github.com/benawad/dogehouse/blob/3e641894403598b6ecbc02410e4e66769c324579/kofta/src/app/modules/room-chat/RoomChat.tsx) or we make it `""` in JSON file, it might be useful for added some other feature/tip/note, Like `Beta`, `Alpha v2.3`, `Voice Bio` etc.

![Screenshot 2021-03-13

[2021-03-13 05:14] ghost commented on #809
My bad

[2021-03-13 05:14] #809 closed, assigned to nobody

[2021-03-13 05:15] ghost opened #815 "Support for "Switch user" button in User settings"

[2021-03-13 05:18] ghost commented on #808
No one commenting on this ?

[2021-03-13 05:58] manaskhandelwal opened #819 "Make Language Input more accessible"
##### **Is your feature request related to a problem? Please describe.**
The `language input` is not good from an accessibility point of view. As more and more people are supporting the number of languages will increase. With the new design, we will not get a place to put it on the [home page](https://www.figma.com/file/CS01VVLR7ArQl0afYFkNj3/Web-App?node-id=40%3A340). So I believe we will have so

[2021-03-13 06:11] michaelphipps commented on #552
@SuperSonicHub1 those fields don't render well in Chrome on my Android device.  They're ok in Firefox.

[2021-03-13 06:28] SuperSonicHub1 commented on #552
@michaelphipps Really? On Android, `<input type="date">` should use Android's native date picker. It works just fine for me on my Pixel 3a in both Firefox and Chrome in Android 11; what version of Android and Chrome are you using?

I think that HTML5 inputs are the way to go so that choosing a date feels as native as possible, especially when dealing with mobile users. Plus, I  think it would be i

[2021-03-13 06:46] #104 closed

[2021-03-13 06:47] DeanHuffnagle commented on #104
I didn't know it was up to me to close the issue. I am new to github, My apologies.

[2021-03-13 07:23] saranonearth commented on #226
@benawad can I work on this? 🍭

[2021-03-13 07:35] yummyweb commented on #797
We should call DogeNitro, Bark. Like 50 barks.

[2021-03-13 07:36] michaelphipps commented on #552
@SuperSonicHub1  The date input in Chrome renders like an empty drop down box for me.  Without a label it isn't clear what it is for.  When you click on it, the native widget appears as you would expect.

Chrome version 89.0.4389.86
Galaxy S10e SM-G970F
Android 11 Build RP1A.200720.012.G970FXXS9EUB1

In firefox on the same device, the date input renders like a drop down box that has "dd / mm / yyy

[2021-03-13 07:40] ghost commented on #771
@Krishna-Ramasimha  no

[2021-03-13 08:39] #780 closed, assigned to nobody

[2021-03-13 09:08] pratikmane1299 opened #824 "Not able to start storybook"
I am getting the below error when I do npm run storybook.

![Error-Image](https://user-images.githubusercontent.com/30666584/111025339-81ab6e80-8409-11eb-8c53-80c91e471b95.png)

[2021-03-13 09:54] Mudrank commented on #797
DogePremium
DogePlatinum
DogeNitro

[2021-03-13 09:56] Mudrank commented on #713
#616

[2021-03-13 09:59] Mudrank opened #830 "Check and make a new issue"
recently many new duplicates issues are been maybe to stop this add a note in the main readme for this?

[2021-03-13 10:02] ianjwhite99 commented on #226
@benawad I was going to address this but the issue looks to have been potentially resolved. I attempted to recreate this by removing my GitHub display name and then signing up for an account but I was greeted by the username "Novice Doge". I joined a few different chat rooms and my display name was appearing as "Novice" every time. The only PR that I see however is #568 but that was to address the

[2021-03-13 10:36] nadirabbas commented on #810
yeah currently, the tokens are created by splitting by space, not by a line break

[2021-03-13 10:38] ankan1811 opened #834 "Update logo"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-13 10:45] almandoro commented on #619
@SuperSonicHub1 no worries 😁

[2021-03-13 10:50] CodingBitsDev opened #835 "Error when loading a room"
**Describe the bug**
Site breakes when I open a room

**To Reproduce**
Steps to reproduce the behavior:
1. Use Firefox
2. Open a room
3. Site shows room and then nothing
4. Error Code Below
5. Audio still seems to play

**Expected behavior**
Site should at least show something

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What device are you on?**
Windows 10
Fire

[2021-03-13 10:51] xiuxiu62 commented on #810
Just wrote a parser to fix this

[2021-03-13 11:21] ajmnz commented on #834
#795

[2021-03-13 11:21] #834 closed, assigned to nobody

[2021-03-13 11:22] #795 closed, assigned to nobody

[2021-03-13 11:25] ajmnz commented on #811
Check out https://github.com/benawad/dogehouse/pull/563

[2021-03-13 12:07] kprocks86 commented on #824
can you share the node and **npm** versions, this might be useful. so i can check in the same environment and reproduce the bug.

[2021-03-13 12:18] nadirabbas commented on #810
@justincremer I suggested some changes on your commit.

[2021-03-13 12:19] andreuraich commented on #797
SteroiDoge

[2021-03-13 12:20] kprocks86 commented on #698
@ajmnz can you reconfirm with everyone who has claimed the components, that they are still working on it. or else few more people in line can start.

[2021-03-13 12:53] saumya66 commented on #386
Ya that's a good move !

[2021-03-13 12:53] nadirabbas commented on #810
@justincremer this has been fixed #839

[2021-03-13 12:53] #810 closed, assigned to nobody

[2021-03-13 13:06] YazeedAlKhalaf commented on #752
Hello

[2021-03-13 13:12] nadirabbas commented on #835
can't reproduce

[2021-03-13 13:12] dandanthedev opened #842 "A native login option, not just oauth"
https://auth0.com

[2021-03-13 13:13] nadirabbas commented on #830
I think people know about not making duplicate issues, they just don't know if a similar issue exists. that's when a maintainer is supposed to close the issue.

[2021-03-13 13:14] nadirabbas commented on #824
you may have to upgrade your `node` version: https://stackoverflow.com/questions/64907613/typeerror-object-entries-flatmap-is-not-a-function/64909657

[2021-03-13 13:14] Mudrank commented on #830
Like something to stop this maybe make this pinned in the issue  section?

[2021-03-13 13:15] nadirabbas commented on #811
As @ajmnz I think this is already being worked on

[2021-03-13 13:17] #752 closed, assigned to nobody

[2021-03-13 14:04] nadirabbas commented on #842
doesn't that make it easy to make fake accounts? 🤔

[2021-03-13 14:07] ajmnz commented on #698
Everything is taken

[2021-03-13 14:08] nadirabbas opened #847 "Error on homepage (undeployed)"
getting the following error on latest undeployed changes in `staging`

![image](https://user-images.githubusercontent.com/38838675/111032734-808d3800-842f-11eb-8063-043981f050d3.png)

[2021-03-13 14:14] laforetcan opened #848 "Error get_top_public_rooms | function UserBlock.__schema__/1 is undefined (module UserBlock is not available)"
**Describe the bug**
Staging branch

**To Reproduce**
Steps to reproduce the behavior:
1. Pull staging branch lunch locally your Kofta and Kousa servers
2. Login with github or other
3. On the home you will recieve the ws error
4. See error
[code]

**Expected behavior**
get_top_public_rooms should work properly

[2021-03-13 14:16] laforetcan commented on #847
I created a more detailed issue #848

I'm working on trying to fix it

[2021-03-13 14:21] manaskhandelwal commented on #814
@nadirabbas what to do with this one?

[2021-03-13 14:21] nadirabbas commented on #847
close in favor of #848

[2021-03-13 14:21] #847 closed, assigned to nobody

[2021-03-13 14:21] #824 closed, assigned to nobody

[2021-03-13 14:22] nadirabbas commented on #814
the custom emotes are not here currently, so we need this text.

[2021-03-13 14:22] #814 closed, assigned to nobody

[2021-03-13 14:24] yummyweb opened #850 "Unmodding in DogeHouse room does not work."
**Describe the bug**
Unmodding in DogeHouse does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a room.
2. Make anyone a mod.
3. After that, click on their profile and unmod them.
4. See error.

**Expected behavior**
The user will be unmodded.

**What device are you on?**
I am on Macos X 10.14 Mojave.

[2021-03-13 14:29] laforetcan commented on #848
#851  Here is the PR for this issue. It was just an import issue.

[2021-03-13 14:32] dk-raw opened #852 "Greek Translation"
**I am willing to translate DogeHouse to Greek. I would like to have more info on how to do that.**

[2021-03-13 14:33] #848 closed, assigned to nobody

[2021-03-13 14:46] #811 closed, assigned to nobody

[2021-03-13 14:48] marwie commented on #769
![image](https://user-images.githubusercontent.com/5083203/111033869-8412c600-8413-11eb-9c9f-884c000d835a.png)

[2021-03-13 14:49] prokopschield commented on #852
1. fork the repo
2. switch to staging branch
3. go to kofta/public/locales
4. copy "en" to "gr"
5. edit .json file in gr/
6. submit pull request

[2021-03-13 14:59] nadirabbas commented on #850
fixed in #856

[2021-03-13 14:59] #850 closed, assigned to nobody

[2021-03-13 14:59] nadirabbas commented on #527
fixed in #856

[2021-03-13 14:59] #527 closed, assigned to nobody

[2021-03-13 15:02] shreyas44 opened #857 "Meta description doesn't show up on Google"
The meta description that's used in `index.html` doesn't show up on Google.

**Google:**
![Screen Shot 2021-03-13 at 8 23 22 PM](https://user-images.githubusercontent.com/46835608/111034068-f4344280-8439-11eb-9ae6-c3b97ff34953.png)

**Bing:**
![Screen Shot 2021-03-13 at 8 24 00 PM](https://user-images.githubusercontent.com/46835608/111034093-0ca45d00-843a-11eb-8d30-3886298e9d34.png)

**DuckDuckGo:

[2021-03-13 15:04] lennertcl opened #858 "Dutch translation"
I am willing to translate to Dutch. I am creating this issue to make sure nobody is doing this already so no double work is being done.

[2021-03-13 15:05] andrewrobles commented on #87
Is this still an issue? Tried recreating the bug and it looks like it may have already been taken care of (see screenshot)
<img width="376" alt="Screen Shot 2021-03-13 at 7 03 46 AM" src="https://user-images.githubusercontent.com/70864612/111034404-548b9b80-83ca-11eb-8b5d-e54622e0ac1b.png">

[2021-03-13 15:08] lennertcl commented on #858
Closing because Dutch translation is already staged.

[2021-03-13 15:08] #858 closed, assigned to nobody

[2021-03-13 15:13] SuperSonicHub1 commented on #104
@DeanHuffnagle No problem.

[2021-03-13 15:18] SuperSonicHub1 commented on #552
@michaelphipps What a nasty bug. If you have the time to report it, bring it to the attention of the Chromium team: https://bugs.chromium.org/p/chromium/issues/list

But yeah, HTML5 inputs are the way to go.

[2021-03-13 15:23] praveenperera opened #861 "Upgrade to Elixir 1.11 and use multistage Dockerfile"
Plan

- Upgrade to Elixir 1.11
- Create multistage docker file for quicker releases
   - Use[ hexpm elixir images](https://hub.docker.com/r/hexpm/elixir) which are more explicit on the Erlang, Alpine and Elixir versions used. Also they are locked to those versions to prevent breaking deploys in the future.

@benawad if you are good with this plan assign this to me and I will do it either today or

[2021-03-13 15:42] DGKSK8LIFE commented on #771
@twepl @Krishna-Ramasimha I like the idea of that. You could use bucket storage for audio profiles. Maybe it could be a DogeNitro feature later on or something like that.

[2021-03-13 16:16] nadirabbas commented on #852
Greek has been added #744

[2021-03-13 16:16] #852 closed, assigned to nobody

[2021-03-13 16:18] nadirabbas opened #865 "Please only use staging branch for changes other than kibbeh folder"

[2021-03-13 16:18] #865 closed, assigned to nobody

[2021-03-13 16:19] nadirabbas commented on #805
automatic translations sometimes are ridiculously incorrect

[2021-03-13 16:20] nadirabbas commented on #801
we can change it into an un-resizeable `textarea` with one row. and then `pre-wrap` in chat list to retain indentation.

[2021-03-13 16:21] nadirabbas commented on #815
what does this mean?

[2021-03-13 16:30] nadirabbas opened #868 "rendering timestamp tooltip per message is laggy"
Currently, we render the timestamp tooltip per message (we have to otherwise tooltip only appears for the first message). But this is making the chat laggy on mobile devices.

[2021-03-13 17:04] b31ngd3v opened #872 "@benawad Hey can I add a new language ?"
@benawad I'm a native bengali speaker so I want to add that language to dogehouse. So just asking for your permission, if you say yes I would love to contribute to this project. Thank you :)

[2021-03-13 17:06] nadirabbas commented on #872
Bengali has been added #860

[2021-03-13 17:09] b31ngD3v commented on #872
@nadirabbas  what about hindi ?

[2021-03-13 17:09] goldyydev commented on #614
Maybe we can resolve this by patching Gravatar into dogehouse?

[2021-03-13 17:10] nadirabbas commented on #872
Hindi is also added #691

[2021-03-13 17:10] #872 closed, assigned to nobody

[2021-03-13 17:22] Lunchb0ne commented on #552
Yeah, this kinda allows it to have "device-specific" date pickers. But some android skins like OneUI skin that too, which causes that usability issue.

[2021-03-13 17:22] MananDesai54 opened #873 "notification or sound on new message in chat room"
**Is your feature request related to a problem? Please describe.**
I closed chat section in chat room and minimized window but I asked one question in chat section, now when some one one answer to me in chat section by tagging me I should get notified if chrome is in background, also play sound when ever there is activity in chat room like discord and option to choose weather to notify every time

[2021-03-13 17:28] ghost commented on #815
If you have 2 GitHub accounts and want to switch to one more, instead of logging out and logging in and then authenticating, we can add a switch user button where the user can switch accounts seamlessly

[2021-03-13 17:29] ghost commented on #815
Might be helpful for users who have a work and a personal account and wants to switch between it ......

[2021-03-13 17:30] ghost commented on #771
yup

[2021-03-13 17:59] TheRealRaeed commented on #805
Although true, we could correct those as well and it is definitely better than having to individually go back and repeatedly change every translation. It also depends on which API you are using.

[2021-03-13 18:03] ityonemo commented on #539
will be considered finished when the context is completely replaced by using preloads.
- [ ] Users.followers_online_and_not_in_a_room (s/get_followers_online_and_not_in_a_room)
- [ ] bulk_insert --> where does this go?
- [ ] Users.following_me? (s/following_me?)
- [ ] Users.following_online (s/fetch_following_online)
- [ ] Users.invite_list (s/fetch_invite_list)
- [ ] Users.followers (s/get_follow

[2021-03-13 18:05] ityonemo commented on #538
will be considered finished when the context is completely replaced by using preloads.

- [ ] unban -> Rooms.unban
- [ ] blocked? -> Rooms.blocked?
- [ ] get_blocked_users -> Rooms.get_blocked_users
- [ ] insert -> Rooms.block

[2021-03-13 18:09] ityonemo commented on #536
basic level by @arthurysong :tada: in https://github.com/benawad/dogehouse/pull/694

[2021-03-13 18:09] #536 closed, assigned to nobody

[2021-03-13 18:12] ityonemo commented on #535
Considered finished when the system uses preloads and:

- [ ] blocked? -> Users.blocked?
- [ ] insert -> Users.block

[2021-03-13 18:32] slendidev opened #882 "Chat could be a simple IRC server"
**Is your feature request related to a problem? Please describe.**
I think having this as a simple IRC server also allows easy bot development in the future.

**Describe the solution you'd like**
Make an IRC server

**Describe alternatives you've considered**
Something like WebSockets is not that reliable for bots in my experience with another platform.

**Additional context**
I got this idea from

[2021-03-13 18:52] ityonemo opened #884 "Kousa: block merge to staging if CI tests don't pass"
code in staging might not pass tests; proposal is to use at least a minimal github actions that will run unit tests on the elixir code and prompt the IC to fix them before merging.

[2021-03-13 19:13] benawad commented on #861
that would be great!

[2021-03-13 19:13] ityonemo opened #888 "Kousa: Deploy: is Kousa.Release neecessary?"
Is there some reason why the normal Ecto migration mix tasks can't be used instead?

[2021-03-13 19:13] ityonemo commented on #888
@benawad

[2021-03-13 19:14] benawad commented on #868
probably just take it out for now, timestamp isn't that important and we can add it to the modal later

[2021-03-13 19:23] ityonemo opened #890 "Kousa: refactor Onion.RoomSession to use MapSets for muteMap or inviteMap"
these are optimized hashmaps that are more space efficient than ad-hoc boolean | nil system used currently.

[2021-03-13 19:23] benawad commented on #698
@PrinceRajRoy are you still working on `UpcomingRoomsCard`?

[2021-03-13 19:26] benawad commented on #698
@JeremyRivera are you working on `Header`?

[2021-03-13 19:30] ityonemo opened #893 "Kousa: create a :staging application environment"
refactor use of kousa `:env` application variable to instead be compile-time, and obtain the value using Mix.env in compile-time blocks.

[2021-03-13 19:31] andrewroblesdev commented on #759
Is it possible to locally reproduce this behavior by accessing the same chat room on two separate browser tabs?

[2021-03-13 19:32] PrinceRajRoy commented on #698
@benawad, opening a PR

[2021-03-13 19:34] nadirabbas commented on #759
it is fixed :D

[2021-03-13 19:34] #759 closed, assigned to nobody

[2021-03-13 19:51] liulalemx opened #895 "Amharic language support"
Amharic language support. I can do the translation myself.

[2021-03-13 19:52] slendidev commented on #835
can't reproduce

[2021-03-13 19:54] nadirabbas opened #897 "weird spacing in bio links"
![image](https://user-images.githubusercontent.com/38838675/111042564-c661f480-845f-11eb-9db0-c4a4aa618fda.png)

[2021-03-13 19:57] slendidev commented on #775
One way I can see this being solved is creating a translation class kinda how Android or Minecraft has, in which you call a function to get the translated text based on language, or a lot will need to be refactored for each individual language. Sadly, I lack the knowledge to implement something like this but someone smarter will probably read this and know how to implement it. Good bug report!

[2021-03-13 19:59] nadirabbas opened #898 "horizontal scrolling in chat (once again)"
![image](https://user-images.githubusercontent.com/38838675/111042709-76376200-8460-11eb-888a-a2b6c887fb7f.png)

[2021-03-13 20:18] xiuxiu62 commented on #897
Yo my parser deals with reassembling chunks on proper whitespace

[2021-03-13 20:23] yvesnrb commented on #698
I can take on header if it has been abandoned.

[2021-03-13 20:23] nadirabbas commented on #897
it has nothing to do with new parsing, that hasn't been deployed yet. it only happens in the modal.

[2021-03-13 20:24] nadirabbas commented on #897
it seems to be fixed now

[2021-03-13 20:24] #897 closed, assigned to nobody

[2021-03-13 20:34] ice-rahul commented on #698
waiting for `UpcomingRoomsCard` to get `ProfileBlock` unblocked

[2021-03-13 20:43] ermalsh commented on #898
I just tried to replicate this running staging locally, can't get it to happen. Do you know what may be causing it? @nadirabbas

[2021-03-13 20:48] #525 closed, assigned to nadirabbas

[2021-03-13 20:48] #738 closed, assigned to nobody

[2021-03-13 20:48] benawad commented on #698
@ice-rahul I just merged `UpcomingRoomsCard`

[2021-03-13 20:48] benawad commented on #698
@yvesnrb go for it

[2021-03-13 20:50] yvesnrb commented on #698
On it

[2021-03-13 20:51] ice-rahul commented on #698
@benawad starting `ProfileBlock`, thanks

[2021-03-13 21:54] kndri commented on #449
question @benawad: what does 'thinking required' mean?

is it something that you would think through or is it something community-led?

[2021-03-13 21:59] okass opened #910 "Audio is not playing with WebRTC disabled"
**Describe the bug**
If WebRTC is disabled for browser audio will fail to play

**To Reproduce**
Steps to reproduce the behavior:
1. Disable WebRTC in browser (in this case Firefox)
2. Join a channel

**Expected behavior**
Playing audio

**What device are you on?**
Desktop

**Additional context**
It probably can not be solved that easily without reworking whole audio stack but for people who like

[2021-03-13 22:01] nadirabbas commented on #898
i don't know why it popped up randomly, i think it works now

[2021-03-13 22:01] #898 closed, assigned to nobody

[2021-03-13 22:01] nadirabbas commented on #910
is this a joke? 😂 DogeHouse uses WebRTC to consume audio.

[2021-03-13 22:02] okass commented on #910
no I mean it just doesnt work with it disabled and I keep it disabled for reasons.

[2021-03-13 22:03] nadirabbas commented on #910
you have no audio streams without WebRTC, what audio are you trying to play?

[2021-03-13 22:03] okass commented on #910
oh well I didnt check how it actually works

[2021-03-13 22:03] #910 closed, assigned to nobody

[2021-03-13 22:04] okass commented on #910
voice chat audio but if you say its how it plays audio it cant be helped

[2021-03-13 22:17] juliankrieger commented on #775
I disagree. The Text-Capitalization property exists for a reason. A11y recommends using it because screen-readers scream at you if you don't. Even worse: If they don't recognize the word, they may read it letter by letter (e.g B U T T O N)

[2021-03-13 22:19] juliankrieger commented on #698
@benawad Are there any more planned?

[2021-03-13 22:36] fzakfeld opened #914 "OAuth fail - wrong service used to log in"
**Describe the bug**
I was already logged in via GitHub. I logged out and signed in via Twitter, but got logged in as my GitHub profile again.

**To Reproduce**
Steps to reproduce the behavior:

1. Sign in with GitHub
2. Click your profile picture -> Log out
3. Log in with Twitter
4. You're probably logged in with your GitHub / what ever you logged in with first.

**Expected behavior**
Should log

[2021-03-13 22:44] benawad commented on #914
I designed it this way, if you use the same email, it merges your accounts

[2021-03-13 22:44] #914 closed, assigned to nobody

[2021-03-13 22:48] erfanium opened #915 "I can't hear voices"
**Describe the bug**
When I join the rooms, I can't hear any sound

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'rooms'

**Expected behavior**
Hear voices

**What device are you on?**
os: Linux
browser: chrome 89.0.4389.72
Using http/https proxy

**Additional context**.
Browser console logs:
[code]
There's no error in console

[2021-03-13 22:52] benawad commented on #915
Perfect!! I've been waiting for this to happen.

Can you click on one of the people you can't hear, when the modal comes up, click on their profile picture 5 times this will print some audio debug stuff to the console and then can you paste it here

[2021-03-13 22:59] erfanium commented on #915
[code]
‍‍‍Full object:
[code]

[2021-03-13 23:27] MANTENN commented on #496
@DGKSK8LIFE fork this and host a video version but costs would be expensive for hosting really quick.

[2021-03-14 00:38] benawad opened #924 "I need someone to help manage translations"
At the moment this mainly means spot checking they are on the `staging` branch and merging them in assuming it looks ok.

[2021-03-14 00:42] younesaassila commented on #775
Firstly, why would screen readers read a word letter by letter if it's properly capitalized in the translation file? Furthermore, as of speaking, not a single string from all translation files is all uppercase, so a transition wouldn't be a potential problem for screen readers.

Secondly, as I wrote in the issue's description, Title Case simply is **invalid** in some languages (e.g. French). If th

[2021-03-14 00:45] acb5764 commented on #789
I agree about the problem, but I disagree about the solution. Adding a dialog doesn't really solve anything in my opinion -

I think the default functionality for lurkers would be to just default usernames "Hidden" until the user wants to participate in the chat. This way they can listen to the chat before exposing their username. Exploring rooms should be allowed without necessarily showing the s

[2021-03-14 00:46] benawad commented on #915
I should have read the initial log better, just looks like its disconnecting when trying to connect with `webrtc`. Could be related to your proxy.

[2021-03-14 02:04] HasanMdArik commented on #924
Hi @benawad, I am here to help. I already did a pull request there!!

[2021-03-14 02:16] HasanMdArik commented on #895
If you want to do it, then follow these steps..
1. Fork this repo.
2. Copy "translation.json" from "kofta/public/locales/en".
3. Create a folder called "am" in "kofta/public/locales".
5. Paste the "translation.json" in the newly created folder.
6. Do the translations in the Amharic language(in "kofta/public/locales/am/translation.json").
7. Then go to "kofta/src/app/components/LanguageSelector.tsx

[2021-03-14 02:19] HasanMdArik commented on #915
Browsers(most of them) don't allow media to be transferred in an HTTP connection, try using an HTTPS connection instead.

[2021-03-14 02:38] aboveyunhai commented on #789
I believe we are talking about two separate features. My main concern is just to avoid accidental click and the unpleasant UX of accidently getting into the room and other actions as well. It has nothing to do with anonymous or not, it's more like giving a chance to "think before you act".

What you are thinking is so called the anonymous feature, which should be controlled by the host of room. Th

[2021-03-14 04:14] praveenperera commented on #888
Yes because mix is a build too which is not available in releases: https://hexdocs.pm/phoenix/releases.html#ecto-migrations-and-custom-commands

[2021-03-14 04:21] ermalsh commented on #924
I can help with this @benawad

[2021-03-14 05:06] rajpatil53 commented on #213
@benawad Can I give this a try?

[2021-03-14 05:15] NEO97online opened #927 "Rewrite backend in DogeLang"
As dogehouse is now clearly reaching escape velocity, and will soon be on the moon, it's imperative we get started rewriting the backend in [DogeLang](https://pyos.github.io/dg/). This will bring a number of improvements to the DogeHouse ecosystem:

- No static typing. This is a great feature; writing types is tedious and boring. The days of TypeScript are long over. It's time to start using dynam

[2021-03-14 05:17] theCow61 commented on #927
Yea fr

[2021-03-14 05:17] willdoescode commented on #927
based and redpilled

[2021-03-14 05:17] xiuxiu62 commented on #927
tru

[2021-03-14 05:17] dhenson02 commented on #927
is it not already?

[2021-03-14 05:18] theCow61 commented on #927
There should also be a dogelang interpreter in dogehouse built in.

[2021-03-14 05:25] reqster commented on #927
🐕

[2021-03-14 06:01] liulalemx commented on #895
I have made a PR but it keeps failing.
PR #900

[2021-03-14 06:08] amitojsingh366 commented on #797
SuperDoge?

[2021-03-14 06:11] iDcodes opened #928 "Control scheduling room with same date and time"
Hello, I just notice that I can schedule a room with the same date and time. I think it is necessary if you will control the same date and time room for one host. I hope you understand what I mean.

![Screenshot_2021-03-14-14-00-12-339_com android chrome](https://user-images.githubusercontent.com/40931945/111059286-5e4af700-84cf-11eb-82af-77ea9d779ee7.jpg)

Also looking forward for this project! G

[2021-03-14 07:17] ermalsh commented on #928
Maybe grouping them by time in the UI would work?

[2021-03-14 07:49] Choongkyu opened #932 "function Beef.RoomPermission.__schema__/1 is undefined error thrown when creating a room"
**Describe the bug**
A clear and concise description of what the bug is.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run full stack while on commit 74af4bd262778f3a53769bdea40425cba8f4c446 or even a commit a day before that one
2. try to create a room from frontend after logging in
3. See error

**Expected behavior**
Room creation without errors

**What device are you on?**
macboo

[2021-03-14 07:58] ajhalili2006 opened #933 "Flatpak-based package for the Electron app"
As @overlisted requested, I'll work also on the Flatpak package for the desktop app. And since I don't need yet another boilerplate just to package something into Flatpaks (unlike in Snaps, but we can generate the `snap` directory as part of `snapcraft init`) and to prevent people from asking their Linux sysadmins (in case of shared machines) just to install an snap package.

## To-Dos

* [x] Inst

[2021-03-14 08:23] manaskhandelwal commented on #924
@benawad I am ready to help ✋.

[2021-03-14 09:15] wes337 commented on #433
@nikkhilkharade I have also created a branch which has a fix for this. Do I need contributor status to push my branch and open a PR?

[2021-03-14 09:17] ajhalili2006 commented on #433
@wes337 Not really. You just push your branch into your fork and open a PR, just like what you do in an usual open-source project. People with write access to the repo (`Developer` role in GitLab) can push stuff into unprotected branches.

[2021-03-14 09:35] wes337 commented on #433
@AndreiJirohHaliliDev2006 Awesome thank you! I opened a PR for this just now. https://github.com/benawad/dogehouse/pull/942

[2021-03-14 09:52] #895 closed, assigned to nobody

[2021-03-14 09:57] kleo-xhindoli commented on #915
This appears to be an issue for everyone now. Some people are getting this notification:
https://i.imgur.com/uiGDTjR.png

Also this message appears on every speakers profile
![image](https://user-images.githubusercontent.com/8216227/111064377-094db780-84b4-11eb-8d8a-e24a64681ae4.png)

[2021-03-14 10:06] manaskhandelwal commented on #924
@benawad Check this: #940

[2021-03-14 10:13] erfanium commented on #915
@benawad I have been using this proxy for many years and I have never seen a problem. I also tried without proxy and strangely no websocket connection was made. I think somehow the service is not available in my country (Iran)

[2021-03-14 10:14] erfanium commented on #915
@MohammadArik I use https always

[2021-03-14 11:39] ArtemKutafin opened #947 "Ukrainian language support"
**Is your feature request related to a problem? Please describe.**
Ukrainian language support is missing

**Describe the solution you'd like**
I will add a json with translations

[2021-03-14 11:55] juliankrieger commented on #775
Because some work that way.

I didn't realize this was the case. It should be fine then.

I'm not sure how other projects solve this issue, I wanted to make sure people knew about it. There are more examples [here](https://github.com/humanmade/hm-pattern-library/issues/75). Screenreaders read the text in the DOM, regardless of how text is represented via css. Even with that in mind, capitalization

[2021-03-14 12:23] iDcodes commented on #928
That would work, but it will be another data redundancy because I still can create new schedule room on my end with the same date and time.

[2021-03-14 12:39] andrewrobles commented on #722
I'm down to work on this

[2021-03-14 13:04] juliankrieger opened #949 "Feature Request: Add issue labels for different parts of the architecture"
Since this project is managed in a mono-repo, maybe we should consider adding labels for `kousa`,  `kofta` , etc.? This would make it easier for developers to find bugs/feature-requests for the different architecture components.

[2021-03-14 13:42] mjkonko opened #950 "Icelandic language support"
I would like to expand on the language support for dogehouse and add a translation to Icelandic.

I'm not a native but have decent command of the language so I am able to translate the webpage.

[2021-03-14 14:00] manaskhandelwal commented on #950
Go on 🤩...

[2021-03-14 14:33] andrewrobles commented on #722
Here is a mockup https://www.figma.com/file/ITIMOB3vTKn43vTM9ifq4h/Audio-bio?node-id=0%3A1

[2021-03-14 14:47] nadirabbas opened #953 "the voice server just crashed"
@benawad I guess the voice server crashed or something, there is no audio in rooms for hours.

[2021-03-14 15:16] mobesa commented on #953
![Screenshot from 2021-03-14 16-16-18](https://user-images.githubusercontent.com/6242783/111073844-a6bee080-84e0-11eb-813b-24605ad2bec2.png)
^ happens whenever changing from listener to speaker

[2021-03-14 15:17] s3ansh33p commented on #953
It has been dead for several hours...

[2021-03-14 15:44] LuanHimmlisch opened #957 "Banned or not banned? thats the question"
**Describe the bug**
Hours ago I was banned from the chat of "Coders/Devs" room after some admin gave moderator to a bunch of people. After that I tried many times to get unblocked but it seems that for every other mod/admin I'm not banned from chat. Even when I try to chat it doesn't send anything (doesn't show me any pop up saying I'm banned from chat tho). I'm currently a Mod and still banned,

[2021-03-14 15:54] ermalsh commented on #932
Unable to reproduce on my end. If I were to guess, issue is ```Beef.RoomPermission``` should be ```Beef.Schema.RoomPermission```

[2021-03-14 16:08] HunnySajid commented on #789
@aboveyunhai as per my understanding of what you are saying, I would suggest to have a join button on hover of any channel, that way user will be able to choose whether he/she wants to join channel or not.
e.g.

![doge](https://user-images.githubusercontent.com/19255438/111075322-5445ea00-8509-11eb-8794-5967930c57a6.png)

[2021-03-14 16:26] #924 closed, assigned to nobody

[2021-03-14 16:35] Mudrank opened #960 "markdown support"
@benawad

[2021-03-14 16:36] Mudrank opened #961 "textarea instead of input"

[2021-03-14 16:40] goldyydev commented on #953
It's fixed now, time to close this issue @nadirabbas

@benawad what went wrong?

[2021-03-14 16:49] Mudrank opened #963 "status page"
something like the githubstatus.com
@nadirabbas

[2021-03-14 17:04] Mudrank opened #964 "feature to collapse room description"

[2021-03-14 17:08] ermalsh commented on #802
just do npm run i18 after adding new keys.
This generates the type safe translation keys along with any new keys in each translation JSON.

[2021-03-14 17:32] FotieMConstant opened #966 "Room has only listeners, no speakers, No mod"
**Describe the bug**
Room has no speakers nor mods but listeners. Consequently one can't request to be a speaker because obviously it won't be approved by anyone.

**Expected behavior**
I think room should not exist without at least a speaker or mod

**Screenshots**

![image](https://user-images.githubusercontent.com/42372656/111077739-80a23c00-84f2-11eb-92f1-0fbe8584891e.png)

**What device are y

[2021-03-14 17:39] manaskhandelwal commented on #966
Maybe this room stays forever, so URL for history books 😵🥴 https://dogehouse.tv/room/ea5a7cec-d898-49c0-a2b9-2a753519e65b

[2021-03-14 17:42] FotieMConstant commented on #966
Almost thought I was alone who noticed this. thanks for adding that @manaskhandelwal

[2021-03-14 17:46] #953 closed, assigned to nobody

[2021-03-14 17:47] #947 closed, assigned to nobody

[2021-03-14 17:58] sankalpmukim commented on #814
Can it be converted to `[custom emotes soon]` ?

[2021-03-14 17:59] #619 closed, assigned to nobody

[2021-03-14 18:02] juliankrieger commented on #698
A couple of cards are missing (optional?) close buttons, for example the UserSummaryCard

[2021-03-14 18:10] aboveyunhai commented on #789
@HunnySajid  Maybe a action button. Then when you click it, it display a small panel with a bunch of buttons right next to it, instead of modal (default hidden).
There is not `hover` on mobile.
I personally dislike as hover as a way of functionality other than visual effects for desktop user. Same for any gestures action to pull out any panels as a primary action (serve as secondary/convenient way

[2021-03-14 18:13] ermalsh commented on #950
@mjkonko
1. Fork Repo
2. Branch out of staging to something like feature/#950_add_icelandic_language_support
3. Create a folder `/kofta/public/locales/{LANGUAGE_CODE}`
4. Create a file in that folder called translations.json and just add ```{}``` to it.
5. `cd kofta` and run ```npm run i18``` => will create the translation json template for you
6. Translate English to Icelandic in the translation.

[2021-03-14 18:16] #769 closed, assigned to ermalsh

[2021-03-14 18:17] HunnySajid commented on #789
@aboveyunhai agreed with the statement that it creates inconsistencies across devices. I think simply putting in a join button (not on hover) would be feasible.

[2021-03-14 18:26] aboveyunhai commented on #789
@HunnySajid I just had chance to deal with wide age range of users in the past. Not just for elders, but also young people, a lot of this kinds of visual effect/toggling functionalities are void for them and bring confusion. Minimal and necessary function buttons on page works the best. Cool things used as secondary ways to speed up default behavior for heavy-use users.

[2021-03-14 18:41] dko1905 opened #967 "Mic check page or other mechanism for checking the mic input"
**Is your feature request related to a problem? Please describe.**
Many people don't know if their mic is working, and often ask "Can you hear me?" when they unmute.
My feature fixes this problem.

**Describe the solution you'd like**
I haven't come up with a precise solution, but I have a list of possible solutions:
- (The complex) A page for checking mic settings which shows a waveform from your

[2021-03-14 18:50] ermalsh commented on #967
The logic is sort of already there, with the blue ring around the speakers avatar.

Something else we could also do:
1. Make blue ring around the active speakers avatar more prominent. The blue ring appears when voice is detected from that user.

[2021-03-14 18:52] dko1905 commented on #967
You are right, but the blue ring only shows up when you are not muted, as far as I know.
My idea is more about a way to check without disturbing the room.

[2021-03-14 18:54] ermalsh commented on #967
Yep, I figured that - I like the idea, I think Ben did too.

[2021-03-14 18:55] ermalsh commented on #966
Errors out now
![image](https://user-images.githubusercontent.com/19981656/111080541-4bd3bc00-84d5-11eb-9fea-e9fb94b59c1a.png)

[2021-03-14 19:27] rajpatil53 commented on #569
@benawad Could you please assign this to me?

[2021-03-14 19:39] dandanthedev commented on #842
Maybe, but it is still easier to use and to code.

[2021-03-14 20:20] #488 closed, assigned to nobody

[2021-03-14 20:51] mjkonko commented on #950
@ermalsh I started working on it a bit more manually but thanks for the instructions! Should be done soon :)

[2021-03-14 21:02] supremeicecreme opened #972 "External links open in the same tab"
When clicking on a link (specifically on the home page, I haven't got further than that yet!), they open in the same tab.  This is frustrating as you can lose where you are on the site previously.

Simple solution could be to add the `target="_blank"` tag to all external links so they pop open a new tab.  I think this is the best way, though I'm not sure.

I don't think there are any better altern

[2021-03-14 21:04] supremeicecreme commented on #972
I thought it best to open an issue with this and leave it to the people who know the app best! I've just come across the project and so I'm unfamiliar with the codebase and how it all works.

[2021-03-14 21:17] yvesnrb opened #973 "Conventional changelog support"
**Is your feature request related to a problem? Please describe.**
The commit messages on this repository are getting a little out of hand.

**Describe the solution you'd like**
One solution is to adopt conventional changelog tooling. Conventional changelogs are a standard for writing git commit messages, basically they look like this:
[code]
Whereas type is the type of commit (feature, fix, chore

[2021-03-14 21:22] ermalsh commented on #972
Makes sense, I think it's a good idea

[2021-03-14 22:10] f1shy-dev commented on #797
Doge+
DogeGod
DogeNow
DogeX
AllDoge
SuperDoge
DogeUltra
UltraDoge

[2021-03-14 22:11] LuanHimmlisch commented on #966
I made this room, this bug happened (I think) because my slow internet connection. I created it and then left

[2021-03-14 22:31] demfabris commented on #463
can't reproduce

setup:
Oneplus 7 Pro
Brave browser with nav. icons on the bottom

[2021-03-14 22:43] demfabris commented on #973
Maybe consider [semantic-release](https://github.com/semantic-release/semantic-release)?
It has commit lint plugins, auto sem-ver tagging and changelog.

btw, i think you're refering to [Angular commit guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md)?

[2021-03-14 22:45] BoscoDomingo commented on #927
The only potential issue I see is down the road how many people are gonna be able and/or willing to maintain something in such a niche language? I love the idea of DogeHouse running on a DogeLang BE, but it may be too risky if Ben actually plans to make this a real business.

[2021-03-14 22:54] BoscoDomingo commented on #386
Going with Kotlin/Swift, react-native, something else...? I'd love to contribute with my limited knowledge and web isn't my forte atm

[2021-03-14 23:07] alon-abadi opened #979 "Block certain words from being used in username field"
**Is your feature request related to a problem? Please describe.**
It is possible to use abusive and harmful words in the username field. This field is actually used in the chat whenever someone tags that user, so for example if someone used the n-word as their username, when users tag that user, their messages actually uses that word. (true story)

**Describe the solution you'd like**
Filter/bloc

[2021-03-14 23:20] alon-abadi opened #981 "Blocked users are able to delete their account and create new ones to undo the block"
**Describe the bug**
Blocked users are able to delete their account and create new account, to unblock themselves. Blocking works with user ID, but the user is being generated new one every time they create a new account, even if they're using the same github/twitter account to log in.

**To Reproduce**
Steps to reproduce the behavior: (this requires two accounts: a moderator and another account)

[2021-03-14 23:25] willdoescode commented on #927
yes people are willing to write dogelang

[2021-03-14 23:30] ghost commented on #927
As DogeLang begins to 🚀 in popularity there will be no contributor shortages. Only real 💎🙌 will hold onto their great knowledge of DogeLang and eventually become millionaires.

[2021-03-14 23:31] alon-abadi opened #982 "Room description hides chat when new lines are spammed"
**Describe the bug**
When room description has a lot of newlines, it is possible to essentially block the chat using the room description.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit the room description, add a bunch of new lines (enter) in the end.

**Expected behavior**
Either:
- trim excessive new lines.
- have the room description be with maximum height\scrollable.
- have the "s

[2021-03-15 00:09] artemvandalovski opened #983 "Volume bar bug"
It is probably because of the css, when you change the volume's value and the numbers change, it moves and makes it awful to change the volume. Maybe changing the css would fix the bug.

[2021-03-15 00:09] PranishShresth commented on #750
Would be great addition. May be add a chip to represent all the tags.

[2021-03-15 00:30] amitojsingh366 commented on #439
temp fix:
- Pull staging branch
- Follow steps mentioned in https://github.com/benawad/dogehouse/blob/staging/baklava/HOW_TO_RUN.md
- Run the command `npm run build:%YOUR_PLATFORM_CODE%`
- Install the app from the `.dmg` build
- The issue should be gone now

[2021-03-15 00:37] MaySoMusician commented on #983
Or move the number of the volume to the right of the bar

[2021-03-15 00:49] juliankrieger commented on #979
I recommend using https://github.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words

[2021-03-15 00:56] tejxv commented on #983
i can work on this

[2021-03-15 01:34] #961 closed, assigned to nobody

[2021-03-15 01:52] benawad opened #988 "List of alternative DogeHouse clients"
- https://github.com/janhendrikf/dogehouse_flutter/

[2021-03-15 02:14] yvesnrb commented on #973
Oh yeah, you are totally right. I had worked with this commit format before in another project but didn't know it came from Angular in particular.

Looks like the semantic-release tool is something you use on top of commitizen and commitlint to version the packages in the repo right? Or does it have it's own commit linting tooling as well?

[2021-03-15 02:17] benawad commented on #973
yeah I want this, go for it!

[2021-03-15 02:51] NEO97online commented on #964
Room description truncates after 100 characters and shows "see more", do you have a need to collapse it more than that?

If #982 is merged it will truncate after 6 lines as well which may be what you want.

[2021-03-15 03:12] demfabris commented on #973
Not quite, it is the whole solution. The commit lint and auto sem-ver are built-in but there are tons more.

[commit-lint plugin](https://github.com/semantic-release/commit-analyzer)
[more plugins](https://github.com/semantic-release/semantic-release/blob/master/docs/extending/plugins-list.md)

This tool is honestly amazing.

[2021-03-15 03:47] andrewroblesdev opened #990 "Smashed landing page links on mobile"
**Describe the bug**
On mobile landing page the links at the bottom are smushed together

**Screenshots**
![image](https://user-images.githubusercontent.com/70864612/111101109-74c07500-8506-11eb-8c7a-7e5eb48f4a57.jpeg)

**What device are you on?**
iPhone XR

[2021-03-15 03:53] JDOG787 commented on #386
react-native would be cool

[2021-03-15 03:57] yummyweb commented on #927
DOGE!!!

[2021-03-15 03:59] yummyweb commented on #750
Can I work on this (only the frontend)?

[2021-03-15 04:00] NEO97online commented on #927
Hopefully this code snippet is helpful to anyone who would like to pick up this issue:

[code]

[2021-03-15 04:52] tylerveen commented on #990
Yes

[2021-03-15 04:57] JDOG787 commented on #990
@andrewrobles would you mind if i try to work on this, or were you going to?

[2021-03-15 05:16] tylerveen commented on #990
Yes you can!

T. Veen

[2021-03-15 05:29] FotieMConstant commented on #966
@benawad

[2021-03-15 05:36] theCow61 opened #994 "Eternal doge room"
This [dogehouse](https://dogehouse.tv/room/cc4bd0a3-304f-4414-aefb-e60e01fec9e2) room has been going on for over 3 days and should be officially designated as the eternal doge room memorial that doesn't go away if everyone leaves, so far we are making a bot that stays in there just in case everyone leaves so it doesn't close and die off but this isn't efficient and wont work when there are UI chan

[2021-03-15 05:48] proudmuslim-dev opened #995 "This has to be a joke"
Please tell me this entire thing is a joke and will be deleted shortly

[2021-03-15 05:51] tylerveen opened #996 "**does not register mouse/touch screen**"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What device are you on?**

**Additio

[2021-03-15 06:21] ghost commented on #995
Please stop negative comments. Contibute only if you are willing to. Kindly do not put down other contributors

[2021-03-15 06:23] ghost opened #997 "Add support for always existing "Support Room""
Add support for always existing "Support Room" where a mod or a bot will always be there and you can ask questions or seek help

[2021-03-15 06:41] maskeynihal opened #999 "Not showing proper error message when clicking on the user who has already left the room."
**Describe the bug**
Showing whole error rather than error message while clicking on the user who has already left the room.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the user name or user tagged (`@`) on chat who have already left the room.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.gith

[2021-03-15 06:47] loocd opened #1000 "Displayed language doesn't match actual language on page load"
**Describe the bug**
When loading the page, it seems to automatically switch to the browsers default language (great!). In my case this is German. However, the language selector displays GB English as the current language. Manually selecting English doesn't do anything, the language stays German. I first need to select another language and can then switch back to English, at which point it works a

[2021-03-15 06:53] dko1905 commented on #967
Another possibility:
- Maybe a red ring when the user is muted

[2021-03-15 06:54] bekbull opened #1001 "Cannot scroll down"
**Describe the bug**
When I am in a room I cannot scroll down and see users in the last row

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Room'
2. Try to scroll down

**Expected behavior**
I had to see users in the last row.

**Screenshots**
![Screenshot from 2021-03-15 11-53-09](https://user-images.githubusercontent.com/40839494/111114513-2a320d80-8585-11eb-8975-fcd2a3b32cd9.png)

[2021-03-15 06:59] yummyweb commented on #1001
I cannot reproduce this issue, please put the device information.

[2021-03-15 07:45] amitojsingh366 opened #1002 "INSTRUCTIONS: Build the electron wrapper (still WIP but functional)"
Below are the steps to build the electron wrapper from source

- Pull [staging](https://github.com/benawad/dogehouse/tree/staging) branch
- Follow steps mentioned in https://github.com/benawad/dogehouse/blob/staging/baklava/HOW_TO_RUN.md
- Run the command `npm run build:%YOUR_PLATFORM_CODE%`
- Install the app from the built file located in `/builds`

[2021-03-15 07:47] abdpro300 opened #1003 "emoji to high"
![image](https://user-images.githubusercontent.com/79415304/111119956-d3740600-857b-11eb-83f8-38df035e7a74.png)
thats it
emoji to high

[2021-03-15 07:56] Rexogamer commented on #1003
Can't reproduce, can you share your device and browser info?

[2021-03-15 08:04] amitojsingh366 commented on #1002
I think this should be pinned for now

[2021-03-15 08:07] amitojsingh366 commented on #1002
also should i attach a zip with all the builds in it?

[2021-03-15 09:13] ghost commented on #771
you can get the frontend here so you don't have to do everything from scratch
https://github.com/Ali-hd/Twitter-Clone

[2021-03-15 09:22] edumorlom opened #1008 "No Sign Up to Join Room"
Currently, anyone who joins a chat needs to login, but I think one should be able to join calls without having o sign up.
This is how Twitch, Twitter, and Instagram, Youtube do it.

One should be able to listen in a public room without needing to login. If they don't log in, they are limited to just listening and can't chat or even talk. They need to create an account to do that.

[2021-03-15 09:23] edumorlom commented on #1001
I am able to reproduce the Issue on the latest Firefox version on MacOS 11.3 Beta.

I can't reproduce on Safari nor Chrome.

<img width="453" alt="Screen Shot 2021-03-15 at 10 35 21 AM" src="https://user-images.githubusercontent.com/11444894/111132877-28af1800-857a-11eb-8e7a-bb5b9fb05ece.png">

[2021-03-15 09:31] augielavin commented on #1008
Yea we should

[2021-03-15 09:38] edumorlom commented on #1003
Can't reproduce either on latest Firefox, Chrome and Safari on MacOS 11.3

[2021-03-15 09:40] augielavin opened #1009 "Guys I love how you all think I don’t know what I’m doing."
I’m just bored and let’s be real lol. Loooook how much I gave your ya to talk about

[2021-03-15 09:42] edumorlom commented on #842
I don't mind just having oauth but I do think we should give more options such as:

1. Login with Apple
2. Login with Google
3. Login with Facebook

[2021-03-15 09:54] wes337 opened #1010 "RangeError: Invalid time value"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Run `npm i && npm run start:staging` from the `./kofta` directory.
2. Compiles
3. Navigate to "http://localhost:3000/"
4. Works then blows up

**Expected behavior**
Should have a valid time value in the `updateTime` function in the `src/app/utils/timeElapsed.ts` file.

**Screenshots**
![](https://i.imgur.com/ZLypLHP.png)

*

[2021-03-15 10:25] andrewroblesdev commented on #990
@JDOG787 Go for it!

[2021-03-15 10:49] jonlambert commented on #995
No.

[2021-03-15 11:11] dko1905 commented on #995
This issue should be closed.

[2021-03-15 11:59] daloes opened #1018 "Missing Slovak language option in dropdown"
I don't see option for Slovak language in dropdown. When I connect to site via mobile it automatically sets ui language to Slovak (based on my os setting I guess) but dropdown still says English.

Language pack is present and valid as site loads in Slovak but for some reason it's not in dropdown

![image](https://user-images.githubusercontent.com/11330406/111150258-2787e600-858e-11eb-9c50-8c37b5f0

[2021-03-15 12:17] Rajatgurung commented on #386
Are we going to use react in Electron app

[2021-03-15 12:18] TheOtterlord commented on #386
@Rajatgurung The Electron app is a wrapper for the website. (see the `baklava` directory)

[2021-03-15 12:26] Rajatgurung commented on #386
ok I just found out.

[2021-03-15 12:59] maskeynihal opened #1022 "Selected language is not persisted after page refresh."
**Describe the bug**
The latest language selected is not persisted after page refresh

**To Reproduce**
Steps to reproduce the behavior:
1. Select language other than `English`
2. Refresh the page
3. `English` is selected again

**Expected behavior**
The latest language selected should the language selected after the page refresh.

[2021-03-15 13:37] #995 closed, assigned to nobody

[2021-03-15 13:38] #1009 closed, assigned to nobody

[2021-03-15 13:54] overlisted commented on #1008
this is planned

[2021-03-15 14:39] wes337 commented on #1010
Seems to have fixed itself

[2021-03-15 14:39] #1010 closed, assigned to nobody

[2021-03-15 15:13] Mudrank opened #1027 "empty message can be sent using backticks"
backticks and space inside it
![image](https://user-images.githubusercontent.com/70035508/111176287-35aa2680-85cf-11eb-95ee-15da566fa65b.png)

only backticks
![image](https://user-images.githubusercontent.com/70035508/111176357-45296f80-85cf-11eb-9a87-5e489c5910d1.png)

@nadirabbas

[2021-03-15 15:27] #1022 closed, assigned to nobody

[2021-03-15 15:36] #1001 closed, assigned to nobody

[2021-03-15 15:41] JDOG787 commented on #990
@andrewrobles thanks!

[2021-03-15 15:43] #950 closed, assigned to nobody

[2021-03-15 16:26] pr1m0x commented on #698
Are some components missing?

[2021-03-15 16:30] #698 closed, assigned to nobody

[2021-03-15 16:55] boorah opened #1039 "refresh button is not at the top"
**Describe the bug**

The refresh button in the home page is displayed below the joined room. Is this the intended behavior?

**To Reproduce**

Steps to reproduce the behavior:
1. Join a room
2. Go to the home page

**Expected behavior**

The expected behavior would be that the button remains at the top.

**Screenshots**

![Screenshot from 2021-03-15 22-17-32](https://user-images.githubusercontent

[2021-03-15 17:12] #1027 closed, assigned to nadirabbas

[2021-03-15 17:19] wes337 commented on #572
I could take this, or does it require design first?

[2021-03-15 17:23] benawad commented on #572
yeah wait until the design is done for this

[2021-03-15 17:24] benawad commented on #572
but if you wanted to add something in `staging/kofta` in the meantime you can

[2021-03-15 17:52] HarryAllen1 opened #1044 "Title changes to changes to header.title for a time while loading"
**Describe the bug**
When the website loads, for a short amount of time, instead of DogeHouse being the title, "header.title" becomes the title for a few milliseconds
**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://dogehouse.tv
2. Watch the website name in the tabs
3. Notice the title change to "header.title" for a time

**Expected behavior**
The title stays as DogeHouse the enti

[2021-03-15 17:59] justinjordan1 opened #1045 "a way to follow someone by username"
Currently, if you want to create a private room, you have to invite them via the follow page. However, in order to follow someone you have to go through the extra step of both people being in a public room. Making the ability to follow people more clear would probably greatly increase the use cases for the program

[2021-03-15 18:44] wes337 opened #1050 "CSS Height off when many listeners"
**Describe the bug**
If there are enough listeners to necessitate a scrollbar, the height of the container will go off (see screenshot)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a room with many listeners (or create mock listeners to simulate)
2. Open the "Chat" menu
4. See error

**Expected behavior**
Should be aligned.

**Screenshots**
![image](https://user-images.githubusercon

[2021-03-15 19:17] #635 closed, assigned to nadirabbas

[2021-03-15 19:18] nadirabbas commented on #1045
@benawad are you currently working on the search users page? I saw it is half done.

[2021-03-15 20:49] t1m4lc commented on #552
Maybe it will be useful :  https://tailwindcomponents.com/component/datepicker-with-tailwindcss-and-alpinejs

[2021-03-15 21:52] theekrystallee opened #1058 "scheduled room link access control error"
scheduled room link fails to fetch.

sent the link to some friends and they get an "expired" message (don't have screenshots).

so i clicked on the link from my computer to test it and i get an access error "failed to fetch":
![Screen Shot 2021-03-15 at 2 41 39 PM](https://user-images.githubusercontent.com/56278409/111225254-d03d4200-859c-11eb-8ec3-264dff593030.png)

link:
https://dogehouse.tv/sch

[2021-03-15 22:23] daloes commented on #1018
Thanks for fast response to this issue @ermalsh . One thing to add, all options are named after language, not country eg English not England, Czech not Czechia/Czech Republic, therefore option in dropdown should be named 'Slovak' not Slovakia to keep the consistency in naming

[2021-03-15 23:15] michaelphipps commented on #552
@Lunchb0ne yep - OneUI skin is the culprit

[2021-03-15 23:16] ghost commented on #983
We could just remove the volume number altogether.

[2021-03-15 23:35] #1018 closed, assigned to ermalsh

[2021-03-15 23:42] #1058 closed, assigned to nobody

[2021-03-15 23:42] #1000 closed, assigned to ermalsh

[2021-03-15 23:43] ermalsh commented on #1044
@benawad can we make the header title static as "DogeHouse"? This might cause issues when muted, since `muted | DogeHouse` is what the title becomes.

[2021-03-16 00:45] praveenperera commented on #861
Closed by: #1020

[2021-03-16 00:45] #861 closed, assigned to praveenperera

[2021-03-16 00:51] #983 closed, assigned to tejxv

[2021-03-16 00:57] SuperSonicHub1 commented on #552
@michaelphipps Huh; I've never used a Samsung device with OneUI before, so I didn't know that was even a thing; sounds like an issue Samsung should fix, but I doubt they will. If you can bother to do so, I wonder if these same glitches will show up if you use Samsung Internet.

[2021-03-16 01:38] benawad opened #1067 "DogeAmbassadors"
problem: there are developers that want to contribute to DogeHouse but don't know how / need someone to ask questions to

I'd like to have some `DogeAmbassadors` that help onboard new contributors.

If you are interested in helping, make sure you are on the discord https://discord.gg/EvdprcXZ3q , grab the `DogeAmbassador` role and I'm going to start directing new people to the `#help` channel

[2021-03-16 02:40] benawad commented on #1044
@ermalsh we can make the default title static and then wait to update it until translation is loaded

[2021-03-16 02:43] benawad commented on #1045
I'm probably going to wait and finish search with new-design, but someone is working on creating the route `/user/:username` which should help with this some what

[2021-03-16 02:46] ghost commented on #988
Awesome :)

[2021-03-16 02:48] ghost commented on #1067
If anyone of you are facing issues finding the role,
Then head over to #rules [ID - 821189028858298410] and click on the respective emoji below the message to obtain the role !

[2021-03-16 02:52] Hasintha-Jayasinghe commented on #835
Can't reproduce

[2021-03-16 03:20] Rudrava opened #1068 "Cant hear or speak unless coming in from a new tab"
While today I tried to join today in a room I was a speaker in I couldn't speak or hear then I went to a different channel and there I was just a listener but couldn't hear anything.
I then tried to refresh or regrant permissions but didn't work. So I tried it from a new tab with the old one still there, no work
finally had to shut down the browser and reopen and opened dogeHouse in a new tab, it

[2021-03-16 03:28] benawad opened #1069 "button to say room is not taking speakers [hide speaker button]"

[2021-03-16 03:35] andrewroblesdev opened #1070 "Option to not allow speaker requests"
As a user I may not want to allow listeners to request to speak

[2021-03-16 03:38] andrewroblesdev commented on #1070
Duplicate

[2021-03-16 03:38] #1070 closed, assigned to nobody

[2021-03-16 03:40] benawad commented on #1068
next time this happens, click on the persons profile you can't hear, then tap on their avatar 5 times and copy/paste the console in devtools

[2021-03-16 03:56] yummyweb commented on #439
I believe this issue should be fixed, since it does not error.

[2021-03-16 04:16] theekrystallee opened #1072 "invite to speak feature"
an "invite to speak" button on their profile like the "make speaker" button.

when you invite someone in the audience to speak, a pop-up with the option to "join as speaker" or deny the request should present to the listener.

[2021-03-16 04:26] yummyweb commented on #1003
I also can't reproduce. Please provide proper information i.e. device information or steps to reproduce, otherwise I suggest to close this issue.

[2021-03-16 04:27] yummyweb commented on #964
Please close this issue, #989 resolves this.

[2021-03-16 04:31] yummyweb commented on #1068
This is probably due to websockets. As @benawad suggested, click on the person's avatar and paste the info here.

[2021-03-16 04:31] yummyweb commented on #1069
I can work on the frontend for this in kofta or we could just remove the ask to speak button itself if a room is not taking speakers.

[2021-03-16 04:34] yummyweb commented on #963
I believe that's planned based on my limited conversation with other contributors.

[2021-03-16 04:39] #964 closed, assigned to nobody

[2021-03-16 04:57] yummyweb commented on #503
I request you to close this issue since this is one of Dogehouse' projects.

[2021-03-16 05:03] Mudrank commented on #503
hey @yummyweb  the project not completed yet

[2021-03-16 05:06] yummyweb commented on #503
@Mudrank It is not completed but it is a work in progress and me and @overlisted are working on it. So I request @Atlas7005 to close the issue. Check dogehouse-js. Though, atm you can join rooms and leave rooms and send messages which by far is a lot.

[2021-03-16 05:08] Mudrank commented on #503
I feel till it's completed we should have this issue open

[2021-03-16 05:12] xiuxiu62 commented on #957
lol, yeah Will banned me for calling Rust a "Haskell ass language" and I had the same issue -- unbanned, but couldn't use the chat.  I could still join a speaker and use voice chat though.  Kinda funny, but yeah this could actually use fixing.  I'll take a look, but I can't read elixir, so fingers crossed the ban controller is in Kofta.

[2021-03-16 05:13] yummyweb commented on #202
I believe this should be closed now that this is in motion. What do you say, @benawad?

[2021-03-16 05:25] yummyweb commented on #226
This is a tricky one because the user may use what is known as a null terminator character. This is also seen in one of the Kahoot or Facebook hacks where some user has an empty username or display name. This should be done in the server-side.

[2021-03-16 05:43] MadanBhandari commented on #967
For muted user, I think muted mic icon with red border would be better, rather than just red circle.

[2021-03-16 05:50] theekrystallee commented on #1069
@yummyweb don't take the feature away. mods may want to turn the feature on and off while the room is live.

[2021-03-16 06:04] yummyweb commented on #1069
No the mods will have the ability to allow the listener to speak.

[2021-03-16 06:25] xiuxiu62 commented on #1045
Would it be feasible to have a separate friend list to accomplish this?  It'd definitely be overkill but could open up room for other features down the line.  I don't know if it would make sense to have both a friend list and a following list though.

[2021-03-16 07:37] #835 closed, assigned to nobody

[2021-03-16 07:45] maskeynihal opened #1077 "Unpredictable codeblock parse"
- Empty messages can be sent when starting with backtick and followed by spaces.
- If the message is started with backticks and not ended with backticks, it still parses as the code block
- Only backtick messages can't be sent.

[2021-03-16 07:52] willdoescode opened #1079 "Distinct urls for users."
**Is your feature request related to a problem? Please describe.**
I am frustrated when I go to share mine or someone else's profile and the link is just dogehouse.tv/user or dogehouse.tv/me

**Describe the solution you'd like**
I think it would be nice to have a url like `dogehouse.tv/@username` so that you can look at other peoples profiles as well as share your own that way.

**Describe alterna

[2021-03-16 07:57] tejasag commented on #1079
I think it would be better too this way

[2021-03-16 07:58] KaiDevrim commented on #1079
WillDoesCode has a lot of great ideas.

[2021-03-16 07:58] willdoescode commented on #1079
thank you kai

[2021-03-16 09:17] ptaberg opened #1085 "Avatar error after Twitter avatar update"
**Describe the bug**
Avatar shows alt if the avatar was removed from the network you logged with.

**To Reproduce**
Steps to reproduce the behavior:
1. Login with Twitter
2. Go to Twitter and change your avatar there
3. Go back to DogeHouse
4. See error

**Expected behavior**
After updating the avatar in Twitter, the avatar in DogeHouse should be updated.

**Screenshots**
If applicable, add screen

[2021-03-16 09:45] HonbraDev commented on #1069
@theekrystallee they meant it like a switch - a room could have a setting that disables the "ask to speak" button

[2021-03-16 10:34] #1044 closed, assigned to nobody

[2021-03-16 11:06] milansusnjar commented on #775
This is valid for Serbian 🇷🇸  too.
It should be **Направите собу**, not Направите **Собу**.

[2021-03-16 11:22] VayerMaking opened #1093 "Overlay like in Discord"
**Is your feature request related to a problem? Please describe.**
I just thought it would be a nice feature, especially for mobile users.

**Describe the solution you'd like**
Addition of a Discord like overlay when using another app at the same time.
![image](https://user-images.githubusercontent.com/36741716/111300795-23c19580-865a-11eb-801a-66214f12bae6.png)
![image](https://user-images.github

[2021-03-16 11:39] jamesql commented on #384
I was able to get this to reproduce in 2 ways. (Windows, Chrome)

1)
- Create a channel while muted.

2)
- Create a channel
- Someone else is in the channel
- Mute and unmute

[2021-03-16 12:25] #972 closed, assigned to nobody

[2021-03-16 12:33] nadirabbas opened #1097 "option to handover room admin role"
currently its random, sometimes unwanted people become owners

[2021-03-16 12:35] nadirabbas commented on #1069
@yummyweb are you working on this?

[2021-03-16 12:35] #1077 closed, assigned to nobody

[2021-03-16 13:11] drvladb opened #1101 "Vercel bot is unable to deploy preview versions."
**Describe the bug**
The Vercel bot is unable to deploy due to either max deploys per day:
`Resource is limited - try again after in X seconds (more than 100, code: "api-deployments-free-per-day").`

or failing (for a reason unknown, the dashboard may have a better explanation):
`✅ Preview: Failed`

**To Reproduce**
Steps to reproduce the behavior:
1. Open practically any PR / Commit (Some example

[2021-03-16 14:09] ysfBenali commented on #1050
@wes337 Yeah, I'm using Chrome on Mac and I'm getting the same behavior.

@benawad I tried to add vertical scrolling and it just solved the issue. (See GIF)

![ScreenShots](https://user-images.githubusercontent.com/26151852/111322428-35f70000-8669-11eb-943f-8cdcb8b894a2.png)

[2021-03-16 14:49] overlisted commented on #503
check out #1043

[2021-03-16 14:52] benawad commented on #1050
pr welcome :)

[2021-03-16 14:55] drvladb commented on #1085
Updating the twitter profile picture will break current stored images, from the doc:

Maybe a profile picture refresh button?

Doc:
https://developer.twitter.com/en/docs/twitter-api/v1/accounts-and-users/user-profile-images-and-banners#outdated-profile-images

[2021-03-16 15:08] #202 closed

[2021-03-16 15:14] pawelborkar opened #1106 "Hyperlinks at the footer are not perfectly align in mobile view"
Hyperlinks at the footer are not perfectly align in mobile view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'dogehouse.tv' in mobile /mobile view
2. Scroll down to bottom of the landing page/ login page
3. See the misalignment.

**Expected behavior**
Hyperlinks should be perfectly aligned and spaced evenly

**Screenshots**
![Screenshot](https://user-images.githubusercontent.com/361

[2021-03-16 15:20] camilofs opened #1107 "Crypto donations via BAT (Basic Attention Token)"
**Feature description**
A button to enable BAT donations to a developers account (1) or custom user address (2). The feature could be used to:
1. Gather donations from users to a DogeHouse official account to pay for the servers.
2. Enable hosts/creators to receive BAT donations instantly inside a specific chat room.

**Additional context**
- BAT is a token in the Ethereum network. ETH is also goi

[2021-03-16 15:22] advcu987 commented on #1107
this works on GitHub also, so you can donate directly to the developer there
Maybe I'm mistaken, but this is a feature of Brave Browser, haven't seen in anywhere else
good idea though!

EDIT: sorry, missed on the context! forget the first two lines, it's a good idea, period.

[2021-03-16 15:25] pawelborkar commented on #1106
Sorry for recreating the issue.Haven't seen the issue #990 while creating this one.

[2021-03-16 15:25] #1106 closed, assigned to nobody

[2021-03-16 15:32] nadirabbas commented on #1093
damn, this is gonna be a big feature

[2021-03-16 15:33] nadirabbas commented on #1079
@benawad I can work on this. should be pretty simple

[2021-03-16 15:37] VayerMaking commented on #1093
I know, but I also think it would be very useful and attract more clients

[2021-03-16 15:42] TheOtterlord commented on #1093
Not used it, but it seems that [gelectron](https://github.com/hiitiger/gelectron) could be an option? As I assume this would be part of baklava

[2021-03-16 16:06] benawad opened #1109 "add more custom emotes"
Stick image in `kofta/public/emotes` and update the list in `kofta/src/app/modules/room-chat/EmoteData.ts`

[2021-03-16 16:07] benawad commented on #1109
Let's keep this under 100 or something

[2021-03-16 16:07] benawad opened #1110 "Custom emotes are at the bottom of the emoji picker, I want them at the top"

[2021-03-16 16:15] fahadfarooqmurawat commented on #1039
Can I work on this?

[2021-03-16 16:33] JamalLyons opened #1112 "Doge House, Electron Build error on Linux"
I'm getting errors when building Doge house for election on Linux. This has been tested on windows and mac and works.
Steps I took:
- cloned the repo
- cd baklava
- npm i
- npm i -D
- npm run build:linux

Next, it built the files fine and I was able to get the deb file. I ran my package manager and I believe it installed okay. Lastly I run `dogehouse` in my terminal to start the app and got this e

[2021-03-16 16:35] #990 closed, assigned to nobody

[2021-03-16 16:42] ysfBenali commented on #1050
I'm working on it :-)

[2021-03-16 16:45] xendaya commented on #1112
Binary Format issue? Cuz I had the same

[2021-03-16 16:45] yummyweb commented on #1112
I will work on this issue.

[2021-03-16 16:46] yummyweb commented on #1112
@maksklaus What is your discord, so I can connect with you about the issue.

[2021-03-16 16:48] xendaya commented on #1112
@yummyweb  i don't use discord

[2021-03-16 16:51] yummyweb commented on #1112
ok no problem.

[2021-03-16 16:53] yummyweb commented on #1112
As far as I can tell the error is due to iohook. A similar issue was raised in iohook. This is the issue: https://github.com/wilix-team/iohook/issues/268. For linux, I believe this should fix it: `sudo apt-get install -y libxkbcommon-x11-0`. Please confirm and tell.

[2021-03-16 17:02] fahadfarooqmurawat commented on #1039
Although, after going through the code, I am pretty sure this is the intended behavior and not a bug.

[2021-03-16 17:02] BronzW commented on #1093
Yeah,  I don't think there is a web api that interacts with desktop applications right now.

[2021-03-16 17:04] drvladb opened #1115 "Multiple emojis in a Chat Message cause emojies to be text"
**Describe the bug**
Multiple custom emojis (currently only the BTTV ones) cause emojis to be shown as text.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Room
2. Open Chat
3. Open Emoji Picker
4. Scroll down to BetterTTV section
5. Click on MonkaS emote 2 times (![](https://dogehouse.tv/emotes/monkas.png))
6. Send message
7. See wrong formatting

**Expected behavior**
The multiple

[2021-03-16 17:05] drvladb commented on #1109
Do GIF emojis work?

[2021-03-16 17:09] boorah commented on #1039
yea, I know. But doesn't this look weird? Maybe they'll change it in the new design

[2021-03-16 17:12] alon-abadi commented on #982
Glad to report this was merged and is now working according to expectations.

[2021-03-16 17:12] #982 closed, assigned to nobody

[2021-03-16 17:13] navidmafi commented on #1115
Can confirm
![image](https://user-images.githubusercontent.com/46371349/111351198-2a6efd80-8698-11eb-80ba-9283b491bdd8.png)
Firefox 86 - Linux Mint 20

[2021-03-16 17:14] drvladb commented on #1115
Should be platform agnostic.

[2021-03-16 17:18] navidmafi commented on #1003
Can't reproduce

![image](https://user-images.githubusercontent.com/46371349/111351930-ea5c4a80-8698-11eb-9e72-80e7a483d4e2.png)

please provide more info

[2021-03-16 17:25] benawad commented on #1109
@drvladb one way to find out 😄

[2021-03-16 17:27] navidmafi commented on #915
hey i'm in iran too
the website is not loading at all without a VPN
Using Linux Mint 20
without proxy

[2021-03-16 17:27] finnycode commented on #1093
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-overview

that might work idk

[2021-03-16 17:29] benawad commented on #915
if you look in the network tab, what happens with the websocket connection?

[2021-03-16 17:29] benawad commented on #915
or does the `GET` request fail? Does it give a status code?

[2021-03-16 17:39] navidmafi commented on #915
![ScreenShot 2021 03 16_21 08 27](https://user-images.githubusercontent.com/46371349/111354679-d0703700-869b-11eb-94d8-eb6645b7b6a7.png)

The websocket connection fails

[2021-03-16 17:42] navidmafi commented on #915
note : website was not loading at all when i check 5 minutes ago
now the static content loading and websocket connection fails

[2021-03-16 17:43] navidmafi commented on #915
![ScreenShot 2021 03 16_21 12 50](https://user-images.githubusercontent.com/46371349/111355192-61dfa900-869c-11eb-95bf-a2d7752b838a.png)

console output

[2021-03-16 17:52] navidmafi commented on #915
again every request times out
![ScreenShot 2021 03 16_21 21 36](https://user-images.githubusercontent.com/46371349/111356479-a7e93c80-869d-11eb-911a-0b3b2eddf213.png)

[2021-03-16 17:59] navidmafi commented on #915
i will help as much as i can to solve the issue (also i have little WebRTC experience in case if its helpful)

[2021-03-16 18:05] VayerMaking commented on #1093
I found an open source discord overlay, especially for linux. So it could be used for reference.
[link](https://github.com/trigg/Discover)

[2021-03-16 18:07] yummyweb commented on #575
What is the status for this issue? Please update (if any). Currently, the debian version built from electron-builder gave some errors so I am looking into that.

[2021-03-16 18:09] drvladb commented on #1109
![](https://user-images.githubusercontent.com/33793511/111358822-2a074000-8661-11eb-9f33-4016e4807ad5.gif)

[2021-03-16 18:33] JDOG787 commented on #1109
nice!

[2021-03-16 18:36] RodrigoLee2006 opened #1123 "Sound managing"
I do not know wheter someone else has already suggested it, or if it has already been implemented, but it would be nice to be able to manage the sound of the people that are talking, just like in discord, for example, when you are in a voice chat and right click the users in the voice chat and you can manage them, mute them, make their voice lower or higher, etc.
In my opinion, a solution to this

[2021-03-16 18:38] amitojsingh366 commented on #1123
This is already exists afaik

[2021-03-16 18:47] Gitter499 commented on #1123
Nope. Each user can only adjust their own volume. A moderator can kick or ban someone but they can’t mute them.

[2021-03-16 18:57] amitojsingh366 commented on #1123
@Gitter499 no you can reduce/increase anyone's volume
and muting functionality can be achieved by just removing them from speaker
![image](https://user-images.githubusercontent.com/35400192/111364601-80e13980-86a2-11eb-9574-26a20c197c13.png)

[2021-03-16 19:00] Gitter499 commented on #1123
Oh ok. I don’t remember this being there so must be a new feature. OP probably wanted muting but not kicking from speaker, which could be achieved by sliding the volume to 0. I guess a dedicated mute button would be nice.

Thanks for the info!

[2021-03-16 19:00] jamesql commented on #1097
I'd be interested in working on this when I get home in a few hours if no one does it by then.

// had people complain about this to me a few hours ago

[2021-03-16 19:10] drvladb opened #1125 "Idea: Add CI for PRs and Pushes to staging"
**Is your feature request related to a problem? Please describe.**
Due to the lack of CI for PRs and Pushes to staging, things like missing commas slip though (ie in bcb2875de290b09b51c30fb0cac6ce82d9d41387)

**Describe the solution you'd like**
Add CI to build the project (and possibly deploy it some ware) to see that the PR does in fact what is says it does.

**Describe alternatives you've consi

[2021-03-16 19:15] #572 closed, assigned to nobody

[2021-03-16 19:19] drvladb commented on #1125
It do this if @benawad is fine with it.

[2021-03-16 19:21] tejxv commented on #1125
yeah we had netlify's deploy previews for quite some time but seems like ben removed it recently
add it back maybe? @benawad

[2021-03-16 19:28] drvladb commented on #1125
Hmm, there is staging deploy for the staging branch but not for commits.

![image](https://user-images.githubusercontent.com/33793511/111368365-2af19f00-866c-11eb-873a-fdb0f74d9651.png)

[2021-03-16 19:44] tejxv commented on #1125
oh wow, is this under Actions tab? i can't seem to find it

[2021-03-16 19:46] drvladb commented on #1125
Its ether under the actions tab or under the Red X, Green Check, or Yellow Circle under most commits.
![image](https://user-images.githubusercontent.com/33793511/111370603-d3086780-866e-11eb-8d3b-e7829e0b2db5.png)

[2021-03-16 19:51] tejxv commented on #1125
okay, thank you!

[2021-03-16 20:13] tejxv commented on #1115
adding a space between the emojis somehow solves the problem

[2021-03-16 20:46] alon-abadi opened #1130 "Add a button to enable/disable sound (mute/unmute headphones/speakers)"
**Is your feature request related to a problem? Please describe.**
Not really a problem, but would love a button to enable/disable global sound from site temporarily (including room admin) without needing to access computer settings. Current sound options are limited per user, and sometimes require either muting the tab (which is not possible when the site operates as a chrome app).

**Describe th

[2021-03-16 20:50] alon-abadi commented on #1123
To me this actually makes sense in a way. Some users have bad mics, static noises or incredibly loud mics, but I still think every user should have the final say as for their own config. Maybe admin can manipulate user volume for the entire room (in case of a very loud user or a very quiet one) but users still should have the ability to override with their own preferences (exists today).

[2021-03-16 20:55] degrootruben opened #1131 ""description" placeholder when scheduling a room is static text and not linked to translation"
When the room schedule dialog is open there is a field for a description of the room. The placeholder for this component is static and is it not possible to give a translation for this value. It can be found in ScheduleRoomModal.tsx line 134. I think this line should be `placeholder={t("modules.scheduledRooms.modal.roomDescription")}` or something like that.

This is my first time writing an issue

[2021-03-16 21:05] ermalsh commented on #1131
Issue looks good! Can be considered an Enhancement or a Bug.

For new contributors, this is an easy one:
This can be implemented, we just have to include the new translation in `ScheduleRoomModal.tsx:134` and run `npm run i18`. This will create the translation keys, along with adding the new Translation to each `translation.json`.

[2021-03-16 21:31] degrootruben commented on #1131
Thanks! So I could go and do this fix now?

[2021-03-16 21:49] ermalsh commented on #1131
yes

[2021-03-16 21:53] drvladb commented on #1130
Duplicate #41 and #706

[2021-03-16 22:24] degrootruben commented on #1131
@ermalsh Running `npm run i18` doesnt add my translation key. What could be the problem?

[2021-03-16 22:25] nadirabbas commented on #1097
@benawad

[2021-03-16 22:27] ermalsh commented on #1131
Are you running `npm run i18` in `kofta/` directory?

[2021-03-16 22:37] degrootruben commented on #1131
Yes

[2021-03-16 22:57] #973 closed, assigned to yvesnrb

[2021-03-16 22:58] #1123 closed, assigned to nobody

[2021-03-16 22:59] benawad commented on #1125
I'd like to use CloudFlare pages but I can't figure out how to get the bot to show up on prs 😅

[2021-03-16 23:07] miguelcarreiro opened #1135 "Room counter isn't working"
**Describe the bug**
When I'm not in a room, the room counter shows a wrong number of people inside.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter Dogehouse and login;
2. Watch room counter;
3. Enter into a room, and check that the number of people inside isn't the same as the counter shown before.

**Expected behavior**
The counter should have the correct number of people inside a r

[2021-03-16 23:15] ermalsh commented on #1131
@degrootruben add it to the EN `translation.json` and then run `npm run i18`. I'm working on fixing the issue with the script.

[2021-03-16 23:18] ermalsh opened #1137 "npm i18 errors out due to parsing issue"
**Describe the bug**
`npm run i18` errors out in the syncTranslation script.

**To Reproduce**
Steps to reproduce the behavior:
1. cd `kofta`
2. `npm run i18`
3. See error

**Expected behavior**
Work without erroring.

[code]

[2021-03-16 23:24] jhgeluk commented on #271
@benawad Who was the designer? I'm also looking for a designer!

[2021-03-16 23:27] ermalsh commented on #1137
Error due to:
Line 197 in `kofta/public/locales/nb/translation.json` malformed JSON.

[2021-03-16 23:29] degrootruben commented on #1131
Will do. Thanks.

[2021-03-16 23:29] #1130 closed, assigned to nobody

[2021-03-16 23:35] alon-abadi commented on #706
It's actually not possible to mute a tab which is open in app mode (chrome) as I am running dogehouse separate from the rest of chrome. (chrome three dots -> more tools -> create shortcut -> open as a window)

[2021-03-16 23:37] #1137 closed, assigned to ermalsh

[2021-03-16 23:40] #1131 closed, assigned to degrootruben

[2021-03-16 23:45] theekrystallee commented on #1069
@HonbraDev i misunderstood. i see what @yummyweb was saying now. thanks

[2021-03-16 23:57] drvladb commented on #1125
The bot's behavior is quite strange, I set up a test project and it only builds PRs made within the repository (so staging -> prod will work but drvladb/dogehouse:patch-1 -> benawad/dogehouse:staging will not). There doesn't seem to be a github action for this so writing a action to do this on PRs is not an option. We could use Cloudflare Workers, but I'm not sure ben is good with that.

P.S. Test

[2021-03-16 23:58] benawad commented on #1125
I just contacted cloudflare team they are going to take a look, in the mean time if you want to setup workers, I'm cool with that

[2021-03-17 01:52] #1079 closed, assigned to nadirabbas

[2021-03-17 01:53] nadirabbas commented on #706
duplicate #41

[2021-03-17 01:53] #706 closed, assigned to nobody

[2021-03-17 01:54] #151 closed

[2021-03-17 01:57] #994 closed, assigned to nobody

[2021-03-17 01:59] nadirabbas commented on #999
this was fixed

[2021-03-17 01:59] #999 closed, assigned to nobody

[2021-03-17 02:01] nadirabbas commented on #1045
fixed by #1143

[2021-03-17 02:01] #1045 closed, assigned to nobody

[2021-03-17 02:03] nadirabbas commented on #960
ben doesnt want it he said

[2021-03-17 02:03] #960 closed, assigned to nobody

[2021-03-17 02:04] nadirabbas commented on #957
duplicate #528

[2021-03-17 02:04] #957 closed, assigned to nobody

[2021-03-17 02:05] nadirabbas commented on #932
was fixed #851

[2021-03-17 02:05] #932 closed, assigned to nobody

[2021-03-17 02:07] #830 closed, assigned to nobody

[2021-03-17 02:07] #819 closed, assigned to nobody

[2021-03-17 02:08] nadirabbas commented on #808
@benawad this is an interesting one

[2021-03-17 02:10] #762 closed, assigned to nobody

[2021-03-17 02:11] regisBafutwabo commented on #824
I am having the same issue but mine is related to the ``next/babel`` preset section in ``.storybook/.babelrc``

### Node Version

v12.18.4

### OS

Mac Big Sur v11.1

<img width="632" alt="Screen Shot 2021-03-17 at 11 06 23 AM" src="https://user-images.githubusercontent.com/10329294/111403721-d18f7b80-8710-11eb-822a-6c6c7da831db.png">

[2021-03-17 02:12] nadirabbas commented on #824
try running `npm i`

[2021-03-17 02:15] #520 closed, assigned to nobody

[2021-03-17 02:15] regisBafutwabo commented on #824
I did before running ``npm run storyboard``

[2021-03-17 03:01] #1115 closed, assigned to nobody

[2021-03-17 03:31] Rudrava opened #1145 "Follower count stuck"
I was just randomly roaming about when I saw that my follower count was stuck posting ss below.

## this shows i have 4 followers
![image](https://user-images.githubusercontent.com/58327905/111410618-18747580-86ff-11eb-9d6f-3f45bd78cfe0.png)

## this shows i have only 2
![image](https://user-images.githubusercontent.com/58327905/111410735-4bb70480-86ff-11eb-9d38-f8d738ae0ebf.png)

[2021-03-17 03:39] nadirabbas commented on #1145
did you try reloading?

[2021-03-17 04:50] Rudrava commented on #1145
**Forgot  to mention that**
yea i tried reloading but it did not update
updated only when I opened it in a new tab

[2021-03-17 05:03] yummyweb commented on #1145
this happened with me

[2021-03-17 05:07] nadirabbas commented on #1145
try hard reloading

[2021-03-17 07:55] ronakkaria01 opened #1150 "Can't hear anything in mobile device."
I was trying the app on my android device and it does not work. I dont know if my settings are wrong or whatever. But it's not working.

Thanks

[2021-03-17 08:56] MusashiAsada opened #1151 "Update profile without a profile picture"
**Describe the bug**
When trying to update my profile's displaying name it gives me an error. It says that I have an invalid "invalid image"/profile picture. I currently have the default twitter profile picture which leads me to think that is the problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to profile
2. Click on edit profile
3. Change name while having default profile picture

[2021-03-17 09:43] ptaberg commented on #1151
@MusashiAsada , good point, I have issue which can be solved with it #1085

[2021-03-17 09:47] ptaberg commented on #1085
@drvladb I think we can check Image exist, and if not then display some default image. Updating avatar from Social Media services requires a backend change. Also, users which see your profile couldn't have the possibility to refresh your photo, and they will see an error.

[2021-03-17 10:38] wes337 commented on #1151
What's the image URL? Could be failing the regex pattern

[2021-03-17 11:03] #290 closed

[2021-03-17 11:06] MusashiAsada commented on #1151
Here's the URL: https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png

[2021-03-17 11:16] amitojsingh366 commented on #1093
I'm already working on it actually...

[2021-03-17 11:20] amitojsingh366 commented on #1093
@TheOtterlord yea it has to be in bakavla, i think i already mentioned to you that i'm working on it. Also got the approval from ben. but it'll take time

[2021-03-17 11:27] nadirabbas commented on #1151
yeah the regex is for a different type of profile picture URL: https://pbs.twimg.com/profile_images/1295038552661725184/LzFeB7Dj_400x400.jpg

your has `default_profile_images` in it, I'll fix that.

[2021-03-17 11:30] MusashiAsada commented on #1151
Thank you! I don't completely understand what the issue is but I'm trying to learn. I just wanted to contribute with something to make this as good as possible!

[2021-03-17 11:32] nadirabbas commented on #1151
fixed by #1155

[2021-03-17 11:32] #1151 closed, assigned to nobody

[2021-03-17 11:33] nadirabbas commented on #1085
@ptaberg we already check that, but for some reason that seems broken too.

[2021-03-17 11:38] nadirabbas commented on #1150
it works on Chrome, Android for me

[2021-03-17 11:40] nadirabbas commented on #1110
i tried setting the `include` prop on `emoji-mart`, but the thing is, I think they have a bug in the package where it doesn't pickup the `custom` element in the `include` array. it accepts all other categories, and honors the order.

[2021-03-17 11:41] nadirabbas commented on #1085
for now you can just copy the avatar URL and put it in avatar input

[2021-03-17 11:59] ghost commented on #808
The password in the example tho 😂

[2021-03-17 12:30] jamesql commented on #1097
should the previous creator be a mod after they have transferred ownership?

[2021-03-17 13:04] dk-raw opened #1157 "When Leaving a Room with the chat window open, the chat window stays open"
**When I click the button to leave a room with the room's chat window open, the chat window remains open even if I join other rooms.**

[2021-03-17 13:10] nadirabbas commented on #1097
yeah, that makes sense @jamesql

[2021-03-17 13:25] drvladb commented on #1157
@dk-raw Can't reproduce, can you please attach a video or reproduction instructions. Also, it would be nice to know system details.

[2021-03-17 13:26] drvladb commented on #1150
@ronakkaria01 Please attach reproduction instructions and system details.

[2021-03-17 13:29] drvladb commented on #1101
Vercel bot removed, issue fixed.

[2021-03-17 13:29] #1101 closed, assigned to nobody

[2021-03-17 13:38] drvladb commented on #392
Done by #991

[2021-03-17 13:54] degrootruben opened #1161 "When running kofta locally by npm run start:staging I get an error"
Stacktrace:
[code]
How would I fix this so I can run the React frontend locally?

[2021-03-17 14:05] #392 closed, assigned to nobody

[2021-03-17 14:13] nadirabbas commented on #1161
try  re-running `npm install`

[2021-03-17 15:06] advcu987 commented on #1161
I had a similar issue and fixed it by updating node to version 14
this helped:
https://stackoverflow.com/questions/65311936/node-error-when-i-run-npm-with-laravel-breeze

[2021-03-17 16:04] overlisted commented on #1145
(hard reloading is shirt ctrl r)

[2021-03-17 17:22] MrPoll0 opened #1169 "Scheduled room link not working"
**Describe the bug**
When I enter any scheduled room link, it fails to fetch.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any scheduled room link
4. See error

**Expected behavior**
Show up the information of that scheduled room.

**Screenshots**
https://gyazo.com/87803681efaa291f8db947588b9647d5

**What device are you on?**
Browser Chrome on Windows 10

[2021-03-17 17:24] MrPoll0 commented on #1169
oh i just thought it may be the actual room which is going to get created, am i right?

[2021-03-17 17:25] jamesql commented on #1097
i should have it done by the end of the day

[2021-03-17 18:38] benawad commented on #1097
sounds good, go for it!

[2021-03-17 18:57] benawad commented on #1169
should be fixed now

[2021-03-17 18:57] #1169 closed, assigned to nobody

[2021-03-17 19:13] proudmuslim-dev commented on #995
Sorry about that, I hadn't meant to insult anyone

[2021-03-17 20:25] theekrystallee opened #1173 "add cohosts/speakers when scheduling rooms"
when scheduling/creating rooms, hosts should be able to add additional cohosts/speakers to the event. when the room starts, those cohosts/speakers would automatically be a speaker once they arrive so they do not have to request to speak. the speakers would be more inclined to promote the room if their names are listed. once notifications feature is added, the followers of speakers should be notifi

[2021-03-17 21:01] nadirabbas commented on #1173
Clubhouse really looks like some mediocre social media network.

[2021-03-17 21:04] #463 closed, assigned to nobody

[2021-03-17 22:24] #610 closed, assigned to nobody

[2021-03-17 23:04] degrootruben commented on #1161
doesnt work sadly...

[2021-03-17 23:04] degrootruben commented on #1161
This fix doens't work as well.

[2021-03-18 00:13] nadirabbas commented on #868
fixed c2d33ac

[2021-03-18 00:13] #868 closed, assigned to nobody

[2021-03-18 00:24] nadirabbas commented on #981
fixed in 292a839

[2021-03-18 00:52] michaelchen001 opened #1177 "Can I dial in the meeting from PSTN(desktop phone)"
Greeting。Can I dial in the meeting from my desktop phone,   when my PC has some problem (hardware/network),  I want to use my desktop phone call a telephone number  to join the meeting.

Thank you.

[2021-03-18 01:16] #270 closed

[2021-03-18 01:18] nadirabbas commented on #351
I guess mentions fix this

[2021-03-18 01:18] #351 closed, assigned to nobody

[2021-03-18 03:03] ajhalili2006 commented on #575
Hey, @yummyweb. Currently, the build using `snapcraft.yaml`'s `parts.dogehouse.override-build` turned into chaos, so maybe I'll comment out the `override-build` and rely on `electron-builder --linux snap` option.

[2021-03-18 03:33] ravioli0509 opened #1179 "[UI Feature] Tooltip for some buttons when hovering over them."
**Is your feature request related to a problem? Please describe.**
Not a severe problem, it's more like a would-like feature. Some newcomers won't be able to understand what some buttons do. Some buttons already have labels, but the home buttons don't have any labels. I feel like there needs to be some consistency.

**Buttons With No Labels**
![スクリーンショット 2021-03-18 12 23 48](https://user-images.gi

[2021-03-18 04:10] Lawqup commented on #1179
Hey, I think I can try and make a prototype using Material UI, but I can't seem to find where I'd implement it in the [kofta](https://github.com/benawad/dogehouse/blob/staging/kofta) file. I'm definitely new to this project so any help would be appreciated!

[2021-03-18 04:33] Lawqup opened #1180 "Greying some buttons when hovering over them"
**Is your feature request related to a problem? Please describe.**
Sometimes one has to squint pretty hard to see if their mouse is over a small button, and this can be annoying. These are the buttons in question:

![These three buttons aren't greyed out on hover](https://user-images.githubusercontent.com/80665382/111572912-c36c4a00-8766-11eb-902e-097a2c877035.png)

**Describe the solution you'd l

[2021-03-18 05:48] yummyweb commented on #575
Hey @AndreiJirohHaliliDev2006 there is a problem with the debian version built by `electron-builder` so I advice don't rely on `electron-builder` and if you face a problem similar to issue, #1112 then please let me know and comment on the issue.

[2021-03-18 08:05] akinloluwami opened #1182 "The mute option on settings is turned on by default"
I was not able to hear conversations when I joined rooms, so I checked my settings (for the first time), under the sound settings and I saw the mute option is turned on by default.

[2021-03-18 08:41] dk-raw commented on #1182
**That sounds like a issue with your browser. Try giving the app voice permits**

[2021-03-18 11:29] nadirabbas opened #1188 "use chrome live captions"
Chrome rolled out a new feature called live captions, which automatically transcribes audio/video on the web. we can use this for Dogehouse (uncle sam lol)

![image](https://user-images.githubusercontent.com/38838675/111619160-0978ea80-8807-11eb-842c-0acb4f0396e3.png)

[2021-03-18 11:41] nadirabbas commented on #1182
that setting actually means the sound you "hear" when you mute/unmute. a kind od a notification sound.

[2021-03-18 11:41] #1182 closed, assigned to nobody

[2021-03-18 11:45] #1177 closed, assigned to nobody

[2021-03-18 11:45] nadirabbas commented on #1177
out of scope for this project

[2021-03-18 11:51] overlisted commented on #1188
what about users of the normal browsers

[2021-03-18 11:53] nadirabbas commented on #1188
nothing about them

[2021-03-18 11:57] crispyaus commented on #1177
dogegarden-telephone incoming

[2021-03-18 13:11] ankan1811 opened #1192 "add some buttons"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-18 13:11] #1192 closed, assigned to nobody

[2021-03-18 13:15] Paultje52 commented on #1188
You could check the compatibility of the feature, and if the browser supports it, display a button

[2021-03-18 13:18] goldyydev commented on #1188
I don't think there's an API to activate that, it's just a setting in accessibility

[2021-03-18 13:45] nadirabbas commented on #1188
@goldyydev oh okay, I'm gonna try it on Dogehouse then

[2021-03-18 13:57] jamesql commented on #1135
could be this:

1) Servers we're restarting or down for one reason or another
2) People left the room and the following events could have occurred

// I could be wrong about this but its a start

[code]

[2021-03-18 14:32] suyoin commented on #1179
I believe you should be doing it in [kibbeh](https://github.com/benawad/dogehouse/blob/staging/kibbeh), the directory for the Next.js frontend.

[2021-03-18 15:20] TheOtterlord commented on #172
As we now have an Electron app, this issue could probably be closed. But I suppose releasing the binaries might be a good idea first?

[2021-03-18 15:28] daloes commented on #1039
Well if you think about it, refresh action is tied to list of available rooms. When you are in room already it doesn't make sense to refresh it eg. put it in same group below button

[2021-03-18 15:35] nadirabbas opened #1196 "dogehouse.tv is down?"

[2021-03-18 15:43] goldyydev commented on #1196
the website seems to work 🤔

[2021-03-18 16:00] xendaya commented on #1196
it has some kind of a bug or something, can't really use it sometimes

[2021-03-18 16:02] #1196 closed, assigned to nobody

[2021-03-18 16:06] nadirabbas commented on #1188
@goldyydev  it only shows up on YouTube, so there must be an API?

[2021-03-18 16:07] goldyydev commented on #1188
i think we need to use a `<video>` element for it to work. it works just fine on twitch and they can't be bothered to patch it in a few hours.

[2021-03-18 16:13] TheOtterlord commented on #1188
could you pipe the audio through a hidden `<video>` element?

[2021-03-18 16:13] nadirabbas commented on #1188
yes

[2021-03-18 16:14] nadirabbas commented on #1188
`<video><source src="mp3 or something"></video>`

[2021-03-18 16:50] benawad commented on #1196
@maksklaus What bug?

[2021-03-18 17:11] benawad commented on #808
no passwords for rooms atm, but we you can see who is requesting to join a private room and add them in

[2021-03-18 17:11] #808 closed, assigned to nobody

[2021-03-18 17:12] daloes opened #1198 "Home and profile button too small/missing when room name is long"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Use mobile for small horizontal space
2. Create new room with looong room name
3. Observe tiny/missing home and profile buttons or text overflow if even longer

Idk if this is taken care of in new design

**Expected behavior**
I would expect room name to be cut at some poi

[2021-03-18 18:26] BronzW opened #1203 "Add platform for translation"
As many can see a lot of pull request traffic are translations. I think separating them from the repo to another custom made platform would get the focus away from the translations to feature requests, improvements and development.

A platform where you can submit possible changes or add language translations would be awesome as it would make it easier to people without programming experience to s

[2021-03-18 18:34] wes337 commented on #1198
I was also able to reproduce this ![](http://g.recordit.co/wSxYqF3yRp.gif), I'll make a PR for this

[2021-03-18 19:03] ajmnz opened #1205 "DH Logo / Back button is now invisible when inside a room"
<img width="1069" alt="Screenshot 2021-03-18 at 20 01 58" src="https://user-images.githubusercontent.com/57961822/111682661-ed844180-8824-11eb-9042-491aeb3f85f7.png">

Macbook Pro Late 2018 / Firefox Developer Edition

[2021-03-18 19:09] overlisted opened #1207 "Better API for bots?"
It would be really nice if the current Elixir API supported a "bot mode" and "bot-only" accounts, which would:
- Be able to **join multiple rooms at once**
- **Have a special badge** after their display name showing that the user is a bot
- Be able to implement do-it-yourself sharding, which would need to **log into the account with multiple clients at once**
- **Get rate limited by the API** if t

[2021-03-18 19:11] #1205 closed, assigned to nobody

[2021-03-18 19:11] ajmnz commented on #1205
Dup #1198

[2021-03-18 19:13] BronzW commented on #717
This has been implemented!

[2021-03-18 19:13] #717 closed, assigned to nobody

[2021-03-18 19:32] #1198 closed, assigned to nobody

[2021-03-18 20:43] ajmnz opened #1212 "Too many event listeners being added to each chat message"
<img width="639" alt="Screenshot 2021-03-18 at 20 54 49" src="https://user-images.githubusercontent.com/57961822/111694612-63db7080-8832-11eb-8e50-848bae73c5c0.png">

Probably caused by https://github.com/benawad/dogehouse/pull/484 and by adding `<ReactTooltip />` without an `id` for each component (as said in their [docs](https://github.com/wwayne/react-tooltip#note))

[2021-03-18 20:59] wes337 commented on #1212
It looks like `react-tooltip` is a dependency in the package.json, but it is not used anywhere. The commits from #484 about the tooltip aren't there anymore

[2021-03-18 21:13] drvladb opened #1213 "Dogehouse Emojis are too large"
**Describe the bug**
When sending the NeutralHouse, SupriseHouse, WinkHouse, CoolHouse, SadHouse, or DogeHouse emojis, they take up the entire chat (and are larger then all standard emojis).

**To Reproduce**
Steps to reproduce the behavior:
1. Join Room
2. Send any of the above mentioned emojis

**Expected behavior**
The emojis should be the same size as all others.

**Screenshots**
![image](http

[2021-03-18 21:25] goldyydev commented on #1213
We got to put a fix height for these emojis (of 100%)

[2021-03-18 21:40] Mayowa-Ojo opened #1214 "Error when running npm install in `kibbeh`"
**Describe the bug**
Tried to install dependencies in `kibbeh` but got a Not Found error.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'kibbeh'
2. Run  'npm install'

**Expected behavior**
Should install dependencies without errors.

**What device are you on?**
OS: Linux
Node version: v14.16.0
npm verson: v6.14.11

**Additional context**
Add any other context about the probl

[2021-03-18 21:52] ThatOneHidde commented on #1214
😅

[2021-03-18 21:53] ajmnz commented on #1212
https://github.com/benawad/dogehouse/commit/c2d33ac0f784ddf698e67000e3ac8edc269f3078 removed it

[2021-03-18 21:53] #1212 closed, assigned to nobody

[2021-03-18 23:29] jamesql opened #1217 "change room admin failing on prod."
**Describe the bug**
Make room admin failing on prod.

**To Reproduce**
Steps to reproduce the behavior:
1. Create room
2. Try to transfer ownership

**Expected behavior**
Transfer ownership

If someone wants to assign it to me ill be working on it tonight or tomorrow morning I'll figure it out.

Probably has something failing in the validation for the Kousa.Room.change_room_creator function

[2021-03-18 23:34] nadirabbas commented on #1207
yeah, rate limiting is really importing, bots are messing up the experience

[2021-03-18 23:36] nadirabbas commented on #1217
i'll fix it

[2021-03-18 23:38] nadirabbas commented on #1214
It's called `@dogehouse/client` now, maybe update the `package.json`

[2021-03-18 23:38] #1180 closed, assigned to nobody

[2021-03-19 00:10] crispyaus opened #1219 "WS reporting incorrect amount o people in room."
**Describe the bug**
The WebSocket and front end room counter is reporting the wrong number of people on a room.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dogehouse.tv
2. Look at any room which is mid-large.
3. Observe the listener count
4. Join the room and count how many people are in it
5. The count will be different

You can also see the bug in action on this public A

[2021-03-19 00:21] nadirabbas commented on #1217
it works, may be @benawad didn't deploy elixir API? 🤔

[2021-03-19 00:22] jamesql commented on #1217
hmmm, maybe, do error messages not appear on front-end on prod?
it was working fine for me too

[2021-03-19 00:25] nadirabbas commented on #1217
it just works, but it has a logical error, the former creator gets made a listener

[2021-03-19 00:52] benawad commented on #1217
I didn't realize there was a backend change, my bad, let me review next time before merging backend changes

[2021-03-19 01:09] nadirabbas commented on #1217
@benawad gotcha, the changes were made to fix #1097

[2021-03-19 01:24] jamesql commented on #1217
All good haha

[2021-03-19 01:24] #1217 closed, assigned to nobody

[2021-03-19 01:33] #1213 closed, assigned to nobody

[2021-03-19 01:52] drvladb opened #1222 "Long room descriptions cause Emojimart picker (and chat input) to go off screen."
**Describe the bug**
When a room has a long description, when opening the EmojiMart Picker, the Picker and the Send Message go off screen are are inaccessible

**To Reproduce**
Steps to reproduce the behavior:
1. Create room with really long description (100+ Characters)
2. Open Chat
3. Click EmojiMart Picker
4. Depending on screen size, the input will go off screen.

**Expected behavior**
The des

[2021-03-19 01:54] drvladb commented on #1207
A temporary workaround is to write to a queue that is dispatched every second.

[2021-03-19 01:55] benawad commented on #1217
its pushed now

[2021-03-19 01:57] iWanheda commented on #797
Snoop Doge

[2021-03-19 02:14] drvladb opened #1223 "Dogehouse and Profile Menu are push off screen on mobile devices when a room name is too long."
**Describe the bug**
When a room has a long name, it causes other buttons like the home button and profile picture to be moved off screen on smaller mobile devices (IPhone 6s or similar)

**To Reproduce**
Steps to reproduce the behavior:
1. Get phone with small screen
2. Open room with large name
or
1. Create room
2. Shrink web browser to smallest size possible

**Expected behavior**
The text shou

[2021-03-19 02:25] benawad commented on #1207
what are they doing right now?

[2021-03-19 03:11] nadirabbas commented on #1207
They join, send a msg, leave, join, send a message, leave. Doing it really fast.

[2021-03-19 04:04] ghost opened #1224 "Add support for a doge themed podcast named as "DogeCast""
Add support for a doge podcast named as "DogeCast"

We can introduce a room which can be named as DogeCast where @benawad can invite people for sharing experiences and whatnot.

[2021-03-19 04:45] crispyaus commented on #1224
There is no need for a pinned room just for that reason. Ben already does weekly contrib meetings.

[2021-03-19 05:06] ghost commented on #1224
Oh my bad

[2021-03-19 05:06] #1224 closed, assigned to nobody

[2021-03-19 05:37] Mayowa-Ojo commented on #1214
Yh, thanks. I think we should include a README that explains how to setup the next.js frontend  in `kibbeh`. I also had to switch to yarn because I learned the project now uses yarn.

[2021-03-19 07:16] daloes commented on #1223
This was adressed in pr #1206 but apparently it's not working

[2021-03-19 07:25] overlisted commented on #1207
Also, room admins probably should be able to turn off bots or allow only some bots to join

[2021-03-19 07:37] daloes commented on #1223
Confirmed issue persists
![Screenshot_20210319-083634_Chrome](https://user-images.githubusercontent.com/11330406/111746414-4fc55c80-888e-11eb-8a33-34130f66e55f.jpg)

[2021-03-19 07:51] martines3000 commented on #1214
Looks like I accidentally made the same commit twice... Still learning how the "npm run commit" command works. You can ignore the first commit. :sweat_smile:

[2021-03-19 08:01] #1214 closed, assigned to nobody

[2021-03-19 08:17] TheOtterlord commented on #1207
I think using an allow-list like discord (& I think twitch) would work the best. Then admins have full control over the bots

[2021-03-19 08:48] HonbraDev commented on #153
It would be nice to also allow mods to bypass the chat limit. I have a bot that responds to commands and if there are 2 people trying to interact at the same time, one of them can't see their messages.

[2021-03-19 08:59] TheOtterlord commented on #153
Also, maybe allowing the slowmode timeout to be changed could be a good idea, larger rooms may want a longer timeout

[2021-03-19 09:22] ajmnz opened #1229 "Mac app crashed on GitHub sign in"
Error report:
https://pastebin.com/z9X3fNra

[2021-03-19 09:26] TheOtterlord commented on #1229
Operating System: macOS BigSur 11.2.3

[2021-03-19 09:29] ajmnz commented on #1229
Maybe worth noting that I never got to authorize DogeHouse, and left the modal open while trying to log in.

[2021-03-19 09:32] TheOtterlord commented on #1229
I'm not a mac user, so forgive my lack of knowledge here, but by authorize, do you mean authorizing the app?

[2021-03-19 09:34] ajmnz commented on #1229
It asks for Accessibility perms when you first open the app (guessing for mic access and that stuff). It'd probably be better to have a blocking screen that goes away once you allow the app.

[2021-03-19 09:37] TheOtterlord commented on #1229
Interesting. Yeah, it asks for mic access, and as they need to be granted, adding some form of waiting screen could be useful.

[2021-03-19 10:14] amitojsingh366 commented on #1229
Oh so was it like you forgot to approve the perms? And then when you tried using the app it crashed?

[2021-03-19 10:22] ajmnz commented on #1229
Exactly. Crashed on gh auth

[2021-03-19 11:13] MadanBhandari commented on #1223
let me do this, and also user avatar is not vertically centered, will send pr for both the issues. someone assign this to me.

[2021-03-19 12:25] goldyydev commented on #1214
#1233

[2021-03-19 12:55] dk-raw opened #1234 "some phrases in DogeHouse are not included in the translation JSON files"
**Phrases like `Are you sure you want to leave the room?` and `Following` / `Follow` are not present in the JSON file to translate.**

[2021-03-19 13:12] Abogical opened #1237 "Autodelete inactive rooms"
# Problem
Currently there can be inactive rooms with inactive speakers and listeners which ends up just staying in the list of rooms doing nothing for days. Example: https://dogehouse.tv/room/cc4bd0a3-304f-4414-aefb-e60e01fec9e2

# Possible solution
Activity could be measured by the last time someone has spoke. Delete the room if no one has spoken for _X_ hours. _X_ is arbitrary and is set by the

[2021-03-19 13:18] daloes commented on #1234
additionally:
- [ ] in sound settings options are not translatable
- [ ] in voice settings last 3 options (toggle chat, invite, request), also options in mic dropdown can't be translated (default, speakerphone, headset earpiece)
- [ ] "room no longer exists"
- [ ] "leave room 'x' and join 'y'?"
- [ ] also emoji categories are not translated only "Most used" category is in Slovak in my case but idk

[2021-03-19 13:19] Neaxic opened #1238 "Changing rooms - hardcoded popup text"
**Describe the bug**
When in an active room, changing to another room, a popup appers with hardcoded english text in it. Its a problem because then we cant translate it in the locales.

**Screenshots**

![billede](https://user-images.githubusercontent.com/36155981/111786338-fa08a880-88bd-11eb-85f5-894d232dea40.png)

[2021-03-19 13:26] daloes opened #1240 "Chat blue send message button appears inconsistently on width change"
**Describe the bug**
When you're on desktop chat is on right side of discussion. In this desktop mode blue button for sending message is not visible. But if you resize windows just right, button appears while layout still shows the chat as sidebar

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any room on desktop
2. Start resizing window horizontally
3. Observe (diss)appearing send bu

[2021-03-19 13:26] dk-raw commented on #1237
**The community would not appreciate that.**

[2021-03-19 13:29] benawad commented on #1110
we might need to fork/pr then

[2021-03-19 13:29] daloes commented on #1238
Dup of #1234

[2021-03-19 13:30] #1238 closed, assigned to nobody

[2021-03-19 13:38] overlisted commented on #1237
Your "possible solution" can easily be bypassed if the speakers just occasionally sent some sound using the api

[2021-03-19 13:44] daloes commented on #1135
If you enter the room and then go back with home button, counter shows correct value, When you leave room with "Leave room" it's borked again

[2021-03-19 13:46] daloes commented on #1219
I think this is dup of #1135

[2021-03-19 13:49] daloes commented on #1234
Issue also mentioned in #774

[2021-03-19 13:49] Abogical commented on #1237
It's not perfect. However, this is aimed at users who wouldn't bother with the API and have completely forgotten the room somehow.

[2021-03-19 13:51] daloes commented on #775
Also german words can change meaning just by capitalisation

[2021-03-19 14:01] daloes commented on #1157
also can't reproduce on w10 chrome 87. Chat only stays open if I leave room via home, as expected, but not when via "Leave room"

[2021-03-19 14:02] #1157 closed, assigned to nobody

[2021-03-19 14:03] dk-raw commented on #1157
**My bad, I thought that clicking the doge in the left corner was leaving the room**

[2021-03-19 14:04] nadirabbas commented on #1110
yeah, I'll see what I can do

[2021-03-19 14:07] dk-raw commented on #1237
**There is not way of distinguishing "forgotten" rooms and rooms that are open for specific reasons like `Prog / Dev discussion`**

[2021-03-19 14:29] daloes commented on #1234
Also deleted message is missing translation
[message retracted]

[2021-03-19 14:33] Aducj1910 opened #1245 "Be able to see chat history of a room if you were in that room already"
Whenever I leave a room, and rejoin it the chat is basically blank, is it possible to have it so that the chat doesn't go blank if you leave a room for say only 5 minutes.

[2021-03-19 15:01] sumnerevans opened #1249 "Hash banned usernames instead of storing the plaintext username"
**Is your feature request related to a problem? Please describe.**

As mentioned in https://www.youtube.com/watch?v=oa84RnBsieo, storing banned usernames is problematic for GDPR.

This issue is to document one idea that could solve this problem.

EDIT: this is a more permanent solution to the issue raised in #981.

**Describe the solution you'd like**

See [original YouTube comment](https://www.yo

[2021-03-19 15:47] drvladb opened #1255 "Build Failures"
Builds are failing due to no CF API Token:

Though it is in the Secrets, its blank for anyone but the repo owner (benawad). Anyone know why this is happening?

[2021-03-19 15:49] jamesql commented on #1237
I think its a big part of the community aspect especially with the room timer at the top. imo i think people like it

[2021-03-19 15:52] amitojsingh366 commented on #1229
Ok ill look into it.

[2021-03-19 15:54] Abogical commented on #1237
Seems this idea is pretty unpopular :disappointed: I'll close the issue.

[2021-03-19 15:54] #1237 closed, assigned to nobody

[2021-03-19 15:55] drvladb commented on #1255
@benawad Please get rid of the PR deploy Github Actions until I can get this fixed.

[2021-03-19 15:59] jamesql commented on #1207
Is anybody working on this? if not is anyone willing to help me out on the front end part sometime?

[2021-03-19 16:17] banana-cream-Pi commented on #1107
I agree this is a good suggestion.

[2021-03-19 16:21] GyanendroKh opened #1267 "React Native in Yarn Workspaces."
I've been using a package for using react native inside a yarn workspaces.
So far there are no issues but iOS is not supported. And I don't have any experience working with iOS as I don't have any Apple product. If anyone can add iOS support it would be great to use the package here.

Package: [react-native-yarn-workspaces-v2](https://www.npmjs.com/package/react-native-yarn-workspaces-v2)

[2021-03-19 16:39] jamesql commented on #1234
im gonna wait untill all the translations are merged and then ill add these in

[2021-03-19 16:49] Nautman commented on #981
I actually know a possible solution to this. It is to store a hashed value of the data that they register with. As such, it is practically impossible to know who has been blocked [but easily verifiable].

EDIT: This is how you would stop someone from keep creating free trials. Simply store a hashed value of their email. I'm not entirely sure if this is GDPR-compliant enough, but I can't imagine it

[2021-03-19 16:54] nadirabbas commented on #981
@benawad do it like Facebook, don't immediately delete their account, set a period (such as 48 hours), in this time period, they can undo the delete and have their account back. this way, they can't spam.

[2021-03-19 16:55] Nautman commented on #1249
Yeah this is the best fix that I can think of, so I agree with you. This is the relevant closed issue btw #981. When I wrote my comment there I didn't see that you had published an issue with a potential fix :)

EDIT: I also think that it should be a hashed id, rather than a username. Otherwise, one would be able to change their username and be unbanned.

[2021-03-19 16:56] MaheshNat opened #1273 "Cannot open the electron application on Ubuntu 20.04"
When attempting to open the electron application on Ubuntu 20.04, I get the following error message:
load_input_helper [1918]: Using XFree86 keyboard layout.
load_input_helper [1920]: XKB support is required to accurately determine keyboard characters!
/opt/DogeHouse/dogehouse: symbol lookup error: /opt/DogeHouse/resources/app.asar.unpacked/node_modules/iohook/builds/electron-v85-linux-x64/build/R

[2021-03-19 16:58] MaheshNat commented on #1273
This is probably an issue with the iohook package, but here's another issue that should help: https://github.com/wilix-team/iohook/issues/268

[2021-03-19 17:00] Hasintha-Jayasinghe commented on #981
yes, add another column to the user table and call it 'deleted'. This value is a boolean. So then when they delete the account, it'll just set the 'deleted' column to 'true'. Then if they try to create an account with the same credentials again, all you have to do is set the 'deleted' column of the user to 'false'.
I hope that made sense.

[2021-03-19 17:00] TheOtterlord commented on #1249
I agree, using the auth id is better than username.

Interesting. I completely forgot about this.
I'm not sure if we would need this whether we hash or not, but I'm no legal expert.

[2021-03-19 17:01] Nautman commented on #981
Isn't it somewhat problematic to keep storing the user data after you have requested that it be deleted? @nadirabbas @Hasintha-Jayasinghe

[2021-03-19 17:03] komen205 commented on #544
I tried a simple code and it works.

[code]
![image](https://user-images.githubusercontent.com/59452877/111816651-fd5b5e80-88d4-11eb-8aec-be128aab7108.png)

[2021-03-19 17:03] Hasintha-Jayasinghe commented on #981
yes but as @nadirabbas mentioned, we can program it to delete the data after 48 hours.

[2021-03-19 17:07] MadanBhandari commented on #24
this issue still exist ?

[2021-03-19 17:13] nadirabbas commented on #981
@Nautman while they have clicked delete, we don't store any data about them unless they undelete. whenever they log into their account, they just see the page _**you have requested an account delete, undo?**_

[2021-03-19 17:16] Hasintha-Jayasinghe commented on #981
But this only happens if they request undelete before the 48 hour period right? Otherwise they have to create an account again

[2021-03-19 17:17] nadirabbas commented on #981
yes

[2021-03-19 17:18] nadirabbas commented on #981
Facebook does it too, so its pretty reasonable.

[2021-03-19 17:19] Hasintha-Jayasinghe commented on #981
This shouldn't be too hard to implement. Would you like me to try?

[2021-03-19 17:21] Hasintha-Jayasinghe commented on #981
@nadirabbas Would you like me to try and implement this sort of thing?

[2021-03-19 17:21] nadirabbas commented on #981
@benawad needs to give a go-ahead.

[2021-03-19 17:39] Nautman commented on #981
I still don't understand what the benefits are of storing user data for 48 hours. Perhaps it lets people regret what they have done? Besides, it will also complicate things as you will have to set up deletion jobs.

But I like the privacy point of not storing data afterwards. After all, this is supposed to be the next big thing ;)

Have you seen #1249 btw?

[2021-03-19 17:40] danBamikiya opened #1277 "✨ Cleaner more understandable commit messages ✏️"
**Is your feature request related to a problem? Please describe.**
Hi everyone, I'll like to suggest the use of cleaner, properly organised commit messages that everyone including new contributors can understand using [commitizen](https://www.npmjs.com/package/commitizen).

**Describe the solution you'd like**
I know you love your contribution workflows so this will be configured so you can keep c

[2021-03-19 17:43] nadirabbas commented on #981
you are not getting what i am trying to say, just lookup how Facebook does it.

[2021-03-19 17:55] Linux123123 opened #1283 "Add appimage to electron releases"
**Is your feature request related to a problem? Please describe.**
So I am on arch and I would like to use the desktop app, but I need to use something like `debtap` or manually put the files in the correct places to install the application.

**Describe the solution you'd like**
Add target `AppImage` in the `build.linux.target` array of `baklava/package.json`.
https://github.com/benawad/dogehouse/

[2021-03-19 17:59] drvladb commented on #1273
Hmmm, it seems like this is fixed (https://github.com/wilix-team/iohook/pull/279) on Feb 5th. @MaheshNat Try building your own binary after running `sudo apt-get install -y libxkbcommon-x11-0`.

[2021-03-19 18:04] yummyweb commented on #1273
This issue is being looked by the Baklava team. This is a clone of #1112. This issue will also be listed in the README soon. Please close this issue.

[2021-03-19 18:28] jamesql commented on #1069
is anyone working on this?

[2021-03-19 18:30] #1255 closed, assigned to nobody

[2021-03-19 18:36] jamesql commented on #750
@yummyweb do you still want to work on this id be interested to take on the back end

[2021-03-19 18:36] willdoescode opened #1285 "Logging in with electron desktop app on OSX opens github/sessions/two-factor and stops."
**Describe the bug**
When logging in with github on the electron desktop app for OSX the app opens up https://github.com/sessions/two-factor and then does not log in.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dogehouse app on OSX
2. Click on login
3. Enter info
4. Enter 2fa code
5. The page opens and page is not found

**Expected behavior**
I expect 2fa to work and log me in.

**

[2021-03-19 18:37] willdoescode commented on #1285
Auth code is already expired don't try to steal

[2021-03-19 18:38] HonbraDev opened #1286 "Electron app icon is too large on macOS"
**Describe the bug**
The icon is too big.

**To Reproduce**
Steps to reproduce the behavior:
1. Download DogeHouse
2. Run on macOS
3. See

**Expected behavior**
Icon is same as others

**Screenshots**
![Snímek obrazovky 2021-03-19 v 19 33 45](https://user-images.githubusercontent.com/54026315/111827803-a2346680-88ea-11eb-900b-f7aeda4134bb.png)

**What device are you on?**
MacBook Pro 2014

**Addit

[2021-03-19 18:40] HonbraDev commented on #1285
lmao

[2021-03-19 18:55] benawad commented on #1277
commitzen is already setup just needs to be enforced, I will start doing that after new design hits

[2021-03-19 18:55] vi241 commented on #1286
I wanted to say that lol

[2021-03-19 18:56] Deep-Codes commented on #1286
I fixed it

<img width="292" alt="Screenshot 2021-03-20 at 12 25 48 AM" src="https://user-images.githubusercontent.com/61158210/111829575-dde32680-8912-11eb-87a7-cacaf39892e6.png">

I can work on a PR

[2021-03-19 19:03] vi241 commented on #1286
it will be helpful if you will do