[2021-02-12 15:18] jonaskuske opened #1 "Room name can be blank if you add a ZWJ"
If the name only has spaces you'll get a "Name can't be blank" error, if it only has ZWJs it errors with "Must have at least 2 characters", but if you use a ZWJ (so it's not blank) as well as spaces (to match the character requirement) you can circumvent the validation and create rooms with no name.

No showstopper I guess, but given that the "mustn't be blank" error is already in place, I figure

[2021-02-12 15:19] rampa2510 opened #2 "Try again button for giving permission to mic not working"
When I clicked on the mic button and denied it the permission it showed me a prompt to try again. But now when I click on try again it does not work.

[2021-02-12 15:21] yezz123 commented on #2
Same thing happen to me right now!

[2021-02-12 15:26] lokeshcs opened #3 "Error - Voice couldn't get through"
Receiving a console error saying `send-track send failed Cannot read property 'recvTransport' of undefined` and also this toast

<img width="1767" alt="Screenshot 2021-02-12 at 9 05 19 PM" src="https://user-images.githubusercontent.com/49974617/107788174-1d4baf80-6d76-11eb-8df6-f0c5c1078d63.png">

[2021-02-12 15:27] yigitlevent opened #4 "error connecting to voice server"
When trying to join the room "React.js and Kubernetes", this error pops up:

`error connecting to voice server | Cannot read property 'recvTransport' of undefined`

Mind you, this room had 80+ listeners/speakers when this error started to occur, but I am still able to listen to other rooms with lower number of listeners/speakers.

[2021-02-12 15:28] fkoeppling opened #5 "Have the own avatar always be on top / first in room"
People are full of themselves, let them see themselves w/o searching

[2021-02-12 15:29] yigitlevent commented on #4
Welp, I wasn't fast enough.

Duplicate of #3

[2021-02-12 15:29] yigitlevent commented on #3
I'll copy my issue here:

`error connecting to voice server | Cannot read property 'recvTransport' of undefined`

Mind you, this room had 80+ listeners/speakers when this error started to occur, but I am still able to listen to other rooms with lower number of listeners/speakers.

[2021-02-12 15:29] #4 closed

[2021-02-12 15:30] jacobhq opened #6 "Add a toast notification for people leaving or joining"
A bit like google meet or zoom.

[2021-02-12 15:31] nerrixDE opened #7 "Cannot read property 'recvTransport' of undefined"
... and get randomly disconnected with websocket error. Probably infra at 100%

[2021-02-12 15:31] #7 closed

[2021-02-12 15:32] lokeshcs opened #8 "Enhancement - show total number of people in the chat room while on the screen"
Great job with DogeHouse. It would be great if chat room page also displays total number of people in the room.

[2021-02-12 15:33] rampa2510 opened #9 "I can't see the number of followers"
It's showing zero followers for every account. I noticed this when I clicked on my avatar and saw that the following numbers was right but the followers number is 0.

[2021-02-12 15:33] jacobhq commented on #9
I think it shows the number of people you're following on GitHub but it shows the number of people who follow you on the platform.￼

[2021-02-12 15:34] starbuck93 opened #10 "Remove yourself from "Speakers" without refreshing webpage"
![image](https://user-images.githubusercontent.com/5626027/107787852-a7b3f500-6d1d-11eb-8d3e-5df8a5f16f3a.png)

If you're a "Listener", click the button to become a "Speaker", but you can't go back to a "Listener" without refreshing the page.  Maybe the "Speaker" icon (above) could change to a "headphones" icon if you want to become a "Listener" again.

[2021-02-12 15:35] CreamyCheese384 opened #11 "Mic list"
Microphone list is 3 options but all the options are empty

[2021-02-12 15:35] rampa2510 commented on #9
No for me it shows the correct following but the follow number is zero. It's same with other accounts.

[2021-02-12 15:38] nerrixDE opened #12 "GDPR: Add account wipe"
So you can comply with GDPR and all data about me you saved is gone

[2021-02-12 15:38] TheRawMeatball opened #13 "Add LICENSE"
It's not open source if you don't have a license - at best its source available

[2021-02-12 15:39] starbuck93 commented on #11
![image](https://user-images.githubusercontent.com/5626027/107788516-7ee02f80-6d1e-11eb-8caf-ea8914ab94fd.png)

Like this? Take a screenshot?

[2021-02-12 15:39] yigitlevent opened #14 "Tooltips for buttons"
As per title.

[2021-02-12 15:41] zrakhimov opened #16 "I can still hear people talking when I exit the room / go to main list of rooms"
It might be a good idea for UX to actually disable voice/speakers when you get out of the room

[2021-02-12 15:42] kubakakauko opened #17 "More privacy"

[2021-02-12 15:43] #13 closed

[2021-02-12 15:43] starbuck93 commented on #16
I like this feature, personally. Because you can sill listen or participate while browsing menus and the list of other rooms.

![image](https://user-images.githubusercontent.com/5626027/107789051-1d6c9080-6d1f-11eb-8997-8988abd949bd.png)

Just use this button/icon to disconnect.

[2021-02-12 15:45] NaveenKumarMN20 opened #18 "Type of permission required (Microphone) is not showing up"
![Capture](https://user-images.githubusercontent.com/25030929/107789086-2d17c380-6d77-11eb-9879-ce7f3a914074.PNG)

The permission dialogue just displays dogehouse wants to

[2021-02-12 15:45] nerrixDE commented on #17
undescriptive

[2021-02-12 15:46] ghost opened #19 "Edit bio and avatar on the website"
Allow users to edit their bio and their avatar directly on the DogeHouse site.

[2021-02-12 15:46] fkoeppling commented on #12
OC, very important! Also provide easy way to download user data and fleshed out privacy statement. I, as a user from the EU must know what data you collect about me ;D

[2021-02-12 15:46] yigitlevent opened #20 "Private Rooms"
Private rooms would be nice, or rooms that you need to ask for joining.

[2021-02-12 15:47] fkoeppling commented on #19
Github is the auth provider.

[2021-02-12 15:48] priyanshuSharma-WebDev opened #21 "Add Chat feature when people can't able to access their microphone and if they don't want to talk."
Well I know this is discord thing but it really helpful.

[2021-02-12 15:51] nerrixDE commented on #12
pg-dump as a service

[2021-02-12 15:53] ExtraE113 opened #22 "Home page doesn’t render on Firefox mobile"
![AD24FBE6-4C46-4A42-BA66-5AC9BDBCD9E8](https://user-images.githubusercontent.com/33768950/107789716-cd81cf80-6d06-11eb-809d-681f65f80100.png)
This is what a new user sees when loading on firefox mobile. Requesting the desktop site fixes this.

iPhone 8
iOS 14.3
Firefox Mobile Daylight 31.0

[2021-02-12 15:53] ExtraE113 commented on #22
Some further testing reveals that no pages render without requesting the desktop sitr

[2021-02-12 15:57] yezz123 opened #23 "Error :Refresh mic list"
After giving the permissions to microphone in the website and checking the Voice setting i didn't found any microphone plugged and i try to refresh and nothing work .

[2021-02-12 15:57] ExtraE113 opened #24 "Title overflows div"
![133A1830-AF91-4F14-9F9F-E614DA9B62F2](https://user-images.githubusercontent.com/33768950/107790632-d4f5a880-6d07-11eb-9c70-1c2cbc0f47db.jpeg)

Firefox mobile 31, iPhone 8

[2021-02-12 15:57] rampa2510 commented on #21
This is a clubhouse clone not a discord one no need for a chat box

[2021-02-12 15:59] ExtraE113 commented on #16
I also like this feature but it would be nice if the home page told you which room you’re in

[2021-02-12 15:59] jinrehacek commented on #22
Maybe it's iOS only problem? Because it works fine on Firefox Android 9, MIUI 12, Xiaomi Redmi Note 8T.

[2021-02-12 16:01] ajmalfaiz opened #25 "Have to login again: Auth-token not stored in localstorage maybe"
Once the browser is off. Had to login again.

[2021-02-12 16:02] Rashmi-278 opened #26 "Followers and Following counts are incorrect compared to github."
When I visit my profile , it says incorrect number of followers count and correct number of following count.

[2021-02-12 16:04] realwakils commented on #19
You can change that info on http://github.com/

[2021-02-12 16:05] lokeshcs opened #27 "Privacy issue - mic auto unmute"
When admin add a new speaker and the user had their mic as ON in previous chat room then it automatically makes their mic as ON as soon as the user is added as Speaker.

Possible Solutions:
- Ask for listener's consent to make them speaker when admin adds the listener as speaker if listener didn't ask admin to be a speaker.
- Start new speaker as mute. They can unmute when they want to speak.

[2021-02-12 16:11] benawad opened #28 "Original Roadmap"
0. Fix bugs

- x-state??
1. Fill in missing things

??? notifications → app needed → react-native-web

??? global keybinds → desktop app needed → electron

2. Option to record rooms [podcast]

3. Discord/Twitch features for monetization

- DogeNitro
- DogeSubs
- DogeAds

[2021-02-12 16:15] starbuck93 opened #29 "Link to create new private room"
I'm not sure if the title describes my idea. Telegram has the "t.me/username" feature where you can quickly chat with someone and people typically post that url on their Twitter bio. I believe Zoom also has a "instant meetings" link for users like "zoom.us/my/username". I think a cool feature could be to add a link to your dogehouse.tv profile url and send a request to voice chat in a private room

[2021-02-12 16:16] avarayr commented on #12
hotfix: make the whole app unavailable in the EU.

[2021-02-12 16:17] AustinVieth opened #30 "Ease Of Use Fixes For UI"
The UI icons are somewhat confusing,

Labels for the Icons would be appreciated!

This problem becomes more of an issue because you can only ask to speak once in a room. In my case I entered the room, clicked the icons to see what they did, had no feedback, and then by clicking again I figured out I requested to speak.

I love the project though, I think a little more affordance would go a long wa

[2021-02-12 16:17] avarayr opened #31 "End to End Encryption"
Would be cool to have end to end encrypted voice chats.

[2021-02-12 16:28] priyanshuSharma-WebDev commented on #21
Yeah I know, Well it's funny but I can't able access my microphone that's why I really missed chat feature.

[2021-02-12 16:28] TheJaysH commented on #30
100% Even just something like an HTML title attribute would help a lot

[2021-02-12 16:30] Rizialdi commented on #28
Hi Ben,

Do you think that it could be an option for listener to have a chat window to add message ? For example, speakers sometimes come to a subject and Im sure there's always someone who want to add some points. This could also serve speaker to invite listener.

[2021-02-12 16:30] benawad opened #32 "Ask to speak with a note"

[2021-02-12 16:33] TheDutchMC opened #34 "Volume adjustment"
Sometimes people just arent loud enough :) (and the rest may be too loud)

[2021-02-12 16:33] samarmohan opened #35 "You can use unicode characters to create rooms with blank names"
I can use the hangul's filler and other blank unicode chars. The room's name then becomes blank. Maybe you should add a check to see what characters it is?

[2021-02-12 16:34] sendQueue opened #36 "Option to enable a chat within the room"

[2021-02-12 16:35] samarmohan commented on #21
This is smart. I was about to create an issue about this but this is already there!

[2021-02-12 16:35] samarmohan commented on #36
Duplicate of #21

[2021-02-12 16:35] #36 closed

[2021-02-12 16:36] samarmohan commented on #16
Yeah, it's a feature not a bug :)

[2021-02-12 16:37] samarmohan commented on #1
Reference to #35

[2021-02-12 16:42] tejasag opened #37 "User left but room still shows user's name"
So like Ben was in a room right now and even after he left, the room on the home page was showing Ben's name and even after I refreshed 3-4 times, it still showed Ben Awad in room user list at the hoom screen. It only got removed when he made a new room...

[2021-02-12 16:43] MaheshNat opened #38 "Text Chat"
Listeners are unable to react with the speakers in any shape or form. At the very least a text chat would enable listeners to participate in the conversation. If you are afraid of spam you could have slow-mode toggleable or make it emote-only.

[2021-02-12 16:44] paolotiu17 opened #39 "Poll feature"
Having polls would be a great way to interact with listeners.

[2021-02-12 16:51] #26 closed

[2021-02-12 16:51] vhoyer opened #40 "As a listener, I can choose an emoji to send to the speaker"
This should be used to send quick reactions to the speakers, like:

:clap:, :+1:, :-1:, :tada: etc

[2021-02-12 16:53] MaheshNat opened #41 "Deafened Feature"
Title says it all, a feature like the "deafened" option in discord to both mute your audio and prevent you from hearing audio. Good if you need to temporarily listen to something else but don't want to click off of a dogehouse entirely.

[2021-02-12 16:53] vhoyer opened #42 "As a listener, you can pay to send text messages to the speakers"
Like, the super chats from youtube

[2021-02-12 16:57] samarmohan opened #44 "In rooms, names can only be up to 9 letters long."

[2021-02-12 16:57] vhoyer commented on #28
Let me comment on web notifications:

You said you have a perception that 99% of ppl don't use notifications, but, as a main user of webapps, I use the push notifications selective, and if I didn't want the notifications on the web, I wouldn't want than on a native app. :D

So like, either notifications are bad, or I want then, so I don't think that web notifications are inherently bad

[2021-02-12 16:59] samarmohan opened #45 "Enable discussions."

[2021-02-12 16:59] samarmohan commented on #20
Aren't those already there?

[2021-02-12 17:00] benawad opened #46 "change audio level of speakers individually"

[2021-02-12 17:00] TheDutchMC commented on #46
#34 Would be fixed by this too

[2021-02-12 17:02] samarmohan commented on #46
This is technically a dupe of #34

[2021-02-12 17:03] nerrixDE commented on #12
no lmao. data export isnt mandatory for companies with less than a few mio users.

[2021-02-12 17:03] samarmohan commented on #19
Yeah, this links to GitHub. So change your info on GH.

[2021-02-12 17:04] samarmohan commented on #45
@benawad

[2021-02-12 17:04] KhushrajRathod commented on #28
How about a CLI for this? I could try to work on that

[2021-02-12 17:04] SudhamJayanthi opened #47 "No Sound ⚠️"
We need to create a room and turn our mic on for the first time to hear others in other rooms! Comment if it's not clear!

Possible solution:
Ask for voice permissions initially while signing up

Detaills:
Browser - Chrome
OS - Windows 10

[2021-02-12 17:10] samarmohan opened #48 "Blank screen after reopening tab. You must reload page"
This isn't a big deal though.

[2021-02-12 17:11] tomowen02 opened #49 "Labels for buttons"
I think it would be useful to have labels for when you hover your mouse above a button. Just means you don't have to guess what things mean

[2021-02-12 17:12] Asu-for-you opened #50 "Input device change"
Could you add a feature to select your input device manually  without joining a room

[2021-02-12 17:12] SinadShan opened #51 "Username not visible"
GitHub username not visible while joining rooms.

[2021-02-12 17:15] samarmohan commented on #47
There should be a button that you click that asks for perms.
That was pretty smart adding an emoji

[2021-02-12 17:16] ankemp opened #52 "Remove need for centralized voice server"
Use P2P WebRTC networking instead of connecting everyone to a centralized server.
[webrtc-swarm](https://github.com/mafintosh/webrtc-swarm) does this.
You can use something like [signalhub](https://github.com/mafintosh/signalhub) to do the initial peer connection.

Take a peak at this repo: https://github.com/tom-james-watson/p2p.chat - he got p2p chat working pretty well it seems.

[2021-02-12 17:20] benawad opened #53 "be able to unraise hands"

[2021-02-12 17:20] benawad opened #54 "bottomvoice control should be on every screen"

[2021-02-12 17:21] MrMalloc opened #55 "Show usercount inside the room"
It would be nice to have a counter inside the room to see how many people are in the room right now so you don't have to switch back to the roomlist. It could probably show right next to "Speakers" and "Listeners" so it would be like "Speakers (5)" and "Listeners (23)"

[2021-02-12 17:27] CreamyCheese384 commented on #11
No, no, like this:![](https://user-images.githubusercontent.com/69057421/107801078-ebc7e980-6d5f-11eb-8de6-6557dd138f36.jpg)

[2021-02-12 17:29] gdrose opened #56 "Cannot speak/listen to anything"
I tried to switch browsers/check permissions but nothing works, I can't hear/talk.

My browser permissions are fine, and also it doesn't ask for any type of permissions

[2021-02-12 17:32] hanisirfan commented on #34
Yeah, maybe should implement something like Discord. If you implement this it would be very cool @benawad . Better than Google Meet lol

[2021-02-12 17:33] arnoob16 opened #57 "Feature Request : Private Rooms created now can be joined later."
I created a private room, and on cutting the call, the room disappears. It would be nice if there's a private room tab, where all the private room's of a user is listed and they can join the rooms whenever they want to.

[2021-02-12 17:41] aleccool213 opened #58 "No way to donate dogecoin for project maintenance"
me sad

[2021-02-12 17:45] AlekSimpson opened #60 "Seeing mobile view on desktop view"
Seems like I am seeing a mobile view on my desktop. Looks kinda odd with all the white space on the sides. The UI code is open source right?

[2021-02-12 17:48] jaipack17 opened #61 "Unable to toggle between Listeners and Speakers"
Hi there,
First of all props to Ben Awad for making the web app. Its really amazing and has inspired me a lot.

Here's where the issue is -

When changed my role from a Listener to the Speaker. I am no longer able to switch back to the role of a listener.

Is there something I am doing wrong or is it a bug?

[2021-02-12 17:53] soham0-0 opened #62 "Incorrect Follower count"
![](https://user-images.githubusercontent.com/62219251/107803940-52153200-6d89-11eb-8f5b-67040152e24c.jpeg)

[2021-02-12 17:55] glappy-py opened #63 "New feature !!"
You should add a chat section for the listeners to type because some introverts like me prefer chat instead of voice 😂

[2021-02-12 18:09] Abogical opened #64 "Federation?"
If you actually take this seriously, you could implement this social network as a federated decentralized network through Activitypub (What mastodon uses) or Matrix.

https://activitypub.rocks/

[2021-02-12 18:20] MikeSundaysProgrammer opened #65 "Button Text Transform"
This is a minor issue, but I think the UI could be improved if the buttons have the text in all caps like most websites have

[2021-02-12 18:27] husseinraed opened #66 "add kabab directory"
idk just make it an api endpoint

[2021-02-12 18:38] SinadShan opened #67 "Feature Request : Toggle between public and private rooms"
An option that enables rooms to toggle between private and public visibility even after they are created.

[2021-02-12 18:38] ccm7676 opened #68 "Can’t hear IOS brave Browser"
Can’t hear even though ring tone is on and volume is at max

[2021-02-12 18:40] benjamiinn1 opened #70 "Does not pick up new github profile picture"
Any chance we can get a solution to changing profile picture on the site?

[2021-02-12 18:54] calebbhosha opened #71 "User experience"
1. Can you change the icon to a fill showing that I have raised my hand?
2. Can I send a message?
3. if I press the home button at the top left whilst inside a room, does it leave the room

[2021-02-12 18:56] giuseppecampanelli commented on #44
@samarmohan it's actually 10 characters
https://github.com/benawad/dogehouse/blob/45bde51bc3a58845dc6398fc771432ef43bdb095/kofta/src/vscode-webview/components/UserNode.tsx#L73

With 10, it ensures that no name goes onto a second line. Would have to see with @benawad

[2021-02-12 19:00] ExtraE113 commented on #63
Hi, welcome to GitHub! It’s generally considered good form to have a *specific* and *actionable* issue title. In this case you might be better off titling this issue “Add text chat”

[2021-02-12 19:05] selfrisingfloor commented on #61
I don't think there's an option to move back yet

[2021-02-12 19:09] angular4life opened #73 "DogeHouse not updating Bio / Name"
When I update my Github Name or Bio, DogeHouse is not updating it.

[2021-02-12 19:29] benawad commented on #68
is this only happening on the brave browser on that device for you?

[2021-02-12 19:32] #55 closed

[2021-02-12 19:33] #66 closed

[2021-02-12 19:35] Salmon-e commented on #68
I've also had to leave rooms and then rejoin them several times for audio to work. I'm using Chrome.

[2021-02-12 19:35] benawad commented on #52
I would like to be able to host +1K listeners , I don't think p2p can support that

[2021-02-12 19:35] #52 closed

[2021-02-12 19:38] #8 closed

[2021-02-12 19:42] selfrisingfloor opened #74 "Issue: Room closes if there are no speakers left and the app keeps trying to connect to the closed room"
Right now, the room just crashes/closes if the last speaker leaves the room. And the app just keeps trying to the closed room.

My suggestion would be to either display a message letting people know that the room has been closed
or prompt all listeners if any of them would want keep the room open and switch to a speaker

[2021-02-12 19:48] bole8dog3 opened #75 "Github profile urls"
Hi! Make it so that when you open someone's profile pic, you can click on their github username and open their github profile, as in discord. (Right now it's not clickable.)

 Thanks.

[2021-02-12 19:53] Veekthor opened #76 "show button/icon function on hover"
I had to click the buttons at the bottom of the chat room to know what they do. I ended up being a speaker at some point. A tooltip on hover would be nice :-)

[2021-02-12 20:19] r3nanp commented on #28
### Hi @benawad!

I will make a template using Electron + Typescript + React, to make maintenance easier.

[2021-02-12 20:22] samarmohan commented on #44
Well the code may say that but in practice it doesn't work.

[2021-02-12 20:22] samarmohan commented on #44
Ill attach a screenshot

[2021-02-12 20:22] samarmohan commented on #44
![image](https://user-images.githubusercontent.com/71091489/107818817-c88c4280-6d3d-11eb-812c-222a970d5d90.png)

[2021-02-12 20:24] giuseppecampanelli commented on #44
@samarmohan yeah my bad, I forgot the endIndex on slice is exclusive.
Nonetheless, I believe it's limited to this to prevent spillover to a 2nd line. But maybe it can be increased 1-2 chars.

[2021-02-12 20:26] mohamed-azhar commented on #49
Tooltips!

[2021-02-12 20:35] kweken commented on #76
Yes please do this one, had the same happen to me

[2021-02-12 20:52] creepinson commented on #47
I clicked the try again button to ask for perms (I'm on firefox btw) and it went back to the main page and said room doesn't exist anymore and did nothing.

[2021-02-12 20:59] kayowakmelese opened #78 "feature suggestion"
hi ben i have been using dogehouse for 3hrs nice job bro but we really need some snippet sharing tool for sharing some links everybody was spelling urls to tell one another it will be really helpful bro

[2021-02-12 21:06] giuseppecampanelli commented on #75
If we want this added I created PR #79

[2021-02-12 21:06] Hmerin opened #80 "Weird pixels in create room input while writing"
I wanted to create a room and saw that behaviour on the input, so I recorded it to show you hoping you could fix that.

## System info

macOS 10.15.7
Catalina

## Browser
Google Chrome
Version 88.0.4324.150 (Official Build) (x86_64)

## Screenshot / Video

https://user-images.githubusercontent.com/12837326/107822482-f3d25a00-6d5c-11eb-95f8-57612ef24bca.mov

[2021-02-12 21:07] #75 closed

[2021-02-12 21:13] giuseppecampanelli commented on #51
@SinadShan when you join a room it shows your GitHub name (note: not username) and only the first 9 characters of it

[2021-02-12 21:13] takashi1kun commented on #28
It would be nice to be able to select the output device, i have connected both, speakers and hearphones and it was sounding through the speakers.

[2021-02-12 21:17] majksec opened #81 "On reload room disappeared"
If you make public/private room then while you are inside your room just reload the page and room will disappear. Not sure if this is supposed to happen or not?

[2021-02-12 21:25] majksec opened #83 "Error handling while room does not exists."
If you browse to https://dogehouse.tv/room/ and after /room/ add random value there will be error like shown on screenshot.

![image](https://user-images.githubusercontent.com/65724849/107824036-11191f80-6d81-11eb-8a38-7aff7b649455.png)

[2021-02-12 21:32] majksec commented on #83
Also, make sure when you browse to https://dogehouse.tv/room/ to redirect either index page or create room page, otherwise it will stay blank like it is now.

[2021-02-12 21:52] majksec opened #84 "Making private room public is missing popup field css"
Make room private, then change try to convert it to public room:
![image](https://user-images.githubusercontent.com/65724849/107826226-d2856400-6d84-11eb-8043-f7a5ae77b71d.png)

[2021-02-12 21:57] giuseppecampanelli commented on #81
Were you the only one in it when you reloaded? @majksec

[2021-02-12 22:07] MrMalloc opened #85 "Wrong footercomponent after device switch"
If you switch your Device e.g. from desktop to mobile phone while being in a room the UI on the phone shows the Footer component instead of the BottomVoiceControl one.

[2021-02-12 22:11] mikestaub commented on #28
I would prioritize moderation tools. Clubhouse didn't do that and it nearly sunk them.

[2021-02-12 22:15] mikestaub commented on #64
I would wait until Twitter announces the protocol they plan on using. https://twitter.com/bluesky

[2021-02-12 22:29] majksec commented on #81
No there was 2 persons in the room @giuseppecampanelli

[2021-02-12 22:35] mikestaub opened #86 "video sharing"
Perhaps it would be useful for the speakers to share their screens?

Here is another similar project using the agora.io API: https://github.com/bestony/neshouse

[2021-02-12 22:39] samarmohan commented on #16
@ExtraE113, it does tell you. The room you are in is light gray.

[2021-02-12 22:40] Abogical commented on #64
ActivityPub is a W3C standard that is already established and integrated with many social media platforms. There's no need to need to wait for a protocol that hasn't been finalised for more than a year.

On 13 February 2021 00:15:30 EET, Michael Staub <notifications@github.com> wrote:

[2021-02-12 22:42] highdox opened #87 "X-Overlfow on Mobile"
Where:
Landingpage

Behavior:
User is able to scroll along the x axis.

Expected Behavior:
User is only able to scroll along the y axis.

Device: iPhone XS
Browser: Google Chrome

[2021-02-12 22:55] Mito9999 commented on #87
Hmm, I can't seem to replicate this bug. Could you please share a screenshot of the overflow?

[2021-02-12 23:07] highdox commented on #87
Very weird, can't replicate it anymore. But I saw another visual bug when I tried: ![image](https://user-images.githubusercontent.com/49474412/107831937-7d9b1b00-6d8f-11eb-9f6a-5aed9fb902c4.jpeg)

[2021-02-12 23:10] highdox commented on #87
Very weird, can't replicate it anymore. But I saw another visual bug when I tried: ![image](https://user-images.githubusercontent.com/49474412/107832081-cbb01e80-6d8f-11eb-9628-ff0097b70205.jpeg)

[2021-02-12 23:11] r3nanp commented on #28
That is true. @mikestaub

[2021-02-12 23:28] giuseppecampanelli commented on #84
The prompt box is a system object that is not subject to CSS, and hence can't be modified. A workaround would be to create a custom element prompt or use a library that provides one.
https://github.com/benawad/dogehouse/blob/88671cf8008d252a7631ad49ea7b3cb7b2afa2c1/kofta/src/webrtc/utils/renameRoomAndMakePublic.ts#L4

[2021-02-12 23:32] giuseppecampanelli commented on #81
@majksec Were they speakers or listeners?

[2021-02-13 00:05] dhanielcodes opened #88 "I can't login anymore"

[2021-02-13 00:05] takashi1kun commented on #88
Same, it also kicked me out of the room i was talking

[2021-02-13 00:05] Akorian opened #89 "Got kicked out of the talk."
I got kicked out of a chill talk with the guys. Wanted to log in again but the thing is not working. Screenshot attatched.
![Screenshot_2021-02-13-01-04-34-649_com android chrome](https://user-images.githubusercontent.com/37375458/107834800-9dced800-6d97-11eb-8b39-273fc2ef3bf3.jpg)

[2021-02-13 00:06] McFranko commented on #88
Happened to me as well, it seems like api.dogehouse.tv is down

[2021-02-13 00:07] TSMMark commented on #88
App is down. Got kicked out of the room i was in and can't sign back in. Only the login screen seems to load. Related: #89

[2021-02-13 00:07] Salman2301 opened #90 "Can't Login"
The Website log me out and can't login again.
When i click i the login button,
it redirects me to a 500 Error page on this link
https://api.dogehouse.tv/auth/github/callback?code=0266xxxxxxxx33e&state=web

After a reload got this response

[code]

[2021-02-13 00:07] EmmyMay commented on #89
I am having this problem too. I think there is a problem right now. It is still in pre-beta so have some patience I guess. Maybe try back tomorrow.

[2021-02-13 00:08] SturmEnte commented on #88
I also got kicked out and now i cant login anymore

[2021-02-13 00:08] Mipsters commented on #88
same, Image for reference:
![image](https://user-images.githubusercontent.com/4920832/107834884-497c2600-6da0-11eb-9154-bfe0ed70c78b.png)

[2021-02-13 00:08] takashi1kun commented on #88
related: https://github.com/benawad/dogehouse/issues/90

[2021-02-13 00:08] ChrisAdels commented on #88
it was such a nice talk 🙈

[2021-02-13 00:09] november-pain opened #91 "When logging in I get 500 Internal Server Error"
response:

error | "code expired, try to login again"

[2021-02-13 00:09] TSMMark commented on #90
#88

[2021-02-13 00:09] SturmEnte commented on #88
Do you have Discord? If yes, here is my Discord: SturmEnte#4367  Gesendet von Mail für Windows 10 Von: ChrisGesendet: Samstag, 13. Februar 2021 01:09An: benawad/dogehouseCc: SturmEnte; CommentBetreff: Re: [benawad/dogehouse] I can't login anymore (#88) it was such a nice talk 🙈—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or unsubscribe. 

[2021-02-13 00:09] Salman2301 commented on #88
We back
https://dogehouse.tv/room/06c53a8a-1af0-497a-846b-3ee1eb3586be

[2021-02-13 00:11] Mipsters commented on #90
not sure what the code value represents, consider it's best if you edited it out for privacy reasons?

[2021-02-13 00:12] november-pain commented on #91
Seems like it's ok now.

[2021-02-13 00:13] Salman2301 commented on #90
Just in case 🤣

[2021-02-13 00:17] Mipsters commented on #28
Some sort of message when the application updates will be better then kicking everyone off 😆
will save you github issues

[2021-02-13 00:27] geisterfurz007 commented on #90
You should also remove it from your edit history, otherwise it's still visible. You should be able to do so by clicking the arrow on edited and then remove it from there :)

[2021-02-13 00:54] #91 closed

[2021-02-13 00:54] #90 closed

[2021-02-13 00:55] #88 closed

[2021-02-13 00:55] #89 closed

[2021-02-13 01:09] suryanisaac opened #92 ""Investors" and "Report a bug" banner disappears after going to a room and returning to the home screen"
**Browser**: Brave 1.20.103 (Chromium: 88.0.4324.152)

The title, when you go to a room and return the bottom banner ceases to exist. Might be a bug or a feature, not sure.

[2021-02-13 01:14] benawad commented on #92
expected behavior, didn't want the bottom to get too stacked

[2021-02-13 01:14] #92 closed

[2021-02-13 01:16] benawad commented on #86
I want to stick to voice for now

[2021-02-13 01:16] #86 closed

[2021-02-13 01:24] Jirushi-I commented on #68
Sometimes, I only hear one person until I rejoin.

[2021-02-13 01:25] #83 closed

[2021-02-13 01:45] RafaelPuerta commented on #9
![image](https://user-images.githubusercontent.com/20388984/107838262-d49af300-6d83-11eb-890c-0ab9b915c729.png)

Yes, the same thing happens to me, can I take this pr?😳

[2021-02-13 01:46] benawad commented on #78
This is coming

[2021-02-13 01:46] #78 closed

[2021-02-13 01:56] benawad commented on #71
1. fixed
2. coming soon
3. no

[2021-02-13 01:56] #71 closed

[2021-02-13 01:58] benawad commented on #64
central server for now

[2021-02-13 01:58] #64 closed

[2021-02-13 01:58] #63 closed

[2021-02-13 01:58] benawad opened #93 "Text chat is coming, the goal is to have it by Monday"

[2021-02-13 01:59] benawad commented on #61
fixed

[2021-02-13 01:59] #61 closed

[2021-02-13 02:03] #51 closed

[2021-02-13 02:03] #53 closed

[2021-02-13 02:11] JaxonWright opened #94 "Tipping with Dogecoin"
just think about it.

much wow.

very cool.

[2021-02-13 02:13] benawadsnightmare commented on #94
yes

[2021-02-13 02:34] benawad opened #95 "signup https://republic.co/"

[2021-02-13 03:19] Michaelkekana opened #97 "Request to speak bug"

[2021-02-13 03:24] SinadShan commented on #51
I do understand that, but in my case nothing is visible. Have a look at the image attached.
![image](https://user-images.githubusercontent.com/71889312/107840467-fbcfdf80-6dd8-11eb-9ed2-1978db50ea48.png)

[2021-02-13 03:24] #97 closed

[2021-02-13 05:07] maskeynihal opened #99 "Last card blocked by Create Room button."
- Last card view is blocked by `Create Room` button.
![card-blocked-by-button](https://user-images.githubusercontent.com/26411488/107842125-2de93d80-6de9-11eb-86c5-3a4c22af531a.png)

[2021-02-13 05:13] AndreiJirohHaliliDev2006 opened #101 "Containerize Dogehouse"
## About the Problem

Installing dependencies for the backend (Elxir API / Voice/WSS server) and frontend (React webapp / Puppeteer shenanigans AKA UI Tests and Lighthouse checks) is a mess and may cause dependency hell if left unmanged, and running them one-by-one can be also an distater.

## Solution and To-Dos

* [x] Make an `docker-compose.yml` file in the root directory that includes each sub

[2021-02-13 05:16] AndreiJirohHaliliDev2006 commented on #101
For scaling, use Kubernetes, but the problem is Docker support in Kubernetes will be removed by version 1.22. So, this may requires making own Helm charts without Docker.

[2021-02-13 05:31] DiamondMiner88 opened #103 "Null displayed when person invites you to a room"
![fsdflkjsdflsd](https://user-images.githubusercontent.com/33725716/107842615-8f71c380-6d79-11eb-83d9-8a21ebf437b8.PNG)
Could replicate on mobile & desktop Firefox

[2021-02-13 06:00] DeanHuffnagle opened #104 "Unimportant: ask to speak button is slightly off center"
The ask to speak button appears to be slightly to the left of where it should be. I hope not many programmers have OCD.

![Screenshot_20210213-005605](https://user-images.githubusercontent.com/78249916/107843160-c4d8da00-6d96-11eb-990c-3ff4d2503fc2.png)

[2021-02-13 06:13] NikolaTesla13 opened #105 "People can have -1 followers"
Steps to reproduce:

1.  Press on your profile picture
2.  Press on following
3.  Now go to github and follow Devon Crawford, you should also see him on the dogehouse at following
4.  You can see Devon has -1 followers

Note: I saw that if someone didn't opened his account, he will have 0 followers and 0 following so maybe Devon opened his account.

![screenshot](https://cdn.discordapp.com/attachm

[2021-02-13 06:26] viralvaghela opened #106 "Bio is not Updated"
Hey @benawad
After updating the bio on the Github profile it's now showing the updated bio but it's showing the old one, I also tried to clear cookies and re-login but still the same issue.

[2021-02-13 06:30] NikolaTesla13 commented on #105
I made a pull request that may solve the issue
#107

[2021-02-13 06:37] Percyvalmg commented on #28
I would suggest making the chat section for listeners only allow for 160 characters or even less.

[2021-02-13 06:53] robikovacs opened #108 "Feature request: Twitter login"
- [ ] Ability to login with Twitter account so that Elon Musk can join

[2021-02-13 06:56] robikovacs commented on #108
https://twitter.com/robi_kovacs/status/1360478338473730050?s=21

[2021-02-13 06:58] Salman2301 commented on #101
So Far this is my docker-compose

- [ ] need to run DB migrations?
- [ ] need to communicate with voice server

[code]

[2021-02-13 07:01] Yasir900aslam opened #109 "Audio Not working."
This bug happens on an Android Google chrome. Even after the interaction with the browser, I can hear people talking in the room.
Steps to reproduce:
1-  Open dogehouse in google chrome Andriod, Click the room you want to enter.
2- Accept the user interaction dialog; Once you are speaker, Audio is muted(Can't hear anyone), Even though the browser has an access to mic.

[2021-02-13 07:03] melodyogonna opened #110 "I can't see private rooms I created if I leave the room"

[2021-02-13 07:08] Yasir900aslam opened #111 "Speaker Session is persisted even after user has left the room."
Steps to reproduce:
1- Once you are a speaker in a room and left the room.
2- Rejoin the Room, You would be still be acting as a Speaker.

Mitigation:
Upon leaving the room, User should be prompted if they really want to leave the room and Speaker session should be cleaned upon approval.

[2021-02-13 08:23] EmmyMay opened #113 "Changing Speaker Rights"
A user who was on the speaking section and had their mics  turned on was causing a lot of noise. I moved them back to listener but it moved them to 'request to speak' instead and their mic still worked.

[2021-02-13 08:24] MrMalloc opened #114 "Toggle "speaker" to "listener" moves user back to "request speaker""
When you klick on "Go Back To Listener" you are moved back to "Request to speek" instead of "Listener"

[2021-02-13 08:31] Percyvalmg commented on #114
I think it's more like, when you leave a room and then enter again you come back as a person requesting to speak even though you just want to be  a listener.

[2021-02-13 08:32] MrMalloc commented on #114
Yes that happens as well.

[2021-02-13 08:57] yerlantemir opened #115 "Room creator is not able to change room's title"

[2021-02-13 08:59] MrMalloc commented on #84
Couldn't the CreateRoomModal component be reused for that?
It should be possible to detect wherther it is called within an existing room so the setPrivacy selectbox is hidden and the onSubmit event triggers the make_room_public.

https://github.com/benawad/dogehouse/blob/15b6ff81e75dcc6931aa6c66eff546d34ed032ac/kofta/src/vscode-webview/components/CreateRoomModal.tsx#L11

[2021-02-13 09:07] AndreiJirohHaliliDev2006 commented on #101
@Salman2301 It's not needed to expose the port for the PostgresDB server port. The only thing we need to expose is the frontend UI and the backend API/voice server. Also, we need volumes for the database to ensure no data is lost after shutting down the server.

Speaking of the DB migrations, because there's no documentation yet, I may look over the codebase later. As for communicating with the vo

[2021-02-13 09:13] AndreiJirohHaliliDev2006 commented on #101
As both the backend API and the websocket server has its own Dockerfiles, and since the frontend is deployed through Netlify, we don't need the Dockerfile for the frontend. @Salman2301

[2021-02-13 09:14] AndreiJirohHaliliDev2006 commented on #110
Currently, rooms are not always on like Discord or Telegram, yet.

[2021-02-13 09:35] ya5hpat3l opened #116 "Push to talk Button"

[2021-02-13 09:40] MrMalloc commented on #116
As we have noticed this would be very helpful when someone without a headset is in the room. Right now such members have to remember to mute themselves after talking so there is no echo over their speakers.

[2021-02-13 10:02] Akorian commented on #89
I mostly reported the problem here because it is a pre-beta. If its a bug or something Ben should know about it so he can fix it.
But since he has already closed it, he may already have done that or it was a general problem with something else. I dunno. 🤷

[2021-02-13 11:29] Salman2301 commented on #101
I just keep Dockerfile for frontend
so, we can start and stop all the containers during local dev.

I think there is some DB migrations stuff in `kousa/priv/repo/migrations/*.exs`
That we run in Dockerfile for kousa

IDK what's the SentryDNS
do we needed for local environments?

[2021-02-13 11:34] ianjaku commented on #101
This seems to be a typo, should be DSN ([Data Source Name](https://docs.sentry.io/product/sentry-basics/dsn-explainer/)).
Basically tells sentry where to send your events.

It's used in releases.exs so it doesn't get used in development and you can probably just remove it from the docker-compose environment variables.

[2021-02-13 11:43] Salman2301 commented on #101
@ianjaku  If i remove it, it throws the error
Cause the Dockerfile in kousa set the env as a production and we can create a new docker file for developement
to avoid it may be?

[2021-02-13 11:44] ianjaku commented on #101
Could be interesting to also add add adminer to the docker-compose file, It's extremely light weight and can be useful for testing.

Would be:

[code]

Data for postgres is located at /var/lib/postgresql/data so to add a volume we would need to add:

[code]

[2021-02-13 11:45] AndreiJirohHaliliDev2006 commented on #101
Guys, I'm currently writing the Compose file in Gitpod. Will push it into my fork for review later.

[2021-02-13 11:50] Salman2301 commented on #114
related #102

[2021-02-13 11:51] ianjaku commented on #101
@Salman2301

Ah ye my bad, the Dockerfile is building a release so it will always run the releases.exs file.

The underlying issue is that you can't use the current Dockerfile in dev (even when removing ENV MIX_ENV=prod) because the settings in releases.exs will overlap with the settings in dev.exs.

Creating a separate Dockerfile that doesn't build a release and instead just calls mix run would b

[2021-02-13 12:11] AndreiJirohHaliliDev2006 commented on #101
@Salman2301 @ianjaku I committed the file into my fork based on your feedback. Here's it: https://github.com/MadeByThePinsHub/dogehouse/blob/andreijirohhalilidev2006/containerize-101/docker-compose.example.yml

Also, the proposed README that I wrote states that you should duplicate the example file as `docker-compose.yml` as there are environment variables for GitHub OAuth app ID and secret that w

[2021-02-13 13:29] nadirabbas commented on #116
@benawad I can work on this.

[2021-02-13 13:30] nadirabbas opened #120 "Kofta doesn't have env"
I can add the env file and overwrite the API base.

[2021-02-13 13:53] #120 closed

[2021-02-13 14:33] #10 closed

[2021-02-13 14:34] #17 closed

[2021-02-13 14:35] benawad commented on #20
click the public dropdown when you create a room

[2021-02-13 14:35] #20 closed

[2021-02-13 14:36] benawad commented on #22
try it without the slash at the end and see if that is the problem

[2021-02-13 14:38] benawad commented on #23
If the browser isn't returning any mics, idk if there is anything I can do. It usually has to do with a mic privacy setting.

[2021-02-13 14:38] #23 closed

[2021-02-13 14:38] benawad commented on #25
are you able to recreate?

[2021-02-13 14:39] #32 closed

[2021-02-13 14:40] #38 closed

[2021-02-13 14:40] #40 closed

[2021-02-13 14:41] #45 closed

[2021-02-13 14:41] #46 closed

[2021-02-13 14:45] PuckZDev opened #125 "Login Problem"
My default browser is brave and every time i try to log in it switches to chrome.

[2021-02-13 14:46] tanay-pingalkar opened #126 "make separate contribution guide and describe how to get started"
I have forked and cloned the repo on my local machine, but i dont know how can i can i run the app. Please give me step by step guide

[2021-02-13 14:53] vaibhav135 opened #127 "guidelines to build the project"
Hii,
I am new to opensource can you please help me as to how I can build the project and if possible please add the instruction in the readme.MD.
current os: Ubuntu 20.04
Thank you

[2021-02-13 14:53] LetsMelon commented on #28
It would probably also be good if listeners could give live feedback to the speaker with emojis. So that the emoji is next to his logo and is visible to everyone in the room.

[2021-02-13 14:57] vaibhav135 commented on #126
same query here...

[2021-02-13 15:00] corysimmons opened #128 "Don't let people promote you to a Speaker unless you are asking for it"
I keep joining channels and people immediately promote me to speaker. There are dozens of victims constantly screaming and I'm afraid they are going to alert the authorities if this keeps up. >:[

[2021-02-13 15:02] nadirabbas commented on #128
+1

[2021-02-13 15:10] vaibhav135 commented on #126
+1

[2021-02-13 15:20] vaibhav135 commented on #128
+1

[2021-02-13 16:03] drvladb opened #130 "Show a public server usage dashboard"
Create a public dashboard to show how much of the voice / db server CPU and memory is used.

[2021-02-13 16:35] maskeynihal commented on #99
Solved by #100

[2021-02-13 16:35] #99 closed

[2021-02-13 16:38] nadirabbas commented on #127
# Kousa

To build kousa (Elixir backend) work, you need the following things installed:

Requirements:
### 1. PostgreSQL
        Start the server and create a DB
### 2. RabbitMQ (and RabbitMQ management plugin)
            you can possibly use apt for this. And windows people can use choco install rabbitmq, and then enable the plugin by
       using the bat file in the C:/Program Files/sbin folder

[2021-02-13 16:39] Abhishek12345679 commented on #128
thumbs up the comment to show support, don't +1.

[2021-02-13 16:40] nadirabbas commented on #126
# Kousa

To build kousa (Elixir backend) work, you need the following things installed:

Requirements:
### 1. PostgreSQL
Start the server and create a DB

### 2. RabbitMQ (and RabbitMQ management plugin)
you can possibly use apt for this. And windows people can use choco install rabbitmq, and then enable the plugin by
       using the bat file in the C:/Program Files/sbin folder `./rabbitmq-plugin

[2021-02-13 16:44] nadirabbas commented on #127
answered #126

[2021-02-13 16:58] drvladb opened #131 "Admit all Request to Speak"
Have a button that allows the mods / owner to admit everything asking to speak

[2021-02-13 17:06] nadirabbas commented on #131
isnt it already there?

[2021-02-13 17:11] rkr-dev opened #132 "Some kind of Ranking for the speakers for the time that they spoke."

[2021-02-13 17:12] drvladb commented on #131
If you want to control the amount of people that enter?

[2021-02-13 17:16] nadirabbas commented on #131
you can kick unwanted people out

[2021-02-13 17:34] Playit3110 opened #133 "Keep screen on while beeing a speaker"
It would be great to let the screen on as long as you want to talk. If you are just a listener it doesnt matter, but as a speaker you need to change some setting or mute yourself and then the screen turns off.

[2021-02-13 17:39] drvladb commented on #133
Possible implementation (using wakelock): https://developer.mozilla.org/en-US/docs/Web/API/Screen_Wake_Lock_API

[2021-02-13 17:46] TSMMark opened #134 "Mic doesn’t work after “Add to home screen“"
On iPhone I installed the pwa to home screen and the mic doesn’t work. Works in safari tho

![B002B77E-B934-4050-8AE9-48A3B5DECFD8](https://user-images.githubusercontent.com/4197823/107856923-7ad51000-6df9-11eb-83bb-f632a99b9ecd.png)

[2021-02-13 18:20] ajmalfaiz opened #135 "Design issue : room title length broke the page"
Minor issue

[2021-02-13 18:32] dovenokan opened #136 "text did not fit to box."
![afwafawf](https://user-images.githubusercontent.com/42724589/107858000-edb6a900-6e42-11eb-8d26-6f1946e91ef5.png)

[2021-02-13 18:38] Playit3110 commented on #136
yeah we need to limit it

[2021-02-13 18:40] SonGokussj4 opened #137 "Updated GitHub description won't update on DH"
Hi Ben, great app!

I've noticed that after I changed (yesterday, it's around 20 hours now) the description of my profile on GH, on DogeHouse it's not updated. Not even if I log in through Incognito mode.

[2021-02-13 18:41] nadirabbas commented on #137
Yeah I think right now that info is only fetched when you sign up.

[2021-02-13 18:46] SturmEnte opened #138 "Websocket won't connect"
My client won't connect to the websocket

[2021-02-13 18:51] SturmEnte commented on #138
I think it doesn't work because of my browser(I use Brave)

[2021-02-13 18:54] CoderLogy commented on #28
Can I help you in making python backend and also to tell you I am working on a cloud cryptocurrency I anyone wants to help me in that of course you are welcome

[2021-02-13 18:55] MrMalloc commented on #136
Limiting probably won't be enough because of different screen sizes. I think it would be better to tackle the issue via css with text-overflow: ellipsis;

[2021-02-13 18:56] CoderLogy commented on #28
I have made a chat application I think we you should make like this one something https://login-eb9cb.web.app/

[2021-02-13 18:57] tanay-pingalkar opened #139 "Why this behaviors /problem with responsive design"
![Screenshot_2021-02-14-00-21-29-200_com android chrome](https://user-images.githubusercontent.com/72514547/107858586-fca95580-6e5a-11eb-96c2-0f1306887512.jpg)
I don't have requested desktop site
Can someone turn off zoom
Use this snippet to stop zoom
[code]
And please someone work on responsive design

[2021-02-13 19:00] MrMalloc commented on #139
same as #135

[2021-02-13 19:02] tanay-pingalkar commented on #139
@MrMalloc ok then please turn off zoom using that above code

[2021-02-13 19:16] AB1231231231231231 commented on #139
The Bug will be solved soon. :)

[2021-02-13 19:17] Playit3110 commented on #136
Ok It will be solved soon. :)

[2021-02-13 19:18] Playit3110 commented on #139
Ok It will be solved soon. :)

[2021-02-13 19:19] Playit3110 commented on #135
Ok It will be solved soon. :)

[2021-02-13 19:23] november-pain opened #141 "Negative number of followers"
![іівмівм](https://user-images.githubusercontent.com/53942656/107859359-b267aa80-6e41-11eb-8941-9a5bd41a8c6d.jpg)

[2021-02-13 19:50] william-buerk opened #142 "COPPA Regulations"
You may want to consider adding a simple check box to confirm that users are 13 years of age or older. While I can't think of any specific COPPA regulations Dogehouse would be breaking, it may just be a good idea to help avoid any of the possible legal issues associated with this.

[2021-02-13 20:03] ianjaku commented on #142
Github already has this in their regulations right?
As long as we're only using Github as sign-in I feel like we should be fine there, no?

[2021-02-13 20:13] SturmEnte opened #143 "Unsupported Browser"
Dogehouse doesn't work with Brave

[2021-02-13 21:21] corysimmons commented on #128
+1

[2021-02-13 21:30] MrMalloc commented on #128
This could be related with #114
Once you were speaker in a room you will always join as "asking to speek".

[2021-02-13 21:32] PuckDan opened #145 "Formatting"
![Screenshot_20210213-153015_Brave](https://user-images.githubusercontent.com/65829743/107862184-b5967280-6e10-11eb-9874-9537b39f9b86.jpg)
![Screenshot_20210213-153033_Brave](https://user-images.githubusercontent.com/65829743/107862188-b9c29000-6e10-11eb-8475-a2c8f031c805.jpg)

[2021-02-13 21:36] MrMalloc commented on #145
This is related to #136 and should be resolved with #140

[2021-02-13 21:42] ShahrozTanveer commented on #9
# Got same issue

![image](https://user-images.githubusercontent.com/31120765/107862346-215af880-6e6e-11eb-92a7-601cd0cf163c.png)

[2021-02-13 21:46] ShahrozTanveer opened #146 "Added to Requesting to speak"
After once your are added to **Speakers** list. When leave that room and then join that same room again then it will automatically add you to **Requesting to speak**

[2021-02-13 21:52] ShahrozTanveer commented on #146
![image](https://user-images.githubusercontent.com/31120765/107862554-2a989500-6e6f-11eb-8936-82236b155cbe.png)

- **After leaving and joining that same room again**

![image](https://user-images.githubusercontent.com/31120765/107862522-1359a780-6e6f-11eb-9a98-91f600df2f7b.png)

[2021-02-13 22:11] gsdeveloper opened #147 "Add a 404 page"
## Problem
When going to a non-existent route dogehouse either shows nothing or goes back to the home page, but as google says ["...we recommend that you create a custom 404 page. A good custom 404 page helps people find the information they're looking for, and also provides other helpful content that encourages people to explore your site further."](https://developers.google.com/search/docs/advan

[2021-02-13 23:05] highdox opened #148 "Inaccurate Github followers"
Where:
https://dogehouse.tv/me

Behavior:
User has different follower-count and individual followers than on Github.

Expected Behavior:
The users Github follower-count and followers are the same as displayed on the dogehouse.tv website.

Device: MacBook Pro 16"
Browser: Google Chrome

<img width="619" alt="Screenshot 2021-02-13 at 23 50 56" src="https://user-images.githubusercontent.com/49474412/

[2021-02-13 23:36] corysimmons commented on #128
I think it's unrelated. I definitely didn't ask to speak in some of the rooms. Room mods just manually promote me to speaker I guess. I think the fix is just disabling them from promoting you to speaker unless you're actively asking for it.

[2021-02-14 00:11] drvladb opened #149 "Chat bans are global"
Chat bans are distributed across rooms, regardless if you are the owner or not.

Edit: Untill you reload the page

[2021-02-14 00:21] benawad commented on #149
latest commit should fix

[2021-02-14 00:21] #149 closed

[2021-02-14 00:39] DeanHuffnagle opened #150 "Spamming in chat"
It's insanely easy to spam in chat

![Screenshot_20210213-193840](https://user-images.githubusercontent.com/78249916/107865327-2ea6c180-6e33-11eb-93ff-0fb2eb11b2bb.png)

[2021-02-14 00:56] benawad opened #151 "alert user on the frontend when they have been banned and they try sending a message"

[2021-02-14 00:56] benawad opened #152 "prevent user from sending more than 1 message a second in chat on the frontend (this is already on backend)"

[2021-02-14 00:58] PuckDan opened #153 "slowmode on chat"
The owner of the room should be able to disable and enable slowmode. like discord.

[2021-02-14 01:12] drvladb commented on #150
Fixed by 1sec slowmode

[2021-02-14 01:14] drvladb commented on #151
Hasn't this been fixed?https://github.com/benawad/dogehouse/blob/d220885d8f481107ced3e019ad07467b33c36713/kofta/src/vscode-webview/modules/room-chat/RoomChatInput.tsx#L24

[2021-02-14 01:25] benawad commented on #151
if you refresh the page the frontend store will be gone and you can type messages but nothing will happen

[2021-02-14 01:26] #150 closed

[2021-02-14 01:36] msal4 opened #155 "clickable links in chat"
We need clickable links in the chat

[2021-02-14 01:38] msal4 commented on #155
I'll do this one if no one is already working on it.

[2021-02-14 01:42] drvladb commented on #155
Idea: Have a popup when you click on one that asks you if you really want to do that.

[2021-02-14 01:43] PuckZDev opened #156 "Change the color of your name in chat"
It would be pretty cool if you can change the color of your name, and if it saves when you go to different rooms. It's like twitch.

[2021-02-14 01:45] Playit3110 commented on #156
like make it random but the user can also choose one

[2021-02-14 01:47] msal4 commented on #155
yeah, but always opens links in a new tab.

[2021-02-14 01:51] antonelmvik commented on #155
Yes

[2021-02-14 02:02] Chihebmabrouk8 opened #157 "chat still appear even when leaving the room"

[2021-02-14 02:04] drvladb commented on #157
Working on that now

[2021-02-14 02:07] Chihebmabrouk8 commented on #157
ok i hope you fixe it

[2021-02-14 02:12] #67 closed

[2021-02-14 02:29] MooseTheCoder commented on #28
Have you considered using [coturn](https://github.com/coturn/coturn) for the voice side of things? I built a small discord clone a while back and found it extremely useful having something that done the bulk of the hard work.

[2021-02-14 02:54] drvladb commented on #127
Hey,
This is partly being solved by PR #101. Once that is done, a simple `docker-compose up` will do

[2021-02-14 03:05] nadirabbas opened #159 "Kousa doesn't honor API_URL environment variable"
Kousa uses `api.dogehouse.tv/auth/github/callback` as the redirect URI for Github auth even after setting the `API_URL` environment variable in prod build. Getting a URL mismatch because of this. Does anybody else encounter this?

[2021-02-14 03:07] AndreiJirohHaliliDev2006 commented on #127
@drvladb Actually the PR/issue number you mentioned is an issue, not an merge request.

[2021-02-14 03:11] drvladb commented on #127
Thanks @AndreiJirohHaliliDev2006, Fixed!

[2021-02-14 03:44] #159 closed

[2021-02-14 04:29] thenerdsuperuser opened #160 "Room disappeared on rebooting the system"
Whatever rooms I was a part of and the room I had created got removed after I rebooted my laptop.

[2021-02-14 04:29] Jirushi-I opened #161 "UX issues around chat"
Right now, chat and voice feels really disconnected.

Problem 1: People didn't realize there was a conversation going on in chat, were confused by the silence and left.
Possible Solution 1: A notification sound you can mute. Also maybe a ping beside the icon of the unread message's sender.

Problem 2: I got distracted and missed a guy saying that he had to go in chat
Possible Solution 2: A notific

[2021-02-14 05:31] tanay-pingalkar opened #162 "why docker compose up failed"
![Screenshot 2021-02-14 102546](https://user-images.githubusercontent.com/72514547/107869426-b205f880-6eaf-11eb-8d25-17c887f6ef2c.jpg)
why this failed and what is purpose of python

[2021-02-14 06:16] OfshoX opened #163 "Add option to block users"
I think dogehouse should have a block feature if someone is annoying or is just shouting and the users dont want to hear it.

[2021-02-14 07:33] nadirabbas opened #165 "Bottom nav: other icons move when Mic icon toggles"
![Hnet com-image](https://user-images.githubusercontent.com/38838675/107871140-c69ebc80-6ec0-11eb-8498-0773465e4413.gif)

[2021-02-14 07:36] nadirabbas opened #166 "Mic list dropdown: options contrast isn't enough"
![image](https://user-images.githubusercontent.com/38838675/107871184-3745d900-6ec1-11eb-80aa-b833e6b504b2.png)

[2021-02-14 07:49] corysimmons opened #167 "@benawad <-- add this to chat"
Imagine making a clubhouse clone over a weekend and not having every single feature absolutely perfect. PepeLaugh

[2021-02-14 07:50] corysimmons commented on #167
This Issue reminds me, add emotes. PogU

[2021-02-14 08:28] JanHolger opened #168 "Sometimes a single person can't hear another single person"
We didn't find out how to replicate it yet but there seems to be a small chance for it to happen. We had it happen once yesterday and it just happened again.

[2021-02-14 09:18] RUBINELEZI opened #169 "No back button when chat is open on mobile phone"
When on mobile (samsung), cant go back to the room once chat is open, if i press back the browser just closes.
(Galaxy note 9, chrome)

[2021-02-14 09:22] MrMalloc commented on #169
You can press the chat button again. The Chatbutton is like a toggle.

[2021-02-14 09:49] leonardopaffi opened #170 "Sound notifications"
These are my ideas:
- When someone is joining the room
- When someone leaves the room
- User requesting to join the speaker group

It is really hard to tell if someone wants to speak or if has joined if you are currently watching another tab/software.

[2021-02-14 09:53] #169 closed

[2021-02-14 09:53] RUBINELEZI commented on #169
Noice

[2021-02-14 10:09] hem1t opened #171 "Add shortcut keys"
I think it would be better, if you had shortcut keys!
List of what I think is essential.
* mute/unmute
* chat
* require permission to speak
* Invite

[2021-02-14 10:15] Stancobridge opened #172 "Electron App for DodgeHouse"
I will like to follow in the start team for the electron app or this project, @benawad I have sent you message on Twitter about this

[2021-02-14 10:16] hem1t commented on #171
* mute/unmute
* chat
* require permission to speak
* Invite

[2021-02-14 11:04] leonardopaffi opened #174 "Unicode combining characters are enabled in the chat and room titles"
![Immagine](https://user-images.githubusercontent.com/8465162/107874839-c0a6dc80-6ebc-11eb-8455-a8277625a0a0.jpg)

[2021-02-14 12:04] SturmEnte commented on #143
It works now

[2021-02-14 12:04] #143 closed

[2021-02-14 12:31] shakky24 opened #176 "Missing emoticons"
I think adding emotions would be great.

[2021-02-14 12:41] JanHolger commented on #176
this is already planned, take a look at the top of the chat window (:

[2021-02-14 12:47] JanHolger opened #177 "Allow the room admin to change the room's name/title"
During our conversations we happenend to change topic's quite randomly so it would be great if the room admin would be able to change it's title so people know what the current conversation is about.

[2021-02-14 13:36] JanHolger commented on #177
even though i'm more of a vue guy i'll try to get this implemented

[2021-02-14 13:46] benawad commented on #168
I'm going to be adding a debug mode today, that should help pinpoint this.

[2021-02-14 13:48] #93 closed

[2021-02-14 14:04] glappy-py opened #178 "New bug on mobile 📱 version"
When I request to talk , and the host accepts my request , suddenly the audio is gone and I can't hear what they are speaking

[2021-02-14 14:47] gigo1980 opened #179 "How to start Mediasoup Server on macos"
Hi, can anyone tell me. What will be the requirements for running the Mediasoup Server direct on MacOS (BigSur) and how I can start it? Docker Version is looking ok.

[2021-02-14 14:48] benawad commented on #178
Are you able to recreate or is this a first time thing?

[2021-02-14 15:11] JanHolger commented on #179
I didn't try running the voiceserver locally yet but here are the requirements of mediasoup: https://mediasoup.org/documentation/v3/mediasoup/installation/#linux-osx-and-any-nix-system

[2021-02-14 15:26] amnjain opened #181 "Able to hear after leaving room"
Hi, I just noticed this bug on my mobile browser when I leave a room but the voice of that room's speakers keep coming. Have a look into it.

[2021-02-14 15:44] gsdeveloper commented on #181
Same issue as #16. It's being [worked on](https://github.com/benawad/dogehouse/projects/1#card-54838707).

[2021-02-14 16:40] AndreiJirohHaliliDev2006 opened #183 "Discord Support server"
GitHub Discussions is a nice place to discuss about the future of DogeHouse, but what if people want to check if the API servers and the website is up and running? How about if they want to suggest something without adding more noise to the Issue Tracker? Well, Discord.

## Invite Link

<https://discord.gg/ZVdbW32ZeN>

## Todo

- [ ] Add moderation bots to keep things from chaos
- [ ] Rules and ch

[2021-02-14 16:51] benawad opened #184 "do react-aria things"

[2021-02-14 17:03] LeulAria opened #185 "Supporting other OAuth providers... gitlab, google..."

[2021-02-14 17:04] Hmerin commented on #80
This behaviour seems to be fixed for the current version of dogehouse, @benawad feel free to close the issue.

[2021-02-14 17:05] darshgun opened #186 "Add timestamps to chat messages"
It'll be helpful to have timestamps for chat messages

[2021-02-14 17:08] #80 closed

[2021-02-14 17:34] #165 closed

[2021-02-14 17:35] #11 closed

[2021-02-14 17:47] nadirabbas commented on #186
@benawad I can work on this if this is feature is wanted.

[2021-02-14 17:57] benawad commented on #172
I'm going to create a guide on how to setup everything locally soon and then you can use that to test the electron app with local api

[2021-02-14 18:02] benawad commented on #183
good idea, I'll just create a separate one rather than transfer

[2021-02-14 18:02] #183 closed

[2021-02-14 18:02] benawad opened #190 "Discord https://discord.gg/wCbKBZF9cV"
https://discord.gg/wCbKBZF9cV

[2021-02-14 18:10] PuckZDev opened #191 "chat dot out of place"
![dogehouse](https://user-images.githubusercontent.com/65829743/107885033-8853ce00-6ebd-11eb-8b92-e4ba2de431f6.PNG)

[2021-02-14 18:18] #191 closed

[2021-02-14 18:22] MaheshNat opened #192 "Pinned messages for chat"
have the ability for mods to pin certain messages, so that they will be stored. Any new members that join the room will be able to view the pinned chat messages. I don't know how viable this would be since you are likely not storing any chat information permanently as of now, but just a suggestion. It could be used to pin important links or a message describing what the room is talking about.

[2021-02-14 18:26] markxoe commented on #162
You have to go the Server location as described here https://github.com/benawad/dogehouse#structure
If you want to start the Voice Server go into the folder shawarma

[2021-02-14 18:39] FotieMConstant opened #193 "CODE OF CONDUCT for new contributors"
Hi, I think a Code of conduct for new contributors will be great @benawad, to help keep things clean amongst contributors. I can work on that at put it up on a pull request.

[2021-02-14 18:47] nadirabbas opened #194 "Add anchor to links in chat"

[2021-02-14 18:58] benawad commented on #155
I haven't setup the system to handle different types of message tokens yet, wait for me to add emotes to do this.

[2021-02-14 19:00] #49 closed

[2021-02-14 19:12] FotieMConstant commented on #193
Created a pr for this issue here #195

[2021-02-14 19:13] benawad commented on #3
note to self: this is probably caused by a race condition when a listener tries to subscribe when a room/speaker leaves

[2021-02-14 19:13] benawad opened #196 "add privacy policy and terms"

[2021-02-14 19:16] benawad commented on #138
are you on android, ios, or web?

[2021-02-14 19:17] benawad commented on #138
if you are on web, could you see what the console says

[2021-02-14 19:17] #76 closed

[2021-02-14 19:28] drvladb commented on #193
Done by #195

[2021-02-14 19:33] #14 closed

[2021-02-14 19:41] OfshoX commented on #163
sorry the close was a mistake

[2021-02-14 19:59] #16 closed

[2021-02-14 20:05] #47 closed

[2021-02-14 20:10] PuckZDev opened #200 "turn down the volume of a specific person"
So when someone's mic is too loud you can turn down the volume on that specific person.

[2021-02-14 20:49] benawad opened #202 "will need ssr eventually, probably worth converting to next.js"

[2021-02-14 21:05] Stancobridge commented on #172
Alright great I will be waiting

[2021-02-14 21:44] NadirAbbasAlegnor commented on #202
@benawad is this open to work or are you working on this?

[2021-02-14 21:49] FotieMConstant commented on #193
The pr has been approved and merged, closing this issue!

[2021-02-14 21:49] #193 closed

[2021-02-14 21:54] benawad commented on #202
I'm not working on this right now (and won't for a while), you can give it a try if you want but I think it will be tricky

[2021-02-14 21:55] NadirAbbasAlegnor commented on #202
I will give it a try.

[2021-02-14 22:18] #34 closed

[2021-02-14 22:22] #30 closed

[2021-02-14 22:24] benawad commented on #22
could you see what is in your console

[2021-02-14 22:26] #74 closed

[2021-02-14 22:26] #21 closed

[2021-02-14 22:27] #50 closed

[2021-02-14 22:28] benawad commented on #103
What do you do to replicate?

[2021-02-14 22:31] #105 closed

[2021-02-14 22:31] #108 closed

[2021-02-14 22:32] #113 closed

[2021-02-14 22:33] benawad commented on #111
this is the behavior that I want

[2021-02-14 22:33] #111 closed

[2021-02-14 22:33] #114 closed

[2021-02-14 22:33] #116 closed

[2021-02-14 22:33] #128 closed

[2021-02-14 22:34] benawad commented on #125
The server only redirects you to a url, I don't think there's anything I can do about this

[2021-02-14 22:34] #125 closed

[2021-02-14 22:39] #135 closed

[2021-02-14 22:39] #157 closed

[2021-02-14 22:39] #136 closed

[2021-02-14 22:40] #139 closed

[2021-02-14 22:40] #141 closed

[2021-02-14 22:41] #146 closed

[2021-02-14 22:41] #148 closed

[2021-02-14 22:42] #147 closed

[2021-02-14 22:46] #200 closed

[2021-02-14 22:47] #181 closed

[2021-02-14 22:49] OfshoX opened #207 "cant see chat history"
I would like to see the chat history when I get enter a room and all I can see is an empty chat.

[2021-02-14 22:50] benawad commented on #207
this is intended behavior atm

[2021-02-14 22:50] #207 closed

[2021-02-14 22:52] OfshoX commented on #207
ok

[2021-02-14 23:05] OfshoX opened #210 "Edit and delete chat messages"
Deleting and editing chat messages is important for a social network with a chat, and i really need to delete a message, so pls add it.

[2021-02-14 23:14] pxd3v opened #211 "Improve UI when changing from listening to speaking"
HI!

I recently joined a room in the app and took me like 5 minutes to figure out how to speak, so i think that we can work on an improve for it!

[2021-02-14 23:42] #177 closed

[2021-02-14 23:51] benawad opened #213 "notifications page to see who followed you"

[2021-02-15 00:18] Nate314 opened #214 "Leaving and reconnecting due to switching devices causes duplicating messages in chat"
Screenshot showing issue:
![image](https://user-images.githubusercontent.com/18621780/107893468-04b3d480-6ef1-11eb-81fc-613b5d0a9bf7.png)

audio streams may also be duplicated, I haven't investigated this further yet

[2021-02-15 02:04] benawad opened #215 "twitter oauth loads random user"

[2021-02-15 02:04] NadirAbbasAlegnor opened #216 "Add react-tooltips"
Somebody is already working on this, just thought it should have an issue

[2021-02-15 02:42] benawad opened #217 "Requesting to speak, after server deploy, you try to add them but it doesn't work"

[2021-02-15 03:10] Hasintha-Jayasinghe opened #218 "Can't install repo in windows"
After cloning the repo and attempting to install the dependencies it get's stuck on 'mediasoup'

[2021-02-15 03:52] AndreiJirohHaliliDev2006 commented on #183
Hmmmm... Okay.

[2021-02-15 05:24] nadirabbas commented on #172
media-soup doesn't seem to be building on windows, I think it only supports max/Linux for now.

[2021-02-15 05:27] bilal-abraham opened #221 "Speaking Bug"
If you request to speak in a room, get accepted, and then leave when you rejoin you are automatically placed in the speaking room and there is no way to switch back to listening. A minor error, but might be annoying to some.

[2021-02-15 07:04] nadirabbas commented on #218
You need to use Windows Subsystem for Linux (WSL) or a Virtual machine to run it, `mediasoup-client` can't be built on windows.

[2021-02-15 07:31] Hasintha-Jayasinghe commented on #218
I was trying with wsl.
I tried with yarn and npm.

[2021-02-15 08:43] JanHolger commented on #218
mediasoup-client is totally fine, as it's js/ts only. mediasoup itself requires c++ build tools. You can find the instructions in the mediasoup docs.
https://mediasoup.org/documentation/v3/mediasoup/installation/#windows

I haven't tested it myself but as they have this section in the docs i guess it should work.

[2021-02-15 09:18] theekrystallee opened #222 "constraint error/follow button does not return"
the follow button does not return anything.

my path:
room -> my profile -> my follower list -> ben's profile -> ben's following list -> jiana's profile

https://user-images.githubusercontent.com/56278409/107924248-80c90f00-6f27-11eb-8405-f9f57fd90210.mov

[2021-02-15 10:05] PaulJoshi opened #223 "Not working on Edge browser for Android"
The website is completely blank in Microsoft Edge for Android

[2021-02-15 12:05] gigo1980 opened #224 "Seperated React Components to use the functionality?"
Did you think about building separate React Components as a lib, that others can also use the wrapper around mediasoup?

[2021-02-15 12:59] tanay-pingalkar commented on #162
https://github.com/benawad/dogehouse/pull/118
This why this is telling to make run docker compose up in dogehouse dir and said to make docker yml file.
I think I should  manually setup the project.

[2021-02-15 13:21] TripingPC opened #226 "Users without a display name appear blank"
If someone with a GitHub account without a display name joins the room, their name in the grid appears blank instead of using their username.

name in listeners list:
![image](https://user-images.githubusercontent.com/8508676/107951870-fdc7a900-6f66-11eb-8bad-5fb4fa7b7df0.png)

name in profile window:
![image](https://user-images.githubusercontent.com/8508676/107951903-09b36b00-6f67-11eb-80c2-c36d

[2021-02-15 13:31] Nuckerr opened #227 "Mentioning users *enhancement*"
Just a suggestion to add mentioning users in chat (sorry if this has already been suggested)

[2021-02-15 13:33] TripingPC commented on #161
What if sending a message made a chat bubble icon show in the top-right of your avatar in the grid for a second.

[2021-02-15 13:38] overlisted commented on #202
Why? Apps that are mostly hidden behind auth usually don't need SSR

[2021-02-15 13:41] TripingPC commented on #170
[Dogehouse_SFX.zip](https://github.com/benawad/dogehouse/files/5981824/Dogehouse_SFX.zip)
Made these sounds as part of a pack for another project, but ended up not using these.

[2021-02-15 13:56] Debaucus opened #228 "[Feature] Sending Private room link as Invite link. Protected Rooms."
Kind of fall hand in hand which is why I am posting together.

Invite to private (or any room for that matter) via link.
- Allows people not already previously added on the platform to create a room together.

Protected rooms.
- Password Protection
- "Instead of password you the creator can choose to let someone in" [https://discord.com/channels/810571477316403233/810571477770174506/81087168439438

[2021-02-15 13:58] Mudrank opened #229 "Still can hear the audio when left the room"

[2021-02-15 14:02] benawad commented on #202
DogeHouse doesn't need it now, but in the future more things will be public

[2021-02-15 14:14] Zimquadery opened #230 "[Feature request] Collaboration/white board"
This feature may come handy for brainstorming. Specifically, game idea brainstorming. Now, most of the game devs uses discord for voice and jamboard for idea development. Sending jamboard link is gross 🤮. It may also be useful to UI/UX designers.

[2021-02-15 14:21] samarmohan opened #231 "Change branch from master to main. This is more inclusive and equal."

[2021-02-15 14:49] overlisted commented on #202
Oh, an "anonymous" mode can indeed be added.

[2021-02-15 14:52] Debaucus commented on #194
Link preview may also be good while doing this.

Show prewview box with meta info.

[2021-02-15 14:58] lupu60 commented on #230
@benawad  maybe excalidraw can be integrated.

[2021-02-15 15:33] nadirabbas commented on #231
What exactly do you mean by "inclusive and equal"?

[2021-02-15 15:34] vaibhav135 commented on #127
Thanks guys

[2021-02-15 15:34] nadirabbas commented on #227
#232

[2021-02-15 15:34] #127 closed

[2021-02-15 15:38] nadirabbas commented on #210
On it

[2021-02-15 15:52] naefun opened #233 "Avatar disappears when window width is very small"
Avatar profile picture shrinks to the point it disappears when reducing screen width very small.

Could be fixed by adding some flex-wrap and gap and remove some margin :)

[2021-02-15 16:00] naefun commented on #233
Before --
![image_2021-02-15_155320](https://user-images.githubusercontent.com/43324580/107968169-ecea5800-6fa5-11eb-82d6-c31c9633791a.png)

After--
![image](https://user-images.githubusercontent.com/43324580/107968804-ba8d2a80-6fa6-11eb-9b41-19a9d153cc4a.png)
![image](https://user-images.githubusercontent.com/43324580/107968841-c547bf80-6fa6-11eb-9379-8982dcec721e.png)

[2021-02-15 16:46] tanay-pingalkar opened #234 "npm start and npm run build failed in kofta"
i did npm i and then dit npm run build as readme but this following error comes
[code]

[2021-02-15 16:52] carlosqsilva commented on #234
you should run `npm run build` on **Sharma** according `Readme`

[2021-02-15 17:06] gsdeveloper commented on #229
Duplicate of #16.

[2021-02-15 17:13] gsdeveloper commented on #229
Duplicate of #16. It's a feature and is [solved](https://github.com/benawad/dogehouse/projects/1#card-54838707)

[2021-02-15 17:16] tanay-pingalkar commented on #234
i still get error i am on windows unfortunately

[2021-02-15 18:27] ridarf commented on #231
Main and master are synonymous in this context.

[2021-02-15 18:37] samarmohan commented on #231
Do you guys not understand? Master refers to slavery. Main is better.

[2021-02-15 18:38] samarmohan commented on #231
https://www.zdnet.com/article/github-to-replace-master-with-main-starting-next-month/
https://www.techrepublic.com/article/github-to-replace-master-with-main-starting-in-october-what-developers-need-to-know/
https://www.git-tower.com/learn/git/faq/git-rename-master-to-main/

[2021-02-15 18:46] DiamondMiner88 commented on #103
1. Create a room (In this case I used a private room)
2. Get the creator of the room to invite you to the room
3. You will see "null invited you to a room, would you like to join?"
Initially I found this while testing with a friend, however to test again I created an alt and followed it but it did not appear online for me and as such I could not invite it to a room.
I had to drag my friend back to

[2021-02-15 18:47] kseikyo opened #236 "Can't hear anything when entenring a new room after being banned"
Browser: Firefox developer edition 86.0b9

Steps to reproduce:
1. Enter a room as listener;
2. Get banned;
3. Enter a new room;
4. Now I'm not able to listen to people.

After refreshing the page, it asks for permission again to play audio, after granting the permission, everything is back to normal.

Attaching console logs
[logs.txt](https://github.com/benawad/dogehouse/files/5983512/logs.txt)

[2021-02-15 18:58] Nuckerr commented on #227
Ok thanks

[2021-02-15 18:58] #227 closed

[2021-02-15 19:01] ridarf commented on #231
While it's great that GitHub decided to make a change to feel more inclusive, the intent you're implying was not intended by GitHub or the repository owners in this context.

Watering down serious issues like slavery with negligible "solutions" like this is quite harmful to the main cause, pulling attention away from actual slavery and relevant issues, as well as pulling attention away of the pote

[2021-02-15 20:35] theekrystallee opened #242 "feature suggestion - incognito mode"
suggesting an option to join a room and listen in privately. especially for creators/influencers -- they don't always want to be recognized and called on. maybe an option to make an alternate browsing profile.

[2021-02-15 21:13] pvinis opened #247 "Is `dinner` supposed to be `donner`?"
🤔

[2021-02-15 22:04] samarmohan commented on #231
I'm working on changing my own repos. That's why I brought this up. I am _not_ closing this issue no matter what you think. Master should not be used.

[2021-02-15 22:52] mohammedgad commented on #192
@benawad I think I can work on the BE part.

[2021-02-15 23:00] mohammedgad opened #250 "Badges and achievements"
Hello,
I think we can add badges to the system to gamify the experience and make people more engaging and active.
Examples:

- Create room
- Invite users
- Join room with one user _(that one for me)_
- Send 10 messages.

[2021-02-15 23:14] ridarf commented on #231
I'm not against changing the master branch's name to main by any means, I just think that it's a little hypocritical for you to be going on a bunch of repositories for weeks now telling them to change their branch names when you haven't even done so yourself.

I love the change by GitHub, because it reflects progression from the platform as a whole, but going repository to repository to hunt down

[2021-02-15 23:19] samarmohan commented on #231
Ok, I am sorry. I am not hunting repos with a branch name with master. I have contributed to this repo and opened quite a few issues. And yes, all my branches should be main before I do this. I am working on that.

[2021-02-15 23:20] samarmohan commented on #247
You mean _doner_? Lol

[2021-02-16 00:35] RobertWetzler opened #251 "Curse Word Filtering in Chat"
Someone called me a racial slur in my chat. It's up to Ben, but I feel like there are some words that should not be allowed.

[2021-02-16 02:27] mohammedgad commented on #251
That can be an option in the room settings

[2021-02-16 04:59] JaxonWright opened #253 "Consider using the Signal Protocol"
This could be used to lock the 'house down with state-of-the-art E2EE

https://github.com/signalapp/libsignal-protocol-javascript

[2021-02-16 05:44] nadirabbas opened #254 "A dev branch is needed"
There should be a `dev` branch which people can pull and test new features before they are merged into master and deployed.

[2021-02-16 06:24] nadirabbas commented on #247
I think the `dinner` module has no use now anyway.

[2021-02-16 06:39] tanay-pingalkar opened #255 "can anyone tell me what enviroment variables i have to add in kousa and how"

[2021-02-16 06:43] ExtraE113 commented on #22
The console isn't available on firefox mobile for iOS.

[2021-02-16 06:45] ExtraE113 commented on #223
Does it render if you request the desktop site? Could be related to #22

[2021-02-16 06:52] PaulJoshi commented on #223
Yes it renders when I request desktop site.

Vivo Z1 Pro
Android 10
Edge Mobile 46.01.24

[2021-02-16 07:02] nadirabbas commented on #255
you can the `source` command to set these

[code]

[2021-02-16 07:06] glappy-py commented on #178
Yes I can recreate it

[2021-02-16 07:30] SPARTACUS5329 opened #256 "Active users being followed"
If none of the users I follow are online, the list just says "no users found". It would be better if there are two sections called "Offline Users" and "Online Users" with the offline ones being faded and below the "Online Users" section.

[2021-02-16 09:12] nadirabbas commented on #256
Will work on this @benawad

[2021-02-16 12:56] SumriseHD opened #257 "Android Call/Media Volume"
When I try to make Dogehouse louder, Android shows me media and call volume, but the sound from Dogehouse just comes through media and the call channel is not used...

[Image](https://i.ibb.co/mvvX22H/Whats-App-Image-2021-02-16-at-13-53-22-1.jpg)

[2021-02-16 13:05] SumriseHD opened #258 "Private Chat to Users"
Would be great if there was a option for private chat when you click on a user. There could also be a Mute Button and maybe you can think of a third button so it would look good below the volume settings bar.

[2021-02-16 13:12] jakiki6 commented on #251
https://github.com/web-mech/badwords might be useful to filter them

[2021-02-16 13:52] NuttakitDW opened #259 "Can't edit bio in profile page"

[2021-02-16 16:42] markxoe commented on #162
Which docker-compose file are you using?
The error clearly says `Cannot locate specified Dockerfile: Dockerfile`, so you are missing a Dockerfile

[2021-02-16 19:03] tejxv commented on #259
I think they're actually extracted from your github account, so to update your bio you need to change it on github and the changes should reflect automatically.

[2021-02-16 21:30] NuttakitDW commented on #259
Unfortunately, I try it already but it doesn't change even I had change my bio on github.

[2021-02-16 22:33] gsdeveloper commented on #259
Duplicate of #73, #106 and #137. It's being [worked on](https://github.com/benawad/dogehouse/projects/1#card-54870754).

[2021-02-16 23:51] corysimmons opened #262 "Highlight dominant speaker when you connect to a channel, rather than just after the speaker changes"
Not sure if this is intentional because I can't figure out how it would've regressed. 🤔

[2021-02-17 00:39] samarmohan commented on #35
What is pm. Sorry, I’m a newbie.

[2021-02-17 05:23] nadirabbas commented on #262
What do you mean by dominant speaker cory?

[2021-02-17 05:26] nadirabbas commented on #259
The bio is saved in the database, so it should be changeable here without changing it on Github.

[2021-02-17 07:33] 3m4r5 opened #264 "can't take the arabic food names seriously😂😂"

[2021-02-17 08:08] okket commented on #259
Changing bio only on Dogehouse might lead to some nasty NSFW stuff...

[2021-02-17 08:49] nadirabbas commented on #264
I think we're past that lol

[2021-02-17 08:56] nadirabbas opened #266 "Ben, may be change your video's title and thumbnail?"
People can't tell what the video is about and think it's just another vscode extension.
Just a totally rejectable suggestion but t can be something like: "Dogehouse, the new Clubhouse? :O", maybe

[2021-02-17 08:57] tanay-pingalkar commented on #266
yess

[2021-02-17 08:59] prateekshourya29 commented on #226
Hello, I'm new to open source. Can i work on this?

[2021-02-17 09:00] tanay-pingalkar opened #267 "have google auth"
i know dogehouse was first planned for developer, but dogehouse can do more than that, i saw how you added twitter auth, but
instead of twitter, i think google auth is good because many people have google account not twitter.

[2021-02-17 12:03] chribjel commented on #22
I opened the console in Edge for android, and got this error:
![image](https://user-images.githubusercontent.com/56649743/108201629-6312ca00-7120-11eb-81ee-176caa87e50a.png)

It works if i request the desktop website, although that is a bad experience on mobile.

[2021-02-17 13:02] FotieMConstant commented on #266
You have a point @nadirabbas

[2021-02-17 14:39] corysimmons commented on #262
In channels, when one person is speaking louder than everyone else, they are the "dominant speaker". In calls like Google Meet, Slack calls, etc. They frequently will switch the camera to the dominant speaker.

In Dogehouse, Ben was putting a blue (? I'm colorblind) border about 2px wide around the dominant speaker while they were talking (to indicate who was currently talking), but it doesn't see

[2021-02-17 14:42] corysimmons commented on #262
Scratch that, I just checked again and it is working.

The problem I was experiencing is there would be 1 consistent dominant speaker for a long time when I was joining channels, and no one would have a border around them.

It turns out, the border begins appearing after the first change of dominant speaker, rather than appearing on the dominant speaker whenever you join a room.

You can test this

[2021-02-17 15:40] nadirabbas commented on #262
Yes I noticed that, I'll try to figure out the problem and probably push submit a PR.

[2021-02-17 16:01] fillipvt opened #269 "Show current number of speakers vs total people on the home page"
Hey,

It would be nice to see this at a glance before joining

[2021-02-17 16:05] fillipvt commented on #259
At least have a way to pull updates from the bio.

I just updated mine but dogehouse still has the old one

[2021-02-17 16:07] nadirabbas commented on #259
Ben is working on it.

[2021-02-17 16:29] benawad opened #270 "sorry for the slow response"
I haven't had power for a few days and I just got to a place where I can work for a little bit. I'm going to be going through my messages now.

[2021-02-17 16:48] #166 closed

[2021-02-17 17:01] Debaucus commented on #269
I think both numbers would be a good idea. Shouldn't be hard with 2 seperate icons.

[2021-02-17 17:01] #264 closed

[2021-02-17 17:02] benawad commented on #257
That's intended behavior

[2021-02-17 17:02] #257 closed

[2021-02-17 17:03] benawad commented on #251
Filtering is useless, they will just spell them differently. I will implement a reporting system and they will be permanently banned.

[2021-02-17 17:04] #247 closed

[2021-02-17 17:04] benawad commented on #230
out of scope for this project

[2021-02-17 17:04] #230 closed

[2021-02-17 17:05] #231 closed

[2021-02-17 17:06] benawad commented on #223
Can you connect it to your computer and check the console?

[2021-02-17 17:11] SturmEnte commented on #138
It works now

[2021-02-17 17:11] #138 closed

[2021-02-17 17:11] #266 closed

[2021-02-17 17:20] #255 closed

[2021-02-17 17:22] benawad commented on #234
see new readme

[2021-02-17 17:23] benawad commented on #224
out of scope for now

[2021-02-17 17:23] #224 closed

[2021-02-17 17:25] #221 closed

[2021-02-17 17:25] #218 closed

[2021-02-17 17:27] #215 closed

[2021-02-17 17:31] ExtraE113 commented on #223
@benawad see #22

[2021-02-17 17:34] benawad opened #271 "hire 1 ui designer to design dogehouse"

[2021-02-17 17:34] benawad opened #272 "commission doge icon pack"

[2021-02-17 17:34] ExtraE113 commented on #251
May be worth implementing client-side filtering so it's not obvious that you've been censored? IE:

- I say something and it shows up as "Hey you ...." but _not_ censored on my screen
- On your screen: "Hey you *******"

[2021-02-17 17:35] benawad opened #273 "new logo is currently being worked on, when that is done, stick it in"

[2021-02-17 17:43] mohammedgad commented on #251
@ExtraE113 I think that will be confusing.

[2021-02-17 17:44] benawad commented on #172
readme has instructions to setup things locally and electron shell has been started in baklava folder.

Main things needed:

- Hook into electron keybinds
- Notifications of some sort

[2021-02-17 18:28] ajmnz commented on #271
I've been sketching some ideas over the past days just for fun, so I might be able to help.

[2021-02-17 18:59] arhammusheer opened #274 "Add electron builds to releases"
The electron wrapper `baklava` exists and has scripts set up to build electron app packages.

Add binaries of the builds to the releases of the repository so that people can use the electron client without building from the source.

[2021-02-17 19:07] benawad commented on #274
How does oauth work for electron?

[2021-02-17 19:11] Stancobridge commented on #172
Notification you mean, is it the Operating System Notification or in App Notification

[2021-02-17 19:14] benawad commented on #172
System

[2021-02-17 19:22] Stancobridge commented on #172
Suggestion, is not much Better to Use React wrapper for Electron, there is already a React BoilerPlate for it that uses Typescript https://github.com/diego3g/electron-typescript-react

It this good enough, if true then I think the project should use it, thanks

[2021-02-17 19:32] benawad commented on #172
Yeah if you want to use that, sure

[2021-02-17 19:45] arhammusheer commented on #274
For now the electron app is only loading the website from the domain and uses built in caching to decrease loadtimes. The github callback was configured to redirect to dogehouse.tv so I could not run the react app locally.

[2021-02-18 00:32] PaulJoshi commented on #223
This is what I see in the console in Edge for Android
![image](https://user-images.githubusercontent.com/49583322/108286258-c3e8e380-71ae-11eb-83bb-4694e86f8ba5.png)

[2021-02-18 00:37] #254 closed

[2021-02-18 01:10] #196 closed

[2021-02-18 01:14] #142 closed

[2021-02-18 01:48] nadirabbas commented on #223
This is `mediasoup-client` related.

[2021-02-18 02:11] nadirabbas opened #276 "There is something very wrong with "College students talking code""
There is a room in Dogehouse, maybe there are multiple, that is completely stuck for days. You can't send chat messages there and nobody is talking.

[2021-02-18 04:12] benawad commented on #276
just manually deleted this room, will add something to automatically clean this up later

[2021-02-18 04:21] #276 closed

[2021-02-18 05:16] nadirabbas opened #278 "Use smaller Github avatars"
GitHub allows adding an `s` parameter in the avatar URL. We can set it to different values at different places in the App.
Such as, on the room page, the pictures are smaller, we can use something like `s=50`.  And if a user opens the profile modal, then we can use a bigger number.

[2021-02-18 05:28] darshgun opened #279 "Add functionality on homepage to search chat rooms"

[2021-02-18 05:30] nadirabbas commented on #279
Hey darsh, search for what?

[2021-02-18 05:38] darshgun commented on #279
Hey, just updated the title. Search functionality to the homepage to search chat rooms. Saw on some instances there are more than 10 active chat rooms. This will give users a way of filtering/ finding chat rooms by title

[2021-02-18 05:46] darshgun commented on #271
I like to contribute to the project

[2021-02-18 07:11] nadirabbas commented on #278
#282

[2021-02-18 10:59] overlisted opened #285 "TailwindCSS?"
Do you know about [Tailwind](https://tailwindcss.com)? It's basically `style` attribute but cooler: unlike `style=`, it allows for `@media`, pseudoclasses and other amazing stuff without writing a single CSS file. And by looking at the amount of `style=` in your code, I can assume that you will like Tailwind. this sounds like an ad but I just wanna suggest using it in dogehouse

[2021-02-18 11:00] nadirabbas commented on #285
![Uploading image.png…]()

[2021-02-18 11:02] nadirabbas commented on #285
it is being used

![image](https://user-images.githubusercontent.com/38838675/108347745-b3625880-7202-11eb-98ae-bd66adbadd8f.png)

[2021-02-18 11:15] imdarkk opened #286 "Hover effects"
Add hover effects so the user is not confused as to what they are trying to click.

[2021-02-18 11:15] imdarkk commented on #286
Can I get this assigned?

[2021-02-18 11:56] Abogical commented on #285
He's already using Tailwind:
https://github.com/benawad/dogehouse/blob/staging/kofta/tailwind.config.js

[2021-02-18 12:03] RonaldColyar opened #287 "Vote to kick feature-permission to begin?"
I would like to implement a vote to kick feature. Someone joined one of my rooms the other day and was being disrespectful. The admin was AFK, but the chat/listeners wanted him gone. So I would like permission to begin developing a vote to kick feature.

[U.I. inspiration](https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.reddit.com%2Fr%2FGlobalOffensive%2Fcomments%2Feg0jzd%2Fvote_ui_redesign%

[2021-02-18 13:40] #285 closed

[2021-02-18 13:40] benawad commented on #287
I don't want vote to kick, better for admin to create a mod before going afk or switch rooms

[2021-02-18 13:40] #287 closed

[2021-02-18 13:42] tanay-pingalkar commented on #234
thanks for new readme btw, the problem was solved when i uninstall node_modules and installed them again with peer dependencies flag and it works  for. me Maybe i am got problem bcoz i was using node v15 .

[2021-02-18 13:43] #234 closed

[2021-02-18 13:54] nadirabbas commented on #184
@benawad can this be assigned to me? Thanks

[2021-02-18 14:02] nadirabbas opened #289 "Clicking on a twitter-authed username opens up Github"

[2021-02-18 15:11] benawad opened #290 "I would like to be able to use arrow keys/enter for ConfirmModal/AlertModal"

[2021-02-18 16:04] mohammedgad commented on #271
I know some good candidates.

[2021-02-18 16:04] nadirabbas opened #291 "Avatar bug"
So for some users, this is happening
![image](https://user-images.githubusercontent.com/38838675/108384813-e6b9dd00-722c-11eb-9acf-2b0561ad6b77.png)

[2021-02-18 16:36] overlisted opened #292 "Room tags and room language"
Dogehouse recently got invaded by Thai people, which is a very good reminder to add such primary stuff as room tags, room language and room filtering with room search in the main menu.

I think you got the idea and there isn't much to explain (except for the visual design, which should be done by a proper designer).

[2021-02-18 17:14] Jirushi-I commented on #168
This happens when I am a speaker:
When someone joins as a speaker, I can't hear him.
And it seems that when someone asks to speak, I can't hear the last speaker before him too.

Edit: It seems to also happen when I am not a speaker.

[2021-02-18 17:22] benawad commented on #168
But other people are able to hear them?

[2021-02-18 17:29] MaheshNat commented on #292
+1

[2021-02-18 19:24] PuckDan commented on #291
that also happened to me but with the dogehouse icon

[2021-02-18 19:36] younesaassila opened #298 "DogeHouse is no longer loading on iOS Safari"
When accessing [DogeHouse.tv](https://dogehouse.tv) from Safari on iOS, a blank dark-gray page is shown.

This issue started appearing today.

Here's a screenshot: ![Screenshot](https://i.imgur.com/JxCdDqW.png)

**OS:** iOS 14.4

[2021-02-18 19:38] nadirabbas commented on #298
@benawad I think it is in the regex for mention matching. iOS has been known for not supporting some regex patterns. Sadly I don't have Apple products so I couldn't test.

[2021-02-18 19:48] overlisted commented on #298
It might be because something on the way to final react-dom `render()` call is broken

[2021-02-18 20:07] ajmnz commented on #298
It definitely has to do with some regex error.

[code]

Working on it.

[2021-02-18 20:40] ajmnz commented on #298
Got it. Error is coming from the package `normalize-url`. `kofta/node_modules/normalize_url/index.js` @ line 125.

Commit cb2f0d1b276819189ccb4e7fc30864ebc3a379f2 introduced the bug.

Will downgrade it to normalize-url@4 and test asap if that solves the issue.

[2021-02-18 22:02] benawad commented on #298
commented out normalize-url for now

[2021-02-18 22:02] #298 closed, assigned to nobody

[2021-02-18 22:08] ajmnz commented on #298
Made a PR

[2021-02-18 22:10] #278 closed

[2021-02-18 22:24] #289 closed

[2021-02-18 22:29] #291 closed

[2021-02-18 23:24] ajmnz commented on #271
Any news on this @benawad? Got some concepts I'd like to show you.

[2021-02-18 23:59] benawad commented on #271
I'm going to be hiring 1 experienced ui designer to architect the entire design system for dogehouse (I don't want the design to be inconsistent with multiple people trying to contribute). I will leave it up to them if they would like help.

[2021-02-19 00:15] benawad opened #301 "I will be pitching DogeHouse on DogeHouse to investors at 3pm PST on 2/26"

[2021-02-19 00:26] nadirabbas commented on #301
pin this probably

[2021-02-19 00:39] RonaldColyar commented on #301
Taking off , hopefully it remains open source.

[2021-02-19 02:41] ProNanigans opened #303 "Leaving call while requesting to speak"
If you request to speak and leave a call while that request is pending, then when you join another room, it still shows that you are requesting to speak.

[2021-02-19 02:42] nadirabbas commented on #303
nice catch!

[2021-02-19 05:21] boorah opened #304 "Not able to join the last room"
Make the list of rooms scrollable or add the create room button at the end of the list. When there are limited number of rooms, I am not able to click on the last room

![Screenshot from 2021-02-19 10-46-54](https://user-images.githubusercontent.com/39365143/108461234-51f0c700-72a0-11eb-9a13-48f205eff128.png)

[2021-02-19 05:30] Yakumwamba commented on #301
Watching this space 👀

[2021-02-19 05:35] nadirabbas commented on #290
This will get covered in #184 which I am currently working on.

[2021-02-19 06:47] Jirushi-I commented on #168
Yes

[2021-02-19 06:48] Jirushi-I commented on #168
I am using Brave on Windows.

[2021-02-19 06:57] Rishabh-malhotraa opened #306 "Notification Sound when you get a message"
## WHY?
I was alone in a room and had the doghouse link open in the background with my mic muted, people came into my room and wrote in the chat but I was not aware, it would be great if you get a voice sound every time some user sends a message (also have the ability to turn off this feature )

![image](https://user-images.githubusercontent.com/54576074/108469380-1f4dcb00-72ae-11eb-987a-dafec70d4

[2021-02-19 07:21] FotieMConstant commented on #301
Hopefully bro. all the best @benawad

[2021-02-19 11:17] mohammedgad commented on #306
We need that! @nadirabbas what do you think?

[2021-02-19 12:28] nadirabbas commented on #306
Yeah I think, it should be toggleable tho

[2021-02-19 12:40] rh3xp opened #307 "Create a level system"
The people who have been using Dogehouse since the early days consistently, should get a rank so when the new features come and this app becomes a big thing, we still have a good presence.

You know, like **the OGs** or something.

[2021-02-19 12:41] rh3xp commented on #306
It should notify especially when someone mentions you, like a fuzzy search of all the usernames in the current chat window.

[2021-02-19 12:42] nadirabbas commented on #306
PR on the way

[2021-02-19 12:44] ajmnz commented on #271
Guess I'll leave them here then 😅

![dh-login](https://user-images.githubusercontent.com/57961822/108506021-7bb5e800-72b8-11eb-9746-fa58de0eb41b.png)
![dh-dashboard](https://user-images.githubusercontent.com/57961822/108506017-7a84bb00-72b8-11eb-913f-fb343ab27388.png)

[2021-02-19 12:48] benawad commented on #168
next time this happens can you click on the profile of the person you can't hear and screenshot the modal

[2021-02-19 12:57] nadirabbas commented on #306
#308

[2021-02-19 16:17] #137 closed

[2021-02-19 16:17] #214 closed

[2021-02-19 16:17] #222 closed

[2021-02-19 16:17] #304 closed, assigned to nobody

[2021-02-19 16:28] FotieMConstant opened #310 "Overlap on the header with the modal"
![image](https://user-images.githubusercontent.com/42372656/108532085-bc712980-72d7-11eb-82e1-6e03e35e77e2.png)

[2021-02-19 16:36] DGKSK8LIFE opened #311 "Make electron port/version of the app for desktop usage, thanks"

[2021-02-19 16:41] benawad commented on #310
this should be fixed in the version I'm about to deploy

[2021-02-19 16:41] #310 closed, assigned to nobody

[2021-02-19 16:48] FotieMConstant commented on #310
Alright, all good!

[2021-02-19 17:08] mohammedgad opened #313 "Add [What's new] section"
We need to add a section on the website to let people know What's newly added, and maybe teach them how it works.
*I can work on the BE endpoint if that's approved*

[2021-02-19 17:15] benawad commented on #313
I think we can do it entirely on the frontend

[2021-02-19 17:19] mohammedgad commented on #313
yea I think that would be nice, but will we display all the previous newly added?

[2021-02-19 17:19] DGKSK8LIFE commented on #311
If you want, @benawad, I can assign this issue to myself and make a PR to include electron. Ty

[2021-02-19 17:22] benawad commented on #313
no, just the latest

[2021-02-19 17:25] mohammedgad opened #314 "[bug] Clickable usernames are broken"
On the user profile, we could click on the user username to be directed to the user's social account. after enabling the users to customize their usernames, now when someone clicks on the user username the user will be directed to a broken link or someone else's profile based on the entered username

*side question: can we use labels to categorize the GitHub issues?*

[2021-02-19 17:30] #314 closed, assigned to nobody

[2021-02-19 17:30] mohammedgad commented on #314
That's already done, maybe I needed to refresh the webpage.

[2021-02-19 17:36] benawad commented on #311
you are welcome to work with @Stancobridge

idk where they are in the process

[2021-02-19 17:36] benawad commented on #311
cc #172

[2021-02-19 17:38] DGKSK8LIFE commented on #311
Thanks, @benawad. @Stancobridge what's your discord? Want to work on this together?

[2021-02-19 17:38] DGKSK8LIFE commented on #172
@Stancobridge what's your discord? Want to work on this together?

[2021-02-19 17:40] DGKSK8LIFE commented on #313
@benawad Agree that it could be done entirely on the frontend. What you could do, is use markdown documentation for the changelog, then scrape the markdown in the repo (or use github api; not sure), and display it.

[2021-02-19 19:04] tejxv opened #315 "no room title on iOS"
it pops up for a second upon entering the room and then it just disappears.

![image](https://user-images.githubusercontent.com/54097365/108549559-4db1c180-7313-11eb-8c95-65f1e42e29d8.png)

[2021-02-19 19:13] benawad commented on #315
@tejxv if you refresh is it still like that? I can't recreate

[2021-02-19 19:25] tejxv commented on #315
@benawad  yeah i did refresh a couple of times but same behaviour, i even tried chrome but no luck.
FYI: it's an iPhone 8 running iOS 14.4

[2021-02-19 19:25] GijsRommers opened #316 "Terminate sessions with 1 person if it stays like that for 5 min"
Reduces server load and i see it happen often

[2021-02-19 19:32] tejxv commented on #315
bug in action:
https://photos.app.goo.gl/tKwAQDPtsxA5wBhJA

[2021-02-19 19:34] ajmnz commented on #316
I'd give the user the possibility to reopen the room after being AFK for x minutes. I find it less aggressive than just terminating the session all of a sudden, as maybe the user is waiting for someone to join.

[2021-02-19 19:36] benawad commented on #315
when you get some time and are back on your computer, would you be able to plug your phone in, inspect with safari devtools and see what the cause is?

[2021-02-19 19:46] tejxv commented on #315
yeah sure, i'll definitely try that and will let you know when i find something useful

[2021-02-19 19:54] ajmnz commented on #315
@tejxv Are you using an adblocker of some sort for iOS? I haven't been able to reproduce the issue.

[2021-02-19 19:59] tejxv commented on #315
@ajmnz that's just odd, i think something's messed up on my side and no i'm not using any sort of adblocker

[2021-02-19 20:04] ajmnz opened #317 "z-index issue: Navbar stays behind on scroll"
Working on it.

![IMG_0845](https://user-images.githubusercontent.com/57961822/108555654-0b2dbc00-72f6-11eb-8d37-c1a0f977715b.PNG)
<img width="706" alt="Captura de Pantalla 2021-02-19 a les 21 02 50" src="https://user-images.githubusercontent.com/57961822/108555663-0ec14300-72f6-11eb-8bfd-926b839cc4fa.png">

[2021-02-19 20:14] ajmnz commented on #317
Commit 498b2e2e4c6aea66af32139b6bd5612a6640c04b (removes `z-10` from the navbar) introduces the bug.

[2021-02-19 20:17] msal4 commented on #155
Should probably close this one since they're implemented now.

[2021-02-19 20:18] #155 closed

[2021-02-19 20:33] ChannelJuanNews commented on #271
Wow that design look sick

[2021-02-19 20:48] #317 closed, assigned to nobody

[2021-02-19 20:54] nhalstead commented on #162
You can't use docker-compose up. This project does not have a docker-compose file.
You need to run docker build then docker run IE:

---

Build the Image (from the root of the project)
[code]

Start the container
###### `dogehouse-shawarma:local` is the tagged image name.
[code]

[2021-02-19 21:09] tanay-pingalkar commented on #162
Yes the project does not have docker compose, but someone in issues has told that, now I am setting it manually

[2021-02-19 21:09] #162 closed

[2021-02-19 21:11] tanay-pingalkar commented on #162
I am setting the environment manually

[2021-02-19 21:27] #126 closed

[2021-02-19 21:51] DGKSK8LIFE commented on #271
If you want, I can also design for you @benawad

[2021-02-20 01:54] nadirabbas opened #319 "Everyone has random characters as usernames"
I don't know if this is intended, but if not, I thought to open an issue.

![image](https://user-images.githubusercontent.com/38838675/108579380-6d171180-7348-11eb-8185-c84d8f875f86.png)

[2021-02-20 01:55] nadirabbas commented on #311
I built the electron app locally, it seemed to work correctly.

[2021-02-20 03:03] DGKSK8LIFE commented on #311
If it is working correctly without any hitches, maybe make a PR? @nadirabbas

[2021-02-20 03:04] nadirabbas commented on #311
@DGKSK8LIFE It is already merged.

[2021-02-20 03:13] tejxv commented on #319
yes it's totally intended, ben added the ability to change username, bio and display name.
![image](https://user-images.githubusercontent.com/54097365/108582203-7bccdc80-72e6-11eb-938c-6dfc52582f0f.jpeg)

[2021-02-20 03:14] #319 closed, assigned to nobody

[2021-02-20 03:27] DGKSK8LIFE commented on #311
what #? @nadirabbas

[2021-02-20 03:28] nadirabbas commented on #311
The electron app is already in the codebase.

[2021-02-20 03:29] DGKSK8LIFE commented on #311
Ah ok. So there is an electron port already? Where can I download it? @nadirabbas

[2021-02-20 03:30] nadirabbas commented on #311
https://github.com/benawad/dogehouse/tree/staging/baklava

[2021-02-20 03:30] ajmalfaiz commented on #25
no sorry it was blocked cache.

[2021-02-20 03:30] #25 closed

[2021-02-20 03:31] DGKSK8LIFE commented on #311
Ty @nadirabbas. When it is merged into prod I will close the issue

[2021-02-20 03:32] nadirabbas commented on #311
It is merged into prod

[2021-02-20 03:32] nadirabbas commented on #311
https://github.com/benawad/dogehouse/tree/prod/baklava

[2021-02-20 03:33] DGKSK8LIFE opened #320 "Rename directories to something contextual instead of food"
Please rename these directories
![image](https://user-images.githubusercontent.com/45473363/108582607-0b2fbb00-72fa-11eb-8bb0-610722277112.png)

[2021-02-20 03:34] DGKSK8LIFE commented on #311
Could there be UI integration so I could download an `exe` of the electron app from `dogehouse.tv`? Guess that's a separate feature request

[2021-02-20 03:45] nadirabbas commented on #311
I don't think @benawad has tried building the electron app yet. If he doesn't want any changes, you can build the exe

[2021-02-20 03:46] DGKSK8LIFE commented on #311
Yeah, @benawad if you're ok with it, I can setup compilation of the electron app and make a PR for it.

[2021-02-20 03:47] DGKSK8LIFE commented on #311
Maybe a github action that auto-compiles and checks integrity of the electron app. Then the Dogehouse app can hyperlink to github releases of the executables? Ty

[2021-02-20 03:55] DGKSK8LIFE commented on #320
also `feta` needs to be renamed, @benawad

[2021-02-20 03:57] benawad commented on #320
I like it

[2021-02-20 03:57] #320 closed, assigned to nobody

[2021-02-20 03:58] benawad commented on #311
yeah I'll be setting this up after I finish some other stuff

[2021-02-20 03:58] DGKSK8LIFE commented on #320
Ah I see the documentation in the README. ok

[2021-02-20 05:16] Subhom1 opened #323 "Long group title causing horizontal scrolling"
If someone writing a long group name then the screen is broken

[2021-02-20 05:26] PuckDan opened #324 "DogeHouse is zoomed in because of a long title (image)"
![woahdoge](https://user-images.githubusercontent.com/65829743/108584763-7c2a9f00-7309-11eb-91f2-ff69091ac4df.PNG)

caused by a long title

[2021-02-20 05:26] nadirabbas opened #325 "Clicking the username doesn't open twitter/github"
I think @benawad removed it to solve #289
I can create a column in the `users` table called: `oauth_profile_url`, which we can store the profile URL in while authenticating with Github/Twitter/Google etc.

If this is wanted, this can be assigned to me.

[2021-02-20 05:29] PuckDan commented on #324
it was caused by a long title

[2021-02-20 07:32] s3ansh33p opened #326 "Inverting Follow / Following displaying on other users"
In some cases, when I click on follow, it removes me following the other user and visa versa for clicking on following hence inversion.

[2021-02-20 07:48] nadirabbas opened #327 "Twitter auth fails."
![image](https://user-images.githubusercontent.com/38838675/108588232-de22ed00-7379-11eb-96b5-5823afc5b424.png)

[2021-02-20 07:58] s3ansh33p opened #328 "Make @mentions convert to lowercase automatically"
@john can be mentioned but @John doesn't work (e.g. copypasted). Make the parsing convert to lowercase after the "@" and maybe use "\" in fron of an "@" in case the user doesn't want it converted.

[2021-02-20 08:00] theekrystallee opened #329 "room name cannot be edited"

[2021-02-20 08:04] nadirabbas commented on #328
Can't reproduce. I tried copy-pasting, it worked.

[2021-02-20 08:05] nadirabbas commented on #328
Can't reproduce

[2021-02-20 08:15] s3ansh33p commented on #328
Github auto changed Capital J to lowercase I was trying to say \@ John

[2021-02-20 08:18] nadirabbas commented on #328
I copied uppercase, and then pasted, it worked.

[2021-02-20 08:26] s3ansh33p commented on #328
Try typing "@nadirabbas test" and change the n to a capital n, copy/paste it and it won't convert it.

[2021-02-20 08:51] nadirabbas commented on #328
Yeah, that is intended, because you haven't actually selected a username, there is a space after that username so the popup won't open. So it is selected when you start typing it and a popup appears, and you hit enter on one of those options.

So if you copy an uppercase or lowercase, as long as there is nothing after the username (space, etc), the popup will open, and has nothing to do with case.

[2021-02-20 09:00] #328 closed, assigned to nobody

[2021-02-20 09:22] phuid opened #330 "language select"
I think it would be better to be able to view only english rooms.

[2021-02-20 09:40] nadirabbas commented on #329
It can be edited if you click on the name:
![image](https://user-images.githubusercontent.com/38838675/108591252-94420300-7389-11eb-9474-c5e638314b7b.png)

[2021-02-20 10:07] tejxv commented on #329
@nadirabbas it partially works, when on rename room modal, it only works upon hitting enter key but clicking on OK button doesn't do anything, which used to work if i remember correctly

[2021-02-20 11:06] nadirabbas commented on #324
The title seems to be very short. Doesn't it?

[2021-02-20 11:58] tanay-pingalkar opened #332 "how can i verify my elixir server is running"

[2021-02-20 12:40] #332 closed, assigned to nobody

[2021-02-20 12:41] nadirabbas commented on #332
Go to localhost:4001/auth/github/web, if it redirects you, meaning it works

[2021-02-20 12:43] tanay-pingalkar commented on #332
but how can i get git client secret...

[2021-02-20 12:44] nadirabbas commented on #332
Go to: https://github.com/settings/apps
Create an app, this will give you the credentials.

[2021-02-20 12:47] tanay-pingalkar commented on #332
yup what to put in callback url

[2021-02-20 12:48] nadirabbas commented on #332
http://localhost:4001/auth/github/callback

[2021-02-20 12:51] tanay-pingalkar commented on #332
thanks that works

[2021-02-20 12:58] mohammedgad commented on #330
suggested in https://github.com/benawad/dogehouse/issues/292

[2021-02-20 12:59] tanay-pingalkar opened #333 "not able to create test user"
i had logged in using github but now i want to test chat feature, I only have 1 github accout. So i tried to create test user but when i click ok, nothing happened, why. Should i add twitter auth secret that i can use twitter to create another account.

[2021-02-20 13:06] mohammedgad opened #334 "[Feature] Play a sound when someone joins or leave the room"
This is from discord, when someone enters a room or leaves, a sound notification is played.
I am not sure if that's useful or not for Dogehouse, but let's discuss it.

[2021-02-20 13:08] mohammedgad commented on #333
Hi @tanay-pingalkar Is there a specific error displayed on the BE logs?

[2021-02-20 13:22] tanay-pingalkar commented on #333
No that's why I am confused

[2021-02-20 13:26] tanay-pingalkar opened #335 "[Feature] [working] Working on emoji feature"
I am currently working on emoji feature. I know we can send emoji on mobile but what about pc user. So i am gonna add one. Their is special react lib called react emoji. Should I use that Or should I create one from scratch.

[2021-02-20 13:30] nadirabbas commented on #334
I think instead of a sound, this will trigger a message-like thingy in the chat: "Someone left", "Someone joined",
Because then there will be too much sound. Because people keep joining and leaving continuously.

Because Dogehouse is not like Discord. I hear people like to explore different rooms and keep joining/leaving. Unlike Discord, where people specifically open the app to join a specific ro

[2021-02-20 13:31] benawad commented on #335
use https://github.com/missive/emoji-mart

[2021-02-20 13:32] benawad commented on #334
we can keep the join/leave sound to only speakers

[2021-02-20 13:33] nadirabbas commented on #335
@tanay-pingalkar you can use a token called: "emoji" maybe. Then maybe @mohammedgad can do backend validation.

[2021-02-20 13:33] benawad commented on #333
sometimes you need to press it a couple of times

[2021-02-20 13:34] nadirabbas commented on #334
@benawad aye aye captain. I will work on this, can suggest a sound? Or can I just use the same one like mention sound?

[2021-02-20 13:37] nadirabbas opened #336 "Chat messages duplicating"
#### Reproducing steps:

1. Join a room
2. Copy room URL
3. Paste in a new tab
4. Hit enter (ofc)

Chat messages will start duplicating in the new tab, and the old socket will be killed by the server.

[2021-02-20 13:38] mohammedgad commented on #334
That's exactly why I was wondering if that is an idea good for dogehouse or not, It was good for me in discord as a speaker to be notified to check who is joined before continuing the talk.

Maybe a very light sound?

I think adding an option to enable and disable that for users would be useful too.

[2021-02-20 13:39] nadirabbas commented on #334
Great suggestion @mohammedgad

[2021-02-20 13:52] benawad commented on #336
is this happening in prod for you, I thought I fixed this

[2021-02-20 13:53] nadirabbas commented on #336
@benawad yes prod, happened earlier today.

[2021-02-20 13:53] benawad commented on #324
what browser are you in? I can check it the ellipsis is not working their

[2021-02-20 13:56] benawad commented on #336
I can't replicate with those steps

[2021-02-20 13:57] nadirabbas commented on #336
I will post a video

[2021-02-20 14:02] #329 closed, assigned to nobody

[2021-02-20 14:04] benawad commented on #325
instead I want to just make it so the bio linkifies so you can link to whatever you want

[2021-02-20 14:04] benawad commented on #323
what browser?

[2021-02-20 14:05] nadirabbas commented on #325
Oh thats good! will close this

[2021-02-20 14:06] nadirabbas commented on #325
I can work on it, if it's not already being worked on. I'll maybe push tomorrow

[2021-02-20 14:08] benawad commented on #325
go for it

[2021-02-20 14:35] ajmnz commented on #335
Would be nice to have them bound to something like :emoji:

[2021-02-20 14:36] ajmnz commented on #333
I think your problem comes when calling the api, check for errors in devtools as you might have set the wrong url for it. Happened to me when writing the local development steps.

[2021-02-20 14:49] mohammedgad commented on #333
@tanay-pingalkar did you export `REACT_APP_API_BASE_URL=http://localhost:4001` ?

[2021-02-20 14:51] benawad opened #337 "automate changelog creation"

[2021-02-20 14:56] ajmnz opened #338 "Validation: Possible to be nameless using unicode chars"
<img width="575" alt="Captura de Pantalla 2021-02-20 a les 15 56 01" src="https://user-images.githubusercontent.com/57961822/108599903-23541880-7394-11eb-8c63-72aa221c665d.png">

[2021-02-20 15:10] tanay-pingalkar commented on #335
dont know why emoji-mart is behaving so different

[2021-02-20 15:11] nadirabbas commented on #335
@tanay-pingalkar different how?

[2021-02-20 15:29] tanay-pingalkar commented on #335
it is working as they had told in their docs

[2021-02-20 15:34] tanay-pingalkar commented on #335
wala it works
i am gonna create pr tomorrow

[2021-02-20 15:38] nadirabbas commented on #336
@benawad Weird, now even I can't reproduce it. I think it got fixes when you deployed.

[2021-02-20 15:39] #336 closed, assigned to nobody

[2021-02-20 15:58] benawad commented on #327
can you try it again and see if twitter works for you now

[2021-02-20 16:00] nadirabbas commented on #327
@benawad it works now

[2021-02-20 16:00] #327 closed, assigned to nobody

[2021-02-20 16:18] mohammedgad commented on #338
I can work on that @benawad

[2021-02-20 16:33] ajmnz commented on #271
Did you get a chance to check the concepts, @benawad? If you haven't found anyone already, I might be the one you're looking for 🤞🏼

[2021-02-20 16:33] mohammedgad opened #339 "[Feature] Add AFK button."
We need to add an AFK/unAFK button for speakers alongside the mute button to let people know that you went to make a cup of coffee.

Q: *should that be added to the listeners also?*

[2021-02-20 16:41] yaslam-dev commented on #339
It would be cool for AFK to add drinking coffee doge to avatar of speakers.

[2021-02-20 16:42] PuckDan commented on #324
brave browser. i also tested it on chrome and it did the same thing.

[2021-02-20 17:14] ajmnz commented on #339
I'll try to implement that

[2021-02-20 17:21] nadirabbas commented on #339
@Yasir900aslam YES!!

[2021-02-20 17:30] ajmnz commented on #339
Hahaha

![doge coffee](https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fstatic1.zipso.net%2Fwp-content%2Fuploads%2F2014%2F03%2Fdoge-coffee.jpg&f=1&nofb=1)

[2021-02-20 17:34] ajmnz commented on #339
I think setting the opacity down and adding a `title` tag would make it more clear. What do you guys think?

<img width="561" alt="Captura de Pantalla 2021-02-20 a les 18 33 23" src="https://user-images.githubusercontent.com/57961822/108603768-1f32f580-73aa-11eb-89d1-15f6e608fa65.png">

[2021-02-20 17:35] nadirabbas commented on #339
@ajmnz I agree

[2021-02-20 17:36] mohammedgad commented on #339
seems nice, but we will miss the doge coffee 😞

[2021-02-20 17:37] nadirabbas commented on #339
Why dont we make a dogecoffee icon thingy in ps. Instead of the user if AFK label,show that

[2021-02-20 17:39] mohammedgad commented on #339
@nadirabbas what is ps?
anyway, I agree because dogycoffe will be there 😂

[2021-02-20 17:39] nadirabbas commented on #339
It is an abbreviation I invented for Photoshop.

[2021-02-20 17:40] ajmnz commented on #339
@nadirabbas Time for design I guess :)

Got any ideas?

[2021-02-20 17:40] mohammedgad commented on #339
@nadirabbas @ajmnz totally agree.

[2021-02-20 17:41] nadirabbas commented on #339
@ajmnz lets take the Dogehouse logo and do something with it. well no the logo, the icon from the site.

[2021-02-20 17:42] mohammedgad commented on #339
@nadirabbas it's here https://github.com/benawad/dogehouse/tree/staging/kofta/src/assets/regular-doge.png 🕺

[2021-02-20 17:43] nadirabbas commented on #339
Just put a cup of coffee in front of it, I think that'd be sufficient.

[2021-02-20 17:52] ajmnz commented on #339
![dogecoffee2](https://user-images.githubusercontent.com/57961822/108604191-a2554b00-73ac-11eb-9eef-7569e15698e5.png)

<img width="96" alt="Captura de Pantalla 2021-02-20 a les 18 51 47" src="https://user-images.githubusercontent.com/57961822/108604199-b1d49400-73ac-11eb-8e2e-44b1e2368ca8.png">

Not very convincing to me. Can be confused with a mod.

[2021-02-20 17:54] nadirabbas commented on #339
I think just make the coffee more prominent somehow? I am NOT A designer so I don't know what I am talking about.

[2021-02-20 17:54] ajmnz commented on #339
<img width="107" alt="Captura de Pantalla 2021-02-20 a les 18 54 22" src="https://user-images.githubusercontent.com/57961822/108604252-0ed04a00-73ad-11eb-8b35-352b909e9256.png">

Well look at that. Making progress I guess

[2021-02-20 17:55] ajmnz commented on #339
I mean we're working with a 50x50px image and putting an element over it even smaller.

[2021-02-20 17:57] nadirabbas commented on #339
But the last one you posted made sense.

[2021-02-20 17:58] mohammedgad commented on #339
@ajmnz nice, that makes sense as I believe the AFK should be equivalent to the mute and treated the same way as the mute.
maybe the AFK should mute the user too @nadirabbas @ajmnz what do you think about that?

[2021-02-20 17:58] ajmnz commented on #339
I think this one makes even more sense, tbh. Just to prevent a doge overload.

<img width="112" alt="Captura de Pantalla 2021-02-20 a les 18 58 21" src="https://user-images.githubusercontent.com/57961822/108604344-9d44cb80-73ad-11eb-9250-05f28e98b4d9.png">

[2021-02-20 17:59] nadirabbas commented on #339
but you lose our trademark. we're trying to funky with this. as the whole dogehouse is.

[2021-02-20 18:00] ajmnz commented on #339
In my opinion it shouldn't be abused. It is already present everywhere.

[2021-02-20 18:00] mohammedgad commented on #339
I think that will be back to ben in the end, he didn't approve the feature itself yet 😂

[2021-02-20 18:01] nadirabbas commented on #339
I think there is a 50% chance this isn't getting approved, ben disapproved my auto AFK timer. But this is cleaner, lets see.

[2021-02-20 18:02] ajmnz commented on #339
@nadirabbas in case this gets approved, do you want to go with the backend? I have no idea about elixir 😅

[2021-02-20 18:02] mohammedgad commented on #339
let's hope, I believe we really need it for speakers.

[2021-02-20 18:03] benawad commented on #339
I don't want to add an afk button at moment.

1. There are more important features to add first
2. We may do emoji reactions sometime which will trump this

[2021-02-20 18:03] #339 closed, assigned to nobody

[2021-02-20 19:11] artrixdotdev opened #340 "Discord & Google Oauth"
Since not everyone is a developer on DogeHouse, I think it might be a good idea to add discord and google oauth so people can sign up without github

[2021-02-21 02:51] #167 closed

[2021-02-21 02:51] #194 closed

[2021-02-21 02:54] benawad commented on #271
@ajmnz yeah that design is my favorite so far, I'll be picking a designer in a couple days

[2021-02-21 03:34] #259 closed

[2021-02-21 03:34] #106 closed

[2021-02-21 03:34] #73 closed

[2021-02-21 03:34] #115 closed

[2021-02-21 04:19] nadirabbas commented on #325
@benawad for validating the URL length, I am setting the max length to 255.

[2021-02-21 05:16] nadirabbas opened #342 "Twitter auth doesn't work on Netlify previews."

[2021-02-21 05:29] tanay-pingalkar commented on #333
Yup

[2021-02-21 05:29] tanay-pingalkar commented on #333
I will check

[2021-02-21 05:31] nadirabbas commented on #333
If you're using Docker, the test user won't get created, as that is production.

[2021-02-21 05:35] tanay-pingalkar commented on #333
No i am not using docker

[2021-02-21 05:49] tanay-pingalkar commented on #333
i am getting ```11:16:15.792 [error] calling logger:remove_handler(default) failed: :error {:badmatch, {:error, {:not_found, :default}}}``` warning otherwise everything is going good in elixer api

[2021-02-21 06:18] Pasit-pat opened #344 "Schedule for alarm chat."
When I have time slot for chat in doge house. I want to schedule another people for fanclub.

[2021-02-21 07:16] tanay-pingalkar opened #346 "should i commit yarn-lock"

[2021-02-21 10:38] mohammedgad commented on #346
Hi @tanay-pingalkar yea lock files should be committed.

[2021-02-21 13:07] RonaldColyar opened #349 "Room Data-Structure Optimization?"
Taking a look [here](https://github.com/benawad/dogehouse/blob/staging/kofta/src/vscode-webview/modules/room-chat/ProfileModalFetcher.tsx) in line 21, I see an array is being used for user lookup. The time complexity could be reduced from linear to constant time by using a Hashtable in this implementation.

[2021-02-21 13:12] benawad commented on #346
if the project is already has a package-lock.json, use npm instead of yarn

[2021-02-21 13:12] #346 closed, assigned to nobody

[2021-02-21 13:17] benawad commented on #344
What?

[2021-02-21 13:32] RonaldColyar commented on #349
Looking around for the Initialization of the `room.users` to better optimize it,  but having a hard time navigating.

[2021-02-21 13:38] benawad commented on #349
this is low priority atm

[2021-02-21 15:24] ajmnz commented on #271
@benawad Sounds good! I'll keep an eye for any updates then 👍🏼

[2021-02-21 15:49] benawad commented on #303
same room or different room?

[2021-02-21 16:01] ProNanigans commented on #303
For me, it happened when trying both a different room and the same room

[2021-02-21 16:16] benawad commented on #303
when you did it in the different room had you been to that room before?

[2021-02-21 16:20] #217 closed

[2021-02-21 16:57] ProNanigans commented on #303
I don’t fully remember, but I don’t think it mattered if I’d been in that
room before.

On Sun, Feb 21, 2021 at 11:16 AM Ben Awad <notifications@github.com> wrote:

[2021-02-21 17:09] nadirabbas opened #350 "Delete chat messages"
- Creators can delete messages of Mods/Listeners
- Mods can delete listeners chat messages
- Listeners can only delete their own.

I want to work on this if this is not undesired.  @benawad
Many many people have requested this.

[2021-02-21 17:20] ajmnz opened #351 "Quote/reply to other user message"
It'd be really useful to be able to quote someone's message and would make it a better UX rather than mentioning every time or copying the user's message. Especially has happened to me when multiple people are having conversations in parallel.

[2021-02-21 17:22] nadirabbas commented on #351
what if we add some button on the message, clicking which auto mentions that user? Cuz I don't think there is enough space to show a quoted message, unless you do some design magic and make some space.

[2021-02-21 17:23] ajmnz commented on #351
Theoretically it could be done entirely on the frontend. Using some keyword similar to what github uses (>) and then parsing the message, although it may imply allowing multiline messages (ctrl+enter).

[2021-02-21 17:25] ajmnz commented on #351
We could stick a button in the top right edge of the message that appears on hover. Let me sketch something quickly.

[2021-02-21 17:34] ajmnz commented on #351
Idk, something like that maybe. @nadirabbas

<img width="309" alt="Captura de Pantalla 2021-02-21 a les 18 33 41" src="https://user-images.githubusercontent.com/57961822/108633204-53beb400-7473-11eb-82c4-4b785df91a70.png">

<img width="309" alt="Captura de Pantalla 2021-02-21 a les 18 33 41" src="https://user-images.githubusercontent.com/57961822/108633423-71404d80-7474-11eb-8b0f-a35358bb0ece.png"

[2021-02-21 17:57] nadirabbas commented on #351
You never fail to impress. Lets see what Ben says,

[2021-02-21 18:05] nadirabbas commented on #351
so clicking on the reply actually should scroll to that message right?

[2021-02-21 18:05] nadirabbas commented on #351
We also need to be very careful about the UX

[2021-02-21 18:09] ajmnz commented on #351
Yes, it should. If we have each message with their unique id, scrolling to them is relatively easy.

[code]

[2021-02-21 18:11] ajmnz commented on #351
That too. With mentions, urls, emojis coming soon, quotes... It could get unusable and confusing.

[2021-02-21 18:45] muttenzer commented on #87
Since this issue isn't closed yet, I found the cause of the horizontal overflow. This bug was linked to the problem with too long room names. As soon as you created a room with a name over x characters, the mobile overflow appeared: ![image](https://user-images.githubusercontent.com/49474412/108635014-18c17e00-747d-11eb-80e6-7dc423b66f7a.jpeg)

[2021-02-21 19:49] htmldev29 opened #352 "NO AUDIO"
CANNOT HEAR AUDIO ANYMORE

[2021-02-21 19:59] benawad commented on #352
fixed

[2021-02-21 19:59] #352 closed, assigned to nobody

[2021-02-21 19:59] benawad opened #353 "restarting elixir vps requires voice server to be restarted"
root cause is probably rabbitmq going down and voicer server probably just needs reconnect logic

[2021-02-21 22:09] benawad commented on #303
should be fixed now

[2021-02-21 22:09] #303 closed, assigned to nobody

[2021-02-21 22:11] mohammedgad commented on #351
yea, I believe that would make the chat crowded.

[2021-02-21 22:15] mohammedgad commented on #350
@nadirabbas won't that make the chat logic complex somehow? some people won't like their messages to be deleted by others.

[2021-02-22 01:03] nadirabbas commented on #350
@mohammedgad but as moderators/creators, they need to be able to have full control over their rooms.

[2021-02-22 01:35] mohammedgad commented on #350
@nadirabbas yup I believe that's totally valid, I don't know what I was thinking. 😄

[2021-02-22 03:54] benawad commented on #350
I want this

[2021-02-22 04:10] mistersoftware opened #356 "create rooms with permanent links under the creator's nick"
It would be useful when you enter other rooms while the guests arrive at yours

[2021-02-22 06:01] nadirabbas commented on #344
@benawad MY interpretation of this issue:
- When is he going to have the ability to schedule rooms in Dogehouse
    So he can create a room for later
- He wants to send "alarms" (notifications) to people that subscribed to his room. Like you set a reminder on YouTube and get a notification when that premiere/stream starts.

This issue is probably Google translated from his native lang.

[2021-02-22 07:06] tanay-pingalkar commented on #333
dont know how when i restart the whole setup, i got test user working. Thanks for the help.

[2021-02-22 07:06] #333 closed, assigned to nobody

[2021-02-22 13:37] tanay-pingalkar commented on #350
can you also add feature to store messages that even if user reload website the messages will be still there........and what if user can send small buffer of image (actually not needed but possible)...

[2021-02-22 13:38] nadirabbas commented on #350
@tanay-pingalkar That's for later I guess.

[2021-02-22 13:38] nadirabbas commented on #350
@benawad we can publish all the previously sent messages in an event when the user reconnects. Not sure if this is needed right now.

[2021-02-22 13:40] tanay-pingalkar commented on #351
the quote/reply message will only appear if the user will hover/click over the message and also have key binding like discord

[2021-02-22 13:42] tanay-pingalkar commented on #350
i think this is important

[2021-02-22 14:28] nadirabbas opened #358 "Should i enable sound by default?"
At the moment, the sound notification when somebody mentions will only play if you have the option checked in settings. By default it is disabled. Should I make it enabled by default @benawad ?

[2021-02-22 14:31] benawad commented on #358
yeah

[2021-02-22 14:32] benawad commented on #350
1. Chat disappearing on reload is intended, it matches twitch
2. I don't want to republish anything atm

[2021-02-22 15:02] ExtraE113 commented on #22
This appears to be fixed? Can someone else confirm? If so I’ll close it.

[2021-02-22 15:02] DGKSK8LIFE opened #360 "Add video chatting"

[2021-02-22 15:03] DGKSK8LIFE commented on #360
webRTC supports video. Video chatting would engage users more and make using dogehouse more fun/entertaining.

[2021-02-22 15:05] nadirabbas commented on #358
#361

[2021-02-22 15:08] chribjel commented on #22
Yes this is fixed for me at least! :) (Edge for Android)

[2021-02-22 15:18] James-Baloyi opened #362 "broken responsiveness in standalone mode"
![Screenshot_2021-02-22-17-09-30-872_org mozilla fenix](https://user-images.githubusercontent.com/25753980/108728105-eb82d780-7531-11eb-9b6f-df3ccbc05aa9.jpg)

[2021-02-22 16:19] #22 closed

[2021-02-22 16:19] younesaassila opened #363 "Add a text label for the "Request to speak" button"
I feel like a text label should be added beneath the "Request to speak" button as it may not be obvious to a new user what the button does and would improve accessibility.

[2021-02-22 16:47] safinsingh opened #364 "Container seems to be offset by `audio` component"
See title. When setting the `width` of the `audio` tag under `#root` to `0`, the centered layout is restored:

![image](https://user-images.githubusercontent.com/42120904/108740489-92dc1c00-74ea-11eb-9427-2e34e48b388f.png)

[2021-02-22 16:51] mohammedgad opened #366 "Enable github issues labeling"
We need to be able to label our github issues.

[2021-02-22 17:03] tanay-pingalkar opened #367 "Mentions goes wrong"
![Screenshot_2021-02-22-22-31-51-569_com android chrome](https://user-images.githubusercontent.com/72514547/108742601-dd4ab080-755d-11eb-949b-7a623a90bd8c.jpg)
What's this.... Nadir have a look at this

[2021-02-22 17:05] younesaassila opened #368 "Chat mentions should display the user's display name instead of id"

[2021-02-22 17:06] nadirabbas commented on #367
Yeah I noticed it, the background is basically transparent.

[2021-02-22 17:26] tanay-pingalkar commented on #367
Ok then i am closing the issue

[2021-02-22 17:26] #367 closed, assigned to nobody

[2021-02-22 18:22] #364 closed, assigned to nobody

[2021-02-22 18:25] #360 closed, assigned to nobody

[2021-02-22 18:26] #358 closed, assigned to nobody

[2021-02-22 19:31] DGKSK8LIFE commented on #360
Why was this closed? @benawad

[2021-02-22 20:11] hkirat opened #373 "Make Mediasoup distributed"
To support scale, might be good to add logic to distribute mediasoup connections of the same room across servers.

Not sure if this would be priority at the moment. If not, feel free to close.

[2021-02-22 20:13] KelvnPere opened #374 "Mute Speakers upon Entry (Automatically)"
**Is your feature request related to a problem? Please describe.**
Imagine someone moving to the speaker panel and doesn't know that he or she microphone is on, and starts doing random stuff in the background. That can cause an interference to any conversation that is going on.

[2021-02-22 20:16] tejxv commented on #315
this seems to be fixed now because of #318

[2021-02-22 20:16] #315 closed, assigned to nobody

[2021-02-22 20:34] PixsaOJ commented on #229
@benawad close this

[2021-02-22 20:42] PixsaOJ commented on #134
Is there any option to give PWA access to microphone? Maybe you can long press PWA icon, or find the option in the settings to do that

[2021-02-22 23:43] #28 closed

[2021-02-22 23:54] benawad commented on #178
does it happen every time or just sometimes?

[2021-02-22 23:56] benawad commented on #223
fixed in most recent version

[2021-02-22 23:56] #223 closed

[2021-02-22 23:58] benawad commented on #178
also are you android or ios and what browser?

[2021-02-23 00:04] #211 closed

[2021-02-23 00:05] benawad commented on #210
I don't want edit, but closing in favor of  #350 for deleting

[2021-02-23 00:05] #210 closed

[2021-02-23 00:06] benawad commented on #262
should be fixed now

[2021-02-23 00:06] #262 closed

[2021-02-23 00:10] benawad commented on #95
don't think I will need it

[2021-02-23 00:10] #95 closed

[2021-02-23 00:10] #48 closed

[2021-02-23 00:10] #85 closed

[2021-02-23 00:18] #19 closed

[2021-02-23 00:30] benawad commented on #373
yeah going to wait until rooms start dying

[2021-02-23 00:30] #373 closed, assigned to nobody

[2021-02-23 00:31] benawad commented on #368
I want it to display the username

[2021-02-23 00:31] #368 closed, assigned to nobody

[2021-02-23 00:31] #363 closed, assigned to nobody

[2021-02-23 00:35] benawad commented on #362
I think this is fixed in latest version

[2021-02-23 00:35] #362 closed, assigned to nobody

[2021-02-23 00:36] benawad commented on #342
this is not fixable at the moment, but probably should hide twitter auth on that

[2021-02-23 00:37] #335 closed, assigned to nobody

[2021-02-23 00:43] benawad commented on #334
closing for # #170

[2021-02-23 00:43] #334 closed, assigned to nobody

[2021-02-23 00:44] #330 closed, assigned to nobody

[2021-02-23 00:44] benawad commented on #326
should be fixed now

[2021-02-23 00:44] #326 closed, assigned to nobody

[2021-02-23 00:45] #323 closed, assigned to nobody

[2021-02-23 01:02] hkirat commented on #68
Ios's webrtc support is limited to Safari.
More here - https://stackoverflow.com/questions/39790639/webrtc-support-on-chrome-browser-in-iphone-ipad#:~:text=2%20Answers&text=No%20you%20can't%20use,web%20engine%20on%20their%20platform).

[2021-02-23 01:49] #3 closed

[2021-02-23 07:22] younesaassila commented on #368
The problem is that some people have IDs very different from their Display Name, making it very hard to follow chat.

[2021-02-23 07:25] glappy-py commented on #178
I'm on Android and I use chrome. This happens everytime

[2021-02-23 07:58] nadirabbas commented on #368
@younesaassila Twitch does the same. They show usernames.

[2021-02-23 09:07] younesaassila commented on #368
Twitch is different though because they don't have display names. They only allow you to customize the capitalization of your username.

You could argue that Facebook for example does show the display name and not the username when mentioning someone.

[2021-02-23 09:09] nadirabbas commented on #368
We can show usernames instead of display names in chat too. As @benawad wants to clone the Twitch chat.

[2021-02-23 09:16] younesaassila commented on #368
That would be a problem because then the name shown below your avatar in the Listeners/Speakers section wouldn't match your name in chat.
We either have to show display names in mentions or get rid of them entirely and only display usernames.

[2021-02-23 11:13] nadirabbas opened #378 "Arrow keys no longer work to navigate through mentions"
**Describe the bug**
Arrow keys no longer work to navigate through mentions. They used to work when this feature was added. Don't know what went wrong.

![image](https://user-images.githubusercontent.com/38838675/108835919-fa30c380-75f1-11eb-8cd4-ae833ef2dd13.png)

[2021-02-23 13:12] #378 closed, assigned to nobody

[2021-02-23 13:17] benawad commented on #360
I don't want to support video

[2021-02-23 13:55] benawad opened #383 "room header covers chat header on mobile (when chat is open, room header should not show)"

[2021-02-23 13:55] benawad opened #384 "mute yourself, then unmute, then try talking and active speaker bubble doesn't always show right away"

[2021-02-23 13:55] benawad opened #385 "when I follow someone it should suggest who else I should follow"

[2021-02-23 14:13] benawad opened #386 "Roadmap"
**Main Roadmap**
- Fix bugs
  -  https://github.com/benawad/dogehouse/projects/1#column-13063475
- Design a better UI
  - @ajmnz
- Social features
  - [ ] alert followers when you create a new room [modal on website/browser notification]
  - [ ] notifications section to see who follows you and ability to follow back
  - [ ] after following someone, suggest who I should follow next
  - [x] schedule

[2021-02-23 15:04] Subhom1 commented on #323
It was on mobile, @chrome

[2021-02-23 15:41] nadirabbas opened #387 "Show confirmation modal when click on logout button"

[2021-02-23 15:41] #387 closed, assigned to nobody

[2021-02-23 15:42] nadirabbas opened #388 "Show confirmation modal when I click on logout button"

[2021-02-23 17:50] AbhinavRajesh opened #390 "Add speakers/members image in the room card"
**Is your feature request related to a problem? Please describe.**
It would be really cool if we could see the image of the speakers before we join a room

**Describe the solution you'd like**
As this app uses github/twitter authentication adding picture from github/twitter account should do

**Describe alternatives you've considered**
Option for user to upload profile picture in settings

**Addit

[2021-02-23 18:40] miguelcarreiro opened #392 "Auto-refresh room cards in the homepage"
**Is your feature request related to a problem? Please describe.**
When in the homepage, I have to update the page several times to have updated info about the rooms, which can be a bit annoying.

**Describe the solution you'd like**
Auto-update room cards in the homepage.

**Describe alternatives you've considered**
A button to update cards without refreshing the entire page.

[2021-02-23 22:23] nemanjapesic opened #394 "Emoji Reactions"
The idea is to have some emoji or thumbs up floating up from behind users avatar when that user presses the reaction key.

In yesterdays discussion we found that It would be great to have this feature as a kind of virtual nod of approval to the current speaker without having to interrupt him or wait for him to finish before giving him a feedback on what he is currently saying.

Something like this

[2021-02-23 23:54] arhammusheer opened #396 "Audio feedback on muting and unmuting self"
**Is your feature request related to a problem? Please describe.**
Sometimes doesn't give me the confirmation I need and I need to go back and look if the mic is muted.

**Describe the solution you'd like**
A mute and unmute sound on those events. Audio feedback just gives me the assurance that YES I AM MUTED.

[2021-02-24 01:43] nadirabbas opened #397 "Input widths are wrong"
![image](https://user-images.githubusercontent.com/38838675/108932649-88955b80-766b-11eb-897e-b76aa0ca9b1e.png)
![image](https://user-images.githubusercontent.com/38838675/108932684-977c0e00-766b-11eb-8ff8-72eec48211ec.png)

[2021-02-24 05:11] AbhinavRajesh opened #400 "User can change there name to blank even after validation!"
**Describe the bug**
User can change their name to blank

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://dogehouse.tv'
2. Click on 'Edit Profile'

When submitting the name without any content it successfully throws out an error
![image](https://user-images.githubusercontent.com/54738622/108950375-2731b480-768c-11eb-8870-abf5f8cf645e.png)

But when submitting the name with 2 or

[2021-02-24 06:26] James-Baloyi opened #402 "send private messages in the room chat"
Sometimes you want to say something to someone in secret, but you can't because everything in chat is visible to everyone.

I suggest something like @user #whisper {insert message here} - only the users you've tagged should be able to see it.

This is quicker and easier to implement than an entire private chat thing - so if that's in the works this can serve as a placeholder of sorts.

[2021-02-24 10:07] tanay-pingalkar opened #403 "can take room previews"
i think this will be great to have a preview of room before joining the room.

[2021-02-24 10:49] daddasoft commented on #400
yeah definitely  the string Should be trimmed

[2021-02-24 11:20] RonaldColyar opened #404 "Implementation of detailed design docs"
Me and Fotie have came up with the idea: to collaborate on a series of design documents for each individual portion of dogehouse(strucuture and flow)to make contributing easier. Is there anyway we could be assigned this task?

[2021-02-24 11:23] FotieMConstant commented on #404
@benawad ? ...Indeed we need a detailed technical documentation for the doghouse project.

[2021-02-24 14:57] benawad commented on #301
postponing this into the future, closer to when I want funding

[2021-02-24 14:57] #301 closed, assigned to nobody

[2021-02-24 14:59] nadirabbas commented on #402
love this idea until we get DMs. @benawad ?

[2021-02-24 15:03] DGKSK8LIFE commented on #301
So you are not having the meeting?

[2021-02-24 15:23] FotieMConstant commented on #301
So, no meeting?

[2021-02-24 18:57] benawad commented on #404
Sounds good, I'm also going to be releases a video soon that'll go into more detail that you can use as well.

[2021-02-24 19:03] benawad opened #405 "Weekly Contributor Meeting | 1pm CT Sunday"
I'm going to be starting a weekly DogeHouse room at 1pm CT on Sundays to discuss the state of the project with contributors.

3/21 Meeting: https://www.youtube.com/watch?v=id4f2rzolIA (latest)

[2021-02-24 20:19] nemanjapesic opened #406 "Not opening profile of users that left the room when clicking on their name in the chat"
**Describe the bug**
The profile of users that left the room is not opening when clicking on their name in the chat

**To Reproduce**
Steps to reproduce the behavior:
1. Say bye to someone, they are leaving
2. Click on their name to see their profile and follow them
3. It doesn't open
4. Try not to cry

**Expected behavior**
It should display their profile info in a modal

**What device are you on

[2021-02-24 23:19] #6 closed

[2021-02-24 23:55] benawad commented on #402
I'm good with this, but I want a cleaner syntax. Something like `@#user` so I don't have to type `#whisper` every time

[2021-02-25 00:00] benawad commented on #394
I'm about to deploy emojis to chat and I think this might cover some of this use case. Feel free to reopen after trying if you still like a reaction thingy

[2021-02-25 00:00] #394 closed, assigned to nobody

[2021-02-25 00:01] ityonemo opened #407 "Kousa: Arch: Consider using Phoenix Tracker or Phoenix Presence instead of database"
For keeping track of user online state.  This information doesn't really need to live in the database, and having frequent read/write events to the db on this content will eventually hammer your database and cause responsiveness issues.

You don't need to pull in Phoenix as a dependency to use Phoenix Tracker, it exists as standalone library.  https://hexdocs.pm/phoenix_pubsub/Phoenix.Tracker.html

[2021-02-25 00:17] benawad commented on #407
I'm all for moving this out of the db, if you have a good way to fetch your followers that are online.

Right now it's easy because I can just do a join (https://github.com/benawad/dogehouse/blob/staging/kousa/lib/data-layer/follower_data.ex#L25), how would you go about querying that if we move it out of the db?

[2021-02-25 00:31] ityonemo commented on #407
I've actually never used tracker, I've only used Phoenix Presence, which builds on top of Tracker (but requires full Phoenix dependency), so here is my guess:

1. whenever someone connects in with you register their genserver with Tracker
2. Tell Tracker you are available.  This sets the CRDT to register you as "being present".  This then broadcasts over a pubsub channel that you are here.
3. then

[2021-02-25 00:43] recalcitrantjim opened #408 "No avatars."
**Describe the bug**
Missing avatars.

**To Reproduce**
Go to https://dogehouse.tv/

**Expected behavior**
Seeing avatars
**Screenshots**
![Screenshot (57)](https://user-images.githubusercontent.com/77511422/109085784-f4a9ab00-76cf-11eb-961f-c313261f92d5.png)

**What device are you on?**
Windows laptop, running chrome 88.0.4324.182
**Additional context**

[2021-02-25 00:49] #408 closed, assigned to nobody

[2021-02-25 00:58] benawad commented on #407
3. We could limit the number of people you can follow for this to work, but on the other side of things you can invite one of your followers to a room who is online. Big accounts could have millions of followers which I assume is too big for this method to work.

Also displaying when a user was last online is a thing which might just need to live in the db

We could still add this to alert you whe

[2021-02-25 01:22] ityonemo opened #409 "Kousa: Arch: Elixir normalization and conventionalization"
Currently, the module and directories organization is very unconventional.  Elixir doesn't care (for most things) but it does make it hard for experienced Elixir Devs to navigate.

Happy to PR a reorg of the code.

you have two options:
1.  Bog standard Ecto organization.  This is what the generators will give you.  It will be familiar to the greatest number of elixir devs
2.  Hyperhypebeast organ

[2021-02-25 01:31] ityonemo commented on #407
Haha why not?  I'm not sure how far this scales!  A million followers is still only like 16 MB or so.  You can push bigger content than that over erlang distribution (especially after OTP23 so there is no longer HOL blocking https://github.com/erlang/otp/pull/2133).  Everything after that is diffed, so no biggie.

That is the case.

[2021-02-25 01:32] nafg opened #410 "Chat input shouldn't have autocomplete"
**Describe the bug**
The chat input pops up autocomplete suggestions from my previously entered messages

**To Reproduce**
Steps to reproduce the behavior:
1. Go into a room
2. Enter a message in the chat
3. Click on the chat input
4. See previous message pop up as an autocomplete suggestion

**Expected behavior**
No popup

**What device are you on?**
chromebook

[2021-02-25 01:34] kaijihan commented on #410
![Screenshot_20210225-083338_Chrome](https://user-images.githubusercontent.com/79467682/109089667-32481b80-7744-11eb-9b7f-411e39c1a05e.jpg)

[2021-02-25 01:58] benawad commented on #409
definitely 2, PR would be great

[2021-02-25 02:11] benawad commented on #407
If last online is going to be in the db, then might as well keep isOnline and have tracker for websocket updates and not queries

[2021-02-25 05:10] nadirabbas opened #413 "Wrong color when somebody mentions you"
When somebody mentions you, the color used to be bg-blue. Now it is gray-ish.
![image](https://user-images.githubusercontent.com/38838675/109106510-b785fd00-7751-11eb-9276-ec33e541f38e.png)

[2021-02-25 05:19] tejxv commented on #410
this can be fixed with [autocomplete="off"](https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion#disabling_autocompletion)

[2021-02-25 05:47] nadirabbas opened #414 "Woahhhh"
![image](https://user-images.githubusercontent.com/38838675/109109263-ccb15a80-7756-11eb-8bb2-7e31512e094f.png)

[2021-02-25 05:49] nadirabbas commented on #406
yeah they are out of memory at that point lol

[2021-02-25 06:16] yaslam-dev opened #415 "Reward for Rooms."
At Dogehouse, It is normal for public rooms to last for more than 16 to 18 hours, one thing we can do to provide feedback to speaker and listener is to reward them.

Specs :
1- A timer component will be rendered somewhere on the room(Team will decide), to let people know how much time is elapsed since its creation, changing the name of the room shouldn't reset the timer and it will be destroyed on

[2021-02-25 07:17] nadirabbas commented on #413
#416

[2021-02-25 13:57] nadirabbas opened #420 "Redirect users to edit profile page when they sign up"
A lot of people don't even know that their usernames are basically random characters. It'd be nice if they get redirected to the profile page automatically when they sign up, so they can fix their usernames right away.

[2021-02-25 14:08] Subhom1 opened #421 "Horizontal Scrolling on Long Group Title"
When I'm wringing a long group name it breaks the UI.
![bug_dogehouse](https://user-images.githubusercontent.com/20743746/109164965-06a74e80-77a1-11eb-9771-eb25a300a130.png)

[2021-02-25 14:26] Subhom1 commented on #421
It's showing on chat closed. My screen resolution is 1366*768. I can still see this issue

[2021-02-25 14:44] Subhom1 commented on #421
Ben has to merge if it was fixed by you.

[2021-02-25 14:53] #421 closed, assigned to nobody

[2021-02-25 14:54] #374 closed, assigned to nobody

[2021-02-25 14:54] #410 closed, assigned to nobody

[2021-02-25 14:56] #414 closed, assigned to nobody

[2021-02-25 15:11] #413 closed, assigned to nobody

[2021-02-25 15:12] #397 closed, assigned to nobody

[2021-02-25 15:46] nadirabbas opened #423 "Scrollbar was reset to default"
I think as CSS was removed, the scrollbar was reset to this ugly looking default chrome bar

![image](https://user-images.githubusercontent.com/38838675/109178311-8a196d80-77aa-11eb-8b43-494a8216f067.png)

[2021-02-25 16:30] benawad commented on #423
This was probably lost in the tailwind conversion, we can probably just copy it back into `main.css`

[2021-02-25 16:33] nadirabbas commented on #423
@benawad `vars.css` only has the variables defined for scrollbar style. I couldn't find where they are actually being used.

[2021-02-25 16:45] benawad commented on #415
I like it, go for it!

[2021-02-25 16:47] benawad commented on #392
yeah I think we need a better system to keep homepage with fresh info

[2021-02-25 16:51] benawad opened #424 "setup storybook"

[2021-02-25 16:51] benawad commented on #313
what's left on this is to setup semantic release to automate changelog creation

[2021-02-25 16:53] benawad commented on #311
Before I add electron to releases, I want a way for it to auto-update itself on new releases so we don't get a bunch of stale electron clients

[2021-02-25 16:54] #179 closed

[2021-02-25 16:55] #84 closed

[2021-02-25 16:55] #18 closed

[2021-02-25 16:56] nadirabbas commented on #311
@benawad  can we like auto-refresh or something? cuz the newly built files have unique hash names anyway, so it will fetch new resources.

[2021-02-25 16:57] benawad commented on #366
it looks like only contributors can label things, let me know if you want to label stuff and I can add you as a contributor

[2021-02-25 16:57] #366 closed, assigned to nobody

[2021-02-25 17:09] benawad commented on #311
I want something like that, I haven't looked into electron so idk how easy that is to do

[2021-02-25 17:10] nadirabbas commented on #311
@benawad  I will look into it. We have to set some value on the backend to tell it that new changes were deployed.

[2021-02-25 17:15] #27 closed

[2021-02-25 17:15] #271 closed

[2021-02-25 17:16] benawad commented on #176
we have emojis now, next up is to add `BetterTTV` custom emotes

[2021-02-25 17:17] benawad opened #426 "setup Cloudflare worker that injects open graph tags"

[2021-02-25 17:22] benawad commented on #70
For now, I don't want to deal with letting users uploading arbitrary images. A bandaid solution is to let users change the url to their avatar, but require it to be a twitter or github url.

[2021-02-25 17:37] #423 closed, assigned to nobody

[2021-02-25 18:08] mohammedgad opened #427 "[Feature] Display user local time in user profile"
Save the user timezone and display the local time in the user profile.
Users can edit their timezone from the edit profile page.
That will help to display the time for chat messages if we wanted to do that in the future.

_I don't know if that is needed or not, it's just a good feature that I like in **slack** and will be useful in displaying chat messages time_

cc: @benawad @nadirabbas

[2021-02-25 18:12] nadirabbas commented on #406
@benawad What if we make a request to the backend from `ProfileModalFetcher`?

[2021-02-25 18:16] benawad commented on #406
Yeah and we should denote in the profile that they left the room

[2021-02-25 21:05] nadirabbas commented on #251
@benawad working on this must be fun 😂

[2021-02-25 21:06] #324 closed, assigned to nobody

[2021-02-25 21:11] #325 closed, assigned to nobody

[2021-02-25 21:12] #306 closed, assigned to nobody

[2021-02-25 21:13] #9 closed

[2021-02-25 21:13] #163 closed

[2021-02-25 21:45] DGKSK8LIFE commented on #251
You need to validate reports and mitigate any potential for fake reporting/spam and botting. Might wanna implement ReCAPTCHAs for this.

[2021-02-25 23:51] wtLau opened #429 "asdasd"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-25 23:51] #429 closed, assigned to nobody

[2021-02-25 23:51] wtLau commented on #429
err

[2021-02-26 02:50] benawad commented on #427
I don't think this is needed. It's more of something to see what timezone other coworkers are on. We are going to store the timestamp in UTC and convert it to local timezone on the frontend by getting it from the browser.

[2021-02-26 02:50] #427 closed, assigned to nobody

[2021-02-26 10:01] nadirabbas commented on #429
what?

[2021-02-26 10:45] nadirabbas commented on #251
https://github.com/MauriceButler/badwords/blob/master/array.js

[2021-02-26 15:42] ainaracatgirl opened #430 "Mic select box text & background color is white"
**Describe the bug**
The mic select box shows the name of the mic in white and the background for the select box is also white.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Voice Settings
2. Click on the mic select box
4. See error

**Expected behavior**
The background on black and the text in white, or the other way around.

**Screenshots**
![dogehouse mic error](https://user-i

[2021-02-26 15:46] Mudrank opened #431 "recently the site takes like a 3-4seconds to load rather than 0.5s"

[2021-02-26 16:00] akash3444 opened #433 "It is not showing loading screen"
When I click on followers or following to see the list of people, I saw that it is showing 'No users found' for some time. But then it is showing the list of people.
It would be best if it shows loading when loading the people list and show no users found if there is no follower or following

[2021-02-26 17:05] lebrancconvas opened #435 "It shows a black blank screen when I click on my profile."
**Describe the bug**
It happens when I try to change my bio in the profile when I change it, then It shows me that I can't go to my profile. It shows a black blank screen instead.

**Screenshots**
Record Link: https://youtu.be/UVGUQaH-LrM

**What device are you on?**
Google Chrome on Macbook Pro M1 13'' (macOS BigSur 11.2.1 ARM64)

[2021-02-26 17:08] nadirabbas commented on #435
What did you write in your bio?

[2021-02-26 17:36] Delected commented on #384
![image](https://user-images.githubusercontent.com/58377193/109334832-38ff8d00-782f-11eb-99dd-09130f7e4b0c.png)
this ^^^
bubble is not showing up, just a visual bug so it's that important/severe

[2021-02-26 18:03] #430 closed, assigned to nobody

[2021-02-26 18:10] #350 closed, assigned to nadirabbas

[2021-02-26 18:22] benawad commented on #431
Can you open the network tab and see what is taking up the time?

I'm assuming you are talking about initial load and not just for the rooms to show up.

[2021-02-26 18:23] #435 closed, assigned to nobody

[2021-02-26 18:24] #256 closed

[2021-02-26 18:32] Mudrank commented on #431
Yeah sure
![image](https://user-images.githubusercontent.com/70035508/109340380-f40b4300-788e-11eb-8027-6181641e2062.png)
main page

![image](https://user-images.githubusercontent.com/70035508/109340517-2157f100-788f-11eb-8143-bf3bc5be651a.png)
a room

[2021-02-26 18:34] nadirabbas commented on #385
@benawad what factors come into play when we try to find similarities between users? Because currently, we don't have many defining factors for users other than follower count.

[2021-02-26 18:35] nadirabbas commented on #290
@benawad do you want to use Arrow keys to navigate or the tab keys?

[2021-02-26 18:50] benawad commented on #431
looks like something took 32 seconds on the room page, wow

can you scroll down in the network tab until you see a large time

[2021-02-26 18:51] benawad commented on #385
followers of followers

[2021-02-26 18:51] benawad commented on #385
if those don't exist, grab some popular users

[2021-02-26 18:52] benawad commented on #290
tab, you can match the behavior of `window.confirm`

[2021-02-26 18:52] nadirabbas commented on #431
@benawad today we hosted a room, and there were 44 speakers. we tried to speak at the same time. and there were 20+ listeners too. I think that's when it happened. not sure

[2021-02-26 18:53] benawad commented on #431
it might just be all the profile pics loading

[2021-02-26 18:54] Mudrank commented on #431
Yeah we also tried we were like 40 people and the server crashed

On Sat, 27 Feb 2021, 12:22 am Nadir Abbas, <notifications@github.com> wrote:

[2021-02-26 18:55] nadirabbas commented on #431
it did not ccrash btw

[2021-02-26 18:55] benawad commented on #431
it didn't crash but it was slow?

[2021-02-26 18:56] nadirabbas commented on #431
not slow, it worked like a charm

[2021-02-26 18:56] nadirabbas commented on #431
there were a couple of users tho, whose voices were breaking when we all spoke at the same time.

[2021-02-26 18:57] Mudrank commented on #431
Maybe , Yes I think but for me everything foze for few seconds

[2021-02-26 18:58] nadirabbas commented on #431
you had a different problem, you had to leave and rejoin the room to get it fixed, right?

[2021-02-26 18:58] Mudrank commented on #431
Yeah

[2021-02-26 19:34] benawad commented on #384
note to self: I'm not able to replicate this locally, might need to test it in prod.

Could be related to race condition

[2021-02-26 19:36] benawad commented on #431
so is the 3-4 second load time when you load the website for the first time or try to join a room?

[2021-02-26 19:36] #342 closed, assigned to nobody

[2021-02-26 19:40] #2 closed

[2021-02-26 20:56] tejxv opened #436 "react frontend won't run locally"
well, i tried to run the script ```npm start:staging``` but it throws an error so i ran ```npm run start:staging``` and it partially worked but the error this time was
[code]
idk what's wrong, and im on windows btw

[2021-02-26 21:08] benawad commented on #436
npm i -D cross-env

Then put cross-env in front of the staging command.

[2021-02-26 21:20] tejxv commented on #436
that worked! thank you!

[2021-02-26 21:20] #436 closed, assigned to nobody

[2021-02-26 21:22] benawad commented on #436
can you pr it for other window users

[2021-02-26 21:25] tejxv commented on #436
okay sure

[2021-02-27 00:31] #396 closed, assigned to nobody

[2021-02-27 01:20] arhammusheer opened #438 "Blown out homepage when the room name is too long."
**Describe the bug**
When you join the room with a really long name and then try to go back to the main homepage while still connected to voice and chat open, the content is completely blown out.

**To Reproduce**
Steps to reproduce the behavior:
1. Open logged in homepage
2. Create a public room with a really long name (I tested with 80 Characters)
3. Open chat
4. Click on the top left doge butto

[2021-02-27 01:47] benawad opened #439 "electron crashes on mac when requesting mic permission"
This causes the crash `systemPreferences.askForMediaAccess("microphone");`

probably related to https://github.com/electron/electron/issues/19307

but this didn't fix it: https://github.com/electron/electron/issues/19307#issuecomment-524314643

cc @Stancobridge any ideas?

[2021-02-27 02:27] nadirabbas commented on #439
@benawad this should probably help? https://github.com/electron/electron/issues/19307#issuecomment-512783270

[2021-02-27 02:28] nadirabbas commented on #439
we can do:
`
"mac": {
    "hardenedRuntime": false
  }
`

[2021-02-27 02:33] Mudrank commented on #431
yes I think

[2021-02-27 02:38] #383 closed, assigned to nobody

[2021-02-27 02:38] #438 closed, assigned to nobody

[2021-02-27 02:40] benawad commented on #439
Tried that with the same result and I think we want to keep that on for security

[2021-02-27 02:46] benawad commented on #103
I think this should be fixed

[2021-02-27 02:46] #103 closed

[2021-02-27 02:53] nadirabbas opened #441 "Sort followers list by date followed"
If I look at my followers, I don't know who recently followed me unless I scroll down to the hell. May be `desc` sorting them by followed date would work?
![image](https://user-images.githubusercontent.com/38838675/109373477-d068ec80-78d0-11eb-85c3-9714b8747ad3.png)

[2021-02-27 04:45] Gautam-Arora24 commented on #433
I am working on this!

[2021-02-27 04:47] Gautam-Arora24 commented on #433
Thank you @nadirabbas

[2021-02-27 04:48] nadirabbas commented on #433
@Gautam-Arora24 btw if you haven't already seen it, a `Spinner` component already exists. you can use that.

[2021-02-27 04:50] Gautam-Arora24 commented on #433
Sure! First of all, I will try to reproduce this bug on my local machine and then will use that component :)

[2021-02-27 05:15] Gautam-Arora24 commented on #433
@nadirabbas I am unable to connect with Github on my local development. Though, I followed the steps that were stated in the contributing guidelines

[2021-02-27 05:16] nadirabbas commented on #433
Have you created the Github OAuth app and everything?

[2021-02-27 05:17] Gautam-Arora24 commented on #433
No, neither the test user is working.

[2021-02-27 05:18] nadirabbas commented on #433
Test user won't work in case you're using Docker version cuz thats prod. You need to use dev `iex -S mix`

[2021-02-27 05:20] Gautam-Arora24 commented on #433
Then, how to create the Github OAuth app?

[2021-02-27 05:21] nadirabbas commented on #433
@Gautam-Arora24 Create here: https://github.com/settings/apps and get the client secret and id.

[2021-02-27 05:29] Gautam-Arora24 commented on #433
@nadirabbas What's the need of creating this Github OAuth app?
I mean how will it benefit me to put down this issue of mine

[2021-02-27 05:30] nadirabbas commented on #433
@Gautam-Arora24 You will be able log in with Github.

[2021-02-27 05:31] Gautam-Arora24 commented on #433
Then what should I need to add in URL? Will that be dogehouse.tv?

[2021-02-27 05:32] nadirabbas commented on #433
That will be your local ip and the port you're running the Elixir API on. I think you need to revisit https://github.com/benawad/dogehouse/blob/staging/CONTRIBUTING.md

[2021-02-27 05:33] nadirabbas commented on #433
Normally it would be `http://localhost:4001/auth/github/web`

[2021-02-27 05:34] Gautam-Arora24 commented on #433
Thanks @nadirabbas I am now setting up a full local development environment.

[2021-02-27 05:54] Gautam-Arora24 commented on #433
@nadirabbas Do I really have to set up the whole development environment to connect with Github?

[2021-02-27 05:57] nadirabbas commented on #433
@Gautam-Arora24 Yup. It's not complicated if you look at the contribution docs.

[2021-02-27 06:00] Gautam-Arora24 commented on #433
Sure!

[2021-02-27 07:33] tanay-pingalkar commented on #176
Emoji mart have support of emoticons I will work on it

[2021-02-27 07:40] tanay-pingalkar commented on #176
@nadirabbas hello will you please tell me how do you want emoticons feature.

[2021-02-27 07:41] nadirabbas commented on #176
@tanay-pingalkar We just need custom `BetterTTV` emotes support. In the existing emoji-mart package.

[2021-02-27 07:44] tanay-pingalkar commented on #176
Yea that's good and possible, but from where can i get that  emojis like pogs..... Is there any site who have free
Emojis

[2021-02-27 08:00] nadirabbas commented on #176
BetterTTV

[2021-02-27 08:01] tanay-pingalkar commented on #176
Oki

[2021-02-27 08:54] nadirabbas opened #445 "We have horizontal scrolling in chat"
only in case of links

![image](https://user-images.githubusercontent.com/38838675/109382609-4ede8200-7903-11eb-830b-d1ba22ce2094.png)

[2021-02-27 09:03] nadirabbas commented on #445
This is because we have `break-words` instead of `break-all` in chat message classes. If we change it to `break-all`, then the words get broken from in between.

So lets add `break-words` in case of messages, and `break-all` in case of a link.

[2021-02-27 09:17] karankumar89 opened #448 "Send button/icon on chat"
Send button/icon on chat box would be a nice feature to have. So we don't have to rely on the send bar on the native keyboard. Also, I might be wrong or didn't pay attention - couldn't find a way to enter a new line.

Device: Samsung s10+ (Android 11)
Web browser: Chrome

[2021-02-27 13:10] Mudrank opened #449 "Please add a feature to report people"

[2021-02-27 13:17] Mudrank opened #450 "Feature to unban"

[2021-02-27 13:24] Mudrank opened #451 "Save chat"
I think the chat should be saved so that when a user joins the session they can see  the chat and get a context of what is been discussed

[2021-02-27 13:31] nadirabbas commented on #451
@Mudrank not saving the chat is intended

[2021-02-27 13:31] #451 closed, assigned to nobody

[2021-02-27 13:35] nadirabbas commented on #448
@karankumar89 yeh that feature would be nice. Btw the chat uses an `<input />` instead of a `<textarea />` so there are no newlines.

[2021-02-27 14:05] Mudrank commented on #451
Ok cool , Thanks @nadirabbas

[2021-02-27 14:23] benawad commented on #448
I want this to be mobile only

[2021-02-27 14:31] nadirabbas opened #453 "A way to disable mute/unmute sounds?"

[2021-02-27 14:31] #453 closed, assigned to nobody

[2021-02-27 14:33] nadirabbas commented on #453
just realized they're there lol

[2021-02-27 15:40] tanay-pingalkar commented on #176
I have asked betterTTV for support for dogehouse...till now  we can  add some custom emojis

[2021-02-27 15:42] nadirabbas commented on #176
@tanay-pingalkar is it not possible to download those emotes directly from their website? https://betterttv.com/emotes/top IDK

[2021-02-27 15:45] tanay-pingalkar commented on #176
Yea

[2021-02-27 15:53] Seldom-SE opened #455 "Ellipsis cause adjacent words to generate hyperlinks"
**Describe the bug**
When I type an ellipsis between two words, it creates a link.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter a room
2. Type "test...test"
3. The text will send you to a nonexistent url

**Expected behavior**
A link should not be generated

**Screenshots**
<img width="245" alt="Screen Shot 2021-02-26 at 23 06 30" src="https://user-images.githubusercontent.com/38388

[2021-02-27 16:12] TatchumNono commented on #404
@benawad Hi, I wish to contribute to the documentation.

[2021-02-27 17:49] nadirabbas commented on #445
@benawad some guy recommended `word-break: anywhere`. I didn't even know this was a thing.

[2021-02-27 17:55] lenilsondc commented on #445
`word-break: anywhere` works but has some browser support limitations.

![image](https://user-images.githubusercontent.com/13702123/109395554-ba2c5200-790b-11eb-9d42-7fc7187adda4.png)

Using the `break-all` class should suffice though.

[2021-02-27 17:56] nadirabbas commented on #445
@leonyanagida but that makes the chat undreadable. You can try locally.

[2021-02-27 18:05] Gautam-Arora24 commented on #433
@nadirabbas How can I see the effect of code change in the browser? I mean after changing the code and saving it, I cannot see any change in the browser even after refreshing it

[2021-02-27 18:31] #152 closed

[2021-02-27 18:46] lenilsondc commented on #445
@nadirabbas I just did some testings and `overflow-wrap: anywhere` doesn't provide the desired result as well because it's going to needlessly break words that shouldn't be broken.

It turns out the class `break-words` works just fine if you add width limit along side with `max-w-full`, tested locally and seems to somewhat "fix" it.

![image](https://user-images.githubusercontent.com/13702123/1093

[2021-02-27 18:58] liketurbo opened #457 "Can't change my username, without adding bio"
**Describe the bug**
Can't change my username, without adding bio. Get the error: "length 2 to 160 characters".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [DogeHouse](https://dogehouse.tv) (log in, if you didn't)
2. Enter your profile, click edit
3. Enter new username and you'll get an error (if you have empty bio)

**Expected behavior**
If by default bio is empty, I think you sho

[2021-02-27 19:01] nadirabbas commented on #445
@lenilsondc Kudos! what about a PR?

[2021-02-27 19:17] #445 closed, assigned to nobody

[2021-02-27 20:15] bgergely0 commented on #457
Same, but I don't get an error message. The save button simply doesnt work.

[2021-02-27 21:08] matheuschimelli commented on #450
What about pay to unban?

[2021-02-27 22:46] benawad opened #460 "add a prettier pre-commit hook"

[2021-02-27 23:49] #457 closed, assigned to nobody

[2021-02-28 01:14] PuckDan opened #463 "Permission denied message covers the bottom icons (mobile)"
**Describe the bug**
So when your on mobile and make a room without a mic and go to chat the permission denied message covers the icons.

**To Reproduce**
Steps to reproduce the behavior:
1. Go on 'mobile'
2. Go to 'make a room without a mic'
3. Click on 'chat'
4. See error

**Screenshots**
![Screenshot_20210227-185314_Brave](https://user-images.githubusercontent.com/65829743/109404747-a0503680-79

[2021-02-28 01:43] #388 closed, assigned to nadirabbas

[2021-02-28 01:49] PuckDan opened #465 "Permission denied message still pops up when you leave the room"
**Is your feature request related to a problem? Please describe.**
Yes. So when you make a room without mic and there is a permission denied message and then you leave and its still there.

**Describe the solution you'd like**
be able to close the permission denied message.

**Describe alternatives you've considered**
when you leave the room and the permission denied message automatically gets del

[2021-02-28 02:16] nadirabbas commented on #460
@benawad should this be added in `kofta` or in the root dir? Cuz there are multiple TS/JS projects.

[2021-02-28 02:18] benawad commented on #460
probably root

[2021-02-28 02:33] mayconbenito opened #467 "Add margin to sound effects settings page"
Use the same margin as the Voice Settings page

Sound Effects Settings:
![Sound Effects Settings Page](https://user-images.githubusercontent.com/28637562/109405890-71988700-7953-11eb-9464-6c47f829d257.png)

Voice Settings Page:
![Voice Settings Page](https://user-images.githubusercontent.com/28637562/109405923-b3293200-7953-11eb-802d-266843ccc776.png)

[2021-02-28 03:32] akash3444 commented on #420
I am working on this.

[2021-02-28 03:33] nadirabbas commented on #420
@benawad have you thought about it?

[2021-02-28 03:52] iJustErikk opened #469 "Light theme"

[2021-02-28 03:52] #467 closed, assigned to nobody

[2021-02-28 03:53] ityonemo opened #470 "Kousa: Arch: postgres table names are in camelCase"
typically one expects postgres column names to be in snake_case, to avoid confusion in case you should decide to port the code to an SQL that has... different casing rules.  Ecto kind of expects columns to exist in snake_case.  And it might cause headaches if you ever decide to go to Absinthe (elixir's GQL system) b/c Absinthe will try to automatically convert the GQLs from camelCase to sanke_case

[2021-02-28 04:14] Mudrank commented on #450
@benawad

[2021-02-28 04:17] #441 closed, assigned to nobody

[2021-02-28 05:28] #448 closed, assigned to nobody

[2021-02-28 06:35] tejxv opened #478 "chat won’t scroll on iOS PWA"
**Describe the bug**
the room chat won't scroll, instead, the messages get cramped together

**To Reproduce**
Steps to reproduce the behavior:
1. add dogehouse.tv to home screen via the share sheet
2. open any chat
3. type some messages
4. they get merged together

**Expected behavior**
chat should scroll

**Screenshots**
![image](https://user-images.githubusercontent.com/54097365/109409988-1602e3

[2021-02-28 06:58] baibhabmondal commented on #400
Hey Ben can I take this one?

[2021-02-28 07:27] tejxv commented on #478
well, the issue persists on safari too

![image](https://user-images.githubusercontent.com/54097365/109410938-7e08f800-79c4-11eb-9139-81312ef24e99.png)

[2021-02-28 08:28] nikkhilkharade commented on #433
@Gautam-Arora24  did you create a build?

[2021-02-28 08:31] Gautam-Arora24 commented on #433
@nikkhilkharade No

[2021-02-28 09:42] Mudrank opened #480 "glitch?"
https://user-images.githubusercontent.com/70035508/109414200-ab12d600-79d7-11eb-8b9e-c36df23a4d9e.mp4

@benawad?

[2021-02-28 10:25] nadirabbas commented on #480
Are you talking about chat?

[2021-02-28 10:27] KristofKekesi commented on #480
The rooms container I think.
![image](https://user-images.githubusercontent.com/64812024/109415241-dd144000-79b7-11eb-8b47-2f82da3ec4d8.png)

[2021-02-28 10:27] Mudrank commented on #480
@nadirabbas @KristofKekesi  both of them the container and the chat

[2021-02-28 10:36] Mudrank opened #482 "automatically mute the person"
if join a room and left as a speaker and joined after then it keeps mic on as default on

[2021-02-28 10:50] Stancobridge commented on #439
So bad that I don't use Mac here, am on Linux there is no way I can test it out...

[2021-02-28 10:52] Stancobridge commented on #172
idevosm

[2021-02-28 11:23] ayoubmehd opened #483 "Visual bug: Rooms list overflow there container"
A Visual bug in the home page

Enter the home page

The rooms container shouldn't have a fixed height.
or it should scroll

![image](https://user-images.githubusercontent.com/43169971/109416544-2ddb6700-79bf-11eb-8729-4d265060f43f.png)

Windows 10 V2004 OS Build 19041.804 Brave Browser Version 1.20.110 Chromium: 88.0.4324.192

[2021-02-28 13:53] #455 closed, assigned to nobody

[2021-02-28 13:54] #70 closed

[2021-02-28 14:16] #460 closed, assigned to nobody

[2021-02-28 14:23] JammSpread commented on #340
Yeah, it may halt the money making of this billion dollar unicorn.

[2021-02-28 14:26] piyusharorawork opened #486 "Error Message I should never see this"
**Describe the bug**
Got an error message "you should never see this" but still seeing this  after multiple refresh

![image](https://user-images.githubusercontent.com/31386968/109421815-eaa0e880-79fe-11eb-8ba5-2c226520beb4.png)

[2021-02-28 14:29] DGKSK8LIFE commented on #172
I need the ID to add you @Stancobridge

[2021-02-28 14:29] #450 closed, assigned to nobody

[2021-02-28 14:33] #402 closed, assigned to nadirabbas

[2021-02-28 14:34] Mudrank commented on #486
@piyusharorawork I am getting the same issue.
@nadirabbas  @benawad

[2021-02-28 14:36] benawad commented on #486
is it on a specific room?

[2021-02-28 14:41] Mudrank commented on #486
it's just this room called "Gagie"

[2021-02-28 14:47] #465 closed, assigned to nobody

[2021-02-28 15:06] rh3xp opened #487 "Messages are not being sent on chat"
**Messages are not being sent on chat**
Me and many people in the chat are unable to text any message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Any room'
2. Click on 'Chat'
3. Try sending a message
4. See error -> you won't be able to text anything

**Expected behavior**
The message should be displayed in the chat

**What device are you on?**
Ubuntu 20.04, latest version of chr

[2021-02-28 15:20] #487 closed, assigned to nobody

[2021-02-28 15:33] benawad commented on #483
reverted this css, should be fixed

[2021-02-28 15:33] #483 closed, assigned to nobody

[2021-02-28 15:34] benawad commented on #480
reverted this css, should be fixed

[2021-02-28 15:34] #480 closed, assigned to nobody

[2021-02-28 15:37] JammSpread opened #488 "UI Internationalization"
The UI of DogeHouse is in English. This may be a problem for international users.

Ideally, builtin UI should be just as natural to non-English users as English speakers.

Solutions like those used by Microsoft (VSCode) could be taken with specified local translations.

[2021-02-28 15:54] JammSpread opened #489 "Volume Minimum and Maximum"
Currently you can change the volume of others in the range of 1 through 200 (1 through 100 for your own microphone volume) through a web slider.
However you cannot change it to absolute 0. Also, 200 may seem arbitrary compared to 100 (a standard and unit).

I feel the minimum and maximum of what you can set the volume to should be modified accordingly.

[2021-02-28 16:11] FotieMConstant commented on #424
Hey, @benawad sounds really good! Could we set this up for the doc? @nadirabbas just notified me of this issue...

[2021-02-28 16:13] JammSpread opened #490 "Media Integrations"
**Is your feature request related to a problem? Please describe.**
Currently DogeHouse does not have the ability to interact with others by visiting their social media profiles right from DogeHouse. This would encourage users to communicate with others further.

**Describe the solution you'd like**
Profiles can have optional media integrations with other platforms added to them.

**Current workaro

[2021-02-28 16:21] Mudrank opened #491 "add Images"

[2021-02-28 16:41] #486 closed, assigned to nobody

[2021-02-28 16:46] Mudrank opened #492 "delete msg not working"
@nadirabbas

[2021-02-28 16:47] benawad commented on #492
what is your permission level in the room and what is the permission level of the person who's message you are trying to delete?

Or are you deleting your own messsage?

[2021-02-28 16:47] benawad commented on #491
I don't want images for a long time and maybe never

[2021-02-28 16:47] #491 closed, assigned to nobody

[2021-02-28 16:48] Mudrank commented on #492
Yes, deleting my own message

[2021-02-28 16:49] nadirabbas commented on #492
yeah for some reason that randomly stops working.

[2021-02-28 16:50] benawad commented on #478
can you verify this still happens in latest release, I reverted some css

[2021-02-28 16:51] JammSpread opened #493 "Mentioning Permission Roles"
I'm thinking maybe you should be able to mention (and whisper) to specific roles like,
- @owner
- @mods

This would allow users to mentions people with specific permissions quicker and with more ease.

(However this issue does not call for custom roles.)

[2021-02-28 16:54] nadirabbas commented on #492
@benawad probably an error on the frontend. looking into it.

[2021-02-28 16:55] nadirabbas commented on #492
Also, the whispers are working locally but not on prod so that's a bug too.

[2021-02-28 16:57] benawad commented on #492
whispers not working might be because not everyone has latest version, have you tested it with someone who refreshed?

[2021-02-28 16:57] nadirabbas commented on #492
yeah :(

[2021-02-28 16:57] nadirabbas commented on #492
everyone has basically refreshed now. I think the code got lost if somebody resolved conflicts?

[2021-02-28 16:59] Mudrank opened #494 "Edit message"

[2021-02-28 17:05] #186 closed

[2021-02-28 17:06] benawad commented on #494
matching twitch on this with no edits atm

[2021-02-28 17:06] #494 closed, assigned to nobody

[2021-02-28 17:07] benawad commented on #492
maybe my revert messed it up, you can add it back

[2021-02-28 17:16] benawad commented on #424
sure

[2021-02-28 17:30] nadirabbas commented on #402
@benawad basically had to move the only `tokens` handler after the `whisperedFor` handler in `socket_handler.ex`

[2021-02-28 17:35] FotieMConstant commented on #424
I think we will have to have the documentation written first, then we can set this up! Just checked on StoryBook and it's more of documenting the various components of the project(in our case react website). Once we are done with the actual doc we will see into setting this up. I think it's more proper this way, what do you think?

[2021-02-28 17:38] benawad commented on #424
I'm going to be using it for building out the mockups, so if you are still working on the docs then I'll set it up

[2021-02-28 17:46] FotieMConstant commented on #404
@RonaldColyar once we are done with the doc we will have to use Storybook to document the code(frontend), I think it'll really be helpful for documenting the code (Components), check this issue #424

[2021-02-28 17:54] FotieMConstant commented on #424
Awesome, please do, currently working on the structure of the doc, will propose that in a PR.

[2021-02-28 18:13] tejxv commented on #478
@benawad yeah it's still happening but i found the culprit but it's breaking a few other things lol
but i can make it work and will submit a PR soon

[2021-02-28 19:02] benawad commented on #384
only for you

[2021-02-28 19:17] Mudrank opened #495 "Should'nt be the console cleared in the production version ?"
![image](https://user-images.githubusercontent.com/70035508/109430479-a7a73b00-7a27-11eb-8358-e619bc545366.png)

[2021-02-28 19:19] DGKSK8LIFE opened #496 "Add Screen Sharing"
**Is your feature request related to a problem? Please describe.**
I often find that developers, including myself, use Dogehouse to seek assistance debugging issues and getting suggestions for upcoming projects/projects they are currently working on.

**Describe the solution you'd like**
Often times, with platforms like Discord, developers screenshare their code to seek assistance, I believe addin

[2021-02-28 19:44] Mudrank opened #497 "premiere like YouTube"
premiere the recorded podcast as premiere with live chat

[2021-02-28 19:47] ityonemo opened #498 "Org: OPSEC guidelines (suggestion)"
A set of recommendations to protect contributors from opsec attacks, e.g.

[2021-02-28 19:49] Mudrank opened #499 "Chat slowMode set by the mode"

[2021-02-28 19:51] Mudrank opened #500 "username is typing........"
if the user is typing something  just a little preview that he is typing

[2021-02-28 20:01] ein-christoph commented on #500
In small rooms it could name the users like

userx, usery, userz are typing...

and switch when 5+ people are typing to

<usercount> users are typing

[2021-02-28 20:40] sahilmob commented on #151
I guess currently the data returned when the user connects to the socket doesn't include the banned users map in order to repopulate `bannedUserIdMap` in `useRoomChatStore`

[code]

[code]

[2021-02-28 20:56] benawad commented on #500
I don't want this

[2021-02-28 20:56] #500 closed, assigned to nobody

[2021-02-28 21:34] benawad commented on #496
I want to be audio focused

[2021-02-28 21:34] #496 closed, assigned to nobody

[2021-02-28 21:34] benawad commented on #495
no, it's good for debugging

[2021-02-28 21:34] #495 closed, assigned to nobody

[2021-02-28 21:35] benawad commented on #498
do you know of a good list that we can piggyback off of?

[2021-02-28 22:42] #12 closed

[2021-02-28 22:43] #478 closed, assigned to nobody

[2021-02-28 23:08] Atlas7005 opened #503 "User(Bot) API"
**Describe the solution you'd like**
A public API to interact with DogeHouse programmatically, to create apps such as Music Bots or even ChatBots.

**Describe alternatives you've considered**
I considered trying to look into whether or not a public API was required... Let's just say, I gave up very quickly, as I generally dislike reading through code that isn't mine _(lol)_ And it just seemed easi

[2021-03-01 03:23] benawad commented on #151
yeah this error would be thrown from the server

[2021-03-01 03:32] matt-mekha opened #504 "Text selection over multiple chat messages is wrapped backwards"
### Bug description
When you select text over multiple messages in the chat, it starts wrapping backwards, like this:
https://user-images.githubusercontent.com/51768075/109448364-64d76a00-7a0b-11eb-9715-98a1bbe8a946.mp4

### To reproduce
Steps to reproduce the behavior:
1. Open [dogehouse.tv](https://dogehouse.tv) (I used Chrome on Windows).
2. Make a new room and send a few chat messages.
3. Sele

[2021-03-01 03:36] Mudrank commented on #492
Now the delete works!

[2021-03-01 03:36] #229 closed

[2021-03-01 03:40] Mudrank opened #506 "room name with character limit"

[2021-03-01 03:41] benawad commented on #506
the limit should be 255, are you able to create one larger?

[2021-03-01 03:45] Mudrank commented on #506
don't you think 255 is too much?

[2021-03-01 04:11] DGKSK8LIFE commented on #496
What features do you plan on adding to monetize dogehouse, then? @benawad

[2021-03-01 04:38] JammSpread commented on #506
Maybe somewhere closer to 64 or 32?

[2021-03-01 05:51] ityonemo opened #509 "rename Follower.fetch_following_online/1"
**Describe the bug**
Follower.fetch_following_online/1 seems to return follows that aren't online

**Expected behavior**
only online follows should be returned.

See test@ test/ad_hoc_user_test.exs:219

[code]

when you take `@tag :skip` off.

note that both of the returned structs have `online: false`

Posting here before actually fixing it just to see if this correlates with other unusual observ

[2021-03-01 05:54] ityonemo commented on #509
note this won't be on staging branch until hyperhypebeast branch is merged in (and it may be a bit before the hyperhypebeast branch reflects this @9p PT 28 Feb)

[2021-03-01 06:44] Mudrank opened #510 "gift dogeCoins"
\\

[2021-03-01 07:48] FotieMConstant commented on #510
Hi @Mudrank, thanks for bringing this up. Coins will for sure be coming up in the next major update! Stay tuned!

[2021-03-01 07:50] FotieMConstant commented on #509
@benawad @nadirabbas

[2021-03-01 07:51] FotieMConstant commented on #506
That's right, I think 60 or 64 will do!

[2021-03-01 07:55] FotieMConstant commented on #488
I was just about to race this issue, Thanks for bringing this on, @JammSpread. I could add a french translation. once the react-i18next has been setup!

[2021-03-01 08:32] Mudrank opened #511 "send btn in chat on pc"
@nadirabbas

[2021-03-01 08:33] ityonemo opened #512 "Arch: switch away from using naivedatetime to utc datetime"
this is going to be critical when in the future ben will discover that there need to be many datacenters in many continents

[2021-03-01 08:34] ityonemo commented on #512
not urgent, but the more database tables are created with naive timestamps, the more painful the migration will be over time.  Also, should research into just how bad it is or isn't this migration.

[2021-03-01 08:37] Mudrank opened #513 "room with hashtags and a separate page for trending hashtags room"
@nadirabbas

[2021-03-01 08:39] ityonemo commented on #512
also consider storing dates in the db down to the millisecond or microsecond resultion.

[2021-03-01 08:40] tejxv commented on #511
currently it's an intended behaviour but the upcoming UI refresh might have a send button on web

[2021-03-01 08:48] Mudrank commented on #511
ok so I'll close this

[2021-03-01 08:49] ityonemo commented on #509
https://github.com/benawad/dogehouse/blob/51421edff6162ba1fe08a18cf0b231d2dc55ebc3/kousa/test/ad_hoc_user_test.exs#L218-L236

[2021-03-01 08:49] Mudrank opened #514 "Deleted message"
![image](https://user-images.githubusercontent.com/70035508/109473243-107acb80-7a99-11eb-8a6b-e389cf2d6ec0.png)

I think it should be message deleted instead of  retracted

[2021-03-01 08:52] Mudrank commented on #431
@benawad @nadirabbas  should this issue be closed?

[2021-03-01 11:56] Salman2301 opened #517 "Delete Message"
**Describe the bug**
When the user click on the delete the message, the message can't deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the chat
2. Add the message
3. Click on the name in the chat[ for that message ], it will open the popup
4. Click on the delete message popup in the popup

**Expected behavior**
Should delete the user message, once the button is clicked

**What d

[2021-03-01 12:04] Salman2301 commented on #517
@nadirabbas

[2021-03-01 12:27] nadirabbas commented on #514
`retracted` means you deleted your own message. `deleted` means somebody else (`mod`, `creator`) deleted your message.

[2021-03-01 12:27] #514 closed, assigned to nobody

[2021-03-01 12:27] nadirabbas commented on #517
Yes, we're aware of that. It randomly stops working. There is already an issue open for this. I am looking into it. Duplicate #514

[2021-03-01 12:29] nadirabbas commented on #517
It works and stops working randomly atm. I am looking into it.

[2021-03-01 12:30] #511 closed, assigned to nobody

[2021-03-01 12:31] nadirabbas commented on #509
@ityonemo this is intended. I forgot to rename the function. Now it is actually supposed to fetch both online and offline users. The thing that makes this function distinct from other followers/following fetching functions is that this also returns the current room the people you're following are in. a PR maybe?

[2021-03-01 12:33] #504 closed, assigned to nobody

[2021-03-01 14:02] #431 closed, assigned to nobody

[2021-03-01 15:45] nadirabbas commented on #192
@benawad We can have a field in the room. Something like `room_rules` or something. This can also be used as a pinned message for new users to give them context about the current discussion. This can be editable. We can put this along with the room name edit modal.

This way only a few lines of code could close this issue.

[2021-03-01 15:46] joshrezende commented on #424
I can pickup this one

[2021-03-01 15:47] nadirabbas commented on #424
@joshrezende please coordinate with @FotieMConstant I think he's working on this.

[2021-03-01 15:59] joshrezende commented on #424
@FotieMConstant you already started? and if so your idea its to have a separated folder or to live inside the react one?

[2021-03-01 16:13] #512 closed, assigned to nobody

[2021-03-01 16:13] FotieMConstant commented on #424
Hi, @joshrezende. Ben said he'll set this up, so we'll take it from there once we are fully done with the content of the doc... lately working with @RonaldColyar on the structure of the doc. all the same, you can still do that and present on a PR.

[2021-03-01 16:30] benawad commented on #424
@joshrezende I wasn't going to get to it until the mockups are done, so if you want to set it up now, all yours

[2021-03-01 16:31] benawad commented on #424
probably keep it in `kofta` to keep it simple

[2021-03-01 16:32] benawad commented on #192
yeah I want to add a room description where stuff like that can go

[2021-03-01 16:34] nadirabbas commented on #192
@benawad creating an issue and will add a field to the DB.

[2021-03-01 16:45] nadirabbas opened #518 "Add room description (basically pinned message)"

[2021-03-01 17:03] ityonemo commented on #509
I'll de-escalate from bug and make this a rename/refactor task.

[2021-03-01 17:04] ityonemo commented on #509
huh, gh won't let me de-escalate it, lol

[2021-03-01 17:06] ityonemo opened #519 "Kousa: Arch: make followerCount not be updated imperatively."
I think it should be able to be set via some sort of precomputed function in postgres,  I will look into that.   (low prio)

[2021-03-01 17:11] joshrezende commented on #424
ok then \o

[2021-03-01 17:14] benawad commented on #519
could possibly be a trigger

[2021-03-01 17:16] nadirabbas opened #520 "Add google analytics?"

[2021-03-01 17:16] DGKSK8LIFE commented on #520
Analytics for what exactly though? @nadirabbas

[2021-03-01 17:17] nadirabbas commented on #520
@DGKSK8LIFE to see traffic data for Dogehouse 😅

[2021-03-01 17:32] nadirabbas opened #523 "follower-only/public rooms"

[2021-03-01 17:36] DGKSK8LIFE commented on #520
Ah yes. Ok lol thought you were going to be more specific but ok.

[2021-03-01 17:37] nadirabbas commented on #520
Ben is prolly gonna close this anyway 😂

[2021-03-01 17:38] DGKSK8LIFE commented on #520
How it be :cry:

[2021-03-01 17:53] ityonemo commented on #519
haha I forgot to mention justification for this.  Suppose you impertatively set followerCount, but something happens between the addfollower and the setfollowercount (vm dies, database connection drops) and the process handling it gives up the ghost - then the count will drift from what is actually the case; so it's better to use the relational guarantees to track this value.

[2021-03-01 18:13] Mudrank commented on #492
Not working! @nadirabbas  @benawad

[2021-03-01 18:13] nadirabbas commented on #492
There is another issue open for this

[2021-03-01 18:13] #492 closed, assigned to nobody

[2021-03-01 18:15] Mudrank opened #524 "Create account with google?"

[2021-03-01 18:16] Mudrank opened #525 "Mod can ban mod"

[2021-03-01 18:17] Mudrank opened #526 "admin can be banned"
as this happened with @nadirabbas  can you describe this @nadirabbas ?

[2021-03-01 18:21] nadirabbas opened #527 "unmod doesnt work"

[2021-03-01 18:30] Mudrank commented on #482
when is this going to happen @nadirabbas
?

[2021-03-01 18:33] nadirabbas commented on #526
Well, I wasn't precisely an admin. I was a mod, I got banned from chat. Then the room ownership was transferred to me. but I was still banned from the chat *sad nadir noises*

[2021-03-01 18:41] Mudrank opened #528 "can't unban from the chat"
can't unban from the chat even if your admin

[2021-03-01 18:42] Mudrank opened #529 "Blank space in the emoji picker modal"
![image](https://user-images.githubusercontent.com/70035508/109543103-f1595980-7aeb-11eb-8a2b-3e3bad2ff68a.png)
@nadirabbas

[2021-03-01 21:18] benawad opened #531 "Increase websocket timeout"

[2021-03-01 21:33] Abogical commented on #520
Not really comfortable with having analytics from google. I'm sure there are better alternatives.

[2021-03-01 22:57] DGKSK8LIFE commented on #520
This doesn't really make much sense, considering Dogehouse is already hosted on GCP, which probably already is internally storing data related to the application and its servers anyways. Analytics is just an app/platform to visualize and really quantify the data they are collecting.

[2021-03-01 23:48] Abogical commented on #520
Good point. However, I'd consider a server side analytics tool, not client side. This may be a stretch but considering ben's demographic, lots of people would use adblockers. Thus client side analytic solutions such as Google Analytics may provide unreliable data in the first place.

[2021-03-01 23:49] DGKSK8LIFE commented on #520
I believe google analytics is server-side?? Not 100% sure.

[2021-03-01 23:51] Abogical commented on #520
It's client side. It needs an injected JavaScript from google for it to work.

[2021-03-02 00:17] ermalsh commented on #520
10m records/month free, I personally use Amplitude. Easy to implement, nice dashboards, etc.. https://developers.amplitude.com/docs/sdk-basics

[2021-03-02 04:39] ChannelJuanNews commented on #520
please do not use google analytics for metrics tracking. Please use mixpanel or segement or literally anything else.

[2021-03-02 04:50] Mudrank opened #533 "Reply Message?"

[2021-03-02 06:24] ityonemo opened #534 "Kousa: Arch: deprecate Kousa.Dec.Atomic"
something like this shouldn't be necessary, we'll work on deprecating this and Decorators, too.

Elixir really doesn't need decorators and having them makes your code harder to read and reason about.