[2021-04-24 06:37] mabdullahadeel opened #2291 "Going back from the chat page on smaller screens leads to homepage"
**Describe the bug**
So I was listening to a doge meeting on my mobile 📱 browser and when I clicked on the chat icon/button, it opened chat as it should be. But when I swipe back from that page, it took me to the homepage of the website (https://dogehouse.tv/dash) while the audio is still connected to that very same room. Okay, I thought this is the default behavior (i-e voice doesn't disconnect o

[2021-04-24 07:31] dk-raw commented on #2290
Duplicate

[2021-04-24 07:31] #2290 closed, assigned to nobody

[2021-04-24 07:35] dk-raw commented on #2289
Works fine for me. What platform are you on?

[2021-04-24 07:50] ghost commented on #41
this has been done, can a collaborator close this?

[2021-04-24 10:02] isaboo commented on #2291
If you press the text which says 'chat' it will close it without taking you to the homepage.

POSSIBLE FIX:
When opening the chat put '#chat' on the URL. Idk whether this would work though.

[2021-04-24 10:09] #41 closed

[2021-04-24 10:11] mabdullahadeel commented on #2291
@isaboo Yeah, I know and I mentioned that in the potential fix in my issue. But the thing is the common user does not expect to have a text like the back 🔙 button. On the mobile, a common user will always swipe.

![image](https://user-images.githubusercontent.com/64294045/115955295-14622180-a50f-11eb-88ca-71e5c08a3b71.png)

Also, the main problem is that when you join another meeting, you always l

[2021-04-24 10:19] isaboo commented on #2291
Oh sorry, I didn't see that lol 😂

[2021-04-24 13:23] #2281 closed, assigned to nobody

[2021-04-24 13:24] #2271 closed, assigned to nobody

[2021-04-24 14:02] #771 closed, assigned to nobody

[2021-04-24 15:23] charafmrah commented on #2178
That's how it was designed to be, it's not a bug.

[2021-04-24 15:30] ajmnz commented on #2174
@Mvrs @Ongshu777 What's your progress? Free them up if you aren't able to work on them right away

[2021-04-24 15:34] Mvrs commented on #2174
Will be done by 7pm PST. I should be done well before that.

[2021-04-24 16:07] amitojsingh366 opened #2294 "unable to view profile modal/page (trying to ban offensive profile)"
this is the profile: [https://dogehouse.tv/u/cumni***aa](https://dogehouse.tv/u/cumnigggaa)
<img width="1205" alt="Screen Shot 2021-04-24 at 7 05 08 PM" src="https://user-images.githubusercontent.com/35400192/115965067-0a044f80-a530-11eb-9165-e14ffae0fd4d.png">

<img width="455" alt="Screen Shot 2021-04-24 at 7 04 20 PM" src="https://user-images.githubusercontent.com/35400192/115965049-f658e900-a5

[2021-04-24 16:09] amitojsingh366 commented on #2294
this happens to everyone who does not have a bio @benawad

[2021-04-24 16:12] s3ansh33p commented on #2294
Video Clip 1: https://cdn.discordapp.com/attachments/793015082141351996/835546258902089798/2021-04-25_00-02-02.mp4

[2021-04-24 16:19] #2294 closed, assigned to nobody

[2021-04-24 17:46] Angshu31 commented on #2174
Yea, I'm don't have time, I'll let someone else do it.

[2021-04-24 19:34] Mayowa-Ojo commented on #2174
I'll do `ChangeAvatarCard` if no one has picked it up

[2021-04-24 19:54] Bqleine commented on #2262
I don't know how to do it tho

[2021-04-24 21:55] A-Yamout commented on #251
@benawad What if we do it discord style and let the users on both sides decide, so it will be client side?

[2021-04-24 21:59] A-Yamout commented on #340
- [ ] Email Auth
- [ ] Google Auth
- [ ] 2FA

[2021-04-24 22:03] A-Yamout commented on #797
I like Hyperdoge from @irateAnimal

[2021-04-24 22:05] A-Yamout commented on #888
@ityonemo If you are done with this could you close this issue?

[2021-04-24 22:08] A-Yamout commented on #1003
@abdpro300 Could you please tell us what browser and the version of it that you are using?

[2021-04-24 22:15] ghost commented on #1003
This just seems extremely stale, considering we switched to a completely new design. I would recommend closing this.

[2021-04-24 22:21] A-Yamout commented on #2289
Maybe we should implement [this](https://github.com/LeDDGroup/scroll-utility)?

[2021-04-24 22:38] Mayowa-Ojo commented on #2174
#2298 - added `ChangeAvatarCard`

[2021-04-25 01:58] Mvrs commented on #2174
@ajmnz give me tmr 6am PST. I had a huge 5 hr bug and I'm rolling now. My bad. Last extension 🙏🏿🥲

[2021-04-25 04:40] PuckDan opened #2301 "The calendar list is stuck to your screen when you scroll down on scheduled rooms page"
**Describe the bug**
The calendar list is stuck to your screen when you scroll down.

**To Reproduce**
Steps to reproduce the behavior:
1.  scheduled rooms
2. Click on 'the calendar icon'
3. scroll down
4. See error

**Expected behavior**
I expected the calendar list to stay where it was.

https://user-images.githubusercontent.com/65829743/115980971-329f4000-a556-11eb-9702-756f7b6a347f.mp4

**What

[2021-04-25 06:33] dk-raw commented on #2289
I cannot reproduce the bug on my system. That's why I asked him about his. The scrollbar works fine on 4 different browsers for me.

[2021-04-25 12:08] BronzW commented on #384
Still a problem on the new version?

[2021-04-25 12:13] isaxk commented on #2301
*or it could just disappear

[2021-04-25 13:44] Mvrs commented on #2174
@Mayowa-Ojo you wanna take `NativeCheckbox`? I'm too tired now 😅.

[2021-04-25 13:49] Mvrs commented on #2174
Almost done with `Checkbox` just a quick UI then it's a wrap 🥲🚀

[2021-04-25 14:17] wes337 commented on #2287
So I did a bit of digging here, and it seems like we do not want to show a copy/paste URL here. We want to first fetch the invite list, which is your followers/following (I think), and send them invites.

Problem is, the `getInviteList` is returning `data.users` as an empty array.

So we might need confirmation on how exactly private rooms and inviting users is supposed to work.

[2021-04-25 14:38] KittyBorgX opened #2308 "pfp ded"
Console :
Failed to load resource: the server responded with a status of 404 ()
b38c4eb412e9e89fc8b835f0369fa17e22c84d20.8d3e80a87ef766f43617.js:1 Object
b38c4eb412e9e89fc8b835f0369fa17e22c84d20.8d3e80a87ef766f43617.js:1 nulling transports
b38c4eb412e9e89fc8b835f0369fa17e22c84d20.8d3e80a87ef766f43617.js:1 creating a device
b38c4eb412e9e89fc8b835f0369fa17e22c84d20.8d3e80a87ef766f43617.js:1 create r

[2021-04-25 15:10] resteqs opened #2309 "No access to terms of use etc-"
**Is your feature request related to a problem? Please describe.**
It is a problem when you can't see the rules of the platform

**Describe the solution you'd like**
Ad a link to Terms of service

**Describe alternatives you've considered**
Ad a button to terms of service

**Additional context**
do it :D

[2021-04-25 15:27] andraspalasti opened #2310 "Twitter Auth"
I was already signed in with github but i signed out and tried to sign in with twitter because in twitter i have a profile picture. Then i authorized the app to use my twitter information then got redirected but probably with a problem.
The url that i was redirected to was this:

https://dogehouse.tv/?error=something%20went%20wrong,%20try%20again%20and%20if%20the%20error%20persists,%20tell%20ben%2

[2021-04-25 17:12] nadirabbas opened #2315 "the leave button overflows"
![Screenshot_20210425-221054](https://user-images.githubusercontent.com/38838675/116002472-51afd780-a613-11eb-8701-114de247456a.png)

[2021-04-25 17:50] ajmnz opened #2316 "Add `avatarUrl` in the `peoplePreviewList` response object"
To add them to the `RoomCard`

[2021-04-25 17:59] dark-elixir-shibe commented on #888
not done

[2021-04-25 18:23] FotieMConstant opened #2318 "Doesn't auto reconnect... here's what i got in the log"
When I get disconnected because of internet issues or wifi breaks. doesn't auto reconnect
![image](https://user-images.githubusercontent.com/42372656/116004600-68e2cb00-a5fb-11eb-8ebf-3e3f9638019f.png)

[2021-04-25 18:25] sohank1 opened #2319 "Redirect to intended room after logging in"
**Describe the bug**
If you are not logged in and you click a link to the room it takes you to the login page after you login you are redirected to the dashboard page instead of the room page

**To Reproduce**
Steps to reproduce the behavior:
1. Click a link to room while not logged in
2. Login with GitHub or twitter
3. It redirects you to /dash instead of the link you originally clicked

**Expect

[2021-04-25 18:34] FotieMConstant commented on #2318
@benawad here you go!

[2021-04-25 18:48] HenryLeC commented on #2310
To the best of my knowledge the OAuth system needs your email, so if you could attempt to link an email to your twitter account and then log in again that would be great. Once you do that if you could update the issue that would be amazing.

[2021-04-25 19:03] andraspalasti commented on #2310
I linked my email to my twitter account its the same email that i use with github, but it still doesn't work.

[2021-04-25 20:13] christianq commented on #2315
Duplicate bug of https://github.com/benawad/dogehouse/issues/2244

[2021-04-25 20:22] SammRosenthal opened #2322 "Add Hover Text to Add to Calendar Button on Scheduled Rooms"
**Is your feature request related to a problem? Please describe.**
Want to know what the add to calendar button does without having to open the drop down.

**Describe the solution you'd like**
Add hover text to the add to calendar button on scheduled rooms saying something like "Add to Calendar".

**Describe alternatives you've considered**
We could possibly use a different icon that has something

[2021-04-25 20:48] #2315 closed, assigned to nobody

[2021-04-25 20:48] #1980 closed, assigned to nobody

[2021-04-25 20:51] TudorVersoiu commented on #2310
Same issue here even after linking an email.

[2021-04-25 21:06] ajmnz commented on #2322
Added #2324

[2021-04-25 21:06] #2322 closed, assigned to nobody

[2021-04-25 22:10] ajmnz commented on #2319
Changed your title to make it more clear 👍🏼

[2021-04-25 23:52] bensaine commented on #2160
bump

[2021-04-26 01:51] #2319 closed, assigned to nobody

[2021-04-26 01:52] nadirabbas commented on #2256
Closing it as we don't have much information

[2021-04-26 01:52] #2256 closed, assigned to nobody

[2021-04-26 02:22] benawad opened #2327 "test api should start on different port"

[2021-04-26 02:23] #2301 closed, assigned to nobody

[2021-04-26 03:53] rclarey commented on #2212
Fixed by https://github.com/benawad/dogehouse/commit/ac70ced30a7f967979715a98a47ea2ac92f3344d

[2021-04-26 05:54] amitojsingh366 commented on #2316
ill add this in

[2021-04-26 09:36] asxlvm opened #2331 "Mobile | Bad z-index on dropdown menu"
**Describe the bug**
The profile dropdown menu is under the background

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'dogehouse.tv' on mobile
2. Click on your profile picture (top right)
4. See error

**Expected behavior**
Dropdown should be visible

**Screenshots**
![Screenshot_2021-04-26-11-07-55-640_com brave browser](https://user-images.githubusercontent.com/81298611/116061733-80

[2021-04-26 09:44] mwenku opened #2332 "Banner photo is transparent when using a transparent profile image"
**Cover Photo is visible through transparent profile image**
when using a profile image that has a transparent background, the banner image is visible through the background
a photo showing the bug has been attached

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'dogehouse.tv/u/your_username.'
2. Click on 'replace your profile picture with an image with a transparent background for ex

[2021-04-26 13:08] mohdAffancodes opened #2335 "Menu z-index bug"
Account menu BUG

There is a z-index error when I click may account on the navbar the menu.
THE menu is below the "Your feed"

![sketch-1619442470027](https://user-images.githubusercontent.com/78096552/116087509-8d53ab80-a6be-11eb-9896-a3c2096d1f99.png)

[2021-04-26 13:13] #2331 closed, assigned to nobody

[2021-04-26 13:16] nadirabbas commented on #2335
fixed in 13710cc

[2021-04-26 13:16] #2335 closed, assigned to nobody

[2021-04-26 13:21] sohank1 opened #2337 "Remove Button Outlines"
**Is your feature request related to a problem? Please describe.**
Buttons on most website don't have this outline. I think it would look much better if it was removed.

![image](https://user-images.githubusercontent.com/51346607/116088639-0c6dc300-a670-11eb-8823-aa89c9030b2d.png)
![image](https://user-images.githubusercontent.com/51346607/116088778-2effdc00-a670-11eb-933a-416617d90ca2.png)

[2021-04-26 14:22] scandar opened #2338 "room gone error message stacks on top of each other"
**Describe the bug**
clicking the back button to go to the previous page when the previous page is a room that no longer exists redirects you to the homepage again if you keep clicking back it keeps redirecting and displays the 'room gone' flash message everytime

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a room
2. end it and you should be redirected to the home page
3. click the

[2021-04-26 14:25] christian-bromann commented on #2239
I would recommend to use [WebdriverIO](https://webdriver.io/) (fyi: I am the maintainer 😉 ) for this as it provides the ability to [control multiple browser](https://github.com/webdriverio/webdriverio/blob/main/examples/wdio/multiremote/mocha.test.js) within a single test abstracted into a single API and testrunner framework.

[2021-04-26 14:26] rmortes opened #2339 "A versionated API like Stripe's should be considered"
I'm watching the latest video, and Ben said that merging a PR broke the service because the API was updated but the client's weren't.

Stripe has a versionated API that works differently depending on the version sent with the request. Something like this cloud be added to the project, and support the last 20 or 30 versions of the master branch at the API. This way, the client's updates could be do

[2021-04-26 14:34] hamzaseif13 commented on #2339
I disagree with you it shouldn't do that

[2021-04-26 14:49] markocupic024 opened #2341 "serbian translation has mistakes in some places"
title is sufficient

[2021-04-26 14:50] bennihtm commented on #2339
Maybe the API endpoints could change, when the expected answer or request change in a major way (e.g. `api.dogehouse.tv/v1/request-blablabla` and then in the next version `api.dogehouse.tv/v2/request-blablabla`.

[2021-04-26 14:50] nikhilpokharel44 opened #2342 "Login issue for twitter account"
I was trying to login via my twitter account which was authenticated before but suddenly I couldn't login and was redirected to login page again until i use my github account
now i have completely new account opened 😌

[2021-04-26 14:55] nikhilpokharel44 commented on #2310
ben was talking about changing the refresh tokens for all registered account, I guess he forgot ours :)

[2021-04-26 15:04] #2316 closed, assigned to amitojsingh366

[2021-04-26 15:13] AnupNair08 opened #2344 "Notification/Feedback for link copied status"
Using the link button to copy a room link via the dashboard provides no feedback.
Seems that the button is not working as long as you paste it somewhere.

Having a notification or an alert about the status of the link being copied successfully would be much better feedback to the user.

Tried to share a room invite and ended up clicking the link button a number of times  :(

[2021-04-26 15:37] NatanCieplinski commented on #2338
Probably a duplicate of #2157

[2021-04-26 15:46] NatanCieplinski commented on #2342
Probably a duplicate of #2310

You got a new account opened because using another auth provider results in a new account. To understand why watch his [DogeLog](https://youtu.be/bngsrbFI2UY?t=240).

[2021-04-26 15:55] DevParapalli opened #2347 "Missing Page Reload / Page Update when updating fields in Profile"
**Is your feature request related to a problem? Please describe.**
Profile doesn't reload when anything about it updates. Additionally the user profile URL should be cached (even if for a short time, ~86400 seconds) and redirected (if possible) to the new username.

**Describe the solution you'd like**
Page should reload on any edits made to the profile.

**Describe alternatives you've considered*

[2021-04-26 15:56] lapwat commented on #340
+1 for email auth
+1 for no auth

[2021-04-26 16:07] tacheometry opened #2348 "Add a tooltip for the badges of moderators and administrators"
As a new user, how am I supposed to know what the badges next to these users mean?
![image](https://user-images.githubusercontent.com/39647014/116113894-95611a80-a6c1-11eb-8c84-4f79367e3759.png) ![image](https://user-images.githubusercontent.com/39647014/116114027-aa3dae00-a6c1-11eb-895b-f484d70b3945.png)
Because of this, I would have to ask someone else or through the chat. To solve this problem,

[2021-04-26 16:12] ben-sommer commented on #2160
@benawad

Can I start work on this feature then? Seems others would find this feature useful.

[2021-04-26 16:17] plunched opened #2350 "shift click to tag"
**Is your feature request related to a problem? Please describe.**
So when I want to tag someone when chatting in the live-chat, I have to remember their name to then type it manually in the chat.

**Describe the solution you'd like**
It would be cool if you could tag someone by 'shift-clicking' their name.

**Describe alternatives you've considered**
You could still get their profile page by just

[2021-04-26 16:50] nadirabbas commented on #2350
Nice

[2021-04-26 17:03] Pukimaa commented on #2160
bump

[2021-04-26 17:14] #2350 closed, assigned to nobody

[2021-04-26 17:14] ghost opened #2353 "Screen Sharing"
It would be nice if we could get a screensharing feature.

[2021-04-26 17:20] #2342 closed, assigned to nobody

[2021-04-26 17:20] #2310 closed, assigned to nobody

[2021-04-26 17:26] themosaeed opened #2354 "Switch to playwright E2E testing ?"
Are you concediring playwright E2E testing ? I can help setting this up or implementing the already done with cypress in playwright. If there is a team that is doing this I would love to join.

[2021-04-26 17:38] Temi-pinheiro opened #2356 "Chat does not resize properly when changing screen resolutions"
**Describe the bug**
When in a room, if you are on a laptop/desktop and your window size is mobile or tablet, when you click into chat and send or receive a couple of messages and then later resize your window back to desktop, there is large spacing between the messages.

**To Reproduce**
Steps to reproduce the behavior:
1. Resize your window to a tablet or mobile size
2. Click on the chat box
3.

[2021-04-26 17:47] nadirabbas commented on #2356
what's not proper here?

[2021-04-26 17:47] #2353 closed, assigned to nobody

[2021-04-26 17:47] he1d1 commented on #2353
no message?

[2021-04-26 17:51] nadirabbas commented on #2353
@benawad doesn't want this feature.

[2021-04-26 17:52] nadirabbas commented on #2337
i believe this has been fixed

[2021-04-26 17:52] #2337 closed, assigned to nobody

[2021-04-26 17:53] nadirabbas commented on #2239
I believe we have Cypress now

[2021-04-26 17:53] #2239 closed, assigned to nobody

[2021-04-26 17:54] #2178 closed, assigned to nobody

[2021-04-26 17:55] nadirabbas commented on #2168
this has been fixed

[2021-04-26 17:55] #2168 closed, assigned to nobody

[2021-04-26 17:56] AsToNlele commented on #226
Commit 68eac26801bf3542d483304c710a9c51d019db10 fixes this.

[2021-04-26 17:57] nadirabbas commented on #2078
whisper = regular message with `isWhisper` set to `true`.

[2021-04-26 18:01] #1965 closed, assigned to nobody

[2021-04-26 18:01] #1924 closed, assigned to nobody

[2021-04-26 18:15] #1851 closed, assigned to nobody

[2021-04-26 18:16] nadirabbas commented on #2354
Isn't playwright just an alternative?

[2021-04-26 18:49] dazmaks opened #2358 "Add GitHub identicon avatar URL"
Can you add "https://github.com/identicons/*username*.png" links to Edit Profile>GitHub/Twitter avatar URL field?
![img](https://user-images.githubusercontent.com/65974379/116134485-9c475780-a6d8-11eb-966a-e12be2cc2261.png)

[2021-04-26 18:57] themosaeed commented on #2354
actually not, cypress has some limitations that playwright can address and in my opinion, is a better well-rounded option suited more for applications like dogehouse

[2021-04-26 19:02] andraspalasti commented on #2310
I don't know what did the contributors change but it is working now, I just tried it out.
Can i close this issue?

[2021-04-26 19:12] amitojsingh366 opened #2359 "bot auth is broken"
- bot token requests broken `api.dogehouse.tv/bot/auth`

[2021-04-26 19:30] #2358 closed, assigned to nobody

[2021-04-26 19:43] drvladb opened #2360 "Banners are random every time the page is reloaded (for people that I haven't updated their banner)"
**Is your feature request related to a problem? Please describe.**
The banner (for people that I haven't updated their banner) is random every time the page is reloaded.

**Describe the solution you'd like**
If the random banner should be retained, it should be set as a direct url (at registration or something) or should be randomly seeded if the value can't be stored.

**Describe alternatives you

[2021-04-26 19:44] drvladb commented on #2341
If you are able to, please help us by contributing changed to the translations.

How to open/What is a PR: https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests

[2021-04-26 19:57] adomaitisc opened #2362 "Translation to Portuguese (Brazil) is not working properly"
**Describe the bug**
In the language setting, when selecting Portuguese (Brazil), it only translated the "following" nad "followers", and Capitalize some other content such as "Upcoming Rooms", "Explore More Rooms" and more text.
I do not know if it is only happening to Portugues (Brazil), but I can affirm that Portuguese (Portugal) is working properly.

**To Reproduce**
Steps to reproduce the beh

[2021-04-26 20:07] plunched commented on #2350
oh sorry, I didn't see any open issues so I assumed there where none.

[2021-04-26 21:06] amitojsingh366 commented on #2177
yes i just checked, i can

[2021-04-26 22:06] amitojsingh366 commented on #2360
this is intentional

[2021-04-26 22:06] #2360 closed, assigned to nobody

[2021-04-26 22:22] he1d1 commented on #2353
Ah okay wasn't clear on that

[2021-04-26 22:43] joaorodrs commented on #2362
Same happened to me, on both Edge and Chrome. But look at the [translation file](https://github.com/benawad/dogehouse/blob/staging/kibbeh/public/locales/pt-BR/translation.json), you can see that there's some  things in english, so it's just fix it.
I don't mind some words being in english, this is pretty normal but most translations like `"Your feed"` that should be at least `"Seu Feed"`, but anyw

[2021-04-26 22:55] A-Yamout commented on #2359
Can you please provide more context and background info @amitojsingh366

[2021-04-26 22:59] sohank1 opened #2365 "Auth in Vercel deploys is broken"
**Describe the bug**
When I click a link of a vercel deploy(ex. `https://dogehouse-git-staging-benawad.vercel.app`) and login it redirects me to `https://**dogehouse.tv**/?accessToken=f&refreshToken=f` instead of `https://**dogehouse-git-staging-benawad.vercel.app**/?accessToken=f&refreshToken=f`

A fix could be taking the request header and redirecting to the url from there

[2021-04-26 23:26] A-Yamout commented on #2318
isn't that normal for security? @FotieMConstant

[2021-04-26 23:59] ajmnz opened #2369 "Chat automentions users when you type their username"
https://user-images.githubusercontent.com/57961822/116165421-22c16080-a6fc-11eb-80ad-79640421f0b0.mov

[2021-04-27 00:07] benawad commented on #2359
it's not broken, you are sending the wrong format

what does your request look like?

[2021-04-27 01:07] addayounes opened #2371 "updating username glitch"
When updating the username it doesn't update it instantly, it glitches and you have to refresh the page.
when you refresh the page it'll refresh with the old username in the link and it says "Sorry, we could not find that user".

[2021-04-27 02:53] #2371 closed, assigned to nobody

[2021-04-27 05:02] TheBlueOompaLoompa commented on #2369
#2373 Patched it and waiting for approval

[2021-04-27 05:05] amitojsingh366 commented on #2359
this is what my request looks like:
[code]
i used this code and it worked at least five times and then it started throwing error 500

[2021-04-27 05:44] TheBlueOompaLoompa opened #2374 "The doughdoge emote is really big"
![image](https://user-images.githubusercontent.com/53215039/116191238-9a3dc280-a6f1-11eb-96b3-20506cfbe84a.png)
Doughdoge is very big for some reason

[2021-04-27 05:56] amitojsingh366 commented on #2359
on my local clone i tried reproducing this and it works perfectly, i assume this is just an issue with the current build of the api deployed. @benawad pls look into this

[2021-04-27 06:43] BronzW opened #2376 "Language flag/ISO code does not show"
![image](https://user-images.githubusercontent.com/50546858/116197141-a008c780-a734-11eb-94a7-a5153306b1d9.png)

[2021-04-27 07:10] ofsho commented on #1826
test

[2021-04-27 07:13] ofsho commented on #1826
ofsho#3727

[2021-04-27 07:42] amitojsingh366 commented on #2376
i think this is intentional

[2021-04-27 08:04] #2362 closed, assigned to nobody

[2021-04-27 08:12] BronzW commented on #2376
Why

[2021-04-27 08:13] BronzW commented on #2376
@ajmnz Changed it in his latest PR so the flags is their own property in LanguageSelector.tsx but he didn't add support for it in the html.

[2021-04-27 08:14] amitojsingh366 commented on #2376
im not sure about this, ill ask @ajmnz to look into this

[2021-04-27 08:20] FotieMConstant commented on #2318
not quite sure, @benawad asked me to create an issue for this with a screenshot!

[2021-04-27 08:24] ajmnz commented on #2376
Many times flags don’t respresent all the people that speak a certain language. It can even offend people in some occasions and that’s why I removed them.

I left them as a separate property because I felt that they could be useful in the future, but the change was intentional.

[2021-04-27 08:24] #2376 closed, assigned to nobody

[2021-04-27 08:25] #2374 closed, assigned to nobody

[2021-04-27 09:37] BronzW commented on #2262
Then somebody else can do it

[2021-04-27 09:51] sheecegardezi opened #2379 "Using selenium python for automate testing on a local machine"
In your blog Apr 27, 2021. You mentioned issue regarding testing multi-tab applications. I wanted to start a discussion. On weather writing tests using selenium(https://selenium-python.readthedocs.io/) in python bindings might be a good solution. I am fairly decent in it I can write tests in selenium if it is a viable idea.

[2021-04-27 12:41] HenryLeC commented on #2341
I dont speak serbian but if you add a comment saying where you have found mistakes and what the correct translation is I would be happy to add those fixes to the translation.

[2021-04-27 13:23] markocupic024 commented on #2341
I already made a pull request and fixed it

[2021-04-27 14:34] Isaiah-Hamilton opened #2385 "Audio Stops Working after few seconds of joining room"
**Describe the bug**
I tried joining a room today and after a few seconds, the audio stopped. I tried reloading the page and after a few seconds, the audio stopped. I thought it might have something to do with that room, but when I went to a different room, the same error happened.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dogehouse dashboard
2. Click on any room
3. join and wait

[2021-04-27 14:35] realansgar opened #2386 "Missing features in dashboard depending on window size"
**Describe the bug**
Dogehouse has a responsive dashboard, as described in [Ben's Video](https://www.youtube.com/watch?v=Dk1gxZ_K3E0). In it's current form, smaller window sizes get less columns to prevent a cluttered screen. But the features of these now hidden columns never reappear in some other place. In smaller windows, they are simply inaccessible. These include:

- friend list
- upcoming ro

[2021-04-27 14:39] #2348 closed, assigned to nobody

[2021-04-27 14:45] #2369 closed, assigned to nobody

[2021-04-27 16:42] BronzW commented on #2386
Having all features present is not something possible. On a phone that can't be done.

[2021-04-27 16:44] BronzW commented on #2386
Things like a friends list is not completely urgent for somebody to have to successfully interact with the app, and you can still view your profile. Things like scheduled rooms should though be available somewhere else.

[2021-04-27 16:46] realansgar commented on #2386
I'm not saying they should be "present" as in "visible all the time". But they should be accessible through some navigation. For example by introducing a hamburger menu and/or separate pages. In my opinion, all features should be accessible on all platforms (mobile, web, desktop) in some way.

[2021-04-27 16:47] Gers2017 commented on #2356
I'm working on this

[2021-04-27 16:54] #2359 closed, assigned to nobody

[2021-04-27 17:16] BronzW opened #2389 "Reserved usernames"
I feel like usernames like @elonmusk and @dogehouse should be reserved.

[2021-04-27 17:19] BronzW commented on #1969
Bot accounts and debugging system done.

[2021-04-27 18:34] A-Yamout commented on #2389
@BronzW Are we going to have to make a list of all the names?

[2021-04-27 19:07] BronzW commented on #2389
If implemented, yes.

[2021-04-27 19:29] ajmnz commented on #2386
Tablet/Mobile layout is temporary. Check Figma to know how it'll look when everything's in place

[2021-04-27 19:29] #2386 closed, assigned to nobody

[2021-04-27 19:35] realansgar commented on #2386
@ajmnz Thanks, I didn't know about this. Currently I'm not seeing a "Current room" floating button in the tablet design mockup but that should be easy to add.

[2021-04-27 22:29] overlisted opened #2397 "Bots shouldn't be included in member counts"
Rooms like this one are at the very top of the room list, because bot accounts are included in the member count:
![image](https://user-images.githubusercontent.com/66535446/116319942-a3916280-a7b7-11eb-9b91-caf31876791e.png)

I don't think that it should be like that, and the room on that screenshot should be as low on the list as a room with just 3 members.

[2021-04-27 22:30] overlisted commented on #2397
Proof that it's at the top:
![image](https://user-images.githubusercontent.com/66535446/116320675-f3bcf480-a7b8-11eb-87c4-8b26cf5bbbb2.png)

[2021-04-27 23:03] overlisted commented on #2332
that can be somewhat fixed by giving the image a background-color
![image](https://user-images.githubusercontent.com/66535446/116322981-6c25b480-a7bd-11eb-922d-11acd80d6d34.png)

[2021-04-27 23:14] amitojsingh366 opened #2398 "Undeafen and unmute sounds overlap"
@benawad here's your reminder

[2021-04-27 23:18] amitojsingh366 commented on #2177
this also happened when i switched clients

[2021-04-28 04:17] aarsxx opened #2402 "Audio Stops Working after few seconds of joining room"
Describe the bug
I tried joining a room today and after a few seconds, the audio stopped. I tried reloading the page and after a few seconds, the audio stopped. I thought it might have something to do with that room, but when I went to a different room, the same error happened.

To Reproduce
Steps to reproduce the behavior:

    Go to dogehouse dashboard
    Click on any room
    join and wait a f

[2021-04-28 10:46] TheOtterlord commented on #1564
I'm going to close this as it's covered in #1826 along with markdown. If you wish to contribute to the discussion, please do so there

[2021-04-28 10:46] #1564 closed, assigned to nobody

[2021-04-28 11:08] jacmacmod opened #2410 "Emoji button is only partially clickable"
**Describe the bug**
A clear and concise description of what the bug is.
Only part of the emoji icon is clickable

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any room
2. Try to click on emoji icon

**Expected behavior**
A clear and concise description of what you expected to happen.

The whole emoji button should be clickable

**Screenshots**
If applicable, add screenshots to help

[2021-04-28 11:45] TheOtterlord commented on #2341
As this is fixed I'll close the issue

[2021-04-28 11:45] #2341 closed, assigned to nobody

[2021-04-28 11:51] ajmnz commented on #2136
How would you tackle this? Ordering them by their label on alphabetical order?

[2021-04-28 11:56] A-Yamout commented on #2318
when you say doesn't auto reconnect does it say you have to login again? @FotieMConstant

[2021-04-28 11:57] A-Yamout commented on #2289
@shakky24 Could you please tell us what browser and OS your using.

[2021-04-28 12:09] dk-raw commented on #2410
I think this is an SVG thing

[2021-04-28 12:48] nadirabbas commented on #2397
why not?

[2021-04-28 13:11] overlisted commented on #2397
They can be abused to gain more members and get higher on the list

[2021-04-28 13:55] dk-raw commented on #2402
I cannot reproduce the bug

[2021-04-28 13:57] dk-raw commented on #2389
That's sounds like a good idea

[2021-04-28 13:57] dk-raw commented on #2402
Duplicate of #2385

[2021-04-28 13:57] #2402 closed, assigned to nobody

[2021-04-28 14:23] HoloPanio commented on #2397
I both agree and disagree.  I think bot accounts should add to the number of accounts in the room, but that is all it does, it doesn't push you up.  So if there is a room with 5 bots and 10 users, these values should be separate and you sift through the rooms using the number of users, but you add that number of bots just on the UI.

[2021-04-28 14:27] #2398 closed, assigned to nobody

[2021-04-28 14:28] benawad commented on #2379
I want to use https://github.com/microsoft/playwright

[2021-04-28 14:28] #2379 closed, assigned to nobody

[2021-04-28 14:29] benawad commented on #2347
should be fixed now

[2021-04-28 14:29] #2347 closed, assigned to nobody

[2021-04-28 14:43] Mayowa-Ojo commented on #2397
I think there should be a limit to the number of bots per room

[2021-04-28 14:46] drvladb commented on #1568
Fixed

[2021-04-28 14:46] #1568 closed, assigned to nobody

[2021-04-28 14:50] #2285 closed, assigned to nobody

[2021-04-28 14:51] drvladb commented on #2389
How would this list be sourced? What about people that already occupy these names?

[2021-04-28 15:33] DevParapalli commented on #2389
How about a simple list of accounts that are **directly** related to DogeHouse, ie @DogeHouse, @DogeHouseBot etc, and an appeal system where "Moderators" or "Admins" are able to grant usernames to high-profile people if contacted.
If @ElonMusk wanted to join, he would register a account with DogeHouse, send a appeal (with proof, maybe using work email) to the ??modmail?? that his username be chang

[2021-04-28 15:49] goldyydev commented on #2410
I.. Can not reproduce this

[2021-04-28 15:52] A-Yamout commented on #2234
I do not believe that this should be removed because people who are speaking Mongolian in chat might need it.

[2021-04-28 15:57] A-Yamout commented on #2244
had been fixed in #2404 @DevelopAppWithMe, can you close this issue

[2021-04-28 15:58] A-Yamout commented on #2410
I can't not reproduce this too.

[2021-04-28 15:59] goldyydev commented on #2308
Your firewall could be blocking these images, as you can see some temporary images have already loaded

[2021-04-28 16:00] A-Yamout commented on #2229
@MrDogeBro Could this be your internet connection/stability and not doghouse?

[2021-04-28 16:03] A-Yamout commented on #1815
@TheOtterlord Close in favor of #1900 ?

[2021-04-28 16:16] benawad commented on #2308
the urls are from gh or twitter, unrelated to dogehouse

[2021-04-28 16:16] #2308 closed, assigned to nobody

[2021-04-28 16:29] #2244 closed, assigned to nobody

[2021-04-28 16:30] goldyydev commented on #2354
I totally agree with this. Playwright just appears to be more flexible (to me)

@benawad might wanna take a look so this PR won't hang

[2021-04-28 17:03] wes337 commented on #2136
Use translated values for the labels, then sort the array in the component it's used in. Right now each language inside the `LanguageSelector` component is only in it's own language, and it's unsorted.

I can open a PR for this

[2021-04-28 17:15] BronzW commented on #2389
Their username would be changed.

[2021-04-28 17:20] nadirabbas commented on #2397
@HoloPanio yeah, we should exclude bot accounts when sorting

[2021-04-28 17:24] #2332 closed, assigned to nobody

[2021-04-28 17:30] TheOtterlord commented on #1815
Yeah, this makes sense

[2021-04-28 17:30] #1815 closed, assigned to nobody

[2021-04-28 18:31] #2287 closed, assigned to nobody

[2021-04-28 18:34] benawad commented on #2385
what is the error?

[2021-04-28 18:35] #2157 closed, assigned to nobody

[2021-04-28 19:15] BronzW commented on #38
lmao that this got a dislike is kind of funny

[2021-04-28 20:31] Pislify opened #2416 "Text box hiding text"
![Screenshot from 2021-04-28 16-27-45](https://user-images.githubusercontent.com/69803147/116468491-eba79800-a83e-11eb-92dd-5e8e9245c1be.png)
Sometimes you write a long message and if you wanna see what you wrote earlier you must  press the arrow keys to go back i would like if it grew in size upwards so you can see your whole message

[2021-04-28 21:28] Isaiah-Hamilton commented on #2385
@benawad The problem has been fixed, though I don't know how it was fixed. The problem was that when I joined a room with my Bluetooth headset connected. The audio would stop working after a few seconds. I would reload the page and the bug would happen again. Though it is working now, and I don't know why. I will let you know if I find anything else.

[2021-04-28 21:52] Matix-Media opened #2418 "JavaScript Error on start of Electron App"
**Describe the bug**
When I start the electron (Desktop) version of doghouse, I get some JavaScript errors. It seems like that this is caused by my German keyboard because it is struggling with the ü, ä & ö characters.

**To Reproduce**
Steps to reproduce the behavior:
1. Probably change your keyboard layout to German
2. Open DogeHouse Desktop
3. Voilà

**Expected behavior**
No errors...

**Screen

[2021-04-29 01:29] MrDogeBro commented on #2229
My internet may have blipped but that would not be the problem because when its disconnected, I have checked and my internet is working. And, even if my internet did blip, it should automatically reconnect as soon as it can, just like in discord. Also, I have been using the internet while it disconnects and what I was doing did not get interrupted so I am pretty sure that it is not an internet iss

[2021-04-29 05:24] amitojsingh366 commented on #2418
did this happen after you customized your keybinds or did it just happen?

[2021-04-29 07:39] dk-raw commented on #2416
Sounds good

[2021-04-29 08:42] Matix-Media commented on #2418
I didn't change anything. It happened after I installed the latest version.

[2021-04-29 10:20] amitojsingh366 commented on #2418
ok, i will look into this

[2021-04-29 12:22] #2136 closed, assigned to nobody

[2021-04-29 12:41] AakashdeepSingh1971 opened #2424 "something on dashboard on app and browser too"
I just updated my app and realized there was something (highlighted in the pictures )

I am useing desktop app and website too

![bug in app](https://user-images.githubusercontent.com/54985872/116552071-3ea04e80-a916-11eb-8071-06c5fb08f1d5.png)
![bug](https://user-images.githubusercontent.com/54985872/116552088-452ec600-a916-11eb-8e07-7d559c8f62d7.png)

[2021-04-29 13:03] goldyydev commented on #2424
What is your innerWidth and innerHeight?

[2021-04-29 13:06] #2174 closed, assigned to nobody

[2021-04-29 13:08] goldyydev commented on #2309
![image](https://user-images.githubusercontent.com/55450464/116555452-152af700-a905-11eb-96d9-95b79300ed5e.png)

[2021-04-29 13:08] #2309 closed, assigned to nobody

[2021-04-29 13:11] goldyydev commented on #2026
Closing due to inactivity

[2021-04-29 13:11] #2026 closed, assigned to nobody

[2021-04-29 13:19] Isaiah-Hamilton commented on #2385
Update, Audio only stops when I'm connected to my school's network, which is a problem with the school's network. Sorry for bothering you ben.

[2021-04-29 13:19] #2385 closed, assigned to nobody

[2021-04-29 13:32] AakashdeepSingh1971 commented on #2424
what do u mean?

[2021-04-29 13:42] #2318 closed, assigned to nobody

[2021-04-29 13:45] benawad commented on #2229
Next time this happens can you create a new issue with a screenshot or copy/paste dump of your console

[2021-04-29 13:45] #2229 closed, assigned to nobody

[2021-04-29 13:48] benawad commented on #2246
Are you able to reproduce?

Do you see an error in console?

[2021-04-29 13:51] #2007 closed, assigned to nobody

[2021-04-29 13:52] #1764 closed, assigned to nobody

[2021-04-29 13:53] #1704 closed, assigned to nobody

[2021-04-29 13:53] #1701 closed, assigned to nobody

[2021-04-29 13:53] #1485 closed, assigned to nobody

[2021-04-29 13:53] #1472 closed, assigned to nobody

[2021-04-29 13:54] #517 closed, assigned to nobody

[2021-04-29 13:54] #528 closed, assigned to nobody

[2021-04-29 13:59] benawad opened #2425 "@ben verify auto speaker works"

[2021-04-29 13:59] #1613 closed, assigned to nobody

[2021-04-29 13:59] #1958 closed, assigned to nobody

[2021-04-29 14:00] #1003 closed, assigned to nobody

[2021-04-29 14:00] #981 closed, assigned to nobody

[2021-04-29 14:00] #775 closed, assigned to nobody

[2021-04-29 14:01] #1234 closed, assigned to dk-raw

[2021-04-29 14:39] aaronTheZinc opened #2427 "Broken Electron App"
On windows 10 pc electron app isnt allowing me to view inside of the room I click. It freezes. Tried restarting and I dont know if it is just an issue with me. Bug only occurs when the app is minimized

[2021-04-29 14:42] #715 closed, assigned to nobody

[2021-04-29 14:48] younesaassila commented on #2389
How about automatically authorizing someone of using one of these usernames if they are the owner of it on Twitter/GitHub? That way if Elon Musk were to join DogeHouse, there would not be a need for him to send anything as he could just log in using his Twitter account @elonmusk.

PS: I feel like all verified Twitter accounts should have their username reserved.

[2021-04-29 15:04] younesaassila opened #2429 "[UX] Clicking the profile card should redirect to the user's profile page"
**Is your feature request related to a problem? Please describe.**
As of now, clicking the sidebar's profile card opens up the 'Edit Profile' dialog.
The problem is, most users would expect to be redirected to their profile page when clicking on this element (just like other social media platforms do ; e.g. Twitter).

**Describe the solution you'd like**
Clicking the sidebar's profile card should

[2021-04-29 15:38] MrRandomInternetDude opened #2430 "a much wow like button"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
It would be cool if there was a like button that reflected the words "much wow" as what is stated when something is said "liked"

**Describe alternatives you've considered**
There could be multiple doge like emoji reactions to consider adding. Something that I see making doge house unique co

[2021-04-29 15:39] A-Yamout commented on #2410
@OnigiriJack Is the MacBook an m1 with firefox running through rosetta because that might be causing the problem.

[2021-04-29 15:41] A-Yamout commented on #2424
@HIGH238 He means the dimension of your window when this happened.

[2021-04-29 17:10] AakashdeepSingh1971 commented on #2424
1366x768   and that never happened before

[2021-04-29 17:23] MrDogeBro commented on #2229
@benawad I will try to remember to do that if it happens again.

[2021-04-29 18:10] redpwilliams opened #2435 "Electron app deafen (Ctrl-X) keyboard shortcut applies even when the app is minimized and another window is in focus"
**Describe the bug**
The Electron Desktop Application's keyboard shortcut for deafening a room is triggered even when the app is minimized and another window is active. For example, I could be in VScode trying to cut out some code with DogeHouse minimized but still open, but instead of cutting the code out, it deafens the audio in the room even though DogeHouse is minimize.

**To Reproduce**
Steps

[2021-04-29 18:47] #2177 closed, assigned to nobody

[2021-04-29 18:50] amitojsingh366 commented on #2435
this is intended behaviour, one of the plus points of the electron app is the global keybind feature. and yes i know control+x wasn't a good keybind decision, this will be changed later today. till then you can customize the keybind to your linking

[2021-04-29 19:25] #2338 closed, assigned to nobody

[2021-04-29 19:31] redpwilliams commented on #2435
Now that I think about it, the global keybind does sound like a good idea, and it's even better that it's customizable. Thanks for telling me this! I look forward to the changes.

[2021-04-29 19:31] #2435 closed, assigned to nobody

[2021-04-29 19:31] nadirabbas commented on #2430
much wow

[2021-04-29 19:31] nadirabbas commented on #2425
🤔

[2021-04-29 19:42] nadirabbas opened #2437 "chat banned person should be able to send messages to the room creator"
a person who is banned from the chat should be able to send whispers to the room creator if he/she was banned cuz of a misunderstanding. Happened to me twice.

[2021-04-29 19:44] ajmnz commented on #2437
Unless we have some kind of block system, that would allow banned users to spam room creators. Which isn’t good

[2021-04-29 19:44] nadirabbas commented on #2437
@ajmnz just kick em out

[2021-04-29 19:45] nadirabbas commented on #2437
but i got banned due to a misunderstanding, I had no way to tell them 😢

[2021-04-29 19:45] benawad commented on #2437
I think the solution is to make it more visually obvious who has been banned from chat

[2021-04-29 19:46] nadirabbas commented on #2437
but how do I chat with the creator to tell him to unban me?

[2021-04-29 19:46] amitojsingh366 commented on #2437
@benawad he isnt saying they didnt know he was banned, he's saying that due to a misunderstanding they intentionally banned him

[2021-04-29 19:46] nadirabbas commented on #2437
yeah they didnt understand what's going on in the chat and thought i was being rude or something

[2021-04-29 19:47] amitojsingh366 commented on #2437
i think keep like a 5 msg limit that you can send the mods/admins after being banned so they can appeal

[2021-04-29 19:47] amitojsingh366 commented on #2437
are you sure about that 🤔

[2021-04-29 19:48] nadirabbas commented on #2437
@amitojsingh366 remember earlier today?

[2021-04-29 19:52] benawad commented on #2437
chat ban is a chat ban, ask to speak if it needs to be cleared up

[2021-04-29 19:52] #2437 closed, assigned to nobody

[2021-04-29 20:19] plunched commented on #576
I would really like this kind of feature for dogehouse, since rn you just can't message somone true dogehouse

if you'd wanna contact someone you'd need to dm them true discord which is not pog.

[2021-04-29 21:01] #2425 closed, assigned to nobody

[2021-04-29 21:52] ajmnz commented on #2429
This is temp while we don't have a proper settings page

[2021-04-29 21:52] #2429 closed, assigned to nobody

[2021-04-29 22:19] younesaassila commented on #2429
@ajmnz But there is an 'Edit Profile' button on the profile page itself! The current design seems redundant, not standard and doesn't make sense regardless of whether or not a Settings page is available.

[2021-04-29 22:24] amitojsingh366 commented on #2427
could you attach a video showing this?

[2021-04-29 22:52] vikashd opened #2440 "Hide login screen if already logged in"
**Is your feature request related to a problem? Please describe.**
Minor issue.

**Describe the solution you'd like**
Currently when you visit the site depending on connection speed the login screen appears if you're logged in already.

**Describe alternatives you've considered**
Perhaps hide the login (show a loader, e.g spinning doge) while it's checking if you're logged in.

[2021-04-29 23:57] RonaldColyar opened #2441 "Improper etiquette on dogehouse?"
There is a wild person who framed me for harassing other users on dogehouse two days after I got into an argumentative debate with him I got framed for harassing people on the platform by him. Let me get this straight: the creator of the bots(holopanio) got into an argument with me and two days later he is saying I made a bot to harras him? He complains about everyone and I think was a bad banning

[2021-04-30 00:03] ajmnz commented on #2429
Many users were complaining that they didn’t see where to edit the profile. We now have this button in the profile page because it was implemented two days ago.
This behavior will eventually be replaced for a link to the profile page.

[2021-04-30 01:05] A-Yamout commented on #2441
This is very awful behavior but a GitHub issue would not be the place for this, you can tell the staff or ben about this on the discord server. @RonaldColyar

[2021-04-30 01:05] #2441 closed, assigned to nobody

[2021-04-30 01:17] dusnm commented on #2441
There should honestly be a Code of Conduct to help resolve these issues in the future, but I agree Github issues isn't the place for these kinds of discussions.

[2021-04-30 06:09] BronzW commented on #2389
Yeah definitely since DogeHouse uses twitter for it's login system.

[2021-04-30 07:05] Einliterflasche opened #2442 "Missing formated title in profile pages"
HTML title when in profile pages displays "https://dogehouse.tv/u/username".

Steps to reproduce the behavior:
1. Go to any profile page dogehouse.tv/u/username
2. look at title of the tab
3. See error

**Expected behavior**
Title that looks somewhat like "u/username | DogeHouse" like on the dashboard page.

**What device are you on?**
Windows 10 Home 19042.928
Brave Browser Version 1.23.75 Chromi

[2021-04-30 07:56] Hasintha-Jayasinghe opened #2443 "Pilaf crashes after installing on android emulator."
After installing the app it crashes without any errors. The emulator is running android 10 ( I tried with 11 but that had other build errors). Can someone point out what's wrong?

[2021-04-30 08:32] thuaung30 commented on #2442
Can I do this fix?

[2021-04-30 09:44] ghost commented on #2442
yes, you can

[2021-04-30 11:31] dk-raw commented on #2440
It is authenticating you before accessing DogeHouse

[2021-04-30 14:09] Hasintha-Jayasinghe commented on #2443
I tried on a physical device too.

[2021-04-30 15:05] SyedMuzamilM commented on #2291
**It is not a bug**
You can scroll down and you will see `x` button at the top. You click it and you will go to the room you were listening to.

When you are swiping back you are going to the previous page which in your case is homepage.

Since the chat is not a page.  It is a model. You need to close it using the top right close button. And you will go back to the room.

[2021-04-30 15:07] SyedMuzamilM commented on #2291
If you are satisfied close the issue.

[2021-04-30 15:10] mabdullahadeel commented on #2291
Okay then.

[2021-04-30 15:10] #2291 closed, assigned to nobody

[2021-04-30 15:17] jobveldhuis commented on #2354
I think if you feel like we need to switch to Playwright, you will at least need to explain why we need to switch and what it would bring the project, short and/or long term. This would be the same as starting a discussion stating: *we should switch to Nuxt instead of Next*, without giving **any** reason and/or arguments about why this change would be good.

[2021-04-30 16:24] sohamsshah opened #2456 "Show `copied to clipboard` when clicking on the copy group link button"
**Is your feature request related to a problem? Please describe.**
I got terribly mistaken on clicking on the Share Link button with 'Add attachment' lol.

**Describe the solution you'd like**
Just a small toast notification of `Copied to clipboard` would work.

**Describe alternatives you've considered**
A hint text atleast to be shown on hovering the link button.

**Additional context**
Would lo

[2021-04-30 16:56] #1728 closed, assigned to nobody

[2021-04-30 16:59] benawad commented on #1485
@boorah I found a nasty bug that I think was preventing you from seeing rooms, can you see if you see them now

[2021-04-30 17:58] SalihSaygi opened #2459 "Upcoming Room Edit Bug"
**Describe the bug**
Removes your room from upcoming rooms listing and probably deletes it when you try to choose a date that is not accepted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dashboard
2. Click on + on upcoming rooms box.
3. Create your room in a valid date, but a near date (like 5 min from now)
4. Refresh the page.
5. Click edit on your upcoming room on the dashboard r

[2021-04-30 18:18] Isaiah-Hamilton commented on #2456
This sounds great, but can you give a better description of where the button is located and what it does?

[2021-04-30 18:52] #2442 closed, assigned to nobody

[2021-04-30 20:12] transli commented on #2443
Seems there's an issue with react-native-webrtc.

# This one fixes a weird WebRTC runtime problem on some devices.
# https://github.com/jitsi/jitsi-meet/issues/7911#issuecomment-714323255

Add this line to android/gradle.properties:
android.enableDexingArtifactTransform.desugaring=false

[2021-04-30 20:50] Gers2017 opened #2465 "doughdoge emoji overlaps because it's huge"
**Describe the bug**
The doughdoge emoji doesn't scale well on mobile and overlaps the chat.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dogehouse.tv/ and create a room
2. Spam the doughdoge  emoji on the chat
3. Change the viewport size to a small size.
4. Enjoy

**Expected behavior**
I was expecting a normal and responsive list of messages.

**Screenshots**
![image](https

[2021-04-30 23:00] amitojsingh366 commented on #1918
still occurs, currently fixing it

[2021-04-30 23:48] #1918 closed, assigned to nobody

[2021-04-30 23:57] he1d1 opened #2470 "Noise Cancellation"
**Is your feature request related to a problem? Please describe.**
Its really annoying to hear a room of 24 people all mashing their cherry MX brows when someone mentions an obscure framework and everyone wants to pretend to know what it is.

**Describe the solution you'd like**
It would be great to implement noise cancellation to DogeHouse so I dont have to rely on other people to use push to tal

[2021-05-01 01:19] PuckDan opened #2471 "Search bar moves up whenever you go to anyone profile page"
**Describe the bug**
search bar moves up when you go to anyone's profile or scheduled room page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'dash'
2. Click on 'a profile or scheduled room'
3. See error

https://user-images.githubusercontent.com/65829743/116766582-dc684c00-a9f0-11eb-9504-935b0182a33a.mp4

**What device are you on?**
Windows brave browser

[2021-05-01 01:24] benawad commented on #2471
should be fixed in latest deploy

[2021-05-01 01:24] #2471 closed, assigned to nobody

[2021-05-01 01:28] PuckDan opened #2472 "The title and leave button is cut off when you join a room on mobile"
**Describe the bug**
the title and leave button is cut off when you join a room on mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'mobile'
2. Click on 'a room'
3. See error

**Screenshots**
![Screenshot_20210430-202249_Brave](https://user-images.githubusercontent.com/65829743/116766813-11c16980-a9f2-11eb-840f-3b66e3452237.jpg)
**What device are you on?**
Samsung S8+ Brave Brow

[2021-05-01 01:45] boorah commented on #1485
Yes, now the rooms are visible :D. What was the issue?

[2021-05-01 02:10] benawad commented on #1485
If someone blocks you it didn't show rooms

[2021-05-01 04:24] A-Yamout commented on #2389
Could another idea be to let people use any username, and then make then change it for "impersonation" of people if it's on a list without proof?

[2021-05-01 04:46] Hasintha-Jayasinghe commented on #2443
yep that fixed it!

[2021-05-01 04:46] #2443 closed, assigned to nobody

[2021-05-01 05:08] nadirabbas opened #2473 "Can't see room name on phone"
![Screenshot_2021-05-01-10-05-38-45](https://user-images.githubusercontent.com/38838675/116771452-fc395780-aa64-11eb-81be-f889005e542b.jpg)

[2021-05-01 05:46] Isaiah-Hamilton commented on #2473
What screen size is your phone because it seems to be working just fine for me.

[2021-05-01 06:47] 0xEquinox opened #2474 "Seeing messages in rooms your arnt in"
**Describe the bug**
If you are banned from a room and enter another room you are able to see all messages from the room you are banned in.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a room and get banned or have someone banned
2. Make a new room
3. Have someone in the room you are banned in send a message

**Expected behavior**
After this, you should see the messages in your new

[2021-05-01 07:32] 0xEquinox commented on #2441
Dude, you made people feel unsafe on the platform, you constantly objectify women, call people fat, admitted to creating bots that spam whispered people tell them obscene things, and your ban evading because that's your second account cause your first one was banned.

[2021-05-01 07:48] RonaldColyar commented on #2441
One of holopaino's friends on a witch hunt...

[2021-05-01 07:52] TheOtterlord commented on #2441
Please remember to follow our [code of conduct](https://github.com/benawad/dogehouse/blob/staging/CODE_OF_CONDUCT.md) when partaking in these discussions. GitHub issues are not the place for this sort of discussion. If you wish to continue this, please do so elsewhere.

[2021-05-01 07:57] TheOtterlord commented on #2474
Just checking. No new messages popped up from the previous room, right?

[2021-05-01 07:58] 0xEquinox commented on #2474
You should be able to see all the messages being sent in the old room in the new room.

[2021-05-01 08:01] TheOtterlord commented on #2474
ah, ok. so this is quite a severe bug then 🤔

[2021-05-01 08:17] sohamsshah commented on #2456
To replicate:
Go to https://dogehouse.tv/scheduled-rooms
See this

![image](https://user-images.githubusercontent.com/47717492/116775967-af18ae00-aa83-11eb-81e4-05055dc501e8.png)

Click on the copy link button

[2021-05-01 11:44] junedkhatri31 commented on #2456
I am interested to fix this issue. Please let me know if this is something that need to be gone from design phase. If yes I want to know the next steps.

[2021-05-01 13:26] ajmnz commented on #2474
I'm able to reproduce this

[2021-05-01 13:31] TheOtterlord commented on #2474
We may also want to add some tests for this when it's fixed

[2021-05-01 14:45] #2474 closed, assigned to nobody

[2021-05-01 16:40] #101 closed

[2021-05-01 17:21] TheOtterlord commented on #2197
![image](https://user-images.githubusercontent.com/64310361/116790004-00d42f00-aaaa-11eb-8cc3-5e12ae3f178e.png)

[2021-05-01 20:52] BronzW opened #2481 "Adding CODE_OF_CONDUCT.md on website"
https://github.com/remarkjs/react-markdown converts markdown to react code so I thought we could add a page for it and fetch the raw data of the CODE_OF_CONDUCT.md in this repo and render it.

[2021-05-01 21:18] IntegraterGithub opened #2482 "Search bar for the languages"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when it takes so long to find a language

**Describe the solution you'd like**
A search bar.

[2021-05-01 21:56] munsif12 opened #2483 "follow user button is not responsive in mobile view"
![IMG_20210502_030252](https://user-images.githubusercontent.com/53260498/116796041-ed00eb00-aaf2-11eb-8027-1b4bfcd3db8f.jpg)
![IMG_20210502_030450](https://user-images.githubusercontent.com/53260498/116796070-2d606900-aaf3-11eb-85b5-b43ed9fd1a8c.jpg)

[2021-05-02 01:26] Isaiah-Hamilton commented on #2456
@junedkhatri31 was going to say the same thing. I also want to work on this issue.

[2021-05-02 05:48] amitojsingh366 commented on #2473
this was an actual issue, it has been fixed now

[2021-05-02 05:48] #2473 closed, assigned to nobody

[2021-05-02 06:19] s3ansh33p opened #2485 "Mobile UX Show more follow button issue"
**Describe the bug**
On mobile, whilst in a room and viewing a user's followers, the room overlay is placed over the show more button. This makes it hard to click the show more button instead of the overlay.

**To Reproduce**
Steps to reproduce the behavior:
1. (whilst in a room) Go to my profile - https://dogehouse.tv/u/admin
2. Click on followers
3. Scroll down to the show more button
4. See err

[2021-05-02 10:22] ajmnz commented on #2485
I think it could be solved either by adding a bigger margin at the bottom of the list, or by changing the button to infinite scroll

[2021-05-02 10:24] ajmnz commented on #2472
I believe this has been fixed, can you confirm @PuckDan ?

[2021-05-02 11:35] jobveldhuis commented on #2465
I have implemented a fix by scaling the DoughDoge emoji to the correct size. See PR #2488.

[2021-05-02 11:38] wes337 commented on #2485
@ajmnz Maybe even both? Because you could get to the bottom of the infinite scroll and the room badge would still be on top of the last user.

![image](https://user-images.githubusercontent.com/9464690/116811793-e5bdf980-ab53-11eb-9511-ce32a726a043.png)

Also somewhat related --- having a long name will cause the "Follow" button to be pushed off screen.

[2021-05-02 11:44] isaxk opened #2489 "Sign out button not working"
**Describe the bug**
A clear and concise description of what the bug is.
Sign out button doesn't do anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'dogehouse'
2. Click on 'your profile'
3. Go to sign out
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
It to sign out and show login page

**Screenshots**
If applicable, add sc

[2021-05-02 12:00] jobveldhuis commented on #2489
Can you reproduce this problem on desktop web? If so, do you have any errors in your JavaScript console?

[2021-05-02 12:00] ajmnz commented on #2485
Yep, makes sense.

Mobile version is kinda temp, we're currently refactoring it completely to match Figma. So yeah, many things need to be polished

[2021-05-02 12:30] junedkhatri31 commented on #2489
<img width="634" alt="Screenshot 2021-05-02 at 5 58 30 PM" src="https://user-images.githubusercontent.com/20799038/116813158-06944800-ab70-11eb-850d-ba6766dd4c13.png">
I am able to re-produce this in mobile layout.

Steps to reproduce the behavior:

1. Go to https://dogehouse.tv on mobile / switch to mobile from dev tools
2. Click on 'your profile'
3. Go to sign out
4. See error

[2021-05-02 13:05] junedkhatri31 commented on #2483
What's the screen size of your mobile?

[2021-05-02 13:43] munsif12 commented on #2483
@junedkhatri31
It's 720 × 1544 pixels
And mobile is vivo y15

[2021-05-02 14:56] #2489 closed, assigned to nobody

[2021-05-02 15:07] saihnii4 commented on #2234
like I mentioned earlier, many Mongolians rarely use this vowel separator, and most often they resort to english/cyrillic characters to form words. however it does have an practical use in the language.
for example:

ᠬᠠᠷᠠ is not the same as ᠬᠠᠷ᠎ᠠ because the vowel at the end is disconnected, which leads to a completely different meaning

[2021-05-02 15:15] #2465 closed, assigned to nobody

[2021-05-02 15:54] PuckDan commented on #2472
yes it has been fixed

[2021-05-02 15:54] #2472 closed, assigned to nobody

[2021-05-02 17:48] Ayushsunny commented on #2250
Hello @ajmnz , @goldyydev I have made the changes.
May I make a PR now for this ?

[2021-05-02 18:21] crispyaus opened #2495 "Change Ip to IP"
Change Ip to IP

![image](https://user-images.githubusercontent.com/34707863/116823295-fbb8d200-abc6-11eb-9242-7bcd0d483612.png)
to
![image](https://user-images.githubusercontent.com/34707863/116823308-0b381b00-abc7-11eb-9538-64e4e3e55b8c.png)

[2021-05-02 18:52] mfbx9da4 opened #2496 "Header clipped on ios safari"
**Describe the bug**
![image](https://user-images.githubusercontent.com/1690659/116823958-73630e80-ab7f-11eb-95ae-8f055277ffe1.png)

**To Reproduce**
Keyboard is up, header disappears.

**Expected behavior**
Header should be visible without dismissing

**What device are you on?**
iPhone SE. ios chrome (webkit)

**Additional context**
Can be fixed by detecting keyboard is up.

https://developer.moz

[2021-05-02 19:02] xeptao opened #2498 "DogeHouse - Users Online image not appearing."
The image labeled "dogehouse - users online" does not appear.

![The image of the bug](https://i.imgur.com/JqHOqIt.jpg)

Device: Windows
Browser: Google Chrome

[2021-05-02 19:06] ghost commented on #2495
can you do it? it's a simple change in strings (if you won't, i can)

[2021-05-02 19:25] Alirezamxz commented on #2495
I will fix it.

[2021-05-02 21:12] nadirabbas commented on #2470
@hiluw we got push to talk, people just dont use it

[2021-05-02 21:21] #2485 closed, assigned to nobody

[2021-05-02 21:49] #2197 closed, assigned to amitojsingh366

[2021-05-02 22:26] he1d1 commented on #2470
That's my point. Noise suppression would let people who don't like push to talk still type without muting

[2021-05-02 23:24] lelzoid opened #2507 "DogeHouse.tv Podcast Revamp"
The Podcast Bar thingy looks crap like my dog's poo. Every thing is gray and such and I don't like it I made a example of how I want it to look like, you can take inspiration from it if you want to.

![Dogehouse.tv Example](https://user-images.githubusercontent.com/78449629/116831141-6f74c380-ab62-11eb-887c-054078d7855a.png)

[2021-05-03 00:01] filipeqm94 opened #2510 "Room going mute when minimized and opened back on Android"
**Describe the bug**
When using Google Chrome on Android device (Samsung Galaxy S21), and minimize the page, go to another app, when you come back the room has to be refreshed and interacted with again to go back to listening.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any DogeHouse room
2. Click on 'Minimize' on Android
3. Go to another App
4. Go back to room
5. Room is silent

*

[2021-05-03 00:07] filipeqm94 commented on #2510
As I was submitting this issue the bug also happened on Windows,
Google Chrome Version 90.0.4430.93 (Official Build) (64-bit)
**Possible source**: Seems like Chrome is not running DogeHouse in the background if it is inactive for a certain period of time. Checking my own user preferences to see if there is something related to it.

[2021-05-03 00:15] #2495 closed, assigned to nobody

[2021-05-03 03:47] exaby73 opened #2512 "Chat UI messes up when zooming the page and resetting it again"
Chat UI messes up when zooming the page and resetting it again

Steps to reproduce the behavior:
1. Zoom the page using CTRL + + or CMD + +
2. Reset zoom with CTRL + 0 or CMD + 0

**Expected behavior**
UI should not change

**Screenshots**
![image](https://user-images.githubusercontent.com/50555895/116839493-3be07a80-abf0-11eb-80dd-bcf7f9c33dcd.png)

**What device are you on?**
Brave Browser (Kali

[2021-05-03 04:57] prLorence opened #2513 "UI is messed up in mobile view, but the buttons are working"
**Describe the bug**
When visiting profiles the buttons are overflowed if that's what you call it.

**To Reproduce**
Steps to reproduce the behavior:
1. I didn't do anything in particular, just visited some profiles and it just happened

**Expected behavior**
Stacked buttons would be nice.

**Screenshots**
![IMG_20210503_124853](https://user-images.githubusercontent.com/78683375/116842411-1747cb00

[2021-05-03 06:00] amitojsingh366 commented on #2513
can you try a different browser?

[2021-05-03 06:03] amitojsingh366 commented on #2513
dupe of #2483

[2021-05-03 06:03] #2513 closed, assigned to nobody

[2021-05-03 06:03] amitojsingh366 commented on #2483
can you try a different browser?

[2021-05-03 06:14] amitojsingh366 commented on #2456
@ajmnz please advise

[2021-05-03 06:39] mattmoody05 opened #2516 "Possibly incorrect label"
**Describe the bug**
Label reading "GitHub/Twitter avatar URL" where I assume discord should be included too. I assume that this was forgotten when adding Discord auth back into DogeHouse.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the account page from dogehouse.tv/dash
2. Click "edit profile"
3. The incorrect label should now be on screen

**Expected behavior**
Expected label to

[2021-05-03 06:54] amitojsingh366 commented on #2516
rn discord avatar urls aren't supported

[2021-05-03 06:56] mattmoody05 commented on #2516
Went onto the website, my discord avatar shows up fine? (Still with the incorrect label)
![Screenshot 2021-05-03 at 07 56 18](https://user-images.githubusercontent.com/34244370/116848716-169a3f00-abe5-11eb-8112-aed6468c3526.png)

[2021-05-03 07:01] amitojsingh366 commented on #2516
ok this is a bug, when you register with discord your avatar works but after that you cannot set that discord url as an avatar, #2492 fixes this

[2021-05-03 07:11] ajmnz commented on #2456
We will just show a check for a couple of seconds after the thing is copied

[2021-05-03 07:57] Alirezamxz commented on #2483
Checked in 3 different browsers, i think it's ok
![bn](https://user-images.githubusercontent.com/47672255/116853177-dbab0200-ac0a-11eb-8687-f73ceb74eadb.jpg)

[2021-05-03 08:12] amitojsingh366 commented on #2483
ok then since this issue is fixed ill close it

[2021-05-03 09:20] laurens-vrh opened #2521 "English text on profile page in Dutch."
**Describe the bug**
On a user profile page, the "block", "unblock", and "about" text is in English, while the rest is in Dutch.
These fields should say "Blokkeer", "Deblokkeer" and "Over".

**To Reproduce**
Steps to reproduce the behavior:
1. Change your language to Dutch.
2. Go to someone's profile page (eg. https://dogehouse.tv/u/benawad)
3. See error

**Expected behavior**
The block button sho

[2021-05-03 09:23] MeztliRA commented on #2521
they probably haven't been translated yet, you can translate it and open a pull request

[2021-05-03 09:28] dk-raw commented on #2521
Yes, go to kibbeh/public/locales and find Dutch. It is pretty easy to translate yourself.

[2021-05-03 09:36] laurens-vrh commented on #2521
I tried that, but in the language file it all seems to have been translated, it just doesn't show on the site ..?

[2021-05-03 11:35] laurens-vrh commented on #2521
Console shows the same error as in #1807 . Only other texts aren't translated in my case.
When I change my language to something else, like Spanish, these texts stay in English, so it's not just a problem with the Dutch translation.

[2021-05-03 11:56] laurens-vrh commented on #2482
Maybe when you press a key, it takes you to that letter in the list of languages. Kind of like the font selector in word

[2021-05-03 12:15] carlosbaraza opened #2528 "Login with Discord throws 500 completing the OAuth"
**Describe the bug**
When trying to login with Discord, it throws a 500 error when Discord redirect you back to api.dogehouse.tv

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dogehouse.tv
2. Click on Discord login
3. Accept and get redirected
4. See 500 error

[2021-05-03 13:37] TheOtterlord opened #2530 "Mentioning a user with a changed username"
**Describe the bug**
If a user changes their username in a room, you cannot tag them with their new username.

**To Reproduce**
Steps to reproduce the behavior:
1. Go in to a room with another user
2. Get the other user to change their username
3. Attempt to tag them with the new username

**Expected behavior**
The user can be tagged with their new username.

**What device are you on?**
Firefox De

[2021-05-03 13:41] #1413 closed, assigned to nobody

[2021-05-03 15:41] rzsxdev commented on #2521
I think it's just because some values are still hardcoded and not using the translations.

[2021-05-03 15:48] dk-raw commented on #2507
You mean having separate rooms for podcasts?

[2021-05-03 15:50] dk-raw commented on #2521
No, there are just not present in the json files or not translated. Go to `kibbeh/public/locales` and see for your own language.

[2021-05-03 15:50] #2521 closed, assigned to nobody

[2021-05-03 15:54] dk-raw commented on #2482
The language selector is not a select element and it is not that easy to implement such a thing. Although, that sounds like a good idea.

[2021-05-03 15:54] #2482 closed, assigned to nobody

[2021-05-03 15:56] dk-raw commented on #2498
I think the shield.io url is messed up. I am not that sure how to fix it.

[2021-05-03 15:56] #2498 closed, assigned to nobody

[2021-05-03 15:58] dk-raw commented on #2528
Cannot reproduce. Maybe you have an unverified email on Discord.

[2021-05-03 15:59] #2440 closed, assigned to nobody

[2021-05-03 15:59] #2430 closed, assigned to nobody

[2021-05-03 16:00] #2365 closed, assigned to nobody

[2021-05-03 16:00] #2289 closed, assigned to nobody

[2021-05-03 16:01] #2262 closed, assigned to nobody

[2021-05-03 16:01] #2189 closed, assigned to nobody

[2021-05-03 16:02] #2250 closed, assigned to nobody

[2021-05-03 16:03] #29 closed

[2021-05-03 16:09] plunched opened #2533 "whisper tag when clicking they're name"
**Is your feature request related to a problem? Please describe.**
Whenever you wanna whisper someone and tag them and so you click there name. You'd need to delete the space that gets generated in-front of it.

**Describe the solution you'd like**
I thought that it would be better to make it so that whenever you click it it just doesn't put that space over there.

[2021-05-03 16:57] dk-raw opened #2534 "Avatar URL is always "invalid""
**Describe the bug**
The avatar url is always invalid even if I don't change it. Also, it wont accept any URL as an image

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your profile page
2. Click on 'edit'
3. Do not change anything
4. Click Save or whatever it says
4. See error

**Expected behavior**
Just save the changes and close

**Screenshots**

![Screenshot 2021-05-03 195513](htt

[2021-05-03 16:59] TheOtterlord commented on #2534
It's worth noting this bug is scoped to discord and is fixed by #2492

[2021-05-03 17:00] dk-raw commented on #2534
#2492 does not fix that

[2021-05-03 17:54] munsif12 commented on #2483
@Alirezamxz Thanks brother

[2021-05-03 18:07] BronzW commented on #2528
Cannot reproduce either.

[2021-05-03 18:27] Isaiah-Hamilton commented on #2512
Just to add to this bug I get the same problem but the chat messages are more spread out. I Did the same steps as you did to recreate to bug.

https://user-images.githubusercontent.com/70828596/116916438-4c5a1a80-ac1b-11eb-9dd6-6d9472cdf6bf.mov

**Steps to reproduce the behavior:**

Zoom the page using CTRL + + or CMD + +
Reset zoom with CTRL + 0 or CMD + 0

**Expected behavior**
UI should not cha

[2021-05-03 18:28] benawad commented on #2528
this is a known issue, only happens on some discord accounts, will require switching from our current elixir discord oauth library

[2021-05-03 18:32] munsif12 commented on #2483
@amitojsingh366
@Alirezamxz
@junedkhatri31
Guys i am soory but i tested  the same issue again on 3 different browers  ( Google Chrome ,opera mini and firefox )but its still not working
I am attaching screenshot with browers name on them
hoping the best 👍
![Screenshot_20210503_231543](https://user-images.githubusercontent.com/53260498/116916762-3114fc80-ac67-11eb-884b-1dd2a9aeb851.jpg)
![IMG_202105

[2021-05-03 18:34] amitojsingh366 commented on #2483
oh this is still an issue? ok ill reopen this

[2021-05-03 18:38] munsif12 commented on #2483
Yes @amitojsingh366  this time i have tested it on 3 diff browers as you can see by the SS

[2021-05-03 18:45] thefakequake opened #2535 "Layering bug with search results on user page"
**Describe the bug**
The search results feed from the search bar appear beneath some of the content on the user's page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a user's page
2. Search something in the search bar

**Expected behavior**
Search results would be on top of the user's page.

**Screenshots**
![image](https://user-images.githubusercontent.com/67868381/116918523-eafc708

[2021-05-03 18:46] coderinblack08 opened #2536 "Safari Side Bar Issue"
Go on Safari and open DogeHouse. The left-hand panel is messed up big time.

![Screen Shot 2021-05-03 at 11 45 35 AM](https://user-images.githubusercontent.com/41022901/116918695-1611a080-ac05-11eb-97e2-bbbc3460a641.png)

[2021-05-03 18:58] Alirezamxz commented on #2483
@amitojsingh366 you closed my pr I changed two line and it works.
if you want please re check my pr changes

[2021-05-03 19:09] amitojsingh366 commented on #2483
sure, actually this issue was fixed for a while and it broke again. that's why i closed your pr

[2021-05-03 19:13] munsif12 commented on #2483
Ok well

[2021-05-03 19:19] MaheshNat opened #2538 "UI bug in /scheduled-rooms when scrolling"
**Describe the bug**
When scrolling down the /scheduled-rooms page on desktop, the calendar icon, room host, and room host profile pic appear above the "Schedule room" button and search bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /scheduled-rooms
3. Scroll down
4. See error

**Expected behavior**
The icons and text are hidden from view when scrolling down

**Screenshots**
![Sc

[2021-05-03 19:20] KauanRakoski opened #2539 "Participants apper in front of "your feed" bar"
**Description of the bug**

Images of room participants appear in front of the "your feed" bar, when they are expected to appear behind it. I am using **Brave** as the browser app.

![image](https://user-images.githubusercontent.com/66558074/116922043-2f2d4800-ac2b-11eb-9cba-c1f7cebe19b9.png)

![image](https://user-images.githubusercontent.com/66558074/116922195-64d23100-ac2b-11eb-9ead-fdd3d283224

[2021-05-03 22:41] amitojsingh366 commented on #2539
this was fixed in #2537

[2021-05-03 22:41] #2539 closed, assigned to nobody

[2021-05-03 22:42] amitojsingh366 commented on #2538
this was fixed in #2537

[2021-05-03 22:42] #2538 closed, assigned to nobody

[2021-05-03 22:43] amitojsingh366 commented on #2535
this was fixed in #2537

[2021-05-03 22:43] #2535 closed, assigned to nobody

[2021-05-03 22:44] amitojsingh366 commented on #2534
it does fix it

[2021-05-03 22:47] #2516 closed, assigned to nobody

[2021-05-03 22:47] #2534 closed, assigned to nobody

[2021-05-04 02:54] lee1409 opened #2540 "Feel like floatingRoomInfo is needed for iPad screen"
**Describe the bug**
I'm not sure whether it is a bug or not... The floating room info component is missing when the screen width is between 800px and 1265px. I think the component should exist so that I can navigate back to the current playing room when I'm using my iPad Pro. What do you guys think? If okay, I can make a PR for this. 😃

**To Reproduce**
Steps to reproduce the behavior:
1. Start l

[2021-05-04 04:06] exaby73 commented on #2512
@Isaiah-Hamilton Yes I have noticed that as well. Not sure what causes it to sometimes spread out or become squished like in my screen shot. Also, I have noticed that it resets back to normal upon a new message. But that's probably react re-building that component

[2021-05-04 05:56] isaboo commented on #2507
I don't think we need metaphors like this

[2021-05-04 05:59] isaboo commented on #2481
Why would we need the code of conduct on the website?

[2021-05-04 10:40] aryaniyaps opened #2543 "dogehouse cannot handle discord callback"
**Describe the bug**
I tried to login with discord but then the dogehouse api does not handle the callback.
It's an internal server error, I don't know what's wrong, wanted to let you know.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the dogehouse landing page
2. Click on login with discord
3. Authorize dogehouse from discord
4. See error

**Expected behavior**
I want dogehouse to

[2021-05-04 11:26] dk-raw commented on #2543
works fine for me. Maybe cloudflare was down at that moment,

[2021-05-04 11:43] ajmnz commented on #2536
<img width="1423" alt="Screenshot 2021-05-04 at 13 43 35" src="https://user-images.githubusercontent.com/57961822/116998573-ba1b4a80-acde-11eb-9d6c-ce0516c09dc6.png">

Looks good to me, upcoming rooms are messed up though

[2021-05-04 11:56] lee1409 commented on #2356
Is anyone still working on this? If not, I'm willing to help working on this issue. 😁

[2021-05-04 12:15] huukhang1512 commented on #2543
![image](https://user-images.githubusercontent.com/52158153/117001798-266d6c80-ad26-11eb-99f3-9b97d22b3e12.png)

I also have this problem on my machine. It works really well when signing in with GitHub but not with Discord.

[2021-05-04 13:03] troler36 opened #2545 "DogeHouse logo does not appear on Debian-based Distro's"
On Linux Mint Cinnamon you can't see the Doge House Logo as an application .deb file

1.Download the .deb file of Doge House
2. See error

![Screenshot from 2021-05-04 16-02-09](https://user-images.githubusercontent.com/39880578/117007283-22275c00-acf2-11eb-8cd3-2369fbe2f562.png)

OS: Linux Mint 20.1 x86_64
Kernel: 5.4.0-72-generic
Uptime: 8 hours, 29 mins
Packages: 2895 (dpkg), 10 (flatpak),
Shel

[2021-05-04 14:53] BronzW commented on #2543
I think this issue has already been declared here #2528

[2021-05-04 14:53] nadirabbas commented on #2356
I believe nobody's working on it

[2021-05-04 14:59] ghost opened #2547 "Chat becomes almost unusable after zooming out and zooming in"
**Describe the bug**
When you zoom out, to around maybe 30%, the chat text will overlap. There's not a lot you can do to fix this, but when you zoom in, the chat does this:
![image](https://user-images.githubusercontent.com/57069715/117024144-0627b880-acfa-11eb-97b6-138bc131978d.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a room
2. Zoom in
3. Zoom out
4. Zoom back to normal

*

[2021-05-04 15:55] goldyydev commented on #1277
It's alive! (and enforced)

[2021-05-04 15:55] #1277 closed, assigned to nobody

[2021-05-04 15:56] goldyydev commented on #857
This is now fixed

[2021-05-04 15:56] #857 closed, assigned to nobody

[2021-05-04 17:06] Gers2017 opened #2550 "Duplicated whisper to yourself"
**Describe the bug**
Sending a whisper generate a duplicated message on the chat

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dogehouse.tv
2. Click on "new room"
3. Creta a whisper ``` #@USERNAME ``` for yourself
4. Press enter and enjoy

**Expected behavior**
Only one message please

**Screenshots**
![daaaaa](https://user-images.githubusercontent.com/49139988/117042049-bb41

[2021-05-04 17:06] plunched opened #2551 "You can't type the 'L' when the desktop app is open."
**Describe the bug**
When im on the desktop app (windows), it doesn't let you type the **L** anywhere (lowercase). (its not in the keybinds settings)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the windows desktop app (recent version)
1. Try to chat in discord.
1. Type some word with the **L** in it.
1. It will kick you out of the chat window.
1. Close the desktop app, you can type

[2021-05-04 17:17] Gers2017 commented on #2356
yeah I'm nobody thanks 😄

[2021-05-04 17:21] nadirabbas commented on #2356
@Gers2017 sorry I thought you abandoned it.

[2021-05-04 17:21] #2344 closed, assigned to nobody

[2021-05-04 17:22] Gers2017 commented on #2356
I did. But as my uncle said don't give on your dreams

[2021-05-04 20:13] lelzoid commented on #2507
Okay

[2021-05-04 20:34] amitojsingh366 commented on #2551
i don't seem to be having this issue. could you please open dev console and type in `localStorage` and send it *(make sure to blur out the tokens)*

[2021-05-04 20:35] amitojsingh366 commented on #2550
I can reproduce this

[2021-05-04 21:12] ghost commented on #2545
can you try running the following:
[code]
see if it works after that

[2021-05-04 23:31] samarmohan commented on #2551
I can't reproduce this. Please attach a clip of what happens and follow Amitoj's advice?

[2021-05-04 23:37] samarmohan commented on #2547
I can reproduce this.

[2021-05-05 05:23] Gers2017 commented on #2550
you mean you can't?

[2021-05-05 06:08] coderinblack08 commented on #2536
Are you on Big Sur? It's funky for me... I disabled all my extensions too

[2021-05-05 06:45] amitojsingh366 commented on #2550
no i said i CAN. i agree with you, this is a thing

[2021-05-05 09:24] ajmnz commented on #2536
yep I am, can you open devtools and see what rule isn’t working? I don’t remember if that uses flex gap, but if it does we’ll switch it to margin

[2021-05-05 09:57] florianthom opened #2561 "DefaultQueryFunction: just background information needed"
Hi guys, i got inspired by your project, especially by your usage of the react-query library in the web-frontend (kibbeh). You specified a [defaultQueryFn ](https://github.com/benawad/dogehouse/blob/e2180fcec6eefaf783d986d903f813a776699d52/kibbeh/src/lib/defaultQueryFn.ts#L6) and referenced it in the [queryClient](https://github.com/benawad/dogehouse/blob/e2180fcec6eefaf783d986d903f813a776699d52/k

[2021-05-05 11:22] ishanShahzad opened #2562 "HTTPS / WSS issue in when i run in production."
Hi @benawad  i am facing issue with https and http.
1. when i use http everything works fine but voice not work and console says `getusermedia undefined` .
2. when i use it over HTTPS then it says `ws://kousa-api` wil not work it should be `wss://kousa-api`
3. After that i changed frontend to connect wss . then console says websocket connection closed.

[2021-05-05 11:39] RobyCigar opened #2563 "Navigation UI broken on iPhone 6 with safari browser"
**Describe the bug**
A clear and concise description of what the bug is.
The navigation link on room is broken.

**To Reproduce**
Steps to reproduce the behavior:
It appear everytime I join the room

**Expected behavior**
A clear and concise description of what you expected to happen.
I think the navigation icon should be visible

**Screenshots**
If applicable, add screenshots to help explain your

[2021-05-05 12:25] troler36 commented on #2545
No it does not work

[2021-05-05 12:26] ghost commented on #2545
weird

[2021-05-05 12:54] #2085 closed, assigned to nobody

[2021-05-05 13:14] #2483 closed, assigned to nobody

[2021-05-05 14:50] beastOP opened #2566 "Unable to login"
**Issue:**
I live in Mumbai, India. I was trying to login but was unsuccessful doing so. I tried logging in via all 3 available options but received the "api.dogehouse.tv took too long to respond" response.

**Steps to reproduce the behavior:**
1. Connect VPN to a Mumbai, India server.
2. Try logging in.
3. See the error

**Expected behaviour:**
I expect to get logged in.

**Screenshot:**
![Screen

[2021-05-05 14:52] TheOtterlord commented on #2543
Closing as duplicate. #2528 will serve as the active issue

[2021-05-05 14:52] #2543 closed, assigned to nobody

[2021-05-05 14:56] DarrenOfficial opened #2567 "User interface blur on certain scale"
**Describe the bug**
When you go to the website and try to edit your profile and you change your browser scaling it out of focus/blur

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'DogeHouse.tv'
2. Click on 'Edit Profile'
3. Change Scaling

**Expected behavior**
The text should stayed the same not blurry

**Screenshots**
[Bug Video](https://youtu.be/IbeBxIsNids)

**What device are yo

[2021-05-05 15:29] samarmohan commented on #2567
That is expected behavior. Someone add https://github.com/benawad/dogehouse/labels/expected-behavior-but-awkward-and-could-get-rework

[2021-05-05 15:31] nadirabbas opened #2569 "push-to-talk as the only way to talk"
add a setting that the room owner can edit, if checked, people will only be able to talk via push-to-talk keybind. so you don't have to call out people about how annoying their keyboard noise is. we can't just mute them, cause they do give their 2 cents in the convo once in a while.

[2021-05-05 15:38] SalihSaygi commented on #2459
I will close the issue if it doesn't have any response soon.

[2021-05-05 16:05] Schellbach commented on #2100
Is it later enough?

This extension let's me tip tweeters https://tippin.me/howto
Update: now Twitter let's me tip tweeters https://twitter.com/Twitter/status/1390396166496522247

[2021-05-05 16:18] codicate opened #2571 "Unable to hear anything when switching to a new room unless reload"
**Describe the bug**
When I go back to the main menu with back button, and joining a new room, I can't hear anything unless I reload the page. I can however, hear voice cues, such as when I deafen myself.

Another thing is that sometimes I am able to hear the audio of the last room when I join a new room. This doesn't happen when I join a new room for the first time, as the I discribed earlier, I

[2021-05-05 16:27] samarmohan commented on #2571
This was fixed in https://github.com/benawad/dogehouse/commit/229d7b5a4d3f51e01d0458752ff69c1747ee765c

[2021-05-05 16:31] HLD202 opened #2572 "Persian language does't work properly"
when i change Lang to Persian many sentences still are in English but when i tried Arabic they translated to Arabic...

[2021-05-05 17:02] BronzW commented on #2572
It's because those are not translated yet. If you are experienced with it please open a pull request adding the new translations.

[2021-05-05 17:13] nadirabbas opened #2573 "also tell me what room the user is in when searching"

[2021-05-05 17:33] BronzW commented on #2573
@ajmnz ?

[2021-05-05 17:45] ishallwin20 commented on #2566
Did work for me in Central India.

[2021-05-05 17:59] avipars opened #2574 "Really small UX/UI issue - privacy settings"
![image](https://user-images.githubusercontent.com/5733247/117187490-a65a0c00-ade4-11eb-8981-583a0263678f.png)
****

The Privacy Settings is the only button in lowercase, and it just hurts my eyes....

[2021-05-05 18:38] BronzW commented on #2389
Works too

[2021-05-05 18:42] mister-coded opened #2577 "Cannot login with discord in desktop app"
When i try to login with discord in desktop app, the app screen just turns white and does nothing.

Steps to reproduce the behavior:
1. Go to 'Desktop App'
2. Click on 'Login with Discord'
4. See bug

[2021-05-05 18:57] beastOP commented on #2566
But it's not working for me!

[2021-05-05 18:58] ghost commented on #2566
have you tried to clear your browser cache? flushing the dns cache is one thing that can probably help as well.

[2021-05-05 19:23] ChrisDesigns opened #2579 "Hash banned IP addresses"
Much like the idea of #1249, IP addresses should definitively be hashed for privacy reasons. This previous issue describes the GDPR implications of storing plain-text vs hashed identifiers.

In order to handle the changes to the hashing of passwords, the IPs would need to:

1. Create a unique salt (as an unsalted IP can be quickly cracked with a rainbow table)
2. Hashed using said salt
3. Stored i

[2021-05-05 19:27] ajmnz commented on #2569
I think push to talk should be opt in. Imagine someone is just away from the computer/keyboard, it’d be a really bad ux. Instead, room owners should be able to mute speakers.

[2021-05-05 19:48] OkiStuff opened #2580 "please.. docs for dogehouse api"
i just want docs for dogehouse api.

[2021-05-05 20:20] bruh2k opened #2581 "a better dogehouse logo"
pls help: https://gofund.me/8f289f03

![moJQ9b1V](https://user-images.githubusercontent.com/83729909/117209584-f601fd00-ae0f-11eb-9efe-e838a380722d.png)

[2021-05-05 20:20] roselpadilla commented on #2581
+ 1

[2021-05-05 20:21] ashwnn commented on #2581
https://benawad.gay/ for new favico?

[2021-05-05 20:21] HopeTS commented on #2581
+1

[2021-05-05 20:21] roselpadilla commented on #2581
Yes, I agree.

[2021-05-05 20:21] pessip commented on #2581
+1

[2021-05-05 20:21] roselpadilla commented on #2581
+1

[2021-05-05 20:21] ashwnn commented on #2581
![image](https://user-images.githubusercontent.com/69374625/117204168-d1247000-ada4-11eb-93d0-603c9ab3295c.png)
Urgent issue regarding UI design. Current logo is gay

[2021-05-05 20:21] HopeTS commented on #2581
http://benawad.gay

[2021-05-05 20:22] nadirabbas commented on #2581
@ax20 nice design

[2021-05-05 20:23] ashwnn commented on #2581
Thanks it was curated by my frontend team, They thought it would be the best class of action for the company. Would you be intrested in a collabration?

[2021-05-05 20:25] bruh2k commented on #2581
![moJQ9b1V](https://user-images.githubusercontent.com/83729909/117204626-f7c8c200-ae09-11eb-94ec-32d56c563ea9.jpg)

[2021-05-05 20:27] bruh2k commented on #2581
hey refresh

[2021-05-05 20:29] bruh2k commented on #2581
@benawad they forced me

[2021-05-05 20:35] ax20 commented on #2581
![d21](https://user-images.githubusercontent.com/69374625/117205645-c074f980-ada6-11eb-95a1-8033c469be76.jpg)
New twitter  banner?

[2021-05-05 20:37] bruh2k commented on #2581
https://www.change.org/p/ben-awad-petition-to-change-dogehouse-tv-logo-to-fck-sh?recruiter=1200944809&utm_source=share_petition&utm_medium=copylink&utm_campaign=share_petition

[2021-05-05 20:48] ashwnn commented on #2581
![ben + angular](https://user-images.githubusercontent.com/69374625/117207192-86a4f280-ada8-11eb-9646-d6a47db6d656.jpg)

[2021-05-05 20:49] bruh2k commented on #2581
![Uploading moJQ9b1V.jpg…]()

no body can surpass this

[2021-05-05 20:50] bruh2k commented on #2581
![moJQ9b1V](https://user-images.githubusercontent.com/83729909/117207424-5e031400-ae0d-11eb-94fd-b1ac54461bc9.jpg)
no body can beat this masterpiece

[2021-05-05 20:50] KristofKekesi commented on #2581
# Why angular is the best framework

https://www.digitaldoughnut.com/articles/2018/december/why-angular-is-the-best-framework

[2021-05-05 20:52] bruh2k commented on #2581
@KristofKekesi  i angree

[2021-05-05 20:52] LeulAria commented on #2581
LOL you guys

[2021-05-05 20:54] bruh2k commented on #2581
@benawad

[2021-05-05 20:55] LeulAria commented on #2581
you can't even crop

[2021-05-05 21:24] KristofKekesi opened #2582 "Profile page stats section"
**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**
There is a tab like menu on profile pages. There sould by more options like user stats.

**Additional context**
I tough about the stats that should be displayed and I come up with three possible stats.
- Peoples reached
- Bots created
- Time spent on DogeHouse (time spent in rooms)
- Rooms

[2021-05-05 22:20] itsfolf opened #2583 "Moderator permissions aren't properly parsed by the client"
**Describe the bug**
kibbeh's mod_changed event listener simply inverts the current moderator permission that the user has, however, it is possible for this event to be fired on a user who already is a moderator, causing the client not to correctly display the real permission status. This can happen when, for example, a bot (or a client, due to some unexpected behavior) calls `room:set_auth` with

[2021-05-05 22:26] itsfolf commented on #2583
I misunderstood the causes of the issue, updated the issue with what I believe is the correct cause.

[2021-05-05 23:28] amitojsingh366 commented on #2569
i believe discord has a similar setting to this. if it's fine i could try working on this one

[2021-05-05 23:38] PranishShresth commented on #2566
Yeah, it might be due to cache. Try using ipconfig/flushdns

[2021-05-06 01:11] sertdfyguhi opened #2588 "Add labels to rooms"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-06 03:10] munsif12 commented on #2483
@amitojsingh366
@benawad
@Alirezamxz
@jhony-24
![Screenshot_20210506_081456](https://user-images.githubusercontent.com/53260498/117237077-96254980-ae43-11eb-83b5-572b0419ff10.jpg)
Now this is looking very clean and beautiful 😍
Guys Thank you soo much for the hard work you put on to solve this issue I really appreciate  that
Best of luck to Dogehouse  which is going to the moon 🚀

[2021-05-06 03:55] #2574 closed, assigned to nobody

[2021-05-06 03:57] nadirabbas commented on #2563
this has been fixed with the new design

[2021-05-06 03:57] #2563 closed, assigned to nobody

[2021-05-06 03:58] munsif12 opened #2590 "Keyboard doesn't stays open when i add an emojie on chatbox"
**Describe the bug**
When i add an emojie on chat box  my keyboard goes off and then i have click again on chat box to open my keyboard and its kindof annoying

**Expected behavior**
I am expecting it to behave like other social media app like whtsapp messanger etc
**Screenshots**
![IMG_20210506_084716](https://user-images.githubusercontent.com/53260498/117239571-7f352600-ae48-11eb-8179-d49655af39

[2021-05-06 04:01] #2550 closed, assigned to nobody

[2021-05-06 04:07] #2540 closed, assigned to nobody

[2021-05-06 05:22] #2583 closed, assigned to nobody

[2021-05-06 06:32] ZohebMOPO commented on #2581
an array of memes😂

[2021-05-06 06:39] ZohebMOPO commented on #2580
Hi @benawad,
I want to work on documentation dogehouse API. Can you give me permission to get started with it and how to get started with it??.

[2021-05-06 07:08] giimiks opened #2595 "Interslavic language support"
I'd like to add this language into the project. [Interslavic](http://steen.free.fr/interslavic/index.html) is a constructed international auxiliary language - basically a language that's used to ease communication between people from different countries, which are speaking different, but not distant languages.

It works really really well and unlike in some other cases, like Esperanto, although th

[2021-05-06 08:13] luwol03 opened #2598 "https://github.com/[username].png is not allowed as profile image"
**Describe the bug**
Github profile image regex doesn't allow [username].png

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'edit profile'
2. Set profile image to `https://github.com/[your username].png`
3. Click on 'Save'
4. See error 'Invalid image'

**Expected behavior**

Save profile image URL.

**Screenshots**

![image](https://user-images.githubusercontent.com/60048565/117264143

[2021-05-06 09:33] amitojsingh366 commented on #2598
this is intended as we don't have a image reporting system as of right now, when we get that we probably will also get custom images *(not only custom github images)*

[2021-05-06 09:46] luwol03 commented on #2598
No, we could try to make a regex which allows only `https://github.com/[username].png` and nothing from the gh content pictures.
Sorry for the late report on github, but I totally forgot about it. [see bens message on discord](https://discord.com/channels/810571477316403233/810571477770174506/836999049261088769)

[2021-05-06 09:53] amitojsingh366 commented on #2598
from the message you've linked me to it seems like ben wants more sources not only `https://github.com/[username].png` and i feel that shouldn't be so hard.
@nadirabbas you added a few regexs before right? why don't you go ahead and add this?

[2021-05-06 10:07] ajmnz commented on #2588
This is something planned for the future

[2021-05-06 10:07] #2588 closed, assigned to nobody

[2021-05-06 10:10] neinkopp opened #2601 "Scheduled room is not displayed after reload?"
**Describe the bug**
When I schedule a new room, it gets displayed right away, and I can interact with it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page
2. Click on the plus button at "scheduled rooms"
3. Enter room details
4. Room is shown right away, if you reload (Ctrl+R), it goes away.

**Expected behavior**
The room should obviously stay scheduled, or did I something w

[2021-05-06 12:52] beastOP commented on #2566
Tried it.

[2021-05-06 12:53] vijairamg commented on #2579
Is this issue up for grabs?

[2021-05-06 13:27] gargakshit opened #2604 "Use the browser to login into the DogeHouse App"
Instead of navigating to the GitHub or Twitter OAuth pages inside the desktop app, launch a browser and use a deeplink pointing to DogeHouse as a callback

[2021-05-06 13:37] gargakshit opened #2605 "Can't use `Ctrl + TAB` shortcut key in any application while the desktop application is open"
**Describe the bug**
When the `Ctrl + TAB` shortcut key is pressed, the currently selected windows loses focus (and the dogehouse window doesn't gain focus either). The issue is gone after dogehouse is closed. `Ctrl + Shift + TAB` seems to work just fine

**System Information**

- **OS**: Windows 10
- **Dogehouse Version** - 1.0.63

**To Reproduce**
Steps to reproduce the behavior:
1. Open dogehou

[2021-05-06 13:43] amitojsingh366 commented on #2605
yes this is a dogehouse shortcut, it's a shortcut for the unfinished "overlay" feature that is supposed to overlay a window on another window of yours. you can change the shortcut in profile > overlay settings. i will change the default later today

[2021-05-06 13:45] gargakshit commented on #2605
Cool, thanks

[2021-05-06 14:37] jobveldhuis commented on #2598
Are Github images always png? In that case, this regex should do the trick:
`^(^https?:\/\/github\.com\/)([a-zA-Z0-9_-]*)\.(png)$`

If the images could also be jpeg, this should work:
`^(^https?:\/\/github\.com\/)([a-zA-Z0-9_-]*)\.(png|jpg|jpeg)$`

[2021-05-06 14:44] frissyn opened #2609 "SSR the Users page's OpenGraph tags"
I think it's pretty safe to say that Dogehouse falls under the umbrella category of "Social Media", so I think it'd be worthwhile to add OpenGraph metadata and standard HTML metadata to different pages. Posting a link to a room, user, etc. would have its properties changed to reflect the content.

For example, a [user page](https://dogehouse.tv/u/frissyn) could look like:
[code]

And you can imagi

[2021-05-06 15:02] goldyydev commented on #2581
Going to close this just so I can get 20 dislikes, which are a lot on GitHub

[2021-05-06 15:02] #2581 closed, assigned to benawad

[2021-05-06 15:27] JDOG787 commented on #2609
Good idea! I think I'd like to tackle this if that's ok

[2021-05-06 17:27] amitojsingh366 commented on #2604
this seems like a great idea!

[2021-05-06 17:28] amitojsingh366 commented on #2577
this has been temporarily fixed

[2021-05-06 17:28] #2577 closed, assigned to nobody

[2021-05-06 17:39] #2605 closed, assigned to amitojsingh366

[2021-05-06 17:43] StamTsag opened #2610 "Deleted message issue"
Deleting multi-line messages doesn't fix their height to match their current content.

1. Type something in the chat which occupies more than 1 line
2. Have someone delete your message
3. The message occupies its original height

The message should occupy as much space as sending 'message deleted' would.

![image](https://user-images.githubusercontent.com/78862561/117342206-a07b2e00-aeab-11eb-83e1

[2021-05-06 18:51] sohank1 commented on #2580
Just make a PR with the docs @ZohebMOPO

[2021-05-06 20:26] amitojsingh366 opened #2612 "friends list order needs to be revised"
![image](https://user-images.githubusercontent.com/35400192/117361271-7ed97100-aec2-11eb-9cd3-b877bcd49816.png)

[2021-05-06 20:39] amitojsingh366 commented on #2612
ppl in a room should show above ppl just online

[2021-05-07 00:20] ajmnz commented on #2573
Makes sense

[2021-05-07 00:27] amitojsingh366 commented on #2601
~~i can reproduce this issue~~ nvm i can't

[2021-05-07 00:29] amitojsingh366 commented on #2601
after reloading your scheduled room goes down the list according to the time it was scheduled at, this is why you don't see it there anymore. if you scroll you should be able to see it

[2021-05-07 02:10] hwittenborn commented on #2263
@benawad Would you or anyone else have any updates on this?

[2021-05-07 05:35] ZohebMOPO commented on #2580
Ok Let me do that then

[2021-05-07 05:38] neinkopp commented on #2601
Is there a limit to how many scheduled rooms are displayed? Because I scheduled a room for the next month and it doesn't show up. I think the rooms which are scheduled to a later date should be lazy-loaded, which they don't do atm.

[2021-05-07 06:53] russelshane opened #2618 "Adding "Who to Follow" and "Past Hosted Rooms""
When I logged in to DogeHouse, I was initially welcomed by 0 following. Then I went to @benawad's profile page and only saw an About, and a Twitter-like header.

Adding "Who to follow" on the left sidebar of the dashboard might be a good idea, so it doesn't look too empty at first glance.

+ Adding all of the rooms a user hosted before might be good for the profile page. Thanks.

[2021-05-07 07:09] Bilal-Akkil opened #2619 "Word mistake"
https://github.com/benawad/dogehouse/blob/da73ee624c3879179b3abe5aa17e82b70cb4bd73/kibbeh/public/locales/ar/translation.json#L235

Instead of the word اصدفاء
It should be اصدقاء

[2021-05-07 07:15] Bilal-Akkil opened #2620 "Insert translation"
https://github.com/benawad/dogehouse/blob/da73ee624c3879179b3abe5aa17e82b70cb4bd73/kibbeh/public/locales/ar/translation.json#L295

The translation should be
تم تعطيل المحادثة

[2021-05-07 07:49] dk-raw commented on #2620
It is very easy to fix it yourself. Do you want me to assign you? (make sure you run `yarn commit` and follow the conventional commit format)

[2021-05-07 07:51] dk-raw commented on #2619
It is very easy to fix it yourself. Do you want me to assign you? (make sure you run `yarn commit` and follow the conventional commit format)

[2021-05-07 08:14] Bilal-Akkil commented on #2619
I actually just found out about DogeHouse, so I was hoping if you would tell me where to find the instructions to update them my self.

[2021-05-07 09:57] BronzW commented on #2619
CONTRIBUTING.md

[2021-05-07 11:23] dk-raw commented on #2619
1. Fork the repository
![image](https://user-images.githubusercontent.com/68110106/117442026-e7663380-af3e-11eb-84aa-67fc17aacc30.png)

2. in the forked repository, go to `kibbeh/public/locales/ar/translation.json`

3. click on `edit`

![image](https://user-images.githubusercontent.com/68110106/117442166-141a4b00-af3f-11eb-9dde-d4aded906159.png)
4. make the changes on the translation

5. click com

[2021-05-07 13:15] amitojsingh366 commented on #2572
a lot of new translations have been added to Persian recently *(#2625)*

[2021-05-07 13:15] #2572 closed, assigned to nobody

[2021-05-07 13:32] goldyydev commented on #2609
We do have them, we can't send them to the server due to the users page being client side rendered.

[2021-05-07 13:54] frissyn commented on #2609
So you'd just need to make them server-side rendered, which makes sense

[2021-05-07 13:55] Bqleine commented on #2234
It shouldn't be removed, just checked if sent alone

[2021-05-07 13:56] #2571 closed, assigned to nobody

[2021-05-07 14:06] AlishahMughal123 opened #2626 "Chat with People"
Umm I`ve a suggestion , why not to create a chat box with the person we want to talk, like if I want to talk with someone privately, so this`ll good if you guys introduce chat thing .

Thanks

[2021-05-07 14:31] amitojsingh366 commented on #2620
i believe you have added this yourself in #2627

[2021-05-07 14:31] #2620 closed, assigned to nobody

[2021-05-07 14:31] amitojsingh366 commented on #2619
i believe you have changed this in #2627

[2021-05-07 14:31] #2619 closed, assigned to nobody

[2021-05-07 15:11] scasolari opened #2628 "You left the room if you refresh the page outside the room's url"
**Describe the bug**
Inside a room, If you return in the HP and refresh the page you automatically left the room

**To Reproduce**
Steps to reproduce the behavior:
1. Enter in a room
2. Click on DogeHose logo to return on HomePage
3. Refresh the page
4. See error, you automatically left the room

**Expected behavior**
I think that you must continue to remain in the same room after the page refresh

[2021-05-07 16:08] samarmohan opened #2629 "If you are banned from chat, then rejoin the room, you can technically type but no one will see your message."
**Describe the bug**
I was banned from chat for rickrolling people with a music bot. I left and rejoined and when I tried to chat, I didn't get the "you were banned from chat" error. I could type and I even got the cooldown message, the thing is, nobody could see my messages. Even I couldn't see my own messages.

**To Reproduce**
Steps to reproduce the behavior:
1. Get banned from chat.
2. Rejoin

[2021-05-07 16:36] samarmohan commented on #2626
We have a whisper feature, which is like a private message. Do #@USERNAME message

[2021-05-07 18:47] dushyant0814 commented on #2629
https://www.youtube.com/watch?v=AACGbCOqSmo
you got shadow banned mate.
it's a feature not a bug.

[2021-05-07 18:53] #2562 closed, assigned to nobody

[2021-05-07 18:54] ghost opened #2634 "Report user"
**Is your feature request related to a problem? Please describe.**
No, I want to work on a report user system for dogehouse.

**Describe the solution you'd like**
Maybe In a room you can click on a user and report it and or report them from their account page.

**Describe alternatives you've considered**
We could always just message mods but, that inconvenient.

**Additional context**
We need this

[2021-05-07 19:18] samarmohan commented on #2629
Shadow banning has not been implemented yet.

[2021-05-07 19:32] amitojsingh366 commented on #2629
it's a bug there are no shadow bans yet

[2021-05-07 20:06] samarmohan commented on #2634
We're working on that.

[2021-05-07 20:25] 0xEquinox opened #2636 "Audio stops working when admin is transfered"
**Describe the bug**
When you transfer admin room audio will stop working on your client.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new room
2. Have someone join the room
3. Give them room admin
4. See error.

**Expected behavior**
You should get muted and your audio will no longer work.

**What device are you on?**
Windows 10 pc

[2021-05-08 04:03] ChrisDesigns commented on #2579
Feel free to create your own branch, I don't have any contribution towards a PR yet. My dev environment isn't set up yet, so I'll probably have small commits this weekend. I'll be willing to collaborate on the work as needed though.

[2021-05-08 06:07] AlishahMughal123 commented on #2626
I don`t think so.

[2021-05-08 06:31] nadirabbas commented on #2628
that's intended i believe

[2021-05-08 10:34] goldyydev commented on #2626
This is the DM's feature, it is currently being worked on.

#576 and the DogeLogs

[2021-05-08 10:34] #2626 closed, assigned to nobody

[2021-05-08 12:00] s3ansh33p opened #2648 "CSS Overflow Fix Needed on Language selector."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to homepage
2. Click on avatar in the top right of the UI.
3. Set language to "Bottom".
4. Go back to parent dropdown by clicking on the back arrow.
4. See error

**Expected behavior**
The icon/s should display and the extra text should be overflow: ellipsis or somethin

[2021-05-08 12:13] NickersWeb opened #2649 "Leaving groups should be alot easier."
**Is your feature request related to a problem? Please describe.**
Frustrating when you've been in multiple abandoned groups and the only way to clear your logs is to manually leave each and every group. This can be very time consuming and annoying. Just think of discord and how you can't leave multiple groups at once.

**Describe the solution you'd like**
Ability to select all groups at once and

[2021-05-08 12:36] amitojsingh366 commented on #2649
what groups are you talking about?

[2021-05-08 12:52] NickersWeb commented on #2649
As long rooms cannot be followed, then this shouldn't be a issue.

[2021-05-08 12:52] #2649 closed, assigned to nobody

[2021-05-08 17:52] Choongkyu opened #2653 "cannot hear audio when using docker-compose"
**Describe the bug**
When running dogehouse locally using docker-compose, cannot hear audio although it can be heard when running without docker-compse

**To Reproduce**
Steps to reproduce the behavior:
1. fill out env var values
2. run `docker-compose -f docker-compose.yml -f docker-compose.local.yml up`
3. login to dogehouse from `localhost:3000`
4. create room `foo`
5. login from another browse

[2021-05-08 20:05] #2609 closed, assigned to goldyydev

[2021-05-08 20:31] #2634 closed, assigned to nobody

[2021-05-08 20:34] TheOtterlord commented on #2604
hmm, this could solve the problems with discord oauth?

[2021-05-08 20:38] amitojsingh366 commented on #2604
yup it will, i will work on this later this week

[2021-05-08 20:41] NickersWeb opened #2657 "Chat Gif Search"
**Is your feature request related to a problem? Please describe.**
Would be cool to search gifs inside the chat room.

**Describe the solution you'd like**
By the emoji icon could be a "gif" icon. A small popup would arise (with the trending gifs) and allow the user to search for the correct gif for the moment. Would need to be spam proof as well. That could be discussed at a later date.

**Descri

[2021-05-08 21:07] VeeBack opened #2658 "Windows App Github signin with webauthn"
**Describe the bug**
When signing in with github with an account that has added a security key, asks for the key, but then pops up a normal browser with the URL `https://github.com/sessions/two-factor/webauthn`

**To Reproduce**
Steps to reproduce the behavior:
1. Open up the Windows Desktop app and press `Log in with GitHub`
2. Put in your credentials
3. Press `Use security key`
4. Press the butt

[2021-05-08 21:31] goldyydev opened #2660 "I want the message rendering done differently"
## So what's happening right now
Currently, on message send, we're sending "blocks" of data (link,text,emote) and rendering these blocks once a message is received by the end user.

*This will make `dolma` obsolete*

## What I want to happen
I want to get rid of the blocks stage and do the entire message parsing on the end user side instead of the sender. It will allow us for more performant rende

[2021-05-08 21:51] amitojsingh366 commented on #2658
@HVEVB can you try again with the latest version?

[2021-05-08 22:45] tarikcoskun opened #2662 "Add string "aboutStuffix" to "profileTabs" object (kibbeh/localization)"
**Is your feature request related to a problem? Please describe.**
In some languages, the word "about" comes after the name and if this is the case for the language, it looks a little bit stupid. As example, normally you would say "About me" but it would be "Me about" in this case.

**Describe the solution you'd like**
A string named "aboutSuffix" can be added to "profileTabs" object and it would

[2021-05-09 04:40] PuckDan opened #2664 "there is alot of space for no reason on profile page mobile"
**Describe the bug**
there is alot of space for no reason on profile page.

just click on any profile on mobile and see error.

**What device are you on?**
Samsung S8+ Brave
![Screenshot_20210508-224525_Brave](https://user-images.githubusercontent.com/65829743/117560791-6dc16900-b056-11eb-95b3-0cd4c1eaec28.jpg)

[2021-05-09 04:46] PuckDan opened #2665 "time shows 0:00 PM"
**Describe the bug**
time shows 0:00 PM on upcoming rooms on dashboard

![0000stuff](https://user-images.githubusercontent.com/65829743/117560884-75354200-b057-11eb-86ad-0db3d8ffe310.PNG)

**What device are you on?**
Desktop Windows Brave

[2021-05-09 05:33] MeztliRA opened #2666 "trouble adding translation component"
i tried adding adding a translation component, and there doesnt seem to be the `gen:i18:keys` script and `translationKeys.ts` file

[2021-05-09 06:12] orzklv opened #2667 "Error page at the "scheduled" section on responsive view"
**Describe the bug**
Renders error screen when you press the scheduled section on responsive view.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the language to Owo Engwish
2. Go responsive
![Screenshot (32)](https://user-images.githubusercontent.com/54666588/117562241-d3ddd880-b0b6-11eb-812a-0d5b8972a508.png)
3. Click on 'second section button'
![Screenshot (32) - Copy_LI](https://use

[2021-05-09 06:21] orzklv commented on #2667
Also, I found out that it happens only on OwO Engwish. `I guess, the translation pack is not fully translated.`

[2021-05-09 06:24] orzklv commented on #2667
**English itself is working well btw**

![Screenshot (34)](https://user-images.githubusercontent.com/54666588/117562540-23250880-b0b9-11eb-8661-b753a05ad4b5.png)

**To Reproduce** note updated!

[2021-05-09 06:32] amitojsingh366 commented on #2667
i can reproduce this on both the app and the browser

[2021-05-09 06:35] amitojsingh366 commented on #2666
please follow https://github.com/benawad/dogehouse/blob/staging/CONTRIBUTING.md#translating

[2021-05-09 06:35] #2666 closed, assigned to nobody

[2021-05-09 06:35] amitojsingh366 commented on #2664
@ajmnz

[2021-05-09 06:36] amitojsingh366 commented on #2662
makes sense, you can go ahead and add this if you want or wait until someone implements it

[2021-05-09 06:42] MeztliRA commented on #2666
im trying to follow https://github.com/benawad/dogehouse/blob/staging/CONTRIBUTING.md#supporting-translation-in-new-components

but the `gen:i18:keys` script and `translationKeys.ts` file doesn't exist.

[2021-05-09 07:09] amitojsingh366 commented on #2666
where are you running the command and also could you please ask this on the [discord server](https://discord.com/invite/wCbKBZF9cV), i could provide you with one on one help there

[2021-05-09 07:16] just1a-person commented on #2481
It's like Community Guidelines for dogehouse.tv

[2021-05-09 07:20] MeztliRA commented on #2666
i pinged you in the server

[2021-05-09 08:04] #2662 closed, assigned to nobody

[2021-05-09 10:28] VeeBack commented on #2658
It does indeed work. Thank you :)

[2021-05-09 10:28] #2658 closed, assigned to nobody

[2021-05-09 10:33] amitojsingh366 commented on #2658
np!

[2021-05-09 12:09] orzklv opened #2674 "AUR installer does not install required npm packages beforehand"
**Describe the bug**
While installing dogehouse from aur, it throws an error saying that there are a few packages that should be installed

**To Reproduce**
Steps to reproduce the behavior:
1. Just try to install dogehouse on a machine with no nodejs installed

**Expected behavior** + **Screenshots**
![Screenshot from 2021-05-09 17-06-14](https://user-images.githubusercontent.com/54666588/11757171

[2021-05-09 16:15] thehydrogen opened #2678 "Able to block as well as follow somebody at the same time"
You are able to follow someone as well as have them blocked.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a user profile
2. Click on 'follow'
3. Click on 'block'
4. See error

**Expected behavior**
Blocking would remove your follow.

**Additional context**
If this is intended, my mistake.

[2021-05-09 17:13] orzklv opened #2680 "Stay on tray"
**Is your feature request related to a problem? Please describe.**
While talking in the channel, I may close it unexpectedly and it will shut the instance down.

**Describe the solution you'd like**
Make the app stay on tray even if the last window gets closed

**Describe alternatives you've considered**
I dunno how it can be done but... I think it can be done through services. I mean creating an

[2021-05-09 17:25] ajmnz commented on #2680
@amitojsingh366

[2021-05-09 17:34] amitojsingh366 commented on #2680
yea this is planned but will not be implemented for a while

[2021-05-09 17:44] ajmnz commented on #2667
Can reproduce on prod, not locally

[2021-05-09 19:00] efraim9 opened #2681 "New accounts limitations regarding DogeLog[7]"
I am suggesting a feature similar to discord new account limitations, with some additions.

When a new account is created, you cannot type into chat rooms for 10-30 minutes after the account creation, you cant talk in rooms for the same amount of time, but you can listen, nobody stops you from that. Some kind of profile badge like "newbie" would be in place too for some amount of time (1-7 days),

[2021-05-09 19:20] Baggiest opened #2682 "desktop app problem with 2fa twitter accounts (in my case linux)"
so im running ubuntu and i download the app, but there is a slight problem

for Twitter accounts with 2factor auth when you enter the code it redirects to an external browser, and the external browser would always throw a 403 at you, and you cant login at all

sorry I don't know how to use labels in bug reports like a normal human being

![image](https://user-images.githubusercontent.com/76979204/

[2021-05-09 20:23] amitojsingh366 commented on #2682
could you try in the latest version and see if the issue still persists?

[2021-05-09 20:26] Baggiest commented on #2682
sure

wait a sec

[2021-05-09 20:46] Baggiest commented on #2682
sheesh flawless its perfect

but there is a weird transition and stuff when you enter the password wrong, but you can close and open dogehouse, it goes away

[2021-05-09 20:46] #2682 closed, assigned to nobody

[2021-05-10 02:38] s3ansh33p commented on #2681
Perhaps there could be a room setting to only allow users who are registered longer than 5 or 10 minutes. Discord has a similar option.

[2021-05-10 03:28] chalkedgoose opened #2686 "The Follower Only tag interferes with chat."
**Describe the bug**
The follower only tag interferes with the chat
logs visually.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dogehouse room
2. Set it to Follower only mode in the chat
3. Type a couple of inputs in the chat a bit
4. See error

**Expected behavior**
I expected the chat not be overlapped by the Follower only tag

**Screenshots**
![pHv5SRB](https://user-images.github

[2021-05-10 06:33] purpshell opened #2688 "Add a PWA version"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [dogehouse isn't a PWA and I can't live without an app if it is not a PWA please make a PWA and get me rid of having to shortcut it to the desktop]

**Describe the solution you'd like**
Make a PWA version of the app.

**Additional context**
idk m

[2021-05-10 06:35] #2688 closed, assigned to nobody

[2021-05-10 07:05] Baggiest opened #2689 "twitch emotes autocomplete"
when you wanna write a emote in chat like for example :5Head:

I would write :5h and auto-complete but instead of deleting the :5h it would just add the completed one

like this
![image](https://user-images.githubusercontent.com/76979204/117618761-aad74980-b183-11eb-8b19-bf5fed7bc6f9.png)

it would be really great and time efficient
thanks

[2021-05-10 07:12] ghost commented on #449
I feel that it is best to make a mod portal where moderators can review reports, ban users, and more.

[2021-05-10 07:49] ghost opened #2690 "Report users: Moderation"
**Is your feature request related to a problem? Please describe.**
No, I noticed that the report users was under needs thinking and I have an idea.

**Describe the solution you'd like**
We could have a moderation page where mods can ban, temp-ban, reset userdata and much more. I think that this will allow doge house to have lots more features that it otherwise may have never had.

**Describe alter

[2021-05-10 07:56] ghost commented on #251
Emoji letters and special english characters like 𝕒𝕓𝕔𝕕𝕖𝕗 and  🅰🅱 should be blocked too.

[2021-05-10 07:59] TheOtterlord commented on #2681
I agree with @s3ansh33p

This would shift the control over to the room creators and make things more customisable.
It's one of those options I think should go hand in hand with slow mode on chat.

[2021-05-10 11:09] efraim9 commented on #2681
@s3ansh33p suggestion is good.

[2021-05-10 12:16] TheOtterlord commented on #2690
Sounds like a good idea, but please keep all discussion about this in a single issue. The issue for the reporting system is #449

[2021-05-10 12:16] #2690 closed, assigned to nobody

[2021-05-10 12:25] DGKSK8LIFE commented on #251
This will be more difficult though because you'd have to cross-validate the input with all possible Unicode characters.

[2021-05-10 12:32] TheOtterlord commented on #251
It may be more difficult, but otherwise people can easily get around it. unless we disallow all of these characters 🤔

[2021-05-10 17:28] OkiStuff commented on #2580
@ZohebMOPO that would be amazing.

[2021-05-10 21:44] chalkedgoose opened #2694 "Gif reaction in chat messages."
**Is your feature request related to a problem? Please describe.**
 An issue for a supporting feature (gif search in chat) was previously mentioned in #2657, but I would like support
for rendering gifs in the dogehouse room chat as an alternative form of expression to Emojis.

**Describe the solution you'd like**
I would like a component that could be integrated into the messages of
the dogehouse

[2021-05-10 21:46] chalkedgoose commented on #2657
@NickersWeb Image
![eKv1TdE](https://user-images.githubusercontent.com/26678464/117728567-79b84280-b19e-11eb-9953-6f4154b4cda8.png)

[2021-05-11 09:28] SebbyLaw commented on #2648
🥺

[2021-05-11 09:40] KAJdev commented on #2648
🥺

[2021-05-11 09:41] flazepe commented on #2648
🥺

[2021-05-11 11:26] BronzW commented on #1203
Can we reopen this as ajmnz created translate.dogehouse.tv?

[2021-05-11 11:31] amitojsingh366 commented on #2427
can you try this on the latest version of the app?

[2021-05-11 11:34] amitojsingh366 commented on #1734
i'm closing this since this seems like it has been fixed

[2021-05-11 11:34] #1734 closed, assigned to nobody

[2021-05-11 12:12] colemdv commented on #2648
🍆

[2021-05-11 17:42] KristofKekesi commented on #493
With pr #2654 we should add @staffs and @contributors tags.

[2021-05-11 18:28] nadirabbas commented on #493
aight

[2021-05-11 22:03] Shubhy-D opened #2709 "Possible ideas for Dogehouse"
Additional context:

I believe dogehouse should implement a status feature for users like discord and many other applications and there should be a system for dm's which would make it easier and better for users to interact with other users and use dogehouse more. Another feature that could be implemented is a way to search for a room and a section that shows rooms that are most popular.

![image]

[2021-05-11 23:29] noahdepalma opened #2711 "just a typo"
https://github.com/benawad/dogehouse/blob/63f392248193c7193cd7cb396b1243c84c5fde9f/pilaf/src/pages/CreateRoomPage.tsx#L114

I guessing "fileds" was meant to say "fields"

[2021-05-12 00:06] epic-developer opened #2712 "Feature Suggestion: PWA"
Making Dogehouse into a progressive web app would be very cool! A notification system implemented along with this would also be cool.

[2021-05-12 05:12] matt01y commented on #2636
yep had this to,
it helps when you reload the page

[2021-05-12 07:32] troler36 commented on #2711
This gives me flashbacks to Linux Kernel crack

[2021-05-12 07:41] ghost commented on #2711
Make a PR.

[2021-05-12 12:31] noahdepalma commented on #2711
I will

[2021-05-12 12:39] noahdepalma commented on #2711
I don't know how to

[2021-05-12 13:06] aaryamvn opened #2716 "Markdown formatting in chat"
allow users to have basic markdown formatting capabilities in the room chat, for a better user experience.

[2021-05-12 13:20] isaboo commented on #2716
Duplicate of #1826

[2021-05-12 13:55] josephshepin commented on #2711
fork the repo, clone it to your computer, edit the code, commit it back to your fork repo and then click the "pull requests" tab above and merge your fork into the main repo

[2021-05-12 14:15] noahdepalma commented on #2711
thx

[2021-05-12 14:15] #2711 closed, assigned to nobody

[2021-05-12 14:21] NickersWeb commented on #2694
[Pull request](https://github.com/benawad/dogehouse/pull/2695) has already been closed

[2021-05-12 15:40] NickersWeb commented on #2686
Could not reproduce... seems to currently work ... https://i.imgur.com/a5AtJiG.png

[2021-05-12 16:20] Akorian opened #2719 "Can't leave a room - button vanishes when reloading in new tab"
Dogehouse can't cope with the open in new tab functionality. There there is a way to make the "connection taken" page still play audio from the room, or make the leave room button disappear whilst in a room.

**To Reproduce**
1. Enter a room
2. open something in a new tab with middleklick
3. audio gets played in the old tab in which you are redirected to the "connection taken" site. No leave butto

[2021-05-12 16:49] TheOtterlord commented on #2716
Duplicate of #1826

[2021-05-12 16:49] #2716 closed, assigned to nobody

[2021-05-12 17:08] DanLew commented on #2678
I don't think this is intended. It looks like in the user block method [here](https://github.com/benawad/dogehouse/blob/d81925c5696939bca15e8cc6dff1a9aad56c63d6/kousa/lib/kousa/user_block.ex#L6) it should be removing the follow when blocking the user.

[2021-05-12 17:11] robcortez opened #2721 "Twitter banner URLs are marked "Invalid Image" on Edit Profile modal"
**Describe the bug**
When authenticating via Twitter, the banner URL can be valid yet marked as invalid by the UI.

Creating an account with a Twitter login auto-populates your profile (avatar, banner, display name, and bio). All images display correctly and are legit URLs. However, the regex for the banner image in does not seem to match due to the URL not having an extension.

Here is my valid b

[2021-05-12 18:45] amitojsingh366 commented on #2719
possibly linked to #2177

[2021-05-12 20:17] Akorian commented on #2719
I don't see the connection there. From my understanding, it is perfectly normal to be able to stay in a room while browsing the site. The issue for me is, that the "leave" button/ the whole "controls part", which normally is there when you aren't fullscreen in a room, is missing. check the vid.

[2021-05-12 20:28] GregoryCannon opened #2725 "Can't load profile in Safari"
**Describe the bug**
I wanted to change my name, so I clicked on "Profile" from the top right menu. The spinner in the top right spun forever and the page never loaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Home Screen
2. Click on your avatar
3. Click on 'profile'

**Expected behavior**
Profile loads

**Screenshots**
![image](https://user-images.githubusercontent.com/1939

[2021-05-12 20:35] firecraftgaming commented on #2721
Hi, this should not be a problem because it validates links that have https://pbs.twimg.com/profile_banners/x/x/x where the last x is either a size like "500x500" or a preset size like "web" and in your line you only provided the first two and not the size. Solution: put in your banner url and add a "/" and an size like "web", here is the link to twitter banner url format https://developer.twitter

[2021-05-12 20:37] GregoryCannon commented on #2725
![image](https://user-images.githubusercontent.com/19394260/118041028-2a514e00-b327-11eb-8f9b-5b696e3977e7.png)

Console output when loading the profile in a new tab (some of the console errors in the original screenshot might've been from previous actions)

[2021-05-12 22:57] benawad opened #2729 "possibly use this lib to use webrtc for ids"
https://github.com/dashersw/biri

[2021-05-13 00:12] benawad commented on #2689
I don't understand, why is this a desired behavior? For emote spamming? Discord/Twitch don't do it.

[2021-05-13 00:24] Baggiest commented on #2689
No no no

Its not what you think :(

So think of this

I use discord emotes everyday right, and when i dont want to look at the catalog of emotes i just write for example :thisEm

And the suggestion will show the emote and auto complete :ThisEmote: because for example the capitalization was wrong

And when you click on it it just delete the wrong one and replace it with the emote, sadly when i wan

[2021-05-13 00:27] #2721 closed, assigned to nobody

[2021-05-13 03:41] loftwah commented on #2712
https://www.pwabuilder.com/ is an awesome tool that could do this.

[2021-05-13 04:31] saihnii4 commented on #2674
i'm pretty sure that it actually installs nj-cli (which is a rust crate), but by default, the path where nj-cli is installed (which is usually `~/.cargo/bin`) is not in `$PATH`, causing this error

[2021-05-13 05:21] isaxk commented on #2716
#1826 talks about markdown _for bots_

[2021-05-13 05:22] isaxk commented on #2711
Or you could just find the file online, click the edit icon and GitHub will do most of it for you

[2021-05-13 05:51] leocrawf opened #2731 "Cannot switch back to English after you change profile language."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'any page'
2. Click on 'profile/langauge then select a language'
3. .....
4. English is not listed as a language, so if you are really English speaking and click on another language you cannot change back to English.

**Expected behavior**
Should be able to change fr

[2021-05-13 08:30] puneeth-techie opened #2732 "Welcome page [Welcome flex] not responsive."
As I increase my chrome size, the Welcome flex got enlarged and all the bottoms links got hide behinds that **Welcome flex** mainly the **SVG logo** at the bottom. Could you please make it more **responsive**.

![WelcomePageNotResponsive](https://user-images.githubusercontent.com/67231558/118099823-64882180-b3f3-11eb-895b-318df7cdd98b.png)

[2021-05-13 09:14] amitojsingh366 commented on #2731
i am able to switch back, are you sure you looked through the list properly?

[2021-05-13 09:20] Poshy163 commented on #2731
Yeah so am I, you may of not looked for it hard enough.

[2021-05-13 09:49] ghost opened #2733 "Search: show no results message when there only 2 characters typed"
## Searchbar Message
Currently it takes at least more than 2 characters in the searchbar to trigger the actual search. If someone doesn't type more than 2 characters, they'l get an blank search result box. It would be nice to get a hint or the "no results" message :)

![Bildschirmfoto 2021-05-13 um 11 45 58](https://user-images.githubusercontent.com/10587159/118109204-2d107980-b3e1-11eb-9103-e6bf7

[2021-05-13 11:33] NickersWeb commented on #2665
seems to happen when setting time to 12:00pm

[2021-05-13 12:40] NickersWeb opened #2735 "Login Page flashes when navigating to base URL"
**Describe the bug**
When logged in and navigating to the base url e.g. "https://dogehouse.tv/", the login screen flashes for a split second.
Potentially not handling authenticated users and seem to navigate away from login screen.

**To Reproduce**
Steps to reproduce the behavior:
1. navigate to base url when logged in.
2. See login page flash before navigating to dash.

**Expected behavior**
Aut

[2021-05-13 13:02] samarmohan commented on #2735
Yeah, that is expected. We can't really do anything because the login screen needs to recognize the tokens, can't stop that from happening.

[2021-05-13 13:09] samarmohan commented on #2731
I can switch back too. Can you send a screenshot?

[2021-05-13 13:10] NickersWeb commented on #2735
Is this a related issue with oauth then?

[2021-05-13 13:44] samarmohan commented on #2735
It is not an issue. It's probably https://github.com/benawad/dogehouse/labels/expected-behavior-but-awkward-and-could-get-rework

[2021-05-13 14:35] josephshepin commented on #2711
that works too. But if you don't know how to do a PR, might be a good time to learn 👍🏻

[2021-05-13 14:46] XfaonXE commented on #2733
I think thats something with SQL, or maybe its just coded like that

[2021-05-13 15:44] Strikeeaglechase opened #2740 "Don"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-13 15:44] #2740 closed, assigned to nobody

[2021-05-13 15:45] Strikeeaglechase commented on #2740
Why does it just create the issue if I accidentally press enter lmao

[2021-05-13 16:04] nadirabbas opened #2741 "add a loader when searching for stuff"
sometimes it takes a little while to load the results when searching stuff on dogehouse. A loader would be nice.
![image](https://user-images.githubusercontent.com/38838675/118152962-c74ade80-b42e-11eb-8ff9-4352283ef60f.png)

[2021-05-13 20:52] samarmohan commented on #2731
Once #2744 gets merged try again.

[2021-05-13 20:56] amitojsingh366 commented on #153
has been added in #2553

[2021-05-13 20:56] #153 closed

[2021-05-13 21:14] sohank1 opened #2745 "Auth only needs refresh token"
If you send a bad access token and a good refresh token. Server will send you a new access token. This is really bad because now a hacker only needs someone's refresh token to make requests as them.

[2021-05-13 22:46] ghost commented on #2712
I implemented this a while back,  but Ben expressed that he doesn't want a service worker. The manifest is here, so on mobile, you can install it like you normally would.

[2021-05-13 22:48] Odyssey346 commented on #2712
![Uploading Screenshot_20210514-004805_One UI Home.jpg…]()

[2021-05-13 22:48] ghost commented on #2712
![Screenshot_20210514-004805_One UI Home](https://user-images.githubusercontent.com/57069715/118196924-21a76780-b44e-11eb-8beb-927c9b02279b.jpg)

[2021-05-13 23:44] heisdeku commented on #2416
could i be assigned to this @dk-raw

[2021-05-14 00:25] #2735 closed, assigned to nobody

[2021-05-14 01:53] jacoblukewood commented on #2725
Lots of text is also appearing backwards in Safari.
<img width="1434" alt="Screen Shot 2021-05-14 at 11 52 51 am" src="https://user-images.githubusercontent.com/1590014/118208918-f56e0400-b4aa-11eb-8bfb-944ddf429e91.png">

[2021-05-14 02:01] amitojsingh366 commented on #2725
this should be a different issue and also you probably have "Australian English" set as your language

[2021-05-14 03:51] #2694 closed, assigned to nobody

[2021-05-14 07:16] BronzW commented on #2719
But isn't the sound coming from the original tab? It's what happened when I tried reproducing this

[2021-05-14 08:47] akashrajum7 commented on #2741
I would like to work on this and https://github.com/benawad/dogehouse/issues/2733 and create a PR if it's okay.

[2021-05-14 10:31] arnimattr opened #2753 "audio display detector sensitivity is too high for keyboard noises"
**Describe the bug**
The audio ring that shows when someone is speaking doesn't light up when someone makes just typing noise.

**To Reproduce**
Steps to reproduce the behavior:
1. Find someone that makes typing noises
2. watch if the audio ring works correctly

**Expected behavior**
the dogeblood-ring around the speaker's avatar should be visible

**Screenshots**
*only visible in videos with audi

[2021-05-14 11:48] amitojsingh366 opened #2755 "Profile is unsearchable"
**Describe the bug**
i'm unable to search for @goldyydev on dogehouse, his username is [`____`](https://dogehouse.tv/u/____) and when i search for it i don't get any relevant results

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'dogehouse'
2. Click on 'searchbar'
3. Search for `____`
4. See error

**Expected behavior**
I should be able to get his profile in the results

**Screenshot

[2021-05-14 11:51] amitojsingh366 commented on #2755
@benawad

[2021-05-14 12:32] dk-raw commented on #2416
sure

[2021-05-14 15:27] Hypercoded opened #2757 "When implemented, a cool name for podcasts could be DogeCasts"
Podcasts sound pretty generic, but if you were able to search past recordings, calling them "DogeCasts" would be pretty interesting and also fit the branding.

[2021-05-14 16:02] willdoescode commented on #2755
This is interesting when I use a backslash the profile shows up

<img width="713" alt="Screen Shot 2021-05-14 at 09 02 15" src="https://user-images.githubusercontent.com/53620720/118297497-14609c00-b493-11eb-8272-ebbf400143ce.png">

[2021-05-14 16:46] samarmohan commented on #2745
Close this issue now and privately reach out to Ben. https://github.com/benawad/dogehouse/blob/staging/SECURITY.md

[2021-05-14 16:49] samarmohan commented on #2745
Don't submit issues if there is a security issue.

[2021-05-14 16:59] samarmohan commented on #2741
How is your progress in #2733 @akashrajum7?

[2021-05-14 17:11] akashrajum7 commented on #2741
Haven't started working on it, would you like to take it up? @samarmohan

[2021-05-14 17:45] benawad commented on #2745
This is expected behavior, access token is only used for caching purposes

[2021-05-14 17:45] #2745 closed, assigned to nobody

[2021-05-14 17:53] ghost commented on #2648
Nah man, if you're using a meme language, bugs should happen. Especially with something like this. (just my opinion tho)

[2021-05-14 18:11] SebbyLaw commented on #2648
This occurs on multiple languages.

[2021-05-14 18:18] sohank1 commented on #2745
Oh wow, I think it would be more secure if you checked if the access token has valid signature and is not expired at least before letting the user authenticate.

[2021-05-14 19:40] Akorian commented on #2719
That happens sometimes. Most of the time the sound source switches to the new tab. But the controls for leaving etc. are missing.
(the video shows this)

[2021-05-14 20:11] #2741 closed, assigned to nobody

[2021-05-14 20:11] #2733 closed, assigned to nobody

[2021-05-14 20:49] #2731 closed, assigned to nobody

[2021-05-14 22:23] FotieMConstant opened #2763 "Can't delete message when you are a speaker"
**Describe the bug**
When you are a speaker, you can't delete the message you wrote in the chat section.

**To Reproduce**
1. Go to 'a room'
2. Click on 'request to speak'
3. Type a message in chat and try deleting it while being a speaker
4. See error "Message won't disappear"

**Expected behavior**
Message should be able to delete regardless of if you are a speaker or not

[2021-05-14 22:23] FotieMConstant commented on #2763
@amitojsingh366 @benawad

[2021-05-14 22:28] FotieMConstant opened #2764 "PLEASE all documentation contributions should be done to the official dogehouse doc repo out if the main repo"
Please, anyone willing to work or add something to the docs, should send a PR directly to the dogehouse's official doc repo here  https://github.com/FotieMConstant/dogehouse-docs

This is essentially to avoid double work, migrating the content to the main docs, which is mirrored on the official website of the doc
Thanks.

@benawad @amitojsingh366 please could you point this out?

[2021-05-15 04:34] ghost commented on #2648
oh

[2021-05-15 04:35] ghost commented on #2764
i think this repo should be on ben's account or something tho

[2021-05-15 05:20] willdoescode commented on #2764
You should pr to get this into monorepo

[2021-05-15 05:21] ghost commented on #2764
monorepo?

[2021-05-15 05:22] willdoescode commented on #2764
yes merge the dogehouse-docs into the monorepo

[2021-05-15 05:22] ghost commented on #2764
what's a monorepo?

[2021-05-15 08:18] amitojsingh366 commented on #2763
you can delete if you're a speaker and a mod tho

[2021-05-15 08:33] antoineblu opened #2766 "Bug when promote to admin"
**Describe the bug**
When I promote a friend to admin or a friend promotes me to admin, the person who promotes becomes muted and doesn't hear the other anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to main page
2. Click on new room
3. Set it to private
4. Promote someone admin

**Expected behavior**
Just to promote the other to admin without anything else

**What device are yo

[2021-05-15 08:46] amitojsingh366 commented on #2766
@benawad

[2021-05-15 13:29] FotieMConstant commented on #2763
That's weird, haven't tried that!

[2021-05-15 13:36] FotieMConstant commented on #2764
@willdoescode Please what is a monorepo?

[2021-05-15 18:20] #2660 closed, assigned to nobody

[2021-05-15 19:37] willdoescode commented on #2764
It is what the dogehouse repo is, one big repo that stores folders that do different things rather than a github org or something else

[2021-05-15 19:38] laurens-vrh commented on #2629
And with shadow bans, you should still be able to see your own messages, otherwise it would give away that you're banned.

[2021-05-15 23:20] swervendy opened #2772 "Audio lost when plugging in earphones to Nokia Android phone"
1. User able to hear audio normally on Nokia Android
2. Plugs in earphones
3. Audio listening lost

[2021-05-16 05:52] isaxk commented on #2764
It seems unnecessary to have a separate repo for the documentation.
If that needs to be a separate repo, then the dogehouse project structure should be

e.t.c

[2021-05-16 05:56] isaxk commented on #2755
Maybe it glitches because his profile username contains special characters

[2021-05-16 05:59] FotieMConstant commented on #2764
@isaboo, I thought as much but Ben asked me to set it up separate.

[2021-05-16 06:00] isaxk commented on #2764
Ok, well Ben knows best! 😅

But it should still be on _his_ account though

[2021-05-16 06:17] willdoescode opened #2774 "Bots can mute speakers."
**Describe the bug**
The bug is that a bot can use the `room:set_role"` opcode and set a user role as `raised_hand` with a speakers userid and it will mute the user.

**To Reproduce**
Steps to reproduce the behavior:
1. Send websocket request
[code]

**Expected behavior**
Bots, especially non admin bots, should not be able to mute users at will

https://user-images.githubusercontent.com/53620720/1

[2021-05-16 06:21] willdoescode commented on #2774
I just tested it again and it even turns off the effected users headphone audio.

[2021-05-16 07:02] willdoescode commented on #2774
More testing reveals that said bot has to be a speaker as well.

[2021-05-16 07:30] TheOtterlord commented on #2774
just to check, the bot has to be moderator or higher correct?

[2021-05-16 07:38] willdoescode commented on #2774
The bot does not have to be, and even if it were moderators can not normally mute people just move them to speakers. @TheOtterlord

[2021-05-16 07:38] TheOtterlord commented on #2774
oh, ok. this is quite serious then. not just a kebab problem, but a backend problem!

[2021-05-16 07:39] willdoescode commented on #2774
Yeah thats what I was thinking.

[2021-05-16 07:40] willdoescode commented on #2774
If this got into the wrong hands somebody could do lots of bad stuff to rooms.

[2021-05-16 07:42] TheOtterlord commented on #2774
hmm, this should be a high priority. hopefully an elixir dev comes online soon

[2021-05-16 07:42] TheOtterlord commented on #2774
oops. those buttons are too close XD

[2021-05-16 07:43] willdoescode commented on #2774
@overlisted

[2021-05-16 07:58] TheOtterlord commented on #1807
Kibbeh now has translations. Most strings are translated, but if you are able to contribute translations, please make a pull request.

[2021-05-16 07:58] #1807 closed, assigned to nobody

[2021-05-16 09:28] BronzW commented on #1807
@TheOtterlord yes, but there are some hardcoded strings that haven't been converted into translation keys. Almost all new components doesn't have them, like the profile page. Instead of having this issue open we should make it a requirement to add translation keys whenever @ajmnz adds new components for people to create.

[2021-05-16 12:00] overlisted commented on #2774
what

[2021-05-16 12:34] BronzW commented on #2774
Can we link them?

[2021-05-16 12:45] willdoescode commented on #2774
who?

[2021-05-16 13:01] jhadden04 opened #2779 "When entering info on the bio, the text goes fuzzy"
**Describe the bug**
When you enter more than 3 lines on bio, the text goes kind of fuzzy.

**Expected behavior**
Unfuzzy text

**What device are you on?**
Windows 10 PC

[2021-05-16 13:02] willdoescode commented on #2779
Can you send a screenshot

[2021-05-16 13:15] kate2797 opened #2780 "Adding "About" section"
Hello, I have an idea for the project. Maybe try to add a tab "About" on the homepage where people log in so that people who randomly found it just like me have an idea about what kind of app it is etc. before creating an account

[2021-05-16 13:17] ajmnz commented on #2780
There will be a landing page, similar to what [Discord](https://discord.com) has.

[2021-05-16 13:17] #2780 closed, assigned to nobody

[2021-05-16 14:14] drvladb commented on #2779
Unable to reproduce

[2021-05-16 14:17] drvladb commented on #2772
This sounds like a platform specific issue, are you sure this isn't a issue with Android on Nokia. Can you also provide other information like your browser name, browser version, android version, and phone make.

[2021-05-16 14:18] drvladb commented on #2766
Theory: When promoting someone to an admin, the original person is kicked from the room but can't rejoin because they weren't invited and the UI isn't updated to show that.

[2021-05-16 14:57] FotieMConstant opened #2782 "DogeHouse emojis are broken"
I just noticed this while in a room

[2021-05-16 14:58] saihnii4 commented on #2782
could you explain a bit further?

[2021-05-16 14:59] FotieMConstant commented on #2782
Yeah, sure...  When I click on an emoji, and after being done adding the emoji, when I send it, it sends the text not the actual emoji(more like the emoji name)

[2021-05-16 15:07] FotieMConstant commented on #2782
Preview

![Screenshot_2021-05-16-16-05-17-192_com android chrome~2](https://user-images.githubusercontent.com/42372656/118402176-b71a4580-b660-11eb-9cc1-35553593596c.jpg)

[2021-05-16 15:32] MeztliRA commented on #2782
yeah its broken

[2021-05-16 15:33] saihnii4 commented on #2782
can reproduce, maybe the parser got broken?

[2021-05-16 16:43] prokopschield commented on #2782
I submitted a fix: https://github.com/benawad/dogehouse/pull/2785

[2021-05-16 16:57] FishNChipsYeahBruv opened #2786 "Emotes show up as text rather than images"
**Description of the bug**
Emotes show up as text rather than images.
For e.g. A picture of pepe would show up normally when selecting which emote to send but when sent
it would be sent as :pepe:

**To Reproduce**
Steps to reproduce the behavior:
1. Create or join an existing room
2. Send an emote

**Expected behavior**
The selected emote should be sent as it is being displayed on the emote selet

[2021-05-16 17:03] FishNChipsYeahBruv commented on #2786
Nvm this was addressed 2 hours ago.

[2021-05-16 17:03] #2786 closed, assigned to nobody

[2021-05-16 17:06] adamtuby opened #2787 "un-deafen causes un-mute"
when you mute yourself and then deafen yourself and then un-deafen yourself, it also un-mutes you.

I would expect it to not un-mute you.

I'm on a regular win pc.

[2021-05-16 17:42] ghost opened #2789 "Dogehouse Emojis breaking bot rooms"
**Describe the bug**
When using an emoji in a dogehouse bot room, it either gives a speaker (if there are any) admin or just closes the room.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a room that's hosted by a bot
2. Use windows key and . to open the emojis
3. Use a random emoji
4. See error

**Expected behavior**
The room should close if there are no speakers or a random speaker

[2021-05-16 17:43] jhadden04 commented on #2779
It is when you are editing the bio

[2021-05-16 17:43] jhadden04 commented on #2779
![image](https://user-images.githubusercontent.com/59323260/118407030-a2e14300-b676-11eb-822b-3d8b29c51ebd.png)

[2021-05-16 17:44] #2755 closed, assigned to nobody

[2021-05-16 17:44] #2774 closed, assigned to nobody

[2021-05-16 19:52] BronzW opened #2792 "Unable to search for anything"
if you try to search you get a websocket closed error

[2021-05-16 20:29] #2792 closed, assigned to nobody

[2021-05-16 22:32] amitojsingh366 commented on #271
it was @ajmnz

[2021-05-16 22:49] n3oney opened #2794 "FloatingRoomInfo is offset from the bottom"
**Describe the bug**
FloatingRoomInfo is 60px away from the bottom of the page when the page width is between 800px and 1265px. It seems like it's trying to be above the bottom navigation bar, but it only appears there when the page is smaller than 800px.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a room
2. Go to the home page
3. Resize the page to between 800px and 1265px
4. Look

[2021-05-16 23:51] n3oney commented on #2789
This doesn't seen to be an issue with Dogehouse but with Moonstone

[2021-05-16 23:55] amitojsingh366 commented on #2789
this is a moonstone issue

[2021-05-16 23:55] #2789 closed, assigned to nobody

[2021-05-16 23:57] #2794 closed, assigned to nobody

[2021-05-17 08:03] n3oney commented on #2789
This should be fixed:
https://github.com/fuwwy/moonstone/pull/12

[2021-05-17 08:28] n3oney commented on #2779
Can reproduce on Chromium 90.0.4430.93, Linux
![image](https://user-images.githubusercontent.com/30625554/118458061-a3bbb880-b6fa-11eb-8336-1571dfe5815b.png)

[2021-05-17 08:28] vikashd opened #2796 "Load more functionality not working in Scheduled Rooms"
In Scheduled Rooms 'Load more' appears to be broken. The loader is displayed but I don't see any network requests being made.

[2021-05-17 08:35] n3oney commented on #2595
https://github.com/benawad/dogehouse/blob/staging/CONTRIBUTING.md#translating

[2021-05-17 09:10] n3oney commented on #2796
![image](https://user-images.githubusercontent.com/30625554/118463872-8984d900-b700-11eb-91be-838026e77f7b.png)
I'm pretty sure it's requesting it through the WebSocket.

[2021-05-17 09:11] n3oney commented on #2796
![image](https://user-images.githubusercontent.com/30625554/118463996-a8836b00-b700-11eb-8979-5b4ba922526b.png)
but still, it does return some issue with the cursor being invalid

[2021-05-17 09:27] n3oney opened #2798 "Scheduled rooms overflow-x on Safari"
**Describe the bug**
Scheduled rooms in the right sidebar weirdly overflow horizontally when a room had a long name.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a scheduled room with a long name
2. Go to the home page
3. See error

**Expected behavior**
The title will be cut off and replaced with `...`, just like in Chrome

**Screenshots**
![Screenshot 2021-05-17 at 11 26 11](http

[2021-05-17 09:32] laurens-vrh commented on #2246
Works fine on my Samsung Galaxy A20e with Android 10...
I can see the room in the Feed and the recv transport state says 'new'

[2021-05-17 09:56] laurens-vrh commented on #2087
#2167 mentions this as well I think

[2021-05-17 10:07] laurens-vrh commented on #2048
I don't think that this would be a good idea. The room owners could just set a slowmode or ban the bot, right?

[2021-05-17 13:47] s3ansh33p opened #2801 "Undefined User Modal Values (block user)"
**Describe the bug**
A user that blocks you has undefined for all values in the user modal.

**To Reproduce**
Steps to reproduce the behavior:
1. Get another user to ban you.
2. Click on their modal (in a room)
3. See error

**Expected behavior**
Perhaps show 'You have been blocked by this user.' (same as profile url).
Otherwise this looks like some server error etc.

**Screenshots**
https://i.img

[2021-05-17 14:35] n3oney opened #2802 "Paswordless Authentication with magic links"
Right now we can log-in using GitHub, Twitter and Discord.
Another way to authenticate that wouldn't need any third-party login could be magic links sent to e-mail addresses.
If we used that, the users wouldn't have to set any sort of password while logging in using a third-party service.

It wouldn't be particularly hard to implement it too - we'd just have to input our e-mail, the server would e

[2021-05-17 14:38] n3oney commented on #307
Maybe some badge like Early Supporter on Discord?
![image](https://user-images.githubusercontent.com/30625554/118507268-5d804c80-b72e-11eb-9741-00bfb34a2b11.png)

[2021-05-17 14:59] ghost commented on #307
This is easy now, considering we have the Badge system in place

[2021-05-17 15:33] n3oney commented on #615
I don't think we need as many IDs as UUIDv4 can provide. I think a better idea for Room IDs would be snowflakes.
![image](https://user-images.githubusercontent.com/30625554/118515052-4ee96380-b735-11eb-899c-2f06092aeaa3.png)
They could also store the date of creation of the room!
Also, a 64-bit snowflake converted to a Radix-64 string would be just like... 10 characters.

[2021-05-17 16:26] n3oney commented on #2782
I have a fix for it, I'll PR soon

[2021-05-17 17:17] mfbx9da4 commented on #2496
I'm 90% certain that PR doesn't fix anything, on iOS you have to use the visual viewport API. The window element never changes size on iOS.

[2021-05-17 19:44] #2782 closed, assigned to nobody

[2021-05-17 19:53] gr93 opened #2805 "UI Suggestion for Search Bar Loading Icon"
**Describe the bug**
When you type 2+ characters into the search bar, the spinner loading symbol keeps on spinning. It's a bit confusing because I can't tell if it's done searching, or if it is continually searching (and if it is continually searching, is it only searching upon typing new characters?).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dogehouse.tv/dash.
2. Type s

[2021-05-17 19:55] gr93 commented on #2802
As a heads up the first image you posted isn't fully viewable on Github dark mode, probably because of the transparent background.

[2021-05-17 19:58] n3oney commented on #2805
That actually is what happens, but search is currently broken. If you try searching something while in a room, you'll notice it disconnect you.

[2021-05-17 21:03] samarmohan opened #2808 "Dogehouse component library for React"
Ok, don't say no instantly, just read until the end.
I think it would be cool to have a DogeHouse component library that any site (built with React) could use. We would basically move the UI folder to another package and import the stuff in Kibbeh. Other sites that want to be related to DogeHouse e.g. DogeGarden could use the package. This won't be a complete library like Chakra or Material UI but

[2021-05-17 21:06] samarmohan commented on #2805
This was implemented but the actual bug is the thing @n3oney brought up.

[2021-05-17 21:22] amitojsingh366 commented on #2808
unfortunately i don't think we will be implementing this for many reasons

[2021-05-17 21:24] amitojsingh366 commented on #2808
i'm gonna re open this since you asked approval from ben and arnau, i won't intervene here

[2021-05-17 21:27] samarmohan commented on #2808
Wait what were the reasons?

[2021-05-17 21:30] samarmohan commented on #2802
I think Ben just wants OAuth.

[2021-05-17 22:02] #2801 closed, assigned to nobody

[2021-05-18 00:45] #2686 closed, assigned to nobody

[2021-05-18 01:06] chalkedgoose opened #2811 "Remove the 404 page and use the Redirects feature instead"
**Is your feature request related to a problem? Please describe.**
```dogehouse/kibbeh/src/pages/404.tsx``` is redundant since we don't have a 404 page
 it is a simple redirect. We should instead use the [Redirects](https://nextjs.org/docs/api-reference/next.config.js/redirects) feature built into the Next by modifying
```next.config.js``` This should significantly speed up redirects and send a 30

[2021-05-18 02:22] chalkedgoose commented on #2811
@overlisted @amitojsingh366

[2021-05-18 05:08] alexover1 opened #2815 "Chrome mobile: profile pages do not load"
**Bug**
When pressing on a user's profile on chrome on mobile, it takes over a minute to load and then does not actually load the page.

**Video:**
https://cdn.discordapp.com/attachments/818184440714362880/844078341296488468/video0.mp4

[2021-05-18 10:17] n3oney commented on #2815
This is a duplicate of #2725, all browsers on iOS are required to use the WebKit engine - even Chrome.

[2021-05-18 13:30] jaipack17 opened #2817 "Improvements to DogeHouse bots?"
DogeHouse bots as far as I know cannot ping users or send text in markdown example `test` or send emojis or send clickable links.

I would love to see Implementation of markdown, emojis and mentions for bot accounts as well.

I have no alternatives for this yet except using whispers. I would love to see the implementation of linebreak as well because as of now its very tedious to display a help co

[2021-05-18 14:31] Drakota commented on #1967
Hi everyone! I just cloned the repository again on my Linux machine and I wasn't able to reproduce this issue.

The problem stems from how Docker expects Line Endings to be LF instead of CLRF, what is happening is you are probably using Windows (right?) and your `git.autocrlf` is set to true which converts all Unix Line Endings (LF) to use CLRF which makes the script fail in the docker build.

You

[2021-05-18 15:02] nadirabbas opened #2818 "you can mention non-existent users in chat, plus whispers # is not removed"
@HoloPanio after the integration of `dolma` I believe, we can mention nonexistent users in the chat. previously we used to cross-check for mentioned users in the room users list, if found. `token = mention`, otherwise `token = text`

![image](https://user-images.githubusercontent.com/38838675/118675333-f76df500-b813-11eb-9092-1530f2e962d0.png)

you can also see another bug that was introduced, whi

[2021-05-18 15:51] overlisted commented on #2811
can you do it yourself

[2021-05-18 15:55] chalkedgoose commented on #2811
@overlisted I could do it myself but it will be a while due to my day job.
And I also wanted feedback/validation on this approach to the 404 redirect.

[2021-05-18 17:04] amitojsingh366 commented on #2712
i'm gonna close this based on the quoted comment

[2021-05-18 17:04] #2712 closed, assigned to nobody

[2021-05-18 17:54] overlisted commented on #2811
I'm not a Next.js professional, but it seems reasonable to me

[2021-05-18 18:27] firecraftgaming opened #2822 "No Icon in Bot Edit"
**Describe the bug**
There is a missing icon for avatar in the edit bot section if it has no avatar

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Developer Settings
2. Click on a bot
3. There is a missing image tag on the avatar if it has no avatar

**Expected behavior**
You should see a default profile picture

**Screenshots**
![image](https://user-images.githubusercontent.com/42218

[2021-05-18 18:31] firecraftgaming opened #2823 "Missing margin in View bots page"
**Describe the bug**
There should be 0.75rem on both top and bottom of a separator on the view your bots page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Developer Settings
2. There is no margin on the separator

**Expected behavior**
In someway there is missing margin but there is an `my-3` tag on it

**Screenshots**
![image](https://user-images.githubusercontent.com/42218879/1187

[2021-05-19 05:43] amitojsingh366 commented on #2823
this has been fixed

[2021-05-19 05:43] #2823 closed, assigned to nobody

[2021-05-19 07:01] rocktimsaikia commented on #2811
@overlisted Can I take this?

[2021-05-19 07:03] amitojsingh366 commented on #2811
go ahead

[2021-05-19 09:49] jaipack17 opened #2830 "Emoji UI doesn't work"
When selecting an emoji using the emoji selector in chat. And then sending the emoji. The emoji doesn't work.

1. I click the emoji button
![image](https://user-images.githubusercontent.com/74130881/118792204-0f498580-b8b5-11eb-8140-11bb3028f8d5.png)

2. I select an emoji by clicking on one
![image](https://user-images.githubusercontent.com/74130881/118792468-4ddf4000-b8b5-11eb-892c-d30c94126d89.p

[2021-05-19 10:05] jaipack17 commented on #2817
Oh well. I figured out. I had to use Dolma to decode the string.

[2021-05-19 10:05] #2817 closed, assigned to nobody

[2021-05-19 13:43] amitojsingh366 commented on #2811
@chalkedgoose i tried it and unfortunately it seems like you cannot turn a 404 to a 301. it will have to go through `pages/404.tsx` and then redirected to `/dash`

[2021-05-19 13:43] #2811 closed, assigned to amitojsingh366

[2021-05-19 13:44] amitojsingh366 commented on #2811
and looking at it again i don't see why we would want to turn a 404 into a 301

[2021-05-19 14:34] chalkedgoose commented on #2811
@amitojsingh366 The reason you'd want to do it is that your essentially utilizing the page as a 301 redirect anyways. There's just no status code and a client side redirect.

[2021-05-19 14:58] Ry4nW opened #2833 "Search not working"
Even when searching for something that exists. Loads forever at times and "web socket not connected" for others.

[2021-05-19 15:04] KristofKekesi opened #2835 "How to save DogeHouse"
## How to save DogeHouse
### 1. Stay active
It is important to be active on DogeHouse. We are still have three months left.
### 2. Notify Elon
Retweet HoloPanio's [tweet][tweet] and comment `@elonmusk`.

[tweet]: https://twitter.com/jrobe3221/status/1395024289754238980

[2021-05-19 15:07] saihnii4 commented on #2835
I don't think Holo's tweet is exactly "trending" material, nor is it going to seem any different from a crypto scam that's popular these days.

[2021-05-19 16:56] #2835 closed, assigned to nobody

[2021-05-19 18:37] MohamedAliRashad opened #2839 "What is the cost of running dogehouse ?"
I am interested to know how much money is needed to run dogehouse monthly ?

[2021-05-19 19:57] Pythone opened #2841 "I want to redesign this for the new purpose"
I am looking to redesign Dogehouse with the new purpose in mind.
What design goals do you have?
I am doing the concepts in SVG(final concept may be tested with the Dogehouse JS api).
What are the specifications I need for the redesign?

[2021-05-19 21:19] MMK21Hub commented on #2069
Closing due to https://www.youtube.com/watch?v=I8PkQgPiSq8

[2021-05-19 21:19] #2069 closed, assigned to nobody

[2021-05-19 21:19] MMK21Hub commented on #2068
Closing due to https://www.youtube.com/watch?v=I8PkQgPiSq8

[2021-05-19 21:19] #2068 closed, assigned to nobody

[2021-05-19 21:19] MMK21Hub commented on #1753
Closing due to https://www.youtube.com/watch?v=I8PkQgPiSq8

[2021-05-19 21:19] #1753 closed, assigned to nobody

[2021-05-19 21:19] MMK21Hub commented on #1746
Closing due to https://www.youtube.com/watch?v=I8PkQgPiSq8

[2021-05-19 21:19] #1746 closed, assigned to nobody

[2021-05-19 21:19] MMK21Hub commented on #1697
Closing due to https://www.youtube.com/watch?v=I8PkQgPiSq8

[2021-05-19 21:19] #1697 closed, assigned to nobody

[2021-05-19 21:19] MMK21Hub commented on #1562
Closing due to https://www.youtube.com/watch?v=I8PkQgPiSq8

[2021-05-19 21:19] #1562 closed, assigned to nobody

[2021-05-19 21:29] amitojsingh366 commented on #2841
@ajmnz

[2021-05-19 21:47] Pythone commented on #2841
was I too late?

[2021-05-19 21:49] ajmnz commented on #2841
what am I supposed to say

[2021-05-19 22:03] Pythone commented on #2841
sorry

[2021-05-19 22:03] #2841 closed, assigned to nobody

[2021-05-20 00:16] parkerthegeniuschild commented on #2839
Same here . . .

[2021-05-20 03:56] chsaikumar445 commented on #2839
it depends on how many people are using it and things like that

[2021-05-20 04:26] Mehak-Mehta opened #2843 "Dogehouse done for?"
@benawad

[2021-05-20 06:39] troler36 opened #2844 "Dogehouse Restructuring"
**Dogehouse is gone it won't come back! What do you think will make it magically come back?!**

Dogehouse to Ben Awad is gone. But it's not really gone. We can through had work revive scrape all of the data that is left while Dogehouse is still up.
     Or we can choose a trustworthy contributor all of the data. Instead of relying on 1 person to say what is allowed and what is not we can have a vo

[2021-05-20 06:41] troler36 commented on #2843
Not yet ;)
I-I--I hope

[2021-05-20 08:09] Mehak-Mehta commented on #2843
Even I hope T-T

[2021-05-20 08:16] willdoescode commented on #2843
https://www.youtube.com/watch?v=fNFzfwLM72c

[2021-05-20 08:24] #2843 closed, assigned to nobody

[2021-05-20 08:25] TheOtterlord commented on #2844
Discussions are ongoing between collaborators and contributors as to what we will do with DogeHouse. Please join the discord to join in the conversations

[2021-05-20 08:25] #2844 closed, assigned to nobody

[2021-05-20 08:32] TheOtterlord commented on #2839
This issue is more suited to be a discussion, but to answer the question, the only thing we have in terms of cost, is a segment at the end of [this video](https://youtu.be/oa84RnBsieo?t=405)

[2021-05-20 08:32] #2839 closed, assigned to nobody

[2021-05-20 10:24] nadirabbas opened #2846 "lol I only see blurred images"
https://i.imgur.com/jY4tR8a.png

[2021-05-20 11:36] TheOtterlord commented on #2846
hmm, cannot reproduce. does this happen all the time? or does it disappear when you refresh?

[2021-05-20 12:44] ghost opened #2847 "Message deletion bug."
**Describe the bug**
Message deletion bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a message
2. Inspect and change the message text.
3. Have a mod delete the message.
4. See error

**Expected behavior**
It should just delete the message.

**What device are you on?**
Brave for linux

[2021-05-20 12:53] TheOtterlord commented on #2847
cannot reproduce.

Firefox Developer Edition

Maybe a chromium issue?

[2021-05-20 12:54] ghost commented on #2847
Sorry. I edited the issue.

[2021-05-20 13:06] #2847 closed, assigned to nobody

[2021-05-20 15:01] dk-raw opened #2850 "R.I.P. DogeHouse 2021-2021"
RIP

[2021-05-20 15:32] imadill commented on #2850
F

[2021-05-20 15:40] ghost opened #2851 "HTML tags"
**Describe the bug**
A bug making DogeHouse crash when you add an a tag to the chat text.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a message in chat.
2. Inspect element and add \<strong\>hi\</strong\>
3. Delete the message
4. See error

**Expected behavior**
It should delete the message without any error.

**What device are you on?**
I tried this all all devices.

[2021-05-20 17:29] ipranjal commented on #2850
F

[2021-05-20 17:30] willdoescode commented on #2850
not dead yet.

[2021-05-20 17:30] #2850 closed, assigned to nobody

[2021-05-20 19:51] #615 closed, assigned to nobody

[2021-05-20 19:52] #963 closed, assigned to nobody

[2021-05-20 19:52] #633 closed, assigned to nobody

[2021-05-20 19:52] #449 closed, assigned to nobody

[2021-05-20 19:52] #497 closed, assigned to nobody

[2021-05-20 19:53] #559 closed, assigned to nobody

[2021-05-20 19:53] #576 closed, assigned to nobody

[2021-05-20 19:53] #626 closed, assigned to nobody

[2021-05-20 19:53] #589 closed, assigned to nobody

[2021-05-20 19:54] #578 closed, assigned to nobody

[2021-05-20 21:39] willdoescode commented on #2846
that is weird looking.

[2021-05-21 06:36] #2234 closed, assigned to nobody

[2021-05-21 11:30] jcsrb commented on #2851
using "Inspect element" is probably out of scope for protecting against
what is the use-case of manually modifying the DOM?

[2021-05-21 15:22] Arthurdw commented on #1768
~ Issue has been resolved for me.

[2021-05-21 15:22] #1768 closed, assigned to nobody

[2021-05-21 16:36] ghost commented on #2851
Well its still bad

[2021-05-21 16:37] ghost commented on #2818
This shouldn't be a bug.

[2021-05-21 20:26] willdoescode commented on #2851
You manually added a element that was not supposed to be there, this is not a bug with dogehouse.

[2021-05-21 20:26] #2851 closed, assigned to nobody

[2021-05-21 22:22] willdoescode commented on #2830
This should be fixed now.

[2021-05-21 22:22] #2830 closed, assigned to nobody

[2021-05-22 10:02] ghost commented on #2851
well NVM

[2021-05-22 18:29] SFM61319 opened #2857 "Ability to merge different social login accounts of the same person"
**Is your feature request related to a problem? Please describe.**
I logged in (first) with my GitHub. But I also wanted to log in with my Discord. So I logged out of the GitHub login, and then logged in with my Discord. Now instead of merging those two accounts (based on email/username/both, since both use the same email and username), it created two separate accounts, unlike any other site I eve

[2021-05-22 19:35] alexover1 commented on #2857
Bro dogehouse is dead... Also Ben already talked about this in one of his videos.

[2021-05-23 00:37] #226 closed

[2021-05-23 05:43] ofsho commented on #1969
test

[2021-05-23 09:50] dk-raw commented on #2846
It is like you blurred the images yourself. weird.

[2021-05-23 09:51] ghost commented on #2846
what browser is this?

[2021-05-23 09:52] dk-raw commented on #2846
lol. just found out ben removed collaborators

[2021-05-23 09:57] dk-raw opened #2858 "Keep DogeHouse Alive!"
This is of utmost importance!

[2021-05-23 11:20] nadirabbas commented on #2846
@dk-raw what you mean?

[2021-05-23 11:28] ghost commented on #2846
can you please tell us what browser you're on?

[2021-05-23 14:39] #2846 closed, assigned to nobody

[2021-05-23 14:51] thefakequake commented on #2858
Ben has already explained in [this video](https://www.youtube.com/watch?v=I8PkQgPiSq8) why he isn't continuing with DogeHouse.

It simply doesn't make sense to pour all this time and effort into a project that is or will be overshadowed by other platforms with more or less the same features.

[2021-05-25 20:36] byeze commented on #2833
Hi Ry4nW!

Could you share some screenshots and context about this bug? It would be very helpful so we can debug.
Also, for me search is working. Did you check running this on other browsers and / or devices?

Thank you

[2021-05-25 20:49] Ry4nW commented on #2833
Didn't work the other day but works fine now with the same browser and device. Thanks for checking.

[2021-05-25 20:49] #2833 closed, assigned to nobody

[2021-05-26 03:16] S-codes14 commented on #2858
I Think it is up to the community on github to keep it alive @QuaKe8782  and @dk-raw . If we share dogehouse with our friends and family I think it will be succesful. And knowing the target audience is also beneficial I think that is why @benawad  was [rejected for y - combinator ](https://www.youtube.com/watch?v=IKc_RH33-uM)

[2021-05-26 06:53] thefakequake commented on #2858
The project needs to be hosted elsewhere though. Ben said he would keep hosting it until he runs out of credit.

[2021-05-27 15:48] okdargy commented on #2858
Atleast keep it running, make it so the community can donate to hosting fees!

[2021-05-27 20:05] S-codes14 commented on #2858
It just shows how attached he is, and a great inspiration for people

[2021-05-27 20:10] S-codes14 commented on #2858
@dragonismcode absolutely  but before people's money 🤑 gets ruined the app needs to scale first!!!!

[2021-05-27 20:39] S-codes14 commented on #2857
@benawad  why🤷🤷🤷  just why 🤷 as a software consultant you should know that if your project is dying don't tell them it's dying, after all bad news travel faster than good.

[2021-05-29 18:05] HotBBQSauce commented on #2858
Maybe porting it to stacks or some other form of blockchain?

[2021-05-30 23:18] S-codes14 opened #2865 "Video content"
**I think you get/feel a connection if you can actually see the person speaking**

**So if you can make it like a podcast themed thing but where you can see people speaking maybe in an event or something like that**

**So it could be something like youtube but without cat videos, where it would just be people speaking but you can see them**

![Screenshot Best Resources For Self Taught Developers -

[2021-05-30 23:20] ghost opened #2866 "Working on better settings UI"
I have looked into the Figma designs and I am planning to improve the current settings UI.

[2021-06-01 05:30] Poshy163 commented on #2858
Yeah that will work, although you would need permission from ben and someone reliable to host it.

[2021-06-01 12:03] AntonyLeons commented on #2858
MIT License, you already have permission. Nobody is willing to pay for servers.

This project is stuggling, porting it to a new stack changes nothing. And what about blockchain?

[2021-06-01 23:54] Poshy163 commented on #2858
Do we have even have a base cost of running the server? if so, how much?

[2021-06-02 05:40] isaxk commented on #2858
Ben wasn't running his own servers. He was using Google Cloud or AWS to host it.

[2021-06-02 05:42] Poshy163 commented on #2858
I understand that, but has he said somewhere how much it costs?

[2021-06-02 07:50] tomicleon commented on #2858
I think I remember him saying in a video it costs him ~$300 (per month) don't quote me on it though.

[2021-06-05 06:30] isaboo commented on #2866
It's there much point anymore [I'm done with Dogehouse - YouTube](https://youtu.be/YIL5fuAUPiA)

[2021-06-07 06:42] collinsoops commented on #2866
an option to change on theme maybe to any other color from black can be good

[2021-06-08 16:30] ghost commented on #2866
yea we can do that @collinsoops

[2021-06-08 17:47] he1d1 commented on #2470
Since project isn't continuing, I'll close this.

[2021-06-08 17:47] #2470 closed, assigned to nobody

[2021-06-08 19:15] collinsoops commented on #2866
it's gonna be big and  great....looking forwad

On Tue, Jun 8, 2021 at 7:31 PM Shashank Ellareddy ***@***.***>
wrote:

[2021-06-11 13:03] aaryamvn commented on #2858
I think in his interview with Dennis he mentioned it costed 300 bucks monthly

@Poshy163

[2021-06-11 16:15] #2865 closed, assigned to nobody

[2021-06-14 03:33] DarrenOfficial commented on #2567
RIP DogeHouse.

[2021-06-14 03:33] #2567 closed, assigned to nobody

[2021-06-14 17:48] OmkarK45 commented on #2808
Any update on this ?

[2021-06-14 18:14] ajmnz commented on #2808
Yes, https://www.youtube.com/watch?v=I8PkQgPiSq8

[2021-06-14 18:21] OmkarK45 commented on #2808
Alright no worries..

[2021-06-17 05:15] chuddyjoachim commented on #2858
@s-codes14 that'll be a great way to start.

[2021-06-17 17:22] bluethefoxofficial opened #2869 "-----------------------MESSAGE: I have ported dogehouse to dogehouse-reloaded. ------------------------------------"
I have decided to take the source code and reload the project myself i have the resources to do so.

i dont know if this has the server side on it but im gonna restart it myself look on my profile for dogehouse-reloaded.

here is the link to the reloaded project: https://github.com/bluethefoxofficial/dogehouse-Reloaded

together we can keep it alive.

[2021-06-17 17:31] bluethefoxofficial commented on #2858
@fullstackslayer @AntonyLeons @Poshy163 @chuddyjoachim @Intermo101
I have decided to take the source code and reload the project myself i have the resources to do so.

i dont know if this has the server side on it but im gonna restart it myself look on my profile for dogehouse-reloaded.

here is the link to the reloaded project: https://github.com/bluethefoxofficial/dogehouse-Reloaded

together we

[2021-06-18 04:18] Rohit-Sharma14 commented on #928
hello i am new to open source  but this seems like i can fix this can i do it or someone has fixed it??

[2021-06-18 04:46] aaryamvn commented on #2858
@bluethefoxofficial if you are interested in reviving dogehouse, I am working on a project management and discovery platform called Hydralite and think it would be a unique venture if we tried to integrate dogehouse into it. We were about to create our own audio room service, but if you are interested we can try and use dogehouse code and give it a whole new face. DM me on discord (abno#7777) so w

[2021-06-18 06:07] isaxk commented on #2869
The Dogehouse GitHub repo was a monorepo meaning that all the components needed to run the app are in subfolders

[2021-06-18 18:42] bluethefoxofficial commented on #2869
**@isaboo sweet**

[2021-06-24 22:17] bluethefoxofficial commented on #2857
have decided to take the source code and reload the project myself i have the resources to do so.

i dont know if this has the server side on it but im gonna restart it myself look on my profile for dogehouse-reloaded.

here is the link to the reloaded project: https://github.com/bluethefoxofficial/dogehouse-Reloaded

together we can keep it alive.

[2021-06-24 22:18] bluethefoxofficial commented on #2808
@OmkarK45 @ajmnz  have decided to take the source code and reload the project myself i have the resources to do so.

i dont know if this has the server side on it but im gonna restart it myself look on my profile for dogehouse-reloaded.

here is the link to the reloaded project: https://github.com/bluethefoxofficial/dogehouse-Reloaded

together we can keep it alive.

[2021-06-26 04:03] S-codes14 commented on #2857
Don't restart it just fork it, because it has a lot of commits we can look for in future

[2021-06-27 13:02] jmoseman01 commented on #2858
The benefit of doing an open source project like this is that you can use an open source business model.  The only main competitor I see in this space for open source is Jitsi.  The project can provide other projects support in integrating it into commercial applications.  I'm in need of a conferencing tool on MyVindex and would like to use something like this. I know Jitsi is doing jitsi as a ser

[2021-07-02 17:57] RaxoCoding opened #2871 "Sign up gives a 404 error"
I click signup with Github and get
Failed to load resource: the server responded with a status of 404 ()
 and then:
api.dogehouse.tv took too long to respond.

[2021-07-02 18:37] s3ansh33p commented on #2871
The "DogeHouse.tv" contents is no longer in use. So it won't work.

[2021-07-03 22:38] #1919 closed, assigned to nobody

[2021-07-05 04:39] S-codes14 commented on #2871
thas because dogehouse is dead

[2021-07-05 23:00] bluethefoxofficial commented on #2871
I have decided to take the source code and reload the project myself i have the resources to do so.

i dont know if this has the server side on it but im gonna restart it myself look on my profile for dogehouse-reloaded.

here is the link to the reloaded project: https://github.com/bluethefoxofficial/dogehouse-Reloaded

together we can keep it alive.

[2021-07-11 01:07] youthazmit opened #2872 "a error in constants.ts Cannot find module 'electron' or its corresponding type declarations."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What device are you on?**

**Additio

[2021-07-14 21:22] yaslam-dev opened #2875 "Not an issue."
After giving this some thoughts, I never knew I would say this but I kinda miss Dogehouse. A community where developer can funk around made me feel at home, From the start there were rooms full of developer talking about their problems etc we had a niche but it wasn't the one we expected.

Hope we can start again for building a community around developers

[2021-07-15 20:48] ghost commented on #2869
Dogehouse-reloaded ded lol

[2021-07-16 12:06] amitojsingh366 commented on #2872
you did not run `yarn install`

[2021-07-19 13:35] #2822 closed, assigned to nobody

[2021-07-20 14:54] #2875 closed, assigned to nobody

[2021-07-22 11:35] bluethefoxofficial commented on #2869
@AcaiBerii actually i check just aint alot going on due to 1 of my other projects named Bluewind

[2021-07-24 16:34] daduam commented on #2871
@bluethefoxofficial how far

[2021-08-09 11:05] #2753 closed, assigned to nobody

[2021-08-13 15:37] #251 closed

[2021-08-18 10:41] nadirabbas commented on #251
rip

[2021-08-19 17:39] Schellbach commented on #2100
in revisiting this issue I think tipping could be effective monetization with only invoice generation.

Inspired by the way tipping was implemented here -> https://lightning.page

[2021-08-19 18:56] mehanalavimajd commented on #2872
Just install all of the dependencies

[2021-08-25 20:07] dko1905 commented on #967
Well, since the project is dead, I will close the issue.
:(

[2021-08-25 20:07] #967 closed, assigned to nobody

[2021-10-02 16:57] #2530 closed, assigned to nobody

[2021-10-13 05:58] ax20 commented on #2581
tygngf

[2021-10-20 09:20] ramyauva-24 opened #2876 "Issue while trying to run this locally"
I tried to run the staging by following the procedure you given already. When I try to click on any of the OAuth nothing is loading for me to enter the credentials.

The steps which I followed after cloning:
cd ../kebab
yarn
yarn build

cd ../kibbeh
yarn
yarn staging
![image](https://user-images.githubusercontent.com/58851910/138065583-3327e3ec-496d-450e-9e0b-9fc4ebc965dc.png)
![image](https://use

[2021-10-20 09:41] TheOtterlord commented on #2876
@ramyauva-24 This repository is deprecated and receiving support it unlikely. It seems the build is attempting to connect to our old staging server. The backend for this project (like the frontend) is no longer hosted, and you'll have to set it up yourself to continue (this may be quite a long task).

[2021-10-24 05:44] amitojsingh366 commented on #2876
as dogehouse has shutdown you will not be able to use the hosted api

please follow https://github.com/benawad/dogehouse/blob/staging/CONTRIBUTING.md#manual-full-local-development and setup all the auth endpoints you need.

also as @TheOtterlord mentioned, you wont be getting a lot of support around here

[2021-11-07 07:52] #2166 closed, assigned to nobody

[2021-11-07 07:52] #2167 closed, assigned to nobody

[2022-01-16 09:47] rezhit opened #2877 "Yo, listen up here's a story"
About a little guy
That lives in a blue world
And all day and all night
And everything he sees is just blue
Like him inside and outside
Blue his house
With a blue little window
And a blue corvette
And everything is blue for him
And himself and everybody around
Cause he ain't got nobody to listen to
I'm blue
Da ba dee da ba di
Da ba dee da ba di
Da ba dee da ba di
Da ba dee da ba di
Da ba dee da ba

[2022-01-17 08:13] shahiryarlaam commented on #2877
emotional

[2022-01-27 12:17] #2877 closed, assigned to nobody

[2022-02-24 12:51] ayan-afk opened #2878 "ben awad sir please can u talk to me because i am trying to talk to you from 3 months"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-25 05:18] vitorgouveia commented on #2878
bruh

[2022-02-26 06:10] Pheuspogi0628 opened #2879 "I can't login its not secure"
**Describe the bug**
Sign In with discord Not Secure Github Not secure

**Expected behavior**
Just Wanna Find Alternave Discord apps

**Screenshots**
No Screen Shots

**What device are you on?** Laptop

[2022-02-26 08:54] TheOtterlord commented on #2879
Dogehouse is not an active project

[2022-02-28 14:03] #2339 closed, assigned to nobody

[2022-03-13 21:55] luwol03 commented on #2598
Since this project is no longer under active development and I'm cleaning up my open issue list, I'll close that for now.

[2022-03-13 21:55] #2598 closed, assigned to nadirabbas

[2022-03-14 05:37] nadirabbas commented on #2598
"for now"?

[2022-03-14 06:00] luwol03 commented on #2598
I don't know, maybe this project will be resumed.

[2022-03-23 06:42] vidit21srivastava commented on #2732
I would like to work on this issue.

[2022-03-23 09:33] TheOtterlord commented on #2732
@vidit21srivastava Dogehouse is no longer an active project

[2022-04-20 13:00] kyuiki commented on #2878
You can talk to me instead :D

[2022-04-27 01:12] Pheuspogi0628 commented on #2879
Ahhh thanks

[2022-04-27 20:02] vi241 commented on #2879
quite a delay

[2022-06-26 20:50] #2021 closed, assigned to nobody

[2022-07-09 21:10] Wilted98 opened #2880 "Help me, please!!!"
Please, can anyone make us a tutorial how to properly start the react native app? I need it just to learn the "good practice"...How can i make a fake api, or something just to bypass the login page and have access to the rest of the app?? I don't need the voice server, i just want to learn how to use navigation, typescript and the way how Ben was writting this app. I'm stuck at "Going to the moon.

[2022-07-29 14:17] theMillenniumFalcon commented on #2878
I suggest asking in public, say on Twitter

[2022-08-02 16:44] Ayan-Ali commented on #2878
damn you thristin

[2022-08-30 19:23] #1649 closed, assigned to nobody

[2022-09-02 12:45] okyanusoz commented on #2869
cool!

[2022-09-13 07:25] #2573 closed, assigned to nobody

[2022-11-06 02:15] Pythone commented on #2879
https://invidious.flokinet.to/watch?v=I8PkQgPiSq8 let's bring it back